@{

    ViewBag.Title = "View labeling packaging";

    ViewBag.Module = "LPOverview";
}
<style>
    .custom-table {
        display: table-cell;
    }

        .custom-table .input-checkbox tr td:nth-child(2), .custom-table .input-checkbox tr td:nth-child(3), .custom-table thead td {
            text-align: center;
        }

    .m-left-15 {
        margin-left: 15px;
    }

    .action {
        text-align: center;
    }
</style>
<form class="row" name="editForm" id="main-form">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <span> Labeling Information</span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabTracking"> <i class="fa fa-history"></i> <span> Tracking </span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="widget-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabGeneral">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <section class="col col-4">
                                                <label class="label">PO Number</label>
                                                <label class="input">
                                                    <span class="form-control">{{data.proformaInvoiceNo}}</span>
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Client PO</label>
                                                <label class="input">
                                                    <span class="form-control">{{data.clientOrderNumber}}</span>
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Status</label>
                                                <label class="select">
                                                    <span class="form-control">{{data.lpStatusNM}}</span>
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Factory</label>
                                                <label class="input">
                                                    <span class="form-control">{{data.factoryUD}}</span>
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Sales Rep</label>
                                                <label class="input">
                                                    <span class="form-control">{{data.saleNM}}</span>
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">VN Rep</label>
                                                <label class="input">
                                                    <span class="form-control">{{data.vnRep}}</span>
                                                </label>
                                            </section>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="col-sm-9 m-left-15 m-bottom-15">
                                                <table class="table table-bordered table-striped">
                                                    <tbody>
                                                        <tr>
                                                            <td>Hangtag</td>
                                                            <td ng-if="data.hangTagStatusID == 1"><span>Special</span></td>
                                                            <td ng-if="data.hangTagStatusID == 2 || data.hangTagStatusID == 0"><span>Standard</span></td>
                                                            <td ng-if="data.hangTagStatusID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Box/shippingmark</td>
                                                            <td ng-if="data.boxShippingMarkStatusID == 1"><span>Special</span></td>
                                                            <td ng-if="data.boxShippingMarkStatusID == 2 || data.boxShippingMarkStatusID == 0"><span>Standard</span></td>
                                                            <td ng-if="data.boxShippingMarkStatusID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Brass label</td>
                                                            <td ng-if="data.brassLabelStatusID == 1"><span>Special</span></td>
                                                            <td ng-if="data.brassLabelStatusID == 2 || data.brassLabelStatusID == 0"><span>Standard</span></td>
                                                            <td ng-if="data.brassLabelStatusID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>AI</td>
                                                            <td ng-if="data.aiStatusID == 1"><span>Special</span></td>
                                                            <td ng-if="data.aiStatusID == 2 || data.aiStatusID == 0"><span>Standard</span></td>
                                                            <td ng-if="data.aiStatusID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Wash/Cushion Label</td>
                                                            <td ng-if="data.washCushionLabelID == 1"><span>Special</span></td>
                                                            <td ng-if="data.washCushionLabelID == 2 || data.washCushionLabelID == 0"><span>Standard</span></td>
                                                            <td ng-if="data.washCushionLabelID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr ng-if="data.option1StatusID != null">
                                                            <td>{{data.option1Label}}</td>
                                                            <td ng-if="data.option1StatusID == 1"><span>Special</span></td>
                                                            <td ng-if="data.option1StatusID == 2"><span>Standard</span></td>
                                                            <td ng-if="data.option1StatusID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr ng-if="data.option2StatusID != null">
                                                            <td>{{data.option2Label}}</td>
                                                            <td ng-if="data.option2StatusID == 1"><span>Special</span></td>
                                                            <td ng-if="data.option2StatusID == 2"><span>Standard</span></td>
                                                            <td ng-if="data.option2StatusID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr ng-if="data.option3StatusID != null">
                                                            <td>{{data.option3Label}}</td>
                                                            <td ng-if="data.option3StatusID == 1"><span>Special</span></td>
                                                            <td ng-if="data.option3StatusID == 2"><span>Standard</span></td>
                                                            <td ng-if="data.option3StatusID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr ng-if="data.option4StatusID != null">
                                                            <td>{{data.option4Label}}</td>
                                                            <td ng-if="data.option4StatusID == 1"><span>Special</span></td>
                                                            <td ng-if="data.option4StatusID == 2"><span>Standard</span></td>
                                                            <td ng-if="data.option4StatusID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr ng-if="data.option5StatusID != null">
                                                            <td>{{data.option5Label}}</td>
                                                            <td ng-if="data.option5StatusID == 1"><span>Special</span></td>
                                                            <td ng-if="data.option5StatusID == 2"><span>Standard</span></td>
                                                            <td ng-if="data.option5StatusID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr ng-if="data.option6StatusID != null">
                                                            <td>{{data.option6Label}}</td>
                                                            <td ng-if="data.option6StatusID == 1"><span>Special</span></td>
                                                            <td ng-if="data.option6StatusID == 2"><span>Standard</span></td>
                                                            <td ng-if="data.option6StatusID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr ng-if="data.option7StatusID != null">
                                                            <td>{{data.option7Label}}</td>
                                                            <td ng-if="data.option7StatusID == 1"><span>Special</span></td>
                                                            <td ng-if="data.option7StatusID == 2"><span>Standard</span></td>
                                                            <td ng-if="data.option7StatusID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr ng-if="data.option8StatusID != null">
                                                            <td>{{data.option8Label}}</td>
                                                            <td ng-if="data.option8StatusID == 1"><span>Special</span></td>
                                                            <td ng-if="data.option8StatusID == 2"><span>Standard</span></td>
                                                            <td ng-if="data.option8StatusID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr ng-if="data.option9StatusID != null">
                                                            <td>{{data.option9Label}}</td>
                                                            <td ng-if="data.option9StatusID == 1"><span>Special</span></td>
                                                            <td ng-if="data.option9StatusID == 2"><span>Standard</span></td>
                                                            <td ng-if="data.option9StatusID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr ng-if="data.option10StatusID != null">
                                                            <td>{{data.option10Label}}</td>
                                                            <td ng-if="data.option10StatusID == 1"><span>Special</span></td>
                                                            <td ng-if="data.option10StatusID == 2"><span>Standard</span></td>
                                                            <td ng-if="data.option10StatusID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr ng-if="data.option11StatusID != null">
                                                            <td>{{data.option11Label}}</td>
                                                            <td ng-if="data.option11StatusID == 1"><span>Special</span></td>
                                                            <td ng-if="data.option11StatusID == 2"><span>Standard</span></td>
                                                            <td ng-if="data.option11StatusID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr ng-if="data.option12StatusID != null">
                                                            <td>{{data.option12Label}}</td>
                                                            <td ng-if="data.option12StatusID == 1"><span>Special</span></td>
                                                            <td ng-if="data.option12StatusID == 2"><span>Standard</span></td>
                                                            <td ng-if="data.option12StatusID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr ng-if="data.option13StatusID != null">
                                                            <td>{{data.option13Label}}</td>
                                                            <td ng-if="data.option13StatusID == 1"><span>Special</span></td>
                                                            <td ng-if="data.option13StatusID == 2"><span>Standard</span></td>
                                                            <td ng-if="data.option13StatusID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr ng-if="data.option14StatusID != null">
                                                            <td>{{data.option14Label}}</td>
                                                            <td ng-if="data.option14StatusID == 1"><span>Special</span></td>
                                                            <td ng-if="data.option14StatusID == 2"><span>Standard</span></td>
                                                            <td ng-if="data.option14StatusID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr ng-if="data.option15StatusID != null">
                                                            <td>{{data.option15Label}}</td>
                                                            <td ng-if="data.option15StatusID == 1"><span>Special</span></td>
                                                            <td ng-if="data.option15StatusID == 2"><span>Standard</span></td>
                                                            <td ng-if="data.option15StatusID == 3"><span>No</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Other file</td>
                                                            <td>
                                                                <a ng-if="data.otherFile" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{data.otherFileFileUrl}}" target="_blank">
                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div>
                                                <span>Remark:</span>
                                            </div>
                                            <div class="widget-body">
                                                <table class="table table-bordered table-striped" style="width:100%;">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:40%">Updator</th>
                                                            <th style="width:40%">Remark</th>
                                                            <th style="width:30%">File</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="e in data.labelingPackagingRemarks">
                                                            <td style="width:40%">
                                                                <i class="fa fa-user"></i>
                                                                <a ng-if="e.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{e.updatedBy}}" da dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                                    {{e.updatorName}}
                                                                </a>
                                                            </td>
                                                            <td style="width:40%;word-break: break-all;">{{e.remark}}</td>
                                                            <td style="width:30%">
                                                                <a ng-if="e.remarkFriendlyName" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{e.remarkFileUrl}}" target="_blank">
                                                                    <i class="fa fa-folder-open-o">View</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div>
                                                <span>Other files:</span>
                                            </div>
                                            <div class="widget-body">
                                                <table class="table table-bordered table-striped" style="width:100%;">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:40%">Updator</th>
                                                            <th>File</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="e in data.labelingPackagingOtherFiles">
                                                            <td style="width:40%">
                                                                <i class="fa fa-user"></i>
                                                                <a ng-if="e.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{e.updatedBy}}" da dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                                    {{e.updatorName}}
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a ng-if="e.otherFileFriendlyName" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{e.otherFileUrl}}" target="_blank">
                                                                    <i class="fa fa-folder-open-o">View</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                                <header>
                                    <ul class="nav nav-tabs pull-left in">
                                        <li class="active">
                                            <a data-toggle="tab" href="#detail1"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Product</span> </a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#detail2"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Sparepart</span> </a>
                                        </li>
                                    </ul>
                                </header>
                                <div>
                                    <div class="widget-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="detail1">
                                                <div ng-if="data.labelingPackagingDetails.length > 0" class="row">
                                                    <div class="col-sm-12 m-bottom-15">
                                                        <div id="OrderDetailGrid" class="tilsoft-table-wrapper">
                                                            <div class="tilsoft-table">
                                                                <div class="tilsoft-table-body" style="width: 2650px; margin-top:0px;height:auto;">
                                                                    <table>
                                                                        <tr>
                                                                            <th style="width:50px"><input type="checkbox" ng-model="selectAll.checked" ng-change="event.selectAll()"></th>
                                                                            <th style="width:100px">ITEM CODE</th>
                                                                            <th style="width:200px">ITEM DESCRIPTION</th>
                                                                            <th style="width:80px">CLIENT ART CODE</th>
                                                                            <th style="width:100px">CLIENT ART NAME</th>
                                                                            <th style="width:100px;">CLIENT EAN CODE</th>
                                                                            <th style="width:100px;">
                                                                                <span>HANGTAG</span>
                                                                            </th>
                                                                            <th style="width:100px;">
                                                                                <span>BOX/SHIPPINGMARK</span>
                                                                            </th>
                                                                            <th style="width:100px;">
                                                                                <span>BRASS LABEL</span>
                                                                            </th>
                                                                            <th style="width:100px;">
                                                                                <span>AI</span>
                                                                            </th>
                                                                            <th style="width:100px;">
                                                                                <span>Wash/Cushion Label</span>
                                                                            </th>
                                                                            <th style="width:100px;">
                                                                                <span>FSC Label</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option1StatusID">
                                                                                <span>{{data.option1Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option2StatusID">
                                                                                <span>{{data.option2Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option3StatusID">
                                                                                <span>{{data.option3Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option4StatusID">
                                                                                <span>{{data.option4Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option5StatusID">
                                                                                <span>{{data.option5Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option6StatusID">
                                                                                <span>{{data.option6Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option7StatusID">
                                                                                <span>{{data.option7Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option8StatusID">
                                                                                <span>{{data.option8Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option9StatusID">
                                                                                <span>{{data.option9Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option10StatusID">
                                                                                <span>{{data.option10Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option11StatusID">
                                                                                <span>{{data.option11Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option12StatusID">
                                                                                <span>{{data.option12Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option13StatusID">
                                                                                <span>{{data.option13Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option14StatusID">
                                                                                <span>{{data.option14Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option15StatusID">
                                                                                <span>{{data.option15Label}}</span>
                                                                            </th>
                                                                        </tr>
                                                                        <tr ng-repeat="item in data.labelingPackagingDetails">
                                                                            <td style="text-align:center"><input type="checkbox" ng-model="item.isSelected" /></td>
                                                                            <td>{{item.articleCode}}</td>
                                                                            <td style="min-height:50px;">{{item.description}}</td>
                                                                            <td>{{item.clientArticleCode}}</td>
                                                                            <td>{{item.clientArticleName}}</td>
                                                                            <td>{{item.clientEANCode}}</td>
                                                                            <td class="action">
                                                                                <a ng-if="data.hangTagStatusID == 1 && item.hangTagFriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.hangTagFileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.hangTagStatusID == 2 || data.hangTagStatusID == 0">
                                                                                    <a ng-if="item.hangtagStandardFriendlyName!=null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.hangtagStandardFileUrl}}" target="_blank">
                                                                                        <i class="fa fa-folder-open-o"> View</i>
                                                                                    </a>
                                                                                </span>
                                                                                <span ng-if="data.hangTagStatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.hangTagStatusID == 1 && item.hangTagFriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action">
                                                                                <a ng-if="data.boxShippingMarkStatusID == 1 && item.boxShippingMarkFriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.boxShippingMarkFileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.boxShippingMarkStatusID == 2 || data.boxShippingMarkStatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.boxShippingMarkStatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.boxShippingMarkStatusID == 1 && item.boxShippingMarkFriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action">
                                                                                <a ng-if="data.brassLabelStatusID == 1 && item.brassLabelFriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.brassLabelFileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.brassLabelStatusID == 2 || data.brassLabelStatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.brassLabelStatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.brassLabelStatusID == 1 && item.brassLabelFriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action AI">
                                                                                <a ng-if="data.aiStatusID == 1 && item.aiFriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.aiFileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.aiStatusID == 2 || data.aiStatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.aiStatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.aiStatusID == 1 && item.aiFriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action washCushion">
                                                                                <a ng-if="data.washCushionLabelID == 1 && item.washCushionLabelFriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.washCushionLabelFileUrl}}" t target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.washCushionLabelID == 2 || data.washCushionLabelID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.washCushionLabelID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.washCushionLabelID == 1 && item.washCushionLabelFriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action">
                                                                                <a ng-if="item.useFSCLabel" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.fscLabelFileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="!item.useFSCLabel" class="form-control">No</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option1StatusID">
                                                                                <a ng-if="data.option1StatusID == 1 && item.option1FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option1FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option1StatusID == 2 || data.option1StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option1StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option1StatusID == 1 && item.option1FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option2StatusID">
                                                                                <a ng-if="data.option2StatusID == 1 && item.option2FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option2FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option2StatusID == 2 || data.option2StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option2StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option2StatusID == 1 && item.option2FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option3StatusID">
                                                                                <a ng-if="data.option3StatusID == 1 && item.option3FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option3FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option3StatusID == 2 || data.option3StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option3StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option3StatusID == 1 && item.option3FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option4StatusID">
                                                                                <a ng-if="data.option4StatusID == 1 && item.option4FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option4FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option4StatusID == 2 || data.option4StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option4StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option4StatusID == 1 && item.option4FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option5StatusID">
                                                                                <a ng-if="data.option5StatusID == 1 && item.option5FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option5FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option5StatusID == 2 || data.option5StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option5StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option5StatusID == 1 && item.option5FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option6StatusID">
                                                                                <a ng-if="data.option6StatusID == 1 && item.option6FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option6FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option6StatusID == 2 || data.option6StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option6StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option6StatusID == 1 && item.option6FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option7StatusID">
                                                                                <a ng-if="data.option7StatusID == 1 && item.option7FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option7FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option7StatusID == 2 || data.option7StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option7StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option7StatusID == 1 && item.option7FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option8StatusID">
                                                                                <a ng-if="data.option8StatusID == 1 && item.option8FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option8FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option8StatusID == 2 || data.option8StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option8StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option8StatusID == 1 && item.option8FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option9StatusID">
                                                                                <a ng-if="data.option9StatusID == 1 && item.option9FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option9FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option9StatusID == 2 || data.option9StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option9StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option9StatusID == 1 && item.option9FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option10StatusID">
                                                                                <a ng-if="data.option10StatusID == 1 && item.option10FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option10FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option10StatusID == 2 || data.option10StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option10StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option10StatusID == 1 && item.option10FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option11StatusID">
                                                                                <a ng-if="data.option11StatusID == 1 && item.option11FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option11FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option11StatusID == 2 || data.option11StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option11StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option11StatusID == 1 && item.option11FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option12StatusID">
                                                                                <a ng-if="data.option12StatusID == 1 && item.option12FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option12FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option12StatusID == 2 || data.option12StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option12StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option12StatusID == 1 && item.option12FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option13StatusID">
                                                                                <a ng-if="data.option13StatusID == 1 && item.option13FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option13FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option13StatusID == 2 || data.option13StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option13StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option13StatusID == 1 && item.option13FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option14StatusID">
                                                                                <a ng-if="data.option14StatusID == 1 && item.option14FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option14FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option14StatusID == 2 || data.option14StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option14StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option14StatusID == 1 && item.option14FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option15StatusID">
                                                                                <a ng-if="data.option15StatusID == 1 && item.option15FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option15FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option15StatusID == 2 || data.option15StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option15StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option15StatusID == 1 && item.option15FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="detail2">
                                                <div ng-if="data.labelingPackagingSparepartDetails.length > 0" class="row">
                                                    <div class="col-sm-12 m-bottom-15">
                                                        <div id="SparepartDetailGrid" class="tilsoft-table-wrapper">
                                                            <div class="tilsoft-table">
                                                                <div class="tilsoft-table-body" style="width: 2350px; margin-top:0px;height:auto;">
                                                                    <table>
                                                                        <tr>
                                                                            <th style="width:50px"><input type="checkbox" ng-model="selectAll.checkedSparepart" ng-change="event.selectAllSparepart()"></th>
                                                                            <th style="width:100px">ITEM CODE</th>
                                                                            <th style="width:200px">ITEM DESCRIPTION</th>
                                                                            <th style="width:80px">CLIENT ART CODE</th>
                                                                            <th style="width:100px">CLIENT ART NAME</th>
                                                                            <th style="width:100px;">CLIENT EAN CODE</th>
                                                                            <th style="width:100px;">
                                                                                <span>HANGTAG</span>
                                                                            </th>
                                                                            <th style="width:100px;">
                                                                                <span>BOX/SHIPPINGMARK</span>
                                                                            </th>
                                                                            <th style="width:100px;">
                                                                                <span>BRASS LABEL</span>
                                                                            </th>
                                                                            <th style="width:100px;">
                                                                                <span>AI</span>
                                                                            </th>
                                                                            <th style="width:100px;">
                                                                                <span>Wash/Cushion Label</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option1StatusID">
                                                                                <span>{{data.option1Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option2StatusID">
                                                                                <span>{{data.option2Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option3StatusID">
                                                                                <span>{{data.option3Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option4StatusID">
                                                                                <span>{{data.option4Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option5StatusID">
                                                                                <span>{{data.option5Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option6StatusID">
                                                                                <span>{{data.option6Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option7StatusID">
                                                                                <span>{{data.option7Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option8StatusID">
                                                                                <span>{{data.option8Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option9StatusID">
                                                                                <span>{{data.option9Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option10StatusID">
                                                                                <span>{{data.option10Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option11StatusID">
                                                                                <span>{{data.option11Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option12StatusID">
                                                                                <span>{{data.option12Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option13StatusID">
                                                                                <span>{{data.option13Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option14StatusID">
                                                                                <span>{{data.option14Label}}</span>
                                                                            </th>
                                                                            <th style="width:100px;" ng-if="data.option15StatusID">
                                                                                <span>{{data.option15Label}}</span>
                                                                            </th>
                                                                        </tr>
                                                                        <tr ng-repeat="item in data.labelingPackagingSparepartDetails">
                                                                            <td style="text-align:center"><input type="checkbox" ng-model="item.isSelected" /></td>
                                                                            <td>{{item.articleCode}}</td>
                                                                            <td style="min-height:50px;">{{item.description}}</td>
                                                                            <td>{{item.clientArticleCode}}</td>
                                                                            <td>{{item.clientArticleName}}</td>
                                                                            <td>{{item.clientEANCode}}</td>
                                                                            <td class="action">
                                                                                <a ng-if="data.hangTagStatusID == 1 && item.hangTagFriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.hangTagFileUrl}}" t target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.hangTagStatusID == 2 || data.hangTagStatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.hangTagStatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.hangTagStatusID == 1 && item.hangTagFriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action">
                                                                                <a ng-if="data.boxShippingMarkStatusID == 1 && item.boxShippingMarkFriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.boxShippingMarkFileUrl}}" t target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.boxShippingMarkStatusID == 2 || data.boxShippingMarkStatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.boxShippingMarkStatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.boxShippingMarkStatusID == 1 && item.boxShippingMarkFriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action">
                                                                                <a ng-if="data.brassLabelStatusID == 1 && item.brassLabelFriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.brassLabelFileUrl}}" t target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.brassLabelStatusID == 2 || data.brassLabelStatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.brassLabelStatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.brassLabelStatusID == 1 && item.brassLabelFriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action AI">
                                                                                <a ng-if="data.aiStatusID == 1 && item.aiFriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.aiFileUrl}}" t target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.aiStatusID == 2 || data.aiStatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.aiStatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.aiStatusID == 1 && item.aiFriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action washCushion">
                                                                                <a ng-if="data.washCushionLabelID == 1 && item.washCushionLabelFriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.washCushionLabelFileUrl}}" t target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.washCushionLabelID == 2 || data.washCushionLabelID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.washCushionLabelID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.washCushionLabelID == 1 && item.washCushionLabelFriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option1StatusID">
                                                                                <a ng-if="data.option1StatusID == 1 && item.option1FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option1FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option1StatusID == 2 || data.option1StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option1StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option1StatusID == 1 && item.option1FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option2StatusID">
                                                                                <a ng-if="data.option2StatusID == 1 && item.option2FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option2FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option2StatusID == 2 || data.option2StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option2StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option2StatusID == 1 && item.option2FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option3StatusID">
                                                                                <a ng-if="data.option3StatusID == 1 && item.option3FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option3FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option3StatusID == 2 || data.option3StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option3StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option3StatusID == 1 && item.option3FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option4StatusID">
                                                                                <a ng-if="data.option4StatusID == 1 && item.option4FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option4FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option4StatusID == 2 || data.option4StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option4StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option4StatusID == 1 && item.option4FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option5StatusID">
                                                                                <a ng-if="data.option5StatusID == 1 && item.option5FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option5FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option5StatusID == 2 || data.option5StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option5StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option5StatusID == 1 && item.option5FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option6StatusID">
                                                                                <a ng-if="data.option6StatusID == 1 && item.option6FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option6FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option6StatusID == 2 || data.option6StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option6StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option6StatusID == 1 && item.option6FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option7StatusID">
                                                                                <a ng-if="data.option7StatusID == 1 && item.option7FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option7FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option7StatusID == 2 || data.option7StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option7StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option7StatusID == 1 && item.option7FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option8StatusID">
                                                                                <a ng-if="data.option8StatusID == 1 && item.option8FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option8FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option8StatusID == 2 || data.option8StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option8StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option8StatusID == 1 && item.option8FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option9StatusID">
                                                                                <a ng-if="data.option9StatusID == 1 && item.option9FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option9FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option9StatusID == 2 || data.option9StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option9StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option9StatusID == 1 && item.option9FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option10StatusID">
                                                                                <a ng-if="data.option10StatusID == 1 && item.option10FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option10FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option10StatusID == 2 || data.option10StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option10StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option10StatusID == 1 && item.option10FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option11StatusID">
                                                                                <a ng-if="data.option11StatusID == 1 && item.option11FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option11FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option11StatusID == 2 || data.option11StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option11StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option11StatusID == 1 && item.option11FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option12StatusID">
                                                                                <a ng-if="data.option12StatusID == 1 && item.option12FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option12FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option12StatusID == 2 || data.option12StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option12StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option12StatusID == 1 && item.option12FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option13StatusID">
                                                                                <a ng-if="data.option13StatusID == 1 && item.option13FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option13FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option13StatusID == 2 || data.option13StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option13StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option13StatusID == 1 && item.option13FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option14StatusID">
                                                                                <a ng-if="data.option14StatusID == 1 && item.option14FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option14FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option14StatusID == 2 || data.option14StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option14StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option14StatusID == 1 && item.option14FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                            <td class="action" ng-if="data.option15StatusID">
                                                                                <a ng-if="data.option15StatusID == 1 && item.option15FriendlyName != null" title="View file" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{item.option15FileUrl}}" target="_blank">
                                                                                    <i class="fa fa-folder-open-o"> View</i>
                                                                                </a>
                                                                                <span ng-if="data.option15StatusID == 2 || data.option15StatusID == 0" class="form-control">Standard</span>
                                                                                <span ng-if="data.option15StatusID == 3" class="form-control">No</span>
                                                                                <span ng-if="data.option15StatusID == 1 && item.option15FriendlyName == null" class="form-control">None</span>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Tracking -->
                        <div class="tab-pane" id="tabTracking">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Updated By</label>
                                            <label class="input">
                                                <span class="form-control">
                                                    <a ng-if="data.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        <i class="fa fa-user"></i> {{data.updatorName}}
                                                    </a>
                                                </span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Updated Date</label>
                                            <label class="input">
                                                <span class="form-control">{{data.updatedDate}}</span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <!-- End -->
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="@Url.Action("Index", "lpoverview")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Reset, HttpContext.Current))" title="Revise Approval status" ng-click="event.revise($event)"><i class="fa fa-thumbs-o-down"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default btn-sm" title="NL Template" style="color: #31B404" ng-click="event.generateExcelNL(data.labelingPackagingID)"><i class="fa fa-file-excel-o"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="VN Template" style="color: #31B404" ng-click="event.generateExcel(data.labelingPackagingID)"><i class="fa fa-file-excel-o"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Template for PI / each Product" style="color: #31B404" ng-click="event.generateExcelv2(data.labelingPackagingID)"><i class="fa fa-file-excel-o"></i></a>
    </li>
</ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/lpoverview/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        var context = {
            id: @ViewBag.ID,
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            backURL: '@Url.Action("Index", "lpoverview")',
            refreshURL: '@Url.Action("Edit", "lpoverview", new { id = UrlParameter.Optional })/',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'
        }
    </script>
    <script src="~/Angular/app/lpOverview/service.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/lpOverview/edit.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

