@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Warehouse";
    }
    else
    {
        ViewBag.Title = "Edit Warehouse";
    }

    ViewBag.Module = "Warehouse";
}

<form class="row" name="editForm">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>Warehouse Information</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <fieldset>
                        <div class="form-group">
                            <label>Code</label>
                            <input class="form-control" type="text" name="wareHouseUD" ng-model="model.wareHouseData.wareHouseUD" required>
                        </div>

                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" type="text" name="wareHouseNM" ng-model="model.wareHouseData.wareHouseNM" required>
                        </div>

                        <div class="form-group">
                            <label>Address</label>
                            <textarea rows="4" class="form-control" ng-model="model.wareHouseData.address"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Country</label>
                            <select class="form-control" name="countryID" ng-model="model.wareHouseData.countryID" ng-options="country.countryID as country.countryNM for country in model.countries"></select>
                        </div>

                        <div class="form-group">
                            <label>Tel</label>
                            <input class="form-control" type="text" name="tel" ng-model="model.wareHouseData.tel" required>
                        </div>

                        <div class="form-group">
                            <label>Fax</label>
                            <input class="form-control" type="text" name="fax" ng-model="model.wareHouseData.fax" required>
                        </div>

                        <div class="form-group">
                            <label>Remark</label>
                            <textarea rows="4" class="form-control" ng-model="model.wareHouseData.remark"></textarea>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="jarviswidget" id="wid-id-detail-piece" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>Area</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <div class="table-responsive">
                        <button ng-click="event.addArea($event)">Add</button>
                        <table class="table table-bordered table-hover custom-table dataTable">
                            <thead>
                                <tr>
                                    <th style="width: 60px;"></th>
                                    <th style="width: 90px;">Code</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="area in model.wareHouseData.areas">
                                    <td style="text-align: center;">
                                        <a href="#" title="Delete" ng-click="event.removeArea($event, area.wareHouseAreaID)"><i class="fa fa-times-circle grid-button"></i></a>
                                    </td>
                                    <td><input type="text" ng-model="area.areaCode" style="width: 100%;" /></td>
                                    <td><input type="text" ng-model="area.description" style="width: 100%;" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget" id="wid-id-overall-dimension" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>Tracking</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <fieldset>
                        <div class="form-group">
                            <label>Updated By</label>
                            <span class="form-control">{{model.wareHouseData.updatorName}}</span>
                        </div>

                        <div class="form-group">
                            <label>Updated Date</label>
                            <span class="form-control">{{model.wareHouseData.updatedDate}}</span>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </article>
</form>

@section pagepopup
{
    <div id="popupAreaForm" class="popup-container">
        <div class="content" style="padding-top: 0px;">
            <form name="popupPieceForm">
                <header>
                    <h2>Area Information</h2>
                </header>
                <div style="overflow-y: scroll; height: 83%;">
                    <div class="jarviswidget-editbox"></div>

                    <div class="widget-body">
                        <fieldset>
                            <div class="form-group">
                                <label>Code</label>
                                <span class="form-control">{{pieceForm.data.modelUD}}</span>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <span class="form-control">{{pieceForm.data.modelNM}}</span>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <button ng-click="pieceForm.event.ok($event)">OK</button>
                <button ng-click="pieceForm.event.cancel($event)">Cancel</button>
            </form>
        </div>
    </div>
}

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Index", "WareHouse")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Approve"><i class="fa fa-thumbs-o-up"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Reset Approval status"><i class="fa fa-thumbs-o-down"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/warehouse/service.js"></script>
    <script type="text/javascript">
        wareHouseService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/warehouse/';
        wareHouseService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var wareHouseApp = angular.module('tilsoftApp', []);
        wareHouseApp.controller('tilsoftController', ['$scope', function ($scope) {
            //
            // scope data
            //
            $scope.model = null;

            //
            // scope event
            //
            $scope.event = {
                update: function($event){
                    if($event !== null) {
                        $event.preventDefault();
                    }

                    if($scope.editForm.$valid)
                    {
                        wareHouseService.update(
                            @ViewBag.ID,
                            $scope.model.wareHouseData,
                            function (data) {
                                jsHelper.processMessage(data.message);
                                if(data.message.type == 0) {
                                    window.location = '@Url.Action("Index", "WareHouse")';
                                }
                            },
                            function (error) {
                                jsHelper.showMessage('warning', error);
                            }
                        );
                    }
                    else
                    {
                        jsHelper.showMessage('warning', '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED');
                    }
                },
                delete: function($event){
                    if($event !== null) {
                        $event.preventDefault();
                    }

                    if (confirm('Are you sure ?')) {
                        wareHouseService.delete(
                            @ViewBag.ID,
                            function (data) {
                                jsHelper.processMessage(data.message);
                                if(data.message.type == 0) {
                                    window.location = '@Url.Action("Index", "Product")';
                                }
                            },
                            function (error) {
                                jsHelper.showMessage('warning', error);
                            }
                        );
                    }
                },
                addArea: function($event){
                    if($event !== null) {
                        $event.preventDefault();
                    }

                    $scope.model.wareHouseData.areas.push({
                        wareHouseAreaID: $scope.method.getAreaNewID(),
                        areaCode: '',
                        description: ''
                    });
                },
                removeArea: function($event, id){
                    if($event !== null) {
                        $event.preventDefault();
                    }

                    isExist = false;
                    for(j=0; j< $scope.model.wareHouseData.areas.length; j++) {
                        if($scope.model.wareHouseData.areas[j].wareHouseAreaID == id) {
                            isExist = true;
                            break;
                        }
                    }
                    if(isExist){
                        $scope.model.wareHouseData.areas.splice(j, 1);
                    }
                }
            };

            //
            // scope function
            //
            $scope.method = {
                load: function(){
                    wareHouseService.load(
                        @ViewBag.ID,
                        function (data) {
                            $scope.model = data.data;
                            $scope.$apply();
                            jQuery('#content').show();

                            // monitor changes
                            $scope.$watch('model', function() {
                                jQuery('#changeNotification').html('<i class="fa fa-save blink_me"></i>');
                            });
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);

                            $scope.model = null;
                            $scope.$apply();
                        }
                    );
                },
                getAreaNewID: function(){
                    var minID = 0;
                    jQuery.each($scope.model.wareHouseData.areas, function(){
                        if(this.wareHouseAreaID < minID) {
                            minID = this.wareHouseAreaID;
                        }
                    });

                    return minID - 1;
                }
            };

            //
            // init
            //
            $scope.method.load();
        }]);
    </script>
}

