@{
    ViewBag.Title = ViewBag.ID == 0 ? "Create Transport Cost Forwarder" : "Edit Transport Cost Forwarder";

    ViewBag.Module = "TransportCostForwarder";
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var serviceReportRoot = System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];

}
<form name="editForm" class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-database"></i> </span>
                <h2>General</h2>
            </header>
            <div class="widget-body">
                <div class="smart-form">
                    <div class="row">
                        <section class="col col-lg-12" ng-show="editData.transportCostForwarderID == 0">
                            <label class="label">
                                <strong>Forwarder</strong>
                                <em class="note note-error" ng-show="editForm.forwarderNM.$error.required"> (Required)</em>
                            </label>
                            <label class="input" ng-class="{'state-error': editForm.forwarderNM.$error.required}">
                                <input type="text" id="txtForwarder" name="forwarderNM" autocomplete="off" placeholder="Please input forwarder name." ng-model="editData.forwarderNM" ng-keyup="quickSearchForwarder.event.searchBoxKeyUp()" required>
                                <input type="hidden" ng-model="editData.forwarderID">
                                <i class="icon-append fa fa-search"></i>
                            </label>
                            <div id="forwarder-popup" class="popup-container-2">
                                <div style="float: right; margin-bottom: 8px;">
                                    <a ng-click="quickSearchForwarder.event.close($event, true)" class="btn btn-primary btn-xs" href="javascript:void(0);"><i class="fa fa-remove"></i> Close</a>
                                </div>
                                <div class="clear"></div>
                                <div id="quickSearchForwarderTable" class="tilsoft-table-wrapper">
                                    <div class="tilsoft-table">
                                        <div class="tilsoft-table-header" style="width: 360px;">
                                            <div style="width: 75px;"></div>
                                            <div style="width: 150px;">Forwarder UD</div>
                                            <div>Forwarder Name</div>
                                        </div>
                                        <div class="tilsoft-table-body" style="width: 360px;">
                                            <table>
                                                <tr ng-repeat="item in quickSearchForwarder.data">
                                                    <td style="width: 74px; text-align: center;"><a ng-click="quickSearchForwarder.event.ok($event, item.forwarderID)" class="btn btn-primary btn-xs" href="javascript:void(0);"><i class="fa fa-check"></i> Select</a></td>
                                                    <td style="width: 150px;">{{item.forwarderUD}}</td>
                                                    <td>{{item.forwarderNM}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="col col-lg-2" ng-show="editData.transportCostForwarderID > 0">
                            <label class="label">
                                <strong>Forwarder Code</strong>
                            </label>
                            <label class="input">
                                <span class="form-control">{{editData.forwarderUD}}</span>
                            </label>
                        </section>
                        <section class="col col-lg-10" ng-show="editData.transportCostForwarderID > 0">
                            <label class="label">
                                <strong>Forwarder Name</strong>
                            </label>
                            <label class="input">
                                <span class="form-control">{{editData.forwarderNM}}</span>
                            </label>
                        </section>
                        <section class="col col-lg-12" ng-show="editData.transportCostForwarderID == 0">
                            <label class="label">
                                <strong>Booking</strong>
                                <em class="note note-error" ng-show="editForm.bookingUD.$error.required"> (Required)</em>
                            </label>
                            <label class="input" ng-class="{'state-error': editForm.bookingUD.$error.required}">
                                <input type="text" id="txtBooking" name="bookingUD" autocomplete="off" placeholder="Please input booking code." ng-model="editData.bookingUD" ng-keyup="quickSearchBooking.event.searchBoxKeyUp()" required>
                                <i class="icon-append fa fa-search"></i>
                            </label>
                            <div id="booking-popup" class="popup-container-2">
                                <div style="float: right; margin-bottom: 8px;">
                                    <a ng-click="quickSearchBooking.event.close($event, true)" class="btn btn-primary btn-xs" href="javascript:void(0);"><i class="fa fa-remove"></i> Close</a>
                                </div>
                                <div class="clear"></div>
                                <div id="quickSearchBookingTable" class="tilsoft-table-wrapper">
                                    <div class="tilsoft-table">
                                        <div class="tilsoft-table-header" style="width: 360px;">
                                            <div style="width: 75px;"></div>
                                            <div style="width: 150px;">Booking UD</div>
                                            <div style="display: none;"></div>
                                            <div style="display: none;"></div>
                                            <div style="display: none;"></div>
                                            <div>BL No</div>
                                        </div>
                                        <div class="tilsoft-table-body" style="width: 360px;">
                                            <table>
                                                <tr ng-repeat="item in quickSearchBooking.data">
                                                    <td style="width: 74px; text-align: center;"><a ng-click="quickSearchBooking.event.ok($event, item.bookingID)" class="btn btn-primary btn-xs" href="javascript:void(0);"><i class="fa fa-check"></i> Select</a></td>
                                                    <td style="width: 150px;">{{item.bookingUD}}</td>
                                                    <td style="display: none;">{{item.settingValue}}</td>
                                                    <td style="display: none;">{{item.etd}}</td>
                                                    <td style="display: none;">{{item.polid}}</td>
                                                    <td>{{item.blNo}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="col col-lg-2" ng-show="editData.transportCostForwarderID > 0">
                            <label class="label">
                                <strong>Booking</strong>
                            </label>
                            <label class="input">
                                <span class="form-control">{{editData.bookingUD}}</span>
                            </label>
                        </section>
                        <section class="col col-lg-8" ng-show="editData.transportCostForwarderID > 0">
                            <label class="label">
                                <strong>B/L nr.(finance)</strong>
                            </label>
                            <label class="input">
                                <span class="form-control">{{editData.blNo}}</span>
                            </label>
                        </section>
                        <section class="col col-lg-10" ng-show="editData.transportCostForwarderID == 0">
                            <label class="label">
                                <strong>B/L nr.(finance)</strong>
                            </label>
                            <label class="input">
                                <span class="form-control">{{editData.blNo}}</span>
                            </label>
                        </section>
                        <section class="col col-lg-2" ng-show="editData.transportCostForwarderID > 0">
                            <label class="label">
                                <strong>ETD</strong>
                            </label>
                            <label class="input">
                                <span class="form-control">{{editData.etd}}</span>
                            </label>
                        </section>
                        <section class="col col-lg-2" ng-show="editData.transportCostForwarderID == 0">
                            <label class="label">
                                <strong>ETD</strong>
                            </label>
                            <label class="input">
                                <span class="form-control">
                                    <i class="fa fa-calendar"></i> {{editData.etd}}
                                </span>
                            </label>
                        </section>
                        <section class="col col-lg-2" ng-show="editData.transportCostForwarderID == 0">
                            <label class="label">
                                <strong>Transport Invoice nr.(supplier)</strong>
                                <em class="note note-error" ng-show="editForm.transportInvoiceNo.$error.required"> (Required)</em>
                            </label>
                            <label class="input" ng-class="{'state-error': editForm.transportInvoiceNo.$error.required}">
                                <input type="text" id="txtTransportInvoiceNo" name="transportInvoiceNo" ng-model="editData.transportInvoiceNumber" required>
                            </label>
                        </section>
                        <section class="col col-lg-2" ng-show="editData.transportCostForwarderID > 0">
                            <label class="label">
                                <strong>Transport Invoice nr.(supplier)</strong>
                            </label>
                            <label class="input">
                                <span class="form-control">{{editData.transportInvoiceNumber}}</span>
                            </label>
                        </section>
                        <section class="col col-lg-2">
                            <label class="label">
                                <strong>Transport Invoice date</strong>
                                <em class="note note-error" ng-show="editForm.transportInvoiceDate.$error.required"> (Required)</em>
                            </label>
                            <label class="input" ng-class="{'state-error': editForm.transportInvoiceDate.$error.required}">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" name="transportInvoiceDate" class="datepicker" data-dateformat="dd/mm/yy" ng-model="editData.transportInvoiceDate" required>
                            </label>
                        </section>
                        <section class="col col-lg-2">
                            <label class="label">
                                <strong>Authorisation</strong>
                                <em class="note note-error" ng-show="editForm.authorisation.$error.required"> (Required)</em>
                            </label>
                            <label class="select" ng-class="{'state-error': editForm.authorisation.$error.required}">
                                <select class="form-control" name="authorisation" ng-model="editData.authorisation" required>
                                    <option value=""></option>
                                    <option value="Not">Not</option>
                                    <option value="Dispute">Dispute</option>
                                    <option value="Agreed">Agreed</option>
                                </select>
                                <i></i>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-lg-2">
                            <label class="label">
                                <strong>Created By</strong>
                            </label>
                            <label class="input">
                                <span class="form-control" ng-show="editData.createdBy != null && editData.creatorNM != null">
                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{editData.createdBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        <i class="fa fa-user"></i> {{editData.creatorNM}}
                                    </a>
                                </span>
                                <span class="form-control" ng-show="(editData.createdBy == null || editData.createdBy != null) && editData.creatorNM == null">
                                    <i class="fa fa-user"></i>
                                </span>
                            </label>
                        </section>
                        <section class="col col-lg-2">
                            <label class="label">
                                <strong>Created Date</strong>
                            </label>
                            <label class="input">
                                <span class="form-control">
                                    <i class="fa fa-calendar"></i> {{editData.createdDate}}
                                </span>
                            </label>
                        </section>
                        <section class="col col-lg-2">
                            <label class="label">
                                <strong>Updated By</strong>
                            </label>
                            <label class="input">
                                <span class="form-control" ng-show="editData.updatedBy != null && editData.updatorNM != null">
                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{editData.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        <i class="fa fa-user"></i> {{editData.updatorNM}}
                                    </a>
                                </span>
                                <span class="form-control" ng-show="(editData.updatedBy == null || editData.updatedBy != null) && editData.updatorNM == null">
                                    <i class="fa fa-user"></i>
                                </span>
                            </label>
                        </section>
                        <section class="col col-lg-2">
                            <label class="label">
                                <strong>Updated Date</strong>
                            </label>
                            <label class="input">
                                <span class="form-control">
                                    <i class="fa fa-calendar"></i> {{editData.updatedDate}}
                                </span>
                            </label>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-database"></i> </span>
                <h2>Details</h2>
            </header>
            <div class="widget-body">
                <div class="smart-form">
                    <fieldset>
                        <div>
                            <a class="btn btn-primary btn-xs" href="javascript:void(0);" ng-click="event.addInvoiceDetail($event)" style="margin-bottom: 10px;"><i class="fa fa-plus"></i> Add details</a>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div id="topDescriptionTable" class="table-responsive">
                            <table class="table table-bordered table-hover custom-table dataTable">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;"></th>
                                        <th style="width: 260px;">Type of cost</th>
                                        <th style="width: 120px;">Container nr.</th>
                                        <th style="width: 100px;">Type of container</th>
                                        <th>Description</th>
                                        <th style="width: 100px;">Currency</th>
                                        <th style="width: 100px;">Price per unit</th>
                                        <th style="width: 100px;">Number of units</th>
                                        <th style="width: 130px;">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in editData.transportCostForwarderItems">
                                        <td style="text-align: center;">
                                            <a class="btn btn-danger btn-xs" ng-click="event.removeInvoiceDetail($event, $index)"><i class="fa fa-times"></i> Delete</a>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="item.typeOfCost" ng-options="typeOfCost.typeOfCostID as typeOfCost.typeOfCostNM for typeOfCost in typeOfCosts" ng-change="event.checkValidWithBLNo(item, $index)">
                                                <option value=""></option>
                                            </select>
                                            <i></i>
                                        </td>
                                        <td>
                                            <select class="form-control" name="containerNumber" ng-model="item.containerNumber" ng-options="container.containerNo as container.containerNo for container in containers.data" ng-disabled="(item.typeOfCost === 5 || item.typeOfCost === 6)" ng-change="event.checkForContainerNo(item, $index)">
                                                <option value=""></option>
                                            </select>
                                            <i></i>
                                        </td>
                                        <td>
                                            <select class="form-control" name="containerType" ng-model="item.containerType" ng-options="containerType.containerTypeID as containerType.containerTypeNM for containerType in containerTypes" ng-disabled="(item.typeOfCost === 5 || item.typeOfCost === 6)" ng-change="event.checkValidWithBLNo(item, $index)">
                                                <option value=""></option>
                                            </select>
                                            <i></i>
                                        </td>
                                        <td hidden>
                                            <label class="input">
                                                <span class="form-control">{{item.containerNm}}</span>
                                            </label>
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" name="description" ng-model="item.description" />
                                        </td>
                                        <td>
                                            <select class="form-control" name="currency" ng-model="item.currencyValue" ng-options="currency.entryValue as currency.displayText for currency in listCurrency">
                                                <option value=""></option>
                                            </select>
                                            <i></i>
                                        </td>
                                        <td>
                                            <input class="form-control" style="text-align: right" type="text" name="pricePerUnit" ng-model="item.pricePerUnit" ng-change="event.calculateAmount(item, dataContainer.settingValue)" format />
                                        </td>
                                        <td>
                                            <input class="form-control" style="text-align: right" type="text" name="numberOfUnits" ng-model="item.numberOfUnits" ng-change="event.calculateAmount(item, dataContainer.settingValue)" format />
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">{{item.currencyValue == 1 ? '$' : ''}} {{item.currencyValue == 2 ? '€' : ''}}</span>
                                                <label class="input">
                                                    <span class="form-control furnindo-currency" style="text-align: right;" ng-currency fraction="2" currency-symbol="" ng-init="event.calculateAmount(item)">{{item.amount | number:0}}</span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </article>
</form>


@section pagepopup
{
}

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "TransportCostForwarder")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Print CIS" ng-click="event.printCIS()"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            id: @ViewBag.ID,
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            backUrl: '@Url.Action("Index", "TransportCostForwarder")',
            refreshUrl: '@Url.Action("Edit", "TransportCostForwarder", new { id = UrlParameter.Optional })/',

            backendReportUrl: '@serviceReportRoot',
            serviceUrl: '@(serviceRoot)api/transportcostforwarder/',
            supportServiceUrl: '@(serviceRoot)api/support/',
            token: '@token'
        };
    </script>
    <script src="~/Angular/app/transportCostForwarder/edit.js?v=@guid" type="text/javascript"></script>
    <script src="~/Angular/app/jsonService2.js?v=@guid" type="text/javascript"></script>
    <script src="~/Angular/app/transportCostForwarder/service.js?v=@guid" type="text/javascript"></script>
}


