@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_UserProfile.cshtml";
}
<style>
    #main {
        margin-left: 0px !important;
    }

    .AvgUsage span {
        padding: 5px;
        display: block;
        color: #fff;
        border-radius: 5px;
        text-align: center;
        font-size: 11px;
    }

    .ts-icon {
        font-size: 20px;
    }

    .list-unstyled li {
        word-break: break-all;
    }

    .profile-pic > img {
        max-width: 100% !important;
        width: 150px;
        height: 150px;
    }
</style>

<div class="well well-light well-sm no-margin no-padding">
    <div class="row">
        <div class="col-sm-12">
            <div class="row" style="margin-bottom:20px;">
                <div class="col-sm-3 profile-pic">
                    <img src="{{data.personalPhoto_DisplayURL}}" alt="Employee">
                    <p><b ng-if="data.isSuperUser" class="icon-prepend fa fa-user" style="color:#3276b1"> Super User</b></p>
                </div>
                <div class="col-sm-4">
                    <h1>
                        <span class="semi-bold">{{data.employeeFirstNM}}</span>
                        <br>
                        <small>{{data.jobTitle}}</small>
                    </h1>

                    <ul class="list-unstyled">
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-phone"></i>&nbsp;&nbsp;<span class="txt-color-darken"><a href="javascript:void(0);" ng-click="event.openCall(data.telephone1)">{{data.telephone1}}</a></span>
                            </p>
                        </li>
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:{{data.email1}}" target="_top">{{data.email1}}</a>
                            </p>
                        </li>
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-skype"></i>&nbsp;&nbsp;<span class="txt-color-darken"><a href="javascript:void(0);" ng-click="event.skypeChat(data.skypeID)">{{data.skypeID}}</a></span>
                            </p>
                        </li>
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-map-marker"></i>&nbsp;&nbsp;<span class="txt-color-darken">{{data.location}}</span>
                            </p>
                        </li>
                    </ul>
                    <br>
                    <p class="font-md">
                        <i>Job Description</i>
                    </p>
                    <p>{{data.jobDescription}}</p>
                    <br>
                    <a href="javascript:void(0);" class="btn btn-default btn-xs" ng-click="event.skypeChat(data.skypeID)"><i class=" fa fa-envelope-o"></i> Send Message</a>
                    <br>
                    <br>

                </div>
                <div class="col-sm-5">
                    <div class="widget-body">
                        <h3><i class="icon-prepend fa fa-user"></i> User Information</h3>
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td><b>Full Name:</b></td>
                                    <td>{{data.employeeNM}}</td>
                                </tr>
                                <tr>
                                    <td><b>DOB:</b></td>
                                    <td>{{data.dateOfBirth}}</td>
                                </tr>
                                <tr>
                                    <td><b>Job Position:</b></td>
                                    <td>{{data.jobLevel}}</td>
                                </tr>
                                <tr>
                                    <td><b>Department:</b></td>
                                    <td>{{data.departmentNM}}</td>
                                </tr>
                                <tr>
                                    <td><b>Company:</b></td>
                                    <td>{{data.companyNM}}</td>
                                </tr>
                                <tr>
                                    <td><b>Joined Date:</b></td>
                                    <td>{{data.dateStart}}</td>
                                </tr>
                                <tr>
                                    <td><b>Tilsoft Usage:</b></td>
                                    <td class="AvgUsage"><span class="Usage-bg-{{data.tilsoftUsageID}}">{{data.tilsoftUsage}}</span></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
@section pagejs {
    <script type="text/javascript">
    var context = {
            id: @ViewBag.ID,
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factoryrawmaterialmng/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            backUrl: '@Url.Action("Index", "FactoryRawMaterialMng")',
            refreshUrl: '@Url.Action("Edit", "FactoryRawMaterialMng", new { id = UrlParameter.Optional })/',
        }
    </script>
    <script src="~/Angular/app/factoryRawMaterialMng/detail.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/factoryRawMaterialMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
}
