@{
    ViewBag.Title = "Forwarder Invoice";  
    ViewBag.Module = "Forwarder Invoice";
}
<form class="row" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" ng-show="currentForm=='searchResult'">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1600px;">
                                <div style="width: 100px;"></div>
                                <div style="width: 120px;" class="sorting" data-colname="InvoiceNo">Invoice No</div>
                                <div style="width: 80px;" class="sorting" data-colname="InvoiceDate">Invoice Date</div>
                                <div style="width: 150px;" class="sorting" data-colname="BLNo">BL No</div>
                                <div style="width: 60px;" class="sorting" data-colname="BLNo">Client Code</div>
                                <div style="width: 200px;" class="sorting" data-colname="BLNo">Client Name</div>
                                <div style="width: 200px;" class="sorting" data-colname="ForwarderNM">Forwarder</div>
                                <div style="width: 60px;" class="sorting" data-colname="Currency">Curr ency</div>
                                <div style="width: 120px;" class="sorting" data-colname="RefNo">RefNo</div>
                                <div style="width: 70px;" class="sorting" data-colname="InvoiceStatusText">Invoice Status</div>
                                <div style="width: 100px;" class="sorting" data-colname="StatustorName">Status By</div>
                                <div style="width: 80px;" class="sorting" data-colname="StatusUpdatedDate">Status Date</div>
                                <div style="width: 200px;">Tracking Info</div>
                                <div style="" class="sorting" data-colname="Remark">Remark</div>
                            </div>

                            <div class="tilsoft-table-filter" style="width: 1600px;">
                                <div style="text-align: center; width: 100px; vertical-align:middle">
                                    <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.reload()"><i class="fa fa-filter"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilter()"><i class="fa fa-ban"></i></a>
                                </div>
                                <div style="width: 120px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.invoiceNo" class="search-filter" /></div>
                                <div style="width: 80px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.invoiceDate" class="search-filter" /></div>
                                <div style="width: 150px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.blNo" class="search-filter" /></div>
                                <div style="width: 60px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.clientUD" class="search-filter" /></div>
                                <div style="width: 200px; text-align: left; vertical-align: middle"><input type="text" ng-model="filters.clientNM" class="search-filter" /></div>
                                <div style="width: 200px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.forwarderNM" class="search-filter" /></div>
                                <div style="width: 60px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.currency" class="search-filter" /></div>
                                <div style="width: 120px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.refNo" class="search-filter" /></div>
                                <div style="width: 70px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.invoiceStatusText" class="search-filter" /></div>
                                <div style="width: 100px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.statustorName" class="search-filter" /></div>
                                <div style="width: 80px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.statusUpdatedDate" class="search-filter" /></div>
                                <div style="width: 200px;">Tracking Info</div>
                                <div style="text-align: center; vertical-align: middle"></div>
                            </div>

                            <div class="tilsoft-table-body" style="width: 1600px; margin-top: 95px;">
                                <table>
                                    <tr ng-repeat="item in data">
                                        <td style="width:99px;text-align:center;vertical-align:middle">
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                            {
                                                <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "TransportInvoice")/{{item.transportInvoiceID}}"  title="view (read only)" target="_blank"><i class="fa fa-folder-open"></i>View</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "TransportInvoice")/{{item.transportInvoiceID}}" title="Edit" target="_blank"><i class="fa fa-pencil"></i>Edit</a>
                                            }
                                            @*<a class="btn btn-warning btn-xs font-11" href="@Url.Action("Edit", "TransportInvoice")/{{item.transportInvoiceID}}?isCopy=true"  target="_blank"  title="Copy"><i class="fa fa-files-o"></i>Copy</a>*@
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                            {
                                                <a class="btn btn-danger btn-xs font-11" href="#" ng-click="event.delete(item.transportInvoiceID,$event)" title="Delete"><i class="fa fa-times"></i>Del</a>
                                            }
                                        </td>
                                        <td style="text-align: left; width: 120px; vertical-align:middle">{{item.invoiceNo}}</td>
                                        <td style="text-align: left; width: 80px; vertical-align:middle">{{item.invoiceDate}}</td>
                                        <td style="text-align: left; width: 150px; vertical-align:middle">{{item.blNo}}</td>
                                        <td style="text-align: center; width: 60px; vertical-align:middle">{{item.clientUD}}</td>
                                        <td style="text-align: left; width: 200px; vertical-align:middle">{{item.clientNM}}</td>
                                        <td style="text-align: left; width: 200px; vertical-align:middle">{{item.forwarderNM}}</td>
                                        <td style="text-align: left; width: 60px; vertical-align:middle">{{item.currency}}</td>
                                        <td style="text-align: left; width: 120px; vertical-align:middle">{{item.refNo}}</td>
                                        <td style="text-align: left; width: 70px; vertical-align:middle">{{item.invoiceStatusText}}</td>
                                        <td style="text-align: left; width: 100px; vertical-align:middle">{{item.statustorName}}</td>
                                        <td style="text-align: left; width: 80px; vertical-align:middle">{{item.statusUpdatedDate}}</td>
                                        <td style="text-align: left; width: 200px; vertical-align:middle">
                                            <span class="box">
                                                <i class="fa fa-user"></i>
                                                <strong>Updated By</strong>:
                                                <a ng-if="item.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    {{item.updatorName}}
                                                </a>
                                            </span>
                                            <span class="box"><i class="fa fa-calendar"></i> <strong>Updated Date</strong>: {{item.updatedDate}}</span>
                                        </td>
                                        <td style="text-align: left; vertical-align:middle">{{item.remark}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <span>Found: {{totalRows}} record(s)</span>
                </div>
            </div>
        </div>
    
    
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" ng-show="currentForm=='initForm'">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Select season and BLNo to create new transport invoice</h2>
            </header>
            <div>
                <div class="modal-body smart-form">
                    <fieldset>
                        <div class="row">
                            <section class="col col-lg-2">
                                <label>Season</label>
                                <select name="season" class="form-control" ng-model="initForm.season" ng-options="season.seasonValue as season.seasonText for season in seasons" required>
                                    <option value=""></option>
                                </select>
                            </section>
                            <section class="col col-lg-4">
                                <label>BL No</label>
                                <input type="text" ng-model="initForm.blNo" class="form-control" id="booking"/>
                            </section>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button" ng-click="initForm.cancel()">
                        Cancel
                    </button>
                    <button class="btn btn-primary" type="button"  ng-click="initForm.ok()">
                        OK
                    </button>
                </div>
            </div>
        </div>
    
    </article>
</form>

@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
    </li> 
    <li class="sparks-info">
        <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Create" ng-click="initForm.load($event)"><i class="fa fa-file-o"></i></a>
    </li>
    @*<li class="sparks-info">
        <a href="@Url.Action("Edit", "TransportInvoice")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Create   " target="_blank"><i class="fa fa-file-o"></i></a>
    </li>*@
    @*<li class="sparks-info">
        <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Print, HttpContext.Current))" title="Print Transport Invoice" ng-click="event.print($event)"><i class="fa fa-print"></i></a>
    </li>*@
</ul>
}
@section pagepopup2{
}

@section pagejs {
<script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
<script type="text/javascript">
    jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/transportInvoice/';
    jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
    var context = {
        reportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',

        //init from param
        currentSeason: '@Frontend.Helper.Common.GetCurrentSeason()',
        getBookingUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/transportInvoice/' + 'getBooking',
        token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
        editUrl: '@Url.Action("Edit", "TransportInvoice", new { id = UrlParameter.Optional })/0',
    }
</script>
<script src="~/Angular/app/transportInvoice/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
<script src="~/Angular/app/transportInvoice/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
