@{
    if (Session[Frontend.Customize.Common.ProjectDefinition.USER_INFO_SESSION] == null)
    {
        Response.Redirect(Url.Action("Login", "Account"));
        return;
    }
    Frontend.APIDTO.APIUserInformation userInfo = (Frontend.APIDTO.APIUserInformation)Session[Frontend.Customize.Common.ProjectDefinition.USER_INFO_SESSION];
}

<!DOCTYPE html>
<html lang="en-us">
@Html.Partial("~/Views/Shared/_Layout/_Head.cshtml")
<body ng-app="tilsoftApp" ng-controller="tilsoftController">
    <div id="main" role="main">
        <div id="content" style="display: none;">
            <div class="row" style="height:50px;">
            </div>

            <section id="widget-grid">
                <div id="notificationMessage" class="row" style="display:none ;">
                    <article class="col-sm-12"></article>
                </div>
                @RenderBody()
                @RenderSection("pagepopup2", required: false)
            </section>
            @RenderSection("pagemodel", required: false)
        </div>
    </div>

    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    <!--
    <script data-pace-options='{ "restartOnRequestAfter": true }' src="~/TemplateResource/js/plugin/pace/pace.min.js"></script>
        -->
    @Scripts.Render("~/bundles/templatejs")
    <script src="~/Angular/js/helper.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/js/furnindo-directive.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/js/avs-directives.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>

    <!--[if IE 8]>

    <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->
    <script src="~/Angular/app/tmpFileManager/service.js"></script>
    @RenderSection("pagepopup", required: false)
    @RenderSection("pagejs", required: false)
</body>
</html>
