@{
    ViewBag.Title = "Edit Factory Quotation";
}

<form class="row" name="editForm" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>Information</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Quotation</label>
                                    <label class="input">
                                        <span class="form-control">{{data.quotationUD}}</span>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Season</label>
                                    <label class="input">
                                        <span class="form-control">{{data.season}}</span>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Factory</label>
                                    <label class="input">
                                        <span class="form-control">{{data.factoryUD}}</span>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">Delivery Term</label>
                                    <label class="input">
                                        <span class="form-control">{{data.deliveryTermNM}}</span>
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Payment Term</label>
                                    <label class="input">
                                        <span class="form-control">{{data.paymentTermNM}}</span>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <fieldset style="padding-top: 0px;">
                            <div class="row">
                                <div class="tilsoft-table-wrapper" id="grdImages">
                                    <div class="tilsoft-table">
                                        <div style="width: 100%; overflow: auto; min-height: 100px; height: auto; margin-top: 0px;" class="tilsoft-table-body">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <th style="width: 60px; font-weight: bold;">&nbsp;</th>
                                                        <th style="width: 50px; font-weight: bold;">Client</th>
                                                        <th style="width: 80px; font-weight: bold;">Factory Order</th>
                                                        <th style="width: 70px; font-weight: bold;">LDS</th>
                                                        <th style="width: 80px; font-weight: bold;">Status</th>
                                                        <th style="font-weight: bold;">Art.Code</th>
                                                        <th style="font-weight: bold;">Description</th>
                                                        <th style="width: 40px; font-weight: bold;">Qnt</th>
                                                        <th style="width: 60px; font-weight: bold;">Price</th>
                                                        <th style="width: 60px; font-weight: bold;">New Price</th>
                                                    </tr>
                                                    <tr ng-repeat="item in data.quotationDetails">
                                                        <td style="text-align: center;"><a href="javascript:void(0)" class="btn btn-primary btn-xs font-11" ng-click="event.history(item)"><i class="fa fa-history"></i> History</a></td>
                                                        <td style="text-align: center;">{{item.clientUD}}</td>
                                                        <td style="text-align: center;">{{item.factoryOrderUD}}</td>
                                                        <td style="text-align: center;">{{item.lds}}</td>
                                                        <td style="text-align: center;">{{item.quotationStatusNM}}</td>
                                                        <td>{{item.articleCode}}</td>
                                                        <td>{{item.description}}</td>
                                                        <td style="text-align: right;">{{item.orderQnt | currency:'':0}}</td>
                                                        <td style="text-align: right;">${{item.purchasingPrice | currency:'':2}}</td>
                                                        <td><input type="text" style="width: 100%;text-align: right;" furnindo-currency-nullable ng-model="item.newOfferPrice" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

<div id="historyForm" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Offer history: {{currentItem.description}}</h4>
                <span class="description">
                    Qnt: {{currentItem.orderQnt}}
                    &nbsp;&nbsp;
                    Price: {{currentItem.purchasingPrice}}
                </span>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset style="padding: 0px;">
                        <div class="tilsoft-table-wrapper">
                            <div class="tilsoft-table">
                                <div style="width: 100%; overflow: auto; height: auto; min-height: 100px; margin-top: 0px;" class="tilsoft-table-body">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <th style="width: 80px;">Offer Direction</th>
                                                <th style="width: 80px;">Price</th>
                                                <th style="width: 60px;">Updated By</th>
                                                <th style="width: 80px;">Updated Date</th>
                                            </tr>
                                            <tr ng-repeat="item in currentItem.quotationOfferDetails">
                                                <td style="text-align: center;">{{item.quotationOfferDirectionNM}}</td>
                                                <td style="text-align: right;">${{item.price | currency:'':2}}</td>
                                                <td style="text-align: center;">{{item.updatorName}}</td>
                                                <td style="text-align: center;">{{item.updatedDate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                       
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "FactoryQuotationMng")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update()"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Delete" style="color: #ff0000;"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Approve"><i class="fa fa-thumbs-o-up"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Reset Approval status"><i class="fa fa-thumbs-o-down"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factoryquotation/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        var context = {
            id: @ViewBag.ID,
            backUrl: '@Url.Action("Index", "FactoryQuotationMng")',
            refreshUrl: '@Url.Action("Edit", "FactoryQuotationMng", new { id = UrlParameter.Optional })/',
            editTitle: '@ViewBag.Title'
        }
    </script>
    <script src="~/Angular/app/factoryQuotationMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/factoryQuotationMng/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

