@{
    ViewBag.Title = "Search Quotation";
    ViewBag.Module = "Quotation";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Quotation</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.QuotationUD" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Season</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.Season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Factory</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.FactoryID" ng-options="factory.factoryID as factory.factoryUD for factory in factories">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Factory Order</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.FactoryOrderUD" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Status</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.QuotationStatusID" ng-options="status.quotationStatusID as status.quotationStatusNM for status in quotationStatuses">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Art.Code</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.ArticleCode" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Description</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.Description" />
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div id="searchResult" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 950px;">
                                <div style="width: 160px;"></div>
                                <div style="width: 80px" class="sorting" data-colname="Season">Season</div>
                                <div style="width: 150px;" class="sorting" data-colname="QuotationUD">Quotation</div>
                                <div style="width: 100px" class="sorting" data-colname="FactoryUD">Factory</div>
                                <div style="width: 220px" class="sorting" data-colname="PaymentTermNM">Payment Term</div>
                                <div style="width: 220px" class="sorting" data-colname="DeliveryTermNM">Delivery Term</div>
                                <div class="sorting_desc" data-colname="UpdatedDate">Updated Date</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 950px;">
                                <table>
                                    <tr ng-repeat="model in data">
                                        <td style="text-align: center; width: 160px;">
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                            {
                                                <a class="btn btn-primary btn-xs font-11" target="_blank" href="@Url.Action("Edit", "FactoryQuotationMng")/{{model.quotationID}}" title="View (Read Only)"><i class="fa fa-folder-open"></i> View</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-primary btn-xs font-11" target="_blank" href="@Url.Action("Edit", "FactoryQuotationMng")/{{model.quotationID}}" title="Edit"><i class="fa fa-pencil"></i> Edit</a>
                                            }
                                            <a class="btn btn-primary btn-xs font-11" href="javascript:void(0)" title="Quick view" ng-click="event.quickview(model)"><i class="fa fa-search"></i> Quick view</a>
                                        </td>
                                        <td style="width: 80px; text-align: center;">{{model.season}}</td>
                                        <td style="width: 150px; text-align: center;">{{model.quotationUD}}</td>
                                        <td style="width: 100px; text-align: center;">{{model.factoryUD}}</td>
                                        <td style="width: 220px;">{{model.paymentTermNM}}</td>
                                        <td style="width: 220px;">{{model.deliveryTermNM}}</td>
                                        <td style="text-align: center;">{{model.updatedDate}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

<div id="detailForm" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Quick View: {{currentItem.quotation.quotationUD}}</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <div class="tilsoft-table-wrapper">
                            <div class="tilsoft-table">
                                <div style="width: 100%; overflow-y: scroll; height: 450px; min-height: 100px; margin-top: 0px;" class="tilsoft-table-body">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <th style="width: 80px;">Factory Order</th>
                                                <th style="width: 60px;">Client</th>
                                                <th style="width: 80px;">LDS</th>
                                                <th style="width: 80px;">Status</th>
                                                <th style="width: auto;">Art.Code</th>
                                                <th style="width: auto;">Description</th>
                                                <th style="width: 40px;">Qnt</th>
                                                <th style="width: 60px;">Price</th>
                                            </tr>
                                            <tr ng-repeat="item in currentItem.detail">
                                                <td style="text-align: center;">{{item.factoryOrderUD}}</td>
                                                <td style="text-align: center;">{{item.clientUD}}</td>
                                                <td style="text-align: center;">{{item.lds}}</td>
                                                <td style="text-align: center;">{{item.quotationStatusNM}}</td>
                                                <td>{{item.articleCode}}</td>
                                                <td>{{item.description}}</td>
                                                <td style="text-align: right;">{{item.orderQnt}}</td>
                                                <td style="text-align: right;">{{item.purchasingPrice}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" target="_blank" class="btn btn-default disabled" title="New"><i class="fa fa-file-o"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factoryquotation/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    </script>
    <script src="~/Angular/app/factoryQuotationMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/factoryQuotationMng/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
