@{
    ViewBag.Title = "Search Factory Invoice";
    ViewBag.Module = "Factory Invoice";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Season</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.Season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Supplier</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.SupplierID" ng-options="supplier.supplierID as supplier.supplierNM for supplier in suppliers">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Invoice No</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.InvoiceNo" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Booking</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.BookingUD" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">BLNo</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.BLNo" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Client</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.ClientUD" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Art.Code</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.ArticleCode" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Description</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.Description" />
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div id="searchResult" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 950px;">
                                <div style="width: 80px;"></div>
                                <div style="width: 80px;">Con firmed</div>
                                <div style="width: 120px;">Invoice No</div>
                                <div style="width: 100px;">Sub-Total</div>
                                <div style="width: 100px;">Deduction</div>
                                <div style="width: 100px;">Total</div>
                                <div>Other Info</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 950px;">
                                <table>
                                    <tr ng-repeat="model in data">
                                        <td style="width: 80px; text-align: center;">
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                            {
                                                <a style="width: 54px; margin-bottom: 5px;" class="btn btn-primary btn-xs font-11" target="_blank" href="@Url.Action("Edit", "FactoryInvoiceMng")/{{model.factoryInvoiceID}}" title="View (Read Only)"><i class="fa fa-folder-open"></i> View</a>
                                            }
                                            else
                                            {
                                                <a style="width: 54px; margin-bottom: 5px;" class="btn btn-primary btn-xs font-11" target="_blank" href="@Url.Action("Edit", "FactoryInvoiceMng")/{{model.factoryInvoiceID}}" title="Edit" ng-if="!model.isConfirmed"><i class="fa fa-pencil"></i> Edit</a>
                                                <a style="width: 54px; margin-bottom: 5px;" class="btn btn-primary btn-xs font-11" target="_blank" href="@Url.Action("Edit", "FactoryInvoiceMng")/{{model.factoryInvoiceID}}" title="View (Read Only)" ng-if="model.isConfirmed"><i class="fa fa-folder-open"></i> View</a>
                                            }

                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                            {
                                                <a style="width: 54px;" class="btn btn-danger btn-xs font-11 {{model.isConfirmed ? 'disabled' : ''}}" href="javascript:void(0)" ng-click="event.delete(model.factoryInvoiceID)" title="Delete"><i class="fa fa-times"></i> Delete</a>
                                            }
                                        </td>
                                        <td style="width: 80px; text-align: center;">
                                            <input type="checkbox" disabled ng-model="model.isConfirmed" />
                                        </td>
                                        <td style="width: 120px; text-align: center;">
                                            {{model.invoiceNo}}
                                            <br/>
                                            <div class="note">{{model.invoiceDate}}</div>
                                        </td>
                                        <td style="width: 100px; text-align: right;">
                                            {{model.subTotalAmount | currency:'$':2}}
                                        </td>
                                        <td style="width: 100px; text-align: right;">
                                            {{model.deductedAmount | currency:'$':2}}
                                        </td>
                                        <td style="width: 100px; text-align: right;">
                                            {{model.totalAmount | currency:'$':2}}
                                        </td>
                                        <td>
                                            <u>Season</u>: {{model.season}}
                                            <br />
                                            <u>Booking</u>: {{model.bookingUD}}
                                            <br />
                                            <u>B/L</u>: {{model.blNo}}
                                            <br />
                                            <u>Client</u>: {{model.clientUD}}
                                            <br />
                                            <div class="note">
                                                <span ng-if="model.updatorName"><u>Updated by</u>: {{model.updatorName}} on {{model.updatedDate}}<br /></span>
                                                <span ng-if="model.confirmerName"><u>Confirmed by</u>: {{model.confirmerName}} on {{model.confirmedDate}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Init", "FactoryInvoiceMng")" target="_blank" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factoryinvoice/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    </script>
    <script src="~/Angular/app/factoryInvoiceMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/factoryInvoiceMng/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
