@{
    ViewBag.Title = "Search Factory";
    ViewBag.Module = "Factory Management";
    ViewBag.Icon = "fa-search";

    string CurrentSeason = Library.OMSHelper.Helper.GetCurrentSeason();
    string NextSeason = Library.OMSHelper.Helper.GetNextSeason(CurrentSeason);
    string LastSeason = Library.OMSHelper.Helper.GetPrevSeason(CurrentSeason);
    var backendReportUrl = @System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"];

    //if (DateTime.Now.Month == 8 || DateTime.Now.Month == 9)
    //{
    //    Season = NextSeason;
    //    //Season = currentSeason;
    //}
    //else
    //{
    //    Season = CurrentSeason;
    //}

}
<style>
    .select2-arrow {
        width: 15px !important;
    }

    .search-text {
        height: 29px !important;
        padding: 8px !important;
        border: 1px solid #ddd !important;
    }


    .tilsoft-table-header, .tilsoft-table-filter, .tilsoft-table-body, .tilsoft-table-totalrow, .tilsoft-table-subtotalrow {
        width: 1585px;
    }

    .tilsoft-table-header {
        z-index: 104 !important;
    }
    .tilsoft-table-filter {
        z-index: 103 !important;
    }
    .tilsoft-table-totalrow {
        z-index: 102 !important;
    }
    .tilsoft-table-subtotalrow {
        z-index: 101 !important;
    }

        .tilsoft-table-header > div {
            height: 50px !important;            
        }

        .tilsoft-table-filter > div {
            margin-top: 50px !important;
            height: 50px !important;
        }

        .tilsoft-table-totalrow > div {
            margin-top: 100px !important;
            height: 55px !important;
            font-weight: bold !important;
            text-transform: none !important;
        }

        .tilsoft-table-subtotalrow > div {
            margin-top: 155px !important;
            height: 30px !important;
        }

    .tilsoft-table-body {
        margin-top: 185px !important;
    }

        .tilsoft-table-header > div:nth-child(1),
        .tilsoft-table-filter > div:nth-child(1),
        .tilsoft-table-body table > tbody > tr > td:nth-child(1) {
            width: 70px;
            text-align: center;
        }

        .tilsoft-table-header > div:nth-child(2),
        .tilsoft-table-filter > div:nth-child(2),
        .tilsoft-table-body table > tbody > tr > td:nth-child(2) {
            width: 70px;
            text-align: center;
        }

        .tilsoft-table-header > div:nth-child(3),
        .tilsoft-table-filter > div:nth-child(3),
        .tilsoft-table-body table > tbody > tr > td:nth-child(3) {
            width: 70px;
            text-align: center;
        }

        .tilsoft-table-header > div:nth-child(4),
        .tilsoft-table-filter > div:nth-child(4),
        .tilsoft-table-body table > tbody > tr > td:nth-child(4) {
            width: 120px;
            text-align: center;
        }

        .tilsoft-table-header > div:nth-child(5),
        .tilsoft-table-filter > div:nth-child(5),
        .tilsoft-table-body table > tbody > tr > td:nth-child(5) {
            width: 85px;
            text-align: center;
        }

        .tilsoft-table-header > div:nth-child(6),
        .tilsoft-table-filter > div:nth-child(6),
        .tilsoft-table-body table > tbody > tr > td:nth-child(6) {
            width: 100px;
            text-align: center;
        }

        .tilsoft-table-header > div:nth-child(7),
        .tilsoft-table-filter > div:nth-child(7),
        .tilsoft-table-body table > tbody > tr > td:nth-child(7) {
            width: 150px;
            text-align: left;
        }

        .tilsoft-table-header > div:nth-child(8),
        .tilsoft-table-filter > div:nth-child(8),        
        .tilsoft-table-body table > tbody > tr > td:nth-child(8) {
            width: 100px;
            text-align: right;
        }

        .tilsoft-table-header > div:nth-child(9),
        .tilsoft-table-filter > div:nth-child(9),
        .tilsoft-table-body table > tbody > tr > td:nth-child(9) {
            width: 100px;
            text-align: right;
        }

        .tilsoft-table-header > div:nth-child(10),
        .tilsoft-table-filter > div:nth-child(10),
        .tilsoft-table-body table > tbody > tr > td:nth-child(10) {
            width: 100px;
            text-align: right;
        }

        .tilsoft-table-header > div:nth-child(11),
        .tilsoft-table-filter > div:nth-child(11),
        .tilsoft-table-body table > tbody > tr > td:nth-child(11) {
            width: 100px;
            text-align: right;
        }

        .tilsoft-table-header > div:nth-child(12),
        .tilsoft-table-filter > div:nth-child(12),
        .tilsoft-table-body table > tbody > tr > td:nth-child(12) {
            width: 150px;
            text-align: left;
        }

        .tilsoft-table-header > div:nth-child(13),
        .tilsoft-table-filter > div:nth-child(13),
        .tilsoft-table-body table > tbody > tr > td:nth-child(13) {
            width: 120px;
            text-align: left;
        }

        .tilsoft-table-header > div:nth-child(14),
        .tilsoft-table-filter > div:nth-child(14),
        .tilsoft-table-body table > tbody > tr > td:nth-child(14) {
            width: 120px;
            text-align: left;
        }

        .tilsoft-table-header > div:nth-child(15),
        .tilsoft-table-filter > div:nth-child(15),
        .tilsoft-table-body table > tbody > tr > td:nth-child(15) {
            width: 120px;
            text-align: left;
        }

</style>



<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>
            <div class="no-padding">
                <div class="widget-body" style="padding-bottom: 0px;">
                    <div avs-scrollable-table class="tilsoft-table-wrapper" ng-load-next-page="event.loadMore()" ng-sort-data="event.sort">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header">
                                <div><b>Found: </b><b style="color:#a90329;">{{totalRows}} </b></div>
                                <div>Active</div>
                                <div>Poten tial</div>
                                <div>Logo</div>
                                <div class="sorting" data-colname="factoryUD">Code</div>
                                <div class="sorting" data-colname="factoryName">Short Name</div>
                                <div class="sorting" data-colname="factoryOfficialName">Official Name</div>
                                <div class="sorting_desc" data-colname="currentTurnover">@CurrentSeason Turnover</div>
                                <div class="sorting" data-colname="currenttotalOrder40HC">@CurrentSeason Container</div>
                                <div class="sorting" data-colname="prevTurnover">@LastSeason Turnover</div>
                                <div class="sorting" data-colname="prevtotalOrder40HC">@LastSeason Container</div>
                                <div>Contact</div>
                                <div>Sub Suppliers</div>
                                <div class="sorting" data-colname="locationNM">Location</div>
                                <div>Tracking Information</div>
                                <div style="border-bottom: none">&nbsp;</div>
                            </div>                            
                            <div class="tilsoft-table-filter">
                                <div>
                                    <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.reload()"><i class="fa fa-filter"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilter()"><i class="fa fa-ban"></i></a>
                                </div>
                                <div>
                                    <select class="search-filter" ng-model="filters.IsActive">
                                        <option></option>
                                        <option value="true">YES</option>
                                        <option value="false">NO</option>
                                    </select>
                                </div>
                                <div>
                                    <select class="search-filter" ng-model="filters.IsPotential">
                                        <option></option>
                                        <option value="true">YES</option>
                                        <option value="false">NO</option>
                                    </select>
                                </div>
                                <div></div>
                                <div class="search-filter">
                                    <select class="search-filter" ng-model="filters.FactoryID" ng-options="factory.factoryID as factory.factoryUD for factory in factories">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div><input class="search-filter" type="text" ng-model="filters.FactoryName" /></div>
                                <div><input class="search-filter" type="text" ng-model="filters.FactoryOfficialName" /></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div>
                                    <select class="search-filter" ng-model="filters.FactoryRawMaterialID" ng-options="supplier.factoryRawMaterialID as supplier.factoryRawMaterialUD for supplier in factoryRawMaterialSupplierList">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div>
                                    <select class="search-filter" ng-model="filters.LocationID" ng-options="location.locationID as location.locationNM for location in locations">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div>&nbsp;</div>
                                <div style="border-bottom: none">&nbsp;</div>
                            </div>
                            <div class="tilsoft-table-totalrow">
                                <div style="width: 1575px; text-align: left;">
                                    - Average value per container @CurrentSeason: <b style="color:#a90329;">${{method.getTurnoverPerCont(data) | currency:'':0}}</b>
                                    <br/>
                                    - Average value per container @LastSeason: <b style="color:#a90329;">${{method.getPrevTurnoverPerCont(data) | currency:'':0}}</b>
                                </div>
                                <div style="border-bottom: none">&nbsp;</div>
                            </div>
                            <div class="tilsoft-table-subtotalrow">
                                <div style="width: 665px;">TOTAL</div>
                                <div style="width: 100px;"><b style="color:#a90329;">${{method.getTotalTurnover(data) | currency:'':0}}</b></div>
                                <div style="width: 100px;"><b style="color:#a90329;">{{method.getTotalCapacity(data) | currency:'':0}}</b></div>
                                <div style="width: 100px;"><b style="color:#a90329;">${{method.getPrevTotalTurnover(data) | currency:'':0}}</b></div>
                                <div style="width: 100px;"><b style="color:#a90329;">{{method.getPrevTotalCapacity(data) | currency:'':0}}</b></div>
                                <div style="width: 510px;"></div>
                                <div style="border-bottom: none">&nbsp;</div>
                            </div>
                            <div class="tilsoft-table-body">
                                <table>
                                    <tbody ng-repeat="item in data">
                                        <tr>
                                            <td>
                                                <a style="width: 60px;" href="@Url.Action("Edit", "FactoryMng2")/{{item.factoryID}}" target="_blank" class="btn btn-primary btn-xs">Detail</a>
                                                <a style="width: 60px; margin-top: 5px;" ng-if="item.googleMapURL" href="{{item.googleMapURL}}" target="_blank" class="btn btn-default btn-xs">Map</a>
                                                <a style="width: 60px; margin-top: 5px;" ng-if="item.website" href="{{item.website}}" target="_blank" class="btn btn-default btn-xs">Web</a>
                                                <a style="width: 60px; margin-top: 5px;" href="@Url.Action("FromFactory", "PreOrderPlanningMng")/{{item.factoryID}}" target="_blank" class="btn btn-success btn-xs">PreOrder</a>
                                            </td>
                                            <td><i ng-if="item.isActive" class="fa fa-check-square-o"></i></td>
                                            <td><i ng-if="item.isPotential" class="fa fa-check-square-o"></i></td>
                                            <td>
                                                <a href="{{item.logoImage_DisplayURL}}" data-featherlight="image">
                                                    <img style="width: 95%;" ng-src="{{item.logoImage_DisplayURL}}" />
                                                </a>
                                            </td>
                                            <td>{{item.factoryUD}}</td>
                                            <td>{{item.factoryName}}</td>
                                            <td>{{item.factoryOfficialName}}</td>
                                            <td>$ {{item.currentTurnover | number:0}}</td>
                                            <td>{{item.currentTotalShipped40HC | number:1}}</td>
                                            <td>$ {{item.prevTurnover | number:0}}</td>
                                            <td>{{item.prevTotalShipped40HC | number:1}}</td>
                                            <td>
                                                <div class="box" ng-if="item.factoryDirectors">
                                                    <strong>Director</strong>:
                                                    <ul style="padding: 0px; list-style-position: inside;">
                                                        <li ng-repeat="emp in item.factoryDirectors">
                                                            <a ng-if="emp.employeeID" href="@Url.Action("EmpDetail", "EmployeeMng", new { id = UrlParameter.Optional })/{{emp.employeeID}}" da dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                                {{emp.employeeNM}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="box" ng-if="item.factoryResponsiblePersons">
                                                    <strong>AVT Responsible</strong>:
                                                    <ul style="padding: 0px; list-style-position: inside;">
                                                        <li ng-repeat="emp in item.factoryResponsiblePersons">
                                                            <a ng-if="emp.employeeID" href="@Url.Action("EmpDetail", "EmployeeMng", new { id = UrlParameter.Optional })/{{emp.employeeID}}" da dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                                {{emp.employeeNM}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                <ul style="padding:0 0 0 15px;">
                                                    <li ng-repeat="sup in item.factoryRawMaterialSuppliers">
                                                        <a href="#"><b>{{sup.factoryRawMaterialUD}}</b></a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>{{item.locationNM}}</td>
                                            <td>
                                                Updated By
                                                <a ng-if="item.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    {{item.updatorName}}
                                                </a>
                                                on {{item.updatedDate}}
                                            </td>
                                            <td style="border-bottom: none"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="16" style="text-align:left">
                                                Expected Capacity @NextSeason:<ul ng-repeat="cItem in item.factoryExpectedCapacitySearches" style="display:inline;"><li style="display:inline;">{{cItem.months}}: {{cItem.qnt40HC}} cont</li></ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                    
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmPrintOption" class="modal fade" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 id="myModalLabel" class="modal-title">Print Option</h4>
            </div>
            <div class="modal-body smart-form">
                <fieldset>
                    <div class="row">
                        <section class="col col-12">

                            <ul style="list-style-type:none">
                                <li><input type="radio" name="print" ng-model="print_value" value="1" />&nbsp;&nbsp;&nbsp;Factory Information</li>
                                <li><input type="radio" name="print" ng-model="print_value" value="2" />&nbsp;&nbsp;&nbsp;Factory Capacity</li>
                            </ul>

                        </section>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">
                    CANCEL
                </button>
                <button class="btn btn-primary" type="button" ng-click="event.printExcel($event,print_value)">
                    PRINT
                </button>
            </div>
        </div>
    </div>
</div>

@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
    </li>
    <li class="sparks-info">
        <a href="@Url.Action("Edit", "FactoryMng2")/0" target="_blank" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Export Excel" style="color: #31B404" ng-click="event.showPrintOption($event)" @*ng-click="event.exportExcel($event)"*@><i class="fa fa-file-excel-o"></i></a>
    </li>
</ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factorymng2/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize: 50,
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
             backendReportUrl: '@backendReportUrl'
        }
    </script>
    <script src="~/Views/FactoryMng2/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/FactoryMng2/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
