@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New PLC";
    }
    else
    {
        ViewBag.Title = "Edit PLC";
    }
    //
    ViewBag.Module = "PLC";
    int bookingID = 0;
    int factoryID = 0;
    int offerLineID = 0;
    int offerLineSparepartID = 0;
    
    if (Request.Params["b"] != null)
    {
        bookingID = Convert.ToInt32(Request.Params["b"]);
    }
    if (Request.Params["f"] != null)
    {
        factoryID = Convert.ToInt32(Request.Params["f"]);
    }
    if (Request.Params["o"] != null)
    {
        offerLineID = Convert.ToInt32(Request.Params["o"]);
    }
    if (Request.Params["os"] != null)
    {
        offerLineSparepartID = Convert.ToInt32(Request.Params["os"]);
    }
}

<form class="row" name="editForm" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <span> General </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabImages"> <span> Images </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabTracking"> <i class="fa fa-history"></i> <span> Tracking </span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="widget-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabGeneral">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Art.Code</label>
                                            <label class="input">
                                                <span class="form-control">{{data.articleCode}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Season</label>
                                            <label class="input">
                                                <span class="form-control">{{data.season}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Cushion batch code</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.cushionBatchCode" />
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Status</label>
                                            <label class="input">
                                                <span ng-show="data.isConfirmed" class="form-control">CONFIRMED</span>
                                                <span ng-show="!data.isConfirmed" class="form-control">PENDING</span>
                                            </label>
                                        </section>
                                    </div>
                                    <section>
                                        <label class="label">Description</label>
                                        <label class="input">
                                            <span class="form-control">{{data.description}}</span>
                                        </label>
                                    </section>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">Client</label>
                                            <label class="input">
                                                <span class="form-control">{{data.cachedClientUD}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">PI No</label>
                                            <label class="input">
                                                <span class="form-control">{{data.cachedProformaInvoiceNo}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Booking</label>
                                            <label class="input">
                                                <span class="form-control">{{data.bookingUD}}</span>
                                            </label>
                                        </section>    
                                        <section class="col col-3">
                                            <label class="label">B/L</label>
                                            <label class="input">
                                                <span class="form-control">{{data.blNo}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">Factory</label>
                                            <label class="input">
                                                <span class="form-control">{{data.factoryUD}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-5">
                                            <label class="label">Loading Plan</label>
                                            <label class="input">
                                                <span class="form-control">{{data.cachedLoadingPlanUD}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-5">
                                            <label class="label">Container</label>
                                            <label class="input">
                                                <span class="form-control">{{data.cachedContanierNo}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Rating</label>
                                            <label class="radio">
                                                <input type="radio" ng-change="event.onRating()" ng-model="data.rating" value="A" name="rating">
                                                <i></i>Good quality with our standard
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">&nbsp;</label>
                                            <label class="radio">
                                                <input type="radio" ng-change="event.onRating()" ng-model="data.rating" value="B" name="rating">
                                                <i></i>Quality is lack at some point
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">&nbsp;</label>
                                            <label class="radio">
                                                <input type="radio" ng-change="event.onRating()" ng-model="data.rating" value="C" name="rating">
                                                <i></i>Bad quality
                                            </label>
                                        </section>
                                    </div>
                                    <section>
                                        <label class="label">Rating comment</label>
                                        <label class="textarea textarea-resizable">
                                            <textarea class="custom-scroll" ng-change="event.onRating()" rows="3" ng-model="data.ratingComment"></textarea>
                                        </label>
                                    </section>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">QC report</label>
                                            <div class="input input-file">
                                                <span class="button"><input type="file" name="qcReport" id="file">Browse</span><input type="text" readonly="" placeholder="Include some files">
                                            </div>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">Assembly instruction</label>
                                            <div class="input input-file">
                                                <span class="button"><input type="file" name="assemblyInstruction" id="file">Browse</span><input type="text" readonly="" placeholder="Include some files">
                                            </div>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabImages">
                            <div class="smart-form">
                                <fieldset style="padding: 0px; border-top: none;">
                                    <a style="margin-bottom: 10px;" ng-click="event.addImage()" href="javascript:void(0);" class="btn btn-primary btn-xs font-11"><i class="fa fa-plus"></i> Add New </a>
                                    <div class="tilsoft-table-wrapper" id="grdImages">
                                        <div class="tilsoft-table">
                                            <div style="width: 100%; overflow-y: hidden; height: auto; min-height: 100px;" class="tilsoft-table-body">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <th style="text-align: center;width: 180px;"></th>
                                                            <th style="width: 250px;">Image Type</th>
                                                            <th>Image</th>
                                                        </tr>
                                                        <tr ng-repeat="item in data.plcImages">
                                                            <td style="text-align: center;">
                                                                <a class="btn btn-danger btn-xs font-11" href="javascript:void(0);" ng-click="event.removeImage(item.plcImageID)"><i class="fa fa-times-circle"></i> Remove</a>
                                                                <a class="btn btn-primary btn-xs font-11" href="javascript:void(0);" ng-click="event.changeImage(item.plcImageID)"><i class="fa fa-pencil"></i> Change Image</a>
                                                            </td>
                                                            <td>
                                                                <ng-form name="innerForm">
                                                                    <select class="form-control" name="imageType" ng-model="item.imageTypeID" ng-options="plcImageType.plcImageTypeID as plcImageType.plcImageTypeNM for plcImageType in plcImageTypes" required>
                                                                        <option value="">&nbsp;</option>
                                                                    </select>
                                                                    <div class="note note-error" ng-show="innerForm.imageType.$error.required">Required</div>
                                                                </ng-form>
                                                            </td>
                                                            <td>
                                                                <a href="{{item.imageFile_FullSizeUrl}}" data-featherlight="image">
                                                                    <img ng-src="{{item.imageFile_DisplayUrl}}" style="height: 150px;" />
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabTracking">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Updated By</label>
                                            <label class="input">
                                                <span class="form-control">{{data.updatorName}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Updated Date</label>
                                            <label class="input">
                                                <span class="form-control">{{data.updatedDate}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Confirmed By</label>
                                            <label class="input">
                                                <span class="form-control">{{data.confirmerName}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Confirmed Date</label>
                                            <label class="input">
                                                <span class="form-control">{{data.confirmedDate}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Rated By</label>
                                            <label class="input">
                                                <span class="form-control">{{data.ratorName}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Rated Date</label>
                                            <label class="input">
                                                <span class="form-control">{{data.ratedDate}}</span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "PLC")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)" ng-disabled="data.isConfirmed"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)" ng-disabled="data.isConfirmed"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Print, HttpContext.Current))" title="Print" ng-click="event.print($event)"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Approve, HttpContext.Current))" title="Approve" ng-click="event.approve($event)" ng-disabled="data.isConfirmed || @ViewBag.ID == 0"><i class="fa fa-thumbs-o-up"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Reset, HttpContext.Current))" title="Reset Approval status" ng-click="event.reset($event)" ng-disabled="!data.isConfirmed || @ViewBag.ID == 0"><i class="fa fa-thumbs-o-down"></i></a>
        </li>
    </ul>
}
@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/plc/';
        jsonService.reportService = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/reportplcproducts/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            id: @ViewBag.ID,
            bookingid: @bookingID,
            factoryid: @factoryID,
            offerlineid: @offerLineID,
            offerlinesparepartid: @offerLineSparepartID,
            backUrl: '@Url.Action("Index", "PLC")',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            refreshUrl: '@Url.Action("Edit", "PLC", new { id = UrlParameter.Optional })/',
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED'
        }
    </script>
    <script src="~/Angular/app/plc/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/plc/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

