@{
    ViewBag.Title = "Price Table";
    ViewBag.Module = "Price Table";
}

<form class="row" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 915px;">
                                <div style="width: 65px;">Total<br /><b style="color: #0026ff;">{{totalRows|number}}</b></div>
                                <div style="width: 100px;" class="sorting" data-colname="ProductionItemTypeNM">Item Type</div>
                                <div style="width: 80px;" class="sorting" data-colname="Month">Month</div>
                                <div style="width: 80px;" class="sorting" data-colname="Year">Year</div>
                                <div style="width: 80px;" class="sorting" data-colname="IsLocked">Locked</div>
                                <div style="width: 90px;" class="sorting" data-colname="CreatedDate">Created Date</div>
                                <div style="width: 130px;" class="sorting" data-colname="CreatorName">Created By</div>
                                <div style="width: 90px;" class="sorting" data-colname="UpdatedDate">Update Date</div>
                                <div style="width: 150px;" class="sorting" data-colname="UpdatorName">Updated By</div>
                                <div style="" class="sorting" data-colname="Remark">Remark</div>
                            </div>
                            <div class="tilsoft-table-filter" style="width: 915px;">
                                <div style="text-align: center; width: 65px; vertical-align:middle">
                                    <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.reload()"><i class="fa fa-filter"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilter()"><i class="fa fa-ban"></i></a>
                                </div>
                                <div style="width: 100px; text-align: center; vertical-align: middle">
                                    <select id="productionItemTypeID" name="productionItemTypeID" ng-model="filters.productionItemTypeID" ng-options="item.productionItemTypeID as item.productionItemTypeNM for item in productionItemTypes">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div style="width: 80px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.month" class="search-filter" /></div>
                                <div style="width: 80px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.year" class="search-filter" /></div>
                                <div style="width: 80px">
                                    <select class="search-filter" ng-model="filters.isLocked">
                                        <option value="any"></option>
                                        <option value="true">YES</option>
                                        <option value="false">NO</option>
                                    </select>
                                </div>
                                <div style="width: 90px; text-align: center; vertical-align: middle"><input type="text" class="search-filter" /></div>
                                <div style="width: 130px; text-align: center; vertical-align: middle"><input type="text" class="search-filter" /></div>
                                <div style="width: 90px; text-align: center; vertical-align: middle"><input type="text" class="search-filter" /></div>
                                <div style="width: 150px; text-align: center; vertical-align: middle"><input type="text" class="search-filter" /></div>
                                <div style="text-align: center; vertical-align: middle"></div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 915px;">
                                <table>
                                    <tr ng-repeat="item in data">
                                        <td style="width:64px;text-align:center">
                                            <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "ProductionPriceMng")/{{item.productionPriceID}}" title="Edit" target="_blank"><i class="fa fa-pencil"></i></a>

                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                            {
                                                <a class="btn btn-danger btn-xs font-11" href="#" ng-click="event.delete(item)" title="Delete" ng-if="!item.isLocked"><i class="fa fa-times"></i></a>
                                            }
                                        </td>
                                        <td style="text-align: left; width: 100px; vertical-align:middle">{{item.productionItemTypeNM}}</td>
                                        <td style="text-align: center; width: 80px; vertical-align:middle">{{item.month}}</td>
                                        <td style="text-align: center; width: 80px; vertical-align:middle">{{item.year}}</td>
                                        <td style="text-align: center; width: 80px; vertical-align:middle">
                                            <input type="checkbox" ng-model="item.isLocked" ng-disabled="true"/>
                                        </td>
                                        <td style="text-align: center; width: 90px; vertical-align:middle">{{item.createdDate}}</td>
                                        <td style="text-align: left; width: 130px; vertical-align:middle">{{item.creatorName}}</td>
                                        <td style="text-align: center; width: 90px; vertical-align:middle">{{item.updatedDate}}</td>
                                        <td style="text-align: left; width: 150px; vertical-align:middle">{{item.updatorName}}</td>
                                        <td style="text-align: left; vertical-align:middle">{{item.remark}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <span>Found: {{totalRows}} record(s)</span>
                </div>
            </div>
        </div>
    </article>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmPriceDetail" class="modal fade" style="display: none; z-index: 100">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="margin-top:90px !important">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        ×
                    </button>
                    <h4 id="myModalLabel" class="modal-title">Price Detail</h4>
                </div>
                <div class="modal-body smart-form">
                    <div>
                        <div class="widget-body no-padding">
                            <div class="row">
                                <div class="col col-sm-12">
                                    <div class="tilsoft-table">
                                        <div class="tilsoft-table-body" style="margin-top:0px">
                                            <table>
                                                <tr>
                                                    <th style="width:170px">Code</th>
                                                    <th>Name</th>
                                                    <th style="width:70px">Unit</th>
                                                    <th style="width:70px">Quantity</th>
                                                    <th style="width:70px">Price</th>
                                                </tr>
                                                <tr ng-repeat="item in priceDetails">
                                                    <td>{{item.productionItemUD}}</td>
                                                    <td>{{item.productionItemNM}}</td>
                                                    <td>{{item.unit}}</td>
                                                    <td style="text-align:right">{{item.stockQnt | number : 2}}</td>
                                                    <td style="text-align:right">{{item.price | number : 2}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Edit", "ProductionPriceMng")/0" target="_blank" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Views/ProductionPriceMng/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/production-price/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize: @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"],
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            title:'Calculate Price'
        }
    </script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/ProductionPriceMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
