@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var supportServiceRoot = (System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"]);

    ViewBag.Title = (ViewBag.ID == 0) ? "Create Delivery Note Repair/Assemply" : "Delivery Note Repair/Assemply";
    ViewBag.SubTitle = (ViewBag.ID == 0) ? "Create" : "Edit";
    ViewBag.Module = " Delivery Note Repair/Assemply";
}

<form name="editForm" class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>@(ViewBag.ID == 0 ? "Create Delivery Note Repair/Assemply" : "Edit Delivery Note Repair/Assemply")</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="smart-form">
                        <div class="row">
                            <section class="col col-sm-2">
                                <label class="label">Delivery Note Nr.</label>
                                <label class="input">
                                    <input type="text" class="form-control" style="font-family:Arial" maxlength="50" readonly ng-model="data.deliveryNoteUD" />
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label class="label">Delivery Note Date</label>
                                <label class="input-group">
                                    <input type="text" class="form-control" style="font-family:Arial" avs-calendar ng-data-source="data.deliveryNoteDate" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label class="label">Related Document Nr.</label>
                                <label class="input">
                                    <input type="text" class="form-control" style="font-family:Arial" maxlength="50" ng-model="data.relatedDocumentNo" />
                                </label>
                            </section>
                            <section class="col col-sm-6">
                                <label class="label">Description</label>
                                <label class="input">
                                    <input class="form-control" style="font-family:Arial" maxlength="500" ng-model="data.description" />
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-sm-2">
                                <label class="label" style="text-align: right">Search Product:</label>
                            </section>
                            <section class="col col-sm-10">
                                <label class="input-group">
                                    <input id="scanQRCode" type="text" class="form-control" style="font-family:Arial" autocomplete="off" ng-model="searchString" ng-change="event.scan($event)" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </label>
                            </section>
                        </div>
                        <div class="row" style="margin-top:0px">
                            <section class="col col-sm-12">
                                <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                                    <div class="tilsoft-table">
                                        <div class="tilsoft-table-header" style="width: 1000px">
                                            <div style="width:80px">
                                                Found(s)
                                                <span style="color: maroon"><b>{{totalRowsScan}}</b></span>
                                            </div>
                                            <div style="width:120px">Code</div>
                                            <div style="width:347px">Name</div>
                                            <div style="width:150px">Type</div>
                                            <div style="width:100px">Quantity</div>
                                            <div style="width:130px">From<br />Warehouse</div>
                                            <div>Remark</div>
                                        </div>
                                        <div class="tilsoft-table-body" style="width: 1000px">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td colspan="4" style="text-align:right;vertical-align:central;">Total:</td>
                                                        <td style="text-align:right; width: 100px; background-color:yellow">{{event.getTotalQuantity()}}</td>
                                                        <td colspan="2" width="17px"></td>
                                                    </tr>
                                                    <tr ng-repeat="item in data.deliveryNoteDetailDTOs">
                                                        <td style="width:80px; text-align:center">
                                                            <a href="javascript:void(0)" class="btn btn-danger btn-xs font-11" ng-click="event.removed($event, item)">
                                                                <i class="fa fa-times"></i> Delete
                                                            </a>
                                                        </td>
                                                        <td style="width:120px; text-align:center">{{item.productionItemUD}}</td>
                                                        <td style="width:347px; text-align:left">{{item.productionItemNM}}</td>
                                                        <td style="width:150px; text-align:center">{{item.productionItemTypeNM}}</td>
                                                        <td style="width:100px; text-align:center">
                                                            <input type="text" class="form-control" avs-number style="text-align:right" ng-data-source="item.qty" ng-keypress="event.getTotalQuantity()" />
                                                        </td>
                                                        <td style="width: 130px">
                                                            <select class="form-control" ng-model="item.fromFactoryWarehouseID" ng-options="item.factoryWarehouseID as item.factoryWarehouseNM for item in supportFactoryWarehouses">
                                                                <option value=""></option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" ng-model="item.description" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction{
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "DeliveryNoteRepairAssemplyMng")" class="btn btn-default" title="Back">
                <i class="fa fa-arrow-left"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current))" title="Delete" ng-class="{'disabled': data.deliveryNoteID == 0}" ng-click="event.deletedata(data.deliveryNoteID)">
                <i class="fa fa-times"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update()">
                <i class="fa fa-floppy-o"></i>
            </a>
        </li>
    </ul>
}

@section pagejs{
    <script type="text/javascript">
            var context = {
                id: @ViewBag.ID,
                backUrl: '@Url.Action("Index", "deliveryNoteRepairAssemplyMng")',
                refreshUrl: '@Url.Action("Edit", "deliveryNoteRepairAssemplyMng", new { id = UrlParameter.Optional })/',
                serviceUrl: '@(serviceRoot)/api/deliveryNoteRepairAssemplyMng/',
                token: '@token',
                supportServiceUrl: '@(supportServiceRoot)/api/support/',
                msgValid: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED'
            };
    </script>
    <script type="text/javascript" src="~/Angular/app/deliveryNoteRepairAssemplyMng/edit.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/deliveryNoteRepairAssemplyMng/service.js?v=@guid"></script>
}