@{
    ViewBag.Title = "Search Production Item";
    ViewBag.Module = "Production Item Management";
    ViewBag.Icon = "fa-search";
    Frontend.APIDTO.APIUserInformation userInfo = (Frontend.APIDTO.APIUserInformation)Session[Frontend.Customize.Common.ProjectDefinition.USER_INFO_SESSION];
}
<style>
    .select2-arrow {
        width: 15px !important;
    }

    .search-text {
        height: 30px !important;
        padding: 8px !important;
        border: 1px solid #ccc !important;
    }
</style>
<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wi  d-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1550px;">
                                <div style="width: 80px;"><b>Found </b><b style="color:#a90329;">{{totalRows}} </b></div>
                                <div style="width: 100px;"><i class="fa fa-file-image-o"></i> Image</div>
                                <div style="width: 100px;" class="sorting" data-colname="productionItemTypeID"> Type</div>
                                <div style="width: 120px;" class="sorting" data-colname="ProductionItemUD"> Code</div>
                                <div style="width: 200px;" class="sorting" data-colname="ProductionItemNM"> Name</div>
                                <div style="width: 200px;" class="sorting" data-colname="ProductionItemVNNM">Vietnamese Name</div>
                                <div style="width: 120px;" class="sorting" data-colname="ProductionItemGroupID"> Group</div>
                                <div style="width: 100px;"> Unit</div>
                                <div style="width:60px;">AVT Group</div>
                                <div style="width: 100px;" class="sorting" data-colname="Status"> Active</div>
                                <div style="width: 150px;" class="sorting" data-colname="Status"><i class="fa fa-list"></i> Default Warehouse</div>
                                <div><i class="fa fa-history"></i> Tracking Information</div>
                            </div>
                            <div class="tilsoft-table-filter" style="width: 1550px;">
                                <div style="width: 80px;">
                                    <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.reload()"><i class="fa fa-filter"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilter()"><i class="fa fa-ban"></i></a>
                                </div>
                                <div style="width: 100px;"></div>
                                <div style="width: 100px;">
                                    <select class="form-control search-filter" style="width: 100%" ng-model="filters.ProductionItemTypeID" ng-options="productionItemType.productionItemTypeID as productionItemType.productionItemTypeNM for productionItemType in productionItemTypes">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </div>
                                <div style="width: 120px;"><input class="search-filter search-text" type="text" ng-model="filters.ProductionItemUD" /></div>
                                <div style="width: 200px;"><input class="search-filter search-text" type="text" ng-model="filters.ProductionItemNM" /></div>
                                <div style="width: 200px;"><input class="search-filter search-text" type="text" ng-model="filters.ProductionItemVNNM" /></div>
                                <div style="width: 120px;">
                                    <select class="form-control search-filter" style="width: 100%" ng-model="filters.ProductionItemGroupID" ng-options="productionItemGroup.productionItemGroupID as productionItemGroup.productionItemGroupNM for productionItemGroup in productionItemGroups">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </div>
                                <div style="width: 100px;"></div>
                                <div style="width: 60px;">
                                    <select class="form-control search-filter " ng-model="filters.isAVTGroup">
                                        <option value="any"></option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                                <div style="width: 100px;"></div>
                                <div style="width: 150px;padding:0px;">
                                    <select style="border:none;" id="DefaultWarehouseID" class="search-filter js-example-basic-single" ng-model="filters.DefaultWarehouseID" ng-options="factoryWarehouse.factoryWarehouseID as factoryWarehouse.factoryWarehouseNM for factoryWarehouse in factoryWarehouses">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div></div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1550px; margin-top: 95px;height:700px;">
                                <table>
                                    <tr ng-repeat="item in data">
                                        <td style="text-align: center; width: 80px;"><a href="@Url.Action("Edit", "ProductionItem")/{{item.productionItemID}}" target="_blank" class="btn btn-primary btn-xs">Detail</a></td>
                                        <td style="width: 100px;">
                                            <a href="{{item.fileLocation}}" data-featherlight="image">
                                                <img style="width: 95%;" ng-src="{{item.fileLocation}}" />
                                            </a>
                                        </td>
                                        <td style="width: 100px;">{{item.productionItemTypeNM}}</td>
                                        <td style="width: 120px;">{{item.productionItemUD}}</td>
                                        <td style="width: 200px;">{{item.productionItemNM}}</td>
                                        <td style="width: 200px;">{{item.productionItemVNNM}}</td>
                                        <td style="width: 120px;">{{item.productionItemGroupNM}}</td>
                                        <td style="width: 100px;">{{item.unitNM}}</td>
                                        <td style="width:60px; text-align:center"><input type="checkbox" disabled ng-model="item.isAVTGroup" /></td>
                                        <td style="text-align: center; width:100px"><input type="checkbox" disabled ng-model="item.status" /></td>
                                        <td style="width: 150px;">
                                            <div ng-repeat="sItem in factoryWarehouseSearchResults | filter : { productItemID: item.productionItemID } : true">
                                                {{sItem.factoryWarehouseNM}}
                                            </div>
                                        </td>
                                        <td>
                                            <span class="box">
                                                <i class="fa fa-user"></i>
                                                <strong>Updated By</strong>:
                                                <a ng-if="item.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    {{item.updatorName}}
                                                </a>
                                            </span>
                                            <span class="box"><i class="fa fa-calendar"></i> <strong>Updated Date</strong>: {{item.updatedDate}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
    </li>
    <li class="sparks-info">
        <a href="@Url.Action("Edit", "ProductionItem")/0" target="_blank" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
    </li>
    <li class="sparks-info">
        <a href="#" class="btn btn-default" title="Export to excel" ng-click="event.exportExcel()" style="color: #31B404"><i class="fa fa-file-excel-o"></i></a>
    </li>
</ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/productionItem/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize: 50,
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            branchID: '@userInfo.Data.BranchID',
            companyID: '@userInfo.Data.CompanyID',
            factoryID: '@userInfo.Data.FactoryID',
        }
    </script>
    <script src="~/Angular/app/productionItem/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/productionItem/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
