@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var pageSize = System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var supportServiceRoot = (System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"]);


    ViewBag.Title = (ViewBag.ID == 0) ? "Create QC Report Default Setting" : "Edit QC Report Default Setting";
    ViewBag.Module = "QC Report Default Setting";
}
<form name="editForm" class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                <header>
                    <span class="widget-icon"><i class="fa fa-table"></i></span>
                    <h2>@ViewBag.Title</h2>
                </header>
                <div>
                    <div class="jarviswidget-editbox"></div>
                    <div class="widget-body no-padding">
                        <div class="smart-form">
                            <fieldset>
                                <div class="row">
                                    <section class="col col-sm-2">
                                        <label class="label">QC Report Section</label>
                                        <label class="input">
                                            <input class="form-control" type="text" style="min-height: 32px; font-family: Arial" ng-model="data.qcReportSection">
                                        </label>
                                    </section>
                                    <section class="col col-sm-10">
                                        <label class="label">Description</label>
                                        <label class="input">
                                            <input class="form-control" type="text" style="min-height: 32px; font-family: Arial" ng-model="data.description">
                                        </label>
                                    </section>
                                    <section class="col col-sm-1">
                                        <label class="label">Unit</label>
                                        <label class="input">
                                            <input class="form-control" type="text" style="min-height: 32px; font-family: Arial" ng-model="data.unit">
                                        </label>
                                    </section>
                                    <section class="col col-sm-1">
                                        <label class="label">Row Index</label>
                                        <label class="input">
                                            <input class="form-control" type="text" style="min-height: 32px; font-family: Arial" avs-number ng-data-source="data.rowIndex">
                                        </label>
                                    </section>
                                    <section class="col col-sm-2">
                                        <label class="label">Model Connector(Ready ID) <input type="checkbox" style="margin-top: initial" ng-model="data.isRetrievableFromModel"></label>
                                        <label class="input">
                                            <select class="form-control" style="height: 30px">
                                                <option value=""></option>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="col col-sm-1">
                                        <label class="label">Model Code</label>
                                        <label class="input">
                                            <input class="form-control" type="text" style="min-height: 32px; font-family: Arial">
                                        </label>
                                    </section>
                                    <section class="col col-sm-3">
                                        <label class="label">Model Name</label>
                                        <label class="input">
                                            <input class="form-control" type="text" style="min-height: 32px; font-family: Arial">
                                        </label>
                                    </section>
                                    <section class="col col-sm-4">
                                        <label class="label">Specitication</label>
                                        <label class="input">
                                            <input class="form-control" type="text" style="min-height: 32px; font-family: Arial" ng-model="data.specification">
                                        </label>
                                    </section>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </article>
</form>
    @section FormAction{
        <ul id="sparks">
            <li class="sparks-info">
                <a href="@Url.Action("Index", "QCReportDefaultSettingMng")" class="btn btn-default btn-sm"><i class="fa fa-arrow-left"></i></a>
            </li>
            <li class="sparks-info">
                <a href="javascript:void(0)" class="btn btn-default btn-sm" title="Save" ng-click="event.updated()">
                    <i class="fa fa-floppy-o"></i>
                </a>
            </li>
            <li class="sparks-info">
                <a href="javascript:void(0)" class="btn btn-default btn-sm"><i class="fa fa-times" ng-class="{'disabled': data.qcReportDefaultSettingID == 0}" ng-click="event.deleted(data.qcReportDefaultSettingID)"></i></a>
            </li>
        </ul>
    }

    @section pagejs{
        <script type="text/javascript">
            var context = {
            id: @ViewBag.ID,
            backUrl: '@Url.Action("Index", "QCReportDefaultSettingMng")',
            serviceUrl: '@(serviceRoot)/api/qcreportdefaultsetting/',
            refreshUrl: '@Url.Action("Edit", "QCReportDefaultSettingMng", new { id = UrlParameter.Optional })/',
            token: '@token',
            msgValid: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED'
        }
        </script>
        <script type="text/javascript" src="~/Views/QCReportDefaultSettingMng/edit.js?v=@guid"></script>
        <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
        <script type="text/javascript" src="~/Views/QCReportDefaultSettingMng/service.js?v=@guid"></script>
    }
