@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Showroom Export Receipt";
    }
    else
    {
        ViewBag.Title = "Edit Showroom Export Receipt";
    }

    ViewBag.Module = "Showroom Receipt";
}

<form class="row" name="editForm">

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>General</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <div class="row">
                            <section class="col col-1">
                                <label>Receipt No</label>
                                <span class="form-control">{{data.receiptNo}}</span>
                            </section>

                            <section class="col col-1">
                                <label>Season</label>
                                <select ng-model="data.season" ng-options="item.seasonValue as item.seasonValue for item in seasons" class="form-control"></select>
                            </section>

                            <section class="col col-2">
                                <label>Receipt Date</label>
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="data.receiptDate">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </section>

                            <section class="col col-2">
                                <label>Receipt Type</label>
                                <span class="form-control">{{data.receiptTypeText}}</span>
                            </section>

                            <section class="col col-2">
                                <label>Created By</label>
                                <span class="form-control">
                                    <a ng-show="(data.createdBy!=null && data.creatorName2!=null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.createdBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        <i class="fa fa-user"></i> {{data.creatorName2}}
                                    </a>
                                    <span ng-show="(data.createdBy!=null && data.creatorName2==null && data.creatorName!=null)">{{data.creatorName}}</span>
                                </span>
                            </section>

                            <section class="col col-1">
                                <label>Created Date</label>
                                <span class="form-control">{{data.createdDate}}</span>
                            </section>

                            <section class="col col-2">
                                <label>Updated By</label>
                                <span class="form-control">
                                    <a ng-show="(data.updatedBy!=null && data.updatorName2!=null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        <i class="fa fa-user"></i> {{data.updatorName2}}
                                    </a>
                                    <span ng-show="(data.updatedBy!=null && data.updatorName2==null && data.updatorName!=null)">{{data.updatorName}}</span>
                                </span>
                            </section>

                            <section class="col col-1">
                                <label>Updated Date</label>
                                <span class="form-control">{{data.updatedDate}}</span>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-1">
                                <label>Showroom</label>
                                <select ng-model="data.showroomID" ng-options="item.showroomID as item.showroomNM for item in showrooms" class="form-control"></select>
                            </section>

                            <section class="col col-1">
                                <label>Storekeeper</label>
                                <select ng-model="data.storekeeperID" ng-options="item.userID as item.fullName for item in users" class="form-control"></select>
                            </section>

                            <section class="col col-6">
                                <label>Export to</label>
                                <input type="text" class="form-control" ng-model="data.exportTo" />
                            </section>

                            <section class="col col-4">
                                <label>Remark</label>
                                <input type="text" class="form-control" ng-model="data.remark" />
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#hb3"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Product</span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <div class="tab-content">

                        <div class="tab-pane active" id="hb3">
                            <div>
                                <div class="widget-body-toolbar">
                                    <div class="row">
                                        <div class="col col-lg-6">
                                            <div class="input-group">
                                                <input id="quickSearchBox-showroomItem" placeholder="press enter to search all showroom item or type at least 3 chars to search showroom item" class="form-control" type="text" ng-keyup="quicksearchShowroomItem.event.searchBoxKeyUp($event)" autocomplete="off">
                                                <span class="input-group-addon" ng-click="quicksearchShowroomItem.event.searchClick()"><i class="fa fa-search"></i></span>
                                                <div id="popup-showroomItem" class="popup-container-2" style="display: none; left: 0px; top: 32px;z-index: 50;">
                                                    <div style="float: right; margin-bottom: 8px;">
                                                        <a href="javascript:void(0);" ng-click="quicksearchShowroomItem.event.itemSelected($event)" class="btn btn-primary btn-xs">OK</a>
                                                        <a href="javascript:void(0);" ng-click="quicksearchShowroomItem.event.close($event)" class="btn btn-danger btn-xs">Close</a>
                                                    </div>
                                                    <div class="clear"></div>
                                                    <div id="quickSearchResultGrid-showroomItem" class="tilsoft-table-wrapper">
                                                        <div class="tilsoft-table">
                                                            <div class="tilsoft-table-header" style="width: 700px;">
                                                                <div style="width: 60px; text-align:center"></div>
                                                                <div style="width: 100px;">Image</div>
                                                                <div style="width: 100px" class="sorting">ArticleCode</div>
                                                                <div class="sorting"> Description</div>
                                                            </div>

                                                            <div class="tilsoft-table-body" style="width: 700px;">
                                                                <table>
                                                                    <tr ng-repeat="product in quicksearchShowroomItem.data">
                                                                        <td style="width: 60px; text-align:center"><input type="checkbox" ng-model="product.isSelected" /></td>
                                                                        <td style="width: 100px; text-align: center; vertical-align: middle;">
                                                                            <a href="{{product.showroomFullImage}}" data-featherlight="image">
                                                                                <img style="width: 95%;" ng-src="{{product.showroomThumbnailImage}}" />
                                                                            </a>
                                                                        </td>
                                                                        <td style="width: 100px;">{{product.articleCode}}</td>
                                                                        <td>{{product.description}}</td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-lg-6">
                                            <ul>
                                                <li style="display:inline"><input type="radio" name="searchType" ng-model="searchBy" value="1" />Normal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                <li style="display:inline"><input type="radio" name="searchType" ng-model="searchBy" value="2" />BarCode</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div id="productGrid" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-header" style="width: 1600px;">
                                                <div style="width: 60px;"></div>
                                                <div style="width: 130px; ">Art.Code</div>
                                                <div style="width: 250px">Description</div>
                                                <div style="width: 250px">Area</div>
                                                <div style="width: 120px;">Client</div>
                                                <div>Remark</div>
                                            </div>
                                            <div class="tilsoft-table-body" style="width: 1600px; ">
                                                <table>
                                                    <tbody ng-repeat="item in data.showroomReceiptDetails">
                                                        <tr>
                                                            <td style="text-align: center; width: 60px; vertical-align:middle">
                                                                <a href="#" title="Delete" ng-click="event.removeProduct($event,$index)" class="btn btn-danger btn-xs font-11"><i class="fa fa-times"></i>Del</a>
                                                            </td>
                                                            <td style="width: 130px; vertical-align: middle">{{item.articleCode}}</td>
                                                            <td style="width: 250px; vertical-align: middle">{{item.description}}</td>
                                                            <td style="width: 250px; vertical-align: middle; ">
                                                                <table>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td colspan="3">
                                                                                <input type="text" placeholder="typing here to search area" id="quickSearchBox-showroomarea{{item.showroomReceiptDetailID}}" ng-keyup="quicksearchShowroomArea.event.searchBoxKeyUp($event,item.showroomReceiptDetailID,item.showroomItemID) " />
                                                                                <div id="area_receipt_detail_id{{item.showroomReceiptDetailID}}"></div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr ng-repeat="area in item.showroomReceiptAreaDetails">
                                                                            <td style="text-align: center;width:20px; vertical-align: middle">
                                                                                <a href="#" title="Delete" ng-click="event.removeArea($event,$index,item.showroomReceiptDetailID)" style="color: #ff0000;"><i class="fa fa-times"></i></a>
                                                                            </td>
                                                                            <td style="text-align: left;width:130px; vertical-align:middle">{{area.showroomAreaUD}}</td>
                                                                            <td style="text-align: right;width:70px;vertical-align:middle"><input type="text" ng-model="area.quantity" /></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            
                                                            <td style="width: 120px; vertical-align: middle">
                                                                <input type="text" ng-model="item.clientUD" style="text-align:right" ng-keyup="quicksearchClient.event.searchBoxKeyUp($event,item.showroomReceiptDetailID,item.clientUD) " />
                                                                <div id="receipt_detail_id{{item.showroomReceiptDetailID}}"></div>
                                                            </td>
                                                            <td style="vertical-align: middle; "><input type="text" ng-model="item.remark" /></td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <div id="popup-client" class="popup-container-2" style="width:200px">
        <div style="float: right; margin-bottom: 8px;">
            <a ng-click="quicksearchClient.event.close($event, true)" class="btn btn-danger btn-xs" href="javascript:void(0);">X</a>
        </div>
        <div class="clear"></div>
        <div id="quickSearchResultGrid-client" class="tilsoft-table-wrapper">
            <div class="tilsoft-table">
                @*<div class="tilsoft-table-header" style="width: 120px;">
                        <div style="width: 90px;"></div>
                        <div>CLIENT CODE</div>
                    </div>*@
                <div class="tilsoft-table-body" style="width: 120px;height:auto">
                    <table>
                        <tr ng-repeat="item in quicksearchClient.data">
                            <td style="width: 70px; text-align: center;"><a ng-click="quicksearchClient.event.itemSelected($event,item)" class="btn btn-primary btn-xs" href="javascript:void(0);">Select</a></td>
                            <td style="text-align:left">{{item.clientUD}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="popup-showroomarea" class="popup-container-2" style="width:230px">
        <div style="float: right; margin-bottom: 8px;">
            <a ng-click="quicksearchShowroomArea.event.close($event)" class="btn btn-danger btn-xs" href="javascript:void(0);">X</a>
        </div>
        <div class="clear"></div>
        <div id="quickSearchResultGrid-showroomarea" class="tilsoft-table-wrapper">
            <div class="tilsoft-table">
                <div class="tilsoft-table-body" style="width: 120px;height:auto">
                    <table>
                        <tr ng-repeat="item in quicksearchShowroomArea.data">
                            <td style="width: 70px; text-align: left;"><a ng-click="quicksearchShowroomArea.event.itemSelected($event,item)" class="btn btn-primary btn-xs" href="javascript:void(0);">Select</a></td>
                            <td style="text-align:left">{{item.showroomAreaUD}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "ShowroomReceipt")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#" ng-disabled="data.isConfirmed" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#" ng-disabled="data.isConfirmed || data.warehouseImportID == 0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/showroomreceipt/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        supportService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        supportService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            id: '@ViewBag.ID',
            backUrl: '@Url.Action("Index", "ShowroomReceipt")',
            refreshUrl: '@Url.Action("Export", "ShowroomReceipt", new { id = UrlParameter.Optional })/',
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',

            receiptTypeID: 2,
            receiptTypeText: 'EXPORT RECEIPT',
        }
    </script>
    <script src="~/Angular/app/showroomReceipt/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/showroomReceipt/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

