@{
    ViewBag.Title = "Showroom receipt";
    ViewBag.Module = "Showroom receipt type";
}

<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
        <header>
        </header>
        <div>
            <div class="widget-body no-padding">
                <form class="smart-form">
                    <fieldset>
                        <section>
                            <label class="label">Select receipt type to continue</label>
                            <div class="inline-group">
                                <label class="radio" ng-repeat="item in showroomReceiptTypes">
                                    <input type="radio" name="radio-inline" ng-model="$parent.selectedTypeID" ng-value="item.receiptTypeID">
                                    <i></i>{{item.receiptTypeName}}
                                </label>
                            </div>
                        </section>
                    </fieldset>
                    <footer style="">
                        <a href="javascript:void(0);" class="btn btn-primary" ng-click="event.onNextButtonClick()">Next</a>
                    </footer>
                </form>                
            </div>
        </div>
    </div>
</article>

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/showroomreceipt/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        supportService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        supportService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            importEditUrl: '@Url.Action("Import", "ShowroomReceipt")/0',
            exportEditUrl: '@Url.Action("Export", "ShowroomReceipt")/0',
        }
    </script>
    <script src="~/Angular/app/showroomReceipt/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script src="~/Angular/app/showroomReceipt/selectReceiptType.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
}