@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Forwader Invoice";
    }
    else
    {
        ViewBag.Title = "Edit Forwader Invoice";
    }

    ViewBag.Module = "Forwader Invoice";

}

<form class="row" name="editForm" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Forwarder Invocie Information</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-sm-6 m-bottom-15">
                            <label>Booking</label>
                            <div class="smart-form">
                                <label class="input">
                                    <input type="text" ng-model="dataContainer.bookingUD" autocomplete="off" ng-keyup="quicksearchBooking.event.searchBoxKeyUp()" id="txtBooking" />
                                    <input type="hidden" ng-model="dataContainer.bookingID" name="blNo" required />
                                    <i class="icon-append fa fa-search"></i>
                                </label>
                                <div id="booking-popup" class="popup-container-2">
                                    <div style="float: right; margin-bottom: 8px;">
                                        <a ng-click="quicksearchBooking.event.close($event, true)" class="btn btn-primary btn-xs" href="javascript:void(0);"><i class="fa fa-remove"></i> Close</a>
                                    </div>
                                    <div class="clear"></div>
                                    <div id="quickSearchBookingTable" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-header" style="width: 360px;">
                                                <div style="width: 70px;"></div>
                                                <div style="width: 100px;">Booking</div>
                                                <div>BL No</div>
                                            </div>
                                            <div class="tilsoft-table-body" style="width: 360px;">
                                                <table>
                                                    <tr ng-repeat="item in quicksearchBooking.data">
                                                        <td style="width: 70px; text-align: center;"><a ng-click="quicksearchBooking.event.ok($event, item.bookingID)" class="btn btn-primary btn-xs" href="javascript:void(0);"><i class="fa fa-check"></i> Select</a></td>
                                                        <td style="width: 100px;">{{item.bookingUD}}</td>
                                                        <td>{{item.blNo}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="help-block" ng-show="editForm.bookingID.$error.required"><i class="fa fa-warning"></i>Booking is required.</span>
                        </div>
                        <div class="col-sm-6 m-bottom-15">
                            <label>Forwarder</label>
                            <span class="form-control">{{dataContainer.forwarderInfo}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 m-bottom-15">
                            <label>BL No</label>
                            <span class="form-control">{{dataContainer.blNo}}</span>
                        </div>

                        <div class="col-sm-2 m-bottom-15">
                            <label>ETD</label>
                            <span class="form-control">{{dataContainer.etd}}</span>
                        </div>

                        <div class="col-sm-2 m-bottom-15">
                            <label>ETA</label>
                            <span class="form-control">{{dataContainer.eta}}</span>
                        </div>

                        <div class="col-sm-2 m-bottom-15">
                            <label>POL</label>
                            <span class="form-control">{{dataContainer.poLname}}</span>
                        </div>
                        <div class="col-sm-2 m-bottom-15">
                            <label>POD</label>
                            <span class="form-control">{{dataContainer.podName}}</span>
                        </div>
                    </div>
                    <div class="smart-form">
                        <fieldset style="padding: 0px;">
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Forwarder Invoice Date</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" data-dateformat="dd/mm/yy" class="datepicker" ng-model="dataContainer.invoiceDate" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Due Date</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" data-dateformat="dd/mm/yy" class="datepicker" ng-model="dataContainer.dueDate" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Invoice No</label>
                                    <input class="form-control" type="text" id="invoiceNo" ng-model="dataContainer.invoiceNo">
                                </section>
                                <section class="col col-3">
                                    <label class="label">Account No</label>
                                    <input class="form-control" type="text" id="accountNo" ng-model="dataContainer.accountNo">
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">
                                        PFD File Scan
                                    </label>
                                    <label class="input">
                                        <span class="form-control">
                                            {{dataContainer.friendlyName}}
                                            <div style="position: absolute; right: 5px; top: 5px;">
                                                <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="event.downloadFile()">Download</a>
                                                <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="event.changeFile()">Change</a>
                                                <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="event.removeFile()">Remove</a>
                                            </div>
                                        </span>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Updated By</label>
                                    <label class="input">
                                        <span class="form-control">{{dataContainer.fullName}}</span>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Updated Date</label>
                                    <label class="input">
                                        <span class="form-control">{{dataContainer.updatedDate}}</span>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-9">
                                    <label>Remark</label>
                                    <input class="form-control" type="text" id="accountNo" ng-model="dataContainer.remark">
                                </section>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-12 m-bottom-15">
                        <div>
                            <a class="btn btn-primary btn-xs font-11" href="javascript:void(0);" ng-click="addInvoiceDetail($event)" style="margin-bottom: 10px;"><i class="fa fa-plus"></i>Add details</a>
                        </div>
                        <div id="topDescriptionTable" class="table-responsive">
                            <table class="table table-bordered table-hover custom-table dataTable">
                                <thead>
                                    <tr>
                                        <th style="width: 100px;"></th>
                                        <th class="sorting" data-colname="rowIndex" style="width: 50px;">INDEX</th>
                                        <th class="sorting" data-colname="feeName" style="width: 200px;">FEE NAME</th>
                                        <th class="sorting" data-colname="feeType" style="width: 100px;">FEE TYPE</th>
                                        <th class="sorting" data-colname="currency" style="width: 50px;">CURRENCY</th>
                                        <th class="sorting" data-colname="amount" style="width: 100px;">AMOUNT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in dataContainer.forwarderInvoiceDetails">
                                        <td style="text-align: center; ">
                                            <a href="#" class="btn btn-danger btn-xs font-11" title="Delete" ng-click="removeInvoiceDetail($event, item.forwarderInvoiceDetailID)"><i class="fa fa-times"></i>Del</a>
                                        </td>

                                        <td ng-model="index">
                                            {{$index + 1}}
                                        </td>

                                        <td>
                                            <input class="form-control" type="text" name="description" ng-model="item.feeName">
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="item.feeTypeID" ng-options="feeType.feeTypeID as feeType.feeTypeNM for feeType in feeTypes">
                                                <option value=""></option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" name="currency" ng-model="item.currency">
                                                <option value=""></option>
                                                <option value="EUR">EUR</option>
                                                <option value="USD">USD</option>
                                            </select>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">{{item.currency == 'USD' ? '$' : ''}} {{item.currency == 'EUR' ? '€' : ''}}</span>
                                                <input type="text" class="form-control furnindo-currency" ng-model="item.amount" style="text-align:right" ng-currency fraction="2" currency-symbol="" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jarviswidget" id="wid-id-product-detail" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "forwarderInvoice")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" disabled class="btn btn-default" title="Print"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Approve, HttpContext.Current))" title="Approve" disabled><i class="fa fa-thumbs-o-up"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Reset, HttpContext.Current))" title="Reset Approval status" disabled><i class="fa fa-thumbs-o-down"></i></a>
        </li>
    </ul>
}
@section pagejs {
<script src="~/Angular/app/forwarderInvoice/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
<script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
<script type="text/javascript">
    forwarderInvoiceService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/forwarderInvoice/';
    forwarderInvoiceService.supportServiceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
    forwarderInvoiceService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

    supportService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
    supportService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

    var context = {
            id: @ViewBag.ID,
            backUrl: '@Url.Action("Index", "forwarderInvoice")',
            refreshUrl: '@Url.Action("Edit", "forwarderInvoice", new { id = UrlParameter.Optional })/',
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED'
        }
</script>
<script src="~/Angular/app/forwarderInvoice/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
