@{
    ViewBag.Title = "Search Forwarder Invoice";
    ViewBag.Module = "Forwarder Invoice";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">BookingID</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.BookingID" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Invoice No</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.InvoiceNo" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Account No</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.AccountNo" />
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div id="searchResult" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 990px;">
                                <div style="width: 200px;"></div>
                                <div style="width: 80px;" class="sorting">BookingID</div>
                                <div style="width: 180px;" class="sorting">Invoice No</div>
                                <div style="width: 80px;" class="sorting">Invoice Date</div>
                                <div style="width: 100px;" class="sorting">Account No</div>
                                <div style="width: 150px;" class="sorting">PDFFileScan</div>
                                <div style="width: 110px;" class="sorting_desc">Updated By</div>
                                <div class="sorting">Updated Date</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 850px;">
                                <table>
                                    <tr ng-repeat="model in data">
                                        <td style="text-align: center; width: 200px;">
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                            {
                                                <a class="btn btn-primary btn-xs font-11" target="_blank" href="@Url.Action("Edit", "ForwarderInvoice")/{{model.forwarderInvoiceID}}" title=" title=" view (read only)"><i class="fa fa-folder-open"></i> View</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-primary btn-xs font-11" target="_blank" href="@Url.Action("Edit", "ForwarderInvoice")/{{model.forwarderInvoiceID}}" title="Edit"><i class="fa fa-pencil"></i> Edit</a>
                                            }
                                            <a class="btn btn-primary btn-xs font-11" href="javascript:void(0)" ng-click="event.download(model.fileLocation)" title="Download"><i class="fa fa-download"></i> Download</a>
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                            {
                                                <a class="btn btn-danger btn-xs font-11" href="javascript:void(0)" ng-click="event.delete(model.forwarderInvoiceID)" title="Delete"><i class="fa fa-times"></i> Delete</a>
                                            }
                                        </td>
                                        <td style=" width: 80px;">{{model.bookingID}}</td>
                                        <td style=" width: 180px;">{{model.invoiceNo}}</td>
                                        <td style=" width: 80px;">{{model.invoiceDate}}</td>
                                        <td style=" width: 100px;">{{model.accountNo}}</td>
                                        <td style=" width: 150px;">{{model.friendlyName}}</td>
                                        <td style="width: 110px;">
                                            <avs-show-dialog-link is-show="model.showUpdatorLink"
                                                                  navigate-url="'@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/' + model.updatedBy"
                                                                  display-text="model.fullName"></avs-show-dialog-link>
                                        </td>
                                        <td>{{model.updatedDate}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Edit", "ForwarderInvoice")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/forwarderInvoice/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    </script>
    <script src="~/Angular/app/forwarderInvoice/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/forwarderInvoice/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
