@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create new warehouse transport location";
    }
    else
    {
        ViewBag.Title = "Warehouse transport location";
    }

    ViewBag.Module = "Warehouse transport location";

}
<form name="editForm">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                <header>
                    <ul class="nav nav-tabs pull-left in">
                        <li class="active">
                            <a data-toggle="tab" href="#tablGeneral"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">General</span> </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#talTracking"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Tracking</span> </a>
                        </li>
                    </ul>
                </header>
                <div>
                    <div class="jarviswidget-editbox"></div>

                    <div class="widget-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tablGeneral">
                                <div class="row">

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Season</label>
                                        <select name="season" class="form-control" ng-model="editData.season" ng-options="item.seasonValue as item.seasonText for item in supportData.seasons">
                                            <option value=""></option>
                                        </select>
                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Receipt No</label>
                                        <input type="text" class="form-control" ng-model="editData.receiptNo" />
                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Transport Date</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="editData.transportDate">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Transport By</label>
                                        <select name="season" class="form-control" ng-model="editData.transportBy" ng-options="item.userID as item.fullName for item in supportData.users">
                                            <option value=""></option>
                                        </select>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-12 m-bottom-15">
                                        <label>Remark</label>
                                        <input type="text" class="form-control" ng-model="editData.remark" />
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="talTracking">
                                <div class="row">
                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Created By</label>
                                        <span class="form-control">
                                            <a ng-show="(editData.createdBy!=null && editData.creatorName2!=null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{editData.createdBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                <i class="fa fa-user"></i> {{editData.creatorName2}}
                                            </a>
                                            <span ng-show="(editData.createdBy!=null && editData.creatorName2==null && editData.creatorName!=null)">{{editData.creatorName}}</span>
                                        </span>
                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Created Date</label>
                                        <span class="form-control">{{editData.createdDate}}</span>
                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Updated By</label>
                                        <span class="form-control">
                                            <a ng-show="(editData.updatedBy!=null && editData.updatorName2!=null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{editData.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                <i class="fa fa-user"></i> {{editData.updatorName2}}
                                            </a>
                                            <span ng-show="(editData.createdBy!=null && editData.updatorName2==null && editData.updatorName!=null)">{{editData.updatorName}}</span>
                                        </span>
                                    </div>
                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Updated Date</label>
                                        <span class="form-control">{{editData.updatedDate}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </article>

        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                <header>
                    <ul class="nav nav-tabs pull-left in">
                        <li class="active">
                            <a data-toggle="tab" href="#tabProduct"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Product</span> </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tabSparepart"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Sparepart</span> </a>
                        </li>
                    </ul>
                </header>
                <div>
                    <div class="jarviswidget-editbox"></div>

                    <div class="widget-body">
                        <div class="tab-content">

                            <div class="tab-pane active" id="tabProduct">
                                <div class="row">
                                    <div class="col-sm-12 m-bottom-15">
                                        <div class="input-group">
                                            <input id="quickSearchBoxProduct" placeholder="press enter to search all physical product or type at least 3 chars to search physical product" class="form-control" type="text" ng-keyup="quicksearchproduct.event.searchBoxKeyUp('PRODUCT',$event)" autocomplete="off">
                                            <span class="input-group-addon" ng-click="quicksearchproduct.event.searchClick('PRODUCT')"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 m-bottom-15">
                                        <div id="product" class="tilsoft-table-wrapper">
                                            <div class="tilsoft-table">
                                                <div class="tilsoft-table-body" style="width: 1000px;margin-top:0px">
                                                    <table>
                                                        <tr>
                                                            <th style="width: 50px"></th>
                                                            <th style="width: 160px" data-colname="productStatusID">Product Status</th>
                                                            <th style="width: 210px" data-colname="articleCode">ArticleCode</th>
                                                            <th data-colname="description">Description</th>
                                                            <th style="width: 140px" data-colname="fromWarehouseAreaID">From Area</th>
                                                            <th style="width: 140px" data-colname="toWarehouseAreaID">To Area</th>
                                                            <th style="width: 80px" data-colname="quantity">Quantity</th>
                                                        </tr>
                                                        <tr ng-repeat="item in editData.warehouseTransportProductDetails">
                                                            <td style="text-align: center;">
                                                                <a href="#" class="btn btn-danger btn-xs font-11" title="Delete" ng-click="removeProduct($event, item.warehouseTransportProductDetailID)"><i class="fa fa-times"></i>Del</a>
                                                            </td>
                                                            <td>{{item.productStatusNM}}</td>
                                                            <td>{{item.articleCode}}</td>
                                                            <td>{{item.description}}</td>
                                                            <td>
                                                                <input type="text" ng-model="item.fromWarehouseAreaUD" style="text-align:center" ng-keyup="quicksearchAreaFrom.event.searchBoxKeyUp($event,item)" />
                                                                <div id="receipt_product_detail_id{{item.warehouseTransportProductDetailID}}"></div>
                                                            </td>
                                                            <td>
                                                                <select name="toWarehouseAreaID" class="form-control" ng-model="item.toWarehouseAreaID" ng-options="area.wareHouseAreaID as area.areaCode for area in supportData.toWarehouseAreas">
                                                                    <option value=""></option>
                                                                </select>
                                                            </td>
                                                            <td style="text-align:right"><input type="text" ng-model="item.quantity"  style="text-align:right"/></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane" id="tabSparepart">
                                <div class="row">
                                    <div class="col-sm-12 m-bottom-15">
                                        <div class="input-group">
                                            <input id="quickSearchBoxSparepart" placeholder="press enter to search all physical product or type at least 3 chars to search physical product" class="form-control" type="text" ng-keyup="quicksearchproduct.event.searchBoxKeyUp('SPAREPART',$event)" autocomplete="off">
                                            <span class="input-group-addon" ng-click="quicksearchproduct.event.searchClick('SPAREPART')"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 m-bottom-15">
                                        <div id="sparepart" class="tilsoft-table-wrapper">
                                            <div class="tilsoft-table">
                                                <div class="tilsoft-table-body" style="width: 1000px; margin-top:0px">
                                                    <table>
                                                        <tr>
                                                            <th style="width: 50px"></th>
                                                            <th style="width: 160px" data-colname="productStatusID">Product Status</th>
                                                            <th style="width: 180px" data-colname="articleCode">ArticleCode</th>
                                                            <th data-colname="description">Description</th>
                                                            <th style="width: 140px" data-colname="fromWarehouseAreaID">From Area</th>
                                                            <th style="width: 140px" data-colname="toWarehouseAreaID">To Area</th>
                                                            <th style="width: 80px" data-colname="quantity">Quantity</th>
                                                        </tr>
                                                        <tr ng-repeat="item in editData.warehouseTransportSparepartDetails">
                                                            <td style="text-align: center;">
                                                                <a href="#" class="btn btn-danger btn-xs font-11" title="Delete" ng-click="removeSparepart($event, item.warehouseTransportSparepartDetailID)"><i class="fa fa-times"></i>Del</a>
                                                            </td>
                                                            <td >{{item.productStatusNM}}</td>
                                                            <td >{{item.articleCode}}</td>
                                                            <td >{{item.description}}</td>
                                                            <td >
                                                                <select name="fromWarehouseAreaID" class="form-control" ng-model="item.fromWarehouseAreaID" ng-options="area.warehouseAreaID as area.warehouseAreaUD for area in supportData.fromWarehouseAreas">
                                                                    <option value=""></option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select name="toWarehouseAreaID" class="form-control" ng-model="item.toWarehouseAreaID" ng-options="area.wareHouseAreaID as area.areaCode for area in supportData.toWarehouseAreas">
                                                                    <option value=""></option>
                                                                </select>
                                                            </td>
                                                            <td><input type="text" ng-model="item.quantity" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="product-popup" class="popup-container-2" style="display: none; left: 0px; top: 32px;">
                                <div style="float: right; margin-bottom: 8px;">
                                    <a href="javascript:void(0);" ng-click="quicksearchproduct.event.itemSelected($event)" class="btn btn-primary btn-xs">OK</a>
                                    <a href="javascript:void(0);" ng-click="quicksearchproduct.event.close()" class="btn btn-danger btn-xs">Close</a>
                                </div>
                                <div class="clear"></div>
                                <div id="productSearchResultGrid" class="tilsoft-table-wrapper">
                                    <div class="tilsoft-table">
                                        <div class="tilsoft-table-header" style="width: 1000px;">
                                            <div style="width: 60px; text-align:center"></div>
                                            <div style="width: 150px" class="sorting">Product Status</div>
                                            <div style="width: 210px" class="sorting">ArticleCode</div>
                                            <div style="width: 100px;" class="sorting">Physical Stock</div>
                                            <div class="sorting">Desciption</div>
                                        </div>

                                        <div class="tilsoft-table-body" style="width: 1000px;">
                                            <table>
                                                <tr ng-repeat="product in quicksearchproduct.data">
                                                    <td style="width: 60px; text-align:center"><input type="checkbox" ng-model="product.isSelected" /></td>
                                                    <td style="width: 150px;">{{product.productStatusNM}}</td>
                                                    <td style="width: 210px;">{{product.articleCode}}</td>
                                                    <td style="width: 100px; text-align:center">{{product.physicalQnt}}</td>
                                                    <td>{{product.description}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    
</form>

<div id="popup-area-from" class="popup-container-2" style="width:200px">
    <div style="float: right; margin-bottom: 8px;">
        <a ng-click="quicksearchAreaFrom.event.close($event, true)" class="btn btn-danger btn-xs" href="javascript:void(0);">X</a>
    </div>
    <div class="clear"></div>
    <div id="quickSearchResultGrid-area-from" class="tilsoft-table-wrapper">
        <div class="tilsoft-table">
            <div class="tilsoft-table-body" style="width: 120px;height:auto;margin-top:0px">
                <table>
                    <tr ng-repeat="item in quicksearchAreaFrom.data">
                        <td style="width: 70px; text-align: center;"><a ng-click="quicksearchAreaFrom.event.itemSelected($event,item)" class="btn btn-primary btn-xs" href="javascript:void(0);">Select</a></td>
                        <td style="text-align:left">{{item.warehouseAreaUD}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


@section pagepopup
{
}

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="update($event)"><i class="fa fa-save"></i></a>
        </li>

        <li class="sparks-info">
            <a href="@Url.Action("Index", "WarehouseTransport")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/warehouseTransport/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">

    var productSearchResultGrid = jQuery('#productSearchResultGrid').scrollableTable2(
            'quicksearchproduct.filters.pageIndex',
            'quicksearchproduct.totalPage',
            function(currentPage){
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function(){
                    scope.quicksearchproduct.filters.pageIndex = currentPage;
                    scope.quicksearchproduct.method.search();
                });
            },
            function(sortedBy, sortedDirection){
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function(){
                    scope.quicksearchproduct.filters.sortedDirection = sortedDirection;
                    scope.quicksearchproduct.filters.pageIndex = 1;
                    scope.quicksearchproduct.filters.sortedBy = sortedBy;
                    scope.quicksearchproduct.method.search();
                });
            }            
        );

    warehouseTransportService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/warehouseTransport/';
    warehouseTransportService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
    var tilsoftApp = angular.module('tilsoftApp', ['ng-currency']);
    tilsoftApp.controller('tilsoftController', ['$scope', function ($scope) {
        $scope.editData = null;
        $scope.supportData = null;

        var searchProductTimer = null;
        $scope.newID = 0;

        $scope.load = function()
        {
            warehouseTransportService.load('@ViewBag.ID',
                function (data) {
                    $scope.editData = data.data;
                    $scope.$apply();

                    jQuery('#content').show();
                    // monitor changes
                    $scope.$watch('warehouseTransport', function() {
                        jQuery('#changeNotification').html('<i class="fa fa-save blink_me"></i>');
                    });
                },
                function (error) {
                    jsHelper.showMessage('warning', error);

                    $scope.editData = null;
                    $scope.$apply();
                }
            );
        }


        $scope.update = function ($event) {
            $event.preventDefault();

            if($scope.editForm.$valid)
            {
                warehouseTransportService.update(@ViewBag.ID, $scope.editData,
                function (data) {
                    jsHelper.processMessage(data.message);
                    if(data.message.type == 0) {
                        window.location = '@Url.Action("Edit", "WarehouseTransport", new { id = UrlParameter.Optional, id2 = UrlParameter.Optional })/'+ data.data.warehouseTransportID +'/0';
                    }
                },
                function (error) {
                    jsHelper.showMessage('warning', error);
                }
                );
            }
            else
            {
                jsHelper.showMessage('warning', '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED');
            }
        }

        $scope.delete = function ($event) {
            $event.preventDefault();

            if (confirm('Are you sure ?')) {
                warehouseTransportService.delete(@ViewBag.ID,
                function (data) {
                    jsHelper.processMessage(data.message);
                    if(data.message.type == 0) {
                        window.location = '@Url.Action("Index", "WarehouseTransport")';
                    }
                },
                function (error) {
                    jsHelper.showMessage('warning', error);
                }
            );
            }
        }

        $scope.getEditSupport = function () {
            warehouseTransportService.getEditSupport(
                function (data) {
                    $scope.supportData = data.data;
                    $scope.$apply();
                },
                function (error) {
                    $scope.supportData = null;
                    $scope.$apply();
                }
            );
        }

        $scope.getNewID = function(){
            $scope.newID--;
            return $scope.newID;
        }

        $scope.removeProduct = function($event, id){
            if($event !== null) {
                $event.preventDefault();
            }
            isExist = false;
            for(j=0; j< $scope.editData.warehouseTransportProductDetails.length; j++) {
                if($scope.editData.warehouseTransportProductDetails[j].warehouseTransportProductDetailID == id) {
                    isExist = true;
                    break;
                }
            }
            if(isExist){
                $scope.editData.warehouseTransportProductDetails.splice(j, 1);
            }
        },

        $scope.removeSparepart = function($event, id){
            if($event !== null) {
                $event.preventDefault();
            }
            isExist = false;
            for(j=0; j< $scope.editData.warehouseTransportSparepartDetails.length; j++) {
                if($scope.editData.warehouseTransportSparepartDetails[j].warehouseTransportSparepartDetailID == id) {
                    isExist = true;
                    break;
                }
            }
            if(isExist){
                $scope.editData.warehouseTransportSparepartDetails.splice(j, 1);
            }
        },

        $scope.quicksearchproduct = {
            data: null,
            filters : {
                filters: {
                    searchQuery: '',
                    productType:''
                },
                sortedBy: 'PhysicalQnt',
                sortedDirection: 'DESC',
                pageSize: 20,
                pageIndex: 1
            },
            totalPage : 0,

            method: {
                search: function(){
                    warehouseTransportService.quickSearchProduct(
                        $scope.quicksearchproduct.filters,
                        function (data) {
                            if(data.message.type == 0) {
                                $scope.quicksearchproduct.data = data.data;
                                $scope.quicksearchproduct.data = $scope.quicksearchproduct.data;
                                productSearchResultGrid.updateLayout();
                                $scope.$apply();
                                jQuery('#product-popup').show();
                            }
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                        }
                    );    
                }
            },
            event: {
                searchBoxKeyUp: function(productType,$event){
                    $scope.quicksearchproduct.filters.filters.productType = productType;
                    if (productType == 'PRODUCT')
                    {
                        searchText = jQuery('#quickSearchBoxProduct').val();
                    }
                    else if (productType == 'SPAREPART')
                    {
                        searchText = jQuery('#quickSearchBoxSparepart').val();
                    }

                    if ($event.keyCode == 13)
                    {
                        $scope.quicksearchproduct.filters.filters.searchQuery = searchText;
                        $scope.quicksearchproduct.filters.pageIndex = 1;
                        $scope.quicksearchproduct.method.search();
                    }
                    else if (searchText.length >= 3)
                    {
                        clearTimeout(searchProductTimer);
                        searchProductTimer = setTimeout(
                            function(){
                                $scope.quicksearchproduct.filters.filters.searchQuery = searchText
                                $scope.quicksearchproduct.filters.pageIndex = 1;
                                $scope.quicksearchproduct.method.search();
                            },
                            500);
                    }
                },

                searchClick : function(productType){
                    $scope.quicksearchproduct.filters.filters.productType = productType;
                    if (productType == 'PRODUCT')
                    {
                        searchText = jQuery('#quickSearchBoxProduct').val();
                    }
                    else if (productType == 'SPAREPART')
                    {
                        searchText = jQuery('#quickSearchBoxSparepart').val();
                    }
                    $scope.quicksearchproduct.filters.filters.searchQuery = searchText;
                    $scope.quicksearchproduct.filters.pageIndex = 1;
                    $scope.quicksearchproduct.method.search();
                },

                close: function(){
                    jQuery('#product-popup').hide();
                    jQuery('#quickSearchBoxProduct').val('');
                    jQuery('#quickSearchBoxSparepart').val('');
                    $scope.quicksearchproduct.data = null;
                },
                itemSelected: function($event){
                    jQuery.each($scope.quicksearchproduct.data, function(){
                        if(this.isSelected)
                        {
                            if (this.productType == 'PRODUCT')
                            {
                                $scope.editData.warehouseTransportProductDetails.push({
                                    warehouseTransportProductDetailID: $scope.getNewID(),
                                    productStatusID : this.productStatusID,
                                    productID: this.goodsID,
                                    quantity: this.quantity,

                                    productStatusNM : this.productStatusNM,
                                    articleCode: this.articleCode,
                                    description: this.description,
                                    fromWarehouseAreaUD  : ''
                                });
                            }
                            else if (this.productType == 'SPAREPART')
                            {
                                $scope.editData.warehouseTransportSparepartDetails.push({
                                    WarehouseTransportSparepartDetailID: $scope.getNewID(),
                                    productStatusID : this.productStatusID,
                                    sparepartID: this.goodsID,
                                    quantity: this.quantity,

                                    productStatusNM : this.productStatusNM,
                                    articleCode: this.articleCode,
                                    description: this.description,
                                    fromWarehouseAreaUD  : ''
                                });
                            }
                            
                        }
                    });
                    $scope.quicksearchproduct.data = null;
                    jQuery('#product-popup').hide();
                    jQuery('#quickSearchBoxProduct').val('');
                    jQuery('#quickSearchBoxSparepart').val('');
                    $event.preventDefault();
                }
            }
        }

        quicksearchAreaFromTimer = null;
        $scope.quicksearchAreaFrom = {
            data: null,
            currentEditItem : null,

            popupformID : 'popup-area-from',

            event: {
                searchClick: function ($event, item) {
                    //mark the id of row that is editing
                    $scope.quicksearchAreaFrom.currentEditItem = item;

                    //set data
                    if (item.fromWarehouseAreaUD == '')
                    {
                        $scope.quicksearchAreaFrom.data = $scope.supportData.fromWarehouseAreas.filter(function(o){return o.goodsID == item.productID && o.productStatusID == item.productStatusID});
                    }
                    else {
                        fromArea = item.fromWarehouseAreaUD.toUpperCase();
                        $scope.quicksearchAreaFrom.data = $scope.supportData.fromWarehouseAreas.filter(function(o){return o.goodsID == item.productID && o.productStatusID == item.productStatusID && o.warehouseAreaUD.toUpperCase().indexOf(fromArea) !=-1});
                    }
                    
                    //show search result
                    jQuery("#receipt_product_detail_id" + item.warehouseTransportProductDetailID).append(jQuery('#' + $scope.quicksearchAreaFrom.popupformID));
                    jQuery('#' + $scope.quicksearchAreaFrom.popupformID).show();
                },

                searchBoxKeyUp: function ($event, item) {
                    if ($event.keyCode == 13) {
                        $scope.quicksearchAreaFrom.event.searchClick($event, item);
                    }
                    else if (item.fromWarehouseAreaUD.length >= 2) {
                        clearTimeout(quicksearchAreaFromTimer);
                        quicksearchAreaFromTimer = setTimeout(
                            function () {
                                $scope.quicksearchAreaFrom.event.searchClick($event, item);
                            },
                            500
                        );
                    }
                },

                close: function ($event) {
                    jQuery('#' + $scope.quicksearchAreaFrom.popupformID).hide();
                    $scope.quicksearchAreaFrom.data = null;
                    $event.preventDefault();
                },
                itemSelected: function ($event, warehouseItem) {
                    receiptDetail = $scope.quicksearchAreaFrom.currentEditItem;
                    receiptDetail.fromWarehouseAreaID = warehouseItem.warehouseAreaID;
                    receiptDetail.fromWarehouseAreaUD = warehouseItem.warehouseAreaUD;
                    $scope.quicksearchAreaFrom.event.close($event);
                }
            }
        }


        $scope.getEditSupport();
        //load form
        $scope.load();

    }]);

    </script>
}



