@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Upload New Item";
    }
    else
    {
        ViewBag.Title = "Edit Gallery Item";
    }

    ViewBag.Module = "Gallery";
}

<form class="row" name="editForm" id="main-form">    
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <span> General </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabTracking"> <i class="fa fa-history"></i> <span> Tracking </span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="widget-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabGeneral">
                            <div class="smart-form">
                                <footer style="background: none; border: none;">
                                    <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.addImage()">Add new image/video</a>
                                </footer>
                                <fieldset>
                                    <div class="row" ng-repeat="verionVal in versions">
                                        <label class="label" style="font-weight: bold;">Version {{verionVal}}</label>                                            
                                        <div class="superbox col-sm-12" style="font-size: 0px; margin-bottom: 15px;">
                                            <div class="superbox-list" style="box-sizing: border-box; padding: 5px; border: solid 1px #ddd;" ng-repeat="item in $parent.data.imageGalleryVersions | filter: {version: verionVal}">
                                                <a href="{{item.fileLocation}}" data-fea data-featherlight="image"><img class="superbox-img" ng-src="{{item.thumbnailLocation}}"></a>
                                                <span ng-if="item.isDefault" style="display: block; position: absolute; bottom: 5px; left: 5px; width: 25px; height: 25px; text-align: center; color: #0000ff; font-size: 20px;"><i class="fa fa-check-circle"></i></span>
                                                <div class="action-panel">
                                                    <a class="edit-image" href="javascript:void(0)" ng-click="event.editImage(item)">Edit</a>
                                                    <a class="delete-image" href="javascript:void(0)" ng-click="event.removeImage(item)">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <section class="col col-10">
                                            <label class="label">Model</label>
                                            <label class="input">
                                                <input type="text" id="modelSelectBox" ng-model="data.modelID" />
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Season</label>
                                            <label class="select">
                                                <select ng-model="data.seasonTypeID" ng-options="season.seasonTypeID as season.seasonTypeNM for season in seasonTypes">
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>                    
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Temp Description</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.tempDescription" />
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label" ng-class="{'state-error': editForm.galleryType.$error.required}">Type</label>
                                            <label class="select">
                                                <select ng-model="data.galleryItemTypeID" name="galleryType" ng-options="itemType.galleryItemTypeID as itemType.galleryItemTypeNM for itemType in galleryItemTypes" required>
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                            <div class="note note-error" ng-show="editForm.galleryType.$error.required">Required</div>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Bring In By</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.sampleImportBy" />
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Bring In Date</label>
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" data-dateformat="dd/mm/yy" class="datepicker" ng-model="data.sampleImportDate" />
                                            </label>
                                        </section>      
                                        <section class="col col-10">
                                            <label class="label">Remark</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.description" />
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">&nbsp;</label>
                                            <label class="checkbox">
                                                <input type="checkbox" ng-model="data.isFinalized">
                                                <i></i>Finalized
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">Material</label>
                                            <label class="select">
                                                <select ui-select2 ng-model="data.materialID" style="width:100%" class="select2">
                                                    <option value=""></option>
                                                    <option ng-repeat="material in materials | orderBy: 'materialNM'" value="{{material.materialID}}">{{material.materialNM}}</option>
                                                </select>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Material Type</label>
                                            <label class="select">
                                                <select ui-select2 ng-model="data.materialTypeID" style="width:100%" class="select2">
                                                    <option value=""></option>
                                                    <option ng-repeat="materialType in materialTypes | orderBy: 'materialTypeNM'" value="{{materialType.materialTypeID}}">{{materialType.materialTypeNM}}</option>
                                                </select>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">Material Color</label>
                                            <label class="select">
                                                <select ui-select2 ng-model="data.materialColorID" style="width:100%" class="select2">
                                                    <option value=""></option>
                                                    <option ng-repeat="materialColor in materialColors | orderBy: 'materialColorNM'" value="{{materialColor.materialColorID}}">{{materialColor.materialColorNM}}</option>
                                                </select>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">Back Cushion</label>
                                            <label class="select">
                                                <select ui-select2 ng-model="data.backCushionID" style="width:100%" class="select2">
                                                    <option value=""></option>
                                                    <option ng-repeat="backCushion in backCushionOptions | orderBy: 'backCushionNM'" value="{{backCushion.backCushionID}}">{{backCushion.backCushionNM}}</option>
                                                </select>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Seat Cushion</label>
                                            <label class="select">
                                                <select ui-select2 ng-model="data.seatCushionID" style="width:100%" class="select2">
                                                    <option value=""></option>
                                                    <option ng-repeat="seatCushion in seatCushionOption | orderBy: 'seatCushionNM'" value="{{seatCushion.seatCushionID}}">{{seatCushion.seatCushionNM}}</option>
                                                </select>
                                            </label>
                                        </section>
                                        <section class="col col-8">
                                            <label class="label">Cushion Color</label>
                                            <label class="select">
                                                <select ui-select2 ng-model="data.cushionColorID" style="width:100%" class="select2">
                                                    <option value=""></option>
                                                    <option ng-repeat="cushionColor in cushionColors | orderBy: 'cushionColorNM'" value="{{cushionColor.cushionColorID}}">{{cushionColor.cushionColorNM}}</option>
                                                </select>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">
                                                Client
                                            </label>
                                            <label class="select">
                                                <select ng-model="selectedClient" ng-options="client.clientID as client.clientUD for client in clients | orderBy: 'clientUD'">
                                                    <option value=""></option>
                                                </select>
                                                <a href="javascript:void(0)" class="btn btn-primary btn-xs font-11" ng-click="event.addClient()" style="position: absolute; top: 5px; right: 5px;">Add</a>
                                                <div class="note">
                                                    <strong>Note:</strong> Select client code and click add
                                                </div>
                                            </label>
                                        </section>
                                        <section class="col col-8">
                                            <label class="label">
                                                &nbsp;
                                            </label>
                                            <div class="form-group">
                                                <div class="bootstrap-tagsinput">
                                                    <span ng-repeat="item in data.imageGalleryClients" class="tag label label-info">{{item.clientUD}}<span data-role="remove" ng-click="event.removeClient($index)"></span></span>
                                                </div>
                                            </div>
                                        </section>                            
                                    </div>                                   
                                </fieldset>
                            </div>
                        </div>                        
                        <div class="tab-pane" id="tabTracking">
                            <div class="smart-form">
                                <fieldset>
                                    <section class="col col-3">
                                        <label class="label">Updated By</label>
                                        <label class="input">
                                            <span class="form-control">
                                                <a ng-if="data.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i> {{data.updatorName}}
                                                </a>
                                            </span>
                                        </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="label">Updated Date</label>
                                        <label class="input">
                                            <span class="form-control">{{data.updatedDate}}</span>
                                        </label>
                                    </section>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

<div id="imageForm" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit Image</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section class="col col-6" style="text-align: center;">
                            <img ng-src="{{currentImage.thumbnailLocation}}" style="width: 100%;" />
                            <br/><br/>
                            <a href="javascript:void(0)" ng-click="event.changeImageFile()">Change</a>
                        </section>
                        <section class="col col-6">
                            <section>
                                <label class="label">Version</label>
                                <label class="input">
                                    <input type="text" ng-model="currentImage.version"/>
                                </label>
                            </section>
                            <section>
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="currentImage.isDefault">
                                    <i></i>Default
                                </label>
                            </section>
                            <section>
                                <label class="label">Tracking</label>
                                <label class="input">
                                    <span class="form-control">Updated By {{currentImage.updatorName}} on {{currentImage.updatedDate}}</span>
                                </label>
                            </section>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.updateImage()">
                    Update
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "ImageGallery")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Approve"><i class="fa fa-thumbs-o-up"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Reset Approval status"><i class="fa fa-thumbs-o-down"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/gallery/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.supportServiceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        var context = {
            id: @ViewBag.ID,
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            backUrl: '@Url.Action("Index", "ImageGallery")',
            refreshUrl: '@Url.Action("Edit", "ImageGallery", new { id = UrlParameter.Optional })/',
            movieImage: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])Media/Thumbnail/avi.png',
            moviePlayer: '@Url.Action("Video", "Tool")'
        }
    </script>
    <script src="~/Angular/app/imageGallery/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/imageGallery/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

