@{
    ViewBag.Title = "Search Gallery";
    ViewBag.Module = "Gallery";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Model</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.ModelNM" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Season Type</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.SeasonTypeID" ng-options="season.seasonTypeID as season.seasonTypeNM for season in seasonTypes">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Item Type</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.GalleryItemTypeID" ng-options="itemType.galleryItemTypeID as itemType.galleryItemTypeNM for itemType in galleryItemTypes">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Client Code</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.ClientUD" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Material</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.MaterialNM" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Material Type</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.MaterialTypeNM" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Material Color</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.MaterialColorNM" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Back Cushion</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.BackCushionNM" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Seat Cushion</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.SeatCushionNM" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Cushion Color</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.CushionColorNM" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Bring in By</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.SampleImportBy" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Finalized</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.IsFinalized" ng-options="yesno.yesNoValue as yesno.yesNoText for yesno in yesNos">
                                            <option value="">All</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div id="searchResult" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1160px;">
                                <div style="width: 60px;">&nbsp;</div>
                                <div style="width: 150px;">Image</div>
                                <div style="width: 80px;">Version</div>
                                <div style="width: 80px">Client</div>
                                <div style="width: 120px;">Bring In</div>
                                <div style="width: 120px;" class="sorting" data-colname="GalleryItemTypeNM">Type</div>
                                <div style="width: 300px" data-colname="ModelNM">Item description</div>
                                <div style="width: 150px" data-colname="Description">Remark</div>
                                <div class="sorting" data-colname="UpdatorName">Updated</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1160px;">
                                <table>
                                    <tr ng-repeat="model in data">
                                        <td style="text-align: center; width: 60px;">
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                            {
                                                <a target="_blank" class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "ImageGallery")/{{model.imageGalleryID}}" title="View (Read Only)"><i class="fa fa-folder-open"></i> View</a>
                                            }
                                            else
                                            {
                                                <a target="_blank" class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "ImageGallery")/{{model.imageGalleryID}}" title="Edit"><i class="fa fa-pencil"></i> Edit</a>
                                            }
                                            
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                            {
                                                <a class="btn btn-danger btn-xs font-11" style="margin-top: 5px; width: 41px;" href="javascript:void(0)" ng-click="event.delete(model.imageGalleryID)" title="Delete"><i class="fa fa-times"></i> Del</a>
                                            }
                                        </td>
                                        <td style="width: 150px; text-align: center; position: relative;">
                                            <a ng-if="!method.isVideo(model.fileLocation)" href="{{model.fileLocation}}" data-fea data-featherlight="image">
                                                <img style="width: 95%;" ng-src="{{model.thumbnailLocation}}" />
                                            </a>
                                            <a target="_blank" ng-if="method.isVideo(model.fileLocation)" href="{{model.fileLocation}}">
                                                <img style="width: 95%;" ng-src="{{model.thumbnailLocation}}" />
                                            </a>
                                            <span class="version">{{model.currentVersion}}</span>
                                        </td>
                                        <td style="width: 80px;">
                                            <input type="checkbox" disabled ng-checked="model.currentVersion == 1" /> Version 1
                                            <br/>
                                            <input type="checkbox" disabled ng-checked="model.currentVersion == 2" /> Version 2
                                            <br/>
                                            <input type="checkbox" disabled ng-checked="model.currentVersion == 3" /> Version 3
                                            <br/>
                                            <input type="checkbox" disabled ng-checked="model.currentVersion == 4" /> Version 4
                                            <br />
                                            <input type="checkbox" disabled ng-checked="model.currentVersion == 5" /> Version 5
                                            <br />
                                            <input type="checkbox" disabled ng-checked="model.isFinalized" /> Is Final
                                        </td>
                                        <td style="width: 80px;">{{model.client}}</td>
                                        <td style="width: 120px;">
                                            <strong>By</strong>: {{model.sampleImportBy}}
                                            <br/>
                                            <strong>On</strong>: {{model.sampleImportDate}}</td>
                                        <td style="width: 120px;">
                                            <strong>Type</strong>: {{model.galleryItemTypeNM}}
                                            <br />
                                            <strong>Season</strong>: {{model.seasonTypeNM}}
                                        </td>
                                        <td style="width: 300px;">
                                            <strong>Model</strong>: {{model.modelNM}}
                                            <br/>
                                            <strong>Material</strong>: {{model.materialNM}}
                                            <br/>
                                            <strong>Material Type</strong>: {{model.materialTypeNM}}
                                            <br />
                                            <strong>Material Color</strong>:{{model.materialColorNM}}
                                            <br />
                                            <strong>Back Cushion</strong>: {{model.backCushionNM}}
                                            <br />
                                            <strong>Seat Cushion</strong>: {{model.seatCushionNM}}
                                            <br />
                                            <strong>Cushion Color</strong>: {{model.cushionColorNM}}
                                            <br/>
                                            <strong>Temp Description</strong>: {{model.tempDescription}}
                                        </td>
                                        <td style="width: 150px;">{{model.description}}</td>
                                        <td>
                                            <strong>By</strong>: 
                                            <a ng-if="model.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{model.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                <i class="fa fa-user"></i> {{model.updatorName}}
                                            </a>
                                            <br/>
                                            <strong>On</strong>: {{model.updatedDate}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Edit", "ImageGallery")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/gallery/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    </script>
    <script src="~/Angular/app/imageGallery/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/imageGallery/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
