<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title>Client portal - @ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    @Styles.Render("~/bundles/templatecss")

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="~/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/img/favicon/favicon.ico" type="image/x-icon">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
</head>
<body class="fixed-page-footer" ng-app="cpApp">
    @Html.Partial("~/Views/Shared/_Layout/_Header.cshtml")
    @Html.Partial("~/Views/Shared/_Layout/_LeftNav.cshtml")

    <!-- MAIN PANEL -->
    <div id="main" role="main">
        @Html.Partial("~/Views/Shared/_Layout/_Ribbon.cshtml")

        <!-- MAIN CONTENT -->
        <div id="content" ng-controller="cpController">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
                    <!-- page title-->
                    <h1 class="page-title txt-color-blueDark">
                        @ViewBag.Title
                    </h1>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6">
                    @RenderSection("FormAction", false)
                </div>
            </div>

            <!-- widget grid -->
            <section id="widget-grid" class="">
                @RenderBody()
            </section>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/_Layout/_Footer.cshtml")
    @Scripts.Render("~/bundles/templatejs")
    <!--[if IE 8]>
    <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
    <![endif]-->

    <script>
        $(document).ready(function () {
            pageSetUp();
        });

        var context = {
            authStore: '@ClientPortal.Library.Helper.COOKIE_BEARER_TOKEN',
            userStore: '@ClientPortal.Library.Helper.COOKIE_USER_INFO',
            serviceUrl : '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])'
        };
    </script>

    @RenderSection("PageJs", required: false)
    @RenderSection("PagePopup", required: false)
</body>
</html>
