@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create Factory Goods Procedure";
    }
    else
    {
        ViewBag.Title = "Edit Factory Goods Procedure";
    }

    ViewBag.Module = "Factory Goods Procedure";
}
<form class="row" name="editForm" id="main-form">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2> General </h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <div class="row">
                            <div class="col col-lg-12">
                                <section>
                                    <label class="label">Factory Goods Procedure Name</label>
                                    <label class="input">
                                        <input id="componentNM" type="text" class="form-control" ng-model="data.factoryGoodsProcedureNM" />
                                    </label>
                                </section>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-lg-12">
                                <a class="btn btn-primary btn-xs" style="margin-bottom:4px" ng-click="event.addStep($event)"><i class="fa fa-plus"></i> Add Step Component Progress</a>
                                <div id="" class="tilsoft-table-wrapper">
                                    <div class="tilsoft-table">
                                        <div class="tilsoft-table-header">
                                            <div style="width:81px"></div>
                                            <div style="width:150px">Step</div>
                                            <div>Index</div>
                                        </div>
                                        <div class="tilsoft-table-body">
                                            <table>
                                                <tr ng-repeat="item in data.factoryGoodsProcedureDetailDTOs">
                                                    <td style="text-align:center;width:80px;vertical-align:middle">
                                                        <a class="btn btn-danger btn-xs font-11" ng-click="event.deleteStep($event, item.factoryGoodsProcedureDetailID)"><i class="fa fa-times"></i> Delete</a>
                                                    </td>
                                                    <td style="width:150px">
                                                        <select class="form-control" ng-model="item.factoryStepID" ng-options="x.factoryStepID as x.factoryStepNM for x in factorySteps | orderBy: 'factoryStepNM'">
                                                            <option value=""></option>
                                                        </select>
                                                        <i></i>
                                                    </td>
                                                    <td><input type="text" ng-model="item.stepIndex" class="form-control" style="text-align:center"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "FactoryGoodsProcedure")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            id: @ViewBag.ID,
            serviceUrl: "@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factoryGoodsProcedure/",
            token: "@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]",
            refeshUrl: "@Url.Action("Edit", "FactoryGoodsProcedure", new { id = UrlParameter.Optional })/",
            backUrl: "@Url.Action("Index", "FactoryGoodsProcedure")"
        }
    </script>
    <script src="~/Angular/app/factoryGoodsProcdure/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/factoryGoodsProcdure/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}