@{

    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var supportServiceRoot = (System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"]);
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Transportation Service";
    }
    else
    {
        ViewBag.Title = "Edit Transportation Service";
    }

    ViewBag.Module = "TransportationService";
}

<form class="row" name="editForm" id="main-form">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>Transportation Service Information</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">
                                        Transportation service name
                                        <em ng-show="editForm.transportationServiceNM.$error.required" class="note note-error">(Required)</em>
                                    </label>
                                    <label class="input" ng-class="{'state-error': editForm.transportationServiceNM.$error.required}">
                                        <input name="transportationServiceNM" type="text" maxlength="255" ng-model="data.transportationServiceNM" required />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Plate number</label>
                                    <label class="input">
                                        <input type="text" maxlength="255" ng-model="data.plateNumber" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Driver name</label>
                                    <label class="input">
                                        <input type="text" maxlength="255" ng-model="data.driverName" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Mobile number</label>
                                    <label class="input">
                                        <input type="text" maxlength="255" ng-model="data.mobileNumber" />
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-sm-12 col-md-12 col-lg-12">
                                    <label class="label">Remark</label>
                                    <label class="input">
                                        <input type="text" maxlength="255" ng-model="data.remark" />
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "TransportationService")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update()"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.remove(data.transportationServiceID)"><i class="fa fa-times"></i></a>
        </li>
    </ul>
}

@section pagejs{
    <script type="text/javascript">

        var context = {
            id: @ViewBag.ID,
            backUrl: '@Url.Action("Index", "TransportationService")',
            refreshUrl: '@Url.Action("Edit", "TransportationService", new { id = UrlParameter.Optional })/',
            serviceUrl: '@(serviceRoot)/api/transportationservice/',
            token: '@token',
            msgValid: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED' ,
        }
    </script>
    <script type="text/javascript" src="~/Views/TransportationService/edit.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/TransportationService/service.js?v=@guid"></script>

}

