@{
    ViewBag.Title = "Step Detail";
    ViewBag.Icon = "fa-comment-o";
    ViewBag.Module = "To do list";
    Frontend.APIDTO.APIUserInformation userInfo = (Frontend.APIDTO.APIUserInformation)Session[Frontend.Customize.Common.ProjectDefinition.USER_INFO_SESSION];
}
<style>
    .custom-pagination {
        display: none !important;
    }
</style>

<form class="row" name="editForm" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <header>
                    <ul class="nav nav-tabs pull-left in">
                        <li class="active">
                            <a data-toggle="tab" href="#general"> <span> Step Information </span> </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#comment"> <span> Comments </span> </a>
                        </li>
                    </ul>
                </header>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="tab-content">
                        <div class="tab-pane active" id="general">
                            <div class="smart-form">
                                <fieldset>
                                    <section>
                                        <label class="label">Task description</label>
                                        <label class="textarea">
                                            <textarea rows="8" readonly>{{data.taskDescription}}</textarea>
                                        </label>
                                    </section>
                                    <div class="row">                                        
                                        <section class="col col-2">
                                            <label class="label">Step Index</label>
                                            <label class="input">
                                                <span class="form-control">{{data.stepIndex}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-4" ng-if="!method.canUpdate(@userInfo.Data.UserId)">
                                            <label class="label">Status</label>
                                            <label class="input">
                                                <span class="form-control">{{data.taskStatusNM}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-4" ng-if="method.canUpdate(@userInfo.Data.UserId)">
                                            <label class="label">Status</label>
                                            <label class="select">
                                                <select ng-model="data.stepStatusID" ng-options="taskStatus.taskStatusID as taskStatus.taskStatusNM for taskStatus in taskStatuses">
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-6" ng-if="method.canUpdate(@userInfo.Data.UserId)">
                                            <label class="label">&nbsp;</label>
                                            <a href="javascript:void(0)" ng-click="event.updateStatus()" class="btn btn-primary btn-sm">Update Status</a>
                                        </section>
                                    </div>
                                    <section>
                                        <label class="label">Step description</label>
                                        <label class="textarea">
                                            <textarea rows="8" readonly>{{data.description}}</textarea>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">Invovled person</label>
                                        <div style="border: solid 1px #ddd; padding: 15px;">
                                            <ul class="file-list">
                                                <li ng-repeat="item in data.taskStepUsers">
                                                    <strong>{{item.fullName}}</strong>: {{item.taskRoleNM}}
                                                    <br />
                                                    {{item.officeNM}}
                                                </li>
                                            </ul>
                                        </div>
                                    </section>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="comment">
                            <div class="smart-form">
                                <fieldset>
                                    <section>
                                        <h1>YOUR COMMENT</h1>
                                    </section>
                                    <section>
                                        <label class="textarea">
                                            <textarea rows="8" ng-model="currentComment.comment"></textarea>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">Attached files <a href="javascript:void(0)" class="btn btn-primary btn-xs" ng-click="event.uploadFile()"><i class="fa fa-plus"></i> Add</a></label>
                                        <div style="border: solid 1px #ddd; padding: 15px;">
                                            <ul class="file-list">
                                                <li ng-repeat="item in currentComment.taskStepCommentFiles">
                                                    <strong>{{item.friendlyName}}</strong> <a href="{{item.fileLocation}}" target="_blank"><i class="fa fa-download"></i> Download</a> | <a href="javascript:void(0)" style="color: #ff0000;" ng-click="event.removeUploadFile(item)"><i class="fa fa-times"></i> Remove</a>
                                                    <br />
                                                    {{item.description}}
                                                </li>
                                            </ul>
                                        </div>
                                    </section> 
                                </fieldset>
                                <footer style="border-bottom: 1px solid rgba(0,0,0,.1);">
                                    <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.updateComment()"><i class="fa fa-save"></i> Publish</a>
                                </footer>
                            </div>
                            <div class="smart-form">
                                <fieldset>
                                    <section>
                                        <h1><i class="fa fa-comment-o"></i> PREVIOUS COMMENT</h1>
                                    </section>
                                </fieldset>
                            </div>                           
                            <div class="smart-timeline">
                                <ul class="smart-timeline-list">
                                    <li ng-repeat="item in taskStepComments | orderBy: '-updatedDate'">
                                        <div class="smart-timeline-icon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div class="smart-timeline-time">
                                            <small>{{item.updatedDate}}</small>
                                        </div>
                                        <div class="smart-timeline-content">
                                            <p>
                                                <a href="javascript:void(0);"><strong>{{item.updatorName}}</strong></a>
                                                <br />
                                                {{item.officeNM}}
                                            </p>
                                            <p>
                                                {{item.comment}}
                                            </p>
                                            <h2 ng-if="item.taskStepCommentFiles.length > 0">Attach files</h2>
                                            <ul class="file-list">
                                                <li ng-repeat="file in item.taskStepCommentFiles">
                                                    <strong>{{file.friendlyName}}</strong> <a href="{{file.fileLocation}}" target="_blank"><i class="fa fa-download"></i> Download</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/task/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.supportServiceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        var context = {
            id: @ViewBag.ID,
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            refreshUrl: '@Url.Action("Detail", "TaskMng", new { id = UrlParameter.Optional })/',
            editTitle: '@ViewBag.Title'
        }
    </script>
    <script src="~/Angular/app/taskMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/taskMng/detail.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

