@{
    ViewBag.Title = "Task";
    ViewBag.Icon = "fa-pencil-square-o";
    ViewBag.Module = "To do list";
}
<style>
    .custom-pagination {
        display: none !important;
    }
</style>

<form class="row" name="editForm" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <span> General Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#step"> <span> Steps and comments </span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabGeneral">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">Code</label>
                                            <label class="input">
                                                <span class="form-control">{{data.taskUD}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-10">
                                            <label class="label">Name</label>
                                            <label class="input">
                                                <span class="form-control">{{data.taskNM}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">Start Date</label>
                                            <label class="input">
                                                <span class="form-control">{{data.startDate}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Est End Date</label>
                                            <label class="input">
                                                <span class="form-control">{{data.estEndDate}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">End Date</label>
                                            <label class="input">
                                                <span class="form-control">{{data.endDate}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">% Completed</label>
                                            <label class="input">
                                                <span class="form-control">{{data.completedPercent}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Status</label>
                                            <label class="input">
                                                <span class="form-control">{{data.taskStatusNM}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <section>
                                        <label class="label">Description</label>
                                        <label class="textarea">
                                            <textarea readonly rows="8" ng-model="data.description"></textarea>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">Attached files</label>
                                        <div style="border: solid 1px #ddd; padding: 15px;">
                                            <ul class="file-list">
                                                <li ng-repeat="item in data.taskFiles">
                                                    <strong>{{item.friendlyName}}</strong>
                                                    <br />
                                                    {{item.description}}
                                                </li>
                                            </ul>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="note" ng-if="data.updatorName"><strong>Updated By</strong>: {{data.updatorName}} on {{data.updatedDate}}</div>
                                    </section>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="step">
                            <div class="smart-form">
                                <fieldset>
                                    <section>
                                        <div id="grdStep" class="tilsoft-table-wrapper">
                                            <div class="tilsoft-table">
                                                <div class="tilsoft-table-header" style="width: 1120px;">
                                                    <div style="width: 100px;">&nbsp;</div>
                                                    <div style="width: 80px;">Index</div>
                                                    <div style="width: 400px;">Description</div>
                                                    <div>User</div>
                                                </div>
                                                <div class="tilsoft-table-body" style="width: 1120px;">
                                                    <table>
                                                        <tr ng-repeat="item in data.taskSteps">
                                                            <td style="width: 100px; text-align: center;">
                                                                <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Detail", "TaskMng", new { id = UrlParameter.Optional })/{{item.taskStepID}}" style="margin-bottom: 5px; width: 80px;" target="_blank"><i class=" fa fa-comment-o"></i> Comment</a>
                                                            </td>
                                                            <td style="width: 80px;">{{item.stepIndex}}</td>
                                                            <td style="width: 400px;">
                                                                <strong ng-if="item.taskStatusNM">{{item.taskStatusNM}}</strong>
                                                                <strong ng-if="!item.taskStatusNM">PENDING</strong>
                                                                <br />
                                                                {{item.description}}
                                                            </td>
                                                            <td>
                                                                <ul style="margin-left: 15px;">
                                                                    <li ng-repeat="user in item.taskStepUsers">
                                                                        <strong>{{user.fullName}} ({{user.officeNM}})</strong>: {{user.taskRoleNM}}
                                                                        <br />
                                                                        {{user.description}}
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "TaskMng")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/task/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.supportServiceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        var context = {
            id: @ViewBag.ID
        }
    </script>
    <script src="~/Angular/app/taskMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/taskMng/readonly.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

