@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create Agent";
    }
    else
    {
        ViewBag.Title = "Edit Agent";
    }

    ViewBag.Module = "Agent";
}

<form class="row" name="editForm">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>General</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">

                        <div class="row">
                            <section class="col col-1">
                                <label>Agent Code</label>
                                <input type="text" class="form-control" ng-model="data.agentUD" />
                            </section>

                            <section class="col col-2">
                                <label>Agent Name</label>
                                <input type="text" class="form-control" ng-model="data.agentNM" />
                            </section>

                            <section class="col col-1">
                                <label>Tel</label>
                                <input class="form-control" type="text" id="telephone" ng-model="data.tel">
                            </section>

                            <section class="col col-1">
                                <label>Fax</label>
                                <input class="form-control" type="text" id="fax" ng-model="data.fax">
                            </section>

                            <section class="col col-2">
                                <label>Email</label>
                                <input class="form-control" type="text" id="email" ng-model="data.email">
                            </section>

                            <section class="col col-1">
                                <label>Zip Code</label>
                                <input class="form-control" type="text" id="zipCode" ng-model="data.zipCode">
                            </section>

                            <section class="col col-2">
                                <label>Country</label>
                                <select class="form-control" ng-model="data.clientCountryID" ng-options="item.clientCountryID as item.clientCountryNM for item in clientCountries ">
                                    <option value=""></option>
                                </select>
                            </section>

                            <section class="col col-1">
                                <label>City</label>
                                <select class="form-control" ng-model="data.clientCityID" ng-options="item.clientCityID as item.clientCityNM for item in clientCities | filter:{clientCountryID: data.clientCountryID}" ng-disabled="data.clientCountryID == null || data.clientCountryID ==''">
                                    <option value=""></option>
                                </select>
                            </section>

                            <section class="col col-1">
                                <label></label>
                                <br />
                                <label>Visible</label>
                                <span class="onoffswitch">
                                    <input name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" type="checkbox" ng-model="data.visible" />
                                    <label class="onoffswitch-label" for="myonoffswitch"> <span class="onoffswitch-inner" data-swchon-text="YES" data-swchoff-text="NO"></span> <span class="onoffswitch-switch"></span> </label>
                                </span>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

<form class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-client" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-table"></i>
                </span>
                @*<h2>Client Result</h2>*@
            </header>
            <div class="smart-form">
                <div class="widget-body no-padding">
                    <div avs-table grid-handler="gridHandler" class="avs-table-wrapper">
                        <div class="avs-table-header">
                            <div class="avs-table-header-container">
                                <table>
                                    <tr class="header-row" style="height: auto;">
                                        <td style="width: 40px;" rowspan="2">#</td>
                                        <td style="width: 80px;" rowspan="2">Season</td>
                                        <td style="width: 80px;" rowspan="2">Client Code</td>
                                        <td style="width: 350px;" rowspan="2">Client Name</td>
                                        <td style="width: 50px;" rowspan="2">% Com</td>
                                        <td style="width: 70px;" rowspan="2">Delta 9 (%)</td>
                                        <td style="width: 120px;" rowspan="2">Delta 9</td>

                                        <td style="width:300px" colspan="3">
                                            PI Confirmed
                                        </td>

                                        <td style="width:200px" colspan="2">
                                            CI Confirmed
                                        </td>                                        
                                    </tr>
                                    <tr class="header-row">
                                        @*<td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>*@

                                        <td>AMOUNT(USD)</td>
                                        <td style="width:50px">% COM</td>
                                        <td>COM AMOUNT(USD)</td>

                                        <td>AMOUNT(USD)</td>
                                        <td>COM AMOUNT(USD)</td>
                                    </tr>
                                    <tr class="total-row">
                                        <td>({{amountByClientAndSeasons_Affter.length}})</td>
                                        <td>
                                            <select style="width:90%"  ng-model="filter.season" ng-options="item.seasonValue as item.seasonText for item in seasons ">
                                                <option value=""></option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text"  ng-model="filter.clientUD" />
                                        </td>
                                        <td>
                                            <input type="text"  ng-model="filter.clientNM" />
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                        <td>{{method.sumAmountPI() | currency:'$':2}}</td>
                                        <td></td>
                                        <td>{{method.sumComAmountPI() | currency:'$':2}}</td>

                                        <td>{{method.sumAmountCI() | currency:'$':2}}</td>
                                        <td>{{method.sumComAmountCI() | currency:'$':2}}</td>
                                    </tr>                 
                                </table>
                            </div>
                        </div>
                        <div class="avs-table-body">
                            <table>
                                <tr ng-repeat="item in amountByClientAndSeasons_Affter = (amountByClientAndSeasons | filterCustom : filter.season : filter.clientUD : filter.clientNM)">
                                    <td style="text-align:center">{{$index + 1}}</td>
                                    <td style="text-align: center; vertical-align:middle">{{item.season}}</td>
                                    <td style="text-align: center;  vertical-align:middle">{{item.clientUD}}</td>
                                    <td style="text-align: left;  vertical-align:middle">{{item.clientNM}}</td>
                                    <td style="text-align: left;  vertical-align:middle; text-align:right">{{item.defaultCommissionPercent | number:1}}{{item.defaultCommissionPercent != null ? '%' : ''}}</td>
                                    <td style="text-align: left; vertical-align:middle; text-align:right">{{item.delta8Percent | number:1}}{{item.delta8Percent != null ? '%' : ''}}</td>
                                    <td style="text-align: left;  vertical-align:middle; text-align:right">{{item.delta8Amount | currency:'$':2}}</td>
                                    <td style="text-align: left; vertical-align:middle; text-align:right">{{item.amountPI | currency:'$':2}}</td>
                                    <td style="text-align: left;  vertical-align:middle; text-align:right">{{item.comPercentPI | number:1}}{{item.comPercentPI != null ? '%' : ''}}</td>
                                    <td style="text-align: left; vertical-align:middle; text-align:right">{{item.comAmountPI |currency:'$':2}}</td>
                                    <td style="text-align: left;  vertical-align:middle; text-align:right">{{item.amountCI | currency:'$':2}}</td>
                                    <td style="text-align: left;  vertical-align:middle; text-align:right">{{item.comAmountCI | currency:'$':2}}</td>
                                </tr>
                            </table>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "Agents")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#"  class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#"  class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/agents/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        var context = {
            id: '@ViewBag.ID',
            backUrl: '@Url.Action("Index", "Agents")',
            refreshUrl: '@Url.Action("Edit", "Agents", new { id = UrlParameter.Optional })/',
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            serviceUrl2: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/agents/'
        }
    </script>
    <script src="~/Angular/app/agents/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/agents/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

