@model Frontend.Models.FileUploadViewModel2

<!-- New file-->
<!--
<a  title="Upload file" href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="event.@(Model.JSOnChangeHandler)($event,@(Model.ControlID),@(Model.TypeID))">
    <i ng-if="!@Model.FileName" class="fa fa-folder-open-o"> Upload</i>
    <i ng-if="@Model.FileName" class="fa fa-pencil"> Edit</i>
</a>
-->
<button ng-if="!@Model.FileName" title="Upload file" class='btn btn-primary btn-xs' data-original-title='Upload' ng-click="event.@(Model.JSOnChangeHandler)($event,@(Model.ControlID),@(Model.TypeID))"><i class="fa fa-plus"></i></button>
<button ng-if="@Model.FileName" title="Change file" class='btn btn-xs btn-default' data-original-title='Edit' ng-click="event.@(Model.JSOnChangeHandler)($event,@(Model.ControlID),@(Model.TypeID))"><i class="fa fa-pencil"></i></button>

<!-- File exist-->
<a ng-if="@Model.FileName" title="View file" class="btn btn-xs btn-default" style="font-size: 11px;" ng-href="{{@Model.URLBinding}}" target="_blank">
    <i class="fa fa-eye"></i>
</a>
<button ng-if="@Model.FileName" title="Remove file" class='btn btn-xs btn-default' data-original-title='Remove' ng-click="event.@(Model.JSONRemoveHandler)($event,@(Model.ControlID),@(Model.TypeID))"><i class="fa fa-times"></i></button>

@if (Model.ReadOnly == true)
{
    <!-- Read Only -->
    <a ng-if="@Model.FileName" title="Upload file" href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-href="{{@Model.URLBinding}}" target="_blank">
        <i class="fa fa-plus-square-o"> View</i>
    </a>
    <a class="btn btn-primary btn-xs font-11" href="javascript:void(0)" ng-click="event.downLoad(@Model.URLBinding)" title="Download">
        <i class="fa fa-download"> Dowload</i>
    </a>
}
