@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create material norm";
    }
    else
    {
        ViewBag.Title = "Edit material norm";
    }

    ViewBag.Module = "Material Order Norm";
}

<form class="row" name="editForm">

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       
         <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>General</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        
                        <div class="row">
                            <section class="col col-sm-2">
                                <label>Season</label>
                                <select class="form-control" ng-model="data.season" ng-options="season.seasonValue as season.seasonText for season in seasons" name="season" required>
                                    <option value=""></option>
                                </select>
                                <span class="help-block" ng-show="editForm.season.$error.required"><i class="fa fa-warning"></i>Season is required.</span>
                            </section>
                            <section class="col col-sm-2">
                                <label>Client</label>
                                <span class="form-control">{{data.clientUD}}</span>
                            </section>
                            <section class="col col-sm-2">
                                <label>ArticleCode</label>
                                <span class="form-control">{{data.articleCode}}</span>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-sm-12">
                                <label>Description</label>
                                <span class="form-control">{{data.description}}</span>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-lg-12">
                                <div class="input">
                                    <input id="quickSearchBox-material" placeholder="press enter to search all material or type at least 3 chars to search material" class="form-control" type="text" ng-keyup="quickSearchMaterial.event.searchBoxKeyUp($event)" autocomplete="off">
                                    <a ng-click="quickSearchMaterial.event.searchClick()" href="javascript:void(0);"><i class="icon-append fa fa-search"></i></a>
                                    <div id="popup-material" class="popup-container-2" style="display: none; left: 0px; top: 32px;z-index: 50;">
                                        <div style="float: right; margin-bottom: 8px;">
                                            <a href="javascript:void(0);" ng-click="quickSearchMaterial.event.itemSelected($event)" class="btn btn-primary btn-xs">OK</a>
                                            <a href="javascript:void(0);" ng-click="quickSearchMaterial.event.close($event)" class="btn btn-danger btn-xs">Close</a>
                                        </div>
                                        <div class="clear"></div>
                                        <div id="quickSearchResultGrid-material" class="tilsoft-table-wrapper">
                                            <div class="tilsoft-table">
                                                <div class="tilsoft-table-header" style="width: 700px;">
                                                    <div style="width: 60px; text-align: center"></div>
                                                    <div style="width: 150px" class="sorting" data-colname="FactoryMaterialUD">Material Code</div>
                                                    <div style="width: 300px" class="sorting" data-colname="factoryMaterialNM">Material Name</div>
                                                    <div style="width: 300px" class="sorting" data-colname="factoryMaterialEnglishName">Material English Name</div>
                                                    <div style="width: 100px" class="sorting" data-colname="factoryMaterialGroupNM">Material Group</div>
                                                    <div style="width: 100px" class="sorting" data-colname="factoryMaterialTypeNM">Material Type</div>
                                                    <div style="width: 100px" class="sorting" data-colname="factoryMaterialColorNM">Material Color</div>
                                                    <div style="width: 70px" class="sorting" data-colname="unitNM">Unit</div>
                                                    <div> </div>
                                                </div>

                                                <div class="tilsoft-table-body" style="width: 700px;">
                                                    <table>
                                                        <tr ng-repeat="item in quickSearchMaterial.data">
                                                            <td style="width: 60px; vertical-align:middle">
                                                                <label class="checkbox" style="margin-left:15px; margin-bottom:20px">
                                                                    <input type="checkbox" ng-model="item.isSelected">
                                                                    <i></i>
                                                                </label>
                                                            </td>
                                                            <td style="width: 150px; vertical-align:middle">{{item.factoryMaterialUD}}</td>
                                                            <td style="width: 300px; vertical-align:middle">{{item.factoryMaterialNM}}</td>
                                                            <td style="width: 300px; vertical-align:middle">{{item.factoryMaterialEnglishName}}</td>
                                                            <td style="width: 100px; vertical-align:middle">{{item.factoryMaterialGroupNM}}</td>
                                                            <td style="width: 100px; vertical-align:middle">{{item.factoryMaterialTypeNM}}</td>
                                                            <td style="width: 100px; vertical-align:middle">{{item.factoryMaterialColorNM}}</td>
                                                            <td style="width: 70px; vertical-align:middle">{{item.unitNM}}</td>
                                                            <td style="text-align: center; vertical-align: middle;">
                                                                <div ng-repeat="item_image in item.factoryMaterialImages" class="float-img-list">
                                                                    <a href="{{item_image.fileLocation}}" data-featherlight="image">
                                                                        <img ng-src="{{item_image.thumbnailLocation}}" width="50" height="50" />
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                                <section class="col col-lg-12">
                                    <div id="grdMaterial" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-body" style="width: 1500px;margin-top:0px">
                                                <table>
                                                    <tr>
                                                        <th style="width:40px"></th>
                                                        <th style="width:200px">Material Code</th>
                                                        <th>Material Name</th>
                                                        <th style="width:100px">Unit</th>
                                                        <th style="width:100px">Norm</th>
                                                        <th style="width:300px">To be became semi product by procedure</th>
                                                    </tr>

                                                    <tr ng-repeat="item in data.factoryMaterialOrderNormDetails">
                                                        <td style="text-align:center; vertical-align:middle">
                                                            <a ng-click="event.removeMaterial($event,$index)" class="btn btn-danger btn-xs font-11" href="javascript:void(0);"><i class=" fa fa-times"></i>Del</a>
                                                        </td>
                                                        <td style="vertical-align:middle">{{item.factoryMaterialUD}}</td>
                                                        <td style="vertical-align:middle">{{item.factoryMaterialNM}}</td>
                                                        <td style="vertical-align:middle">
                                                            <select class="form-control" ng-model="item.unitID" ng-options="unit.unitID as unit.unitNM for unit in units | orderBy : 'unitNM'" disabled>
                                                                <option value=""></option>
                                                            </select>
                                                        </td>
                                                        <td style="vertical-align:middle"><input type="text" ng-model="item.normValue" style="width: 100%;text-align:right" /></td>
                                                        <td style="vertical-align:middle">
                                                            <select class="form-control" ng-model="item.factoryGoodsProcedureID" ng-options="x.factoryGoodsProcedureID as x.factoryGoodsProcedureNM for x in factoryGoodsProcedures | orderBy : 'factoryGoodsProcedureNM'">
                                                                <option value=""></option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="12"><b>Total Rows() : {{data.factoryMaterialOrderNormDetails.length}}</b></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>

</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "FactoryMaterialOrderNorm")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#"  class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#"  class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factoryMaterialOrderNorm/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        supportService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        supportService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            id: '@ViewBag.ID',
            clientID : '@ViewBag.clientID',
            productID : '@ViewBag.productID',
            backUrl: '@Url.Action("Index", "FactoryMaterialOrderNorm")',
            refreshUrl: '@Url.Action("Edit", "FactoryMaterialOrderNorm", new { id = UrlParameter.Optional })/',
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
        }
    </script>
    <script src="~/Angular/app/factoryMaterialOrderNorm/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/factoryMaterialOrderNorm/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

