@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create new Ledger Account";
    }
    else
    {
        ViewBag.Title = "Edit Ledger Account";
    }

    ViewBag.Module = "LedgerAccountMng";
}

<form class="row" name="editForm" id="main-form">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <span> Account Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabTracking"> <i class="fa fa-history"></i> <span> Tracking </span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="widget-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabGeneral">
                            <div class="smart-form">
                                <fieldset style="padding: 0px;">
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Account No</label>
                                            <label class="input">
                                                <input name="AccountNo" type="text" ng-model="data.accountNo" required />
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Vietnamese Name</label>
                                            <label class="input">
                                                <input name="VietnameseNM" type="text" ng-model="data.vietnameseNM"/>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">English Name</label>
                                            <label class="input">
                                                <input name="EnglishNM" type="text" ng-model="data.englishNM"/>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Parent Account</label>
                                            <select class="form-control" ng-model="data.parentID" ng-options="account.ledgerAccountID as account.accountNo for account in ledgerAccounts">
                                                <option value=""></option>
                                            </select>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Opening Debit Balance</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">₫</span>
                                                <input name="amount" type="text" class="form-control furnindo-currency" ng-model="data.openingDebit" furnindo-currency style="text-align:right" ng-currency fraction="0" currency-symbol="" value="0" />
                                            </div>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Opening Credit Balance</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">₫</span>
                                                <input name="amount" type="text" class="form-control furnindo-currency" ng-model="data.openingCredit" furnindo-currency style="text-align:right" ng-currency fraction="0" currency-symbol="" value="0" />
                                            </div>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Increase Debit Balance</label>
                                            <label class="input">
                                                <span class="form-control" style="text-align: right;">₫{{data.totalDebitAmount | currency:'':0}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Increase Credit Balance</label>
                                            <label class="input">
                                                <span class="form-control" style="text-align: right;">₫{{data.totalCreditAmount | currency:'':0}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Closing Debit Balance</label>
                                            <label class="input">
                                                <span class="form-control" style="text-align: right;">₫{{data.closingDebit | currency:'':0}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Closing Credit Balance</label>
                                            <label class="input">
                                                <span class="form-control" style="text-align: right;">₫{{data.closingCredit | currency:'':0}}</span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <fieldset style="padding-top: 0px;">
                                    <div class="row">
                                        <div class="tilsoft-table-wrapper" id="grdImages">
                                            <div class="tilsoft-table">
                                                <div style="width: 100%; overflow: auto; min-height: 100px; margin-top: 0px;" class="tilsoft-table-body">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th style="width: 100px; font-weight: bold;">Invoice No</th>
                                                                <th style="width: 100px; font-weight: bold;">Invoice Date</th>
                                                                <th style="width: 100px; font-weight: bold;">Description</th>
                                                                <th style="width: 100px; font-weight: bold;">Debit Account No</th>
                                                                <th style="width: 100px; font-weight: bold;">Credit Account No</th>
                                                            </tr>
                                                            <tr ng-repeat="item in data.avfLedgerAccountDetailOverview">
                                                                <td style="text-align: center;">{{item.invoiceNo}}</td>
                                                                <td style="text-align: center;">{{item.invoiceDate}}</td>
                                                                <td style="text-align: center;">{{item.description}}</td>
                                                                <td style="text-align: center;">{{item.debitAccountNo}}</td>
                                                                <td style="text-align: center;">{{item.creditAccountNo}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabTracking">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Updated By</label>
                                            <label class="input">
                                                <span class="form-control">
                                                    <a ng-show="(data.updatedBy!=null && data.updatorName2!=null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        <i class="fa fa-user"></i> {{data.updatorName2}}
                                                    </a>
                                                    <span ng-show="(data.updatedBy!=null && data.updatorName2==null && data.updatorName!=null)">{{data.updatorName}}</span>
                                                </span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Updated Date</label>
                                            <label class="input">
                                                <span class="form-control">{{data.updatedDate}}</span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "LedgerAccountMng")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Approve, HttpContext.Current))" title="Approve" ng-click="event.approve()"><i class="fa fa-thumbs-o-up"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Reset Approval status"><i class="fa fa-thumbs-o-down"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/ledgeraccount/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        var context = {
            id: @ViewBag.ID,
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            backURL: '@Url.Action("Index", "LedgerAccountMng")',
            refreshURL: '@Url.Action("Edit", "LedgerAccountMng", new { id = UrlParameter.Optional })/'
        }
    </script>
    <script src="~/Angular/app/ledgerAccountMng/service.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/ledgerAccountMng/edit.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

