@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];

    ViewBag.Title = (ViewBag.ID == 0) ? "Create Check List Group" : "Edit Check List Group";
    ViewBag.SubTitle = (ViewBag.ID == 0) ? "Create" : "Edit";
    ViewBag.Module = "CheckListGroupMng";
}

<form name="editForm" class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>@ViewBag.SubTitle General</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="smart-form">
                        <div class="row">

                            <section class="col col-lg-4">
                                <label class="label">
                                    <strong>CheckListGroup Code</strong>
                                    <em class="note note-error" ng-show="editForm.checkListGroupUD.$error.required"> (Required)</em>
                                </label>
                                <label class="input" ng-class="{'state-error': editForm.checkListGroupUD.$error.required}">
                                    <input type="text" class="form-control" name="checkListGroupUD" ng-model="data.checkListGroupUD" required>
                                </label>
                            </section>

                            <section class="col col-lg-4">
                                <label class="label">
                                    <strong>CheckListGroup Name</strong>
                                    <em class="note note-error" ng-show="editForm.checkListGroupNM.$error.required"> (Required)</em>
                                </label>
                                <label class="input" ng-class="{'state-error': editForm.checkListGroupNM.$error.required}">
                                    <input type="text" class="form-control" name="checkListGroupNM" ng-model="data.checkListGroupNM" required>
                                </label>
                            </section>

                            <section class="col col-lg-4">
                                <label class="label">
                                    <strong>Remark</strong>
                                    <em class="note note-error" ng-show="editForm.remark.$error.required"> (Required)</em>
                                </label>
                                <label class="input" ng-class="{'state-error': editForm.remark.$error.required}">
                                    <input type="text" class="form-control" name="remark" ng-model="data.remark">
                                </label>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction{
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "CheckListGroupMng")" class="btn btn-default" title="Back">
                <i class="fa fa-arrow-left"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Delete" ng-class="{'disabled': data.checkListGroupID == 0}" ng-click="event.deletedata(data.checkListGroupID)">
                <i class="fa fa-times"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Save" ng-click="event.updatedata($event)">
                <i class="fa fa-floppy-o"></i>
            </a>
        </li>
    </ul>
}

@section pagejs{
    <script type="text/javascript">
        var context = {
            id: @ViewBag.ID,
            backUrl: '@Url.Action("Index", "CheckListGroupMng")',
            refreshUrl: '@Url.Action("Edit", "CheckListGroupMng", new { id = UrlParameter.Optional })/',
            serviceUrl: '@(serviceRoot)/api/check-list-group/',
            token: '@token',
            msgValid: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED'
        };
    </script>
    <script type="text/javascript" src="~/Views/CheckListGroupMng/edit.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/CheckListGroupMng/service.js?v=@guid"></script>
}

