@{
    ViewBag.Title = "AnnualLeave Calenda";
    ViewBag.Module = "AnnualLeave Calendar";
    ViewBag.Icon = "fa-calendar";

    Frontend.APIDTO.APIUserInformation userInfo = (Frontend.APIDTO.APIUserInformation)Session[Frontend.Customize.Common.ProjectDefinition.USER_INFO_SESSION];
}

<div class="row" ng-view></div>

@section FormAction {
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/AnnualLeaveCalendarMng/',
            token : '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
            userName: '@userInfo.Data.FullName',
            userID: @userInfo.Data.UserId,              
        }
    </script>
    <script src="~/Views/AnnualLeaveCalendarMng/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/AnnualLeaveCalendarMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/AnnualLeaveCalendarMng/view/calendar.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>   
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
