@using Frontend.Helper;
@{
    ViewBag.Title = "Search NhanVien";
    ViewBag.Icon = "fa-search";
}

<style>
    .tilsoft-table-header, .tilsoft-table-filter, .tilsoft-table-body {
        width: 1200px;
    }

        .tilsoft-table-header > div {
            height: 35px;
        }

    .tilsoft-table-filter {
        margin-top: 35px;
    }

        .tilsoft-table-filter > div {
            height: 50px;
        }

    .tilsoft-table-body {
        margin-top: 85px !important;
    }

        .tilsoft-table-header > div:nth-child(1),
        .tilsoft-table-filter > div:nth-child(1),
        .tilsoft-table-body table > tbody > tr > td:nth-child(1) {
            width: 180px;
        }

        .tilsoft-table-header > div:nth-child(2),
        .tilsoft-table-filter > div:nth-child(2),
        .tilsoft-table-body table > tbody > tr > td:nth-child(2) {
            width: 100px;
            text-align: center;
        }

        .tilsoft-table-header > div:nth-child(3),
        .tilsoft-table-filter > div:nth-child(3),
        .tilsoft-table-body table > tbody > tr > td:nth-child(3) {
            width: 300px;
        }

        .tilsoft-table-header > div:nth-child(4),
        .tilsoft-table-filter > div:nth-child(4),
        .tilsoft-table-body table > tbody > tr > td:nth-child(4) {
            width: 300px;
        }

        .tilsoft-table-header > div:nth-child(5),
        .tilsoft-table-filter > div:nth-child(5),
        .tilsoft-table-body table > tbody > tr > td:nth-child(5) {
            width: 150px;
        }

        .tilsoft-table-header > div:nth-child(6),
        .tilsoft-table-filter > div:nth-child(6),
        .tilsoft-table-body table > tbody > tr > td:nth-child(6) {
            width: 150px;
        }
</style>

<div class="row">
    <article class="col-sm-12">
        <div class="jarviswidget">
            <header>
                <span class="widget-icon"> <i class="fa fa-search txt-color-darken"></i> </span>
                <h2>Search Result</h2>
            </header>
            <div class="no-padding">
                <div class="widget-body" style="padding-bottom: 0px;">
                    <div avs-scrollable-table class="tilsoft-table-wrapper" ng-load-next-page="event.loadNextPage()" ng-sort-data="event.sortData">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header">
                                <div><span class="note">Found: {{totalRows | number:0}}</span></div>
                                <div class="sorting" data-colname="NhanVienUD">Ma NV</div>
                                <div class="sorting" data-colname="NhanVienNM">Ten NV</div>
                                <div class="sorting" data-colname="PhongBanNM">Phong Ban</div>
                                <div class="sorting" data-colname="UpdatorName">Updated by</div>
                                <div>&nbsp;</div>
                            </div>
                            <div class="tilsoft-table-filter">
                                <div>
                                    <a href="javascript:void(0)" class="btn bg-color-greenLight txt-color-white btn-xs" ng-click="event.reload()" title="Filter"><i class="fa fa-filter"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" ng-click="event.reload(true)" title="Clear filter"><i class="fa fa-ban"></i></a>
                                </div>
                                <div><input class="form-control search-filter" ng-model="filters.NhanVienUD" /></div>
                                <div><input class="form-control search-filter" ng-model="filters.NhanVienNM" /></div>
                                <div><input class="form-control search-filter" ng-model="filters.PhongBanNM" /></div>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                            </div>
                            <div class="tilsoft-table-body">
                                <table>
                                    <tr ng-repeat="item in data">
                                        <td style="text-align: center;">
                                            @*<a href="@Url.Action("ReadOnly", "UOMMng", new { })/{{item.nhanVienID}}" target="_blank" class="btn btn-default btn-xs" title="View"><i class="fa fa-search"></i> View</a>*@
                                            <a href="@Url.Action("Edit", "NhanVienMng", new { })/{{item.nhanVienID}}" target="_blank" class="btn btn-primary btn-xs @Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current)" title="Edit"><i class="fa fa-pencil"></i> Edit</a>
                                            <a href="javascript:void(0)" ng-click="event.delete(item)" class="btn btn-danger btn-xs @Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current)" title="Delete"><i class="fa fa-times"></i> Delete</a>
                                        </td>
                                        <td>{{item.nhanVienUD}}</td>
                                        <td>{{item.nhanVienNM}}</td>
                                        <td>{{item.phongBanNM}}</td>
                                        <td>{{item.updatorName}} ({{item.updatedDate}})</td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li>
            <a href="javascript:void(0)" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li>
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Export excel"><i class="fa fa-file-excel-o"></i></a>
        </li>
        <li>
            <a href="@Url.Action("Edit", "NhanVienMng", new { id = 0 })" class="btn btn-default" title="New" target="_blank"><i class="fa fa-file-o"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/nhan-vien-mng/',
            token : '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize : 50,
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
            title: 'Nhanvien'
        }
    </script>
    <script src="~/Views/NhanVienMng/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/NhanVienMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
