@{
    ViewBag.Title = "Management Info: Sales By Country";
    ViewBag.Module = "Management Info: Sales By Country";
    string currentSeason = Library.OMSHelper.Helper.GetCurrentSeason();
    string nextSeason = Library.OMSHelper.Helper.GetNextSeason(currentSeason);
    string prevSeason = Library.OMSHelper.Helper.GetPrevSeason(currentSeason);

    string Season = currentSeason;
    if (DateTime.Now.Month == 8)
    {
        Season = nextSeason;
        //Season = currentSeason;
    }
    else
    {
        Season = currentSeason;
    }
    prevSeason = Library.OMSHelper.Helper.GetPrevSeason(Season);
}
<style>
    .tilsoft-table .tilsoft-table-body {
        height: auto !important;
        max-height: none !important;
    }
</style>

<div class="row" style="margin-top: 15px;">
    <!-- show report for management level -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <div>
                <div class="widget-body no-padding">
                    <div class="padding-10">
                        <p class="alert alert-info no-margin" style="border-bottom: none;">
                            <span style="padding: 5px; display: inline-block; margin-bottom: 5px; margin-right: 5px; background: rgba(255,255,255,0.7);"><strong>Exchange Rate</strong>: {{data.exchangeRate | currency:'':2}}</span>
                            <span style="padding: 5px; display: inline-block; margin-bottom: 5px; margin-right: 5px; background: rgba(255,255,255,0.7);"><strong>Est. Container Value</strong>: ${{data.usdContainerValue | currency:'':0}} or &euro;{{data.eurContainerValue | currency:'':0}}</span>
                        </p>

                        @*sales expected*@
                        <h2 style="margin-bottom: 0px;">SUMMARY SALES BY COUNTRY (EXPECTATION - @Season)</h2>
                        <div class="tilsoft-table" id="1">
                            <div style="width: 100%; overflow-y: hidden; height: auto;margin-top:0px" class="tilsoft-table-body">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th style="font-weight: bold;width:35px">#<br />({{data.expectedSummaries.length}})</th>
                                            <th style="font-weight: bold;width:50px">
                                                <a href="javascript:void(0)" ng-click="sortType_Expected = 'clientCountryUD'; sortReverse_Expected = !sortReverse_Expected">
                                                    CODE
                                                    <span ng-show="sortType_Expected == 'clientCountryUD' && sortReverse_Expected" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_Expected == 'clientCountryUD' && !sortReverse_Expected" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;border-right:2px solid;width:100px">
                                                <a href="javascript:void(0)" ng-click="sortType_Expected = 'clientCountryNM'; sortReverse_Expected = !sortReverse_Expected">
                                                    COUNTRY NAME
                                                    <span ng-show="sortType_Expected == 'clientCountryNM' && sortReverse_Expected" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_Expected == 'clientCountryNM' && !sortReverse_Expected" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:60px;border-top:2px solid">
                                                <a href="javascript:void(0)" ng-click="sortType_Expected = 'totalCont'; sortReverse_Expected = !sortReverse_Expected">
                                                    TOTAL CONTAI NER
                                                    <span ng-show="sortType_Expected == 'totalCont' && sortReverse_Expected" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_Expected == 'totalCont' && !sortReverse_Expected" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:100px;border-top:2px solid">
                                                <a href="javascript:void(0)" ng-click="sortType_Expected = 'totalEURAmount'; sortReverse_Expected = !sortReverse_Expected">
                                                    TOTAL AMOUNT (EUR)
                                                    <span ng-show="sortType_Expected == 'totalEURAmount' && sortReverse_Expected" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_Expected == 'totalEURAmount' && !sortReverse_Expected" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:70px;border-right:2px solid;border-top:2px solid">
                                                <a href="javascript:void(0)" ng-click="sortType_Expected = 'percent'; sortReverse_Expected = !sortReverse_Expected">
                                                    %
                                                    <span ng-show="sortType_Expected == 'percent' && sortReverse_Expected" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_Expected == 'percent' && !sortReverse_Expected" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:100px;">
                                                <a href="javascript:void(0)" ng-click="sortType_Expected = 'usdAmount'; sortReverse_Expected = !sortReverse_Expected">
                                                    USD AMOUNT (CONVERTED TO EUR)
                                                    <span ng-show="sortType_Expected == 'usdAmount' && sortReverse_Expected" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_Expected == 'usdAmount' && !sortReverse_Expected" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:60px">
                                                <a href="javascript:void(0)" ng-click="sortType_Expected = 'usdPercent'; sortReverse_Expected = !sortReverse_Expected">
                                                    % USD
                                                    <span ng-show="sortType_Expected == 'usdPercent' && sortReverse_Expected" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_Expected == 'usdPercent' && !sortReverse_Expected" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:100px">
                                                <a href="javascript:void(0)" ng-click="sortType_Expected = 'eurAmount'; sortReverse_Expected = !sortReverse_Expected">
                                                    EUR AMOUNT
                                                    <span ng-show="sortType_Expected == 'eurAmount' && sortReverse_Expected" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_Expected == 'eurAmount' && !sortReverse_Expected" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:60px">
                                                <a href="javascript:void(0)" ng-click="sortType_Expected = 'eurPercent'; sortReverse_Expected = !sortReverse_Expected">
                                                    % EUR
                                                    <span ng-show="sortType_Expected == 'eurPercent' && sortReverse_Expected" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_Expected == 'eurPercent' && !sortReverse_Expected" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:50px">
                                                <a href="javascript:void(0)" ng-click="sortType_Expected = 'totalClient'; sortReverse_Expected = !sortReverse_Expected">
                                                    NUMBER OF CLIENT
                                                    <span ng-show="sortType_Expected == 'totalClient' && sortReverse_Expected" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_Expected == 'totalClient' && !sortReverse_Expected" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="font-weight: bold;text-align: left;border-right:2px solid">TOTAL({{data.expectedSummaries.length}}) countries</td>
                                            <td style="font-weight: bold;text-align: right;">{{method.getSummarySaleTotalContainer(data.expectedSummaries) | currency:'':1}}</td>
                                            <td style="font-weight: bold;text-align: right;">&euro;{{method.getSummarySaleTotalAmount(data.expectedSummaries) | currency:'':0}}</td>
                                            <td style="font-weight: bold;text-align: right;border-right:2px solid">100%</td>
                                            <td style="font-weight: bold;text-align: right;">&euro;{{method.getSummarySaleTotalUSDAmount(data.expectedSummaries) | currency:'':0}}</td>
                                            <td style="font-weight: bold;text-align: right;">{{method.getSummarySaleTotalUSDAmount(data.expectedSummaries) / method.getSummarySaleTotalAmount(data.expectedSummaries)*100 | number:1}}%</td>
                                            <td style="font-weight: bold;text-align: right;">&euro;{{method.getSummarySaleTotalEurAmount(data.expectedSummaries) | currency:'':0}}</td>
                                            <td style="font-weight: bold;text-align: right;">{{100 - method.getSummarySaleTotalUSDAmount(data.expectedSummaries)/ method.getSummarySaleTotalAmount(data.expectedSummaries) * 100 | number:1}}%</td>
                                            <td style="font-weight: bold;text-align: right;">{{method.getSummarySaleTotalClient(data.expectedSummaries) | currency:'':0}}</td>
                                            <td></td>
                                        </tr>
                                        <tr ng-repeat="item in data.expectedSummaries | orderBy:sortType_Expected:sortReverse_Expected">
                                            <td style="text-align: right">{{$index+1}}</td>
                                            <td style="text-align: center">{{item.clientCountryUD}}</td>
                                            <td style="border-right:2px solid">{{item.clientCountryNM}}</td>
                                            <td style="text-align: right;">{{item.totalCont | currency:'':1}}</td>
                                            <td style="text-align: right;">&euro;{{item.totalEURAmount | currency:'':0}}</td>
                                            <td style="text-align: right;border-right:2px solid;">{{item.percent | number : 2}}%</td>
                                            <td style="text-align: right;">&euro;{{item.usdAmount | currency:'':0}}</td>
                                            <td style="text-align: right;">{{item.usdPercent | number : 1}}%</td>
                                            <td style="text-align: right;">&euro;{{item.eurAmount | currency:'':0}}</td>
                                            <td style="text-align: right;">{{item.eurPercent | number : 1}}%</td>
                                            <td style="text-align: right;">{{item.totalClient | currency:'':0}}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        @*sales proforma invoice*@
                        <h2 style="margin-bottom: 0px;">SUMMARY SALES BY COUNTRY (PROFORMA INVOICE - @Season)</h2>
                        <div class="tilsoft-table" id="2">
                            <div style="width: 100%; overflow-y: hidden; height: auto;margin-top:0px" class="tilsoft-table-body">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th style="font-weight: bold;width:35px">#<br />({{data.summaries.length}})</th>
                                            <th style="font-weight: bold;width:50px">
                                                <a href="javascript:void(0)" ng-click="sortType_ProformaInvoice = 'clientCountryUD'; sortReverse_ProformaInvoice = !sortReverse_ProformaInvoice">
                                                    CODE
                                                    <span ng-show="sortType_ProformaInvoice == 'clientCountryUD' && sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_ProformaInvoice == 'clientCountryUD' && !sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;border-right:2px solid;width:100px">
                                                <a href="javascript:void(0)" ng-click="sortType_ProformaInvoice = 'clientCountryNM'; sortReverse_ProformaInvoice = !sortReverse_ProformaInvoice">
                                                    COUNTRY NAME
                                                    <span ng-show="sortType_ProformaInvoice == 'clientCountryNM' && sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_ProformaInvoice == 'clientCountryNM' && !sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:60px;border-top:2px solid">
                                                <a href="javascript:void(0)" ng-click="sortType_ProformaInvoice = 'totalCont'; sortReverse_ProformaInvoice = !sortReverse_ProformaInvoice">
                                                    TOTAL CONTAI NER
                                                    <span ng-show="sortType_ProformaInvoice == 'totalCont' && sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_ProformaInvoice == 'totalCont' && !sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:100px;border-top:2px solid">
                                                <a href="javascript:void(0)" ng-click="sortType_ProformaInvoice = 'totalEURAmount'; sortReverse_ProformaInvoice = !sortReverse_ProformaInvoice">
                                                    TOTAL AMOUNT (EUR)
                                                    <span ng-show="sortType_ProformaInvoice == 'totalEURAmount' && sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_ProformaInvoice == 'totalEURAmount' && !sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:70px;border-right:2px solid;border-top:2px solid">
                                                <a href="javascript:void(0)" ng-click="sortType_ProformaInvoice = 'percent'; sortReverse_ProformaInvoice = !sortReverse_ProformaInvoice">
                                                    %
                                                    <span ng-show="sortType_ProformaInvoice == 'percent' && sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_ProformaInvoice == 'percent' && !sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:100px">
                                                <a href="javascript:void(0)" ng-click="sortType_ProformaInvoice = 'usdAmount'; sortReverse_ProformaInvoice = !sortReverse_ProformaInvoice">
                                                    USD AMOUNT (CONVERTED TO EUR)
                                                    <span ng-show="sortType_ProformaInvoice == 'usdAmount' && sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_ProformaInvoice == 'usdAmount' && !sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:60px">
                                                <a href="javascript:void(0)" ng-click="sortType_ProformaInvoice = 'usdPercent'; sortReverse_ProformaInvoice = !sortReverse_ProformaInvoice">
                                                    % USD
                                                    <span ng-show="sortType_ProformaInvoice == 'usdPercent' && sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_ProformaInvoice == 'usdPercent' && !sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:100px">
                                                <a href="javascript:void(0)" ng-click="sortType_ProformaInvoice = 'eurAmount'; sortReverse_ProformaInvoice = !sortReverse_ProformaInvoice">
                                                    EUR AMOUNT
                                                    <span ng-show="sortType_ProformaInvoice == 'eurAmount' && sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_ProformaInvoice == 'eurAmount' && !sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:60px">
                                                <a href="javascript:void(0)" ng-click="sortType_ProformaInvoice = 'eurPercent'; sortReverse_ProformaInvoice = !sortReverse_ProformaInvoice">
                                                    % EUR
                                                    <span ng-show="sortType_ProformaInvoice == 'eurPercent' && sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_ProformaInvoice == 'eurPercent' && !sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:50px">
                                                <a href="javascript:void(0)" ng-click="sortType_ProformaInvoice = 'totalClient'; sortReverse_ProformaInvoice = !sortReverse_ProformaInvoice">
                                                    NUMBER OF CLIENT
                                                    <span ng-show="sortType_ProformaInvoice == 'totalClient' && sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType_ProformaInvoice == 'totalClient' && !sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="font-weight: bold;text-align: left;border-right:2px solid">TOTAL({{data.summaries.length}}) countries</td>
                                            <td style="font-weight: bold;text-align: right;">{{method.getSummarySaleTotalContainer(data.summaries) | currency:'':1}}</td>
                                            <td style="font-weight: bold;text-align: right;">&euro;{{method.getSummarySaleTotalAmount(data.summaries) | currency:'':0}}</td>
                                            <td style="font-weight: bold;text-align: right;border-right:2px solid">100%</td>
                                            <td style="font-weight: bold;text-align: right;">&euro;{{method.getSummarySaleTotalUSDAmount(data.summaries) | currency:'':0}}</td>
                                            <td style="font-weight: bold;text-align: right;">{{method.getSummarySaleTotalUSDAmount(data.summaries) / method.getSummarySaleTotalAmount(data.summaries)*100 | number:1}}%</td>
                                            <td style="font-weight: bold;text-align: right;">&euro;{{method.getSummarySaleTotalEurAmount(data.summaries) | currency:'':0}}</td>
                                            <td style="font-weight: bold;text-align: right;">{{100 - method.getSummarySaleTotalUSDAmount(data.summaries)/ method.getSummarySaleTotalAmount(data.summaries) * 100 | number:1}}%</td>
                                            <td style="font-weight: bold;text-align: right;">{{method.getSummarySaleTotalClient(data.summaries) | currency:'':0}}</td>
                                            <td></td>
                                        </tr>
                                        <tr ng-repeat="item in data.summaries | orderBy:sortType_ProformaInvoice:sortReverse_ProformaInvoice">
                                            <td style="text-align: right">{{$index+1}}</td>
                                            <td style="text-align: center">{{item.clientCountryUD}}</td>
                                            <td style="border-right:2px solid">{{item.clientCountryNM}}</td>
                                            <td style="text-align: right;">{{item.totalCont | currency:'':1}}</td>
                                            <td style="text-align: right;">&euro;{{item.totalEURAmount | currency:'':0}}</td>
                                            <td style="text-align: right;border-right:2px solid">{{item.percent | number : 2}}%</td>
                                            <td style="text-align: right;">&euro;{{item.usdAmount | currency:'':0}}</td>
                                            <td style="text-align: right;">{{item.usdPercent | number : 1}}%</td>
                                            <td style="text-align: right;">&euro;{{item.eurAmount | currency:'':0}}</td>
                                            <td style="text-align: right;">{{item.eurPercent | number : 1}}%</td>
                                            <td style="text-align: right;">{{item.totalClient | currency:'':0}}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        @*commercial invoice*@
                        <h2 style="margin-bottom: 0px;">SUMMARY SALES BY COUNTRY (COMMERCIAL INVOICE - @Season, @prevSeason)</h2>
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-body" style="height: auto;margin-top:0px">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th colspan="3"></th>
                                            <th colspan="4" class="mi-background-current-season" style="font-weight:bold;text-align:center">PROFORMA INVOICE (PF)<br />@ViewBag.CurrentSeason</th>
                                            <th colspan="4" class="mi-background-last-season" style="font-weight:bold;text-align:center">COMMERCIAL INVOICE (CI)<br /> @ViewBag.PreSeason</th>
                                            <th colspan="2" class="mi-lccost-interest-last-season">Cost<br />@ViewBag.PreSeason</th>
                                            <th colspan="3" class="mi-margin-last-season" style="font-weight:bold;text-align:center">&Delta; AFTER ALL<br /> @ViewBag.PreSeason</th>

                                        </tr>
                                        <tr>
                                            <th style="font-weight: bold;width:35px">#<br />{{saleByCountryResult.length}}</th>
                                            <th style="font-weight: bold;width:50px">
                                                <a href="javascript:void(0)" ng-click="method.sortData('SaleByCountry', 'clientCountryUD')">
                                                    CODE
                                                    <span ng-show="sortValue.data.commercialInvoiceSummaries === '-clientCountryUD'" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortValue.SaleByCountry === 'clientCountryUD'" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;">
                                                <a href="javascript:void(0)" ng-click="method.sortData('SaleByCountry', 'clientCountryNM')">
                                                    COUNTRY NAME
                                                    <span ng-show="sortValue.SaleByCountry === '-clientCountryNM'" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortValue.SaleByCountry === 'clientCountryNM'" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>

                                            @*this season*@

                                            <th style="font-weight: bold;width:60px;" class="mi-background-current-season">
                                                <a href="javascript:void(0)" ng-click="method.sortData('SaleByCountry', 'proformaInvoiceCont_ThisYear')">
                                                    TOTAL CONT
                                                    <span ng-show="sortValue.SaleByCountry === '-proformaInvoiceCont_ThisYear'" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortValue.SaleByCountry === 'proformaInvoiceCont_ThisYear'" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:120px;" class="mi-background-current-season">
                                                <a href="javascript:void(0)" ng-click="method.sortData('SaleByCountry', 'proformaInvoiceAmountEUR_ThisYear')">
                                                    TOTAL AMOUNT (EUR)
                                                    <span ng-show="sortValue.SaleByCountry === '-proformaInvoiceAmountEUR_ThisYear'" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortValue.SaleByCountry === 'proformaInvoiceAmountEUR_ThisYear'" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:70px;" class="mi-background-current-season">
                                                <a href="javascript:void(0)" ng-click="method.sortData('SaleByCountry', 'percentProformaInvoice_ThisYear')">
                                                    %
                                                    <span ng-show="sortValue.SaleByCountry === '-percentProformaInvoice_ThisYear'" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortValue.SaleByCountry === 'percentProformaInvoice_ThisYear'" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:60px;" class="mi-background-current-season">
                                                <a href="javascript:void(0)" ng-click="method.sortData('SaleByCountry', 'proformaInvoiceTotalClient_ThisYear')">
                                                    NUM BER OF CLI ENT
                                                    <span ng-show="sortValue.SaleByCountry === '-proformaInvoiceTotalClient_ThisYear'" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortValue.SaleByCountry === 'proformaInvoiceTotalClient_ThisYear'" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>

                                            @*last season*@

                                            <th style="font-weight: bold;width:60px;" class="mi-background-last-season">
                                                <a href="javascript:void(0)" ng-click="method.sortData('SaleByCountry', 'totalCont_LastYear')">
                                                    TOTAL CONT
                                                    <span ng-show="sortValue.SaleByCountry === '-totalCont_LastYear'" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortValue.SaleByCountry === 'totalCont_LastYear'" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:120px;" class="mi-background-last-season">
                                                <a href="javascript:void(0)" ng-click="method.sortData('SaleByCountry', 'totalEURAmount_LastYear')">
                                                    TOTAL AMOUNT (EUR)
                                                    <span ng-show="sortValue.SaleByCountry === '-totalEURAmount_LastYear'" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortValue.SaleByCountry === 'totalEURAmount_LastYear'" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:70px;" class="mi-background-last-season">
                                                <a href="javascript:void(0)" ng-click="method.sortData('SaleByCountry', 'percent_LastYear')">
                                                    %
                                                    <span ng-show="sortValue.SaleByCountry === '-percent_LastYear'" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortValue.SaleByCountry === 'percent_LastYear'" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:60px;" class="mi-background-last-season">
                                                <a href="javascript:void(0)" ng-click="method.sortData('SaleByCountry', 'totalClient_LastYear')">
                                                    NUM BER OF CLI ENT
                                                    <span ng-show="sortValue.SaleByCountry === '-totalClient_LastYear'" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortValue.SaleByCountry === 'totalClient_LastYear'" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>

                                            <th style="font-weight: bold;width:60px" class="mi-lccost-interest-last-season" title="LC Cost">
                                                <a href="javascript:void(0)" ng-click="method.sortData('SaleByCountry', 'lcCostAmountEUR_LastYear')">
                                                    LC Cost
                                                    <span ng-show="sortValue.SaleByCountry === '-lcCostAmountEUR_LastYear'" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortValue.SaleByCountry === 'lcCostAmountEUR_LastYear'" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th style="font-weight: bold;width:70px" class="mi-lccost-interest-last-season" title="Interest Cost">
                                                <a href="javascript:void(0)" ng-click="method.sortData('SaleByCountry', 'interestAmountEUR_LastYear')">
                                                    Interest
                                                    <span ng-show="sortValue.SaleByCountry === '-interestAmountEUR_LastYear'" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortValue.SaleByCountry === 'interestAmountEUR_LastYear'" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>


                                            <th style="font-weight: bold;width:120px;" class="mi-margin-last-season">
                                                <a href="javascript:void(0)" ng-click="method.sortData('SaleByCountry', 'totalMarginAmountEUR_LastYear')">
                                                    &Delta;
                                                    <span ng-show="sortValue.SaleByCountry === '-totalMarginAmountEUR_LastYear'" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortValue.SaleByCountry === 'totalMarginAmountEUR_LastYear'" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>

                                            <th style="font-weight: bold;width:70px;" class="mi-margin-last-season">
                                                <a href="javascript:void(0)" ng-click="method.sortData('SaleByCountry', 'percentMargin_LastYear')">
                                                    % OF 100%
                                                    <span ng-show="sortValue.SaleByCountry === '-percentMargin_LastYear'" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortValue.SaleByCountry === 'percentMargin_LastYear'" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>

                                            <th style="font-weight: bold;width:70px;" class="mi-margin-last-season" title="% between margin and commercial invoice">
                                                <a href="javascript:void(0)" ng-click="method.sortData('SaleByCountry', 'percentMarginCompareToCommercialInvoice_LastYear')">
                                                    % &Delta;
                                                    <span ng-show="sortValue.SaleByCountry === '-percentMarginCompareToCommercialInvoice_LastYear'" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortValue.SaleByCountry === 'percentMarginCompareToCommercialInvoice_LastYear'" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>


                                        </tr>

                                        <tr>
                                            <th></th>
                                            <th>A</th>
                                            <th>B</th>

                                            <th class="mi-background-current-season">C</th>
                                            <th class="mi-background-current-season">D</th>
                                            <th class="mi-background-current-season">E</th>
                                            <th class="mi-background-current-season">F</th>

                                            <th class="mi-background-last-season">G</th>
                                            <th class="mi-background-last-season" style="text-align:center">H</th>
                                            <th class="mi-background-last-season">I</th>
                                            <th class="mi-background-last-season">J</th>

                                            <th class="mi-lccost-interest-last-season" style="text-align:center">K</th>
                                            <th class="mi-lccost-interest-last-season" style="text-align:center">L</th>

                                            <th class="mi-margin-last-season" style="text-align:center">M</th>
                                            <th class="mi-margin-last-season" style="text-align:center">N</th>
                                            <th class="mi-margin-last-season" style="text-align:center">O</th>


                                        </tr>

                                        <tr>
                                            <td colspan="3" style="font-weight: bold;text-align: left;">TOTAL({{data.commercialInvoiceSummaries.length}}) countries</td>

                                            <td style="font-weight: bold;text-align: right;" class="mi-background-current-season">{{saleByCountryResult | sumFunction:'proformaInvoiceCont_ThisYear' | number : 1}}</td>
                                            <td style="font-weight: bold;text-align: right;" class="mi-background-current-season">{{saleByCountryResult | sumFunction:'proformaInvoiceAmountEUR_ThisYear' | currency :'&euro;' : 0}}</td>
                                            <td style="font-weight: bold;text-align: right;" class="mi-background-current-season">100%</td>
                                            <td style="font-weight: bold;text-align: right;" class="mi-background-current-season">{{saleByCountryResult | sumFunction:'proformaInvoiceTotalClient_ThisYear' | number : 0}}</td>

                                            <td style="font-weight: bold;text-align: right;" class="mi-background-last-season">{{saleByCountryResult | sumFunction:'totalCont_LastYear' | number : 1}}</td>
                                            <td style="font-weight: bold;text-align: right;" class="mi-background-last-season">{{saleByCountryResult | sumFunction:'totalEURAmount_LastYear' | currency :'&euro;' : 0}}</td>
                                            <td style="font-weight: bold;text-align: right;" class="mi-background-last-season">100%</td>
                                            <td style="font-weight: bold;text-align: right;" class="mi-background-last-season">{{saleByCountryResult | sumFunction:'totalClient_LastYear' | currency :'&euro;' : 0}}</td>

                                            <td style="font-weight: bold;text-align: right;" class="mi-lccost-interest-last-season">
                                                {{saleByCountryResult | sumFunction:'lcCostAmountEUR_LastYear' | currency :'&euro;' : 0}}
                                            </td>
                                            <td style="font-weight: bold;text-align: right;" class="mi-lccost-interest-last-seasonn">
                                                {{saleByCountryResult | sumFunction:'interestAmountEUR_LastYear' | currency :'&euro;' : 0}}
                                            </td>

                                            <td style="font-weight: bold;text-align: right;" class="mi-margin-last-season">
                                                {{saleByCountryResult | sumFunction:'totalMarginAmountEUR_LastYear' | currency :'&euro;' : 0}}
                                            </td>
                                            <td style="font-weight: bold;text-align: right;" class="mi-margin-last-season">100%</td>
                                            <td style="font-weight: bold;text-align: right;" class="mi-margin-last-season">
                                                {{(saleByCountryResult | sumFunction:'totalMarginAmountEUR_LastYear') / (saleByCountryResult | sumFunction:'totalEURAmount_LastYear') * 100 | number : 0}}%
                                            </td>


                                        </tr>
                                        <tr ng-repeat="item in saleByCountryResult = (data.commercialInvoiceSummaries | filter : {clientCountryUD : ''} | orderBy : sortValue.SaleByCountry)">
                                            <td style="text-align: right">{{$index+1}}</td>
                                            <td style="text-align: center">{{item.clientCountryUD}}</td>
                                            <td style="">{{item.clientCountryNM}}</td>

                                            <td style="text-align: right;" class="mi-background-current-season">{{item.proformaInvoiceCont_ThisYear | number:1}}</td>
                                            <td style="text-align: right;" class="mi-background-current-season">{{item.proformaInvoiceAmountEUR_ThisYear | currency:'&euro;':0}}</td>
                                            <td style="text-align: right;" class="mi-background-current-season">{{item.proformaInvoiceAmountEUR_ThisYear / (saleByCountryResult | sumFunction :'proformaInvoiceAmountEUR_ThisYear') * 100 | number : 1}}%</td>
                                            <td style="text-align: right;" class="mi-background-current-season">{{item.proformaInvoiceTotalClient_ThisYear | number:0}}</td>

                                            <td style="text-align: right;" class="mi-background-last-season">{{item.totalCont_LastYear | number:1}}</td>
                                            <td style="text-align: right;" class="mi-background-last-season">{{item.totalEURAmount_LastYear | currency:'&euro;':0}}</td>
                                            <td style="text-align: right;" class="mi-background-last-season">{{item.totalEURAmount_LastYear / (saleByCountryResult | sumFunction :'totalEURAmount_LastYear') * 100 | number : 1}}%</td>
                                            <td style="text-align: right;" class="mi-background-last-season">{{item.totalClient_LastYear | number:0}}</td>

                                            <td style="text-align: right;" class="mi-lccost-interest-last-season">{{item.lcCostAmountEUR_LastYear | currency:'&euro;':0}}</td>
                                            <td style="text-align: right;" class="mi-lccost-interest-last-season">{{item.interestAmountEUR_LastYear | currency:'&euro;':0}}</td>

                                            <td style="text-align: right;" class="mi-margin-last-season">{{item.totalMarginAmountEUR_LastYear | currency:'&euro;':0}}</td>
                                            <td style="text-align: right;" class="mi-margin-last-season">{{item.totalMarginAmountEUR_LastYear / (saleByCountryResult | sumFunction:'totalMarginAmountEUR_LastYear') * 100 | number : 1}}%</td>
                                            <td style="text-align: right;" class="mi-margin-last-season">{{item.percentMargin_LastYear | number : 1}}%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        @*sales proforma invoice confirmed*@
                        @*<h2 style="margin-bottom: 0px;">SUMMARY SALES BY COUNTRY (CONFIRMED PRO FORMA - @Season)</h2>
        <div class="tilsoft-table">
            <div style="width: 100%; overflow-y: hidden; height: auto;margin-top:0px" class="tilsoft-table-body">
                <table>
                    <tbody>
                        <tr>
                            <th style="font-weight: bold;width:50px">CODE</th>
                            <th style="font-weight: bold;">COUNTRY NAME</th>
                            <th style="font-weight: bold;width:60px">TOTAL CONTAI NER</th>
                            <th style="font-weight: bold;width:100px">TOTAL AMOUNT (EUR)</th>
                            <th style="font-weight: bold;width:70px">%</th>
                            <th style="font-weight: bold;width:100px">USD AMOUNT (CONVERTED TO EUR)</th>
                            <th style="font-weight: bold;width:100px">EUR AMOUNT</th>
                            <th style="font-weight: bold;width:50px">NUMBER OF CLIENT</th>
                        </tr>
                        <tr>
                            <td colspan="2" style="font-weight: bold;text-align: right;">TOTAL</td>
                            <td style="font-weight: bold;text-align: right;">{{method.getConfirmedSummarySaleTotalContainer() | currency:'':1}}</td>
                            <td style="font-weight: bold;text-align: right;">&euro;{{method.getConfirmedSummarySaleTotalAmount() | currency:'':0}}</td>
                            <td style="font-weight: bold;text-align: right;">100%</td>
                            <td style="font-weight: bold;text-align: right;">&euro;{{method.getConfirmedSummarySaleTotalUSDAmount() | currency:'':0}}</td>
                            <td style="font-weight: bold;text-align: right;">&euro;{{method.getConfirmedSummarySaleTotalEurAmount() | currency:'':0}}</td>
                            <td style="font-weight: bold;text-align: right;">{{method.getConfirmedSummarySaleTotalClient() | currency:'':0}}</td>
                        </tr>
                        <tr ng-repeat="item in data.confirmedSummaries">
                            <td style="text-align: center">{{item.clientCountryUD}}</td>
                            <td>{{item.clientCountryNM}}</td>
                            <td style="text-align: right;">{{item.totalCont | currency:'':1}}</td>
                            <td style="text-align: right;">&euro;{{item.totalEURAmount | currency:'':0}}</td>
                            <td style="text-align: right;">{{item.percent}}%</td>
                            <td style="text-align: right;">&euro;{{item.usdAmount | currency:'':0}}</td>
                            <td style="text-align: right;">&euro;{{item.eurAmount | currency:'':0}}</td>
                            <td style="text-align: right;">{{item.totalClient | currency:'':0}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h2 style="margin-bottom: 0px;">DETAIL SALES BY COUNTRY (ALL PRO FORMA - @Season)</h2>
        <div class="tilsoft-table">
            <div style="width: 100%; overflow-y: hidden; height: auto;margin-top:0px" class="tilsoft-table-body">
                <table>
                    <tr>
                        <th style="font-weight: bold;width:50px">CODE</th>
                        <th style="font-weight: bold;">COUNTRY NAME</th>
                        <th style="font-weight: bold;width:60px">TOTAL CONTAI NER</th>
                        <th style="font-weight: bold;width:100px">TOTAL AMOUNT (EUR)</th>
                        <th style="font-weight: bold;width:70px">%</th>
                        <th style="font-weight: bold;width:100px">USD AMOUNT (CONVERTED TO EUR)</th>
                        <th style="font-weight: bold;width:100px">EUR AMOUNT</th>
                        <th style="font-weight: bold;width:50px">NUMBER OF CLIENT</th>
                    </tr>
                    <tbody ng-repeat="sale in sales">
                        <tr style="background: #eff;">
                            <td colspan="2" style="font-weight: bold;">{{sale}}</td>
                            <td style="font-weight: bold;text-align: right;">{{$parent.method.getDetailSaleTotalContainer(sale) | currency:'':1}}</td>
                            <td style="font-weight: bold;text-align: right;">&euro;{{$parent.method.getDetailSaleTotalAmount(sale) | currency:'':0}}</td>
                            <td style="font-weight: bold;text-align: right;">{{$parent.method.getDetailSaleTotalPercent(sale) | currency:'':2}}%</td>
                            <td style="font-weight: bold;text-align: right;">&euro;{{$parent.method.getDetailSaleTotalUSDAmount(sale) | currency:'':0}}</td>
                            <td style="font-weight: bold;text-align: right;">&euro;{{$parent.method.getDetailSaleTotalEurAmount(sale) | currency:'':0}}</td>
                            <td style="font-weight: bold;text-align: right;">{{$parent.method.getDetailSaleTotalClient(sale) | currency:'':0}}</td>
                        </tr>
                        <tr ng-repeat="item in data.details | filter: {saleUD: sale}">
                            <td style="text-align: center">{{item.clientCountryUD}}</td>
                            <td>{{item.clientCountryNM}}</td>
                            <td style="text-align: right;">{{item.totalCont | currency:'':1}}</td>
                            <td style="text-align: right;">&euro;{{item.totalEURAmount | currency:'':0}}</td>
                            <td style="text-align: right;">{{item.percent}}%</td>
                            <td style="text-align: right;">&euro;{{item.usdAmount | currency:'':0}}</td>
                            <td style="text-align: right;">&euro;{{item.eurAmount | currency:'':0}}</td>
                            <td style="text-align: right;">{{item.totalClient | currency:'':0}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h2 style="margin-bottom: 0px;">DETAIL SALES BY COUNTRY (CONFIRMED PRO FORMA - @Season)</h2>
        <div class="tilsoft-table">
            <div style="width: 100%; overflow-y: hidden; height: auto;" class="tilsoft-table-body">
                <table>
                    <tr>
                        <th style="font-weight: bold;width:50px">CODE</th>
                        <th style="font-weight: bold;">COUNTRY NAME</th>
                        <th style="font-weight: bold;width:60px">TOTAL CONTAI NER</th>
                        <th style="font-weight: bold;width:100px">TOTAL AMOUNT (EUR)</th>
                        <th style="font-weight: bold;width:70px">%</th>
                        <th style="font-weight: bold;width:100px">USD AMOUNT (CONVERTED TO EUR)</th>
                        <th style="font-weight: bold;width:100px">EUR AMOUNT</th>
                        <th style="font-weight: bold;width:50px">NUMBER OF CLIENT</th>
                    </tr>
                    <tbody ng-repeat="sale in confirmedSales">
                        <tr style="background: #eff;">
                            <td colspan="2" style="font-weight: bold;">{{sale}}</td>
                            <td style="font-weight: bold;text-align: right;">{{$parent.method.getConfirmedDetailSaleTotalContainer(sale) | currency:'':1}}</td>
                            <td style="font-weight: bold;text-align: right;">&euro;{{$parent.method.getConfirmedDetailSaleTotalAmount(sale) | currency:'':0}}</td>
                            <td style="font-weight: bold;text-align: right;">{{$parent.method.getConfirmedDetailSaleTotalPercent(sale) | currency:'':2}}</td>
                            <td style="font-weight: bold;text-align: right;">&euro;{{$parent.method.getConfirmedDetailSaleTotalUSDAmount(sale) | currency:'':0}}</td>
                            <td style="font-weight: bold;text-align: right;">&euro;{{$parent.method.getConfirmedDetailSaleTotalEurAmount(sale) | currency:'':0}}</td>
                            <td style="font-weight: bold;text-align: right;">{{$parent.method.getConfirmedDetailSaleTotalClient(sale) | currency:'':0}}</td>
                        </tr>
                        <tr ng-repeat="item in data.confirmedDetails | filter: {saleUD: sale}">
                            <td style="text-align: center">{{item.clientCountryUD}}</td>
                            <td>{{item.clientCountryNM}}</td>
                            <td style="text-align: right;">{{item.totalCont | currency:'':1}}</td>
                            <td style="text-align: right;">&euro;{{item.totalEURAmount | currency:'':0}}</td>
                            <td style="text-align: right;">{{item.percent}}%</td>
                            <td style="text-align: right;">&euro;{{item.usdAmount | currency:'':0}}</td>
                            <td style="text-align: right;">&euro;{{item.eurAmount | currency:'':0}}</td>
                            <td style="text-align: right;">{{item.totalClient | currency:'':0}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>*@

                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/misalebycountry/';
        jsonService.supportServiceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            season: '@Season'
        }
    </script>
    <script src="~/Angular/app/miSaleByCountryRpt/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/miSaleByCountryRpt/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}