@{
    ViewBag.Title = "Search Frame Material Color";
    ViewBag.Module = "Frame Material Color";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Search Filters</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header">
                                <div style="width:80px;vertical-align:middle;text-align:center"></div>
                                <div class="sorting" style="width:50px;vertical-align:middle;text-align:center" data-colname="FrameMaterialColorUD">Code</div>
                                <div class="sorting_asc" style="vertical-align:middle;text-align:center;width:150px" data-colname="FrameMaterialColorNM">Name</div>
                                <div><i class="fa fa-list"></i> Tracking</div>
                            </div>
                            <div class="tilsoft-table-filter" style="top: 50px">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                <div style="width:80px;text-align:center;vertical-align:middle;border-right:solid 1px #ddd">
                                                    <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.reload()"><i class="fa fa-filter"></i></a>
                                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilter()"><i class="fa fa-ban"></i></a>
                                                </div>
                                            </th>
                                            <th>
                                                <div style="width:50px;text-align:center;vertical-align:middle;border-right:solid 1px #ddd">
                                                    <input class="search-filter" style="text-align:center;font-weight:normal" type="text" maxlength="2" ng-model="filters.FrameMaterialColorUD" />
                                                </div>
                                            </th>
                                            <th style="width:149px;border-right:solid 1px #ddd">
                                                <div style="text-align:center;vertical-align:middle">
                                                    <input class="search-filter" style="text-align:left;float:left;width:100%;font-weight:normal" type="text" maxlength="255" ng-model="filters.FrameMaterialColorNM" />
                                                </div>
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tilsoft-table-body" style="margin-top: 95px">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="item in data">
                                            <td style="width:79px;text-align:center;vertical-align:middle">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "FrameMaterialColor")/{{item.frameMaterialColorID}}" style="width:60px" title="View (Read Only)"><i class="fa fa-folder-open"></i> View</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "FrameMaterialColor")/{{item.frameMaterialColorID}}" ng-if="item.total == 0" style="width:60px" title="Edit"><i class="fa fa-pencil"></i> Edit</a>
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "FrameMaterialColor")/{{item.frameMaterialColorID}}" ng-if="item.total != 0" style="width:60px" title="View (Read Only)"><i class="fa fa-folder-open"></i> View</a>
                                                }

                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                                {
                                                    <a class="btn btn-danger btn-xs font-11" href="javascript:void(0)" ng-click="event.delete(item.frameMaterialColorID)" ng-if="item.total == 0" style="width:60px;margin-top:3px" title="Delete"><i class=" fa fa-times"></i> Del</a>
                                                }
                                            </td>
                                            <td style="width:50px;text-align:center;vertical-align:middle">{{item.frameMaterialColorUD}}</td>
                                            <td style="text-align:left;vertical-align:middle;width:150px;">{{item.frameMaterialColorNM}}</td>
                                            <td>
                                                Updated by:
                                                <a ng-if="item.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i>  {{item.updateName}}
                                                </a><br />
                                                On {{item.updatedDate}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <span>Found: <b>{{totalRows}}</b> record(s).</span>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Edit", "FrameMaterialColor")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js"></script>
    <script src="~/Angular/app/frameMaterialColor/service.js"></script>
    <script type="text/javascript">
        jQuery('.search-filter').keypress(function(e){
            if (e.keyCode == 13) {
                var scope = angular.element(jQuery('body')).scope();
                scope.event.reload();
            }
        });

        /*var searchResultGrid = jQuery('#searchResult').scrollableTable(
            function(currentPage){
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function(){
                    scope.pageIndex = currentPage;
                    jsonService.searchFilter.pageIndex = scope.pageIndex;
                    scope.event.search();
                });
            },
            function(sortedBy, sortedDirection){
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function(){
                    jsonService.searchFilter.sortedDirection = sortedDirection;
                    scope.pageIndex = 1;
                    jsonService.searchFilter.pageIndex = scope.pageIndex;
                    jsonService.searchFilter.sortedBy = sortedBy;
                    scope.event.search();
                });
            }
        );*/

        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/framematerialcolor/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
        jsonService.cookieId = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()';

        var tilsoftApp = angular.module('tilsoftApp', ["ngCookies", "avs-directives"]);
        tilsoftApp.controller('tilsoftController', ['$scope', "$cookieStore", function ($scope, $cookieStore) {
            //
            // property
            //
            $scope.data = [];
            $scope.filters = {
                FrameMaterialColorUD: '',
                FrameMaterialColorNM: ''
            };

            $scope.defaultFilter = angular.copy($scope.filters);
            $scope.isDefaultFilter = true;

            var cookieValue = $cookieStore.get(jsonService.cookieId);
            if (cookieValue) {
                $scope.filters = cookieValue;
            }

            $scope.pageIndex = 1;
            $scope.totalPage = 0;
            $scope.totalRows = 0;

            $scope.gridHandler = {
                loadMore: function () {
                    if ($scope.pageIndex < $scope.totalPage) {
                        $scope.pageIndex++;
                        jsonService.searchFilter.pageIndex = $scope.pageIndex;
                        $scope.event.search(true);
                    }
                },
                sort: function (sortedBy, sortedDirection) {
                    $scope.data = [];
                    jsonService.searchFilter.sortedDirection = sortedDirection;
                    $scope.pageIndex = 1;
                    jsonService.searchFilter.pageIndex = scope.pageIndex;
                    jsonService.searchFilter.sortedBy = sortedBy;
                    $scope.event.search();
                },
                isTriggered: false
            };

            //
            // event
            //
            $scope.event = {
                reload: function(){
                    $scope.data = [];
                    $scope.pageIndex = 1;
                    jsonService.searchFilter.pageIndex = $scope.pageIndex;
                    $scope.event.search();
                },
                search: function(isLoadMore){
                    $cookieStore.put(jsonService.cookieId, $scope.filters);
                    $scope.isDefaultFilter = angular.equals($scope.filters, $scope.defaultFilter);

                    $scope.gridHandler.isTriggered = false;
                    jsonService.searchFilter.filters = $scope.filters;
                    jsonService.search(
                        function (data) {
                            Array.prototype.push.apply($scope.data, data.data.data); //$scope.data = data.data.data;
                            $scope.totalPage = Math.ceil(data.totalRows / jsonService.searchFilter.pageSize);
                            $scope.totalRows = data.totalRows;
                            $scope.$apply();

                            /*if(data.totalRows < jsonService.searchFilter.pageSize) {
                                jQuery('#searchResult').find('ul').hide();
                            }
                            else {
                                jQuery('#searchResult').find('ul').show();
                            }*/

                            jQuery('#content').show();
                            //searchResultGrid.updateLayout();
                            if (!isLoadMore) {
                                $scope.gridHandler.goTop();
                            }

                            $scope.gridHandler.isTriggered = true;
                        },
                        function (error) {
                            $scope.data = null;
                            $scope.pageIndex = 1;
                            $scope.totalPage = 0;
                            $scope.totalRows = 0;
                            $scope.$apply();
                        }
                    );
                },
                delete: function (id){
                    if (confirm('Are you sure ?')) {
                        jsonService.delete(id,
                            function (data) {
                                jsHelper.processMessage(data.message);

                                if(data.message.type == 0) {
                                    var j = -1;
                                    for (var i = 0; i < $scope.data.length; i++) {
                                        if ($scope.data[i].frameMaterialColorID == data.data) {
                                            j = i;
                                            break;
                                        }
                                    }

                                    if (j >= 0) {
                                        $scope.data.splice(j, 1);
                                        $scope.totalRows--;
                                    }

                                    $scope.$apply();
                                }
                            },
                            function (error) {
                                jsHelper.showMessage('warning', error);
                            }
                        );
                    }
                },
                init : function(){
                    $scope.event.search();
                },
                clearFilter: function () {
                    $scope.filters = {
                        FrameMaterialColorUD: '',
                        FrameMaterialColorNM: ''
                    };
                    $scope.event.reload();
                }
            }

            //
            // method
            //


            //
            // init
            //
            $scope.event.init();
        }]);
    </script>
}
