@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Seat Cushion";
    }
    else
    {
        ViewBag.Title = "Edit Seat Cushion";
    }

    ViewBag.Module = "Seat Cushion";
}

<form class="row" name="editForm" id="main-form">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>Seat Cushion Information</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Code</label>
                                    <label class="input">
                                        <span class="form-control">{{data.seatCushionUD}}</span>
                                    </label>
                                </section>
                                <section class="col col-4" ng-if="data.total==0 || data.total==null">
                                    <label class="label">Name</label>
                                    <label class="input" ng-class="{'state-error': editForm.seatCushionNM.$error.required}">
                                        <input type="text" name="seatCushionNM" ng-model="data.seatCushionNM" required />
                                    </label>
                                    <div ng-show="editForm.seatCushionNM.$error.required" class="note note-error">This is a required field.</div>
                                </section>
                                <section class="col col-4" ng-if="data.total>0">
                                    <label class="label">Name</label>
                                    <label class="input" ng-class="{'state-error': editForm.seatCushionNM.$error.required}">
                                        <input type="text" name="seatCushionNM" ng-model="data.seatCushionNM" readonly />
                                    </label>
                                    <div ng-show="editForm.seatCushionNM.$error.required" class="note note-error">This is a required field.</div>
                                </section>
                                <section class="col col-3" ng-if="data.total==0 || data.total==null">
                                    <label class="label">Season</label>
                                    <label class="select">
                                        <select class="form-control" ng-model="data.season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                            @*<option value=""></option>*@
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-3" ng-if="data.total>0">
                                    <label class="label">Season</label>
                                    <label class="select">
                                        <select disabled class="form-control" ng-model="data.season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                            @*<option value=""></option>*@
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-3" ng-if="data.total>0">
                                    <label class="label">Display Index</label>
                                    <label class="input">
                                        <input type="text" ng-model="data.displayIndex" readonly />
                                    </label>
                                </section>
                                <section class="col col-3" ng-if="data.total==0 || data.total==null">
                                    <label class="label">Display Index</label>
                                    <label class="input">
                                        <input type="text" ng-model="data.displayIndex" />
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <div class="col col-6">
                                    <section ng-if="data.total==0 || data.total==null">
                                        <div class="input-group" style="width: 100%;">
                                            @Html.Partial("~/Views/Shared/_Controls/_ImageBox.cshtml", new Frontend.Models.ImageBoxViewModel() { URLBinding = "data.imageFile_DisplayUrl", JSOnChangeHandler = "event.changeImage", JSONRemoveHandler = "event.removeImage" })
                                        </div>
                                    </section>
                                    <section ng-if="data.total>0">
                                        <div class="input-group" style="width: 100%;">
                                            @Html.Partial("~/Views/Shared/_Controls/_ImageBox.cshtml", new Frontend.Models.ImageBoxViewModel() { URLBinding = "data.imageFile_DisplayUrl"})
                                        </div>
                                    </section>
                                </div>
                                <div class="col col-6">
                                    <section ng-if="data.total==0 || data.total==null">
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="data.isStandard">
                                            <i></i>Standard
                                        </label>
                                    </section>
                                    <section ng-if="data.total==0 || data.total==null">
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="data.isEnabled">
                                            <i></i>Enabled
                                        </label>
                                    </section>
                                    <section ng-if="data.total>0">
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="data.isStandard" disabled>
                                            <i></i>Standard
                                        </label>
                                    </section>
                                    <section ng-if="data.total>0">
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="data.isEnabled" disabled>
                                            <i></i>Enabled
                                        </label>
                                    </section>
                                    <section style="padding: 10px; border: solid 1px #e7e7e7">
                                        <label class="label">Make this cushion color available for the below product group</label>
                                        <div class="row">
                                            <div class="col col-8">
                                                <section ng-if="data.total>0">
                                                    <label class="checkbox" ng-repeat="group in data.productGroups | orderBy:'+productGroupNM'">
                                                        <input disabled type="checkbox" ng-model="group.isEnabled">
                                                        <i></i>{{group.productGroupNM}}
                                                    </label>
                                                </section>
                                                <section ng-if="data.total==0 || data.total==null">
                                                    <label class="checkbox" ng-repeat="group in data.productGroups | orderBy:'+productGroupNM'">
                                                        <input type="checkbox" ng-model="group.isEnabled">
                                                        <i></i>{{group.productGroupNM}}
                                                    </label>
                                                </section>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="note">
                        <div ng-show="data.createdBy && data.creatorName!=null">  
                            <strong>Created By</strong>
                            <a ng-if="data.createdBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.createdBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                <i class="fa fa-user"></i> {{data.creatorName}}
                            </a>
                            on {{data.createdDate}}
                        </div>
                        <br />
                        <div ng-show="data.updatedBy && data.updatorName!=null">
                            <strong>Updated By</strong>
                            <a ng-if="data.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                <i class="fa fa-user"></i> {{data.updatorName}}
                            </a>
                            on {{data.updatedDate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "SeatCushion")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" ng-if="data.total==0 || data.total==null" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" ng-if="data.total==0 || data.total==null" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Approve"><i class="fa fa-thumbs-o-up"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Reset Approval status"><i class="fa fa-thumbs-o-down"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/seatcushion/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        var context = {
            id: @ViewBag.ID,
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            backURL: '@Url.Action("Index", "SeatCushion")',
            refreshURL: '@Url.Action("Edit", "SeatCushion", new { id = UrlParameter.Optional })/'
        };
    </script>
    <script src="~/Angular/app/seatCushion/service.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/seatCushion/edit.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

