@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Material Option";
    }
    else
    {
        ViewBag.Title = "Edit Material Option";
    }

    ViewBag.Module = "Material Option";
}

<form class="row" name="editForm" id="main-form">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <span> General Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabTestReport"> <span> Test Report </span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="widget-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabGeneral">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Material</label>
                                            <label class="select">
                                                <select ng-model="data.materialID" ng-change="event.onOptionChange()" ng-options="material.materialID as material.materialNM for material in materials | orderBy:'+materialNM'" required>
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Material Type</label>
                                            <label class="select">
                                                <select ng-model="data.materialTypeID" ng-change="event.onOptionChange()" ng-options="materialType.materialTypeID as materialType.materialTypeNM for materialType in materialTypes | orderBy:'+materialTypeNM'" required>
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Material Color</label>
                                            <label class="select">
                                                <select ng-model="data.materialColorID" ng-change="event.onOptionChange()" ng-options="materialColor.materialColorID as materialColor.materialColorNM for materialColor in materialColors | orderBy:'+materialColorNM'" required>
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Remark</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.remark" />
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Season</label>
                                            <label class="select">
                                                <select class="form-control" ng-model="data.season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Display Index</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.displayIndex" />
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">&nbsp;</label>
                                            <label class="checkbox">
                                                <input type="checkbox" ng-model="data.isStandard">
                                                <i></i>Standard
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">&nbsp;</label>
                                            <label class="checkbox">
                                                <input type="checkbox" ng-model="data.isEnabled">
                                                <i></i>Enabled
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Code</label>
                                            <label class="input">
                                                <span class="form-control">{{data.materialOptionUD}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">Name</label>
                                            <label class="input">
                                                <span class="form-control">{{data.materialOptionNM}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <div class="col col-6">
                                            <section>
                                                <label class="label">Image</label>
                                                <div class="input-group" style="width: 100%;">
                                                    @Html.Partial("~/Views/Shared/_Controls/_ImageBox.cshtml", new Frontend.Models.ImageBoxViewModel() { URLBinding = "data.imageFile_DisplayUrl", JSOnChangeHandler = "event.changeImage", JSONRemoveHandler = "event.removeImage" })
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col col-6">
                                            <section>
                                                <label class="label">Make this material option available for the below product group</label>
                                                <div class="row">
                                                    <div class="col col-8">
                                                        <label class="checkbox" ng-repeat="group in data.productGroups | orderBy:'+productGroupNM'">
                                                            <input type="checkbox" ng-model="group.isEnabled">
                                                            <i></i>{{group.productGroupNM}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="note">
                                <div ng-show="(data.createdBy && data.creatorName!=null)">
                                    <strong>Created By</strong>
                                    <a ng-if="data.createdBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.createdBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        <i class="fa fa-user"></i> {{data.creatorName}}
                                    </a>
                                    on {{data.createdDate}}
                                </div>
                                <br />
                                <div ng-show="(data.updatorName &&  data.updatedBy != null)">
                                    <strong>Updated By</strong>
                                    <a ng-if="data.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        <i class="fa fa-user"></i> {{data.updatorName}}
                                    </a>
                                    on {{data.updatedDate}}
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane" id="tabTestReport">
                            <div>
                                <div class="widget-body no-padding">

                                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div style="width:1000px" class="tilsoft-table-header">
                                                <div style="width:85px"></div>
                                                <div style="width:120px">Test Code</div>
                                                <div style="width:100px">Client</div>
                                                <div style="width:250px">File Name</div>
                                                <div style="width:250px">Test Standard</div>
                                                <div>Test Date</div>
                                            </div>                                           
                                            <div style="width:1000px" class="tilsoft-table-body">
                                                <table>
                                                    <tbody>
                                                        <tr ng-repeat="item in data.materialTestingDTOs">
                                                            <td style="width:85px; text-align:center">
                                                                <a class="btn btn-default btn-xs font-11" href="@Url.Action("OverView", "MaterialTestingMng")/{{item.materialTestReportID}}" style="width:69px; margin-top:3px" title="OverView" target="_blank"><i class="fa fa-eye"></i>OverView</a>
                                                            </td>
                                                            <td style="width:120px; text-align:center">{{item.materialTestReportUD}}</td>                                                      
                                                            <td style="width:100px; text-align: center">{{item.clientUD}}</td>
                                                            <td style="width:250px">
                                                                <div ng-repeat="item2 in item.materialTestingFileDTOs">
                                                                    <a href="{{item2.fileLocation}}" target="_blank">{{item2.friendlyName}}</a>
                                                                </div>
                                                            </td>
                                                            <td style="width:250px">
                                                                <div ng-repeat="item3 in item.materialTestingStandardDTOs">
                                                                    <label>{{item3.testStandardNM}}</label>
                                                                </div>
                                                            </td>
                                                            <td>{{item.testDate}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                   
                    
                    
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "MaterialOption")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Approve"><i class="fa fa-thumbs-o-up"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Reset Approval status"><i class="fa fa-thumbs-o-down"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/materialoption/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        var context = {
            id: @ViewBag.ID,
            backUrl: '@Url.Action("Index", "MaterialOption")',
            refreshUrl: '@Url.Action("Edit", "MaterialOption", new { id = UrlParameter.Optional })/',
            errorMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED'
        }
    </script>
    <script src="~/Views/MaterialOption/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/MaterialOption/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

