@{
    ViewBag.Title = "Search Material Option";
    ViewBag.Module = "Material Option";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Search Results</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1626px">
                                <div style="width: 80px"></div>
                                <div class="sorting" style="width: 100px" data-colname="IsEnabled">Enabled</div>
                                <div class="sorting" style="width: 100px" data-colname="IsStandard">Standard</div>
                                <div style="width: 150px"><i class="fa fa-file-image-o"></i> Image</div>
                                <div style="width: 150px">Test Report</div>
                                <div style="width: 100px">Remark</div>
                                <div class="sorting" style="width: 60px" data-colname="DisplayIndex">Index</div>
                                <div class="sorting" style="width: 100px" data-colname="Season">Season</div>
                                <div class="sorting" style="width: 180px" data-colname="ProductGroupNM">Group</div>
                                <div class="sorting" style="width: 100px" data-colname="MaterialOptionUD">Code</div>
                                <div class="sorting" style="width: 200px" data-colname="MaterialOptionNM">Name</div>
                                <div class="sorting_desc" data-colname="UpdatedDate"><i class="fa fa-list"></i> More Info</div>
                            </div>
                            <div class="tilsoft-table-filter" style="top: 50px; width: 1626px">
                                <div style="width: 80px">
                                    <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.reload()"><i class="fa fa-filter"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilter()"><i class="fa fa-ban"></i></a>
                                </div>
                                <div style="width: 100px">
                                    <label class="select">
                                        <select class="form-control search-filter" style="width:100%; height: inherit" ng-model="filters.IsEnabled" ng-options="standard.yesNoValue as standard.yesNoText for standard in yesNoValues">
                                            <option value=""> Any</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </div>
                                <div style="width: 100px">
                                    <label class="select">
                                        <select class="form-control search-filter" style="width:100%; height: inherit" ng-model="filters.IsStandard" ng-options="standard.yesNoValue as standard.yesNoText for standard in yesNoValues">
                                            <option value="">Any</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </div>
                                <div style="width: 150px"></div>
                                <div style="width: 150px"></div>
                                <div style="width: 100px">
                                    <label class="input">
                                        <input type="text" class="search-filter" style="text-align: left; vertical-align: middle; width: 100%" maxlength="255" ng-model="filters.Remark" />
                                    </label>
                                </div>
                                <div style="width: 60px"></div>
                                <div style="width: 100px">
                                    <label class="select">
                                        <select class="form-control search-filter" style="width: 100%; height: inherit" ng-model="filters.Season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </div>
                                <div style="width: 180px">
                                    <label class="select">
                                        <select class="form-control search-filter" style="width: 100%; height: inherit" ng-model="filters.ProductGroupID" ng-options="group.productGroupID as group.productGroupNM for group in productGroups">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </div>
                                <div style="width: 100px">
                                    <label class="input">
                                        <input type="text" class="search-filter" style="text-align: center; vertical-align: middle; width: 100%" maxlength="7" ng-model="filters.MaterialOptionUD" />
                                    </label>
                                </div>
                                <div style="width: 200px">
                                    <label class="input">
                                        <input type="text" class="search-filter" style="text-align: left; vertical-align: middle; width: 100%" maxlength="255" ng-model="filters.MaterialOptionNM" />
                                    </label>
                                </div>
                                <div></div>
                            </div>
                            <div class="tilsoft-table-body" style="margin-top: 95px; width: 1626px">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="item in data">
                                            <td style="text-align: center; width: 79px; vertical-align: middle">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "MaterialOption")/{{item.materialOptionID}}" style="width:60px" title="View (Read Only)" target="_blank"><i class="fa fa-folder-open"></i> View</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "MaterialOption")/{{item.materialOptionID}}" style="width:60px" title="Edit" target="_blank"><i class="fa fa-pencil"></i> Edit</a>
                                                }

                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                                {
                                                    <a class="btn btn-danger btn-xs font-11" href="javascript:void(0);" title="Delete" style="width:60px; margin-top:3px;" ng-click="event.delete(item.materialOptionID)"><i class=" fa fa-times"></i> Del</a>
                                                }
                                            </td>
                                            <td style="text-align: center; width: 100px; vertical-align: middle"><input type="checkbox" ng-model="item.isEnabled" disabled /></td>
                                            <td style="text-align: center; width: 100px; vertical-align: middle"><input type="checkbox" ng-model="item.isStandard" disabled /></td>
                                            <td style="width: 150px; text-align: center; vertical-align: middle;">
                                                <a href="{{item.imageFile_DisplayUrl}}" data-featherlight="image">
                                                    <img style="width: 80%;" ng-src="{{item.imageFile_DisplayUrl}}" />
                                                </a>
                                            </td>
                                            <td style="width: 150px">
                                                <div ng-repeat="testing in item.materialTestingDTOs">
                                                    <ul ng-repeat="testingFile in testing.materialTestingFileDTOs">
                                                        <li>
                                                            <a href="{{testingFile.fileLocation}}" target="_blank">
                                                                {{testingFile.friendlyName}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td style="width: 100px;">{{item.remark}}</td>
                                            <td style="text-align: center; width: 60px; vertical-align: middle">{{item.displayIndex}}</td>
                                            <td style="text-align: center; width: 100px; vertical-align: middle">{{item.season}}</td>
                                            <td style="text-align: left; width: 180px; vertical-align: middle">{{item.productGroupNM}}</td>
                                            <td style="text-align: center; width: 100px; vertical-align: middle">{{item.materialOptionUD}}</td>
                                            <td style="width: 200px; vertical-align: middle">{{item.materialOptionNM}}</td>
                                            <td style="text-align: left; vertical-align: middle">

                                                <div ng-show="(item.createdBy && item.creatorName!=null)">
                                                    <span class="box">
                                                        <i class="fa fa-user"></i> <strong>Created By: </strong>
                                                        <a ng-show="item.createdBy != null && item.creatorName != null" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.createdBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">{{item.creatorName}}</a>
                                                        on {{item.createdDate}}
                                                    </span>
                                                </div>
                                                <div ng-show="(item.updatedBy!=null && item.updatorName!=null)">
                                                    <span class="box">
                                                        <i class="fa fa-user"></i> <strong>Updated By: </strong>
                                                        <a ng-show="item.updatedBy != null && item.updatorName != null" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">{{item.updatorName}}</a>
                                                        <a ng-show="item.updatedBy != null && item.updatorName == null && item.fullName != null" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">{{item.fullName}}</a>
                                                        on {{item.updatedDate}}
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <span>Found: <b>{{totalRows}}</b> record(s).</span>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Edit", "MaterialOption")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/materialoption/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
        var context = {
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()'
        }
    </script>
    <script src="~/Views/MaterialOption/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/MaterialOption/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}