@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Showroom Item";
    }
    else
    {
        ViewBag.Title = "Edit Showroom Item";
    }

    ViewBag.Module = "Showroom Item";
}

<form class="row" name="editForm">

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>General</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                       <div class="row">
                           <section class="col col-4">
                               <div class="input-group" style="width: 100%;">
                                   @Html.Partial("~/Views/Shared/_Controls/_ImageBox.cshtml", new Frontend.Models.ImageBoxViewModel() { URLBinding = "data.showroomItemThumbnailImage", OrginalImageURLBinding = "data.showroomItemFullImage", JSOnChangeHandler = "event.changeImage", JSONRemoveHandler = "event.removeImage" })
                               </div>
                           </section>
                       </div>
                        
                        <div class="row">
                            <section class="col col-2">
                                <label>Showroom Item Code</label>
                                <span class="form-control">{{data.articleCode}}</span>
                            </section>

                            <section class="col col-10">
                                <label>Description</label>
                                <input type="text" ng-model="data.description" class="form-control" />
                            </section>
                            
                        </div>
                            
                        <div class="row">
                            
                            <section class="col col-10">
                                <label>Mapping with tilsoft product</label>
                                <div class="input-group">
                                    <input ng-model="data.productDescription" id="quickSearchBox-product" placeholder="press enter to search all showroom item or type at least 3 chars to search product" class="form-control" type="text" ng-keyup="quickSearchProduct.event.searchBoxKeyUp($event)" autocomplete="off">
                                    <span class="input-group-addon" ng-click="quickSearchProduct.event.searchClick()"><i class="fa fa-search"></i></span>
                                    <div id="popup-product" class="popup-container-2" style="display: none; left: 0px; top: 32px;z-index: 50;">
                                        <div style="float: right; margin-bottom: 8px;">
                                            <a href="javascript:void(0);" ng-click="quickSearchProduct.event.itemSelected($event)" class="btn btn-primary btn-xs">OK</a>
                                            <a href="javascript:void(0);" ng-click="quickSearchProduct.event.close($event)" class="btn btn-danger btn-xs">Close</a>
                                        </div>
                                        <div class="clear"></div>
                                        <div id="quickSearchResultGrid-product" class="tilsoft-table-wrapper">
                                            <div class="tilsoft-table">
                                                <div class="tilsoft-table-header" style="width: 700px;">
                                                    <div style="width: 80px; text-align: center"></div>
                                                    <div style="width: 100px;">Image</div>
                                                    <div style="width: 210px" class="sorting">ArticleCode</div>
                                                    <div class="sorting"> Description</div>
                                                </div>

                                                <div class="tilsoft-table-body" style="width: 700px;">
                                                    <table>
                                                        <tr ng-repeat="product in quickSearchProduct.data">
                                                            <td style="width: 80px; text-align: center; vertical-align:middle"><a ng-click="quickSearchProduct.event.itemSelected($event, product.productID)" class="btn btn-primary btn-xs" href="javascript:void(0);">Select</a></td>
                                                            <td style="width: 100px; text-align: center; vertical-align: middle;">
                                                                <a href="{{product.imageFileFullSize}}" data-featherlight="image">
                                                                    <img style="width: 95%;" ng-src="{{product.imageFile}}" />
                                                                </a>
                                                            </td>
                                                            <td style="width: 210px; vertical-align:middle">{{product.articleCode}}</td>
                                                            <td style="vertical-align:middle">{{product.description}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="col col-2">
                                <label>ArticleCode</label>
                                <span class="form-control">{{data.productArticleCode}}</span>
                            </section>
                        </div>

                        @*<div class="row">

                            <section class="col col-lg-12">
                                <label>Mapping with tilsoft sample</label>
                                <div class="input-group">
                                    <input ng-model="data.sampleArticleDescription" id="quickSearchBox-sample" placeholder="press enter to search all sample item or type at least 3 chars to search sample" class="form-control" type="text" ng-keyup="quickSearchSample.event.searchBoxKeyUp($event)" autocomplete="off">
                                    <span class="input-group-addon" ng-click="quickSearchSample.event.searchClick()"><i class="fa fa-search"></i></span>
                                    <div id="popup-sample" class="popup-container-2" style="display: none; left: 0px; top: 32px;z-index: 50;">
                                        <div style="float: right; margin-bottom: 8px;">
                                            <a href="javascript:void(0);" ng-click="quickSearchSample.event.itemSelected($event)" class="btn btn-primary btn-xs">OK</a>
                                            <a href="javascript:void(0);" ng-click="quickSearchSample.event.close($event)" class="btn btn-danger btn-xs">Close</a>
                                        </div>
                                        <div class="clear"></div>
                                        <div id="quickSearchResultGrid-sample" class="tilsoft-table-wrapper">
                                            <div class="tilsoft-table">
                                                <div class="tilsoft-table-header" style="width: 700px;">
                                                    <div style="width: 80px; text-align: center"></div>
                                                    <div style="width: 100px;">Image</div>
                                                    <div class="sorting">Description</div>
                                                </div>

                                                <div class="tilsoft-table-body" style="width: 700px;">
                                                    <table>
                                                        <tr ng-repeat="item in quickSearchSample.data">
                                                            <td style="width: 80px; text-align: center; vertical-align:middle"><a ng-click="quickSearchSample.event.itemSelected($event, item.sampleProductID)" class="btn btn-primary btn-xs" href="javascript:void(0);">Select</a></td>
                                                            <td style="width: 100px; text-align: center; vertical-align: middle;">
                                                                <a href="{{item.fileRefImage}}" data-featherlight="image">
                                                                    <img style="width: 95%;" ng-src="{{item.thumbnailRefImage}}" />
                                                                </a>
                                                            </td>
                                                            <td style="vertical-align:middle">{{item.articleDescription}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                          
                        </div>*@

                        <div class="row">
                            <section class="col col-2">
                                <label>Created By</label>
                                <span class="form-control">
                                    <a ng-show="(data.createdBy!=null && data.creatorName2!=null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.createdBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        <i class="fa fa-user"></i> {{data.creatorName2}}
                                    </a>
                                    <span ng-show="(data.createdBy!=null && data.creatorName2==null && data.creatorName!=null)">{{data.creatorName}}</span>
                                </span>
                            </section>

                            <section class="col col-1">
                                <label>Created Date</label>
                                <span class="form-control">{{data.createdDate}}</span>
                            </section>

                            <section class="col col-2">
                                <label>Updated By</label>
                                <span class="form-control">
                                    <a ng-show="(data.updatedBy!=null && data.updatorName2!=null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        <i class="fa fa-user"></i> {{data.updatorName2}}
                                    </a>
                                    <span ng-show="(data.updatedBy!=null && data.updatorName2==null && data.updatorName!=null)">{{data.updatorName}}</span>
                                </span>
                            </section>

                            <section class="col col-1">
                                <label>Updated Date</label>
                                <span class="form-control">{{data.updatedDate}}</span>
                            </section>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </article>

</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "ShowroomItem")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#"  class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#"  class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/showroomitem/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        supportService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        supportService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            id: '@ViewBag.ID',
            backUrl: '@Url.Action("Index", "ShowroomItem")',
            refreshUrl: '@Url.Action("Edit", "ShowroomItem", new { id = UrlParameter.Optional })/',
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
        }
    </script>
    <script src="~/Angular/app/showroomItem/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/showroomItem/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

