@{
    ViewBag.Title = "Search Product";
    ViewBag.Module = "Product";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Art.Code</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.ArticleCode" />
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Description</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.Description" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">EAN Code</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.EANCode" />
                                    </label>
                                </section>
                                <section class="col col-1">
                                    <label class="label">Page</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.CataloguePageNumber" />
                                    </label>
                                </section>

                                <section class="col col-1">
                                    <label class="label">Season</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.Season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>

                                <section class="col col-1">
                                    <label class="label">Type</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.ProductTypeID" ng-options="type.productTypeID as type.productTypeNM for type in productTypes">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-1">
                                    <label class="label">Confirmed</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.IsConfirmed" ng-options="status.yesNoValue as status.yesNoText for status in confirmStatuses">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>


                            </div>
                            <div class="row">

                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div id="searchResult" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1500px;">
                                <div style="width: 100px;"></div>
                                <div style="width: 100px" data-colname="IsConfirmed">Confirmed</div>
                                <div style="width: 100px" data-colname="ImageFile_DisplayUrl">Image</div>
                                <div style="width: 110px;" class="sorting" data-colname="ArticleCode">Art.Code</div>
                                <div style="width: 300px;" class="sorting_asc" data-colname="Description">Description</div>
                                <div style="width: 105px;" class="sorting" data-colname="EANCode">EAN Code</div>
                                <div style="width: 80px;" class="sorting" data-colname="ProductTypeNM">Type</div>
                                <div style="width: 80px;" class="sorting" data-colname="CataloguePageNumber">Catalog Page</div>
                                <div style="width: 130px;" class="sorting" data-colname="UpdatedBy">Updated By</div>
                                <div style="width: 100px;" class="sorting" data-colname="UpdatedDate">Updated Date</div>
                                <div style="width: 150px;" class="sorting" data-colname="ConfirmedBy">Confirmed By</div>
                                <div class="sorting" data-colname="ConfirmedDate">Confirmed Date</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1500px;">
                                <table>
                                    <tr ng-repeat="model in data">
                                        <td style="text-align: center; width: 99px;">
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                            {
                                                <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "Product")/{{model.productID}}" title="View (Read Only)" target="_blank"><i class="fa fa-folder-open"></i> View</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "Product")/{{model.productID}}" title="Edit" target="_blank"><i class="fa fa-pencil"></i> Edit</a>
                                            }

                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                            {
                                                <a class="btn btn-danger btn-xs font-11" href="#" ng-click="delete(model.productID)" title="Delete" target="_blank"><i class="fa fa-times"></i> Del</a>
                                            }
                                            <a class="btn btn-primary btn-xs font-11 @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Print, HttpContext.Current))" title="Print PS" style="margin-top:4px; width:86px" ng-click="event.printPS($event,model.productID)"><i class="fa fa-print"></i> Print PS</a>
                                            <a class="btn btn-info btn-xs font-11" href="@Url.Action("Edit", "SpecificationOfProductMng")/0?&sampleProductID=null&productID={{model.productID}}" title="Create Specification" target="_blank" style="margin-top:4px; width:86px"><i class="fa fa-file-o"></i> Create Spec</a>
                                        </td>
                                        <td style="text-align: center; width: 100px;"><input type="checkbox" disabled ng-model="model.isConfirmed" /></td>
                                        <td style="width: 100px; text-align: center; vertical-align: middle;">
                                            <a href="{{model.imageFile_FullSizeUrl}}" data-featherlight="image">
                                                <img style="width: 95%;" ng-src="{{model.imageFile_DisplayUrl}}" />
                                            </a>
                                        </td>
                                        <td style="width: 110px;">{{model.articleCode}}</td>
                                        <td style="width: 300px;">{{model.description}}</td>
                                        <td style="width: 105px;">{{model.eanCode}}</td>
                                        <td style="width: 80px;text-align:center">{{model.productTypeNM}}</td>
                                        <td style="width: 80px;text-align:center">{{model.cataloguePageNumber}}</td>
                                        <td style="width: 130px;text-align:center">
                                            <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{model.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600" ng-show="model.updatedBy != null && model.updatorName2 != null">
                                                <i class="fa fa-user"></i> {{model.updatorName2}}
                                            </a>
                                            <span ng-show="model.updatedBy != null && model.updatorName2 == null">
                                                <i class="fa fa-user"></i> {{model.updatorName1}}
                                            </span>
                                        </td>
                                        <td style="width: 100px;text-align:center">{{model.updatedDate}}</td>
                                        <td style="width: 150px;text-align:center">
                                            <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{model.confirmedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600" ng-show="model.confirmedBy != null && model.confirmerName2 != null">
                                                <i class="fa fa-user"></i> {{model.confirmerName2}}
                                            </a>
                                            <span ng-show="model.confirmedBy != null && model.confirmerName2 == null">
                                                <i class="fa fa-user"></i> {{model.confirmerName1}}
                                            </span>
                                        </td>
                                        <td style="text-align:center">{{model.confirmedDate}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Init", "Product")" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/product/';
        jsonService.reportUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];

        var context = {
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
        }
    </script>
    <script src="~/Angular/app/product/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/product/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}