@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create Credit Note";
    }
    else
    {
        ViewBag.Title = "Create Credit Note";
    }

    ViewBag.Module = "Eurofar Commercial Invoice";
}

<form class="row" name="editForm" id="main-form">

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#hb1"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet"> General Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#hb2"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Client</span> </a>
                    </li>
                    
                    <li>
                        <a data-toggle="tab" href="#hb5"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Tracking</span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="tab-content">

                        <div class="tab-pane active" id="hb1">

                            <div class="row">

                                <div class="col-sm-2">
                                    <label>Eurofar Invoice No.</label>
                                    <span class="form-control">{{editData.invoiceNo}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>LC Ref No.</label>
                                    <span class="form-control">{{editData.lcRefNo}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Currency</label>
                                    <span class="form-control">{{editData.currency}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Delivery Term</label>
                                    <span class="form-control">{{editData.deliveryTerm}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Payment Term</label>
                                    <span class="form-control">{{editData.paymentTerm}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Condition</label>
                                    <span class="form-control">{{editData.conditions}}</span>
                                </div>
                                
                            </div>

                            <div class="row">
                                
                                <div class="col-sm-2">
                                    <label>Credit Note No.</label>
                                    <span class="form-control">{{editData.creditNoteNo}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Invoice Date</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="editData.invoiceDate">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label>REF No</label>
                                    <input class="form-control" type="text" name="refNo" ng-model="editData.refNo">
                                </div>

                                
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Remark</label>
                                    <input class="form-control" type="text" name="remark" ng-model="editData.remark">
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="hb2">
                            <div class="row">

                                <div class="col-sm-2">
                                    <label>Client Code</label>
                                    <span class="form-control">{{editData.clientUD}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>VAT Code</label>
                                    <span class="form-control">{{editData.vatNo}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Telephone</label>
                                    <span class="form-control">{{editData.telephone}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Fax</label>
                                    <span class="form-control">{{editData.fax}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Client Name</label>
                                    <span class="form-control">{{editData.clientNM}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Client Address</label>
                                    <span class="form-control">{{editData.clientAddress}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="hb5">
                            <div class="row">

                                <div class="col-sm-2">
                                    <label>Created By</label>
                                    <span class="form-control">{{editData.creatorName}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Created Date</label>
                                    <span class="form-control">{{editData.createdDate}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Updated By</label>
                                    <span class="form-control">{{editData.updatorName}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Updated Date</label>
                                    <span class="form-control">{{editData.updatedDate}}</span>
                                </div>

                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#hb8"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Credit note on amount</span> </a>
                    </li>
                    <li >
                        <a data-toggle="tab" href="#hb6"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Credit note on quantiy of product</span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#hb7"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Credit note on quantit of sparepart</span> </a>
                    </li>
                   
                </ul>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <div class="tab-content">

                        <div class="tab-pane  active" id="hb8">
                            <div class="row">
                                <div class="col-sm-12 m-bottom-15">
                                    <div>
                                        <a class="btn btn-primary btn-xs font-11" href="javascript:void(0);" ng-click="addCreditNoteDetail($event)" style="margin-bottom: 10px;"><i class="fa fa-plus"></i>Add credit note</a>
                                    </div>
                                    <div id="otherDetailTable" class="table-responsive">
                                        <table class="table table-bordered table-hover custom-table dataTable">
                                            <thead>
                                                <tr>
                                                    <th style="width: 20px;"></th>
                                                    <th class="sorting" data-colname="description">DESCRIPTION OF CREIDT NOTE</th>
                                                    <th class="sorting" data-colname="totalAmount" style="width: 120px;">AMOUNT</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in editData.creditNoteDetails">
                                                    <td style="text-align: center;">
                                                        <a href="#" class="btn btn-danger btn-xs font-11" title="Delete" ng-click="deleteCreditNoteDetail($event, item.creditNoteDetailID)"><i class="fa fa-times"></i>Del</a>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" name="description" ng-model="item.description">
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{editData.currency == 'USD' ? '$' : ''}} {{editData.currency == 'EUR' ? '€' : ''}}</span>
                                                            <input type="text" class="form-control furnindo-currency" ng-model="item.amount" style="text-align:right" ng-currency fraction="2" currency-symbol="" />
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="hb6">
                            <div class="row">
                                <div class="col-sm-12 m-bottom-15">
                                    <div id="detailTable" class="table-responsive">
                                        <table class="table table-bordered table-hover custom-table dataTable">
                                            <thead>
                                                <tr>
                                                    <th class="sorting" data-colname="proformaInvoiceNo" style="width: 60px;">PROF.NO</th>
                                                    <th class="sorting" data-colname="containerNo" style="width: 80px;">CONT. NO</th>
                                                    <th class="sorting" data-colname="sealNo" style="width: 60px;">SEAL NO</th>
                                                    <th class="sorting" data-colname="containerType" style="width: 60px;">CONT.TYPE</th>
                                                    <th class="sorting" data-colname="articleCode" style="width: 80px;">ARTICLECODE</th>
                                                    <th class="sorting" data-colname="description">DESCRIPTION</th>
                                                    <th class="sorting" data-colname="quantity" style="width: 60px;">QUANTITY</th>
                                                    <th class="sorting" data-colname="unitPrice" style="width: 80px;">PRICE</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="detail in editData.creditNoteProductDetails">
                                                <tr>
                                                    <td>{{detail.proformaInvoiceNo}}</td>
                                                    <td>{{detail.containerNo}}</td>
                                                    <td>{{detail.sealNo}}</td>
                                                    <td>{{detail.containerType}}</td>
                                                    <td>{{detail.articleCode}}</td>
                                                    <td>{{detail.description}}</td>
                                                    <td>
                                                        <input class="form-control" type="text" name="unitPrice" ng-model="detail.quantity" style="text-align: right">
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{editData.currency == 'USD' ? '$' : ''}} {{editData.currency == 'EUR' ? '€' : ''}}</span>
                                                            <span class="form-control" style="text-align:right">{{detail.unitPrice | number : 2}}</span>
                                                        </div>
                                                    </td>
                                                </tr>                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="hb7">
                            <div class="row">
                                <div class="col-sm-12 m-bottom-15">
                                    <div id="sparepartTable" class="table-responsive">
                                        <table class="table table-bordered table-hover custom-table dataTable">
                                            <thead>
                                                <tr>
                                                    <th class="sorting" data-colname="proformaInvoiceNo" style="width: 60px;">PROF.NO</th>
                                                    <th class="sorting" data-colname="containerNo" style="width: 80px;">CONT. NO</th>
                                                    <th class="sorting" data-colname="sealNo" style="width: 60px;">SEAL NO</th>
                                                    <th class="sorting" data-colname="containerType" style="width: 60px;">CONT.TYPE</th>
                                                    <th class="sorting" data-colname="articleCode" style="width: 70px;">ARTICLECODE</th>
                                                    <th class="sorting" data-colname="description">DESCRIPTION</th>
                                                    <th class="sorting" data-colname="quantity" style="width: 60px;">QUANTITY</th>
                                                    <th class="sorting" data-colname="unitPrice" style="width: 80px;">PRICE</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="detail in editData.creditNoteSparepartDetails">
                                                    <td>{{detail.proformaInvoiceNo}}</td>
                                                    <td>{{detail.containerNo}}</td>
                                                    <td>{{detail.sealNo}}</td>
                                                    <td>{{detail.containerType}}</td>
                                                    <td>{{detail.articleCode}}</td>
                                                    <td>{{detail.description}}</td>
                                                    <td>
                                                        <input class="form-control" type="text" name="quantity" ng-model="detail.quantity" style="text-align: right">
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{editData.currency == 'USD' ? '$' : ''}} {{editData.currency == 'EUR' ? '€' : ''}}</span>
                                                            <span class="form-control" style="text-align:right">{{detail.unitPrice | number : 2}}</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        

                    </div>
                </div>
            </div>
        </div>
    </article>

</form>


@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current)) {{editData.isConfirmed==true?'disabled' : ''}}" title="Save" ng-click="update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Print, HttpContext.Current))" title="Print CreditNote" ng-click="printCreditNote($event,'PDF')"><i class="fa fa-print"></i></a>
        </li>

        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current)) {{editData.isConfirmed==true?'disabled' : ''}}" title="Delete" style="color: #ff0000;" ng-click="delete($event)"><i class="fa fa-times"></i></a>
        </li>

        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Approve, HttpContext.Current)) {{editData.isConfirmed==true?'disabled' : ''}}" title="Confirm Credit Note" style="color: #0066ff; " ng-click="confirm($event)"><i class="fa fa-check-square-o"></i></a>
        </li>
       
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/creditNote/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">
    creditNoteService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/creditnote/';
    creditNoteService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

    var ecommercialinvoiceApp = angular.module('tilsoftApp', ['ng-currency']);
    ecommercialinvoiceApp.controller('tilsoftController', ['$scope', function ($scope) {
        $scope.editData = null;

        //function define
        $scope.load = function()
        {
            creditNoteService.load('@ViewBag.ID', '@ViewBag.ECommercialInvoiceID',
                function (data) {
                    $scope.editData = data.data;
                    $scope.$apply();

                    jQuery('#content').show();
                    // monitor changes
                    $scope.$watch('ecommercialinvoice', function() {
                        jQuery('#changeNotification').html('<i class="fa fa-save blink_me"></i>');
                    });

                    if (data.message.type == 2)
                    {
                        jsHelper.processMessage(data.message);
                    }

                    setTimeout(function () { runAllForms() }, 200);
                },
                function (error) {
                    jsHelper.showMessage('warning', error);

                    $scope.editData = null;
                    $scope.$apply();
                }
            );
        }

        $scope.update = function ($event) {
            $event.preventDefault();
            if (confirm('Are you sure want to save credit note ?')) {

                if ($scope.editForm.$valid) {
                    creditNoteService.update('@ViewBag.ID', $scope.editData,
                    function (data) {
                        jsHelper.processMessage(data.message);
                        if (data.message.type == 0) {
                            window.location = '@Url.Action("CreditNote", "ECommercialInvoice", new { id = UrlParameter.Optional })/' + data.data.creditNoteID + '?eCommercialInvoiceID=0';
                        }
                    },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                        }
                    );
                }
                else {
                    jsHelper.showMessage('warning', '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED');
                }
            }
        }

        $scope.delete = function ($event) {
            $event.preventDefault();

            if (confirm('Are you sure ?')) {
                creditNoteService.delete(@ViewBag.ID,
                function (data) {
                    jsHelper.processMessage(data.message);
                    if(data.message.type == 0) {
                        window.location = '@Url.Action("Edit", "ECommercialInvoice", new { id = UrlParameter.Optional })/' + $scope.editData.eCommercialInvoiceID + '?invoiceTypeID=0&clientID=0';
                    }
                },
                function (error) {
                    jsHelper.showMessage('warning', error);
                }
            );
            }
        }

        $scope.confirm = function ($event) {
            $event.preventDefault();

            if (confirm('Are you sure confirm this credit note?')) {
                creditNoteService.confirm('@ViewBag.ID',
                    function (data) {
                        jsHelper.processMessage(data.message);
                        window.location = '@Url.Action("CreditNote", "ECommercialInvoice", new { id = UrlParameter.Optional })/' + $scope.editData.creditNoteID + '?eCommercialInvoiceID=0';
                    },
                    function (error) {
                        jsHelper.showMessage('warning', error);
                    }
                );
            }
        }

        $scope.addCreditNoteDetail = function ($event) {
            $event.preventDefault();
            var arr = $scope.editData.creditNoteDetails.filter(function (o) { return o.creditNoteDetailID < 0 });
            max_id = -1;
            if (arr.length > 0) {
                arr.sort(function (a, b) { return a.creditNoteDetailID - b.creditNoteDetailID });
                max_id = arr[0].creditNoteDetailID - 1;
            }
            $scope.editData.creditNoteDetails.push({
                creditNoteDetailID: max_id
            });
            setTimeout(function () { runAllForms() }, 200);
            $scope.$apply();
        }

        $scope.deleteCreditNoteDetail = function ($event, id) {
            $event.preventDefault();
            isExist = false;
            for (j = 0; j < $scope.editData.creditNoteDetails.length; j++) {
                if ($scope.editData.creditNoteDetails[j].creditNoteDetailID == id) {
                    isExist = true;
                    break;
                }
            }
            if (isExist) {
                $scope.editData.creditNoteDetails.splice(j, 1);
            }
        }

        $scope.printCreditNote = function ($event, fileTypeID) {
            $event.preventDefault();
            creditNoteService.printCreditNote('@ViewBag.ID', fileTypeID,
                function (data) {
                    if (data.message.type == 2) {
                        jsHelper.processMessage(data.message);
                        return;
                    }
                    window.open('@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data, '');
                },
                function (error) {
                    jsHelper.showMessage('warning', error);
                }
            );
        }

        //load data
        $scope.load();
    }]);

</script>
}

