@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Loading Plan";
    }
    else
    {
        ViewBag.Title = "Edit Loading Plan";
    }

    int bookingId = 0;
    int factoryId = 0;
    int parentId = 0;
    if (Request.Params["b"] != null)
    {
        bookingId = Convert.ToInt32(Request.Params["b"]);
    }
    if (Request.Params["f"] != null)
    {
        factoryId = Convert.ToInt32(Request.Params["f"]);
    }
    if (Request.Params["p"] != null)
    {
        parentId = Convert.ToInt32(Request.Params["p"]);
    }
}
<style>
    .custom-pagination {
        display: none !important;
    }
</style>

<form class="row" name="editForm" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <span> General Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabBooking"> <span> Shipping Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabImage"> <span> Image </span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabGeneral">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">Loading Ref#</label>
                                            <label class="input">
                                                <span class="form-control">{{data.loadingPlanUD}}</span>
                                            </label>
                                        </section>

                                        <section class="col col-2">
                                            <label class="label">Container Ref#</label>
                                            <label class="input">
                                                <span class="form-control">{{data.containerRefNo}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Combined With</label>
                                            <label class="input">
                                                <span class="form-control">{{data.parentLoadingPlanUD}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Factory</label>
                                            <label class="input">
                                                <span class="form-control">{{data.factoryUD}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Season</label>
                                            <label class="select">
                                                <span class="form-control">{{data.season}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Status</label>
                                            <label class="input">
                                                <span class="form-control">{{data.loadingStatus}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">Shipment Date</label>
                                            <label class="input" style="display:{{data.parentID == '' || data.parentID == 0 || data.parentID == null ? 'block' : 'none'}}">
                                                <input type="text" class="datepicker" ng-model="data.shipmentDate" data-dateformat="dd/mm/yy" />
                                                <i class="icon-append fa fa-calendar"></i>
                                            </label>
                                            <label class="input" style="display:{{data.parentID != '' && data.parentID != 0 && data.parentID != null ? 'block' : 'none'}}">
                                                <span class="form-control">{{data.parentShipmentDate}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Controller</label>
                                            <label class="input" style="display:{{data.parentID == '' || data.parentID == 0 || data.parentID == null ? 'block' : 'none'}}">
                                                <input type="text" ng-model="data.controllerName" />
                                            </label>
                                            <label class="input" style="display:{{data.parentID != '' && data.parentID != 0 && data.parentID != null ? 'block' : 'none'}}">
                                                <span class="form-control">{{data.parentControllerName}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Loading Date</label>
                                            <label class="input" style="display:{{data.parentID == '' || data.parentID == 0 || data.parentID == null ? 'block' : 'none'}}">
                                                <input type="text" class="datepicker" ng-model="data.loadingDate" data-dateformat="dd/mm/yy" />
                                                <i class="icon-append fa fa-calendar"></i>
                                            </label>
                                            <label class="input" style="display:{{data.parentID != '' && data.parentID != 0 && data.parentID != null ? 'block' : 'none'}}">
                                                <span class="form-control">{{data.parentLoadingDate}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">Remark</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.remark" />
                                            </label>
                                        </section>
                                    </div>
                                    <section>
                                        <div class="note" ng-if="data.updatorName"><strong>Updated By</strong>: {{data.updatorName}} on {{data.updatedDate}}</div>
                                        <div class="note" ng-if="data.ratorName"><strong>Rated By</strong>: {{data.ratorName}} on {{data.ratedDate}}</div>
                                        <div class="note" ng-if="data.confirmerName"><strong>Confirmed By</strong>: {{data.confirmerName}} on {{data.confirmedDate}}</div>
                                    </section>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabBooking">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row" style="display:{{data.parentID == '' || data.parentID == 0 || data.parentID == null ? 'block' : 'none'}}">
                                        <section class="col col-3">
                                            <label class="label">Container No</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.containerNo" name="txtContainerNo" ng-pattern="/^[A-Z]{4}[0-9]{7}$/" />
                                            </label>
                                            <span class="help-block" ng-show="editForm.txtContainerNo.$error.pattern"><i class="fa fa-warning"></i>Invalid container no. Always 4 capital letters and 7 numbers</span>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Container Type</label>
                                            <label class="select">
                                                <select ng-model="data.containerTypeID" ng-options="containerType.containerTypeID as containerType.containerTypeNM for containerType in containerTypes">
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Seal No</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.sealNo" />
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row" style="display:{{data.parentID != '' && data.parentID != 0 && data.parentID != null ? 'block' : 'none'}}">
                                        <section class="col col-3">
                                            <label class="label">Container No</label>
                                            <label class="input">
                                                <span class="form-control">{{data.parentContainerNo}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Container Type</label>
                                            <label class="input">
                                                <span class="form-control">{{data.parentContainerTypeNM}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Seal No</label>
                                            <label class="input">
                                                <span class="form-control">{{data.parentSealNo}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Booking No</label>
                                            <label class="input">
                                                <span class="form-control">{{data.bookingUD}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">Forwarder</label>
                                            <label class="input">
                                                <span class="form-control">{{data.forwarderNM}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Confirmation No</label>
                                            <label class="input">
                                                <span class="form-control">{{data.confirmationNo}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">B/L</label>
                                            <label class="input">
                                                <span class="form-control">{{data.blNo}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Client</label>
                                            <label class="input">
                                                <span class="form-control">{{data.clientUD}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Season</label>
                                            <label class="input">
                                                <span class="form-control">{{data.season}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Port of loading</label>
                                            <label class="input">
                                                <span class="form-control">{{data.poLName}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Port of discharge</label>
                                            <label class="input">
                                                <span class="form-control">{{data.podName}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Feeder</label>
                                            <label class="input">
                                                <span class="form-control">{{data.feeder}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Vessel</label>
                                            <label class="input">
                                                <span class="form-control">{{data.vessel}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Cut off date</label>
                                            <label class="input">
                                                <span class="form-control">{{data.cutOffDate}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">ETD</label>
                                            <label class="input">
                                                <span class="form-control">{{data.etd}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">ETA</label>
                                            <label class="input">
                                                <span class="form-control">{{data.eta}}</span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabImage">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Product Image 1</label>
                                            <div class="input-group" style="width: 100%;">
                                                @Html.Partial("~/Views/Shared/_Controls/_ImageBox.cshtml", new Frontend.Models.ImageBoxViewModel() { URLBinding = "data.productPicture1_DisplayUrl", JSOnChangeHandler = "event.changeProductPicture1Image", JSONRemoveHandler = "event.removeProductPicture1Image", ImageBoxStyle = "height: 335px;" })
                                            </div>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">Product Image 2</label>
                                            <div class="input-group" style="width: 100%;">
                                                @Html.Partial("~/Views/Shared/_Controls/_ImageBox.cshtml", new Frontend.Models.ImageBoxViewModel() { URLBinding = "data.productPicture2_DisplayUrl", JSOnChangeHandler = "event.changeProductPicture2Image", JSONRemoveHandler = "event.removeProductPicture2Image", ImageBoxStyle = "height: 335px;" })
                                            </div>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Container Image 1</label>
                                            <div class="input-group" style="width: 100%;">
                                                @Html.Partial("~/Views/Shared/_Controls/_ImageBox.cshtml", new Frontend.Models.ImageBoxViewModel() { URLBinding = "data.containerPicture1_DisplayUrl", JSOnChangeHandler = "event.changeContainer1Image", JSONRemoveHandler = "event.removeContainer1Image", ImageBoxStyle = "height: 335px;" })
                                            </div>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">Container Image 2</label>
                                            <div class="input-group" style="width: 100%;">
                                                @Html.Partial("~/Views/Shared/_Controls/_ImageBox.cshtml", new Frontend.Models.ImageBoxViewModel() { URLBinding = "data.containerPicture2_DisplayUrl", JSOnChangeHandler = "event.changeContainer2Image", JSONRemoveHandler = "event.removeContainer2Image", ImageBoxStyle = "height: 335px;" })
                                            </div>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabProduct"> <span> Product </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabSparepart"> <span> Sparepart </span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabProduct">
                            <div class="smart-form">
                                <fieldset>
                                    <section ng-if="!data.hasInvoice">
                                        <label class="input">
                                            <i class="icon-append fa fa-search"></i>
                                            <input placeholder="Provide at least 3 chars to search for the product" id="product-autocomplete" type="text">
                                        </label>
                                        <div class="note">
                                            <strong>Selected product</strong>: <a style="font-size: 11px;" href="javascript:void(0)" data-toggle="modal" data-target="#productDetail">{{product.product.description}}</a> <a class="btn btn-primary btn-xs font-11" style="font-size: 11px;" href="javascript:void(0)" ng-if="product.product" ng-click="event.addProduct()">Add</a>
                                        </div>
                                    </section>
                                    <section>
                                        <div id="grdProduct" class="tilsoft-table-wrapper">
                                            <div class="tilsoft-table">
                                                <div class="tilsoft-table-header" style="width: 1120px;">
                                                    <div style="width: 80px;">&nbsp;</div>
                                                    <div style="width: 300px;">Description</div>
                                                    <div style="width: 150px;">Info</div>
                                                    <div style="width: 80px;">Qnt In 40HC</div>
                                                    <div style="width: 80px;">Order Qnt</div>
                                                    <div style="width: 120px;">Total Loaded Qnt</div>
                                                    <div style="width: 80px;">Loaded Qnt</div>
                                                    <div>Remark</div>
                                                </div>
                                                <div class="tilsoft-table-body" style="width: 1120px;">
                                                    <table>
                                                        <tr ng-repeat="item in data.loadingPlanDetails">
                                                            <td style="width: 80px; text-align: center;">
                                                                <a ng-click="event.removeProduct(item)" class="btn btn-danger btn-xs font-11 {{data.hasInvoice==true?'disabled' : ''}}" href="javascript:void(0);"><i class=" fa fa-times"></i> Remove</a>
                                                            </td>
                                                            <td style="width: 300px;">
                                                                <strong>{{item.articleCode}}</strong>
                                                                <br />
                                                                {{item.description}}
                                                            </td>
                                                            <td style="width: 150px;">
                                                                <u>Order</u>: {{item.factoryOrderUD}}
                                                                <br />
                                                                <u>LDS</u>: {{item.lds}}
                                                                <br />
                                                                <u>Client</u>: {{item.clientUD}}
                                                                <br />
                                                                <u>Factory</u>: {{item.factoryUD}}
                                                            </td>
                                                            <td style="width: 80px; text-align: right; ">{{item.qnt40HC | currency:'':0}}</td>
                                                            <td style="width: 80px; text-align:right">{{item.orderQnt | currency:'':0}}</td>
                                                            <td style="width: 120px; text-align:right">{{item.totalLoaded | currency:'':0}}</td>
                                                            <td style="width: 80px;" ng-if="!data.hasInvoice"><input type="text" ng-model="item.quantity" style="width: 100%; text-align:right" /></td>
                                                            <td style="width: 80px; text-align: right;" ng-if="data.hasInvoice">{{item.quantity | currency:'':0}}</td>
                                                            <td ng-if="!data.hasInvoice">
                                                                <textarea rows="4" style="width: 100%;" ng-model="item.remark"></textarea>
                                                            </td>
                                                            <td ng-if="data.hasInvoice">{{item.remark}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabSparepart">
                            <div class="smart-form">
                                <fieldset>
                                    <section ng-if="!data.hasInvoice">
                                        <label class="input">
                                            <i class="icon-append fa fa-search"></i>
                                            <input placeholder="Provide at least 3 chars to search for the sparepart" id="sparepart-autocomplete" type="text">
                                        </label>
                                        <div class="note">
                                            <strong>Selected product</strong>: <a style="font-size: 11px;" href="javascript:void(0)" data-toggle="modal" data-target="#sparepartDetail">{{sparepart.sparepart.description}}</a> <a class="btn btn-primary btn-xs font-11" style="font-size: 11px;" href="javascript:void(0)" ng-if="sparepart.sparepart" ng-click="event.addSparepart()">Add</a>
                                        </div>
                                    </section>
                                    <section>
                                        <div id="grdSparepart" class="tilsoft-table-wrapper">
                                            <div class="tilsoft-table">
                                                <div class="tilsoft-table-header" style="width: 1120px;">
                                                    <div style="width: 80px;">&nbsp;</div>
                                                    <div style="width: 300px;">Description</div>
                                                    <div style="width: 150px;">Info</div>
                                                    <div style="width: 80px;">Qnt In 40HC</div>
                                                    <div style="width: 80px;">Order Qnt</div>
                                                    <div style="width: 120px;">Total Loaded Qnt</div>
                                                    <div style="width: 80px;">Loaded Qnt</div>
                                                    <div>Remark</div>
                                                </div>
                                                <div class="tilsoft-table-body" style="width: 1120px;">
                                                    <table>
                                                        <tr ng-repeat="item in data.loadingPlanSparepartDetails">
                                                            <td style="width: 80px; text-align: center;">
                                                                <a ng-click="event.removeSparepart(item)" class="btn btn-danger btn-xs font-11 {{data.hasInvoice==true?'disabled' : ''}}" href="javascript:void(0);"><i class=" fa fa-times"></i> Remove</a>
                                                            </td>
                                                            <td style="width: 300px;">
                                                                <strong>{{item.articleCode}}</strong>
                                                                <br />
                                                                {{item.description}}
                                                            </td>
                                                            <td style="width: 150px;">
                                                                <u>Order</u>: {{item.factoryOrderUD}}
                                                                <br />
                                                                <u>LDS</u>: {{item.lds}}
                                                                <br />
                                                                <u>Client</u>: {{item.clientUD}}
                                                                <br />
                                                                <u>Factory</u>: {{item.factoryUD}}
                                                            </td>
                                                            <td style="width: 80px; text-align: right; ">{{item.qnt40HC | currency:'':0}}</td>
                                                            <td style="width: 80px; text-align:right">{{item.orderQnt | currency:'':0}}</td>
                                                            <td style="width: 120px; text-align:right">{{item.totalLoaded | currency:'':0}}</td>
                                                            <td style="width: 80px;" ng-if="!data.hasInvoice"><input type="text" ng-model="item.quantity" style="width: 100%; text-align:right" /></td>
                                                            <td style="width: 80px; text-align: right;" ng-if="data.hasInvoice">{{item.quantity | currency:'':0}}</td>
                                                            <td ng-if="!data.hasInvoice">
                                                                <textarea rows="4" style="width: 100%;" ng-model="item.remark"></textarea>
                                                            </td>
                                                            <td ng-if="data.hasInvoice">{{item.remark}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

<div id="productDetail" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Product: {{product.product.description}}</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>                        
                        <div class="row">
                            <section class="col col-3">
                                <label class="label">Factory</label>
                                <label class="input">
                                    <span class="form-control">{{product.product.factoryUD}}</span>
                                </label>
                            </section>
                            
                            <section class="col col-3">
                                <label class="label">Client</label>
                                <label class="input">
                                    <span class="form-control">{{product.product.clientUD}}</span>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label class="label">Factory Order</label>
                                <label class="input">
                                    <span class="form-control">{{product.product.factoryOrderUD}}</span>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label class="label">LDS</label>
                                <label class="input">
                                    <span class="form-control">{{product.product.lds}}</span>
                                </label>
                            </section>
                        </div>
                        <section>
                            <label class="label">Art.Code</label>
                            <label class="input">
                                <span class="form-control">{{product.product.articleCode}}</span>
                            </label>
                        </section>
                        <section>
                            <label class="label">Description</label>
                            <label class="input">
                                <span class="form-control">{{product.product.description}}</span>
                            </label>
                        </section>
                        <div class="row">                            
                            <section class="col col-3">
                                <label class="label">Ordered qnt</label>
                                <label class="input">
                                    <span class="form-control" style="text-align: right;">{{product.product.orderQnt | currency:'':0}}</span>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label class="label">Load ability (40HC)</label>
                                <label class="input">
                                    <span class="form-control" style="text-align: right;">{{product.product.qnt40HC | currency:'':0}}</span>
                                </label>
                            </section>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.addProduct()">
                    Add
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div id="sparepartDetail" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Sparepart: {{sparepart.sparepart.description}}</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <div class="row">
                            <section class="col col-3">
                                <label class="label">Factory</label>
                                <label class="input">
                                    <span class="form-control">{{sparepart.sparepart.factoryUD}}</span>
                                </label>
                            </section>

                            <section class="col col-3">
                                <label class="label">Client</label>
                                <label class="input">
                                    <span class="form-control">{{sparepart.sparepart.clientUD}}</span>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label class="label">Factory Order</label>
                                <label class="input">
                                    <span class="form-control">{{sparepart.sparepart.factoryOrderUD}}</span>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label class="label">LDS</label>
                                <label class="input">
                                    <span class="form-control">{{sparepart.sparepart.lds}}</span>
                                </label>
                            </section>
                        </div>
                        <section>
                            <label class="label">Art.Code</label>
                            <label class="input">
                                <span class="form-control">{{sparepart.sparepart.articleCode}}</span>
                            </label>
                        </section>
                        <section>
                            <label class="label">Description</label>
                            <label class="input">
                                <span class="form-control">{{sparepart.sparepart.description}}</span>
                            </label>
                        </section>
                        <div class="row">
                            <section class="col col-3">
                                <label class="label">Ordered qnt</label>
                                <label class="input">
                                    <span class="form-control" style="text-align: right;">{{sparepart.sparepart.orderQnt | currency:'':0}}</span>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label class="label">Load ability (40HC)</label>
                                <label class="input">
                                    <span class="form-control" style="text-align: right;">{{sparepart.sparepart.qnt40HC | currency:'':0}}</span>
                                </label>
                            </section>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.addSparepart()">
                    Add
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "FactoryLoadingPlanMng")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update()" ng-disabled="data.isConfirmed"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default {{data.hasInvoice ? 'disabled' : ''}} @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current))" title="Delete" ng-click="event.delete()" style="color: #ff0000;" ng-disabled="data.isConfirmed"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Approve"><i class="fa fa-thumbs-o-up"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Reset Approval status"><i class="fa fa-thumbs-o-down"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/TemplateResource/js/plugin/jquery.autocomplete.min.js"></script>
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factoryloadingplan/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.supportServiceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        var context = {
            id: @ViewBag.ID,
            bookingId : @bookingId,
            factoryId : @factoryId,
            parentId: @parentId,
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            backUrl: '@Url.Action("Index", "FactoryLoadingPlanMng")',
            refreshUrl: '@Url.Action("Edit", "FactoryLoadingPlanMng", new { id = UrlParameter.Optional })/',
            editTitle: '@ViewBag.Title'
        }
    </script>
    <script src="~/Angular/app/factoryLoadingPlanMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/factoryLoadingPlanMng/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

