@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Production Item Spec";
    }
    else
    {
        ViewBag.Title = "Edit Production Item Spec";
    }

    ViewBag.Module = "ProductionItemSpec";
}
<style>
    .css-inline a {
        display: inline;
    }

    .smart-form .inline-group .checkbox {
        width: 30% !important;
    }

    .smart-form .input-group input {
        padding: 0px 7px !important;
    }
        
    .inline-cus {
        display: inline-block !important;
    }
</style>
<form class="row" name="editForm" id="main-form">
    <article>
        <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <i class="fa fa-list"></i> <span> Main Information</span> </a>
                    </li>
                </ul>
            </header>
            <div class="tab-content">
                <div class="col-col-12 tab-pane active" id="tabGeneral">
                    <div id="general-section" class="well-sm" style="background: #fff;">
                        <div class="smart-form m-bottom-15">
                            <h1>General Information</h1>
                            <br />
                            <hr>
                            <fieldset>
                                <div class="row">
                                    <!-- Disable form -->
                                    <div class="col col-2 m-bottom-15" ng-if="data.productionItemSpecID != null">
                                        <label class="label">
                                            <span>Code</span>
                                        </label>
                                        <label class="input">
                                            <input name="productionItemSpecUD" type="text" id="productionItemSpecUD" ng-model="data.productionItemSpecUD" required autocomplete="off" readonly/>
                                        </label>
                                    </div>

                                    <!-- Enable form -->
                                    <div class="col col-2 m-bottom-15" ng-if="data.productionItemSpecID == null">
                                        <label class="label">
                                            <span>Code</span>
                                            <em ng-show="editForm.productionItemSpecUD.$error.required" class="note note-error">(Required)</em>
                                        </label>
                                        <label class="input" ng-class="{'state-error': editForm.productionItemSpecUD.$error.required}">
                                            <input name="productionItemSpecUD" type="text" id="productionItemSpecUD" ng-model="data.productionItemSpecUD" required autocomplete="off" title="Code format in 4 characters"/>
                                        </label>
                                    </div>

                                    <div class="col col-8 m-bottom-15">
                                        <label class="label">
                                            <span>Name</span>
                                            <em ng-show="editForm.productionItemSpecNM.$error.required" class="note note-error">(Required)</em>
                                        </label>
                                        <label class="input" ng-class="{'state-error': editForm.productionItemSpecNM.$error.required}">
                                            <input name="productionItemSpecNM" type="text" id="productionItemSpecNM" ng-model="data.productionItemSpecNM" required autocomplete="off" />
                                        </label>
                                    </div>

                                    <div class="col col-2 m-bottom-15">
                                        <label class="label">
                                            <span>Type</span>
                                            <em ng-show="editForm.productionItemSpecUD.$error.required" class="note note-error">(Required)</em>
                                        </label>
                                        <label class="select" ng-class="{'state-error': editForm.productionItemSpecTypeID.$error.required}">
                                            <select name="productionItemSpecTypeID" ng-model="data.productionItemSpecTypeID" ng-options="productionItemSpecType.productionItemSpecTypeID as productionItemSpecType.productionItemSpecTypeNM for productionItemSpecType in productionItemSpecTypes" required>
                                                <option value=""></option>
                                            </select>
                                            <i></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="note">
                                    <strong>Last updated By</strong>
                                    <i class="fa fa-user" ng-show="data.updatedBy != null"> </i>
                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600" ng-show="data.updatedBy != null && data.updatorNM != null">
                                        {{data.updatorNM}}
                                    </a>
                                    on
                                    {{data.updatedDate}}
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "ProductionItemSpec")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script type="text/javascript">
    var context = {
            id: @ViewBag.ID,
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/productionItemSpec/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            backUrl: '@Url.Action("Index", "ProductionItemSpec")',
            refreshUrl: '@Url.Action("Edit", "ProductionItemSpec", new { id = UrlParameter.Optional })/'
        }
    </script>
    <script src="~/Angular/app/productionItemSpec/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/productionItemSpec/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
}
