@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Forwarder";
    }
    else
    {
        ViewBag.Title = "Edit Forwarder";
    }

    ViewBag.Module = "Forwarder";
}

<form class="row" name="editForm" id="main-form">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>Forwarder Information</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section class="col col-sm-2">
                                <label class="label">Forwarder Code</label>
                                <label class="input">
                                    <input type="text" class="form-control" style="min-height:32px; font-family:Arial" maxlength="255" ng-model="data.forwarderUD" ng-if="@ViewBag.ID == 0" />
                                    <span class="form-control" style="min-height:32px" ng-if="@ViewBag.ID != 0">{{data.forwarderUD}}</span>
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label class="label">Forwarder Name</label>
                                <label class="input">
                                    <input type="text" class="form-control" style="min-height:32px; font-family:Arial" maxlength="255" ng-model="data.forwarderNM" />
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label class="label">Forwarder Country</label>
                                <label class="input">
                                    <select id="country" class="select2" style="min-height:32px" ng-options="item.countryID as item.countryNM for item in country" ng-model="data.countryID">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-sm-6">
                                <label class="label">Address</label>
                                <label class="input">
                                    <input type="text" class="form-control" style="min-height:32px; font-family:Arial" maxlength="255" ng-model="data.address" />
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label class="label">Tax Code</label>
                                <label class="input">
                                    <input type="text" class="form-control" style="min-height:32px; font-family:Arial" maxlength="30" ng-model="data.taxCode" />
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label class="label">Telephone</label>
                                <label class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    <input type="text" class="form-control" style="min-height:32px; font-family:Arial; padding-left:10px" ng-model="data.tel" />
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label class="label">Fax</label>
                                <label class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-print"></i>
                                    </span>
                                    <input type="text" class="form-control" style="min-height:32px; font-family:Arial; padding-left:10px" ng-model="data.fax" />
                                </label>
                            </section>
                            <section>
                                <div class="col col-4 m-bottom-15">
                                    <h7>PIC:</h7>
                                    <label class="label inline-cus"><a href="javascript:void(0)" class="btn btn-success btn-xs" ng-click="event.addPIC()"><i class="fa fa-plus"></i> Add</a></label>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <tbody>
                                                <tr ng-repeat="item in data.forwarderPICs">
                                                    <td>
                                                        <i class="fa fa-user"></i>
                                                        <a ng-if="item.employeeID" href="@Url.Action("EmpDetail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.employeeID}}" da dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                            {{item.employeeNM}}
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>

                            <section class="col col-sm-12">
                                <label class="label">Add Contact Person <a href="javascript:void(0)" class="btn btn-primary btn-xs font-11" title="Add forwarder image" ng-click="event.addForwarderImage($event)"><i class="fa fa-plus"></i></a></label>
                                <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                                    <div class="tilsoft-table">
                                        <div class="tilsoft-table-header" style="width:1250px">
                                            <div style="width:60px; min-height:32px">Row<br><span style="color:maroon">{{totalRows|number}}</span></div>
                                            <div style="width:100px; min-height:32px">File Name</div>
                                            <div style="width:200px;">Name</div>
                                            <div style="width:120px;">Job Title</div>
                                            <div style="width:120px;">Department</div>
                                            <div style="width:120px;">Telephone</div>
                                            <div style="width:120px;">Mobile</div>
                                            <div style="width:170px;">Email</div>
                                            <div style="width:170px;">Skype</div>
                                            <div style="min-height:32px">Remark</div>
                                        </div>
                                        <div class="tilsoft-table-body" style="width:1250px">
                                            <table>
                                                <tbody>
                                                    <tr ng-repeat="item in data.forwarderImages">
                                                        <td style="width:59px; text-align:center">
                                                            <a href="javascript:void(0)" class="btn btn-danger btn-xs font-11" title="Remove forwarder image" ng-click="event.removeForwarderImage(item)">
                                                                <i class="fa fa-times"></i>
                                                            </a>
                                                        </td>
                                                        <td style="width:100px; text-align:center">
                                                            <a href="javascript:void(0)" class="btn btn-warning btn-xs font-11" title="Insert image business card, etc." ng-click="event.uploadFile(item)" ng-if="item.friendlyName == null">
                                                                <i class="fa fa-upload"></i>
                                                            </a>
                                                            <a href="{{item.fileLocation}}" class="btn btn-success btn-xs font-11" title="Download image business card, etc." target="_blank" ng-if="item.friendlyName != null">
                                                                <i class="fa fa-download"></i>
                                                            </a>
                                                            <a href="javascript:void(0)" class="btn btn-primary btn-xs font-11" title="Change image business card, etc." ng-click="event.uploadFile(item)" ng-if="item.friendlyName != null">
                                                                <i class="fa fa-pencil"></i>
                                                            </a>
                                                            <a href="javascript:void(0)" class="btn btn-danger btn-xs font-11" title="Remove image business card, etc." ng-click="event.removeFile(item)" ng-if="item.friendlyName != null">
                                                                <i class="fa fa-times"></i>
                                                            </a>
                                                        </td>
                                                        <td style="width:200px;">
                                                            <input type="text" class="form-control" maxlength="500" ng-model="item.contactPersonNM" />
                                                        </td>
                                                        <td style="width:120px;">
                                                            <input type="text" class="form-control" maxlength="500" ng-model="item.jobTitle" />
                                                        </td>
                                                        <td style="width:120px;">
                                                            <select id="department" class="select2" style="min-height:32px" ng-options="item.internalDepartmentID as item.internalDepartmentNM for item in department" ng-model="item.internalDepartmentID">
                                                                <option value=""></option>
                                                            </select>
                                                            <i></i>
                                                        </td>
                                                        <td style="width:120px;">
                                                            <input type="text" class="form-control" maxlength="500" ng-model="item.tel" />
                                                        </td>
                                                        <td style="width:120px;">
                                                            <input type="text" class="form-control" maxlength="500" ng-model="item.mobile" />
                                                        </td>
                                                        <td style="width:170px;">
                                                            <input type="text" class="form-control" maxlength="500" ng-model="item.email" />
                                                        </td>
                                                        <td style="width:170px;">
                                                            <input type="text" class="form-control" maxlength="500" ng-model="item.skype" />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" maxlength="500" ng-model="item.remark" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="col col-sm-12">
                                <label class="label">Comment</label>
                                <label class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-comment"></i>
                                    </span>
                                    <input type="text" class="form-control" style="min-height:32px; font-family:Arial" ng-model="data.comment" />
                                </label>
                            </section>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

<!--PIC-->
<div id="pICForm" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Select employee</h4>
            </div>
            <div class="modal-body">
                <div class="smart-form">
                    <fieldset>
                        <div class="row">
                            <select class="select2" ng-model="pICSelected" ng-options="item.employeeID as item.employeeNM for item in employees">
                                <option value=""></option>
                            </select>
                            @*<select id="pICID" ng-model="pICSelected" multiple="multiple" placeholder="Type name of employee">
                                    <option ng-repeat="item in employees" ng-value="item.employeeID" ng-selected="item.pICSelected">{{item.employeeNM}}</option>
                                </select>*@
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.updatePIC(pICSelected)">
                    OK
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "Forwarder")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Approve"><i class="fa fa-thumbs-o-up"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Reset Approval status"><i class="fa fa-thumbs-o-down"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js"></script>
    <script src="~/Angular/app/forwarder/service.js"></script>
    <script type="text/javascript">
            jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/forwarder/';
            jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

            $("#pPICID").select2({
                closeOnSelect: true,
            });
            var tilsoftApp = angular.module('tilsoftApp', ['avs-directives']);
            tilsoftApp.controller('tilsoftController', ['$scope', '$timeout', function ($scope, $timeout) {
                //
                // property
                //
                $scope.data = null;
                $scope.country = [];
                $scope.department = [];
                $scope.totalRows = 0;
                $scope.newID = 0;
                $scope.pICSelected = [];
                $scope.employees = [];

                $scope.gridHandler = {
                    loadMore: function () {
                    },
                    sort: function (sortedBy, sortedDirection) {
                    },
                    isTriggered: false
                };

                //
                // event
                //
                $scope.event = {
                    init: function () {
                        jsonService.getInitData(
                            function (data) {
                                $scope.country = data.data.countries;
                                $scope.department = data.data.departments;

                                $scope.event.load();
                            },
                            function (error) {
                                jsHelper.showMessage('warning', error);
                            });
                    },
                    load: function() {
                        jsonService.load(
                            @ViewBag.ID,
                            function (data) {
                                $scope.data = data.data.data;
                                $scope.employees = data.data.employees;
                                $scope.$apply();

                                jQuery('#content').show();

                                jQuery('#country').trigger('change.select2');
                                jQuery('#department').trigger('change.select2');
                            },
                            function (error) {
                                jsHelper.showMessage('warning', error);
                            });
                    },
                    update: function($event){
                        $event.preventDefault();

                        if($scope.editForm.$valid)
                        {
                            jsonService.update(
                                @ViewBag.ID,
                                $scope.data,
                                function (data) {
                                    jsHelper.processMessage(data.message);
                                    if(data.message.type == 0) {
                                        $scope.method.refresh(data.data.forwarderID);
                                    }
                                },
                                function (error) {
                                    jsHelper.showMessage('warning', error);
                                }
                            );
                        }
                        else
                        {
                            jsHelper.showMessage('warning', '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED');
                        }
                    },
                    delete: function($event){
                        $event.preventDefault();

                        if (confirm('Are you sure ?')) {
                            jsonService.delete(
                                @ViewBag.ID,
                                function (data) {
                                    jsHelper.processMessage(data.message);
                                    if(data.message.type == 0) {
                                        window.location = '@Url.Action("Index", "Forwarder")';
                                    }
                                },
                                    function (error) {
                                        jsHelper.showMessage('warning', error);
                                    }
                                );
                        }
                    },
                    addForwarderImage: function ($event) {
                        var forwarderImage = {
                            forwarderImageID: $scope.method.getNewID(),
                            friendlyName: null,
                            fileLocation: null,
                            thumbnailLocation: null,
                            file_HasChange: true,
                            remark: null
                        };

                        $scope.data.forwarderImages.push(forwarderImage);
                        $scope.totalRows = $scope.data.forwarderImages.length;
                    },
                    removeForwarderImage: function (item) {
                        var index = $scope.data.forwarderImages.indexOf(item);
                        $scope.data.forwarderImages.splice(index, 1);
                        $scope.totalRows = $scope.data.forwarderImages.length;
                    },
                    uploadFile: function (item) {
                        fileUploader2.callback = function () {
                            scope.$apply(function () {
                                item.friendlyName = fileUploader2.selectedFriendlyName;
                                item.fileLocation = fileUploader2.selectedFileUrl;
                                item.file_NewFile = fileUploader2.selectedFileName;
                                item.file_HasChange = true;
                            });
                        };

                        fileUploader2.open();
                    },
                    removeFile: function (item) {
                        item.friendlyName = null;
                        item.fileLocation = null;
                        item.file_NewFile = null;
                        item.file_HasChange = true;
                    },

                    // Select PIC
                    addPIC: function () {
                        jQuery('#pICForm').modal('show');
                    },
                    updatePIC: function (empID) {
                        for (var i = 0; i < $scope.employees.length; i++) {
                            var emp = $scope.employees[i];
                            if ($scope.method.checkEmpID(empID)){
                                return false; // exit for
                            }
                            else {
                                 if (emp.employeeID === empID){
                                    $scope.data.forwarderPICs.push({
                                    forwarderPICID: $scope.method.getNewID(),
                                    employeeID: emp.employeeID,
                                    employeeNM: emp.employeeNM
                                    });
                                 }
                                jQuery('#pICForm').modal('hide');
                             }
                        }
                        //$scope.data.forwarderPICs = [];
                        //debugger
                        //var selectedPIC = $('#pICID').select2('data');
                        //angular.forEach(selectedPIC, function (item) {debugger
                        //    $scope.data.forwarderPICs.push({
                        //        forwarderPICID: $scope.method.getNewID(),
                        //        employeeID: item.id,
                        //        employeeNM: item.text
                        //    });
                        //});

                    },
                    removePIC: function (item) {
                        $scope.data.forwarderPICs.splice($scope.data.forwarderPICs.indexOf(item), 1);
                    },
                };

                //
                // method
                //
                $scope.method = {
                    refresh: function(id){
                        jsHelper.loadingSwitch(true);
                        window.location = '@Url.Action("Edit", "Forwarder", new { id = UrlParameter.Optional })/'+id;
                    },
                    getNewID: function () {
                        $scope.newID = $scope.newID - 1;
                        return $scope.newID;
                    },
                    checkEmpID: function (empID) {
                        for (var i = 0; i < $scope.data.forwarderPICs.length; i++) {
                            var item = $scope.data.forwarderPICs[i];
                            if (item.employeeID === empID) {
                                return true;
                            }
                        }
                        return false;
                    }
                };

                //
                // init
                //
                $scope.event.init();
            }]);
    </script>
}

