@{
    ViewBag.Title = "Search Dev Request";
    ViewBag.Module = "Dev Request";
    ViewBag.Icon = "fa-search";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Search Filters</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">ID</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.DevRequestID" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Status</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.DevRequestStatusID" ng-options="status.devRequestStatusID as status.devRequestStatusNM for status in devRequestStatuses">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Project</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.DevRequestProjectID" ng-options="project.devRequestProjectID as project.devRequestProjectNM for project in devRequestProjects">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Type</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.DevRequestTypeID" ng-options="project.devRequestTypeID as project.devRequestTypeNM for project in devRequestTypes">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Priority</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.Priority" ng-options="priority.devRequestPriorityID as priority.devRequestPriorityNM for priority in devRequestPriorities">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>                                
                                <section class="col col-2">
                                    <label class="label">Assigned To</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.AssignedPersonID" ng-options="user.userID as user.fullName for user in devRequestPersons">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>                                
                            </div>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">Title</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.Title" />
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Requested By</label>
                                    <label class="select">
                                        <select ui-select2 ng-model="filters.RequesterID" class="select2">
                                            <option value="">--ALL REQUESTER--</option>
                                            <option ng-repeat="requester in requesters | orderBy: 'employeeNM'" value="{{requester.userID}}">{{requester.employeeNM}}</option>
                                        </select>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Special Criteria</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.SpecialCriteria">
                                            <option value=""></option>
                                            <option value="1">EXCLUDED RESOLVED AND CLOSED STATUS</option>
                                            <option value="2">NOT YET ASSIGN (ALSO EXCLUDED RESOLVED AND CLOSED STATUS)</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="widget-body">                    
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1600px;">
                                <div style="width: 80px;"></div>
                                <div style="width: 60px;" class="sorting" data-colname="DevRequestID">ID</div>
                                <div style="width: 100px;" class="sorting" data-colname="DevRequestStatusNM">Status</div>
                                <div style="width: 80px;" class="sorting" data-colname="DevRequestPriorityNM">Priority</div>
                                <div style="width: 100px;" class="sorting" data-colname="DevRequestTypeNM">Type</div>
                                <div style="width: 150px;" class="sorting" data-colname="DevRequestProjectNM">Project</div>
                                <div style="width: 150px;" class="sorting" data-colname="Title">Title</div>
                                <div style="width: 100px;">Start Date</div>
                                <div style="width: 80px;" class="sorting" data-colname="TotalHour">Est Hour</div>
                                <div style="width: 100px;">Est End Date</div>
                                <div style="width: 120px;" class="sorting" data-colname="RequesterName">Requested By</div>
                                <div style="width: 120px;">Assigned To</div>
                                <div style="width: 80px;">Actions</div>
                                <div>Last Action</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1600px;">
                                <table>
                                    <tr ng-repeat="model in data">
                                        <td style="text-align: center; width: 80px;">
                                            <a class="btn btn-success btn-xs font-11" target="_blank" href="@Url.Action("Detail", "DevRequestMng")/{{model.devRequestID}}" title="Detail"><i class="fa fa-list-ul"></i> Detail</a>
                                        </td>
                                        <td style="width: 60px; text-align: center;">{{model.devRequestID}}</td>
                                        <td style="width: 100px; text-align: center;"><span class="status-box request-status-{{model.devRequestStatusID}}">{{model.devRequestStatusNM}}</span></td>
                                        <td style="width: 80px; text-align: center;"><span class="priority-box priority-{{model.priority}}">{{model.devRequestPriorityNM}}</span></td>
                                        <td style="width: 100px; text-align: center;">{{model.devRequestTypeNM}}</td>
                                        <td style="width: 150px;">{{model.devRequestProjectNM}}</td>
                                        <td style="width: 150px;">{{model.title}}</td>
                                        <td style="width: 100px; text-align: center;">{{model.startDate}}</td>
                                        <td style="width: 80px; text-align: right;">{{model.totalHour}}</td>
                                        <td style="width: 100px; text-align: center;">{{model.estEndDate}}</td>
                                        <td style="width: 120px;">
                                            <a ng-if="model.requesterID" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{model.requesterID}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                <i class="fa fa-user"></i>
                                                {{model.requesterName}}
                                                <br/>
                                                ({{model.internalCompanyNM}})
                                            </a>
                                        </td>
                                        <td style="width: 120px;">
                                            <p ng-repeat="item in model.devRequestAssignments" style="{{item.isPersonInCharge?'font-weight: bold;':''}}">
                                                <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.assignedTo}}" d data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i>
                                                    {{item.assignedPersonName}}
                                                </a>
                                            </p>
                                        </td>
                                        <td style="width: 80px; text-align: center;">{{model.totalAction}}</td>
                                        <td>{{model.lastActionDescription}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <span>Found: {{totalRows}} record(s)</span>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Edit", "DevRequestMng")" target="_blank" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl : '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/devrequestmng/',
            token : '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize : @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"],
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()'
        }
    </script>
    <script src="~/Angular/app/devRequestMng/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/devRequestMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
