@{
    ViewBag.Title = "Search Frame Material Option";
    ViewBag.Module = "Frame Material Option";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Search Filters</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div style="width: 1550px" class="tilsoft-table-header">
                                <div style="width: 100px">
                                    Found: <strong>{{totalRows}}</strong>
                                </div>
                                <div class="sorting" style="width: 100px" data-colname="IsEnabled">Enabled</div>
                                <div class="sorting" style="width: 100px" data-colname="IsStandard">Standard</div>
                                <div style="width: 150px"><i class="fa fa-file-image-o"></i> Image</div>
                                <div class="sorting" style="width: 80px" data-colname="DisplayIndex">Index</div>
                                <div class="sorting" style="width: 100px" data-colname="Season">Season</div>
                                <div class="sorting" style="width: 200px" data-colname="ProductGroupNM">Group</div>
                                <div class="sorting" style="width: 80px" data-colname="FrameMaterialOptionUD">Code</div>
                                <div class="sorting" style="width: 280px" data-colname="FrameMaterialOptionNM">Name</div>
                                <div class="sorting" style="width: 100px" data-colname="Remark">Remark</div>
                                <div class="sorting_desc" data-colname="UpdatedDate"><i class="fa fa-list"></i> More Info</div>
                            </div>
                            <div style="width: 1550px; top: 50px" class="tilsoft-table-filter">
                                <div style="width: 100px">
                                    <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.reload()"><i class="fa fa-filter"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilter()"><i class="fa fa-ban"></i></a>
                                </div>
                                <div style="width: 100px">
                                    <label class="select">
                                        <select style="height: inherit; width: 100%" class="form-control search-filter" ng-model="filters.IsEnabled" ng-options="standard.yesNoValue as standard.yesNoText for standard in standardValues">
                                            <option value="">Any</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </div>
                                <div style="width: 100px">
                                    <label class="select">
                                        <select style="height: inherit; width: 100%" class="form-control search-filter" ng-model="filters.IsStandard" ng-options="standard.yesNoValue as standard.yesNoText for standard in standardValues">
                                            <option value="">Any</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </div>
                                <div style="width: 150px"></div>
                                <div style="width: 80px"></div>
                                <div style="width: 100px">
                                    <label class="select">
                                        <select style="height: inherit; width: 100%" class="form-control search-filter" ng-model="filters.Season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </div>
                                <div style="width: 200px">
                                    <label class="select">
                                        <select style="height: inherit; width: 100%" class="form-control search-filter" ng-model="filters.ProductGroupID" ng-options="group.productGroupID as group.productGroupNM for group in productGroups">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </div>
                                <div style="width: 80px">
                                    <label class="input">
                                        <input style="height: inherit; width: 100%; text-align: center; vertical-align: middle" class="search-filter" type="text" ng-model="filters.FrameMaterialOptionUD" maxlength="4" />
                                    </label>
                                </div>
                                <div style="width: 280px">
                                    <label class="input">
                                        <input style="height: inherit; width: 100%; text-align: left; vertical-align: middle" class="search-filter" type="text" ng-model="filters.FrameMaterialOptionNM" maxlength="255" />
                                    </label>
                                </div>
                                <div style="width: 100px">
                                    <label class="input">
                                        <input style="height: inherit; width: 100%; text-align: left; vertical-align: middle" class="search-filter" type="text" ng-model="filters.Remark" maxlength="255" />
                                    </label>
                                </div>
                                <div></div>
                            </div>
                            <div style="width: 1550px; margin-top: 95px" class="tilsoft-table-body">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="model in data">
                                            <td style="width: 99px; text-align: center; vertical-align: middle">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {
                                                    <a target="_blank" class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "FrameMaterialOption")/{{model.frameMaterialOptionID}}" title="View (Read Only)"><i class="fa fa-folder-open"></i> View</a>
                                                }
                                                else
                                                {
                                                    <a target="_blank" class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "FrameMaterialOption")/{{model.frameMaterialOptionID}}" title="Edit"><i class="fa fa-pencil"></i> Edit</a>
                                                }

                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                                {
                                                    <a class="btn btn-danger btn-xs font-11" href="javascript:void(0)" ng-click="event.delete(model.frameMaterialOptionID)" title="Delete"><i class=" fa fa-times"></i> Del</a>
                                                }
                                            </td>
                                            <td style="width: 100px; text-align: center; vertical-align: middle">
                                                <input type="checkbox" ng-model="model.isEnabled" disabled />
                                            </td>
                                            <td style="width: 100px; text-align: center; vertical-align: middle">
                                                <input type="checkbox" ng-model="model.isStandard" disabled />
                                            </td>
                                            <td style="width: 150px; text-align: center; vertical-align: middle">
                                                <a href="{{model.imageFile_DisplayUrl}}" data-featherlight="image">
                                                    <img style="width: 95%;" ng-src="{{model.imageFile_DisplayUrl}}" />
                                                </a>
                                            </td>
                                            <td style="width: 80px; text-align: center; vertical-align: middle">
                                                {{model.displayIndex}}
                                            </td>
                                            <td style="width: 100px; text-align: center; vertical-align: middle">
                                                {{model.season}}
                                            </td>
                                            <td style="width: 200px; text-align: left; vertical-align: middle">
                                                {{model.productGroupNM}}
                                            </td>
                                            <td style="width: 80px; text-align: center; vertical-align: middle">
                                                {{model.frameMaterialOptionUD}}
                                            </td>
                                            <td style="width: 280px; text-align: left; vertical-align: middle">
                                                {{model.frameMaterialOptionNM}}
                                            </td>
                                            <td style="width: 100px; text-align: left; vertical-align: middle">
                                                {{model.remark}}
                                            </td>
                                            <td style="text-align: left; vertical-align: middle">
                                                <span class="box" ng-show="model.createdBy">
                                                    <i class="fa fa-user"></i> <strong>Created By: </strong>
                                                    <a ng-show="model.createdBy != null && model.CreatorName != null" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{model.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">{{model.updatorName}}</a>
                                                    <a ng-show="model.updatedBy != null && model.CreatorName == null && model.fullName != null" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{model.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        <span ng-show="model.updatedBy != null && model.CreatorName == null && model.fullName != null">{{model.fullName}}</span>
                                                    </a>
                                                    <br />
                                                    <i class="fa fa-times"></i>    Date: {{model.createdDate}}
                                                </span>
                                                <span class="box" ng-show="model.updatedBy">
                                                    <i class="fa fa-user"></i> <strong>Updated By: </strong>
                                                    <a ng-show="model.updatedBy != null && model.updatorName != null" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{model.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">{{model.updatorName}}</a>
                                                    <span ng-show="model.updatedBy != null && model.updatorName == null && model.fullName != null">{{model.fullName}}</span>
                                                    <br />
                                                    <i class="fa fa-times"></i>   Date: {{model.updatedDate}}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Edit", "FrameMaterialOption")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/framematerialoption/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
        var context = {
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()'
        }
    </script>
    <script src="~/Views/FrameMaterialOption/service.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/FrameMaterialOption/index.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
