@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Factory P/I";
    }
    else
    {
        ViewBag.Title = "Edit Factory P/I";
    }
    ViewBag.Module = "Factory P/I";
    
    int factoryID = 0;
    int factoryOrderID = 0;
    string season = "";
    if (Request.Params["f"] != null)
    {
        factoryID = Convert.ToInt32(Request.Params["f"]);
    }
    if (Request.Params["s"] != null)
    {
        season = Request.Params["s"];
    }
    if (Request.Params["fo"] != null)
    {
        factoryOrderID = Convert.ToInt32(Request.Params["fo"]);
    }
}

<form class="row" name="editForm" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Factory P/I Information</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset style="padding: 0px;">
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">P/I No</label>
                                    <label ng-show="!data.isConfirmed" class="input" ng-class="{'state-error': editForm.pino.$error.maxlength || editForm.pino.$error.required}">
                                        <input type="text" name="pino" ng-model="data.proformaInvoiceNo" ng-maxlength="30" ng-required="true" />
                                    </label>
                                    <div class="note note-error" ng-show="editForm.pino.$error.maxlength">Length exceed 30 chars</div>
                                    <div class="note note-error" ng-show="editForm.pino.$error.required">This is a required field.</div>
                                    <label ng-show="data.isConfirmed" class="input">
                                        <span class="form-control">{{data.proformaInvoiceNo}}</span>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">P/I Date</label>
                                    <label ng-show="!data.isConfirmed" class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" data-dateformat="dd/mm/yy" class="datepicker" ng-model="data.invoiceDate" />
                                    </label>
                                    <label ng-show="data.isConfirmed" class="input">
                                        <span class="form-control">{{data.invoiceDate}}</span>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Season</label>
                                    <label class="input">
                                        <span class="form-control">{{data.season}}</span>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Factory Order</label>
                                    <label class="input">
                                        <span class="form-control">{{data.factoryOrderUD}}</span>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Factory</label>
                                    <label class="input">
                                        <span class="form-control">{{data.factoryUD}}</span>
                                    </label>
                                </section>      
                            </div>
                            <div class="row">                                
                                <section class="col col-8">
                                    <label class="label">
                                        Attached File
                                    </label>
                                    <label class="input">
                                        <span class="form-control">
                                            {{data.friendlyName}}
                                            <div style="position: absolute; right: 5px; top: 5px;">
                                                <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="event.downloadFile()">Download</a>                                                
                                                <a ng-show="!data.isConfirmed" href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="event.changeFile()">Change</a>
                                                <a ng-show="!data.isConfirmed" href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="event.removeFile()">Remove</a>                                                
                                            </div>
                                        </span>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Status</label>
                                    <label class="input">
                                        <span ng-if="!data.isConfirmed" class="form-control">PENDING</span>
                                        <span ng-if="data.isConfirmed" class="form-control">CONFIRMED</span>
                                    </label>
                                </section>
                            </div>  
                            <section>
                                <div class="note" ng-if="data.updatorName">
                                    <strong>Updated by:</strong> {{data.updatorName}} on {{data.updatedDate}}
                                </div>
                                <div class="note" ng-if="data.confirmerName">
                                    <strong>Confirmed by:</strong> {{data.confirmerName}} on {{data.confirmedDate}}
                                </div>
                            </section>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="jarviswidget" id="wid-id-product-detail" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Product Detail</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset style="border-top: none; padding-top: 0px;">
                            <div class="row">
                                <section>
                                    <div class="scrollable-table2-wrapper">
                                        <div class="scrollable-table2-header-wrapper">
                                            <div class="t-head" style="overflow-x: scroll;">
                                                <div class="scrollable-table2-header" style="width: 1430px;">
                                                    <table cellspacing="0" cellpadding="0" class="scrollable-table2-grid-header">
                                                        <tr>
                                                            <td style="width: 80px;">Order No</td>
                                                            <td style="width: 80px;">Client</td>
                                                            <td style="width: 150px;">Art.Code</td>
                                                            <td style="width: 500px;">Description</td>
                                                            <td style="width: 50px;">Order Qnt</td>
                                                            <td style="width: 100px;">Price</td>
                                                            <td style="width: 150px;">Amount</td>
                                                            <td style="width: 50px;">Quote Price</td>
                                                            <td>LDS</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="scrollable-table2-body t-body">
                                            <table class="scrollable-table2-grid" cellpadding="0" cellspacing="0">
                                                <tr ng-repeat="item in data.details">
                                                    <td style="width: 80px;">{{item.factoryOrderUD}}</td>
                                                    <td style="width: 80px;">{{item.clientUD}}</td>
                                                    <td style="width: 150px; word-break: break-all;">{{item.articleCode}}</td>
                                                    <td style="width: 500px;">{{item.description}}</td>
                                                    <td style="width: 50px; text-align: right;">{{$parent.method.getQuantity(item)}}</td>
                                                    <td style="width: 100px; text-align: right;">
                                                        <input ng-show="!data.isConfirmed" type="text" class="form-control" ng-model="item.unitPrice" furnindo-currency style="text-align:right; padding-right: 5px; box-sizing: border-box;" />
                                                        <span ng-show="data.isConfirmed">{{item.unitPrice | currency:'$':2}}</span>
                                                    </td>
                                                    <td style="width: 150px; text-align: right;">{{$parent.method.getAmount(item)}}</td>
                                                    <td style="width: 50px;">{{$parent.method.getQuotePrice(item)}}</td>
                                                    <td>{{item.lds}}</td>
                                                </tr>
                                                <tr ng-show="data.details.length" style="font-weight: bold;">
                                                    <td colspan="4">TOTAL</td>
                                                    <td style="width: 50px; text-align: right;">{{method.getTotalQuantity()}}</td>
                                                    <td style="width: 100px;"></td>
                                                    <td style="width: 150px; text-align: right;">{{method.getTotalAmount()}}</td>
                                                    <td style="width: 50px;"></td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </section>
                            </div>                            
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "FactoryProformaInvoice")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)" ng-disabled="data.isConfirmed"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)" ng-disabled="data.isConfirmed"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" disabled class="btn btn-default" title="Print"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Approve, HttpContext.Current))" title="Approve" ng-click="event.approve()" ng-disabled="data.isConfirmed"><i class="fa fa-thumbs-o-up"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Reset, HttpContext.Current))" title="Reset Approval status" ng-click="event.reset()" ng-disabled="!data.isConfirmed"><i class="fa fa-thumbs-o-down"></i></a>
        </li>
    </ul>
}
@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factorypi/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            id: @ViewBag.ID,
            factoryid: @factoryID,
            factoryOrderID: @factoryOrderID,
            season: '@season',
            backUrl: '@Url.Action("Index", "FactoryProformaInvoice")',
            refreshUrl: '@Url.Action("Edit", "FactoryProformaInvoice", new { id = UrlParameter.Optional })/',
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED'
        }
    </script>
    <script src="~/Angular/app/factoryProformaInvoice/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/factoryProformaInvoice/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

