@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var supportServiceRoot = (System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"]);
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];

    ViewBag.Title = (ViewBag.ID == 0) ? "OverView Cushion Testing" : "OverView Cushion Testing";
    ViewBag.SubTitle = (ViewBag.ID == 0) ? "Create" : "Edit";
    ViewBag.Module = " Cushion Testing ";
}

<form name="editForm" class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral" name="gtab"> <span>OverView Cushion Testing </span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabGeneral">
                            <div class="smart-form">
                                <div class="row">
                                    <section class="col col-sm-2">
                                        <label class="label">
                                            <label>Test Code</label>
                                        </label>
                                        <label class="input">
                                            <span class="form-control">{{data.cushionTestReportUD}}</span>
                                        </label>
                                    </section>
                                    <section class="col col-sm-3">
                                        <label class="label">
                                            <label>Cushion Color</label>
                                        </label>
                                        <label class="input">
                                            <span class="form-control">{{data.cushionColorNM}}</span>
                                        </label>
                                    </section>
                                    <section class="col col-sm-2">
                                        <label class="label">Client</label>
                                        <label class="input">
                                            <span class="form-control">{{data.clientUD}}</span>
                                        </label>
                                    </section>
                                    <section class="col col-sm-2">
                                        <label class="label">Test Date</label>
                                        <label class="input">
                                            <span class="form-control">{{data.testDate}}</span>
                                        </label>
                                    </section>
                                    <section class="col col-sm-3">
                                        <label class="label">Remark</label>
                                        <label class="input">
                                            <span class="form-control">{{data.remark}}</span>
                                        </label>
                                    </section>
                                </div>
                                <section>
                                    <div class="note">
                                        <strong>Updated By</strong>
                                        <a ng-show="(data.updatedBy != null && data.updaterName != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                            <i class="fa fa-user"></i> {{data.updaterName}}
                                        </a>
                                        <span ng-show="(data.updatedBy != null && data.updatorName == null)"> <i class="fa fa-user"></i> {{data.updatorName}}</span>
                                        on {{data.updatedDate}}
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="row">
                            <section class="col col-sm-6">
                                <div class="smart-form">
                                    <div class="widget-body">
                                        <div id="searchResult" class="tilsoft-table-wrapper">
                                            <div class="tilsoft-table">
                                                <div class="tilsoft-table-body" style="width:100%; max-width:880px; overflow-y:auto; height:auto; min-height:100px; margin-top:0px">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th style="width:300px">File</th>
                                                                <th>Remark</th>
                                                            </tr>
                                                            <tr ng-repeat="item in data.cushionTestReportFileOverViewDTOs">
                                                                <td style="width:300px">
                                                                    <a href="{{item.scanFileLocation}}" target="_blank">{{item.friendlyName}}</a>
                                                                </td>
                                                                <td>{{item.remark}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="col col-sm-6">
                                <div class="smart-form">
                                    <fieldset class="no-padding">
                                        <section>
                                            <div class="row">
                                            </div>
                                            <div class="tilsoft-table-wrapper">
                                                <div class="tilsoft-table">
                                                    <div class="tilsoft-table-body" style="width: 100%; overflow-y: auto; height: auto; margin-top: 0px;">
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <th style="text-align:center">Test Standard</th>
                                                                </tr>
                                                                <tr ng-repeat="item in data.cushionTestStandardOverViewDTOs">
                                                                    <td>{{item.testStandardNM}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </fieldset>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction{
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Edit", "CushionColor")/{{data.cushionColorID}}" class="btn btn-default" title="Back">
                <i class="fa fa-arrow-left"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a target="_blank" href="@Url.Action("Edit", "CushionTestingMng")/{{data.cushionTestReportID}}" class="btn btn-default" title="Edit Cushion Testing">
                <i class="fa fa-pencil"></i>
            </a>
        </li>
    </ul>
}

@section pagejs{
    <script type="text/javascript">
    var context = {
    id: @ViewBag.ID,
    backUrl: '@Url.Action("Index", "CushionTestingMng")',
    refreshUrl: '@Url.Action("Edit", "CushionTestingMng", new { id = UrlParameter.Optional })/',
    serviceUrl: '@(serviceRoot)/api/cushionTestingMng/',
    supportServiceUrl: '@(supportServiceRoot)/api/support/',
    token: '@token',
    msgValid: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED'

};
    </script>
    <script type="text/javascript" src="~/Views/CushionTestingMng/overview.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/CushionTestingMng/service.js?v=@guid"></script>
}

