@{
    ViewBag.Title = "Sample Product - Factory Assignment";
    ViewBag.Module = "Sample Product - Factory Assignment";
    ViewBag.Icon = "fa-pencil-square-o";
}


<form name="editForm" class="row">
    <!-- NEW WIDGET START -->
    <div class="col-sm-12">
        <div class="well padding-10" style="background: #fff;">
            <div class="smart-form">
                <fieldset>
                    <div class="row">
                        <section class="col col-3">
                            <a href="{{data.fileLocation}}" data-featherlight="image" style="float: left; margin-right: 5px; margin-top: 10px; width: 50%;">
                                <img ng-src="{{data.thumbnailLocation}}" style="width: 100%;" />
                            </a>
                        </section>
                        <section class="col col-9">
                            <h3>{{data.sampleProductUD}} <code>&nbsp;{{data.sampleProductStatusNM}}&nbsp;</code></h3>
                            <p>{{data.articleDescription}}</p>
                            <br />
                            Quantity: {{data.quantity}}
                            <br/>
                            Sample Order: {{data.sampleOrderUD}}
                            <br/>
                            Client: {{data.clientUD}}
                        </section>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="w01" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Factory Assignment</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-6">
                                    <section>
                                        <label class="label">
                                            Factory
                                            <em ng-show="editForm.factory.$error.required" class="note note-error">(Required)</em>
                                        </label>
                                        <label class="select">
                                            <select avs-select ng-data-source="data.vnSuggestedFactoryID">
                                                <option></option>
                                                <option ng-repeat="item in factories" value="{{item.factoryID}}">{{item.factoryUD}}</option>
                                            </select>
                                            <input type="hidden" name="factory" ng-model="data.vnSuggestedFactoryID" required />
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">Deadline</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input type="text" ng-model="data.factoryDeadline" />
                                        </label>
                                    </section>
                                </section>
                                <section class="col col-6">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" style="width: 100%;">Sub Factory</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="row">
                                                        <section style="margin-bottom: 0px;" class="col col-10">
                                                            <label class="select">
                                                                <select id="subFactorySelect2" avs-select>
                                                                    <option></option>
                                                                    <option ng-repeat="item in factories" value="{{item.factoryID}}">{{item.factoryUD}}</option>
                                                                </select>
                                                            </label>
                                                        </section>
                                                        <section style="margin-bottom: 0px;" class="col col-2">
                                                            <label class="input">
                                                                <a href="javascript:void(0)" class="btn btn-success btn-sm" ng-click="event.addSubFactory()"><i class="fa fa-plus" title="Add"></i> Add</a>
                                                            </label>
                                                        </section>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="item in data.subFactoryDTOs">
                                                <td><a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="event.removeSubFactory(item)"><i class="fa fa-times"></i> Remove</a></td>
                                                <td style="width: 100%;">{{item.factoryUD}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                            </div>
                        </fieldset>

                        <footer>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.update()"><i class="fa fa-save"></i> Save</a>
                            <a href="@Url.Action("ProductOverview", "Sample3Mng", new { id = ViewBag.ID })" class="btn btn-default"><i class="fa fa-angle-left"></i> Back</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- WIDGET END -->
</form>

@section FormAction {
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            id: @ViewBag.ID,
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/sample3/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            refreshURL: '@Url.Action("ProductOverview", "Sample3Mng", new { id = ViewBag.ID })'
        };
    </script>
    <script src="~/Angular/app/sample3Mng/factoryAssignment.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/sample3Mng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}