@{
    ViewBag.Title = "Search Sample Order";
    ViewBag.Module = "Sample Order";
    ViewBag.Icon = "fa-search";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="widget-body no-padding">

                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1180px;">
                                <div style="width: 120px; font-weight: bold; text-transform: none;">Found: <font style="color: #a90329;">{{totalRows}}</font> row(s)</div>
                                <div style="width: 80px;" class="sorting" data-colname="Season">Season</div>
                                <div style="width: 80px;" class="sorting" data-colname="SampleOrderStatusNM">Status</div>
                                <div style="width: 100px" class="sorting" data-colname="SampleOrderUD">Code</div>
                                <div style="width: 250px" class="sorting" data-colname="ClientNM">Client</div>
                                <div style="width: 400px;" class="sorting" data-colname="Deadline">Info</div>
                                <div class="sorting" data-colname="UpdatedDate">Updated By</div>
                            </div>
                            <div class="tilsoft-table-filter" style="width: 1180px;">
                                <div style="width: 120px;">
                                    <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.reload()"><i class="fa fa-filter"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilter()"><i class="fa fa-ban"></i></a>
                                </div>
                                <div style="width: 80px;">
                                    <select class="search-filter" ng-model="filters.Season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                        <option></option>
                                    </select>
                                </div>
                                <div style="width: 80px;">
                                    <select class="search-filter" ng-model="filters.SampleOrderStatusID" ng-options="status.sampleOrderStatusID as status.sampleOrderStatusNM for status in sampleOrderStatuses">
                                        <option></option>
                                    </select>
                                </div>
                                <div style="width: 100px">
                                    <input class="search-filter" ng-model="filters.SampleOrderUD" type="text" />
                                </div>
                                <div style="width: 250px">
                                    <input class="search-filter" ng-model="filters.ClientUD" type="text" />
                                </div>
                                <div style="width: 400px;"></div>
                                <div class="sorting"></div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1180px;">
                                <table>
                                    <tr ng-repeat="item in data">
                                        <td style="text-align: center; width: 120px;">
                                            <a class="btn btn-success btn-xs font-11" target="_blank" href="@Url.Action("OrderOverview", "Sample3Mng")/{{item.sampleOrderID}}" title="Detail"><i class="fa fa-eye"></i> Overview</a>
                                        </td>
                                        <td style="width: 80px; text-align: center;">{{item.season}}</td>
                                        <td style="width: 80px; text-align: center;">{{item.sampleOrderStatusNM}}</td>
                                        <td style="width: 100px; text-align: center;">
                                            <strong>{{item.sampleOrderUD}}</strong>
                                        </td>
                                        <td style="width: 250px;">
                                            <strong>{{item.clientUD}}</strong>
                                            <br />
                                            {{item.clientNM}}
                                        </td>
                                        <td style="width: 400px;text-align: left;">
                                            <span class="item left"><u>Purpose</u>: {{item.purposeNM}}</span>
                                            <span class="item right"><u>Transport</u>: {{item.transportTypeNM}}</span>

                                            <div class="clear"></div>

                                            <span class="item left"><u>Deadline</u>: {{item.deadline}}</span>
                                            <span class="item right"><u>Hard Deadline</u>: {{item.hardDeadline}}</span>

                                            <div class="clear"></div>

                                            <u>Destination</u>: {{item.destination}}
                                        </td>
                                        <td>
                                            <strong>
                                                <a ng-if="item.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i> {{item.updatorName}}
                                                </a>
                                            </strong>
                                            <br />{{item.updatedDate}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a target="_blank" href="@Url.Action("OrderInit", "Sample3Mng")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl : '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/sample3/',
            token : '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize : @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"],
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()'
        }
    </script>
    <script src="~/Angular/app/sample3Mng/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/sample3Mng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
