@{
    ViewBag.Title = "Sample Product - Item Data";
    ViewBag.Module = "Sample Product - Item Data";
    ViewBag.Icon = "fa-pencil-square-o";
}


<form name="editForm" class="row">
    <!-- NEW WIDGET START -->
    <div class="col-sm-12">
        <div class="well padding-10" style="background: #fff;">
            <div class="smart-form">
                <fieldset>
                    <div class="row">
                        <section class="col col-3">
                            <a href="{{data.fileLocation}}" data-featherlight="image" style="float: left; margin-right: 5px; margin-top: 10px; width: 50%;">
                                <img ng-src="{{data.thumbnailLocation}}" style="width: 100%;" />
                            </a>
                        </section>
                        <section class="col col-9">
                            <h3>{{data.sampleProductUD}} <code>&nbsp;{{data.sampleProductStatusNM}}&nbsp;</code></h3>
                            <p>{{data.articleDescription}}</p>
                            <br />
                            Quantity: {{data.quantity}}
                            <br />
                            Sample Order: {{data.sampleOrderUD}}
                            <br />
                            Client: {{data.clientUD}}
                            <br />
                            Factory: {{data.factoryUD}}
                            <br />
                            Factory Deadline: {{data.factoryDeadline}}
                        </section>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>


    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="w01" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Item Data</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">Overall Dimension (L/W/H)</label>
                                    <label class="input">
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="Length" type="text" ng-model="data.overallDimL" />
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="Width" type="text" ng-model="data.overallDimW" />
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="Height" type="text" ng-model="data.overallDimH" />
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Load Ability (20DC/40DC/40HC)</label>
                                    <label class="input">
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" avs-number ng-data-source="data.loadAbility20DC" placeholder="20DC" type="text" />
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" avs-number ng-data-source="data.loadAbility40DC" placeholder="40DC" type="text" />
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" avs-number ng-data-source="data.loadAbility40HC" placeholder="40HC" type="text" />
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Carton Box Dimension (L/W/H)</label>
                                    <label class="input">
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="Length" type="text" ng-model="data.cartonBoxDimL" />
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="Width" type="text" ng-model="data.cartonBoxDimW" />
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="Height" type="text" ng-model="data.cartonBoxDimH" />
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Net Weight</label>
                                    <label class="input">
                                        <input style="text-align: right;" type="text" ng-model="data.netWeight" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Gross Weight</label>
                                    <label class="input">
                                        <input style="text-align: right;" type="text" ng-model="data.grossWeight" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Qnt/Box</label>
                                    <label class="input">
                                        <input style="text-align: right;" type="text" ng-model="data.qntInBox" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Inidication Price</label>
                                    <label class="input">
                                        <input style="text-align: right;" type="text" avs-currency ng-data-source="data.indicatedPrice" />
                                    </label>
                                </section>
                            </div>
                        </fieldset>

                        <footer>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.update()"><i class="fa fa-save"></i> Save</a>
                            <a href="@Url.Action("ProductOverview", "Sample3Mng", new { id = ViewBag.ID })" class="btn btn-default"><i class="fa fa-angle-left"></i> Back</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- WIDGET END -->

</form>

@section FormAction {
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            id: @ViewBag.ID,
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/sample3/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            refreshURL: '@Url.Action("ProductOverview", "Sample3Mng", new { id = ViewBag.ID })'
        };
    </script>
    <script src="~/Angular/app/sample3Mng/itemData.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/sample3Mng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}