@{
    ViewBag.Title = "Create New Sample Order";
    ViewBag.Icon = "fa-pencil-square-o";
}

<form class="row" name="editForm" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="w01" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Create New Sample Order</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">
                                        Client
                                        <em ng-show="editForm.client.$error.required" class="note note-error">(Required)</em>
                                    </label>
                                    <label class="input" ng-class="{'state-error': editForm.client.$error.required}">
                                        <input name="client" type="text" avs-select placeholder="select ..." data-token="@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]" data-url="@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/quicksearchclient2/" ng-data-source="selection.clientID" />
                                        <input type="hidden" name="client" ng-model="selection.clientID" required />
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">
                                        Season
                                        <em ng-show="editForm.season.$error.required" class="note note-error">(Required)</em>
                                    </label>
                                    <label class="select" ng-class="{'state-error': editForm.season.$error.required}">
                                        <select name="season" ng-model="selection.season" ng-options="season.seasonValue as season.seasonText for season in seasons" required></select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <footer>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.goNext()">Next <i class="fa fa-angle-right"></i></a>
                            <a href="@Url.Action("Index", "Sample3Mng")" class="btn btn-default"><i class="fa fa-angle-left"></i> Back</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- WIDGET END -->
</form>


@section FormAction {
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/sample3Mng/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            supportServiceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/',
            nextURL: '@Url.Action("OrderEdit", "Sample3Mng", new { id = UrlParameter.Optional })/'
        };
    </script>
    <script src="~/Angular/app/sample3Mng/orderInit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/sample3Mng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}