@{
    ViewBag.Title = "Sample Order";
    ViewBag.Module = "Sample Order";
    ViewBag.Icon = "fa-pencil-square-o";

    string Season = string.Empty;
    int ClientID = 0;
    if (Request.Params["s"] != null)
    {
        Season = Request.Params["s"].ToString();
    }
    if (Request.Params["c"] != null)
    {
        ClientID = Convert.ToInt32(Request.Params["c"]);
    }
}

<form name="editForm" class="row">
    <!--content here-->
    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="w01" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Sample Order</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Code</label>
                                    <label class="input">
                                        <input type="text" readonly ng-model="data.sampleOrderUD" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Season</label>
                                    <label class="input">
                                        <input type="text" readonly ng-model="data.season" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Client</label>
                                    <label class="input">
                                        <input type="text" readonly ng-model="data.clientUD" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Deadline</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" data-dateformat="dd/mm/yy" class="datepicker" ng-model="data.deadline"  />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Hard Deadline</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" data-dateformat="dd/mm/yy" class="datepicker" ng-model="data.hardDeadline" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Order Status</label>
                                    <label class="input">
                                        <input type="text" readonly ng-model="data.sampleOrderStatusNM" />
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Purpose</label>
                                    <label class="select">
                                        <select ng-model="data.purposeID" ng-options="samplePurpose.purposeID as samplePurpose.purposeNM for samplePurpose in samplePurposes">
                                            <option></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Transport Type</label>
                                    <label class="select">
                                        <select ng-model="data.transportTypeID" ng-options="sampleTransportType.transportTypeID as sampleTransportType.transportTypeNM for sampleTransportType in sampleTransportTypes">
                                            <option></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Destination</label>
                                    <label class="input">
                                        <input type="text" ng-model="data.destination" />
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Remark</label>
                                    <label class="input">
                                        <input type="text" ng-model="data.remark" />
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-6">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2">NL Monitor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="row">
                                                        <section style="margin-bottom: 0px;" class="col col-10">
                                                            <label class="input">
                                                                <input id="nlMonitorSelect2" type="text" avs-select placeholder="select ..." data-token="@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]" data-url="@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/sample3/quicksearchnlmonitor/" data-format-function="select2FormatResult" />
                                                            </label>
                                                        </section>
                                                        <section style="margin-bottom: 0px;" class="col col-2">
                                                            <label class="input">
                                                                <a href="javascript:void(0)" class="btn btn-success btn-sm" ng-click="event.addNLMonitor()"><i class="fa fa-plus" title="Add"></i> Add</a>
                                                            </label>
                                                        </section>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="item in data.sampleMonitorDTOs | filter: {sampleMonitorGroupID: 2}">
                                                <td>
                                                    <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="event.removeMonitorUser(item)"><i class="fa fa-times"></i> Remove</a>
                                                </td>
                                                <td style="width: 100%;">
                                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.userID}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        {{item.fullName}}
                                                    </a>
                                                    ({{item.internalCompanyNM}}) &nbsp;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                                <section class="col col-6">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2">VN Monitor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="row">
                                                        <section style="margin-bottom: 0px;" class="col col-10">
                                                            <label class="input">
                                                                <input id="vnMonitorSelect2" type="text" avs-select placeholder="select ..." data-token="@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]" data-url="@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/sample3/quicksearchvnmonitor/" data-format-function="select2FormatResult" />
                                                            </label>
                                                        </section>
                                                        <section style="margin-bottom: 0px;" class="col col-2">
                                                            <label class="input">
                                                                <a href="javascript:void(0)" class="btn btn-success btn-sm" ng-click="event.addVNMonitor()"><i class="fa fa-plus" title="Add"></i> Add</a>
                                                            </label>
                                                        </section>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="item in data.sampleMonitorDTOs | filter: {sampleMonitorGroupID: 1}">
                                                <td>
                                                    <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="event.removeMonitorUser(item)"><i class="fa fa-times"></i> Remove</a>
                                                </td>
                                                <td style="width: 100%;">
                                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.userID}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        {{item.fullName}}
                                                    </a>
                                                    ({{item.internalCompanyNM}}) &nbsp;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                            </div>

                            <section>
                                <div class="note" ng-if="data.createdBy">
                                    Created by
                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.createdBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        {{data.creatorName}}
                                    </a>
                                    on {{data.createdDate}}
                                </div>

                                <div class="note" ng-if="data.updatedBy">
                                    Updated by
                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        {{data.updatorName}}
                                    </a>
                                    on {{data.updatedDate}}
                                </div>
                            </section>

                        </fieldset>
                        <footer>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.update()"><i class="fa fa-save"></i> Save</a>
                            @if (ViewBag.ID > 0)
                            {
                                <a href="@Url.Action("OrderOverview", "Sample3Mng", new { id = ViewBag.ID })" class="btn btn-default"><i class="fa fa-angle-left"></i> Back</a>
                            }
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- WIDGET END -->
</form>


@section FormAction {
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            id: @ViewBag.ID,
            clientId: @ClientID,
            season: '@Season',
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/sample3/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            supportServiceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/',
            refreshURL: '@Url.Action("OrderOverview", "Sample3Mng", new { id = UrlParameter.Optional })/'
        };

        function select2FormatResult(data){
            return {
                results: $.map(data, function (e, i) {
                    return {
                        id: e.userId,
                        text: e.employeeNM + ' (' + e.internalCompanyNM + ')',
                        data: e
                    }
                })
            };            
        }
    </script>
    <script src="~/Angular/app/sample3Mng/orderEdit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/sample3Mng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}