@{
    ViewBag.Title = "Sample Product Overview";
    ViewBag.Module = "Sample Product Overview";
    ViewBag.Icon = "fa-eye";
}

<div class="row">
    <!--content here-->
    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="w02" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Progress</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section>
                                <table class="table table-bordered table-center">
                                    <tbody>
                                        <tr>
                                            <td style="background: #fff; font-weight: bold;">
                                                <a href="@Url.Action("ProductInfo", "Sample3Mng", new { id = ViewBag.ID })" class="btn btn-success" style="padding: 6px 12px;">Product Info</a>
                                            </td>
                                            <td style="background: #fff; font-weight: bold;">
                                                <a href="@Url.Action("FactoryAssignment", "Sample3Mng", new { id = ViewBag.ID })" class="btn btn-success" style="padding: 6px 12px;">Factory Assignment</a>
                                            </td>
                                            <td style="background: #fff; font-weight: bold;">
                                                <a href="@Url.Action("BuildingProcess", "Sample3Mng", new { id = ViewBag.ID })" class="btn btn-success" style="padding: 6px 12px;">Progress</a>
                                                <code>PENDING</code>
                                            </td>
                                            <td style="background: #fff; font-weight: bold;">
                                                <a href="@Url.Action("ItemData", "Sample3Mng", new { id = ViewBag.ID })" class="btn btn-success" style="padding: 6px 12px;">Item Data</a>
                                                <code>PENDING</code>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget" id="w02" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Sample Product Overview</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <h2 style="margin-bottom: 15px;">
                                Sample Product Info <code style="padding: 0px 5px;">{{data.sampleProductStatusNM}}</code> 
                                <a href="@Url.Action("ProductInfo", "Sample3Mng", new { id = ViewBag.ID })" class="btn btn-success btn-xs"><i class="fa fa-pencil"></i> Edit</a>
                            </h2>
                            <section>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 67%;">Reference Images</th>
                                            <th style="width: 33%;">Finished Image</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div style="font-size: 0px;">
                                                    <div style="padding: 5px; width: 50%; box-sizing: border-box; display: inline-block; font-size: 14px;" ng-repeat="item in data.referenceImageDTOs">
                                                        <div style="border: solid 1px #ccc; padding: 5px; font-size: 12px;">
                                                            <p style="position: relative;">
                                                                <a href="{{item.fileLocation}}" data-featherlight="image" style="float: left; margin-right: 5px; margin-top: 10px; width: 50%;">
                                                                    <img ng-src="{{item.thumbnailLocation}}" style="width: 100%;" />
                                                                </a>
                                                                <span ng-if="item.isDefault" class="label label-primary status" style="position: absolute; top: 0px; left: 0px;">DEFAULT</span>
                                                                <strong>Bring in By: </strong> {{item.bringInBy}}
                                                                <br />
                                                                <strong>Bring in Date: </strong> {{item.bringInDate}}
                                                                <br />
                                                                <strong>Remark: </strong> {{method.formatRemark(item.remark)}}
                                                            </p>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="font-size: 0px;">
                                                    <a href="{{item.finishedImageFileLocation}}" data-featherlight="image">
                                                        <img ng-src="{{item.finishedImageThumbnailLocation}}" style="width: 100%;" />
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Code</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.sampleProductUD}}" />
                                    </label>
                                </section>
                                <section class="col col-9">
                                    <label class="label">Model</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.articleDescription}}" />
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Material 1</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.materialDescription}}" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Material 1 Type</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.materialTypeDescription}}" />
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Material 1 Color</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.materialColorDescription}}" />
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Material 2</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.material2Description}}" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Material 2 Type</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.material2TypeDescription}}" />
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Material 2 Color</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.material2ColorDescription}}" />
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Material 3</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.material3Description}}" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Material 3 Type</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.material3TypeDescription}}" />
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Material 3 Color</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.material3ColorDescription}}" />
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Back Cushion</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.backCushionDescription}}" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Back Cushion Thickness</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.backCushionThickness}}" />
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Back Cushion Specification</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.backCushionSpecification}}" />
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Seat Cushion</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.seatCushionDescription}}" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Seat Cushion Thickness</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.seatCushionThickness}}" />
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Seat Cushion Specification</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.seatCushionSpecification}}" />
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">Cushion Color</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.cushionColorDescription}}" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Quantity</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.quantity | number:0}}" style="text-align: right;" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Item/Box</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.itemPerBox}}" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Box/Set</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.boxPerSet}}" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">&nbsp;</label>
                                    <label class="checkbox">
                                        <input type="checkbox" disabled ng-model="data.istdNeeded" /> TD Needed
                                        <i style="background: #fff4a6;"></i>
                                    </label>
                                </section>
                            </div>
                        </fieldset>

                        <fieldset ng-if="data.istdNeeded">
                            <h2 style="margin-bottom: 15px;">
                                Technical Drawing 
                                <a href="@Url.Action("TechnicalDrawingList", "Sample3Mng", new { id = ViewBag.ID })" class="btn btn-success btn-xs"><i class="fa fa-pencil"></i> Edit</a>
                            </h2>
                            <section>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Confirmed</th>
                                            <th>Description</th>
                                            <th>Preview</th>
                                            <th>Source</th>
                                            <th>Tracking</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center;" colspan="5">(Empty)</td>
                                        </tr>
                                        <tr ng-repeat="item in data.technicalDrawingDTOs">
                                            <td style="text-align: center;"><i class="fa fa-check-square-o" ng-if="item.isConfirmed"></i></td>
                                            <td>{{item.description}}</td>
                                            <td><a ng-if="item.previewFileLocation" href="{{item.previewFileLocation}}">{{item.previewFileFriendlyName}}</a></td>
                                            <td><a ng-if="item.sourceFileLocation" href="{{item.sourceFileLocation}}">{{item.sourceFileFriendlyName}}</a></td>
                                            <td>
                                                <div class="note">
                                                    Updated by
                                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        {{data.updatorName}}
                                                    </a>
                                                    on {{data.updatedDate}}
                                                </div>

                                                <div class="note" ng-if="item.isConfirmed">
                                                    Confirmed by
                                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.confirmedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        {{data.confirmerName}}
                                                    </a>
                                                    on {{data.confirmedDate}}
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </fieldset>

                        <fieldset>
                            <h2 style="margin-bottom: 15px;">
                                Internal Remark 
                                <a target="_blank" href="@Url.Action("InternalRemarkList", "Sample3Mng", new { id = ViewBag.ID })" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Add</a>
                            </h2>
                            <section>
                                <div class="well">
                                    <table class="table table-striped table-forum">
                                        <tbody ng-if="data.internalRemarkDTOs.length == 0">
                                            <tr>
                                                <td style="text-align: center;">(Empty)</td>
                                            </tr>
                                        </tbody>
                                        <tbody ng-repeat="item in data.internalRemarkDTOs">
                                            <tr>
                                                <td class="text-center" style="width: 150px;">
                                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        {{item.updatorName}}
                                                    </a>
                                                </td>
                                                <td>on {{item.updatedDate}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">
                                                    <div class="push-bit">
                                                        <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                            <img ng-src="{{item.thumbnailLocation}}" alt="avatar" class="online" width="50" />
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p ng-bind-html="method.formatRemark(item.remark)"></p>
                                                    <div ng-if="item.internalRemarkImageDTOs.length > 0">
                                                        <ul class="file-list">
                                                            <li ng-repeat="file in item.internalRemarkImageDTOs"><a href="{{file.fileLocation}}">{{file.friendlyName}}</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </fieldset>

                        <fieldset>
                            <h2 style="margin-bottom: 15px;">
                                Factory Assignment 
                                <a target="_blank" href="@Url.Action("FactoryAssignment", "Sample3Mng", new { id = ViewBag.ID })" class="btn btn-success btn-xs"><i class="fa fa-pencil"></i> Edit</a>
                            </h2>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">Factory</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.vnSuggestedFactoryUD}}" />
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Deadline</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.factoryDeadline}}" />
                                    </label>
                                </section>
                            </div>
                            <section>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sub Factories</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-if="data.subFactoryDTOs.length == 0">
                                        <tr>
                                            <td style="text-align: center;">(Empty)</td>
                                        </tr>                                        
                                    </tbody>
                                    <tbody ng-if="data.subFactoryDTOs.length > 0">
                                        <tr ng-repeat="item in data.subFactoryDTOs">
                                            <td>{{item.factoryUD}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </fieldset>

                        <fieldset>
                            <h2 style="margin-bottom: 15px;">
                                Building Process 
                                <a target="_blank" href="@Url.Action("BuildingProcess", "Sample3Mng", new { id = ViewBag.ID })" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Add</a>
                            </h2>
                            <section>
                                <div class="well">
                                    <table class="table table-striped table-forum">
                                        <tbody ng-if="data.progressDTOs.length == 0">
                                            <tr>
                                                <td style="text-align: center;">(Empty)</td>
                                            </tr>
                                        </tbody>
                                        <tbody ng-repeat="item in data.progressDTOs">
                                            <tr>
                                                <td class="text-center" style="width: 150px;">
                                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        {{item.updatorName}}
                                                    </a>
                                                </td>
                                                <td>on {{item.updatedDate}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">
                                                    <div class="push-bit">
                                                        <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                            <img ng-src="{{item.thumbnailLocation}}" alt="avatar" class="online" width="50" />
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p ng-bind-html="method.formatRemark(item.remark)"></p>
                                                    <div ng-if="item.progressImageDTOs.length > 0">
                                                        <div class="superbox">
                                                            <div class="superbox-list" style="padding: 5px;" ng-repeat="file in item.progressImageDTOs">                                                                
                                                                <div style="border: solid 1px #ccc;">
                                                                    <a href="{{file.fileLocation}}" data-featherlight="image">
                                                                        <img ng-src="{{file.thumbnailLocation}}" class="superbox-img" />
                                                                    </a>
                                                                </div>                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </fieldset>

                        <fieldset>
                            <h2 style="margin-bottom: 15px;">
                                Item Data 
                                <a target="_blank" href="@Url.Action("ItemData", "Sample3Mng", new { id = ViewBag.ID })" class="btn btn-success btn-xs"><i class="fa fa-pencil"></i> Edit</a>
                            </h2>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">Overall Dimension (L/W/H)</label>
                                    <label class="input">
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" readonly type="text" value="{{data.overallDimL}}" />
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" readonly type="text" value="{{data.overallDimW}}" />
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" readonly type="text" value="{{data.overallDimH}}" />
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Load Ability (20DC/40DC/40HC)</label>
                                    <label class="input">
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" readonly type="text" value="{{data.loadAbility20DC}}" />
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" readonly type="text" value="{{data.loadAbility40DC}}" />
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" readonly type="text" value="{{data.loadAbility40HC}}" />
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Carton Box Dimension (L/W/H)</label>
                                    <label class="input">
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" readonly type="text" value="{{data.cartonBoxDimL}}" />
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" readonly type="text" value="{{data.cartonBoxDimW}}" />
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" readonly type="text" value="{{data.cartonBoxDimH}}" />
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Net Weight</label>
                                    <label class="input">
                                        <input style="text-align: right;" readonly type="text" value="{{data.netWeight}}" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Gross Weight</label>
                                    <label class="input">
                                        <input style="text-align: right;" readonly type="text" value="{{data.grossWeight}}" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Qnt/Box</label>
                                    <label class="input">
                                        <input style="text-align: right;" readonly type="text" value="{{data.qntInBox}}" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Inidication Price</label>
                                    <label class="input">
                                        <input style="text-align: right;" readonly type="text" value="{{data.indicatedPrice | currency:'$':2}}" />
                                    </label>
                                </section>
                            </div>
                        </fieldset>

                        <fieldset>
                            <h2 style="margin-bottom: 15px;">Sample Location</h2>
                            <section>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sample Code</th>
                                            <th>Location</th>
                                            <th>Date</th>
                                            <th>Tracking</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-if="data.itemLocationDTOs.length == 0">
                                        <tr>
                                            <td style="text-align: center;" colspan="2">(Empty)</td>
                                        </tr>
                                    </tbody>
                                    <tbody ng-if="data.itemLocationDTOs.length > 0">
                                        <tr ng-repeat="item in data.itemLocationDTOs">
                                            <td>{{item.sampleProductItemUD}}</td>
                                            <td>{{item.currentLocation}}</td>
                                            <td>{{item.locationDate}}</td>
                                            <td>
                                                Updated By
                                                <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    {{item.employeeNM}}
                                                </a>
                                                on {{item.updatedDate}}
                                            </td>
                                        </tr>                                    
                                    </tbody>
                                </table>
                            </section>
                        </fieldset>

                        <fieldset>
                            <h2 style="margin-bottom: 15px;">
                                QA Remark 
                                <a target="_blank" href="@Url.Action("QARemarkList", "Sample3Mng", new { id = ViewBag.ID })" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Add</a>
                            </h2>
                            <section>
                                <div class="well">
                                    <table class="table table-striped table-forum">
                                        <tbody ng-if="data.qaRemarkDTOs.length == 0">
                                            <tr>
                                                <td style="text-align: center;">(Empty)</td>
                                            </tr>
                                        </tbody>
                                        <tbody ng-repeat="item in data.qaRemarkDTOs">
                                            <tr>
                                                <td class="text-center" style="width: 150px;">
                                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        {{item.updatorName}}
                                                    </a>
                                                </td>
                                                <td>on {{item.updatedDate}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">
                                                    <div class="push-bit">
                                                        <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                            <img ng-src="{{item.thumbnailLocation}}" alt="avatar" class="online" width="50" />
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p ng-bind-html="method.formatRemark(item.remark)"></p>
                                                    <div ng-if="item.qaRemarkImageDTOs.length > 0">
                                                        <ul class="file-list">
                                                            <li ng-repeat="file in item.qaRemarkImageDTOs"><a href="{{file.fileLocation}}">{{file.friendlyName}}</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- WIDGET END -->
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "Sample3Mng")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            id: @ViewBag.ID,
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/sample3/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]'
        };
    </script>
    <script src="~/Angular/app/sample3Mng/productOverview.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/sample3Mng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}