@{
    ViewBag.Title = "Sample Product - Product Info";
    ViewBag.Module = "Sample Product - Product Info";
    ViewBag.Icon = "fa-pencil-square-o";
}


<form id="main-form" name="editForm" class="row">
    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="w01" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Sample Product Info</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <h2 style="margin-bottom: 15px;">Sample Product Info <code style="padding: 0px 5px;">{{data.sampleProductStatusNM}}</code></h2>
                            <section>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 67%;">Reference Images</th>
                                            <th style="width: 33%;">Finished Image</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="javascript:void(0)" class="btn btn-success btn-xs" ng-click="event.referenceImage_add()"><i class="fa fa-plus"></i> Add Reference Image</a></td>
                                            <td rowspan="2">
                                                <div style="font-size: 0px;">
                                                    <a href="{{data.finishedImageFileLocation}}" data-featherlight="image" style="float: left; margin-right: 5px; margin-top: 10px; width: 50%;">
                                                        <img ng-src="{{data.finishedImageThumbnailLocation}}" style="width: 100%;" />
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-right: solid 1px #ccc;">
                                                <div style="font-size: 0px;">
                                                    <div style="padding: 5px; width: 50%; box-sizing: border-box; display: inline-block; font-size: 14px;" ng-repeat="item in data.referenceImageDTOs">
                                                        <div style="border: solid 1px #ccc; padding: 5px; font-size: 12px;">
                                                            <p style="position: relative;">
                                                                <a href="{{item.fileLocation}}" data-featherlight="image" style="float: left; margin-right: 5px; margin-top: 10px; width: 50%;">
                                                                    <img ng-src="{{item.thumbnailLocation}}" style="width: 100%;" />
                                                                </a>
                                                                <span ng-if="item.isDefault" class="label label-primary status" style="position: absolute; top: 0px; left: 0px;">DEFAULT</span>
                                                                <strong>Bring in By: </strong> {{item.bringInBy}}
                                                                <br />
                                                                <strong>Bring in Date: </strong> {{item.bringInDate}}
                                                                <br />
                                                                <strong>Remark: </strong> {{method.formatRemark(item.remark)}}
                                                            </p>
                                                            <div class="clear" style="margin-bottom: 10px;"></div>
                                                            <a href="javascript:void(0)" class="btn btn-success btn-xs" ng-click="event.referenceImage_edit(item)"><i class="fa fa-pencil"></i> Edit</a>
                                                            <a ng-if="!item.isDefault" href="javascript:void(0)" class="btn btn-primary btn-xs" ng-click="event.referenceImage_markDefaul(item)"><i class="fa fa-check"></i> Mark as default</a>
                                                            <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="event.referenceImage_delete(item)"><i class="fa fa-times"></i> Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Code</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.sampleProductUD}}" />
                                    </label>
                                </section>
                                <section class="col col-9">
                                    <label class="label">
                                        Description (Model Code: {{data.modelUD}})
                                    </label>
                                    <label class="input">
                                        <avs-select-or-other ng-data-source="data.modelID"
                                                             ng-text-source="data.articleDescription"
                                                             ng-reference-source="data.modelUD"
                                                             data-url="@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/quicksearchmodel2"
                                                             data-token="@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]"
                                                             data-format-function="parseModelData" />
                                    </label>                                    
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Material 1 (Code: {{data.materialUD}})</label>
                                    <label class="input">
                                        <avs-select-or-other ng-data-source="data.materialID"
                                                             ng-text-source="data.materialDescription"
                                                             ng-reference-source="data.materialUD"
                                                             data-url="@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/quicksearchmaterial2"
                                                             data-token="@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]"
                                                             data-format-function="parseMaterialData" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Material 1 Type (Code: {{data.materialTypeUD}})</label>
                                    <label class="input">
                                        <avs-select-or-other ng-data-source="data.materialTypeID"
                                                             ng-text-source="data.materialTypeDescription"
                                                             ng-reference-source="data.materialTypeUD"
                                                             data-url="@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/quicksearchmaterialtype2"
                                                             data-token="@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]"
                                                             data-format-function="parseMaterialTypeData" />
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Material 1 Color (Code: {{data.materialColorUD}})</label>
                                    <label class="input">
                                        <avs-select-or-other ng-data-source="data.materialColorID"
                                                             ng-text-source="data.materialColorDescription"
                                                             ng-reference-source="data.materialColorUD"
                                                             data-url="@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/quicksearchmaterialcolor2"
                                                             data-token="@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]"
                                                             data-format-function="parseMaterialColorData" />
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Material 2 (Code: {{data.material2UD}})</label>
                                    <label class="input">
                                        <avs-select-or-other ng-data-source="data.material2ID"
                                                             ng-text-source="data.material2Description"
                                                             ng-reference-source="data.material2UD"
                                                             data-url="@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/quicksearchmaterial2"
                                                             data-token="@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]"
                                                             data-format-function="parseMaterialData" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Material 2 Type (Code: {{data.material2TypeUD}})</label>
                                    <label class="input">
                                        <avs-select-or-other ng-data-source="data.material2TypeID"
                                                             ng-text-source="data.material2TypeDescription"
                                                             ng-reference-source="data.material2TypeUD"
                                                             data-url="@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/quicksearchmaterialtype2"
                                                             data-token="@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]"
                                                             data-format-function="parseMaterialTypeData" />
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Material 2 Color (Code: {{data.material2ColorUD}})</label>
                                    <label class="input">
                                        <avs-select-or-other ng-data-source="data.material2ColorID"
                                                             ng-text-source="data.material2ColorDescription"
                                                             ng-reference-source="data.material2ColorUD"
                                                             data-url="@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/quicksearchmaterialcolor2"
                                                             data-token="@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]"
                                                             data-format-function="parseMaterialColorData" />
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Material 3 (Code: {{data.material3UD}})</label>
                                    <label class="input">
                                        <avs-select-or-other ng-data-source="data.material3ID"
                                                             ng-text-source="data.material3Description"
                                                             ng-reference-source="data.material3UD"
                                                             data-url="@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/quicksearchmaterial2"
                                                             data-token="@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]"
                                                             data-format-function="parseMaterialData" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Material 3 Type (Code: {{data.material3TypeUD}})</label>
                                    <label class="input">
                                        <avs-select-or-other ng-data-source="data.material3TypeID"
                                                             ng-text-source="data.material3TypeDescription"
                                                             ng-reference-source="data.material3TypeUD"
                                                             data-url="@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/quicksearchmaterialtype2"
                                                             data-token="@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]"
                                                             data-format-function="parseMaterialTypeData" />
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Material 3 Color (Code: {{data.material3ColorUD}})</label>
                                    <label class="input">
                                        <avs-select-or-other ng-data-source="data.material3ColorID"
                                                             ng-text-source="data.material3ColorDescription"
                                                             ng-reference-source="data.material3ColorUD"
                                                             data-url="@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/quicksearchmaterialcolor2"
                                                             data-token="@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]"
                                                             data-format-function="parseMaterialColorData" />
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Back Cushion (Code: {{data.backCushionUD}})</label>
                                    <label class="input">
                                        <avs-select-or-other ng-data-source="data.backCushionID"
                                                             ng-text-source="data.backCushionDescription"
                                                             ng-reference-source="data.backCushionUD"
                                                             data-url="@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/quicksearchbackcushion2"
                                                             data-token="@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]"
                                                             data-format-function="parseBackCushionData" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Back Cushion Thickness</label>
                                    <label class="input">
                                        <input type="text" ng-model="data.backCushionThickness" />
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Back Cushion Specification</label>
                                    <label class="input">
                                        <input type="text" ng-model="data.backCushionSpecification" />
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Seat Cushion (Code: {{data.seatCushionUD}})</label>
                                    <label class="input">
                                        <avs-select-or-other ng-data-source="data.seatCushionID"
                                                             ng-text-source="data.seatCushionDescription"
                                                             ng-reference-source="data.seatCushionUD"
                                                             data-url="@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/quicksearchseatcushion2"
                                                             data-token="@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]"
                                                             data-format-function="parseSeatCushionData" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Seat Cushion Thickness</label>
                                    <label class="input">
                                        <input type="text" ng-model="data.seatCushionThickness" />
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Seat Cushion Specification</label>
                                    <label class="input">
                                        <input type="text" ng-model="data.seatCushionSpecification" />
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Cushion Color (Code: {{data.cushionColorUD}})</label>
                                    <label class="input">
                                        <avs-select-or-other ng-data-source="data.cushionColorID"
                                                             ng-text-source="data.cushionColorDescription"
                                                             ng-reference-source="data.cushionColorUD"
                                                             data-url="@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/quicksearchcushioncolor2"
                                                             data-token="@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]"
                                                             data-format-function="parseCushionColorData" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">
                                        Quantity
                                        <em ng-show="editForm.quantity.$error.required" class="note note-error">(Required)</em>
                                    </label>
                                    <label class="input">
                                        <input type="text" avs-number ng-data-source="data.quantity" style="text-align: right;" />
                                        <input type="hidden" name="quantity" ng-model="data.quantity" required />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Item/Box</label>
                                    <label class="input">
                                        <input type="text" ng-model="data.itemPerBox" style="text-align: right;" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Box/Set</label>
                                    <label class="input">
                                        <input type="text" ng-model="data.boxPerSet" style="text-align: right;" />
                                    </label>
                                </section>
                            </div>
                        </fieldset>

                        <fieldset>
                            <h2 style="margin-bottom: 15px;">Technical Drawing</h2>
                            <section>
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="data.istdNeeded" />
                                    <i></i>TD Needed ?
                                </label>
                            </section>
                        </fieldset>

                        <footer>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.update()"><i class="fa fa-save"></i> Save</a>
                            <a href="@Url.Action("ProductOverview", "Sample3Mng", new { id = ViewBag.ID })" class="btn btn-default"><i class="fa fa-angle-left"></i> Back</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- WIDGET END -->
</form>

<!--SUB FORM-->
<div id="frmReferenceImage" class="row" style="display: none;">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="w02" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" role="widget">
            <header role="heading">
                <h2>Reference Image</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-4" style="text-align: center;">                                    
                                    <div style="border: solid 1px #ccc; padding: 5px; min-height: 100px; box-sizing: border-box;">
                                        <a ng-if="currentReferenceImage.thumbnailLocation" href="{{currentReferenceImage.fileLocation}}" data-featherlight="image">
                                            <img ng-src="{{currentReferenceImage.thumbnailLocation}}" style="width: 100%;" />
                                        </a>
                                    </div>
                                    <br/>
                                    <a href="javascript:void(0)" class="btn btn-default" ng-click="event.referenceImage_changeImage()" style="padding: 6px 12px;"><i class="fa fa-folder"></i> Change</a>
                                </section>
                                <section class="col col-8">
                                    <section>
                                        <label class="label">Bring in by</label>
                                        <label class="input">
                                            <input type="text" ng-model="currentReferenceImage.bringInBy" />
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">Bring in date</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input type="text" data-dateformat="dd/mm/yy" class="datepicker" ng-model="currentReferenceImage.bringInDate" />
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">Remark</label>
                                        <label class="textarea">
                                            <textarea rows="6" ng-model="currentReferenceImage.remark"></textarea>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="currentReferenceImage.isDefault" />
                                            <i></i> Default
                                        </label>
                                    </section>
                                </section>
                            </div>
                        </fieldset>

                        <footer>
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="event.referenceImage_edit_ok()"><i class="fa fa-check"></i> OK</a>
                            <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="event.referenceImage_edit_cancel()"><i class="fa fa-times"></i> Cancel</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            id: @ViewBag.ID,
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/sample3/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            refreshURL: '@Url.Action("ProductOverview", "Sample3Mng", new { id = ViewBag.ID })',
            supportServiceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/'
        };

        //
        // custom parse function
        //
        function parseModelData(data){
            return $.map(data, function (item) {
                return {
                    id: item.optionID,
                    label: item.optionNM,
                    description: item.optionUD
                }
            });
        }

        function parseMaterialData(data){
            return $.map(data, function (item) {
                return {
                    id: item.optionID,
                    label: item.optionNM,
                    description: item.optionUD
                }
            });
        }

        function parseMaterialTypeData(data){
            return $.map(data, function (item) {
                return {
                    id: item.optionID,
                    label: item.optionNM,
                    description: item.optionUD
                }
            });
        }

        function parseMaterialColorData(data){
            return $.map(data, function (item) {
                return {
                    id: item.optionID,
                    label: item.optionNM,
                    description: item.optionUD
                }
            });
        }

        function parseBackCushionData(data){
            return $.map(data, function (item) {
                return {
                    id: item.optionID,
                    label: item.optionNM,
                    description: item.optionUD
                }
            });
        }

        function parseSeatCushionData(data){
            return $.map(data, function (item) {
                return {
                    id: item.optionID,
                    label: item.optionNM,
                    description: item.optionUD
                }
            });
        }

        function parseCushionColorData(data){
            return $.map(data, function (item) {
                return {
                    id: item.optionID,
                    label: item.optionNM,
                    description: item.optionUD
                }
            });
        }
    </script>
    <script src="~/Angular/app/sample3Mng/productInfo.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/sample3Mng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}