@{
    ViewBag.Title = "Search Material Type";
    ViewBag.Module = "Material Type";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Results</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header">
                                <div style="width:80px;vertical-align:middle;text-align:center"></div>
                                <div class="sorting" style="width:50px;vertical-align:middle;text-align:center" data-colname="MaterialTypeUD">Code</div>
                                <div class="sorting_asc" style="width:200px;vertical-align:middle;text-align:left" data-colname="MaterialTypeNM">Name</div>
                                <div style="vertical-align:middle;text-align:center;width:200px;" data-colname="MaterialTypeNM">Hangtag Standard File</div>
                                <div><i class="fa fa-list"></i> Tracking</div>
                            </div>
                            <div class="tilsoft-table-filter" style="top:50px;">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                <div style="width:80px;text-align:center;vertical-align:middle;border-right:solid 1px #ddd">
                                                    <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.reload()"><i class="fa fa-filter"></i></a>
                                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilter()"><i class="fa fa-ban"></i></a>
                                                </div>
                                            </th>
                                            <th>
                                                <div style="width:50px;text-align:center;vertical-align:middle;border-right:solid 1px #ddd">
                                                    <input class="search-filter" style="text-align:center;font-weight:normal" type="text" maxlength="2" ng-model="filters.MaterialTypeUD" />
                                                </div>
                                            </th>
                                            <th style="width:199px;border-right:solid 1px #ddd">
                                                <div style="text-align:center;vertical-align:middle">
                                                    <input class="search-filter" style="text-align:left;float:left;width:100%;font-weight:normal" type="text" maxlength="255" ng-model="filters.MaterialTypeNM" />
                                                </div>
                                            </th>
                                            <th style="width:200px;border-right:solid 1px #ddd"></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tilsoft-table-body" style="margin-top: 95px">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="item in data">
                                            <td style="width:79px;text-align:center;vertical-align:middle">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "MaterialType")/{{item.materialTypeID}}"  style="width:60px" title="View (Read Only)"><i class="fa fa-folder-open"></i> View</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "MaterialType")/{{item.materialTypeID}}" ng-if="item.total == 0" style="width:60px" title="Edit" target="_blank"><i class="fa fa-pencil"></i> Edit</a>
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "MaterialType")/{{item.materialTypeID}}" ng-if="item.total != 0" style="width:60px" title="View (Read Only)"><i class="fa fa-folder-open"></i> View</a>
                                                }

                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                                {
                                                    <a class="btn btn-danger btn-xs font-11" href="javascript:void(0)" ng-click="event.delete(item.materialTypeID)" ng-if="item.total == 0" style="width:60px;margin-top:3px" title="Delete"><i class="fa fa-times"></i> Del</a>
                                                }
                                            </td>
                                            <td style="width:50px;text-align:center;vertical-align:middle">{{item.materialTypeUD}}</td>
                                            <td style="width:200px;text-align:left;vertical-align:middle">{{item.materialTypeNM}}</td>
                                            <td style="text-align:left;vertical-align:middle;width:200px;">
                                                <a href="{{item.hangTagFileUrl}}" target="_blank">{{item.hangTagFileFriendlyName}}</a>
                                            </td>
                                            <td>
                                                Updated by:
                                                <a ng-if="item.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i>  {{item.updateName}}
                                                </a><br />
                                                On {{item.updatedDate}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <span>Found: <b>{{totalRows}}</b> record(s).</span>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Edit", "MaterialType")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Views/MaterialType/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService.js"></script>
    <script src="~/Angular/app/materialType/service.js"></script>
    <script type="text/javascript">


        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/materialtype/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
        jsonService.cookiesId = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()';

    </script>
}
