@{
    ViewBag.Title = "Compliance Management";
    ViewBag.Module = "Compliance";

    string userManualUrl = string.Empty;
    if (System.IO.File.Exists(Server.MapPath("~/UserManual/" + ViewBag.ModuleCode + ".pdf")))
    {
        userManualUrl = "/UserManual/" + ViewBag.ModuleCode + ".pdf";
    }

}

<form class="row" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div class="no-padding">
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-sm-2">
                                    <label>Factory</label>
                                    <label class="input">
                                        <select avs-select style="font-family: Arial; font-size: 12px" ng-data-source="filters.factoryID">
                                            <option value=""></option>
                                            <option value="{{item.factoryID}}" ng-repeat="item in factoryDTOs">{{item.factoryUD}}</option>
                                        </select>
                                    </label>
                                </section>
                                <section class="col col-sm-2" style="padding-left:5px">
                                    <label>Certificate Type</label>
                                    <label class="input">
                                        <select avs-select style="font-family: Arial; font-size: 12px" ng-data-source="filters.complianceCertificateTypeID">
                                            <option value=""></option>
                                            <option value="{{item.complianceCertificateTypeID}}" ng-repeat="item in complianceCertificateTypeDTOs">{{item.complianceCertificateTypeNM}}</option>
                                        </select>
                                    </label>
                                </section>
                                <section class="col col-sm-1" style="padding-left:5px;padding-right:5px">
                                    <label>Process No</label>
                                    <label class="input">
                                        <input class="form-control search-filter" style="font-family: Arial; font-size: 12px" ng-model="filters.complianceProcessUD" />
                                    </label>
                                </section>
                                <section class="col col-sm-2">
                                    <label>Status</label>
                                    <label class="input">
                                        <select avs-select style="font-family: Arial; font-size: 12px" ng-data-source="filters.auditStatusID">
                                            <option value=""></option>
                                            <option value="{{item.auditStatusID}}" ng-repeat="item in auditStatusDTOs">{{item.auditStatusNM}}</option>
                                        </select>
                                    </label>
                                </section>
                                <section class="col col-sm-1" style="padding-left:5px;padding-right:5px">
                                    <label>Client Code</label>
                                    <label class="input">
                                        <input class="form-control search-filter" style="font-family: Arial; font-size: 12px" ng-model="filters.clientUD" />
                                    </label>
                                </section>
                                <section class="col col-sm-2">
                                    <label><i class="fa fa-calendar"></i> From Date</label>
                                    <label class="input">
                                        <input id="startDate" class="form-control" style="font-family: Arial; font-size: 12px" avs-calendar ng-data-source="filters.fromDate" />
                                    </label>
                                </section>
                                <section class="col col-sm-2" style="padding-left:5px">
                                    <label><i class="fa fa-calendar"></i> To Date</label>
                                    <label class="input">
                                        <input id="endDate" class="form-control" style="font-family: Arial; font-size: 12px" avs-calendar ng-data-source="filters.toDate" />
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="smart-form">
                <div class="widget-body no-padding">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1720px;">
                                <div style="width: 70px;"></div>
                                <div style="width: 80px;" class="sorting" data-colname="ComplianceProcessUD">Process No</div>
                                <div style="width: 80px;" class="sorting" data-colname="FactoryUD">Factory Code</div>
                                <div class="no-padding" style="width: 450px; height: 50px; text-align: center;">
                                    <div class="no-padding" style="width: 100%; height: 25px; border-right: none; line-height: 25px">Factory Contact Person</div>
                                    <div class="no-padding" style="width: 100%; height: 25px; border-right: none; line-height: 25px">
                                        <div class="no-padding" style="width: 250px; text-align: center; height: 25px; line-height: 25px;">Name</div>
                                        <div class="no-padding" style="width: 100px; text-align: center; height: 25px; line-height: 25px;">Phone Number</div>
                                        <div class="no-padding" style="text-align: center; height: 25px; line-height: 25px;">Email</div>
                                    </div>
                                </div>
                                <div style="width: 100px;">DIBD Number</div>
                                <div style="width: 100px;">Audit</div>
                                <div style="width: 100px;">Certificate Number</div>
                                <div style="width: 60px;">Client Code</div>
                                <div style="width: 70px;">Status</div>
                                <div style="width: 60px;">Rating</div>
                                <div style="width: 80px;">Exp.Date</div>
                                <div style="width: 80px;">Renew Date</div>
                                <div style="width: 80px;">Fictive Date</div>
                                <div>Remark</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1720px; margin-top: 60px;">
                                <table>
                                    <tbody ng-repeat="item in data">
                                        <tr>
                                            <td style="width:70px;text-align:center">
                                                <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "ComplianceMng")/{{item.complianceProcessID}}" title="Edit" style="width:60px;" target="_blank">Edit</a>                                               
                                            </td>
                                            <td style="text-align: center; width: 80px; vertical-align:middle">{{item.complianceProcessUD}}</td>
                                            <td style="text-align: center; width: 80px; vertical-align:middle">{{item.factoryUD}}</td>
                                            <td style="text-align: center; width: 250px; vertical-align:middle">{{item.factoryOfficialName}}</td>
                                            <td style="text-align: center; width: 100px; vertical-align:middle">{{item.telephone}}</td>
                                            <td style="text-align: center; width: 100px; vertical-align:middle">{{item.email}}</td>
                                            <td style="text-align: center; width: 100px; vertical-align:middle">{{item.dibdNumber}}</td>
                                            <td style="text-align: center; width: 100px; vertical-align:middle">{{item.complianceCertificateTypeNM}}</td>
                                            <td style="text-align: center; width: 100px; vertical-align:middle">{{item.certificateNumber}}</td>
                                            <td style="text-align: center; width: 60px; vertical-align:middle">{{item.clientUD}}</td>
                                            <td style="text-align: center; width: 70px; vertical-align:middle">{{item.auditStatusNM}}</td>
                                            <td style="text-align: center; width: 60px; vertical-align:middle">{{item.rating}}</td>
                                            <td style="text-align: center; width: 80px; vertical-align:middle">{{item.expiredDate}}</td>
                                            <td style="text-align: center; width: 80px; vertical-align:middle">{{item.renewDate}}</td>
                                            <td style="text-align: center; width: 80px; vertical-align:middle">{{item.fictiveDate}}</td>
                                            <td style="text-align: center; vertical-align:middle">{{item.remark}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <span>Total Row: {{totalRows}} rows</span>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Tìm kiếm" ng-click="event.reload()"><i class="fa fa-search"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Làm mới" ng-click="event.clearFilter()"><i class="fa fa-refresh"></i></a>
    </li>
    <li class="sparks-info">
        <a href="@Url.Action("Edit", "ComplianceMng")/0" target="_blank" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Tạo mới"><i class="fa fa-file-o"></i></a>
    </li>
    <li class="sparks-info">
        <a href="@Url.Action("Calendar", "ComplianceMng")" target="_blank" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Calendar"><i class="fa fa-calendar"></i></a>
    </li>
    @if (!string.IsNullOrEmpty(userManualUrl))
    {
        <li class="sparks-info">
            <a target="_blank" href="@userManualUrl" class="btn btn-default" title="Help"><i class="fa fa-info"></i></a>
        </li>
    }
</ul>
}
@section pagepopup2{
}

@section pagejs {
    <script src="~/Views/ComplianceMng/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/compliance/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize: @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"],
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'           
        }
    </script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/ComplianceMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
