<div>
    <div class="tilsoft-table">
        <div class="tilsoft-table-body">
            <table>
                <tbody>
                    <tr>
                        <th colspan="4"></th>
                        <th colspan="3" style="font-weight:bold;background-color:#92d678">COMMERCIAL INVOICE (CI)<br />@ViewBag.CurrentSeason</th>
                        @*<th></th>*@
                        <th colspan="3" style="font-weight:bold;background-color:#a5a4f1">COMMERCIAL INVOICE (CI)<br />@ViewBag.PreSeason</th>
                        <th colspan="2" style="font-weight:bold" class="mi-lccost-interest-last-season">Cost<br />@ViewBag.PreSeason</th>
                        <th colspan="3" style="font-weight:bold;background-color:#a5a4f1" class="mi-margin-last-season">&Delta; AFTER ALL<br />@ViewBag.PreSeason</th>

                        <th colspan="3" style="font-weight:bold;background-color:#f2e59c">COMMERCIAL INVOICE (CI)<br />@ViewBag.PreOfPreSeason</th>
                        <th colspan="3" style="font-weight:bold;background-color:#f2e59c" class="mi-margin-last-last-season">&Delta; AFLTER ALL<br />@ViewBag.PreOfPreSeason</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th style="font-weight: bold; width: 35px;">#<br />{{ciByClientResult.length}}</th>
                        <th style="font-weight: bold;">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'clientNM')">
                                CLIENT NAME
                                <span ng-show="sortValue.CIByClient === '-clientNM'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.CIByClient === 'clientNM'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 40px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'clientCountryUD')">
                                COU N TRY
                                <span ng-show="sortValue.CIByClient === '-clientCountryUD'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.CIByClient === 'clientCountryUD'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'saleUD')">
                                AC C
                                <span ng-show="sortValue.CIByClient === '-saleUD'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.CIByClient === 'saleUD'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        @*this year*@

                        <th style="font-weight: bold; width: 60px;background-color:#92d678">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'ciContThisYear')">
                                CONT
                                <span ng-show="sortValue.CIByClient === '-ciContThisYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.CIByClient === 'ciContThisYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 100px;background-color:#92d678">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'ciAmountInEURThisYear')">
                                TOTAL AMOUNT (EUR)
                                <span ng-show="sortValue.CIByClient === '-ciAmountInEURThisYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.CIByClient === 'ciAmountInEURThisYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;background-color:#92d678">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'ciAmountInEURThisYear')">
                                %&nbsp;&nbsp;&nbsp;&nbsp;
                                <span ng-show="sortValue.CIByClient === '-ciAmountInEURThisYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.CIByClient === 'ciAmountInEURThisYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        @*delta current year with last year*@
                        @*<th style="font-weight: bold; width: 60px;">
                                <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'deltaPercentWithLastYear')">
                                    GRO WTH
                                    <span ng-show="sortValue.CIByClient === '-deltaPercentWithLastYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="sortValue.CIByClient === 'deltaPercentWithLastYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>*@

                        @*last year*@

                        <th style="font-weight: bold; width: 60px;background-color:#a5a4f1">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'ciContLastYear')">
                                CONT
                                <span ng-show="sortValue.CIByClient === '-ciContLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.CIByClient === 'ciContLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 100px;background-color:#a5a4f1">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'ciAmountInEURLastYear')">
                                TOTAL AMOUNT (EUR)
                                <span ng-show="sortValue.CIByClient === '-ciAmountInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.CIByClient === 'ciAmountInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;background-color:#a5a4f1">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'ciAmountInEURLastYear')">
                                %&nbsp;&nbsp;&nbsp;&nbsp;
                                <span ng-show="sortValue.CIByClient === '-ciAmountInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.CIByClient === 'ciAmountInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        @*lc cost &interest*@
                        <th style="font-weight: bold;width:60px" class="mi-lccost-interest-last-season" title="LC Cost">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'lcCostAmountInEURLastYear')">
                                LC Cost
                                <span ng-show="sortValue.ExpectedByClient === '-lcCostAmountInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.ExpectedByClient === 'lcCostAmountInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold;width:70px" class="mi-lccost-interest-last-season" title="Interest Cost">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'interestAmountInEURLastYear')">
                                Interest
                                <span ng-show="sortValue.ExpectedByClient === '-interestAmountInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.ExpectedByClient === 'interestAmountInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>


                        @*Margin last year*@

                        <th style="font-weight: bold; width: 100px;background-color:#a5a4f1" class="mi-margin-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'deltaAfterAllInEURLastYear')">
                                &Delta;
                                <span ng-show="sortValue.CIByClient === '-deltaAfterAllInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.CIByClient === 'deltaAfterAllInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;background-color:#a5a4f1" class="mi-margin-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'deltaAfterAllInEURLastYear')">
                                % of 100%
                                <span ng-show="sortValue.CIByClient === '-deltaAfterAllInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.CIByClient === 'deltaAfterAllInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;background-color:#a5a4f1" class="mi-margin-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'deltaAfterAllPercentLastYear')">
                                % &Delta;
                                <span ng-show="sortValue.CIByClient === '-deltaAfterAllPercentLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.CIByClient === 'deltaAfterAllPercentLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>


                        @*last last year*@

                        <th style="font-weight: bold; width: 60px;background-color:#f2e59c">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'ciContLastLastYear')">
                                CONT
                                <span ng-show="sortValue.CIByClient === '-ciContLastLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.CIByClient === 'ciContLastLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 100px;background-color:#f2e59c">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'ciAmountInEURLastLastYear')">
                                TOTAL AMOUNT (EUR)
                                <span ng-show="sortValue.CIByClient === '-ciAmountInEURLastLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.CIByClient === 'ciAmountInEURLastLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;background-color:#f2e59c">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'ciAmountInEURLastLastYear')">
                                %&nbsp;&nbsp;&nbsp;&nbsp;
                                <span ng-show="sortValue.CIByClient === '-ciAmountInEURLastLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.CIByClient === 'ciAmountInEURLastLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        @*Margin last last year*@

                        <th style="font-weight: bold; width: 100px;background-color:#f2e59c" class="mi-margin-last-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'deltaAfterAllInEURLastLastYear')">
                                &Delta;
                                <span ng-show="sortValue.CIByClient === '-deltaAfterAllInEURLastLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.CIByClient === 'deltaAfterAllInEURLastLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;background-color:#f2e59c" class="mi-margin-last-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'deltaAfterAllInEURLastLastYear')">
                                % of 100%
                                <span ng-show="sortValue.CIByClient === '-deltaAfterAllInEURLastLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.CIByClient === 'deltaAfterAllInEURLastLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;background-color:#f2e59c" class="mi-margin-last-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'deltaAfterAllPercentLastLastYear')">
                                % &Delta;
                                <span ng-show="sortValue.CIByClient === '-deltaAfterAllPercentLastLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.CIByClient === 'deltaAfterAllPercentLastLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        @*detal last year with last last year*@
                        <th style="font-weight: bold; width: 70px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('CIByClient', 'deltaPercentWithLastLastYear')">
                                GRO WTH
                                <span ng-show="sortValue.CIByClient === '-deltaPercentWithLastLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.CIByClient === 'deltaPercentWithLastLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                    </tr>

                    <tr>
                        <th></th>
                        <th>A</th>
                        <th>B</th>
                        <th>C</th>

                        <th class="mi-background-current-season">D</th>
                        <th class="mi-background-current-season">E</th>
                        <th class="mi-background-current-season">F</th>

                        <th class="mi-background-last-season">H</th>
                        <th class="mi-background-last-season">I</th>
                        <th class="mi-background-last-season">J</th>

                        <th class="mi-lccost-interest-last-season" style="text-align:center">K</th>
                        <th class="mi-lccost-interest-last-season" style="text-align:center">L</th>


                        <th class="mi-margin-last-season">M</th>
                        <th class="mi-margin-last-season">N</th>
                        <th class="mi-margin-last-season">O</th>

                        <th class="mi-background-lastlast-season">P</th>
                        <th class="mi-background-lastlast-season">Q</th>
                        <th class="mi-background-lastlast-season">R</th>

                        <th class="mi-margin-last-last-season">S</th>
                        <th class="mi-margin-last-last-season">T</th>
                        <th class="mi-margin-last-last-season">U</th>

                        <th>V=<br />(I-Q)/Q</th>
                    </tr>

                    <tr>
                        <td colspan="4" style="font-weight: bold;">TOTAL ({{ciByClientResult.length}} clients)</td>

                        @*invoice this year*@
                        <td style="text-align:right; font-weight:bold;background-color:#92d678">{{ciByClientResult | sumFunc:'ciContThisYear' | number : 1}}</td>
                        <td style="text-align:right; font-weight:bold;background-color:#92d678">{{ciByClientResult | sumFunc:'ciAmountInEURThisYear' | currency: '&euro;' : 0}}</td>
                        <td style="font-weight: bold;text-align: right;background-color:#92d678">100%</td>

                        @*invoice last year*@
                        <td style="text-align:right; font-weight:bold;background-color:#a5a4f1">{{ciByClientResult | sumFunc:'ciContLastYear' | number : 1}}</td>
                        <td style="text-align:right; font-weight:bold;background-color:#a5a4f1">{{ciByClientResult | sumFunc:'ciAmountInEURLastYear' | currency: '&euro;' : 0}}</td>
                        <td style="font-weight: bold;text-align: right;background-color:#a5a4f1">100%</td>

                        @*lc cost last year*@
                        <td style="font-weight: bold;text-align: right;" class="mi-lccost-interest-last-season">{{ciByClientResult | sumFunc:'lcCostAmountInEURLastYear' | currency :'&euro;' : 0}}</td>
                        <td style="font-weight: bold;text-align: right;" class="mi-lccost-interest-last-seasonn">{{ciByClientResult | sumFunc:'interestAmountInEURLastYear' | currency :'&euro;' : 0}}</td>

                        @*margin last year*@
                        <td style="text-align:right; font-weight:bold;background-color:#a5a4f1" class="mi-margin-last-season">{{ciByClientResult | sumFunc:'deltaAfterAllInEURLastYear' | currency:'&euro;':0}}</td>
                        <td style="text-align:right; font-weight:bold;background-color:#a5a4f1" class="mi-margin-last-season">100%</td>
                        <td style="text-align:right; font-weight:bold;background-color:#a5a4f1" class="mi-margin-last-season">{{(ciByClientResult | sumFunc:'deltaAfterAllInEURLastYear')/(ciByClientResult | sumFunc:'purchasingAmountInEURLastYear')*100 | number:0}}%</td>

                        @*invoice last last year*@
                        <td style="text-align:right; font-weight:bold;background-color:#f2e59c">{{ciByClientResult | sumFunc:'ciContLastLastYear' | number : 1}}</td>
                        <td style="text-align:right; font-weight:bold;background-color:#f2e59c">{{ciByClientResult | sumFunc:'ciAmountInEURLastLastYear' | currency : '&euro;' : 0}}</td>
                        <td style="font-weight: bold;text-align: right;background-color:#f2e59c">100%</td>

                        @*margin last last year*@
                        <td style="text-align:right; font-weight:bold;background-color:#f2e59c" class="mi-margin-last-last-season">{{ciByClientResult | sumFunc:'deltaAfterAllInEURLastLastYear' | currency:'&euro;':0}}</td>
                        <td style="text-align:right; font-weight:bold;background-color:#f2e59c" class="mi-margin-last-last-season">100%</td>
                        <td style="text-align:right; font-weight:bold;background-color:#f2e59c" class="mi-margin-last-last-season">{{(ciByClientResult | sumFunc:'deltaAfterAllInEURLastLastYear')/(ciByClientResult | sumFunc:'purchasingAmountInEURLastLastYear') * 100 | number:1}}%</td>

                        @*delta last year and last last year*@
                        <td style="text-align:right; font-weight:bold">
                            <span ng-class="{increase: (ciByClientResult | sumFunc:'ciAmountInEURLastYear') > (ciByClientResult | sumFunc:'ciAmountInEURLastLastYear'), decrease: (ciByClientResult | sumFunc:'ciAmountInEURLastYear') < (ciByClientResult | sumFunc:'ciAmountInEURLastLastYear')}">
                                [{{((ciByClientResult | sumFunc:'ciAmountInEURLastYear') - (ciByClientResult | sumFunc:'ciAmountInEURLastLastYear')) / (ciByClientResult | sumFunc:'ciAmountInEURLastLastYear') * 100 | number : 1}}%]
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><input type="text" ng-model="filter.CIByClient.clientNM" class="form-control" style="height:80%" /></td>
                        <td><input type="text" ng-model="filter.CIByClient.clientCountryUD" class="form-control" style="height:80%" /></td>
                        <td><input type="text" ng-model="filter.CIByClient.saleUD" class="form-control" style="height:80%" /></td>
                        <td colspan="17"></td>
                    </tr>

                    <tr ng-repeat="item in ciByClientResult = (CIByClient | orderBy : sortValue.CIByClient | filter : {clientNM : filter.CIByClient.clientNM, clientCountryUD : filter.CIByClient.clientCountryUD, saleUD : filter.CIByClient.saleUD})">
                        <td style="text-align: right;">{{$index+1}}</td>
                        <td>{{item.clientNM}}</td>
                        <td style="text-align: center">{{item.clientCountryUD}}</td>
                        <td style="text-align: center">{{item.saleUD}}</td>

                        @*invoice this year*@
                        <td style="text-align: right;background-color:#92d678">{{item.ciContThisYear | currency:'':1}}</td>
                        <td style="text-align: right;background-color:#92d678">{{item.ciAmountInEURThisYear | currency:'&euro;':0}}</td>
                        <td style="text-align: right;background-color:#92d678">{{(item.ciAmountInEURThisYear/(CIByClient | sumFunc:'ciAmountInEURThisYear'))*100 | number : 1}}%</td>

                        @*invoice last season*@
                        <td style="text-align: right;background-color:#a5a4f1">{{item.ciContLastYear | currency:'':1}}</td>
                        <td style="text-align: right;background-color:#a5a4f1">{{item.ciAmountInEURLastYear | currency:'&euro;':0}}</td>
                        <td style="text-align: right;background-color:#a5a4f1">{{(item.ciAmountInEURLastYear/(CIByClient | sumFunc:'ciAmountInEURLastYear'))*100 | number : 1}}%</td>

                        @*lc cost & interest last year*@
                        <td style="text-align: right;" class="mi-lccost-interest-last-season">{{item.lcCostAmountInEURLastYear | currency:'&euro;':0}}</td>
                        <td style="text-align: right;" class="mi-lccost-interest-last-season">{{item.interestAmountInEURLastYear | currency:'&euro;':0}}</td>


                        @*margin last year*@
                        <td style="text-align: right;background-color:#a5a4f1" class="mi-margin-last-season">{{item.deltaAfterAllInEURLastYear | currency:'&euro;':0}}</td>
                        <td style="text-align: right;background-color:#a5a4f1" class="mi-margin-last-season">{{(item.deltaAfterAllInEURLastYear/(CIByClient | sumFunc:'deltaAfterAllInEURLastYear'))*100 | number:1}}%</td>
                        <td style="text-align: right;background-color:#a5a4f1" class="mi-margin-last-season">{{item.deltaAfterAllPercentLastYear | number:1}}%</td>

                        @*invoice last last season*@
                        <td style="text-align: right;background-color:#f2e59c">{{item.ciContLastLastYear | currency:'':1}}</td>
                        <td style="text-align: right;background-color:#f2e59c">{{item.ciAmountInEURLastLastYear | currency:'&euro;':0}}</td>
                        <td style="text-align: right;background-color:#f2e59c">{{(item.ciAmountInEURLastLastYear/(CIByClient | sumFunc:'ciAmountInEURLastLastYear'))*100 | number : 1}}%</td>

                        @*margin last last year*@
                        <td style="text-align: right;background-color:#f2e59c" class="mi-margin-last-last-season">{{item.deltaAfterAllInEURLastLastYear | currency:'&euro;':0}}</td>
                        <td style="text-align: right;background-color:#f2e59c" class="mi-margin-last-last-season">{{(item.deltaAfterAllInEURLastLastYear/(CIByClient | sumFunc:'deltaAfterAllInEURLastLastYear'))*100 | number:1}}%</td>
                        <td style="text-align: right;background-color:#f2e59c" class="mi-margin-last-last-season">{{item.deltaAfterAllPercentLastLastYear | number:1}}%</td>

                        @*delta last year and last last year*@
                        <td style="text-align: right;">
                            <span ng-class="{increase: item.ciAmountInEURLastYear > item.ciAmountInEURLastLastYear, decrease: item.ciAmountInEURLastYear < item.ciAmountInEURLastLastYear}">
                                [{{((item.ciAmountInEURLastYear - item.ciAmountInEURLastLastYear)*100) / (item.ciAmountInEURLastLastYear | abs) | number : 0}}%]
                            </span>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>