@{
    ViewBag.Title = "Estimate material base on RAP";
    ViewBag.Module = "Estimate Factory Material";
}
<form name="editForm" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Select RAP order to estimate material</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">

                        <div class="row">
                            <section class="col col-lg-12">
                                <div id="grdMaterial" class="tilsoft-table-wrapper">
                                    <div class="tilsoft-table" style="height:650px;">
                                        <div class="tilsoft-table-body" style="width: 1000px;height:650px;margin-top:0px">
                                            <table>
                                                <tr>
                                                    <th style="width:40px"></th>
                                                    <th style="width:200px">RAP Code</th>
                                                    <th style="width:200px">Factory</th>
                                                    <th style="width:200px">LDS</th>
                                                    <th style="width:200px">Order No</th>
                                                    <th style="width:200px">Client</th>
                                                    <th>Season</th>
                                                </tr>

                                                @*row search material*@
                                                <tr>
                                                    <td colspan="6">
                                                        <div class="input">
                                                            <input id="quickSearchBox-material" placeholder="press enter to search all or type at least 3 chars to search RAP Order" class="form-control" type="text" ng-keyup="quickSearchMaterial.event.searchBoxKeyUp($event)" autocomplete="off">
                                                            <a ng-click="quickSearchMaterial.event.searchClick()" href="javascript:void(0);"><i class="icon-append fa fa-search"></i></a>
                                                            <div id="popup-material" class="popup-container-2" style="display: none; left: 0px; top: 32px;z-index: 50;">
                                                                <div style="float: right; margin-bottom: 8px;">
                                                                    <a href="javascript:void(0);" ng-click="quickSearchMaterial.event.ok($event)" class="btn btn-primary btn-xs">OK</a>
                                                                    <a href="javascript:void(0);" ng-click="quickSearchMaterial.event.close($event)" class="btn btn-danger btn-xs">Close</a>
                                                                </div>
                                                                <div class="clear"></div>
                                                                <div id="quickSearchResultGrid-material" class="tilsoft-table-wrapper">
                                                                    <div class="tilsoft-table">
                                                                        <div class="tilsoft-table-header" style="width: 950px;">
                                                                            <div style="width: 60px; text-align: center"></div>
                                                                            <div style="width: 150px" class="sorting">RAP Code</div>
                                                                            <div style="width: 150px" class="sorting">Factory</div>
                                                                            <div style="width: 150px" class="sorting">LDS</div>
                                                                            <div style="width: 150px" class="sorting">Order No</div>
                                                                            <div style="width: 150px" class="sorting">Client</div>
                                                                            <div class="sorting">Season</div>
                                                                        </div>

                                                                        <div class="tilsoft-table-body" style="width: 950px;">
                                                                            <table>
                                                                                <tr ng-repeat="item in quickSearchMaterial.data">
                                                                                    <td style="width: 60px; text-align: center">
                                                                                        <label class="checkbox" style="margin-left:15px; margin-bottom:20px">
                                                                                            <input type="checkbox" ng-model="item.isSelected">
                                                                                            <i></i>
                                                                                        </label>
                                                                                    </td>
                                                                                    <td style="width: 150px; vertical-align:middle; text-align: center">{{item.factoryOrderUD}}</td>
                                                                                    <td style="width: 150px; vertical-align:middle; text-align: center">{{item.factoryUD}}</td>
                                                                                    <td style="width: 150px; vertical-align:middle; text-align: center">{{item.lds}}</td>
                                                                                    <td style="width: 150px; vertical-align:middle; text-align: center">{{item.proformaInvoiceNo}}</td>
                                                                                    <td style="width: 150px; vertical-align:middle; text-align: center">{{item.clientUD}}</td>
                                                                                    <td vertical-align:middle">{{item.season}}</td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                <tr ng-repeat="item in rapData">
                                                    <td style="text-align:center; vertical-align:middle">
                                                        <a ng-click="event.removeMaterial($event,$index)" class="btn btn-danger btn-xs font-11" href="javascript:void(0);"><i class=" fa fa-times"></i>Del</a>
                                                    </td>
                                                    <td style="vertical-align:middle; text-align:center">{{item.factoryOrderUD}}</td>
                                                    <td style="vertical-align:middle; text-align:center">{{item.factoryUD}}</td>
                                                    <td style="vertical-align:middle; text-align:center">{{item.lds}}</td>
                                                    <td style="vertical-align:middle; text-align:center">{{item.proformaInvoiceNo}}</td>
                                                    <td style="vertical-align:middle; text-align:center">{{item.clientUD}}</td>
                                                    <td style="vertical-align:middle">{{item.season}}</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="12"><b>Total Rows() : {{rapData.length}}</b></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmImport" class="modal fade" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h3 id="myModalLabel" class="modal-title">Import</h3>
            </div>
            <div class="modal-body smart-form">
                <fieldset>
                    <div class="row">
                        <section class="col col-lg-12">
                            <label>Import to area</label>
                            <select ng-model="importReceipt.factoryAreaID" ng-options="item.factoryAreaID as item.factoryAreaNM for item in factoryAreas" class="form-control">
                                <option value=""></option>
                            </select>
                        </section>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">
                    Cancel
                </button>
                <button class="btn btn-primary" type="button" ng-click="event.importMaterial($event)">
                    Import
                </button>
            </div>
        </div>
    </div>
</div>

@section pagepopup2{
<div id="estimatedMaterialForm" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Material need import</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <div class="row">
                            <section class="col col-lg-12">
                                <div id="grdMaterialEstimated" class="tilsoft-table-wrapper">
                                    <div class="tilsoft-table" style="height:650px;">
                                        <div class="tilsoft-table-body" style="width: 1500px;height:650px;margin-top:0px">
                                            <table>
                                                <tr>
                                                    <th style="vertical-align:middle; text-align:center;width:50px"></th>
                                                    <th style="width:180px">Material</th>
                                                    <th style="width:40px">Stock Qnt</th>
                                                    <th style="width:40px">Norm Qnt</th>
                                                    <th style="width:40px">Unit</th>
                                                    <th></th>
                                                </tr>
                                                <tr ng-repeat="item in estimatedMaterialData">
                                                    <td style="vertical-align:top; text-align:center;">
                                                        <label class="checkbox" style="margin-left:15px; margin-bottom:20px">
                                                            <input type="checkbox" ng-model="item.isSelected" ng-click="event.toggleAll(item)" ng-disabled="{{item.factoryMaterialID==null}}">
                                                            <i></i>
                                                        </label>
                                                    </td>
                                                    <td style="vertical-align:top; text-align:left"><span style="font-weight:bold; color:{{item.factoryMaterialID != null? 'green' : 'red'}}">{{item.factoryMaterialUD}}</span> <br />{{item.factoryMaterialNM}}</td>
                                                    <td style="vertical-align:top; text-align:center">{{item.totalStockQnt}}</td>
                                                    <td style="vertical-align:top; text-align:center">{{calTotalMaterial(item)}}</td>
                                                    <td style="vertical-align:top; text-align:left">{{item.unitNM}}</td>
                                                    <td style="vertical-align:top; text-align:center">
                                                        <div class="tilsoft-table">
                                                            <table>
                                                                <tr>
                                                                    <th style="vertical-align:middle; text-align:center;width:50px"></th>
                                                                    <th style="vertical-align:middle; text-align:center;width:150px">Component</th>
                                                                    <th style="vertical-align:middle; text-align:center;width:80px">Factory</th>
                                                                    <th style="vertical-align:middle; text-align:center;width:70px">LDS</th>
                                                                    <th style="vertical-align:middle; text-align:center;width:60px">Order</th>
                                                                    <th style="vertical-align:middle; text-align:center;width:50px">Client</th>
                                                                    <th style="vertical-align:middle; text-align:center;width:60px">Season</th>
                                                                    <th style="vertical-align:middle; text-align:center">Order Product</th>
                                                                    <th style="vertical-align:middle; text-align:right;width:40px">Qnt</th>
                                                                    <th style="vertical-align:middle; text-align:right;width:40px">Norm</th>                                                                    
                                                                    <th style="vertical-align:middle; text-align:right;width:70px">IMP Qnt</th>
                                                                    <th style="vertical-align:middle; text-align:right;width:40px">Unit</th>
                                                                </tr>
                                                                <tr ng-repeat="fOrder in item.factoryOrderDetails">
                                                                    <td style="vertical-align:middle; text-align:center;">
                                                                        <label class="checkbox" style="margin-left:15px; margin-bottom:20px">
                                                                            <input type="checkbox" ng-model="fOrder.isSelected" ng-click="event.itemToggled(fOrder,item)" ng-disabled="{{fOrder.factoryMaterialID==null}}">
                                                                            <i></i>
                                                                        </label>
                                                                    </td>
                                                                    <td style="vertical-align:middle; text-align:left"><span style="font-weight:bold">{{fOrder.factoryFinishedProductUD}}</span> <br />{{fOrder.factoryFinishedProductNM}}</td>
                                                                    <td style="vertical-align:middle; text-align:center;">{{fOrder.factoryUD}}</td>
                                                                    <td style="vertical-align:middle; text-align:center;">{{fOrder.lds}}</td>
                                                                    <td style="vertical-align:middle; text-align:center;">{{fOrder.proformaInvoiceNo}}</td>
                                                                    <td style="vertical-align:middle; text-align:center;">{{fOrder.clientUD}}</td>
                                                                    <td style="vertical-align:middle; text-align:center;">{{fOrder.season}}</td>
                                                                    <td style="vertical-align:middle; text-align:left"><span style="font-weight:bold">{{fOrder.articleCode}}</span> <br />{{fOrder.description}}</td>
                                                                    <td style="vertical-align:middle; text-align:center;">{{fOrder.orderQnt}}</td>
                                                                    <td style="vertical-align:middle; text-align:center;">{{fOrder.normValue}}</td>
                                                                    <td style="vertical-align:middle; text-align:right;">
                                                                        <input class="form-control" ng-model="fOrder.amountQnt" style="text-align:center" ng-disabled="{{fOrder.factoryMaterialID==null}}" />
                                                                    </td>
                                                                    <td style="vertical-align:middle; text-align:center;width:40px">{{fOrder.unitNM}}</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="12"><b>Total Rows() : {{estimatedMaterialData.length}}</b></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

}

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info" id="btnEstimate">
            <a href="javascript:void(0)" class="btn btn-primary" title="" ng-click="event.showEstimatedMaterialForm($event)">Estimate Material</a>
        </li>
        <li class="sparks-info" id="btnImport" style="display:none">
            <a href="javascript:void(0)" class="btn btn-primary" title="" ng-click="event.showImportForm($event)">Import to stock</a>
        </li>
        <li class="sparks-info" id="btnBack" style="display:none">
            <a href="javascript:void(0)" class="btn btn-primary" title="" ng-click="event.back($event)">Back</a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factoryEstimateMaterial/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        supportService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        supportService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        jsonService.searchFilter.pageSize = '@System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"]';
    var context = {
        editUrl: '@Url.Action("Edit", "FactoryMaterialReceipt", new { id = UrlParameter.Optional })/',
        reportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'
    }
    </script>
    <script src="~/Angular/app/factoryEstimateMaterial/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/factoryEstimateMaterial/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}