
@{
    ViewBag.Title = "Search Au Viet Furniture Goods and Services Sold Invoice";
    ViewBag.Module = "Au Viet Furniture Goods and Services Sold Invoice";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Invoice No</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.InvoiceNo" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Creditor Name</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.CreditorNM" />
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div class="table-responsive" id="mainresultTable">
                        <table class="table table-bordered table-hover custom-table dataTable">
                            <thead>
                                <tr>
                                    <th style="width: 200px;"></th>
                                    <th style="width: 100px;" class="sorting" data-colname="InvoiceNo">Serial No</th>
                                    <th style="width: 120px;" class="sorting" data-colname="InvoiceNo">Invoice No</th>
                                    <th style="width: 150px;" class="sorting" data-colname="InvoiceData">Invoice Date</th>
                                    <th style="width: 250px;" class="sorting" data-colname="CreditorNM">Creditor Name</th>
                                    <th style="width: 100px;" class="sorting" data-colname="CreditorTaxCode">Creditor Tax Code</th>
                                    <th style="width: 200px;" class="sorting" data-colname="Description">Description</th>
                                    <th style="width: 100px;" class="sorting" data-colname="Amount">Amount</th>
                                    <th style="width: 100px;" class="sorting" data-colname="Payment">Payment</th>
                                    <th style="width: 100px;" class="sorting" data-colname="Quantity">Quantity</th>
                                    <th style="width: 100px;" class="sorting" data-colname="UnitPrice">Unit Price</th>
                                    <th style="width: 100px;" class="sorting" data-colname="UpdatedBy">Updated By</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="model in data">
                                    <td style="text-align: center; width: 200px;">
                                        @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                        {
                                            <a class="btn btn-primary btn-xs font-11" target="_blank" href="@Url.Action("Edit", "AVFOutwardInvoice")/{{model.avfOutwardInvoiceID title=" title=" view (read only)"><i class="fa fa-folder-open"></i> View</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-primary btn-xs font-11" target="_blank" href="@Url.Action("Edit", "AVFOutwardInvoice")/{{model.avfOutwardInvoiceID}}" title="Edit"><i class="fa fa-pencil"></i> View</a>
                                        }
                                        <!--<a class="btn btn-primary btn-xs font-11" href="javascript:void(0)" ng-click="event.download(model.fileLocation)" title="Download"><i class="fa fa-download"></i> Download</a>-->
                                        @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                        {
                                            <a class="btn btn-danger btn-xs font-11" href="javascript:void(0)" ng-click="event.delete(model.avfPurchasingInvoiceID)" title="Delete"><i class="fa fa-times"></i> Delete</a>
                                        }
                                    </td>
                                    <td>{{model.serialNo}}</td>
                                    <td>{{model.invoiceNo}}</td>
                                    <td>{{model.invoiceDate}}</td>
                                    <td>{{model.creditorNM}}</td>
                                    <td>{{model.creditorTaxCode}}</td>
                                    <td>{{model.description}}</td>
                                    <td>{{model.amount}}</td>
                                    <td>{{model.payment}}<span>%</span></td>
                                    <td>{{model.quantity}}</td>
                                    <td>{{model.unitPrice}}</td>
                                    <td>
                                        <avs-show-dialog-link is-show="model.showUpdatorLink"
                                                              navigate-url="'@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/' + model.updatorID"
                                                              display-text="model.updatorName"></avs-show-dialog-link>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Edit", "AVFOutwardInvoice")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/avfoutwardinvoice/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    </script>
    <script src="~/Angular/app/avfOutwardInvoice/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/avfOutwardInvoice/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
