@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var supportServiceRoot = (System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"]);

    ViewBag.Title = (ViewBag.ID == 0) ? "Create Product Break Down Default Category" : "Edit Product Break Down Default Category";
    ViewBag.SubTitle = (ViewBag.ID == 0) ? "Create" : "Edit";
    ViewBag.Module = "Product Break Down Default Category";
}

<form name="editForm" class="row">
    <article class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <div class="jarviswidget" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>@ViewBag.Title</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="tab-content">
                        <div class="smart-form">
                            <fieldset>
                                <div class="row">
                                    <section class="col col-sm-2">
                                        <label class="label">
                                            <label>Name</label>
                                            <em class="note note-error" ng-show="editForm.productBreakDownDefaultCategoryNM.$error.required"> (Required)</em>
                                        </label>
                                        <label class="input">
                                            <input type="text" style="font-family: 'Arial'" class="form-control" ng-model="data.productBreakDownDefaultCategoryNM" maxlength="255" name="productBreakDownDefaultCategoryNM" ng-if="data.productBreakDownDefaultCategoryID != null && data.productBreakDownDefaultCategoryID != 0" readonly />
                                        </label>
                                        <label class="input">
                                            <input type="text" style="font-family: 'Arial'" class="form-control" ng-model="data.productBreakDownDefaultCategoryNM" maxlength="255" name="productBreakDownDefaultCategoryNM" ng-if="data.productBreakDownDefaultCategoryID == null || data.productBreakDownDefaultCategoryID == 0" required />
                                        </label>
                                    </section>
                                    <section class="col col-sm-1">
                                        <label class="label">
                                            <label>Unit</label>
                                        </label>
                                        <label class="input">
                                            <input type="text" style="font-family: 'Arial'" class="form-control" ng-model="data.unit" maxlength="10" name="unit" />
                                        </label>
                                        <label class="input">
                                            <input type="text" style="font-family: 'Arial'" class="form-control" ng-model="data.productBreakDownDefaultCategoryNM" maxlength="255" name="productBreakDownDefaultCategoryNM" ng-if="data.productBreakDownDefaultCategoryID == null || data.productBreakDownDefaultCategoryID == 0" required />
                                        </label>
                                    </section>
                                    <section class="col col-sm-1">
                                        <label class="label">
                                            <label>Display Order</label>
                                        </label>
                                        <label class="input">
                                            <input type="text" style="font-family: 'Arial'; text-align: right" class="form-control" avs-number ng-data-source="data.displayOrder" />
                                        </label>
                                    </section>
                                    <section class="col col-sm-2">
                                        <label class="label">
                                            <label>Type</label>
                                        </label>
                                        <label class="input">
                                            <select class="form-control" style="height: 30px" ng-model="data.productBreakDownCalculationTypeID" ng-options="type.productBreakDownCalculationTypeID as type.productBreakDownCalculationTypeNM for type in productBreakDownCalculationTypes" ng-change="event.changeType(data.productBreakDownCalculationTypeID)">
                                                <option value=""></option>
                                            </select>
                                        </label>
                                    </section>
                                    <section class="col col-sm-1">
                                        <label class="label">Quantity Percent</label>
                                        <label class="input">
                                            <input class="form-control" style="font-family: 'Arial'; text-align: right" avs-number ng-data-source="data.quantityPercent" ng-decimal="2" ng-readonly="(data.productBreakDownCalculationTypeID != 2)" />
                                        </label>
                                    </section>
                                    <section class="col col-sm-2">
                                        <label class="label">
                                            Option Quantity
                                        </label>
                                        <label class="input">
                                            <select class="form-control" style="height: 30px" ng-model="data.optionTotalID" ng-options="item.optionTotalID as item.optionTotalNM for item in optionToGetQuantity" ng-disabled="(data.productBreakDownCalculationTypeID == 2)">
                                                <option value=""></option>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="col col-sm-2">
                                        <label class="label">
                                            Option Price
                                        </label>
                                        <label class="input">
                                            <select class="form-control" style="height: 30px" ng-model="data.optionToGetPriceID" ng-options="item.optionToGetPriceID as item.optionToGetPriceNM for item in optionToGetPrice" ng-change="event.changeOptionPrice(data.optionToGetPriceID)" ng-disabled="(data.productBreakDownCalculationTypeID == 2)">
                                                <option value=""></option>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="col col-sm-1">
                                        <label class="label">Unit Price</label>
                                        <label class="input">
                                            <input class="form-control" style="font-family: 'Arial'; text-align: right" avs-number ng-data-source="data.unitPrice" ng-decimal="2" ng-readonly="(data.optionToGetPriceID != null)" />
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-sm-12">
                                        <label class="label">Remark</label>
                                        <label class="input">
                                            <input type="text" style="font-family: 'Arial'" class="form-control" ng-model="data.remark" />
                                        </label>
                                    </section>
                                </div>
                                <label class="font-11" ng-if="data.createdBy != null">
                                    <b>Created by</b>: 
                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.createdBy}}" da dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        <i class="fa fa-user"></i> {{data.informationCreatorNM}}
                                    </a>
                                    on <span class="font-12">{{data.createdDate}}</span>
                                </label>
                                <br ng-if="data.createdBy != null"/>
                                <label class="font-11" ng-if="data.updatedBy != null">
                                    <b>Updated by</b>: 
                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" da dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        <i class="fa fa-user"></i> {{data.informationUpdatorNM}}
                                    </a>
                                    on <span class="font-12">{{data.updatedDate}}</span>
                                </label>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>


@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "ProductBreakDownDefaultCategoryMng")" class="btn btn-default" title="Back">
                <i class="fa fa-arrow-left"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Delete" ng-class="{'disabled': data.productBreakDownDefaultCategoryID == 0}" ng-click="event.remove(data.productBreakDownDefaultCategoryID)">
                <i class="fa fa-times"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Save" ng-click="event.update()">
                <i class="fa fa-floppy-o"></i>
            </a>
        </li>
    </ul>
}

@section pagejs{
    <script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">
        supportService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        supportService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';


        var context = {
            id: @ViewBag.ID,
            backUrl: '@Url.Action("Index", "ProductBreakDownDefaultCategoryMng")',
            refreshUrl: '@Url.Action("Edit", "ProductBreakDownDefaultCategoryMng", new { id = UrlParameter.Optional })/',
            serviceUrl: '@(serviceRoot)/api/productbreakdowndefaultcategory/',
            supportServiceUrl: '@(supportServiceRoot)/api/support/',
            token: '@token',
            msgValid: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED' ,
        }
    </script>
    <script type="text/javascript" src="~/Views/ProductBreakDownDefaultCategoryMng/edit.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/ProductBreakDownDefaultCategoryMng/service.js?v=@guid"></script>

}
