@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];

    ViewBag.Title = "OverView Product Break Down Default Category";
    ViewBag.Module = "OverView Product Break Down Default Category";
}

<form name="editForm" class="row">
    <article class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <div class="jarviswidget" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>@ViewBag.Title</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="tab-content">
                        <div class="smart-form">
                            <fieldset>
                                <div class="row">
                                    <section class="col col-sm-3">
                                        <label class="label">
                                            <label>Name</label>
                                        </label>
                                        <label class="input">
                                            <input type="text" class="form-control" style="font-family: 'Arial'" ng-model="data.productBreakDownDefaultCategoryNM" maxlength="10" readonly />
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="label">
                                            <label>Calculation Type</label>
                                        </label>
                                        <label class="label">
                                            <label class="input">
                                                <input type="text" class="form-control" style="font-family: 'Arial'" ng-model="data.productBreakDownCalculationTypeNM" maxlength="10" readonly />
                                            </label>
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="label">
                                            <label>Unit</label>
                                        </label>
                                        <label class="input">
                                            <input type="text" class="form-control" style="font-family: 'Arial'" ng-model="data.unit" maxlength="10" readonly />
                                        </label>
                                    </section>
                                    <section class="col col-sm-2">
                                        <label class="label">
                                            Unit Price
                                            @*<em class="note note-error" ng-if="data.unitPrice == null || data.unitPrice == ''">(Required)</em>*@
                                        </label>
                                        <label class="input">
                                            <input name="unitPrice" class="form-control" type="text" style="font-family: 'Arial'; text-align: right" avs-number ng-data-source="data.unitPrice" ng-decimal="2" readonly />
                                        </label>
                                    </section>
                                    <section class="col col-sm-2">
                                        <label class="label">
                                            Option To Get Quantity
                                            <em class="note note-error" ng-if="data.unitPrice == null || data.unitPrice == ''">(Required)</em>
                                        </label>
                                        <label class="input">
                                            <input type="text" class="form-control" style="font-family: 'Arial'" ng-model="data.optionTotalNM" readonly />
                                        </label>
                                    </section>
                                    <section class="col col-sm-1">
                                        <label class="label">
                                            <label>Display Order</label>
                                        </label>
                                        <label class="input">
                                            <input type="text" style="font-family: 'Arial'; text-align: right" class="form-control" avs-number ng-data-source="data.displayOrder" readonly />
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-sm-12">
                                        <label class="label">Remark</label>
                                        <label class="input">
                                            <input type="text" class="form-control" style="font-family: 'Arial'" ng-model="data.remark" readonly />
                                        </label>
                                    </section>
                                </div>
                                <label class="font-11" ng-if="data.createdBy != null">
                                    <b>Created by</b>:
                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.createdBy}}" da dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        <i class="fa fa-user"></i> {{data.informationCreatorNM}}
                                    </a>
                                    on <span class="font-12">{{data.createdDate}}</span>
                                </label>
                                <label class="font-11" ng-if="data.updatedBy != null">
                                    <b>Updated by</b>:
                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" da dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        <i class="fa fa-user"></i> {{data.informationUpdatorNM}}
                                    </a>
                                    on <span class="font-12">{{data.updatedDate}}</span>
                                </label>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>


@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "ProductBreakDownDefaultCategoryMng")" class="btn btn-default" title="Back">
                <i class="fa fa-arrow-left"></i>
            </a>
        </li>        
    </ul>
}

@section pagejs{
    <script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">
        var context = {
            id: @ViewBag.ID,
            backUrl: '@Url.Action("Index", "ProductBreakDownDefaultCategoryMng")',
            refreshUrl: '@Url.Action("Edit", "ProductBreakDownDefaultCategoryMng", new { id = UrlParameter.Optional })/',
            serviceUrl: '@(serviceRoot)/api/productbreakdowndefaultcategory/',
            token: '@token',
            msgValid: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED' ,
        }
    </script>
    <script type="text/javascript" src="~/Views/ProductBreakDownDefaultCategoryMng/overview.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/ProductBreakDownDefaultCategoryMng/service.js?v=@guid"></script>

}
