@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var supportServiceRoot = (System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"]);
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];

    ViewBag.Title = (ViewBag.ID == 0) ? "Create Cost Invoice 2" : "Edit Cost Invoice 2";
    ViewBag.SubTitle = (ViewBag.ID == 0) ? "Create" : "Edit";
    ViewBag.Module = "Cost Invoice 2";
}

<form name="editForm" class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>@ViewBag.SubTitle General</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="smart-form">
                        <div class="row">
                            <section class="col col-sm-2">
                                <label>Cost Invoice UD</label>
                                <label class="input">
                                    <input type="text" class="form-control" style="font-family:Arial" maxlength="10" readonly ng-model="data.costInvoice2UD" />
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label>Invoice No</label>
                                <label class="input">
                                    <input type="text" class="form-control" style="font-family:Arial" maxlength="20" ng-model="data.invoiceNo" />
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label>Invoice Date</label>
                                <label class="input-group">
                                    <input type="text" class="form-control" avs-calendar ng-data-source="data.invoiceDate" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label>Season</label>
                                <label class="input">
                                    <select class="form-control" style="height:30px" ng-model="data.season" ng-options="item.seasonValue as item.seasonText for item in seasons">
                                        <option value=""></option>
                                    </select>
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label>Status</label>
                                <label class="input">
                                    <select class="form-control" ng-model="noPaid" ng-options="item.id as item.name for item in listPaid">
                                        <option value=""></option>
                                    </select>
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-sm-2">
                                <label>Cost Invoice Creditor</label>
                                <label class="input">
                                    <select class="form-control" style="height:30px" ng-model="data.costInvoice2CreditorID" ng-options="item.costInvoice2CreditorID as item.costInvoice2CreditorUD for item in costInvoice2Creditors">
                                        <option value=""></option>
                                    </select>
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label>Total Amount</label>
                                <label class="input-group">
                                    <span class="input-group-addon" style="width:10px">
                                        {{data.currency == null || data.currency == '' ? '' : data.currency == 'EUR' ? '€' : '$'}}
                                    </span>                
                                    <input type="text" ng-readonly="(data.isChargedToClient != null && data.isChargedToClient)||(data.isChargedToFactory != null && data.isChargedToFactory)" class="form-control" style="font-family:Arial; text-align:right" avs-number ng-data-source="data.totalAmount" ng-decimal=2 maxlength="20" />                          
                                </label>
                            </section>
                            <section class="col col-sm-1">
                                <label>Currency</label>
                                <label class="input">
                                    <select class="form-control" style="height:30px" ng-model="data.currency" ng-options="item.currencyID as item.currencyNM for item in currencies">
                                        <option value=""></option>
                                    </select>
                                </label>
                            </section>
                            <section class="col col-sm-1">
                                <label></label>
                                <label class="input"></label>
                            </section>
                            <section class="col col-sm-2">
                                <label>Cost Invoice Type</label>
                                <label class="input">
                                    <select class="form-control" style="height:30px" ng-model="data.costInvoice2TypeID" ng-options="item.costInvoice2TypeID as item.costInvoice2TypeNM for item in costInvoice2Types">
                                        <option value=""></option>
                                    </select>
                                </label>
                            </section>
                            <section class="col col-sm-4">
                                @*<label>Related Document No</label>
                                <label class="input">
                                    <input type="text" class="form-control" style="font-family:Arial" maxlength="255" ng-model="data.relatedDocumentNo" />
                                </label>*@
                                <label>Related Document File</label>
                                <label class="input">
                                    <span class="form-control">
                                        {{data.friendlyName}}
                                        <div style="position: absolute; right: 5px; top: 5px;">
                                            <a ng-disabled="!data.fileLocation || data.friendlyName==null" href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="event.downloadFile()">Download</a>
                                            <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="event.changeFile()">Change</a>
                                            <a ng-disabled="!data.fileLocation || data.friendlyName==null" href="javascript:void(0);" class="btn btn-danger btn-xs" style="font-size: 11px;" ng-click="event.removeFile()">Remove</a>
                                        </div>
                                    </span>
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-sm-2">
                                <label>Due Date</label>
                                <label class="input-group">
                                    <input type="text" class="form-control" avs-calendar ng-data-source="data.dueDate" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label>Paid Date</label>
                                <label class="input-group">
                                    <input type="text" class="form-control" avs-calendar ng-data-source="data.paidDate" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </label>
                            </section>
                            <section class="col col-sm-4">
                                <label>Description</label>
                                <label class="textarea">
                                    <textarea class="form-control" style="font-family:Arial" rows="5" ng-model="data.description" maxlength="1000"></textarea>
                                </label>
                            </section>
                            <section class="col col-sm-4">
                                <label>Remark</label>
                                <label class="textarea">
                                    <textarea class="form-control" style="font-family:Arial" rows="5" ng-model="data.remark" maxlength="500"></textarea>
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-sm-6" style="margin-bottom:0px">
                                <label class="label" style="display:inline-flex">Client </label>
                                <input type="checkbox" ng-model="data.isChargedToClient" ng-change="event.calculateAmount(data.isChargedToClient, data.isChargedToFactory)"/> 
                            </section>
                            <section class="col col-sm-6" style="margin-bottom:0px">
                                <label class="label" style="display:inline-flex">Factory</label>
                                <input type="checkbox" ng-model="data.isChargedToFactory" ng-change="event.calculateAmount(data.isChargedToClient, data.isChargedToFactory)"/>
                            </section>
                            <section class="col col-sm-6" style="margin-bottom:5px">
                                <label class="input-group">
                                    <input type="text" class="form-control" style="font-style:italic" placeholder=" Please input Client UD...." avs-remote-auto-complete ng-request-param="ngRequestClient" ng-init-param="ngInitClient" ng-model="ngInitClient" ng-item-value="ngItemClient" ng-item-selected="ngSelectedClient" data-method="POST" data-format-function="formatData" />
                                    <span class="input-group-addon" ng-disabled="data.isChargedToClient == null || !data.isChargedToClient" ng-click="event.addForClient()">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                </label>
                            </section>
                            <section class="col col-sm-6" style="margin-bottom:5px">
                                <label class="input-group">
                                    <input type="text" class="form-control" style="font-style:italic" placeholder=" Please input Factory UD...." avs-remote-auto-complete ng-request-param="ngRequestFactory" ng-init-param="ngInitFactory" ng-model="ngInitFactory" ng-item-value="ngItemFactory" ng-item-selected="ngSelectedFactory" data-method="POST" data-format-function="formatData" />
                                    <span class="input-group-addon" ng-disabled="data.isChargedToFactory == null || !data.isChargedToFactory" ng-click="event.addForFactory()">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                </label>
                            </section>
                            <section class="col col-sm-6">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width:80px"></th>
                                            <th style="text-align:center; width:120px">CLIENT UD</th>
                                            <th style="text-align:center" class="sorting" data-colname="totalAmount">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in data.costInvoice2Clients">
                                            <td style="text-align:center">
                                                <a href="javascript:void(0)" class="btn btn-default btn-xs btn-danger font-11" style="width:69px" ng-click="event.removeForClient(item, data.isChargedToClient, data.isChargedToFactory)">
                                                    <i class="fa fa-times"></i> Remove
                                                </a>
                                            </td>
                                            <td>{{item.clientUD}}</td>
                                            <td style="text-align:center">
                                                <div class="input-group">
                                                    <span class="input-group-addon" style="width:10px">
                                                        {{data.currency == null || data.currency == '' ? '' : data.currency == 'EUR' ? '€' : '$'}}
                                                    </span>                                                                                                                              
                                                    <input type="text" ng-readonly="data.isChargedToClient == null || !data.isChargedToClient" class="form-control furnindo-currency" ng-model="item.amountClient" style="text-align:right; width:250px" ng-currency fraction="2" currency-symbol="" ng-change="event.calculateAmount(data.isChargedToClient, data.isChargedToFactory)"  />
                                                </div>                 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                            <section class="col col-sm-6">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width:80px"></th>
                                            <th style="text-align:center;width:120px">FACTORY UD</th>
                                            <th style="text-align:center" class="sorting" data-colname="totalAmount">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in data.costInvoice2Factories">
                                            <td style="text-align:center">
                                                <a href="javascript:void(0)" class="btn btn-default btn-xs btn-danger font-11" style="width:69px" ng-click="event.removeForFactory(item, data.isChargedToClient, data.isChargedToFactory)">
                                                    <i class="fa fa-times"></i> Remove
                                                </a>
                                            </td>
                                            <td>{{item.factoryUD}}</td>
                                            <td style="text-align:center">
                                                <div class="input-group">
                                                    <span class="input-group-addon" style="width:10px">
                                                        {{data.currency == null || data.currency == '' ? '' : data.currency == 'EUR' ? '€' : '$'}}
                                                    </span>
                                                    <input type="text" ng-readonly="data.isChargedToFactory == null || !data.isChargedToFactory" class="form-control furnindo-currency" ng-model="item.amountFactory" style="text-align:right; width:250px" ng-currency fraction="2" currency-symbol="" ng-change="event.calculateAmount(data.isChargedToClient, data.isChargedToFactory)"  />
                                                </div>                       
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-sm-12" style="margin-bottom:5px" ng-show="data.confirmedBy != null">
                                Confirmed by:
                                <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.confirmedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                    <i class="fa fa-user"></i> {{data.confirmerNM}}
                                </a> 
                                on {{data.confirmedDate}}
                            </section>
                            <section class="col col-sm-12" style="margin-bottom:5px" ng-show="data.updatedBy != null">
                                Updated by: 
                                <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                    <i class="fa fa-user"></i> {{data.updatorNM}}
                                </a> 
                                on {{data.updatedDate}}
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction{
<ul id="sparks">
    <li class="sparks-info">
        <a href="@Url.Action("Index", "CostInvoice2Mng")" class="btn btn-default" title="Back index">
            <i class="fa fa-arrow-left"></i>
        </a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current))" title="Delete data" ng-disabled="data.costInvoice2ID == 0 || data.isConfirmed" ng-click="event.remove()">
            <i class="fa fa-times"></i>
        </a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save data" ng-disabled="data.isConfirmed" ng-click="event.update($event, data)">
            <i class="fa fa-floppy-o"></i>
        </a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Approve, HttpContext.Current))" title="Confirm data" ng-disabled="data.costInvoice2ID == 0 || data.isConfirmed || !data.isPaid" ng-click="event.approve()">
            <i class="fa fa-thumbs-o-up"></i>
        </a>
    </li>
</ul>
}

@section pagejs{
    <script type="text/javascript">
        var context = {
            id: @ViewBag.ID,
            backUrl: '@Url.Action("Index", "CostInvoice2Mng")',
            refreshUrl: '@Url.Action("Edit", "CostInvoice2Mng", new { id = UrlParameter.Optional })/',
            serviceUrl: '@(serviceRoot)/api/costInvoice2Mng/',
            supportServiceUrl: '@(supportServiceRoot)/api/support/',
            token: '@token',
            msgValid: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED'
        };
    </script>
    <script type="text/javascript" src="~/Angular/app/costInvoice2Mng/edit.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/costInvoice2Mng/service.js?v=@guid"></script>
}