@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var pageSize = System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var backendReportUrl = @System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"];

    ViewBag.Title = "Search Cost Invoice 2";
    ViewBag.Module = "Cost Invoice 2";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-table"></i>
                </span>
                <h2>Search Result(s)</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="tilsoft-table-wrapper" avs-scroll grid-handler="gridHandler">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width:2080px">
                                <div style="width:85px">
                                    <b>FOUND(s)</b>
                                    <br />
                                    <b style="color: maroon">{{totalRows}}</b>
                                </div>
                                <div style="width:130px">TOTAL AMOUNT</div>
                                <div style="width:130px">SEASON</div>
                                <div style="width:150px">CREDITOR CODE</div>
                                <div style="width:150px">TYPE OF<br />PAYMENT</div>
                                <div style="width:150px">TEST REPORT NO</div>
                                <div style="width:120px">INVOICE NO</div>
                                <div style="width:160px">INVOICE DATE</div>
                                <div style="width:160px">PAYMENT DEADLINE</div>
                                <div style="width:160px">PAYMENT<br />DATE</div>
                                <div style="width:140px">PAYMENT<br />STATUS</div>
                                <div style="width:120px">CLIENT</div>
                                <div style="width:120px">FACTORY</div>
                                <div>MORE INFO</div>
                            </div>
                            <div class="tilsoft-table-filter" style="width:2080px">
                                <div style="width:85px">
                                    <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter ? 'default' : 'primary'}} btn-xs font-11" title="With filters" ng-click="event.refresh()">
                                        <i class="fa fa-filter"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs font-11" title="Clear filters" ng-click="event.clear()">
                                        <i class="fa fa-ban"></i>
                                    </a>
                                </div>
                                <div style="width:130px"></div>
                                <div style="width:130px">
                                    <select class="form-control search-filter" style="width:100%" ng-model="filters.season" ng-options="item.seasonValue as item.seasonText for item in seasons">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </div>
                                <div style="width:150px">
                                    <input type="text" class="form-control search-filter" style="width:100%" ng-model="filters.creditorCode" maxlength="10" />
                                </div>
                                <div style="width:150px">
                                    <select class="form-control search-filter" style="width:100%" ng-model="filters.costInvoice2TypeID" ng-options="item.costInvoice2TypeID as item.costInvoice2TypeNM for item in typeOfPayments">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </div>
                                <div style="width:150px">
                                    <input type="text" class="form-control search-filter" style="width:100%" ng-model="filters.relatedDocumentNo" maxlength="255" />
                                </div>
                                <div style="width:120px">
                                    <input type="text" class="form-control search-filter" style="width:100%" ng-model="filters.invoiceNo" maxlength="20" />
                                </div>
                                <div style="width:160px; padding:0px">
                                    <div class="input-group" style="border:none">
                                        <input type="text" class="form-control search-filter" style="width:100%" avs-calendar ng-data-source="filters.invoiceDate" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div style="width:160px; padding:0px">
                                    <div class="input-group" style="border:none">
                                        <input type="text" class="form-control search-filter" style="width:100%" avs-calendar ng-data-source="filters.dueDate" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div style="width:160px; padding:0px">
                                    <div class="input-group" style="border:none">
                                        <input type="text" class="form-control search-filter" style="width:100%" avs-calendar ng-data-source="filters.paidDate" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div style="width:140px">
                                    <select class="form-control search-filter" style="width:100%" ng-model="filters.isPaid" ng-options="item.id as item.name for item in paymentStatus">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </div>
                                <div style="width:120px"></div>
                                <div style="width:120px"></div>
                                <div></div>
                            </div>
                            <div class="tilsoft-table-totalrow" style="width:2080px">
                                <div style="width:85px" class="sorting">
                                    Total
                                </div>
                                <div style="width:130px; text-align:center" class="sorting">{{totalAmountValue | number}}</div>
                                <div style="width:130px"></div>
                                <div style="width:150px"></div>
                                <div style="width:150px"></div>
                                <div style="width:150px"></div>
                                <div style="width:120px"></div>
                                <div style="width:160px"></div>
                                <div style="width:160px"></div>
                                <div style="width:160px"></div>
                                <div style="width:140px"></div>
                                <div style="width:120px"></div>
                                <div style="width:120px"></div>
                                <div></div>
                            </div>
                            <div class="tilsoft-table-subtotalrow" style="width:2080px">
                                <div style="width:85px" class="sorting">
                                    Sub Total
                                </div>
                                <div style="width:130px; text-align:center" class="sorting">{{subTotalAmountValue | number}}</div>
                                <div style="width:130px"></div>
                                <div style="width:150px"></div>
                                <div style="width:150px"></div>
                                <div style="width:150px"></div>
                                <div style="width:120px"></div>
                                <div style="width:160px"></div>
                                <div style="width:160px"></div>
                                <div style="width:160px"></div>
                                <div style="width:140px"></div>
                                <div style="width:120px"></div>
                                <div style="width:120px"></div>
                                <div></div>
                            </div>
                            <div class="tilsoft-table-body" style="width:2080px">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="item in data">
                                            <td style="width:84px; text-align:center">
                                                <a href="@Url.Action("Edit", "CostInvoice2Mng")/{{item.costInvoice2ID}}" class="btn btn-default btn-xs btn-primary font-11" style="width:69px" target="_blank">
                                                    <i class="fa fa-pencil"></i> Edit
                                                </a>
                                                <a href="javascript:void(0)" class="btn btn-default btn-xs btn-danger font-11" style="width:69px; margin-top:3px" ng-click="event.remove(item)">
                                                    <i class="fa fa-times"></i> Delete
                                                </a>
                                            </td>
                                            <td style="width:130px; text-align:center">{{item.totalAmount}}</td>
                                            <td style="width:130px; text-align:center">{{item.season}}</td>
                                            <td style="width:150px; text-align:center">{{item.costInvoice2CreditorUD}}</td>
                                            <td style="width:150px; text-align:center">{{item.costInvoice2TypeNM}}</td>
                                            <td style="width:150px; text-align:center">{{item.relatedDocumentNo}}</td>
                                            <td style="width:120px; text-align:center">{{item.invoiceNo}}</td>
                                            <td style="width:160px; text-align:center">{{item.invoiceDate}}</td>
                                            <td style="width:160px; text-align:center">{{item.dueDate}}</td>
                                            <td style="width:160px; text-align:center">{{item.paidDate}}</td>
                                            <td style="width:140px; text-align:center">{{(item.isPaid == null || !item.isPaid) ? 'PENDING' : 'PAID'}}</td>
                                            <td style="width:120px; text-align:center">
                                                <div ng-repeat="itemChild in item.costInvoice2Clients">
                                                    {{itemChild.clientUD}}
                                                </div>
                                            </td>
                                            <td style="width:120px; text-align:center">
                                                <div ng-repeat="itemChild in item.costInvoice2Factories">
                                                    {{itemChild.factoryUD}}
                                                </div>
                                            </td>
                                            <td>
                                                <div ng-show="item.confirmedBy != null">
                                                    Confirmed by:
                                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.confirmedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        <i class="fa fa-user"></i> {{item.confimerNM}}
                                                    </a>
                                                    on {{item.confirmedDate}}
                                                </div>
                                                <div ng-show="item.updatedBy != null">
                                                    Updated by:
                                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        <i class="fa fa-user"></i> {{item.updatorNM}}
                                                    </a>
                                                    on {{item.updatedDate}}
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmPrintOption" class="modal fade" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                            ×
                        </button>
                        <h4 id="myModalLabel" class="modal-title">Select season to print</h4>
                    </div>
                    <div class="modal-body smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-6">
                                    <label>Season</label>
                                    <select class="form-control search-filter" name="season_search" ng-model="printSeason" ng-options="item.seasonValue as item.seasonText for item in seasons">
                                        <option value=""></option>
                                    </select>
                                </section>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button" ng-click="event.close()">
                            Cancel
                        </button>
                        <button class="btn btn-primary" type="button" ng-click="event.print()">
                            Print
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction{
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Search" ng-click="event.refresh()">
                <i class="fa fa-search"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Refresh" ng-click="event.refresh()">
                <i class="fa fa-refresh"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Edit","CostInvoice2Mng")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Create data" target="_blank">
                <i class="fa fa-file-o"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Report season" ng-click="event.open()">
                <i class="fa fa-print"></i>
            </a>
        </li>
    </ul>
}

@section pagejs{
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(serviceRoot)/api/costInvoice2Mng/',
            serviceReportUrl: '@(backendReportUrl)',
            token: '@token',
            pageSize: '@pageSize',
            cookieID: '@cookieID'
        }
    </script>
    <script type="text/javascript" src="~/Angular/app/costInvoice2Mng/index.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/costInvoice2Mng/service.js?v=@guid"></script>
}