
@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var pageSize = System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();

    ViewBag.Title = "Search Defects";
    ViewBag.Module = "Defects";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget " data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-table"></i>
                </span>
                <h2>Search Result</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body no-padding">
                    <div class="tilsoft-table-wrapper" avs-scroll grid-handler="gridHandler">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1300px">
                                <div style="width: 90px">Found(s)  <font style="color:deeppink; text-transform:none">{{totalRows}}</font></div>
                                <div style="width: 100px">Img</div>
                                <div style="width: 150px">Code</div>
                                <div style="width: 250px">Name</div>
                                <div style="width: 120px">A</div>
                                <div style="width: 120px">B</div>
                                <div style="width: 120px">C</div>
                                <div style="width: 250px">DefectsGroup</div>
                                <div></div>
                            </div>
                            <div class="tilsoft-table-filter" style="width:1300px">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                <div style="width:90px; border-right:1px solid #ccc">
                                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Apply Filter" ng-click="event.reloadpage()"><i class="fa fa-filter"></i></a>
                                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilters()"><i class="fa fa-ban"></i></a>
                                                </div>
                                            </th>
                                            <th>
                                                <div style="width: 100px ;border-right:1px solid #ccc"></div>
                                            </th>
                                            <th>
                                                <div style="width: 150px ;border-right:1px solid #ccc">
                                                    <input class="form-control search-filter" style="width: 100%" ng-model="filters.DefectUD">
                                                </div>
                                            </th>
                                            <th>
                                                <div style="width: 250px ;border-right:1px solid #ccc">
                                                    <input class="form-control search-filter" style="width: 100%" ng-model="filters.DefectNM">
                                                </div>
                                            </th>
                                            <th>
                                                <div style="width: 120px ;border-right:1px solid #ccc">
                                                    <input class="form-control search-filter" style="width: 100%" ng-model="filters.TypeOfDefectNameA">
                                                </div>
                                            </th>
                                            <th>
                                                <div style="width: 120px ;border-right:1px solid #ccc">
                                                    <input class="form-control search-filter" style="width: 100%" ng-model="filters.TypeOfDefectNameB">
                                                </div>
                                            </th>
                                            <th>
                                                <div style="width: 120px ;border-right:1px solid #ccc">
                                                    <input class="form-control search-filter" style="width: 100%" ng-model="filters.TypeOfDefectNameC">
                                                </div>
                                            </th>
                                            <th style="width: 250px ;border-right:1px solid #ccc">
                                                <div>
                                                    <input type="text" class="form-control search-filter" ng-model="filters.DefectName" />
                                                </div>
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1300px">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="item in data">
                                            <td style="width: 90px;text-align:center">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "DefectsMng")/{{item.defectID}}" title="View (Read Only)" target="_blank" style="width:70px"><i class="fa fa-folder-open"></i> View</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "DefectsMng")/{{item.defectID}}" title="Edit" target="_blank" style="width:70px"><i class="fa fa-pencil"></i> Edit</a>
                                                    <br />
                                                }
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                                {
                                                    <a class="btn btn-danger btn-xs font-11" href="#" title="Delete" ng-click="event.deleterow(item.defectID, $index)" style="margin-top:4px; width:70px"><i class="fa fa-times"></i> Delete</a>
                                                }
                                            </td>
                                            <td style="width: 100px; text-align: center; vertical-align: middle">
                                                <a href="{{item.fileLocation}}" data-featherlight="image">
                                                    <img style="width: 95%" ng-src="{{item.thumbnailLocation}}" />
                                                </a>
                                            </td>
                                            <td style="width: 150px">
                                                {{item.defectUD}}
                                            </td>
                                            <td style="width: 250px">
                                                {{item.defectNM}}
                                            </td>
                                            <td style="width: 120px">
                                                {{item.typeOfDefectANM}}
                                            </td>
                                            <td style="width: 120px">
                                                {{item.typeOfDefectBNM}}
                                            </td>
                                            <td style="width: 120px">
                                                {{item.typeOfDefectCNM}}
                                            </td>
                                            <td style="width: 250px">
                                                {{item.defectGroupNM}}
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction{
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Search" ng-click="event.reloadpage()">
                <i class="fa fa-search"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Refresh" ng-click="event.clearFilters()">
                <i class="fa fa-refresh"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Edit","DefectsMng")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" target="_blank" title="New">
                <i class="fa fa-file-o"></i>
            </a>
        </li>
    </ul>
}

@section pagejs{
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(serviceRoot)/api/defects/',
            token: '@token',
            pageSize: '@pageSize',
            cookieID: '@cookieID'
        }
    </script>
    <script type="text/javascript" src="~/Views/DefectsMng/index.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/DefectsMng/service.js?v=@guid"></script>
}

