@{
    ViewBag.Title = "Outsourcing Cost Report";

    ViewBag.Module = "Outsourcing Cost Report";
    ViewBag.Icon = "fa fa-database";
}

<form class="row" name="editForm">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>General</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">

                        <div class="row">
                            <section class="col col-2">
                                <label>
                                    From Date
                                    <em class="note note-error" ng-show="(filters.fromDate == null || filters.fromDate == '')"> (Required)</em>
                                </label>
                                <label class="input-group">
                                    <input avs-calendar class="form-control" type="text" ng-data-source="filters.fromDate" required />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </label>
                            </section>

                            <section class="col col-2">
                                <label>
                                    To Date
                                    <em class="note note-error" ng-show="(filters.toDate == null || filters.toDate == '')"> (Required)</em>
                                </label>
                                <label class="input-group">
                                    <input avs-calendar class="form-control" type="text" ng-data-source="filters.toDate" required />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </label>
                            </section>

                            <section class="col col-2">
                                <label>Work Center</label>
                                <span class="form-control">Weaving</span>
                            </section>

                            <section class="col col-2">
                                <label>Production Team</label>
                                <label class="select">
                                    <select ui-select2 ng-model="filters.productionTeamID" class="select2">
                                        <option value=""></option>
                                        <option ng-repeat="xxx in support.productionTeams" value="{{xxx.productionTeamID}}">{{xxx.productionTeamNM}}</option>
                                    </select>
                                </label>
                            </section>

                            <section class="col col-2">
                                <label>Client Code</label>
                                <label class="select">
                                    <select ui-select2 ng-model="filters.clientID" class="select2">
                                        <option value=""></option>
                                        <option ng-repeat="xxx in support.clients" value="{{xxx.clientID}}">{{xxx.clientUD}}</option>
                                    </select>
                                </label>
                            </section>

                            <section class="col col-2">
                                <label></label>
                                <br />
                                <label>Out Source</label>
                                <span class="onoffswitch">
                                    <input name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" type="checkbox" ng-model="filters.isOutSource" />
                                    <label class="onoffswitch-label" for="myonoffswitch"> <span class="onoffswitch-inner" data-swchon-text="YES" data-swchoff-text="NO"></span> <span class="onoffswitch-switch"></span> </label>
                                </span>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

<form class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-client" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-table"></i>
                </span>
                @*<h2>Client Result</h2>*@
            </header>
            <div class="smart-form">
                <div class="widget-body no-padding">
                    <div avs-table grid-handler="gridHandler" class="avs-table-wrapper">
                        <div class="avs-table-header">
                            <div class="avs-table-header-container">
                                <table>
                                    <tr class="header-row" style="height: auto;">
                                        <td style="width: 60px;" rowspan="2"></td>
                                        <td style="width: 40px;" rowspan="2">#</td>
                                        <td style="width: 100px;" rowspan="2">PT Name</td>
                                        <td style="width: 50px;" rowspan="2">Model Code</td>
                                        <td style="width: 240px;" rowspan="2">Model Name</td>
                                        <td style="width: 50px;" rowspan="2">Client Code</td>

                                        <td style="width:240px" colspan="4">
                                            QUANTITY
                                        </td>

                                        <td style="width:140px" colspan="2">
                                            GIÁ CĂN SƯỜN
                                        </td>

                                        <td style="width:350px" colspan="5">
                                            AMOUNT
                                        </td>
                                    </tr>
                                    <tr class="header-row">
                                        <td>Total Deliv ery</td>
                                        <td>Total Recei ved</td>
                                        <td>Recei ved</td>
                                        <td>Remain</td>

                                        <td>Qty Căn Sườn</td>
                                        <td>Price</td>

                                        <td>Trans port</td>
                                        <td>Other</td>
                                        <td>Căn Sườn</td>
                                        <td>Weaving</td>
                                        <td>Total</td>
                                    </tr>                                    
                                </table>
                            </div>
                        </div>
                        <div class="avs-table-body">
                            <table>
                                <tbody ng-repeat="item in reportData">
                                    <tr>
                                        <td>
                                            <a ng-if="!item.isShowDetail" href="javascript:void(0)" ng-click="event.getReportDetail(item)"> <i class="fa fa-plus-square-o"></i> Detail</a>
                                            <a ng-if="item.isShowDetail" href="javascript:void(0)" ng-click="event.getReportDetail(item)"> <i class="fa fa-minus-square-o"></i> Detail</a>
                                        </td>
                                        <td style="text-align:center">{{$index + 1}}</td>
                                        <td style="vertical-align:middle">{{item.productionTeamNM}}</td>
                                        <td style="text-align: center; vertical-align:middle">{{item.modelUD}}</td>
                                        <td style="text-align: left; vertical-align:middle;">{{item.modelNM}}</td>
                                        <td style="text-align: center; vertical-align:middle;">{{item.clientUD}}</td>

                                        <td style="vertical-align:middle; text-align:right">{{item.totalDeliveryQnt | number : 0}}</td>
                                        <td style="vertical-align:middle; text-align:right">{{item.totalReceivedQnt  | number : 0}}</td>
                                        <td style="vertical-align:middle; text-align:right">{{item.receivedQnt  | number : 0}}</td>
                                        <td style="vertical-align:middle; text-align:right">{{item.remainReceivedQnt  | number : 0}}</td>
                                        <td style="vertical-align:middle; text-align:right">{{item.deliveryQnt  | number : 0}}</td>
                                        <td style="vertical-align:middle; text-align:right">{{item.canSuonPrice | number : 0}}</td>

                                        <td style="vertical-align:middle; text-align:right">{{item.transportAmount | number:0}}</td>
                                        <td style="vertical-align:middle; text-align:right">{{item.otherAmount | number:0}}</td>
                                        <td style="vertical-align:middle; text-align:right">{{item.canSuonAmount | number:0}}</td>
                                        <td style="vertical-align:middle; text-align:right">{{item.weavingFinishedProductAmount | number:0}}</td>
                                        <td style="vertical-align:middle; text-align:right">{{item.totalQnt | number:0}}</td>
                                    </tr>
                                    <tr ng-if="item.isShowDetail===true" style="background:#feecec">
                                        <td colspan="4"></td>

                                        <td style="text-align: right; vertical-align:middle;">So Phieu</td>

                                        <td colspan="2" style="vertical-align:middle; text-align:center">Ngay</td>
                                        <td style="vertical-align:middle; text-align:center">SL nhap</td>
                                        <td style="vertical-align:middle; text-align:center">Other Pri</td>
                                        <td style="vertical-align:middle; text-align:center">Reason</td>
                                        <td style="vertical-align:middle; text-align:center">Ma Day</td>
                                        <td style="vertical-align:middle; text-align:center">Loai day</td>

                                        <td style="vertical-align:middle; text-align:center">Tranport</td>
                                        <td style="vertical-align:middle; text-align:center">Other</td>
                                        <td style="vertical-align:middle; text-align:center"></td>
                                        <td style="vertical-align:middle; text-align:center">Weaving</td>
                                        <td style="vertical-align:middle; text-align:center">Gia dan</td>
                                    </tr>
                                    <tr ng-if="item.isShowDetail===true" ng-repeat="detailItem in item.reportDataDetailDTOs" style="background:#fcf2f2">
                                        <td colspan="4"></td>
                                        <td style="text-align: right; vertical-align:middle;">{{detailItem.receiptUD}}</td>

                                        <td colspan="2" style="vertical-align:middle; text-align:center">{{detailItem.receiptDate}}</td>
                                        <td style="vertical-align:middle; text-align:right">{{detailItem.receivedQnt}}</td>
                                        <td style="vertical-align:middle; text-align:right">{{detailItem.otherPrice | number : 0 }}</td>
                                        <td style="vertical-align:middle; text-align:right">{{detailItem.reasonOtherPrice}}</td>
                                        <td style="vertical-align:middle; text-align:right">{{detailItem.outsourcingCostTypeUD}}</td>
                                        <td style="vertical-align:middle; text-align:right">{{detailItem.outsourcingCostTypeNM}}</td>

                                        <td style="vertical-align:middle; text-align:right">{{detailItem.receivedQnt * detailItem.transportPrice * detailItem.distanceToFactory | number:0}}</td>
                                        <td style="vertical-align:middle; text-align:right">{{detailItem.receivedQnt * detailItem.otherPrice | number:0}}</td>
                                        <td style="vertical-align:middle; text-align:right"></td>
                                        <td style="vertical-align:middle; text-align:right">{{detailItem.receivedQnt * detailItem.weavingFinishedProductPrice | number:0}}</td>
                                        <td style="vertical-align:middle; text-align:right">{{detailItem.weavingFinishedProductPrice | number:0}}</td>
                                    </tr>
                                </tbody>                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i> Find Data</a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-success" title="Refresh" ng-click="event.gerExcelReport()"><i class="fa fa-download"> Export To ExCel</i></a>
    </li>
</ul>
}

@section pagejs {
    <script src="~/Views/OutsourcingCostRpt/Index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/outsourcing-cost-rpt/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize: @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"],
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
        }
    </script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/OutsourcingCostRpt/Service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}


