@{ 
    Frontend.APIDTO.APIUserInformation userInfo = (Frontend.APIDTO.APIUserInformation)Session[Frontend.Customize.Common.ProjectDefinition.USER_INFO_SESSION];
    string appName = string.Empty;
    if (userInfo.Data.CompanyID == 4)
    {
        appName = "AVTsoft";
    }
    else
    {
        appName = "TilSoft";
    }
}

<header id="header" style="z-index: 10002;">
    <div id="logo-group">
        <h1 class="txt-color-red login-header-big">@appName</h1>
    </div>
    <!-- pulled right: nav area -->
    <div class="pull-right">

        <!-- collapse menu button -->
        <div id="hide-menu" class="btn-header pull-right">
            <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
        </div>
        <!-- end collapse menu -->
        <!-- #MOBILE -->
        <!-- Top menu profile link : this shows only when top menu is active -->
        <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
            <li class="">
                @{
                    if (Session[Frontend.Customize.Common.ProjectDefinition.USER_INFO_SESSION] == null)
                    {
                        Response.Redirect(Url.Action("Login", "Account"));
                        return;
                    }
                }
                <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                    <img src="@userInfo.Data.PersonalPhoto_DisplayUrl" style="width: 50px; height: 50px;" alt="John Doe" class="online" />
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="@Url.Action("LogOff", "Account")" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- help button -->
        <div id="help-guide" class="btn-header pull-right">
            <span> <a href="~/userManual.pdf" target="_blank"><i class="fa fa-info-circle"></i></a> </span>
        </div>
        <!-- end help menu -->
        <!-- logout button -->
        <div id="logout" class="btn-header transparent pull-right">
            <span> <a href="@Url.Action("LogOff", "Account")" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>
        </div>
        <!-- end logout button -->
        <!-- end fullscreen button -->
        <!-- live chat -->
        @if (System.Configuration.ConfigurationManager.AppSettings.AllKeys.Contains("SkypeContact"))
        {
            <div id="chatWithUs" class="btn-header transparent pull-right">
                <span> <a href="skype:@System.Configuration.ConfigurationManager.AppSettings["SkypeContact"].ToString()?chat" title="Skype with us"><i class="fa fa-skype"></i></a> </span>
            </div>
        }
        <!-- end live chat -->
        <!-- input: search field -->
        <div class="header-search pull-right">
            <input id="search-fld" type="text" name="param" placeholder="Find module" />
            <button onclick="return false;">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <!-- end input: search field -->
        <!-- multiple lang dropdown : find all flags in the flags page -->
        <ul class="header-dropdown-list hidden-xs">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Branch: @userInfo.Data.BranchUD </span> <i class="fa fa-angle-down"></i> </a>
                <ul class="dropdown-menu pull-right">
                    @foreach (Frontend.APIDTO.APIBranch dtoBranch in userInfo.Data.Branches)
                    {
                        <li @(dtoBranch.BranchID == userInfo.Data.BranchID ? "class='active'" : "")>
                            <a href="@Url.Action("SwitchBranch", "Account", new { b = dtoBranch.BranchID})">@dtoBranch.BranchUD</a>
                        </li>
                    }
                </ul>
            </li>
        </ul>
        <!-- end multiple lang -->
    </div>
    <!-- end pulled right: nav area -->

</header>
<!-- END HEADER -->