@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create new showroom area";
    }
    else
    {
        ViewBag.Title = "Edit showroom area";
    }

    ViewBag.Module = "Showroom area";
}

<form class="row" name="editForm">
    
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>General</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <div class="row">
                            <section class="col col-2">
                                <label>Area code</label>
                                <input class="form-control" ng-model="data.showroomAreaUD" />
                            </section>
                            <section class="col col-10">
                                <label>Area name</label>
                                <input class="form-control" ng-model="data.showroomAreaNM" />
                            </section>

                            <section class="col col-3">
                                <label class="label">Top left</label>
                                <div class="input-group" style="width: 100%;">
                                    @Html.Partial("~/Views/Shared/_Controls/_ImageBox.cshtml", new Frontend.Models.ImageBoxViewModel() { URLBinding = "topleft_imagedata.showroomAreaThumbnailImage", JSOnChangeHandler = "event.changeTopLeftImage", JSONRemoveHandler = "event.removeTopLeftImage" })
                                </div>
                            </section>

                            <section class="col col-3">
                                <label class="label">Top right</label>
                                <div class="input-group" style="width: 100%;">
                                    @Html.Partial("~/Views/Shared/_Controls/_ImageBox.cshtml", new Frontend.Models.ImageBoxViewModel() { URLBinding = "topright_imagedata.showroomAreaThumbnailImage", JSOnChangeHandler = "event.changeTopRightImage", JSONRemoveHandler = "event.removeTopRightImage" })
                                </div>
                            </section>
                            <section class="col col-3">
                                <label class="label">Bottom left</label>
                                <div class="input-group" style="width: 100%;">
                                    @Html.Partial("~/Views/Shared/_Controls/_ImageBox.cshtml", new Frontend.Models.ImageBoxViewModel() { URLBinding = "bottomleft_imagedata.showroomAreaThumbnailImage", JSOnChangeHandler = "event.changeBottomLeftImage", JSONRemoveHandler = "event.removeBottomLeftImage" })
                                </div>
                            </section>
                            <section class="col col-3">
                                <label class="label">Bottom right</label>
                                <div class="input-group" style="width: 100%;">
                                    @Html.Partial("~/Views/Shared/_Controls/_ImageBox.cshtml", new Frontend.Models.ImageBoxViewModel() { URLBinding = "bottomright_imagedata.showroomAreaThumbnailImage", JSOnChangeHandler = "event.changeBottomRightImage", JSONRemoveHandler = "event.removeBottomRightImage" })
                                </div>
                            </section>
                            <section class="col col-3">
                                <label class="label">Map</label>
                                <div class="input-group" style="width: 100%;">
                                    @Html.Partial("~/Views/Shared/_Controls/_ImageBox.cshtml", new Frontend.Models.ImageBoxViewModel() { URLBinding = "map_imagedata.showroomAreaThumbnailImage", JSOnChangeHandler = "event.changeMapImage", JSONRemoveHandler = "event.removeMapImage" })
                                </div>
                            </section>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "ShowroomArea")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/showroomarea/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
            
        supportService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        supportService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            id: '@ViewBag.ID',
            backUrl: '@Url.Action("Index", "ShowroomArea")',
            refreshUrl: '@Url.Action("Edit", "ShowroomArea", new { id = UrlParameter.Optional })/',
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',  
        }
    </script>
    <script src="~/Angular/app/showroomArea/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="/Views/ShowroomArea/edit.js"></script>
}

