@{
    /**/

    Layout = "~/Views/Shared/_Print.cshtml";
    Frontend.Models.ReportDTO.VPPrintOutDTO data = (Frontend.Models.ReportDTO.VPPrintOutDTO)ViewBag.Data;
    ViewBag.Day = DateTime.Now.Day;
    ViewBag.Month = DateTime.Now.Month;
    ViewBag.Year = DateTime.Now.Year;
    int columns = 0;
    decimal? totalComponentQty = 0;
    decimal? totalMaterialQty = 0;

}
<script type="text/javascript">
    function printMyPage() {
        //Get the print button
        var printButton = document.getElementById("myPrntbtn");
        //Hide the print button
        printButton.style.visibility = 'hidden';
        //Print the page content
        window.print()
        //Show back the print button on web page
        printButton.style.visibility = 'visible';
    }
</script>
<button onclick="printMyPage()" id="myPrntbtn" style="float:right">Print this page</button>
<body style="font-family:'Times New Roman'; font-size:16px" @*onload="window.print()"*@>
    <table style="width:100%; max-width:1000px" @*width="1000"*@ border="0" align="center">
        <tr>
            <td style="vertical-align:bottom; text-align: center" width="800px">
                <label style="font-weight:bold">CỘNG HÒA XÃ HỘI CHỦ NGHĨA ViỆT NAM</label>
                <br />
                <label style="font-weight:bold; font-size:13px">Độc Lập - Tự Do - Hạnh Phúc</label>
                <br />
                <br />
                <label style="font-weight:bold;">BIÊN BẢN GIAO, NHẬN HÀNG TỔ HỢP GIA CÔNG ĐAN</label>
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td style="font-size:14px; width:100%; text-align:right"><strong><i>Số Phiếu:......................</i></strong></td>
        </tr>
    </table>
    <table style="width:100%; max-width:1000px" @*width="1000"*@ border="0" align="center">
        <tr>
            <td style="font-family:'Times New Roman'; font-size:14px;width:85%; max-width:500px"><strong><i>Đại diện Công Ty THHH Vạn Phát.</i></strong></td>
        </tr>
    </table>
    <br />
    <table style="width:100%; max-width:1000px" @*width="1000"*@ border="0" align="center">
        <tr>
            <td style=" font-size:14px;width:10%; max-width:300px"><i></i></td>
            <td style=" font-size:14px;width:40%; max-width:300px"><i>Ông:.........................................................................</i></td>
            <td style=" font-size:14px;width:50%; max-width:300px"><i>Số điện thoại:..................................................</i></td>
        </tr>
        <tr>
            <td style=" font-size:14px;width:10%; max-width:300px"><i></i></td>
            <td style=" font-size:14px;width:40%; max-width:300px"><i>Bà : …Chị O:...........................................................</i></td>
            <td style=" font-size:14px;width:50%; max-width:300px"><i>Số điện thoại:..................................................</i></td>
        </tr>
    </table>
    <br />
    <table style="width:100%; max-width:1000px" @*width="1000"*@ border="0" align="center">
        <tr>
            <td style="font-family:'Times New Roman'; font-size:14px;width:85%; max-width:800px"><strong><i>Đại diện tổ hợp gia công đan.</i></strong></td>
        </tr>
    </table>
    <br />
    <table style="width:100%; max-width:1000px" @*width="1000"*@ border="0" align="center">
        <tr>
            <td style=" font-size:14px;width:10%; max-width:300px"><i></i></td>
            <td style=" font-size:14px;width:40%; max-width:300px"><i>Ông:.........................................................................</i></td>
            <td style=" font-size:14px;width:50%; max-width:300px"><i>Số điện thoại:..................................................</i></td>
        </tr>
        <tr>
            <td style=" font-size:14px;width:10%; max-width:300px"><i></i></td>
            <td style=" font-size:14px;width:40%; max-width:300px"><i>Bà : …Chị O:...........................................................</i></td>
            <td style=" font-size:14px;width:50%; max-width:300px"><i>Số điện thoại:..................................................</i></td>
        </tr>
    </table>
    <br />

    <table style="width:100%; max-width:1000px" @*width="1000"*@ border="0" align="center">
        <tr>
            <td style=" font-size:14px;width:65%; max-width:700px"><strong><i>Thời gian tổ hợp nhận khung và dây :</i></strong></td>
            <td style=" font-size:14px;width:15%; max-width:300px"><i>Ngày:.......................</i></td>
            <td style=" font-size:14px;width:15%; max-width:300px"><i>Tháng:......................</i></td>
            <td style=" font-size:14px;width:15%; max-width:300px"><i>Năm:........................</i></td>
        </tr>
        <tr>
            <td style=" font-size:14px;width:65%; max-width:700px"><strong><i>Thời gian tổ hợp giao hàng thành phẩm :</i></strong></td>
            <td style=" font-size:14px;width:15%; max-width:300px"><i>Ngày:.......................</i></td>
            <td style=" font-size:14px;width:15%; max-width:300px"><i>Tháng:......................</i></td>
            <td style=" font-size:14px;width:15%; max-width:300px"><i>Năm:........................</i></td>
        </tr>
    </table>
    <br />

    <table style="border: 2px solid;border-collapse: collapse; width:100%; max-width:1000px" align="center">
        <tr align="center" style="border: 1px solid; font-size:14px">
            <td style="border: 1px solid; font-weight:bold" width="21">Số TT</td>
            <td style="border: 1px solid; font-weight:bold" width="85">Mã Hàng</td>
            <td style="border: 1px solid; font-weight:bold" width="214">Tên Sản Phẩm</td>
            <td style="border: 1px solid; font-weight:bold" width="56">Khung/ CSR</td>
            <td style="border: 1px solid; font-weight:bold" width="56">Chất Liệu</td>
            <td style="border: 1px solid; font-weight:bold" width="50">DVT</td>
            <td style="border: 1px solid; font-weight:bold" width="40">Số lượng khung</td>
            <td style="border: 1px solid; font-weight:bold" width="40">Định mức dây/SP</td>
            <td style="border: 1px solid; font-weight:bold" width="40">SL dây</td>
            <td style="border: 1px solid; font-weight:bold" width="40">Số cuộn</td>
            <td style="border: 1px solid; font-weight:bold" width="79">Ghi chú</td>
        </tr>
        @foreach (Frontend.Models.ReportDTO.VPDeliveryNoteDetailPrintOutDTO dtoDetail in data.deliveryNoteDetailPrintOutDTOs)
        {
            columns = columns + 1;
            totalComponentQty += dtoDetail.ComponentQty;
            totalMaterialQty += dtoDetail.MaterialQty;

            if (@dtoDetail.PrimaryProduct == 1)
            {
                <tr align="center" style="border: 1px solid; font-family:'Times New Roman'; font-size:12px; background-color:lavender">
                    <td style="border: 1px solid">@columns</td>
                    <td style="border: 1px solid; text-align:left">@dtoDetail.ProductionItemUD</td>
                    <td style="border: 1px solid; text-align:left">@dtoDetail.ProductionItemNM</td>
                    <td style="border: 1px solid; text-align:left">@dtoDetail.ComponentMaterialNM</td>
                    <td style="border: 1px solid; text-align:left">@dtoDetail.ComponentFrameMaterial</td>
                    <td style="border: 1px solid; text-align:center">@dtoDetail.UnitNM</td>
                    <td style="border: 1px solid; text-align:right">@dtoDetail.ComponentQty</td>
                    <td style="border: 1px solid; text-align:right">&nbsp;</td>
                    <td style="border: 1px solid; text-align:right">&nbsp;</td>
                    <td style="border: 1px solid; text-align:right">&nbsp;</td>
                    <td style="border: 1px solid; text-align:left">@dtoDetail.Description</td>
                </tr>
            }
            else
            {
                <tr align="center" style="border: 1px solid; font-family:'Times New Roman'; font-size:12px">
                    <td style="border: 1px solid">@columns</td>
                    <td style="border: 1px solid; text-align:left">@dtoDetail.ProductionItemUD</td>
                    <td style="border: 1px solid; text-align:left">@dtoDetail.ProductionItemNM</td>
                    <td style="border: 1px solid; text-align:left">@dtoDetail.ComponentMaterialNM</td>
                    <td style="border: 1px solid; text-align:left">@dtoDetail.ComponentFrameMaterial</td>
                    <td style="border: 1px solid; text-align:center">@dtoDetail.UnitNM</td>
                    <td style="border: 1px solid; text-align:right">&nbsp;</td>
                    <td style="border: 1px solid; text-align:right">&nbsp;</td>
                    <td style="border: 1px solid; text-align:right">@dtoDetail.MaterialQty</td>
                    <td style="border: 1px solid; text-align:right">&nbsp;</td>
                    <td style="border: 1px solid; text-align:left">@dtoDetail.Description</td>
                </tr>

            }
        }



        <tr align="center">
            <td style="border: 1px solid">&nbsp;</td>
            <td style="border: 1px solid;text-align:left;font-size:14px"><strong>TỔNG CỘNG</strong></td>
            <td style="border: 1px solid">&nbsp;</td>
            <td style="border: 1px solid">&nbsp;</td>
            <td style="border: 1px solid">&nbsp;</td>
            <td style="border: 1px solid;text-align:right"><strong>&nbsp;</strong></td>
            <td style="border: 1px solid" align="right">@totalComponentQty</td>
            <td style="border: 1px solid" align="right"><strong>&nbsp;</strong></td>
            <td style="border: 1px solid" align="right"><strong>@totalMaterialQty</strong></td>
            <td style="border: 1px solid" align="right"><strong>&nbsp;</strong></td>
            <td style="border: 1px solid" align="right"><strong>&nbsp;</strong></td>
        </tr>
    </table>
    <br />
    <table style="width:100%; max-width:1000px" @*width="1000"*@ border="0" align="center">
        <tr>
            <td style="font-family:'Times New Roman'; font-size:14px;width:85%; max-width:500px"><strong><i>QUI ĐỊNH KHI GIAO NHẬN HÀNG GIA CÔNG ĐAN</i></strong></td>
        </tr>
    </table>
    <br />
    <table style="width:100%; max-width:1000px" @*width="1000"*@ border="0" align="center">
        <tr>
            <td style=" font-size:12px;width:85%; max-width:500px"><i>1./ Công Ty Vạn Phát sẽ có trách nhiệm cung cấp hàng hóa cho tổ hợp gia công đan.</i></td>
        </tr>
        <tr>
            <td style=" font-size:12px;width:85%; max-width:500px"><i>2./ Công Ty Vạn Phát cung cấp mẫu sống cho tổ hợp theo chất lượng Công Ty đưa ra.</i></td>
        </tr>
        <tr>
            <td style=" font-size:12px;width:85%; max-width:500px"><i>3./ Công Ty Vạn Phát sẽ thanh toán 100 % cho tổ hợp tiền gia công đan vào ngày 15 và 30 hằng tháng.</i></td>
        </tr>
        <tr>
            <td style=" font-size:12px;width:85%; max-width:500px"><i>4./ Tổ hợp gia công phải có trách nhiệm đan gia công theo chất lượng Công Ty Vạn Phát đưa ra.</i></td>
        </tr>
        <tr>
            <td style=" font-size:12px;width:85%; max-width:500px"><i>5./ Tổ hợp gia công đan phải có trách nhiệm giao hàng đúng với thời gian Công Ty Vạn Phát yêu cầu.</i></td>
        </tr>
        <tr>
            <td style=" font-size:12px;width:85%; max-width:500px"><i>6./ Hàng gia công chất lượng không đạt theo tiêu chuẩn, tổ hợp sẽ có trách nhiệm trực tiếp cử người đến Công Ty để sửa hàng.</i></td>
        </tr>
        <tr>
            <td style=" font-size:12px;width:85%; max-width:500px"><i>7./ Trong trường hợp nếu không có nhân lực về tại Công Ty sửa hàng thì sẽ được khấu trừ vào giá thành sản phẩm.</i></td>
        </tr>
        <tr>
            <td style=" font-size:12px;width:85%; max-width:500px"><i>8./ Hàng gia công giao không đúng thời gian qui định sẽ được khấu trừ vào giá thành sản phẩm.</i></td>
        </tr>
    </table>
    <br />
    <table style="width:100%; max-width:1000px" @*width="1000"*@ border="0" align="center">
        <tr>
            <td style=" font-size:13px;width:85%; max-width:500px"><strong><i>Tất cả nội dung trên sẽ được thỏa thuận và đồng ý chấp nhận giữa Vạn Phát và Tổ Hợp gia công đan.</i></strong></td>
        </tr>
        <tr>
            <td style=" font-size:13px;width:85%; max-width:500px"><strong><i>Biên bản này sẽ được thảo thành 02 bản mỗi bên giữ 01 bản để dễ dàng theo dõi đôn đốc hàng hóa và làm căn cứ </i></strong></td>
        </tr>
        <tr>
            <td style=" font-size:13px;width:85%; max-width:500px"><strong><i>cho việc xử lý sau này.</i></strong></td>
        </tr>
    </table>
    <br />
    <table style="width:100%; max-width:1000px" @*width="1000"*@ border="0" align="center">
        <tr>
            <td style=" font-size:14px;width:24%; max-width:300px"><strong>Xác Nhận</strong></td>
            <td style=" font-size:14px;width:20%; max-width:300px"><strong>Tài xế giao nhận </strong></td>
            <td style=" font-size:14px;width:20%; max-width:300px"><strong>Xác nhận giao dây</strong></td>
            <td style=" font-size:14px;width:28%; max-width:300px"><strong>Xác Nhận Công Ty Vạn Phát.</strong></td>
        </tr>
    </table>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <table style="width:100%; max-width:1000px" @*width="1000"*@ border="0" align="center">
        <tr>
            <td style=" font-size:14px;width:45%; max-width:300px">Liên hệ khi thiếu dây: Trinh 0985.854.278</td>
        </tr>
        <tr>
            <td style=" font-size:14px;width:45%; max-width:300px">Liên hệ về khung, dây...,: Tâm 0969.088.554</td>
        </tr>
    </table>
    <br />
</body>


