@{
    string season = Library.Helper.GetCurrentSeason();
    if (ViewData["season"] != null)
    {
        season = ViewData["season"].ToString();
    }
    string prevSeason = Library.Helper.GetPreviousSeason(season);
    string prePrevSeason = Library.Helper.GetPreviousSeason(prevSeason);
}


<div ng-controller="EurofarCommercialInvoicesController">

    <h2>COMMERCIAL INVOICE BY CLIENT  @season - @prevSeason - @prePrevSeason</h2>
    <div ng-show="miSaleByClientRpt.eCommercialInvoices">
        <div class="tilsoft-table">
            <div class="tilsoft-table-body" style="margin-top:0px">
                <table>
                    <tbody>
                        <tr>
                            <th colspan="4"></th>
                            <th colspan="3" style="font-weight:bold;background-color:#92d678">COMMERCIAL INVOICE @season</th>
                            <th></th>
                            <th colspan="3" style="font-weight:bold;background-color:#a5a4f1">COMMERCIAL INVOICE @prevSeason</th>
                            <th colspan="3" style="font-weight:bold;background-color:#f2e59c">COMMERCIAL INVOICE @prePrevSeason</th>
                            <th></th>
                        </tr>
                        
                        <tr>
                            <th style="font-weight: bold; width: 35px;">#<br />{{miSaleByClientRpt.ciResult.length}}</th>
                            <th style="font-weight: bold;">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('ciByClient', 'clientNM')">
                                    CLIENT NAME
                                    <span ng-show="sortValue.piConfirmedByClient === '-clientNM'" class="fa fa-caret-down"></span>
                                    <span ng-show="sortValue.piConfirmedByClient === 'clientNM'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="font-weight: bold; width: 40px;">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('ciByClient', 'clientCountryUD')">
                                    CO UN TRY
                                    <span ng-show="sortValue.piConfirmedByClient === '-clientCountryUD'" class="fa fa-caret-down"></span>
                                    <span ng-show="sortValue.piConfirmedByClient === 'clientCountryUD'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="font-weight: bold; width: 40px;">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('ciByClient', 'saleUD')">
                                    ACC
                                    <span ng-show="sortValue.piConfirmedByClient === '-saleUD'" class="fa fa-caret-down"></span>
                                    <span ng-show="sortValue.piConfirmedByClient === 'saleUD'" class="fa fa-caret-up"></span>
                                </a>
                            </th>

                            @*this year*@
                            <th style="font-weight: bold; width: 60px;background-color:#92d678">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('ciByClient', 'ciAmountInUSDThisYear')">
                                    % TOTAL AMOUNT
                                    <span ng-show="sortValue.piConfirmedByClient === '-ciAmountInUSDThisYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="sortValue.piConfirmedByClient === 'ciAmountInUSDThisYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="font-weight: bold; width: 60px;background-color:#92d678">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('ciByClient', 'ciContThisYear')">
                                    TOTAL CONT
                                    <span ng-show="sortValue.piConfirmedByClient === '-ciContThisYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="sortValue.piConfirmedByClient === 'ciContThisYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="font-weight: bold; width: 100px;background-color:#92d678">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('ciByClient', 'ciAmountInUSDThisYear')">
                                    TOTAL AMOUNT (EUR)
                                    <span ng-show="sortValue.piConfirmedByClient === '-ciAmountInUSDThisYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="sortValue.piConfirmedByClient === 'ciAmountInUSDThisYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>

                            @*delta current year with last year*@
                            <th style="font-weight: bold; width: 90px;">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('ciByClient', 'ciAmountInUSDThisYear')">
                                    GROWTH BETWEEN @season @prevSeason
                                    <span ng-show="sortValue.piConfirmedByClient === '-ciAmountInUSDThisYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="sortValue.piConfirmedByClient === 'ciAmountInUSDThisYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>

                            @*last year*@
                            <th style="font-weight: bold; width: 60px;background-color:#a5a4f1">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('ciByClient', 'ciAmountInUSDLastYear')">
                                    % TOTAL AMOUNT
                                    <span ng-show="sortValue.piConfirmedByClient === '-ciAmountInUSDLastYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="sortValue.piConfirmedByClient === 'ciAmountInUSDLastYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="font-weight: bold; width: 60px;background-color:#a5a4f1">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('ciByClient', 'ciContLastYear')">
                                    TOTAL CONT
                                    <span ng-show="sortValue.piConfirmedByClient === '-ciContLastYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="sortValue.piConfirmedByClient === 'ciContLastYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="font-weight: bold; width: 100px;background-color:#a5a4f1">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('ciByClient', 'saleUD')">
                                    TOTAL AMOUNT (USD)
                                    <span ng-show="sortValue.piConfirmedByClient === '-ciAmountInUSDLastYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="sortValue.piConfirmedByClient === 'ciAmountInUSDLastYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>

                            @*last last year*@
                            <th style="font-weight: bold; width: 60px;background-color:#f2e59c">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('ciByClient', 'ciAmountInUSDLastLastYear')">
                                    % TOTAL AMOUNT
                                    <span ng-show="sortValue.piConfirmedByClient === '-ciAmountInUSDLastLastYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="sortValue.piConfirmedByClient === 'ciAmountInUSDLastLastYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="font-weight: bold; width: 60px;background-color:#f2e59c">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('ciByClient', 'ciContLastLastYear')">
                                    TOTAL CONT
                                    <span ng-show="sortValue.piConfirmedByClient === '-ciContLastLastYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="sortValue.piConfirmedByClient === 'ciContLastLastYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="font-weight: bold; width: 100px;background-color:#f2e59c">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('ciByClient', 'ciAmountInUSDLastLastYear')">
                                    TOTAL AMOUNT (EUR)
                                    <span ng-show="sortValue.piConfirmedByClient === '-ciAmountInUSDLastLastYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="sortValue.piConfirmedByClient === 'ciAmountInUSDLastLastYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>

                            @*detal last year with last last year*@
                            <th style="font-weight: bold; width: 90px;">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('ciByClient', 'ciAmountInUSDLastLastYear')">
                                    GROWTH BETWEEN @prevSeason @prePrevSeason
                                    <span ng-show="sortValue.piConfirmedByClient === '-ciAmountInUSDLastLastYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="sortValue.piConfirmedByClient === 'ciAmountInUSDLastLastYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                        </tr>
                        
                        <tr>
                            <td colspan="4" style="font-weight: bold;">TOTAL ({{miSaleByClientRpt.eCommercialInvoices.length}} clients)</td>

                            <td style="font-weight: bold;text-align: right;background-color:#92d678">100%</td>
                            <td style="text-align:right; font-weight:bold;background-color:#92d678">{{eurofarInvoiceByClient | sumFunc:'ciContThisYear' | number : 1}}</td>
                            <td style="text-align:right; font-weight:bold;background-color:#92d678">${{eurofarInvoiceByClient | sumFunc:'ciAmountInUSDThisYear' | number : 0}}</td>

                            <td style="text-align:right; font-weight:bold">
                                <span ng-class="{increase: (eurofarInvoiceByClient | sumFunc:'ciAmountInUSDThisYear') > (eurofarInvoiceByClient | sumFunc:'ciAmountInUSDLastYear'), decrease: (eurofarInvoiceByClient | sumFunc:'totalEURAmount') < (eurofarInvoiceByClient | sumFunc:'ciAmountInUSDLastYear')}">
                                    [{{((eurofarInvoiceByClient | sumFunc:'ciAmountInUSDThisYear') / (eurofarInvoiceByClient | sumFunc:'ciAmountInUSDLastYear') - 1) * 100 | number : 0}}%]
                                </span>
                            </td>

                            <td style="font-weight: bold;text-align: right;background-color:#a5a4f1">100%</td>
                            <td style="text-align:right; font-weight:bold;background-color:#a5a4f1">{{eurofarInvoiceByClient | sumFunc:'ciContLastYear' | number : 1}}</td>
                            <td style="text-align:right; font-weight:bold;background-color:#a5a4f1">${{eurofarInvoiceByClient | sumFunc:'ciAmountInUSDLastYear' | number : 0}}</td>

                            <td style="font-weight: bold;text-align: right;background-color:#f2e59c">100%</td>
                            <td style="text-align:right; font-weight:bold;background-color:#f2e59c">{{eurofarInvoiceByClient | sumFunc:'ciContLastLastYear' | number : 1}}</td>
                            <td style="text-align:right; font-weight:bold;background-color:#f2e59c">${{eurofarInvoiceByClient | sumFunc:'ciAmountInUSDLastLastYear' | number : 0}}</td>

                            <td style="text-align:right; font-weight:bold">
                                <span ng-class="{increase: (eurofarInvoiceByClient | sumFunc:'ciAmountInUSDLastYear') > (eurofarInvoiceByClient | sumFunc:'ciAmountInUSDLastLastYear'), decrease: (eurofarInvoiceByClient | sumFunc:'ciAmountInUSDLastYear') < (eurofarInvoiceByClient | sumFunc:'ciAmountInUSDLastLastYear')}">
                                    [{{((eurofarInvoiceByClient | sumFunc:'ciAmountInUSDLastYear') / (eurofarInvoiceByClient | sumFunc:'ciAmountInUSDLastLastYear') - 1) * 100 | number : 0}}%]
                                </span>
                            </td>
                        </tr>
                        
                        <tr>
                            <td></td>
                            <td><input type="text" ng-model="filter.clientNM" class="form-control" style="height:80%" /></td>
                            <td><input type="text" ng-model="filter.clientCountryUD" class="form-control" style="height:80%" /></td>
                            <td><input type="text" ng-model="filter.saleUD" class="form-control" style="height:80%" /></td>
                            <td colspan="11"></td>
                        </tr>
                        
                        <tr ng-repeat="item in ciResult=(miSaleByClientRpt.eCommercialInvoices | orderBy : miSaleByClientRpt.sortValue.ciByClient | filter : {clientNM : miSaleByClientRpt.filter.clientNM, saleUD : miSaleByClientRpt.filter.saleUD})">
                            <td style="text-align: right;">{{$index+1}}</td>
                            <td>{{item.clientNM}}</td>
                            <td style="text-align: center">{{item.clientCountryUD}}</td>
                            <td style="text-align: center">{{item.saleUD}}</td>

                            @*this year*@
                            <td style="text-align: right;background-color:#92d678">{{item.ciAmountInUSDThisYear / (ciResult | sumFunc : 'ciAmountInUSDThisYear') * 100 | number : 1}}%</td>
                            <td style="text-align: right;background-color:#92d678">{{item.ciContThisYear | currency:'':1}}</td>
                            <td style="text-align: right;background-color:#92d678">${{item.ciAmountInUSDThisYear | currency:'':0}}</td>

                            @*delta*@
                            <td style="text-align: right;">
                                <span ng-class="{increase: item.ciAmountInUSDThisYear > item.ciAmountInUSDLastYear, decrease: item.ciAmountInUSDThisYear < item.ciAmountInUSDLastYear}">
                                    [{{(item.ciAmountInUSDThisYear - item.ciAmountInUSDLastYear) * 100 / item.ciAmountInUSDLastYear | number : 0}}%]
                                </span>
                            </td>

                            @*last season*@
                            <td style="text-align: right;background-color:#a5a4f1">{{item.ciAmountInUSDLastYear / (ciResult | sumFunc : 'ciAmountInUSDLastYear') * 100 | number : 1}}%</td>
                            <td style="text-align: right;background-color:#a5a4f1">{{item.ciContLastYear | currency:'':1}}</td>
                            <td style="text-align: right;background-color:#a5a4f1">${{item.ciAmountInUSDLastYear | currency:'':0}}</td>

                            @*last last season*@
                            <td style="text-align: right;background-color:#f2e59c">{{item.ciAmountInUSDLastLastYear / (ciResult | sumFunc : 'ciAmountInUSDLastLastYear') * 100 | number : 1}}%</td>
                            <td style="text-align: right;background-color:#f2e59c">{{item.ciContLastLastYear | currency:'':1}}</td>
                            <td style="text-align: right;background-color:#f2e59c">${{item.ciAmountInUSDLastLastYear | currency:'':0}}</td>

                            @*delta*@
                            <td style="text-align: right;">
                                <span ng-class="{increase: item.ciAmountInUSDLastYear > item.ciAmountInUSDLastLastYear, decrease: item.ciAmountInUSDLastYear < item.ciAmountInUSDLastLastYear}">
                                    [{{(item.ciAmountInUSDLastYear - item.ciAmountInUSDLastLastYear) * 100 / item.ciAmountInUSDLastLastYear | number : 0}}%]
                                </span>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div ng-show="!miSaleByClientRpt.eCommercialInvoices">
        <i class="fa fa-spin fa-refresh"></i> LOADING ...
    </div>
</div>

<script type="text/javascript">
    var miSaleByClientContext = {
        serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/misalebyclient/',
        token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
        param: {
            season: '@season',
        }
    }
</script>

