@{
    string season = Library.Helper.GetCurrentSeason();
    if (ViewData["season"] != null)
    {
        season = ViewData["season"].ToString();
    }
    string prevSeason = Library.Helper.GetPreviousSeason(season);
}

<div ng-controller="PiTotalController">
    <h2>PROFORMA INVOICE BY CLIENT @season COMPARE TO COMMERCIAL INVOICE @prevSeason</h2>
    <div ng-show="miSaleByClientRpt.proformaInvoices">
        <div class="tilsoft-table">
            <div class="tilsoft-table-body" style="margin-top:0px">
                <table>
                    <tbody>
                        <tr>
                            <th colspan="4" style="font-weight:bold"></th>
                            <th colspan="3" style="font-weight:bold;" class="mi-background-current-season">PROFORMA INVOICE (PI)<br />@season</th>
                            <th colspan="3" style="font-weight:bold;" class="mi-margin-current-season">&Delta;6<br />@season</th>
                            <th colspan="3" style="font-weight:bold;" class="mi-background-last-season">COMMERCIAL INVOICE (CI)<br /> @prevSeason</th>
                            <th colspan="3" style="font-weight:bold;" class="mi-margin-last-season">&Delta;6<br /> @prevSeason</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th style="font-weight: bold; width: 35px;">#<br />{{miSaleByClientRpt.proformaInvoices.length}}</th>
                            <th style="font-weight: bold;">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('piByClient', 'clientNM')">
                                    CLIENT NAME
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === '-clientNM'" class="fa fa-caret-down"></span>
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === 'clientNM'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="font-weight: bold; width: 40px;">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('piByClient', 'clientCountryUD')">
                                    CO UN TRY
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === '-clientCountryUD'" class="fa fa-caret-down"></span>
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === 'clientCountryUD'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="font-weight: bold; width: 40px;">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('piByClient', 'saleUD')">
                                    ACC
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === '-saleUD'" class="fa fa-caret-down"></span>
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === 'saleUD'" class="fa fa-caret-up"></span>
                                </a>
                            </th>

                            @*Proforma Invoice This Year*@
                            <th style="font-weight: bold; width: 60px;" class="mi-background-current-season">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('piByClient', 'piContThisYear')">
                                    TOTAL CONT
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === '-piContThisYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === 'piContThisYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="font-weight: bold; width: 100px;" class="mi-background-current-season">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('piByClient', 'piSaleAmountThisYear')">
                                    PI AMOUNT
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === '-piSaleAmountThisYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === 'piConfirmedSaleAmopiSaleAmountThisYearuntThisYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="font-weight: bold; width: 60px;" class="mi-background-current-season">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('piByClient', 'piSaleAmountThisYear')">
                                    %
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === '-piSaleAmountThisYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === 'piSaleAmountThisYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>

                            @*Delta this year*@
                            <th style="font-weight: bold; width: 100px;" class="mi-margin-current-season">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('piByClient', 'piDelta5AmountThisYear')">
                                    &Delta;
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === '-piDelta5AmountThisYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === 'piDelta5AmountThisYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="font-weight: bold; width: 60px;" class="mi-margin-current-season">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('piByClient', 'piDelta5AmountThisYear')">
                                    % OF 100%
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === '-piDelta5AmountThisYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === 'piDelta5AmountThisYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="font-weight: bold; width: 60px;" class="mi-margin-current-season">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('piByClient', 'piDelta5PercentThisYear')">
                                    %&Delta;
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === '-PiDelta5PercentThisYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === 'PiDelta5PercentThisYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>

                            @*Commercial Invoice Last Year*@
                            <th style="font-weight: bold; width: 60px;" class="mi-background-last-season">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('piByClient', 'ciContLastYear')">
                                    TOTAL CONT
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === '-ciContLastYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === 'ciContLastYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="font-weight: bold; width: 100px;" class="mi-background-last-season">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('piByClient', 'ciAmountInUSDLastYear')">
                                    CI AMOUNT
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === '-ciAmountInUSDLastYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === 'ciAmountInUSDLastYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="font-weight: bold; width: 60px;" class="mi-background-last-season">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('piByClient', 'ciAmountInUSDLastYear')">
                                    %
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === '-ciAmountInUSDLastYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === 'ciAmountInUSDLastYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>


                            @*Margin last year*@
                            <th style="font-weight: bold; width: 100px;" class="mi-margin-last-season">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('piByClient', 'piConfirmedDelta5AmountLastYear')">
                                    &Delta;
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === '-piConfirmedDelta5AmountLastYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === 'piConfirmedDelta5AmountLastYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="font-weight: bold; width: 60px;" class="mi-margin-last-season">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('piByClient', 'piConfirmedDelta5AmountLastYear')">
                                    % OF 100%
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === '-piConfirmedDelta5AmountLastYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === 'piConfirmedDelta5AmountLastYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="font-weight: bold; width: 60px;" class="mi-margin-last-season">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('piByClient', 'piConfirmedDelta5PercentLastYear')">
                                    %&Delta;
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === '-piConfirmedDelta5PercentLastYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === 'piConfirmedDelta5PercentLastYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>

                            @*Compare between 2 season*@
                            <th style="font-weight: bold; width: 70px;">
                                <a href="javascript:void(0)" ng-click="method.miSaleByClientRpt.sortData('piByClient', 'deltaPercentWithLastYear')">
                                    GROWTH
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === '-deltaPercentWithLastYear'" class="fa fa-caret-down"></span>
                                    <span ng-show="miSaleByClientRpt.sortValue.piByClient === 'deltaPercentWithLastYear'" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                        </tr>

                        <tr>
                            <th style="text-align:center"></th>
                            <th style="text-align:center">A</th>
                            <th style="text-align:center">B</th>
                            <th style="text-align:center">C</th>

                            <th style="text-align:center" class="mi-background-current-season">D</th>
                            <th style="text-align:center" class="mi-background-current-season">E</th>
                            <th style="text-align:center" class="mi-background-current-season">F</th>

                            <th style="text-align:center" class="mi-margin-current-season">G</th>
                            <th style="text-align:center" class="mi-margin-current-season">H</th>
                            <th style="text-align:center" class="mi-margin-current-season">I</th>

                            <th style="text-align:center" class="mi-background-last-season">J</th>
                            <th style="text-align:center" class="mi-background-last-season">K</th>
                            <th style="text-align:center" class="mi-background-last-season">L</th>

                            <th style="text-align:center" class="mi-margin-last-season">M</th>
                            <th style="text-align:center" class="mi-margin-last-season">N</th>
                            <th style="text-align:center" class="mi-margin-last-season">O</th>

                            <th style="text-align:center">P=<br />(E-K)/K</th>
                        </tr>

                        <tr>
                            <td colspan="4" style="font-weight: bold;">TOTAL ({{piResult.length}} clients)</td>

                            <td style="text-align:right; font-weight:bold" class="mi-background-current-season">{{piResult | sumFunc : 'piContThisYear' | number : 1}}</td>
                            <td style="text-align:right; font-weight:bold;" class="mi-background-current-season">{{piResult | sumFunc : 'piSaleAmountThisYear' | currency:'$':0}}</td>
                            <td style="font-weight: bold;text-align: right;" class="mi-background-current-season">100%</td>

                            <td style="text-align:right; font-weight:bold;" class="mi-margin-current-season">{{piResult | sumFunc : 'piDelta5AmountThisYear' | currency:'$':0}}</td>
                            <td style="font-weight: bold;text-align: right;" class="mi-margin-current-season">100%</td>
                            <td style="text-align:right; font-weight:bold;" class="mi-margin-current-season">{{(piResult | sumFunc : 'piDelta5AmountThisYear') / (piResult | sumFunc : 'piPurchasingAmountThisYear') * 100 | number:1}}%</td>

                            <td style="text-align:right; font-weight:bold" class="mi-background-last-season">{{piResult | sumFunc : 'ciContLastYear' | number : 1}}</td>
                            <td style="text-align:right; font-weight:bold;" class="mi-background-last-season">{{piResult | sumFunc : 'ciAmountInUSDLastYear' | currency:'$':0}}</td>
                            <td style="font-weight: bold;text-align: right;" class="mi-background-last-season">100%</td>

                            <td style="text-align:right; font-weight:bold;" class="mi-margin-last-season">{{piResult | sumFunc : 'piConfirmedDelta5AmountLastYear' | currency:'$':0}}</td>
                            <td style="text-align:right; font-weight:bold;" class="mi-margin-last-season">100%</td>
                            <td style="text-align:right; font-weight:bold;" class="mi-margin-last-season">{{(piResult | sumFunc : 'piConfirmedDelta5AmountLastYear') / (piResult | sumFunc : 'piConfirmedPurchasingAmountLastYear') * 100 | number:0}}%</td>

                            <td style="text-align:right; font-weight:bold"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="text" ng-model="miSaleByClientRpt.filter.clientNM" class="form-control" style="height:80%" /></td>
                            <td><input type="text" ng-model="miSaleByClientRpt.filter.clientCountryUD" class="form-control" style="height:80%" /></td>
                            <td><input type="text" ng-model="miSaleByClientRpt.filter.saleUD" class="form-control" style="height:80%" /></td>
                            <td colspan="13"></td>
                        </tr>
                        <tr ng-repeat="item in piResult = (miSaleByClientRpt.proformaInvoices | orderBy : miSaleByClientRpt.sortValue.piByClient | filter : {clientNM : miSaleByClientRpt.filter.clientNM, clientCountryUD : miSaleByClientRpt.filter.clientCountryUD, saleUD : miSaleByClientRpt.filter.saleUD})">
                            <td style="text-align: right">{{$index+1}}</td>
                            <td>{{item.clientNM}}</td>
                            <td style="text-align: center">{{item.clientCountryUD}}</td>
                            <td style="text-align: center">{{item.saleUD}}</td>

                            <td style="text-align: right;" class="mi-background-current-season">{{item.piContThisYear | currency:'':1}}</td>
                            <td style="text-align: right" class="mi-background-current-season">{{item.piSaleAmountThisYear | currency:'$':0}}</td>
                            <td style="text-align: right;" class="mi-background-current-season">{{item.piSaleAmountThisYear / (piResult | sumFunc : 'piSaleAmountThisYear') * 100 | number : 1}}%</td>

                            <td style="text-align: right;" class="mi-margin-current-season">{{item.piDelta5AmountThisYear | currency:'$':0}}</td>
                            <td style="text-align: right;" class="mi-margin-current-season">{{item.piDelta5AmountThisYear / (piResult | sumFunc : 'piDelta5AmountThisYear') * 100 | number : 1}}%</td>
                            <td style="text-align: right;" class="mi-margin-current-season">{{item.piDelta5PercentThisYear | number : 1}}%</td>

                            <td style="text-align: right;" class="mi-background-last-season">{{item.ciContLastYear | currency:'':1}}</td>
                            <td style="text-align: right;" class="mi-background-last-season">{{item.ciAmountInUSDLastYear | currency:'$':0}}</td>
                            <td style="text-align: right;" class="mi-background-last-season">{{item.ciAmountInUSDLastYear / (piResult | sumFunc : 'ciAmountInUSDLastYear') * 100 | number : 1}}%</td>

                            <td style="text-align: right;" class="mi-margin-last-season">{{item.piConfirmedDelta5AmountLastYear | currency:'$':0}}</td>
                            <td style="text-align: right;" class="mi-margin-last-season">{{item.piConfirmedDelta5AmountLastYear / (piResult | sumFunc : 'piConfirmedDelta5AmountLastYear') * 100 | number:1}}%</td>
                            <td style="text-align: right;" class="mi-margin-last-season">{{item.piConfirmedDelta5PercentLastYear | number:1}}%</td>

                            <td style="text-align: right;">
                                <span ng-class="{increase: item.piSaleAmountThisYear > item.ciAmountInUSDLastYear, decrease: item.piSaleAmountThisYear < item.ciAmountInUSDLastYear}">
                                    [{{(item.piSaleAmountThisYear - item.ciAmountInUSDLastYear) / item.ciAmountInUSDLastYear * 100 | number : 0}}%]
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div ng-show="!miSaleByClientRpt.proformaInvoices">
        <i class="fa fa-spin fa-refresh"></i> LOADING ...
    </div>
</div>

<script type="text/javascript">
    var miSaleByClientContext = {
        serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/misalebyclient/',
        token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
        param: {
            season: '@season',
        }
    }
</script>

