@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];

    ViewBag.Title = (ViewBag.ID == 0) ? "Create Unit" : "Edit Unit";
    ViewBag.SubTitle = (ViewBag.ID == 0) ? "Create" : "Edit";
    ViewBag.Module = "Unit";
}

<form name="editForm" class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>@ViewBag.SubTitle General</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="smart-form">
                        <div class="row">

                            <section class="col col-lg-4">
                                <label class="label">
                                    <strong>Unit UD</strong>
                                    <em class="note note-error" ng-show="editForm.unitUD.$error.required"> (Required)</em>
                                </label>
                                <label class="input" ng-class="{'state-error': editForm.unitUD.$error.required}">
                                    <input type="text" maxlength="3" class="form-control" name="unitUD" ng-model="data.unitUD" required>
                                </label>
                            </section>

                            <section class="col col-lg-4">
                                <label class="label">
                                    <strong>Unit Name</strong>
                                    <em class="note note-error" ng-show="editForm.unitNM.$error.required"> (Required)</em>
                                </label>
                                <label class="input" ng-class="{'state-error': editForm.unitNM.$error.required}">
                                    <input type="text" maxlength="50" class="form-control" name="unitNM" ng-model="data.unitNM" required>
                                </label>
                            </section>

                            <section class="col col-lg-4">
                                <label class="label">
                                    <strong>Unit Type</strong>                                
                                </label>
                                                     
                                <label class="input" >
                                    <select class="form-control" style=" width:100px" ng-model="data.unitTypeID" ng-options="item.id as item.name for item in supportUnitType">
                                        <option value=""></option>                                      
                                    </select>
                                </label>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction{
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "UnitMng")" class="btn btn-default" title="Back">
                <i class="fa fa-arrow-left"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Delete" ng-class="{'disabled': data.unitID == 0}" ng-click="event.deletedata(data.unitID)">
                <i class="fa fa-times"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Save" ng-click="event.updatedata($event)">
                <i class="fa fa-floppy-o"></i>
            </a>
        </li>
    </ul>
}

@section pagejs{
    <script type="text/javascript">
        var context = {
            id: @ViewBag.ID,
            backUrl: '@Url.Action("Index", "UnitMng")',
            refreshUrl: '@Url.Action("Edit", "UnitMng", new { id = UrlParameter.Optional })/',
            serviceUrl: '@(serviceRoot)/api/unitmng/',
            token: '@token',
            msgValid: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED'
        };
    </script>
    <script type="text/javascript" src="~/Angular/app/unitMng/edit.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/unitMng/service.js?v=@guid"></script>
}

