
@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var pageSize = System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();

    ViewBag.Title = "Search Unit";
    ViewBag.Module = "Unit";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget " data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-table"></i>
                </span>
                <h2>Search Result</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body no-padding">
                    <div class="tilsoft-table-wrapper" avs-scroll grid-handler="gridHandler">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 500px">
                                <div style="width: 80px">Found(s)  <font style="color:deeppink; text-transform:none">{{totalRows}}</font></div>
                                <div style="width: 60px">Code</div>
                                <div style="width: 50px">Type</div>
                                <div>Name</div>
                            </div>
                            <div class="tilsoft-table-filter" style="width:500px">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                <div style="width:80px; border-right:1px solid #ccc">
                                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Apply Filter" ng-click="event.reloadpage()"><i class="fa fa-filter"></i></a>
                                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilters()"><i class="fa fa-ban"></i></a>
                                                </div>
                                            </th>
                                            <th>
                                                <div style="width:60px; border-right:1px solid #ccc">
                                                    <input type="text" class="search-filter" ng-model="filters.UnitUD" />
                                                </div>
                                            </th>
                                            <th>
                                                <div style="width:50px; border-right:1px solid #ccc">
                                                </div>
                                            </th>
                                            <th style="width:100%;">
                                                <div>
                                                    <input type="text" class="search-filter" ng-model="filters.UnitNM" />
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tilsoft-table-body" style="width: 500px">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="item in data">
                                            <td style="width: 79px;text-align:center">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "UnitMng")/{{item.unitID}}" title="View (Read Only)" target="_blank" style="width:60px"><i class="fa fa-folder-open"></i> View</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "UnitMng")/{{item.unitID}}" title="Edit" target="_blank" style="width:60px"><i class="fa fa-pencil"></i> Edit</a>
                                                }

                                                <br />

                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                                {
                                                    <a class="btn btn-danger btn-xs font-11" href="#" title="Delete" ng-click="event.deleterow(item.unitID, $index)" style="margin-top:4px; width:60px"><i class="fa fa-times"></i> Del</a>
                                                }
                                            </td>
                                            <td style="width: 60px;text-align:center;">
                                                {{item.unitUD}}
                                            </td>
                                            <td style="width:50px;text-align:center;">
                                                {{item.unitTypeID}}
                                            </td>
                                            <td>
                                                {{item.unitNM}}
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction{
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Search" ng-click="event.reloadpage()">
                <i class="fa fa-search"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Refresh" ng-click="event.clearFilters()">
                <i class="fa fa-refresh"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Edit","UnitMng")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" target="_blank" title="New">
                <i class="fa fa-file-o"></i>
            </a>
        </li>
    </ul>
}

@section pagejs{
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(serviceRoot)/api/unitmng/',
            token: '@token',
            pageSize: '@pageSize',
            cookieID: '@cookieID'
        }
    </script>
    <script type="text/javascript" src="~/Angular/app/unitMng/index.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/unitMng/service.js?v=@guid"></script>
}

