@{
    string title = "Delivery Note product without workorder from warehouse";
    ViewBag.Title = title;
    ViewBag.Module = title;
}
<style>
    .append1 {
        right: 35px !important;
    }

    .append2 {
        right: 5px !important;
    }
</style>
<form class="row" name="editForm">

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>General</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <div class="row">
                            <section class="col col-2">
                                <label>Delivery Note No</label>
                                <input name="deliveryNoteUD" type="text" class="form-control" ng-model="data.deliveryNoteUD" readonly />
                            </section>

                            <section class="col col-lg-2">
                                <label>Delivery Note Date</label>
                                <label class="input">
                                    <input name="deliveryNoteDate" type="text" class="datepicker" ng-model="data.deliveryNoteDate" data-dateformat="dd/mm/yy" readonly />
                                    <i class="icon-append fa fa-calendar"></i>
                                </label>
                            </section>

                            <section class="col col-2">
                                <label>Sale Order No</label>
                                <input name="saleOrderNo" type="text" class="form-control" ng-model="data.saleOrderNo" readonly />
                            </section>

                            <section class="col col-sm-2">
                                <label>Client</label>
                                <span class="form-control">{{data.factoryRawMaterialShortNM}}</span>
                            </section>

                            <section class="col col-2">
                                <label>Updated By</label>
                                <span class="form-control">{{data.updatorName}}</span>
                            </section>
                            <section class="col col-2">
                                <label>Updated Date</label>
                                <span class="form-control">{{data.updatedDate}}</span>
                            </section>

                        </div>

                        <div class="row">
                            <section class="col col-lg-2">
                                <label>Work Center</label>
                                <span class="form-control">{{data.workCenterNM}}</span>
                            </section>

                            <section class="col col-lg-2">
                                <label>To Team</label>
                                <span class="form-control">{{data.toTeam}}</span>
                            </section>

                            <section class="col col-lg-2">
                                <label>Receiver Name</label>
                                <input type="text" class="form-control" ng-model="data.receiverName" readonly />
                            </section>

                            <section class="col col-lg-2">
                                <label>Receiver Address</label>
                                <input type="text" class="form-control" ng-model="data.receiverAddress" readonly />
                            </section>

                            <section class="col col-lg-4">
                                <label>Remark (Reason)</label>
                                <input type="text" class="form-control" ng-model="data.description" readonly />
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-lg-12">
                                <div id="grdDeliveryNoteDetail" class="tilsoft-table-wrapper">
                                    <div class="tilsoft-table">
                                        <div class="tilsoft-table-header" style="width: 1000px;">
                                            <div style="width:600px" class="sorting" data-colname="productionItemNM">Item Name</div>
                                            <div style="width:100px" class="sorting" data-colname="stockQnt">Stock Qnt</div>
                                            <div style="width:90px" class="sorting" data-colname="unitNM">Unit</div>
                                            <div style="width:300px" class="sorting">Ware house</div>
                                            <div style="width:100px" class="sorting" data-colname="factoryWarehousePalletNM">Pallet</div>
                                            <div style="width:80px" class="sorting" data-colname="quantity">Qnt</div>
                                            <div class="sorting" data-colname="description">Remark</div>
                                        </div>

                                        <div class="tilsoft-table-body" style="width: 1000px;height:auto">
                                            <table>
                                                <tbody ng-repeat="item in data.deliveryNoteDetailFormViewDTOs">
                                                    <tr>
                                                        <td style="width:600px;vertical-align:middle">
                                                            <label class="input">
                                                                <input type="text" ng-model="item.productionItemNM" readonly />
                                                            </label>
                                                        </td>
                                                        <td style="width:100px">
                                                            <span class="form-control" style="text-align:right">{{item.stockQnt | number : 2}}</span>
                                                        </td>
                                                        <td style="width:90px;text-align:center;vertical-align:middle">
                                                            <span class="form-control">{{item.unitNM}}</span>
                                                        </td>
                                                        <td style="width:300px">
                                                            <span class="form-control">{{item.factoryWarehouseNM}}</span>
                                                        </td>
                                                        <td style="width:100px">
                                                            <span class="form-control">{{item.factoryWarehousePalletNM}}</span>
                                                        </td>
                                                        <td style="width:80px"><span class="form-control">{{item.qtyByUnit}}</span></td>
                                                        <td style="text-align:left"><span class="form-control">{{item.description}}</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "DeliveryNote2")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
    </ul>
}
@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>

    <script src="~/Views/DeliveryNote2/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/DeliveryNote2/saleOrderWithoutWorkOrderOverview.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>

    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/deliveryNote2/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            id: '@ViewBag.ID',
            backUrl: '@Url.Action("Index", "DeliveryNote2")',
            refreshUrl: '@Url.Action("SaleOrderWithoutWorkOrder", "DeliveryNote2", new { id = UrlParameter.Optional })/',
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',

            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            viewName: 'SaleOrderWithoutWorkOrder'
        };
    </script>

}

