@{
    string title = "Delivery from warehouse to team";
    ViewBag.Title = title;
    ViewBag.Module = title;
}
<style>
    .modal-dialog {
        top: 100px !important
    }

    .append1 {
        right: 35px !important;
    }

    .append2 {
        right: 5px !important;
    }
</style>

<form class="row" name="editForm">

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>General</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <div class="row">
                            <section class="col col-2">
                                <label>Delivery Note No</label>
                                <span class="form-control">{{data.deliveryNoteUD}}</span>
                            </section>

                            <section class="col col-lg-2">
                                <label>Delivery Note Date</label>
                                <span class="form-control">{{data.deliveryNoteDate}}</span>
                            </section>

                            <section class="col col-2">
                                <label>Updated By</label>
                                <span class="form-control">{{data.updatorName}}</span>
                            </section>

                            <section class="col col-2">
                                <label>Updated Date</label>
                                <span class="form-control">{{data.updatedDate}}</span>
                            </section>

                        </div>

                        <div class="row">
                            <section class="col col-lg-2">
                                <label>Work Center</label>
                                <span class="form-control">{{data.workCenterNM}}</span>
                            </section>

                            <section class="col col-lg-2">
                                <label>To Team</label>
                                <span class="form-control">{{data.toTeam}}</span>
                            </section>

                            <section class="col col-lg-2">
                                <label>Receiver Name</label>
                                <input type="text" class="form-control" ng-model="data.receiverName" readonly />
                            </section>

                            <section class="col col-lg-2">
                                <label>Receiver Address</label>
                                <input type="text" class="form-control" ng-model="data.receiverAddress" readonly />
                            </section>

                            <section class="col col-lg-4">
                                <label>Remark (Reason)</label>
                                <input type="text" class="form-control" ng-model="data.description" readonly />
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-lg-12">
                                <div id="grdDeliveryNoteDetail" class="tilsoft-table-wrapper">
                                    <div class="tilsoft-table">
                                        <div class="tilsoft-table-header" style="width: 2000px;">
                                            <div style="width:520px">Item Name</div>
                                            <div style="width:90px">Stock Qnt</div>
                                            <div style="width:90px">Unit</div>
                                            <div style="width:200px">Ware house</div>
                                            <div style="width:90px">Pallet</div>
                                            <div style="width:116px">Work Order</div>
                                            <div style="width:180px">In Component</div>
                                            <div style="width:90px">Norm</div>
                                            <div style="width:90px">Norm Total</div>
                                            <div style="width:90px">Total Delivery</div>
                                            <div style="width:100px">Quantity</div>
                                            <div data-colname="description">Remark</div>
                                        </div>

                                        <div class="tilsoft-table-body" style="width: 2000px;height:auto">
                                            <table id="nl">
                                                <tbody ng-repeat="item in deliveryNoteProducts">
                                                    <tr>
                                                        <td style="width:520px;vertical-align:middle">
                                                            <label class="input">
                                                                <input type="text" ng-model="item.productionItemNM" readonly />
                                                            </label>
                                                        </td>
                                                        <td style="width:90px;text-align:right;vertical-align:middle"><span class="form-control">{{ item.stockQnt | number : 2}}</span></td>
                                                        <td style="width:90px;text-align:center;vertical-align:middle">
                                                            <span class="form-control">{{item.unitNM}}</span>
                                                        </td>
                                                        <td style="width:200px;vertical-align:middle">
                                                            @*<span class="form-control">{{item.factoryWarehouseNM}}</span>*@
                                                            <input type="text" class="form-control" ng-model="item.factoryWarehouseNM" readonly />
                                                        </td>
                                                        <td style="width:90px;vertical-align:middle">
                                                            @*<span class="form-control">{{item.factoryWarehousePalletNM}}</span>*@
                                                            <input type="text" class="form-control" ng-model="item.factoryWarehousePalletNM" readonly />
                                                        </td>
                                                        <td>
                                                            <table>
                                                                <tr ng-repeat="pItem in item.pieces">
                                                                    <td style="width:104px">
                                                                        <input type="text" readonly class="form-control" ng-model="pItem.workOrderUD" style="cursor:pointer;" />
                                                                    </td>
                                                                    <td style="width:180px;">
                                                                        <input type="text" readonly ng-model="pItem.parentProductionItemNM" class="form-control" />
                                                                    </td>
                                                                    <td style="width:90px"><span class="form-control" style="text-align:right">{{pItem.bomQnt | number : 1}}</span></td>
                                                                    <td style="width:90px"><span class="form-control" style="text-align:right">{{pItem.bomQntTotal | number : 1}}</span></td>
                                                                    <td style="width:90px">
                                                                        <span class="form-control" style="text-align:right">{{pItem.totalDelivery | number : 1}}</span>
                                                                    </td>
                                                                    <td style="width:100px">
                                                                        <span class="form-control">{{pItem.qtyByUnit | number : 2}}</span>
                                                                    </td>
                                                                    <td style="text-align:left"><span class="form-control">{{pItem.description}}</span></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "DeliveryNote2")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
    </ul>
}
@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>

    <script src="~/Views/DeliveryNote2/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/DeliveryNote2/warehouse2TeamOverview.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>

    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/deliveryNote2/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            id: '@ViewBag.ID',
            backUrl: '@Url.Action("Index", "DeliveryNote2")',
            refreshUrl: '@Url.Action("Warehouse2Team", "DeliveryNote2", new { id = UrlParameter.Optional })/',
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            reportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',

            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            viewName: 'Warehouse2TeamOverview'
        };
    </script>

}

