@{
    ViewBag.Title = "Model";
    ViewBag.Module = "Model";

    string userManualUrl = string.Empty;
    if (System.IO.File.Exists(Server.MapPath("~/UserManual/" + ViewBag.ModuleCode + ".pdf")))
    {
        userManualUrl = "/UserManual/" + ViewBag.ModuleCode + ".pdf";
    }

}

<style>
    .tilsoft-table-body {
        margin-top: 0px !important;
    }
</style>

<form class="row" name="editForm" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <span> General </span> </a>
                    </li>
                    @*<li>
                        <a data-toggle="tab" href="#tabPiece"> <span> Pieces </span> </a>
                    </li>*@
                    <li>
                        <a data-toggle="tab" href="#tabSparepart"> <span> Sparepart </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabSubMaterial"> <span> Sub Material </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabPackagingMethod"> <span> Packaging </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabCushion"> <span> Cushion </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabFreescanImage"> <i class="fa fa-picture-o"></i> <span> Freescan </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabGardenImage"> <i class="fa fa-picture-o"></i> <span> Garden </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab360Video"><i class="fa fa-film"></i> <span> 360 </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabTestReport"> <span> Test Report </span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="widget-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabGeneral">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">Code</label>
                                            <label class="input">
                                                <span class="form-control">{{data.modelUD}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">Name</label>
                                            <label class="input">
                                                <span class="form-control">{{data.modelNM}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Type</label>
                                            <label class="input">
                                                <span class="form-control">{{data.productTypeNM}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Country</label>
                                            <label class="input">
                                                <span class="form-control">{{data.manufacturerCountryNM}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">Range Name</label>
                                            <label class="input">
                                                <span class="form-control">{{data.rangeName}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Collection</label>
                                            <label class="input">
                                                <span class="form-control">{{data.collection}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Status</label>
                                            <label class="input">
                                                <span class="form-control">{{data.modelStatusNM}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Season</label>
                                            <label class="input">
                                                <span class="form-control">{{data.season}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2" style="display: none;">
                                            <label class="label">Factory</label>
                                            <label class="input">
                                                <span class="form-control">{{data.factoryUD}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Group</label>
                                            <label class="input">
                                                <span class="form-control">{{data.productGroupNM}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Category</label>
                                            <label class="input">
                                                <span class="form-control">{{data.productCategoryNM}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Catalogue Page</label>
                                            <label class="input">
                                                <span class="form-control">{{data.cataloguePageNo}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Net Weight</label>
                                            <label class="input">
                                                <span class="form-control">{{data.netWeight}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">HS Code</label>
                                            <label class="input">
                                                <span class="form-control">{{data.hsCode}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">&nbsp;</label>
                                            <label class="checkbox state-disabled">
                                                <input type="checkbox" ng-model="data.hasCushion" disabled>
                                                <i></i>Cushion Enabled
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">&nbsp;</label>
                                            <label class="checkbox state-disabled">
                                                <input type="checkbox" ng-model="data.hasFrameMaterial" disabled>
                                                <i></i>Frame Enabled
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">&nbsp;</label>
                                            <label class="checkbox state-disabled">
                                                <input type="checkbox" ng-model="data.hasSubMaterial" disabled>
                                                <i></i>Sub Material Enabled
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">&nbsp;</label>
                                            <label class="checkbox state-disabled">
                                                <input type="checkbox" ng-model="data.isExcludedInNotification" disabled>
                                                <i></i> Excluded In Notification
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <div class="input-group" style="width: 100%; height: 200px; border: solid 1px #ddd; background: url('{{data.imageFile_DisplayUrl}}') center center no-repeat; background-size: contain;"></div>
                                        </section>
                                        <div class="col col-6">
                                            <div id="grdPiece" class="tilsoft-table-wrapper">
                                                <div class="tilsoft-table" style="border-bottom: none;">
                                                    <div class="tilsoft-table-body" style="width: 100%; overflow-y: hidden; min-height: 0px; height: auto; margin-top: 0px;">
                                                        <table>
                                                            <tr>
                                                                <th colspan="4">DIMENSION</th>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                                <td><strong>L</strong></td>
                                                                <td><strong>W</strong></td>
                                                                <td><strong>H</strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td>OVERALL</td>
                                                                <td style="text-align: right;">{{data.overallDimL}}</td>
                                                                <td style="text-align: right;">{{data.overallDimW}}</td>
                                                                <td style="text-align: right;">{{data.overallDimH}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>SEAT</td>
                                                                <td style="text-align: right;">{{data.seatDimL}}</td>
                                                                <td style="text-align: right;">{{data.seatDimW}}</td>
                                                                <td style="text-align: right;">{{data.seatDimH}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>ARM</td>
                                                                <td style="text-align: right;">{{data.armDimL}}</td>
                                                                <td style="text-align: right;">{{data.armDimW}}</td>
                                                                <td style="text-align: right;">{{data.armDimH}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>OTHER</td>
                                                                <td>{{data.otherDimL}}</td>
                                                                <td>{{data.otherDimW}}</td>
                                                                <td>{{data.otherDimH}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <section class="col col-6">
                                            <div class="note">
                                                <strong>Create By</strong>
                                                <a ng-show="(data.createdBy != null && data.creatorName2 != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.createdBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i> {{data.creatorName2}}
                                                </a>
                                                <span ng-show="(data.createdBy != null && data.creatorName2 == null && data.creatorName2 != null)"> <i class="fa fa-user"></i> {{data.creatorName2}}</span>
                                                on {{data.createdDate}}
                                            </div>
                                            <div class="note">
                                                <strong>Updated By</strong>
                                                <a ng-show="(data.updatedBy != null && data.updatorName2 != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i> {{data.updatorName2}}
                                                </a>
                                                on {{data.updatedDate}}
                                            </div>
                                        </section>
                                        <section class="col col-6">
                                            <legend style="margin-top: 0px; padding-top: 0px; margin-bottom: 15px;">Pieces</legend>
                                            <fieldset style="padding: 0px; border-top: none;">
                                                <div id="grdPiece" class="tilsoft-table-wrapper">
                                                    <div class="tilsoft-table">
                                                        <div class="tilsoft-table-body" style="width: 100%; overflow-y: auto; height: auto; min-height: 100px; margin-top: 0px;">
                                                            <table>
                                                                <tr>
                                                                    <th>Code</th>
                                                                    @*<th>EAN</th>*@
                                                                    <th>Name</th>
                                                                    <th>Type</th>
                                                                    <th style="width:70px">Quantity</th>
                                                                    <th colspan="3">DIMENSION</th>
                                                                </tr>
                                                                <tr style="background-color:#eeefee">
                                                                    <td style=""></td>
                                                                    @*<td style="">{{item.eanCode}}</td>*@
                                                                    <td style=""></td>
                                                                    <td style=""></td>
                                                                    <td style="width:70px"></td>
                                                                    <td style="width:70px; text-align:center">L</td>
                                                                    <td style="width:70px; text-align:center">W</td>
                                                                    <td style="width:70px; text-align:center">H</td>
                                                                </tr>
                                                                <tr ng-repeat="item in data.pieces">
                                                                    <td style="">{{item.modelUD}}</td>
                                                                    @*<td style="">{{item.eanCode}}</td>*@
                                                                    <td style="">{{item.modelNM}}</td>
                                                                    <td style="">{{item.productTypeNM}}</td>
                                                                    <td style="width:70px; text-align:right">{{item.quantity}}</td>
                                                                    <td style="width:70px; text-align:center">{{item.overallDimL}}</td>
                                                                    <td style="width:70px; text-align:center">{{item.overallDimW}}</td>
                                                                    <td style="width:70px; text-align:center">{{item.overallDimH}}</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        @*<div class="tab-pane" id="tabPiece">
                            <div class="smart-form">
                                <fieldset style="padding: 0px; border-top: none;">
                                    <div id="grdPiece" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-body" style="width: 100%; overflow-y: hidden; height: auto; min-height: 100px;">
                                                <table>
                                                    <tr>
                                                        <th>Code</th>
                                                        <th>Name</th>
                                                        <th>Type</th>
                                                        <th>Quantity</th>
                                                    </tr>
                                                    <tr ng-repeat="item in data.pieces">
                                                        <td style="">{{item.modelUD}}</td>
                                                        <td style="">{{item.modelNM}}</td>
                                                        <td style="">{{item.productTypeNM}}</td>
                                                        <td style="text-align: right;">{{item.quantity}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>*@
                        <div class="tab-pane" id="tabSparepart">
                            <div class="smart-form">
                                <fieldset style="padding: 0px; border-top: none;">
                                    <div id="grdSparepart" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-body" style="width: 100%; overflow-y: hidden; height: auto; min-height: 100px; margin-top:0px">
                                                <table>
                                                    <tr>
                                                        <th style="width: 60px;">Code</th>
                                                        <th>Name</th>
                                                    </tr>
                                                    <tr ng-repeat="item in data.spareparts">
                                                        <td style="text-align: center; width: 60px;">{{item.partUD}}</td>
                                                        <td>{{item.description}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabSubMaterial">
                            <div class="smart-form">
                                <fieldset style="padding: 0px; border-top: none;">
                                    <div id="grdSubMaterial" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-body" style="width: 100%; overflow-y: hidden; height: auto; min-height: 100px;">
                                                <table>
                                                    <tr>
                                                        <th>Confirmed</th>
                                                        <th>Standard</th>
                                                        <th>Season</th>
                                                        <th>Image</th>
                                                        <th>Code</th>
                                                        <th>Name</th>
                                                        <th>Confirmed By</th>
                                                        <th>Confirmed Date</th>
                                                    </tr>
                                                    <tr ng-repeat="item in data.subMaterialOptions | orderBy:'+subMaterialOptionNM'">
                                                        <td style="text-align: center;"><input type="checkbox" ng-model="item.isConfirmed" disabled /></td>
                                                        <td style="text-align: center;"><input type="checkbox" disabled ng-model="item.isStandard" /></td>
                                                        <td style="text-align: center;">{{item.season}}</td>
                                                        <td style="width: 100px; text-align: center; vertical-align: middle;"><img style="width: 95%;" ng-src="{{item.imageFile_DisplayUrl}}" /></td>
                                                        <td style="text-align: center;">{{item.subMaterialOptionUD}}</td>
                                                        <td style="">{{item.subMaterialOptionNM}}</td>
                                                        <td style="text-align: center;">{{item.confirmerName}}</td>
                                                        <td style="text-align: center;">{{item.confirmedDate}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabPackagingMethod">
                            <div class="smart-form">
                                <fieldset style="padding: 0px;">
                                    <div id="grdPackagingMethod" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-body" style="width: 100%; overflow-y: hidden; height: auto; min-height: 100px;">
                                                <table>
                                                    <tr>
                                                        <th rowspan="2">Default</th>
                                                        <th rowspan="2">Method</th>
                                                        <th colspan="3">Carton Box Dimension</th>
                                                        <th colspan="3">Load Ability</th>
                                                        <th rowspan="2">Qnt/Box</th>
                                                        <th rowspan="2">GW</th>
                                                        <th rowspan="2">NW</th>
                                                    </tr>
                                                    <tr>
                                                        <th>L</th>
                                                        <th>W</th>
                                                        <th>H</th>
                                                        <th>20DC</th>
                                                        <th>40DC</th>
                                                        <th style="border-right: solid 1px #ddd;">40HC</th>
                                                    </tr>
                                                    <tr ng-repeat="item in data.packagingMethodOptions">
                                                        <td style="text-align: center;"><input type="checkbox" ng-model="item.isDefault" disabled /></td>
                                                        <td style="">{{item.packagingMethodNM}}</td>
                                                        <td style="width: 60px; text-align: right;">{{item.cartonBoxDimL}}</td>
                                                        <td style="width: 60px; text-align: right;">{{item.cartonBoxDimW}}</td>
                                                        <td style="width: 60px; text-align: right;">{{item.cartonBoxDimH}}</td>
                                                        <td style="width: 60px; text-align: right;">{{item.qnt20DC | currency:'':0}}</td>
                                                        <td style="width: 60px; text-align: right;">{{item.qnt40DC | currency:'':0}}</td>
                                                        <td style="width: 60px; text-align: right;">{{item.qnt40HC | currency:'':0}}</td>
                                                        <td style="text-align: right;">{{item.qntInBox}}</td>
                                                        <td style="text-align: right;">{{item.grossWeight}}</td>
                                                        <td style="text-align: right;">{{item.netWeight}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabCushion">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <legend style="margin-top: 0px; padding-top: 0px; margin-bottom: 15px;">Back cushion</legend>
                                            <div class="row">
                                                <section class="col col-6">
                                                    <label class="label">Stuffing</label>
                                                    <label class="input">
                                                        <span class="form-control">{{data.backCushionStuffing}}</span>
                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">Parts</label>
                                                    <label class="input">
                                                        <span class="form-control">{{data.backCushionParts}}</span>
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="tilsoft-table-wrapper">
                                                <div class="tilsoft-table" style="border-bottom: none;">
                                                    <div class="tilsoft-table-body" style="width: 100%; overflow-y: hidden; height: auto;">
                                                        <table>
                                                            <tr>
                                                                <th colspan="3">DIMENSION</th>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align: center;"><strong>L</strong></td>
                                                                <td style="text-align: center;"><strong>W</strong></td>
                                                                <td style="text-align: center;"><strong>H</strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align: right;">{{data.backCushionDimL}}</td>
                                                                <td style="text-align: right;">{{data.backCushionDimW}}</td>
                                                                <td style="text-align: right;">{{data.backCushionDimH}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </section>

                                        <section class="col col-6">
                                            <legend style="margin-top: 0px; padding-top: 0px; margin-bottom: 15px;">Seat cushion</legend>

                                            <div class="row">
                                                <section class="col col-6">
                                                    <label class="label">Stuffing</label>
                                                    <label class="input">
                                                        <span class="form-control">{{data.seatCushionStuffing}}</span>
                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">Parts</label>
                                                    <label class="input">
                                                        <span class="form-control">{{data.seatCushionParts}}</span>
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="tilsoft-table-wrapper">
                                                <div class="tilsoft-table" style="border-bottom: none;">
                                                    <div class="tilsoft-table-body" style="width: 100%; overflow-y: hidden; min-height: 0px; height: auto;">
                                                        <table>
                                                            <tr>
                                                                <th colspan="3">DIMENSION</th>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align: center;"><strong>L</strong></td>
                                                                <td style="text-align: center;"><strong>W</strong></td>
                                                                <td style="text-align: center;"><strong>H</strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align: right;">{{data.seatCushionDimL}}</td>
                                                                <td style="text-align: right;">{{data.seatCushionDimW}}</td>
                                                                <td style="text-align: right;">{{data.seatCushionDimH}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabFreescanImage">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row" style="margin-top: 15px;">
                                        <div class="float-img-list" ng-repeat="item in data.imageGalleries | filter: {galleryItemTypeID: 1}">
                                            <div style="width: 203px;" class="img-item" title="{{item.articleCode}}">
                                                <img src="{{item.thumbnailLocation}}">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabGardenImage">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row" style="margin-top: 15px;">
                                        <div class="float-img-list" ng-repeat="item in data.imageGalleries | filter: {galleryItemTypeID: 2}">
                                            <div style="width: 203px;" class="img-item" title="{{item.articleCode}}">
                                                <img src="{{item.thumbnailLocation}}">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab360Video">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row" style="margin-top: 15px;">
                                        <div class="float-img-list" ng-repeat="item in data.imageGalleries | filter: {galleryItemTypeID: 3}">
                                            <div style="width: 203px;" class="img-item" title="{{item.articleCode}}">
                                                <video controls width="170" height="170">
                                                    <source ng-src="{{item.fileLocation | trustUrl}}" type="video/mp4">
                                                    Your browser does not support the video tag.
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabTestReport">
                            <div class="smart-form">
                                <div class="widget-body">
                                    <div id="searchResult" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            @*<div class="tilsoft-table-header" style="width: 810px;">
                                                <div style="width: 300px">File</div>
                                                <div style="width: 300px">Remark</div>
                                                <div style="width: 120px" data-colname="UpdatorName">Updated By</div>
                                                <div data-colname="UpdatedDate">Updated Date</div>
                                            </div>*@
                                            <div class="tilsoft-table-body" style="width: 810px;">
                                                <table>
                                                    <tr>
                                                        <th style="width: 300px">File</th>
                                                        <th style="width: 300px">Remark</th>
                                                        <th style="width: 120px">Updated By</th>
                                                        <th>Updated Date</th>
                                                    </tr>
                                                    <tr ng-repeat="item in testReports">
                                                        <td style="width: 300px">
                                                            <a href="{{item.scanFileLocation}}" target="_blank">{{item.friendlyName}}</a>
                                                        </td>
                                                        <td style="width: 300px;">{{item.remark}}</td>
                                                        <td style="width: 120px;text-align: center;">{{item.updatorName}}</td>
                                                        <td style="text-align: center;">{{item.updatedDate}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="@Url.Action("Index", "Model")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0)" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
    </li>
    @if (!string.IsNullOrEmpty(userManualUrl))
    {
        <li class="sparks-info">
            <a target="_blank" href="@userManualUrl" class="btn btn-default" title="Help"><i class="fa fa-info"></i></a>
        </li>
    }
</ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/model/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.supportServiceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        var context = {
            id: @ViewBag.ID,
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            backUrl: '@Url.Action("Index", "Model")',
            refreshUrl: '@Url.Action("Edit", "Model", new { id = UrlParameter.Optional })/',
            backendUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])/Media/Thumbnail/'
        }
    </script>
    <script src="~/Angular/app/model/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/model/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

