@{
    ViewBag.Title = "";

    ViewBag.Module = "Index";
}

<form class="row" name="editForm">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <div class="smart-form">
                <div class="row">
                    <div style="vertical-align:middle">
                        <section class="col col-3">
                            <a class="btn btn-info btn-lg" style=" " href="@Url.Action("InspectionProductivity", "QAQCRpt")">Go To Inspection Productivity <i class="fa fa-arrow-right"></i></a>
                        </section>

                        <section class="col col-3">
                            <a class="btn btn-info btn-lg" style=" " href="@Url.Action("TotalInspectionForFactory", "QAQCRpt")">Go To Total Inspection For Factory <i class="fa fa-arrow-right"></i></a>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    @*<ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i> Find Data</a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-success" title="Refresh" ng-click="event.gerExcelReport()"><i class="fa fa-download"> Export To ExCel</i></a>
        </li>
    </ul>*@
}

@section pagejs {
    <script src="~/Views/QAQCRpt/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/qaqc-rpt/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize: @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"],
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
        }
    </script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/QAQCRpt/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}




