@{
    ViewBag.Title = "Total Inspection For Factory";

    ViewBag.Module = "Total Inspection For Factory";
    ViewBag.Icon = "fa fa-database";
}

<form class="row" name="editForm">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>General</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">

                        <div class="row">
                            <section class="col col-2">
                                <label>
                                    From Date
                                    <em class="note note-error" ng-show="(filters.fromDate == null || filters.fromDate == '')"> (Required)</em>
                                </label>
                                <label class="input-group">
                                    <input avs-calendar class="form-control" type="text" ng-data-source="filters.fromDate" required />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </label>
                            </section>

                            <section class="col col-2">
                                <label>
                                    To Date
                                    <em class="note note-error" ng-show="(filters.toDate == null || filters.toDate == '')"> (Required)</em>
                                </label>
                                <label class="input-group">
                                    <input avs-calendar class="form-control" type="text" ng-data-source="filters.toDate" required />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </label>
                            </section>

                            <section class="col col-2">
                                <label>Factory Code</label>
                                <label class="select">
                                    <select ui-select2 ng-model="filters.factoryID" class="select2">
                                        <option value=""></option>
                                        <option ng-repeat="xxx in support.facories" value="{{xxx.factoryID}}">{{xxx.factoryUD}}</option>
                                    </select>
                                </label>
                            </section>

                            <section class="col col-2">
                                <label>Client Code</label>
                                <label class="select">
                                    <select ui-select2 ng-model="filters.clientID" class="select2">
                                        <option value=""></option>
                                        <option ng-repeat="xxx in support.clients" value="{{xxx.clientID}}">{{xxx.clientUD}}</option>
                                    </select>
                                </label>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

<form class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-client" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-table"></i>
                </span>
                @*<h2>Client Result</h2>*@
            </header>
            <div class="smart-form">
                <div class="widget-body no-padding">
                    <div avs-table grid-handler="gridHandler" class="avs-table-wrapper">
                        <div class="avs-table-header">
                            <div class="avs-table-header-container">
                                <table>
                                    <tr class="header-row" style="height: auto;">
                                        <td style="width: 40px;" rowspan="2">#</td>
                                        <td style="width: 400px;" rowspan="2">DEFECTS NAME</td>
                                        <td style="width: 180px;" rowspan="2">DEFECTS GROUP</td>

                                        <td style="width:180px" colspan="3">
                                            FACE
                                        </td>

                                        <td style="width: 90px;" rowspan="2">TOTAL DEFECTS</td>
                                    </tr>
                                    <tr class="header-row">
                                        <td>A</td>
                                        <td>B</td>
                                        <td>C</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="avs-table-body">
                            <table>
                                <tbody ng-repeat="item in reportData">
                                    <tr style="background-color:darkcyan">
                                        <td style="text-align:center; color:white; font-weight: bold">{{$index + 1}}</td>
                                        <td colspan="6" style="color:white; font-weight: bold">Factory Code: {{item.factoryUD}} - Client Code: {{item.clientUD}}</td>
                                    </tr>

                                    <tr ng-repeat="itemDetail in item.detail">
                                        <td style="text-align:center">{{$parent.$index + 1}}.{{$index + 1}}</td>
                                        <td style="vertical-align:middle">{{itemDetail.defectNM}}</td>
                                        <td style="vertical-align:middle; text-align:center">{{itemDetail.defectGroupNM}}</td>
                                        <td style="vertical-align:middle; text-align:right">{{itemDetail.typeOfDefectA}} {{itemDetail.defectAQty}}</td>
                                        <td style="vertical-align:middle; text-align:right">{{itemDetail.typeOfDefectB}} {{itemDetail.defectBQty}}</td>
                                        <td style="vertical-align:middle; text-align:right">{{itemDetail.typeOfDefectC}} {{itemDetail.defectCQty}}</td>
                                        <td style="vertical-align:middle; text-align:right">{{itemDetail.defectAQty + itemDetail.defectBQty + itemDetail.defectCQty}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.getData()"><i class="fa fa-search"></i> Find Data</a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Views/QAQCRpt/totalInspectionForFactory.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/qaqc-rpt/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize: @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"],
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
        }
    </script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/QAQCRpt/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

