@{
    ViewBag.Title = "Search User";
    ViewBag.Module = "User";
    ViewBag.Icon = "fa-search";

    string userManualUrl = string.Empty;
    if (System.IO.File.Exists(Server.MapPath("~/UserManual/" + ViewBag.ModuleCode + ".pdf")))
    {
        userManualUrl = "/UserManual/" + ViewBag.ModuleCode + ".pdf";
    }
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
                <div class="widget-toolbar">
                    <div class="smart-form">
                        <div class="inline-group">
                            <label class="radio">
                                <input name="isactive" type="radio" ng-model="filters.IsActivated" value="true" ng-change="event.reload()" />
                                <i></i>Active
                            </label>
                            <label class="radio">
                                <input name="isactive" type="radio" ng-model="filters.IsActivated" value="false" ng-change="event.reload()" />
                                <i></i>Not Active
                            </label>
                        </div>
                    </div>
                </div>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="avs-table-wrapper" avs-table grid-handler="gridHandler">
                        <div class="avs-table-header">
                            <div class="avs-table-header-container">
                                <table>
                                    <tr class="header-row">
                                        <td style="width: 80px; font-weight: bold;">Found <font style="color: #a90329;">{{totalRows}}</font></td>
                                        <td style="width: 80px;">Super User</td>
                                        <td style="width: 100px;"><i class="fa fa-file-image-o"></i> Image</td>
                                        <td style="width: 120px;"><i class="fa fa-user"></i> Login Name</td>
                                        <td style="width: 100px;">Full Name</td>
                                        <td style="width: 100px;">First Name</td>
                                        <td style="width: 120px;"><i class="fa fa-phone"></i> Telephone</td>
                                        <td style="width: 120px;"><i class="fa fa-skype"></i> Skype</td>
                                        <td style="width: 200px;"><i class="fa fa-envelope-o"></i> Email</td>
                                        <td style="width: 120px;"><i class="fa fa-building"></i> Company</td>
                                        <td style="width: 100px;">Department</td>
                                        <td style="width: 150px;"><i class="fa fa-briefcase"></i> Job Title</td>
                                        <td style="width: 100px;">Job Level</td>
                                        <td style="width: 200px;">Job Description</td>
                                        <td style="width: 100px;"><i class="fa fa-map-marker"></i> Location</td>
                                        <td style="width: 150px;"><i class="fa fa-users"></i> User Group</td>
                                        <td style="width: 100px;">Office</td>
                                        <td style="width: 300px;"><i class="fa fa-list"></i> More Info</td>
                                    </tr>
                                    <tr class="filter-row">
                                        <td>
                                            <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.reload()"><i class="fa fa-filter"></i></a>
                                            <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilter()"><i class="fa fa-ban"></i></a>
                                        </td>
                                        <td>
                                            <select class="search-filter" ng-model="filters.IsSuperUser">
                                                <option value="any"></option>
                                                <option value="true">YES</option>
                                                <option value="false">NO</option>
                                            </select>
                                        </td>
                                        <td></td>
                                        <td><input class="search-filter" type="text" ng-model="filters.UserName" /></td>
                                        <td><input type="text" ng-model="filters.EmployeeNM" class="search-filter" /></td>
                                        <td><input type="text" ng-model="filters.EmployeeFirstNM" class="search-filter" /></td>
                                        <td><input type="text" ng-model="filters.Telephone" class="search-filter" /></td>
                                        <td><input type="text" ng-model="filters.SkypeID" class="search-filter" /></td>
                                        <td><input type="text" ng-model="filters.Email" class="search-filter" /></td>
                                        <td>
                                            <select class="search-filter" ng-model="filters.CompanyID" ng-options="company.internalCompanyID as company.internalCompanyNM for company in internalCompanies">
                                                <option></option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="search-filter" ng-model="filters.DepartmentID" ng-options="department.internalDepartmentID as department.internalDepartmentNM for department in internalDepartments">
                                                <option></option>
                                            </select>
                                        </td>
                                        <td><input class="search-filter" type="text" ng-model="filters.JobTitle" /></td>
                                        <td>
                                            <select class="search-filter" ng-model="filters.JobLevelID" ng-options="job.jobLevelID as job.jobLevelNM for job in jobLevels">
                                                <option></option>
                                            </select>
                                        </td>
                                        <td></td>
                                        <td>
                                            <select class="search-filter" ng-model="filters.LocationID" ng-options="location.locationID as location.locationNM for location in locations">
                                                <option></option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="search-filter" ng-model="filters.UserGroupID" ng-options="group.userGroupID as group.userGroupNM for group in userGroups">
                                                <option></option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="search-filter" ng-model="filters.OfficeID" ng-options="office.officeID as office.officeNM for office in offices">
                                                <option></option>
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="avs-table-body">
                            <table>
                                <tr ng-repeat="item in data">
                                    <td style="text-align: center; width: 80px;">
                                        <a ng-if="item.isActivated" href="@Url.Action("View", "User2Mng")/{{item.userId}}" target="_blank" class="btn btn-primary btn-xs font-11" style="width: 66px; margin-bottom: 5px;"><i class="fa fa-list-ul"></i>&nbsp;Detail</a>
                                        @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) != "disabled")
                                        {
                                            <a ng-if="item.isActivated" href="javascript:void(0)" class="btn btn-danger btn-xs font-11" style="width: 66px;" ng-click="event.delete(item)"><i class="glyphicon glyphicon-lock"></i>&nbsp;Deactive</a>
                                            <a ng-if="!item.isActivated" class="btn btn-success btn-xs font-11" href="javascript:void(0)" ng-click="event.restore(item.userId)" title="Active This Account" style=" width: 66px;"><i class="glyphicon glyphicon-briefcase"></i>&nbsp;Active</a>
                                        }

                                    </td>
                                    <td style="width: 80px; text-align: center;"><i class="fa fa-check-square-o" ng-if="item.isSuperUser"></i></td>
                                    <td style="width: 100px;">
                                        <a href="{{item.fileLocation}}" data-featherlight="image">
                                            <img style="width: 95%;" ng-src="{{item.thumbnailLocation}}" />
                                        </a>
                                    </td>
                                    <td style="width: 120px;">{{item.userName}}</td>
                                    <td style="width: 100px;">{{item.employeeNM}}</td>
                                    <td style="width: 100px;">{{item.employeeFirstNM}}</td>
                                    <td style="width: 120px;">
                                        <span class="box" ng-if="item.telephone1"><a href="javascript:void(0)">{{item.telephone1}}</a></span>
                                        <span class="box" ng-if="item.telephone2"><a href="javascript:void(0)">{{item.telephone2}}</a></span>
                                    </td>
                                    <td style="width: 120px;">
                                        <a href="skype:{{item.item.skypeID}}:chat" ng-if="item.skypeID">{{item.skypeID}}</a>
                                    </td>
                                    <td style="width: 200px;">
                                        <span class="box"><a href="mailto:{{item.email}}">{{item.email}}</a></span>
                                        <span class="box"><a href="mailto:{{item.email1}}">{{item.email1}}</a></span>
                                        <span class="box"><a href="mailto:{{item.email2}}">{{item.email2}}</a></span>
                                    </td>
                                    <td style="width: 120px;">{{item.internalCompanyNM}}</td>
                                    <td style="width: 100px;">{{item.internalDepartmentNM}}</td>
                                    <td style="width: 150px;">{{item.jobTitle}}</td>
                                    <td style="width: 100px;">{{item.jobLevelNM}}</td>
                                    <td style="width: 200px;"><textarea rows="5" readonly>{{item.jobDescription}}</textarea></td>
                                    <td style="width: 100px;">{{item.locationNM}}</td>
                                    <td style="width: 150px;">{{item.userGroupNM}}</td>
                                    <td style="width: 100px;">{{item.officeNM}}</td>
                                    <td>
                                        <span class="box"><i class="fa fa-trophy"></i> <strong>TILSOFT License from</strong>: {{item.licensedDate}}</span>
                                        <span class="box"><i class="fa fa-certificate"></i> <strong>English</strong>: {{item.english}}</span>
                                        <span class="box"><i class="fa fa-calendar"></i> <strong>Start Date</strong>: {{item.dateStart}}</span>
                                        <span class="box">
                                            <i class="fa fa-paper-plane-o"></i>
                                            <strong>Report To</strong>:
                                            <a ng-if="item.managerID" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.managerID}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                {{item.managerName}}
                                            </a>
                                        </span>
                                        <span class="box"><i class="fa fa-calendar"></i> <strong>DOB</strong>: {{item.dateOfBirth}}</span>
                                        <span class="box"><i class="fa fa-file-word-o"></i> <strong>Resume</strong>: <a ng-if="item.cvFileLocation" target="_blank" href="{{item.cvFileLocation}}">{{item.cvFileName}}</a></span>
                                        <span class="box">
                                            <i class="fa fa-user"></i>
                                            <strong>Updated By</strong>:
                                            <a ng-if="item.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                {{item.updatorName}}
                                            </a>
                                        </span>
                                        <span class="box"><i class="fa fa-calendar"></i> <strong>Updated Date</strong>: {{item.updatedDate}}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
    </li>
    <li class="sparks-info">
        <a href="@Url.Action("Edit", "User2Mng")/0" target="_blank" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
    </li>
    @if (!string.IsNullOrEmpty(userManualUrl))
    {
        <li class="sparks-info">
            <a target="_blank" href="@userManualUrl" class="btn btn-default" title="Help"><i class="fa fa-info"></i></a>
        </li>
    }
</ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl : '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/user2mng/',
            token : '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize : 50,
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
            title: 'user'
        }
    </script>
    <script src="~/Views/User2Mng/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js"></script>
    <script src="~/Views/User2Mng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
