@{
    ViewBag.Title = "User Profile";
    ViewBag.Icon = "fa-user";
    ViewBag.Module = "User Profile";
}

<div class="row tilsoft-profile" id="main-form">
    <div class="col-sm-12">
        <div id="profile-section" class="well well-sm" style="background: #fff;">
            <div class="row">
                <div class="col-sm-12">
                    <div style="background: url('@System.Web.VirtualPathUtility.ToAbsolute("~/img/demo/s1.jpg")') top left no-repeat; height: 150px; background-size: cover;"></div>
                    <div style="position: relative;">
                        <div class="air air-bottom-right" style="margin: 10px; background: rgba(0,0,0,0.5); color: #fff; font-size: 25px; padding: 10px 20px;">
                            <i class="fa fa-briefcase"></i> {{data.internalCompanyNM}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="profile-image">
                                <a href="{{data.fileLocation}}" data-featherlight="image">
                                    <img style="width: 95%;" ng-src="{{data.thumbnailLocation}}" />
                                </a>

                                <a href="#" class="btn btn-success" style="margin-top: 10px; width: 100%;" ng-click="event.profile_openForm()"><i class="fa fa-pencil"></i> Edit</a>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <h1>
                                {{data.employeeNM}} (Calling name: {{data.employeeFirstNM}})
                                <br />
                                <span class="small">{{data.jobTitle}} (Level: {{data.jobLevelNM}})</span>
                            </h1>
                            <div class="row">
                                <div class="col-sm-4">
                                    <ul class="list-unstyled">
                                        <li>
                                            <p class="text-muted">
                                                <i class="fa fa-phone"></i>
                                                <a href="#">{{data.telephone1}}</a>
                                                <br />
                                                <a href="#">{{data.telephone2}}</a>
                                                &nbsp;
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                                <i class="fa fa-envelope"></i>
                                                <a href="mailto:{{data.email1}}">{{data.email1}}</a>
                                                <br />
                                                <a href="mailto:{{data.email2}}">{{data.email2}}</a>
                                                &nbsp;
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                                <i class="fa fa-skype"></i>
                                                <a href="skype:{{data.skypeID}}:chat">{{data.skypeID}}</a>
                                                &nbsp;
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                                <i class="fa fa-calendar-o"></i>
                                                <span class="txt-color-darken">{{data.dateOfBirth}}</span>
                                                &nbsp;
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                                <i class="fa fa-map-marker"></i>
                                                <span class="txt-color-darken">{{data.locationNM}}</span>
                                                &nbsp;
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                                <i class="fa fa-file-word-o"></i>
                                                Resume: <a target="_blank" href="{{data.cvFileLocation}}">{{data.cvFileName}}</a>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-8">
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                            <tr>
                                                <th><i class="fa fa-calendar-o"></i> Joined Date</th>
                                                <td>{{data.dateStart}}</td>
                                            </tr>
                                            <tr>
                                                <th><i class="fa fa-paper-plane-o"></i> Report To</th>
                                                <td>
                                                    <a ng-if="data.reportToID" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.reportToID}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        {{data.managerName}}
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><i class="fa fa-briefcase"></i> Department</th>
                                                <td>{{data.internalDepartmentNM}}</td>
                                            </tr>
                                            <tr>
                                                <th><i class="fa fa-briefcase"></i> Factory</th>
                                                <td>
                                                    <div class="bootstrap-tagsinput" style="border: none; padding: 0px;">
                                                        <span class="tag label label-info" ng-repeat="item in data.employeeFactories">
                                                            {{item.factoryUD}}
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><i class="fa fa-certificate"></i> English</th>
                                                <td>{{data.english}}</td>
                                            </tr>
                                            <tr>
                                                <th><i class="fa fa-gears"></i> TILSOFT Usage</th>
                                                <td>TILSOFT USAGE</td>
                                            </tr>
                                            <tr>
                                                <th><i class="fa fa-gears"></i> TILSOFT Licensed From</th>
                                                <td>{{data.licensedDate}}</td>
                                            </tr>
                                            <tr>
                                                <th><i class="fa fa-random"></i> Other contact method</th>
                                                <td>{{data.otherContactInfo}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="font-md">
                                        <i class="fa fa-suitcase"></i> Job Description
                                    </p>
                                    <p ng-bind-html="dataService.formatRemark(data.jobDescription)"></p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="font-md">
                                        <i class="fa fa-tasks"></i> Daily Task
                                    </p>
                                    <p ng-bind-html="dataService.formatRemark(data.dailyTask)"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="account-section" class="well well-sm" style="background: #fff;">
            <h1>TILSOFT Account</h1>
            <hr />
            <div class="row">
                <div class="col-sm-2">
                    <div class="profile-image" style="top: auto; padding-top: 0px;">
                        <a href="#" class="btn btn-success" style="width: 100%;" ng-click="accountService.openForm()"><i class="fa fa-pencil"></i> Edit</a>
                        <a href="#" class="btn btn-default" style="margin-top: 10px; width: 100%;" ng-click="passwordService.openForm()"><i class="fa fa-lock"></i> Change PW</a>
                        <a href="#" class="btn btn-default" style="margin-top: 10px; width: 100%;" ng-click="passwordService.forceChangePassword()"><i class="fa fa-lock"></i> Force change PW</a>
                        <a href="javascript:void(0)" class="btn btn-default" style="width: 100%; margin-top: 10px;" ng-click="event.generateAPI()"><i class="fa fa-exchange"></i> Generate API</a>
                    </div>
                </div>
                <div class="col-sm-10">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th><i class="fa fa-user"></i> Account</th>
                                <td>{{data.userName}}</td>
                            </tr>
                            <tr>
                                <th><i class="fa fa-exchange"></i> Secrete key</th>
                                <td>{{data.apiKey}}</td>
                            </tr>
                            <tr>
                                <th><i class="fa fa-users"></i> User Group</th>
                                <td>{{data.userGroupNM}}</td>
                            </tr>
                            <tr>
                                <th><i class="fa fa-smile-o"></i> Active </th>
                                <td><i class="fa fa-check-square-o" ng-if="data.isActivated"></i></td>
                            </tr>
                            <tr>
                                <th><i class="fa fa-trophy"></i> Super User </th>
                                <td><i class="fa fa-check-square-o" ng-if="data.isSuperUser"></i></td>
                            </tr>
                            <tr>
                                <th><i class="fa fa-calendar-o"></i> Last Login</th>
                                <td>{{data.lastLoginDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="permission-section" class="well well-sm" style="background: #fff;">
            <h1>Access Permission</h1>
            <hr />
            <div class="row">
                <div class="col-sm-2">
                    <div class="profile-image" style="top: auto; padding-top: 0px;">
                        <a href="#" class="btn btn-success" style="width: 100%;" ng-click="permissionService.openForm()"><i class="fa fa-pencil"></i> Edit</a>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 890px;">
                                <div style="width: 400px;">Module</div>
                                <div style="width: 70px;">Read</div>
                                <div style="width: 70px;">Create</div>
                                <div style="width: 70px;">Update</div>
                                <div style="width: 70px;">Delete</div>
                                <div style="width: 70px;">Print</div>
                                <div style="width: 70px;">Approve</div>
                                <div>Reset</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 890px;">
                                <table>
                                    <tr ng-repeat="item in data.permissions | orderBy: 'displayOrder'" ng-class="{'parent-level':item.parentID == 0}">
                                        <td style="width: 400px;">{{item.displayText}}</td>
                                        <td style="width: 70px; text-align: center;"><i class="fa fa-check-square-o" ng-if="item.canRead"></i></td>
                                        <td style="width: 70px; text-align: center;"><i class="fa fa-check-square-o" ng-if="item.canCreate"></i></td>
                                        <td style="width: 70px; text-align: center;"><i class="fa fa-check-square-o" ng-if="item.canUpdate"></i></td>
                                        <td style="width: 70px; text-align: center;"><i class="fa fa-check-square-o" ng-if="item.canDelete"></i></td>
                                        <td style="width: 70px; text-align: center;"><i class="fa fa-check-square-o" ng-if="item.canPrint"></i></td>
                                        <td style="width: 70px; text-align: center;"><i class="fa fa-check-square-o" ng-if="item.canApprove"></i></td>
                                        <td style="text-align: center;"><i class="fa fa-check-square-o" ng-if="item.canReset"></i></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="factory-access-section" class="well well-sm" style="background: #fff;">
            <h1>Factory Access</h1>
            <hr />
            <div class="row">
                <div class="col-sm-2">
                    <div class="profile-image" style="top: auto; padding-top: 0px;">
                        <a href="#" class="btn btn-success" style="width: 100%;" ng-click="factoryAccessService.openForm()"><i class="fa fa-pencil"></i> Edit</a>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 850px;">
                                <div style="width: 400px;">Factory</div>
                                <div style="width: 70px;">Access</div>
                                <div style="text-align: center;">Receive Notification</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 850px;">
                                <table>
                                    <tr ng-repeat="item in data.factoryAccesses | orderBy: 'factoryUD'">
                                        <td style="width: 400px;">{{item.factoryUD}}</td>
                                        <td style="width: 70px; text-align: center;">
                                            <i class="fa fa-check-square-o" ng-if="item.canAccess"></i>
                                        </td>
                                        <td style="text-align: center;">
                                            <i class="fa fa-check-square-o" ng-if="item.canReceiveNotification"></i>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SWITCH FORM -->
@Html.Partial("~/Views/User2Mng/view/_Profile.cshtml")

<div id="frmAccount" class="row" style="display: none;">
    <form name="frmAccount">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-account-form" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" role="widget">
                <header role="heading">
                    <h2>Edit Account</h2>
                </header>
                <div role="content">
                    <div class="widget-body no-padding">
                        <div class="smart-form">
                            <fieldset>
                                <div class="row">
                                    <section class="col col-6">
                                        <label class="label">Login Name</label>
                                        <label class="input">
                                            <span class="form-control">{{accountService.data.userName}}</span>
                                        </label>
                                    </section>
                                    <section class="col col-4">
                                        <label class="label">Last Login</label>
                                        <label class="input">
                                            <span class="form-control">{{accountService.data.lastLoginDate}}</span>
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-8">
                                        <label class="label">
                                            User Group
                                            <em ng-show="frmAccount.userGroup.$error.required" class="note note-error">(Required)</em>
                                        </label>
                                        <label class="select" ng-class="{'state-error': frmAccount.userGroup.$error.required}">
                                            <select name="userGroup" ng-model="accountService.data.userGroupID" ng-options="group.userGroupID as group.userGroupNM for group in userGroups" required>
                                                <option value=""></option>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="label">&nbsp;</label>
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="accountService.data.isActivated" />
                                            <i></i>Active
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="label">&nbsp;</label>
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="accountService.data.isSuperUser" />
                                            <i></i>Super User
                                        </label>
                                    </section>
                                </div>
                            </fieldset>
                        </div>
                        <div class="widget-footer">
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="accountService.update()"><i class="fa fa-check"></i> Save</a>
                            <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="accountService.closeForm()"><i class="fa fa-times"></i> Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </form>
</div>

<div id="frmPermission" class="row" style="display: none;">
    <form name="frmPermission">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-permission-form" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" role="widget">
                <header role="heading">
                    <h2>Edit Permission</h2>
                </header>
                <div role="content">
                    <div class="widget-body no-padding">
                        <div class="smart-form">
                            <section>
                                <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                                    <div class="tilsoft-table">
                                        <div class="tilsoft-table-header" style="width: 890px;">
                                            <div style="width: 400px;">Module</div>
                                            <div style="width: 70px;">Read</div>
                                            <div style="width: 70px;">Create</div>
                                            <div style="width: 70px;">Update</div>
                                            <div style="width: 70px;">Delete</div>
                                            <div style="width: 70px;">Print</div>
                                            <div style="width: 70px;">Approve</div>
                                            <div>Reset</div>
                                        </div>
                                        <div class="tilsoft-table-body" style="width: 890px;">
                                            <table>
                                                <tr ng-repeat="item in permissionService.data | orderBy: 'displayOrder'" ng-class="{'parent-level':item.parentID == 0}">
                                                    <td style="width: 400px;">{{item.displayText}}</td>
                                                    <td style="width: 70px; text-align: center;">
                                                        <i title="Inherited from the usergroup permission" class="fa fa-check-square-o" ng-if="item.canRead && !item.canReadEditable"></i>
                                                        <label ng-if="item.canReadEditable"><input type="checkbox" ng-model="item.canRead" /></label>
                                                    </td>
                                                    <td style="width: 70px; text-align: center;">
                                                        <i title="Inherited from the usergroup permission" class="fa fa-check-square-o" ng-if="item.canCreate && !item.canCreateEditable"></i>
                                                        <label ng-if="item.canCreateEditable"><input type="checkbox" ng-model="item.canCreate" /></label>
                                                    </td>
                                                    <td style="width: 70px; text-align: center;">
                                                        <i title="Inherited from the usergroup permission" class="fa fa-check-square-o" ng-if="item.canUpdate && !item.canUpdateEditable"></i>
                                                        <label ng-if="item.canUpdateEditable"><input type="checkbox" ng-model="item.canUpdate" /></label>
                                                    </td>
                                                    <td style="width: 70px; text-align: center;">
                                                        <i title="Inherited from the usergroup permission" class="fa fa-check-square-o" ng-if="item.canDelete && !item.canDeleteEditable"></i>
                                                        <label ng-if="item.canDeleteEditable"><input type="checkbox" ng-model="item.canDelete" /></label>
                                                    </td>
                                                    <td style="width: 70px; text-align: center;">
                                                        <i title="Inherited from the usergroup permission" class="fa fa-check-square-o" ng-if="item.canPrint && !item.canPrintEditable"></i>
                                                        <label ng-if="item.canPrintEditable"><input type="checkbox" ng-model="item.canPrint" /></label>
                                                    </td>
                                                    <td style="width: 70px; text-align: center;">
                                                        <i title="Inherited from the usergroup permission" class="fa fa-check-square-o" ng-if="item.canApprove && !item.canApproveEditable"></i>
                                                        <label ng-if="item.canApproveEditable"><input type="checkbox" ng-model="item.canApprove" /></label>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <i title="Inherited from the usergroup permission" class="fa fa-check-square-o" ng-if="item.canReset && !item.canResetEditable"></i>
                                                        <label ng-if="item.canResetEditable"><input type="checkbox" ng-model="item.canReset" /></label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="widget-footer">
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="permissionService.update()"><i class="fa fa-check"></i> Save</a>
                            <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="permissionService.closeForm()"><i class="fa fa-times"></i> Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </form>
</div>

<div id="frmPassword" class="row" style="display: none;">
    <form name="frmPassword">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-permission-form" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" role="widget">
                <header role="heading">
                    <h2>Change Password</h2>
                </header>
                <div role="content">
                    <div class="widget-body no-padding">
                        <div class="smart-form">
                            <fieldset>
                                <div class="row">
                                    <section class="col col-6">
                                        <label class="label">
                                            New Password
                                            <em ng-show="frmPassword.password.$error.required" class="note note-error">(Required)</em>
                                            <em ng-show="frmPassword.password.$error.minlength" class="note note-error">(Password must be at least 7 chars length)</em>
                                        </label>
                                        <label class="input" ng-class="{'state-error': frmPassword.password.$error.required || frmPassword.password.$error.minlength}">
                                            <input type="password" ng-model="passwordService.data.newPassword" name="password" required ng-minlength="7" />
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-6">
                                        <label class="label">
                                            Confirmation
                                            <em ng-show="frmPassword.confirmation.$error.required" class="note note-error">(Required)</em>
                                            <em ng-show="frmPassword.confirmation.$error.minlength" class="note note-error">(Password must be at least 7 chars length)</em>
                                        </label>
                                        <label class="input" ng-class="{'state-error': frmPassword.confirmation.$error.required || frmPassword.confirmation.$error.minlength}">
                                            <input type="password" ng-model="passwordService.data.confirmation" name="confirmation" required ng-minlength="7" />
                                        </label>
                                    </section>
                                </div>
                            </fieldset>
                        </div>
                        <div class="widget-footer">
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="passwordService.update()"><i class="fa fa-check"></i> Save</a>
                            <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="passwordService.closeForm()"><i class="fa fa-times"></i> Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </form>
</div>

<div id="frmFactoryAccess" class="row" style="display: none;">
    <form name="frmFactoryAccess">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-permission-form" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" role="widget">
                <header role="heading">
                    <h2>Edit Factory Access</h2>
                </header>
                <div role="content">
                    <div class="widget-body no-padding">
                        <div class="smart-form">
                            <section>
                                <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                                    <div class="tilsoft-table">
                                        <div class="tilsoft-table-header" style="width: 850px;">
                                            <div style="width: 400px;">
                                                Factory
                                            </div>
                                            <div style="width: 70px;">
                                                Access
                                                <label style="margin-left:11px;border:none"><input type="checkbox" ng-click="factoryAccessService.selectAll(item)" ng-model="factoryAccessService.checkvaluetrue" /></label>
                                            </div>

                                            <div style="text-align:center;">
                                                Receive Notification
                                                <div style="border:none"><input type="checkbox" ng-click="factoryAccessService.selectnotification(item)" ng-model="factoryAccessService.checkvaluetruenotification" style="margin-left:40px;margin-top:-14px;"/></div>
                                            </div>
                                            
                                        </div>
                                        <div class="tilsoft-table-body" style="width: 850px;">
                                            <table>
                                                <tr ng-repeat="item in factoryAccessService.data | orderBy: 'factoryUD'">
                                                    <td style="width: 400px;">{{item.factoryUD}}</td>
                                                    <td style="width: 70px; text-align: center;">
                                                        <label><input type="checkbox" ng-model="item.canAccess" /></label>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <label><input type="checkbox" ng-model="item.canReceiveNotification" /></label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="widget-footer">
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="factoryAccessService.update()"><i class="fa fa-check"></i> Save</a>
                            <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="factoryAccessService.closeForm()"><i class="fa fa-times"></i> Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </form>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "User2Mng")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete()"><i class="fa fa-times"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            id: @ViewBag.ID,
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            backUrl: '@Url.Action("Index", "User2Mng")',
            refreshUrl: '@Url.Action("View", "User2Mng", new { id = UrlParameter.Optional })/',

            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/user2mng/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            supportServiceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/',
            title: 'user'
        };
    </script>
    <script src="~/Views/User2Mng/view.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js"></script>
    <script src="~/Views/User2Mng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/User2Mng/view/profileService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/User2Mng/view/accountService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/User2Mng/view/permissionService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/User2Mng/view/passwordService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/User2Mng/view/factoryAccessService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

