@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Supplier";
    }
    else
    {
        ViewBag.Title = "Edit Supplier";
    }

    ViewBag.Module = "Supplier";
}

<form class="row" name="editForm" id="main-form">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <span> General Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabFactory"> <span> Factories </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabBankAccount"> <span> Bank Account </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabTracking"> <i class="fa fa-history"></i> <span> Tracking </span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="widget-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabGeneral">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">Code</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.supplierUD" required />
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Name</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.supplierNM" required />
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Country</label>
                                            <label class="select">
                                                <select ng-model="data.manufacturerCountryID" ng-options="manufacturerCountry.manufacturerCountryID as manufacturerCountry.manufacturerCountryNM for manufacturerCountry in manufacturerCountries">
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Company</label>
                                            <label class="select">
                                                <select ng-model="data.companyID" ng-options="company.companyID as company.companyNM for company in companies">
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">PIC</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.pic" />
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Telephone</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.telephone" />
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Mobile</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.mobile" />
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Website</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.website" />
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Email</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.email" />
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">Bank Name</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.bankName" />
                                            </label>
                                        </section>
                                        <section class="col col-8">
                                            <label class="label">Bank Address</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.bankAddress" />
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">Bank Account No</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.bankAccountNo" />
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Bank Beneficiary</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.bankBeneficiary" />
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Bank Swift Code</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.bankSwiftCode" />
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">Delivery Term</label>
                                            <label class="select">
                                                <select ng-model="data.deliveryTermID" ng-options="deliveryTerm.deliveryTermID as deliveryTerm.deliveryTermNM for deliveryTerm in deliveryTerms">
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Payment Term</label>
                                            <label class="select">
                                                <select ng-model="data.paymentTermID" ng-options="paymentTerm.paymentTermID as paymentTerm.paymentTermNM for paymentTerm in paymentTerms">
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">FSC Code</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.fscCode" />
                                            </label>
                                        </section>
                                    </div>
                                    <section>
                                        <label class="label">Short Address</label>
                                        <label class="input">
                                            <input type="text" ng-model="data.shortAddress" />
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">Address</label>
                                        <label class="textarea textarea-resizable">
                                            <textarea class="custom-scroll" rows="8" ng-model="data.address"></textarea>
                                        </label>
                                    </section>
                                </fieldset>
                            </div>
                        </div>

                        <div class="tab-pane" id="tabFactory">
                            <div id="grdFactory" class="tilsoft-table-wrapper">
                                <div class="tilsoft-table">
                                    <div class="tilsoft-table-header" style="width: 950px;">
                                        <div style="width: 100px;">Code</div>
                                        <div style="width: 250px;">Name</div>
                                        <div style="width: 150px;">Tax Code</div>
                                        <div style="width: 150px;">City</div>
                                        <div style="width: 150px;">Telephone</div>
                                        <div>Fax</div>
                                    </div>
                                    <div class="tilsoft-table-body" style="width: 950px;">
                                        <table>
                                            <tr ng-repeat="model in data.factories">
                                                <td style="text-align: center; width: 100px;">{{model.factoryUD}}</td>
                                                <td style="width: 250px;">{{model.factoryName}}</td>
                                                <td style="width: 150px; text-align: center;">{{model.taxCode}}</td>
                                                <td style="width: 150px;">{{model.city}}</td>
                                                <td style="width: 150px; text-align: center;">{{model.telephone}}</td>
                                                <td style="text-align: center;">{{model.fax}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-col-12 tab-pane" id="tabBankAccount">
                            <div class="smart-form">
                                <h1>Bank Accounts <a href="javascript:void(0)" class="btn btn-primary btn-xs" ng-click="event.addBankAccount()"><i class="fa fa-plus"></i> Add</a></h1>
                                <br />
                                <hr>
                                <fieldset>
                                    <div class="col-sm-12">
                                        <div class="tilsoft-table-wrapper">
                                            <div class="tilsoft-table">
                                                <div class="tilsoft-table-body" style="margin-top:0px">
                                                    <table>
                                                        <tr>
                                                            <th style="width:40px"></th>
                                                            <th style="text-align:center; width:350px;"><b>Bank Name</b></th>
                                                            <th style="width:250px; text-align:center;"><b>Account</b></th>
                                                            <th style="width:150px; text-align:center;"><b>Bank Code</b></th>
                                                            <th style="text-align:center;"><b>Remark</b></th>
                                                        </tr>
                                                        <tbody>
                                                            <tr ng-repeat="item in data.supplierBanks">
                                                                <td style="vertical-align:middle"><a ng-click="event.removeBankAccount(item)" class="btn btn-danger btn-xs" href="javascript:void(0);"><i class=" fa fa-times"></i>Del</a></td>
                                                                <td>
                                                                    <input type="text" class="form-control" ng-model="item.bankNM" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control" ng-model="item.accountNM" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control" ng-model="item.bankCode" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control" ng-model="item.remark" />
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="tab-pane" id="tabTracking">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Updated By</label>
                                            <label class="input">
                                                <span class="form-control">
                                                    <a ng-if="data.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        <i class="fa fa-user"></i> {{data.updatorName}}
                                                    </a>
                                                </span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Updated Date</label>
                                            <label class="input">
                                                <span class="form-control">{{data.updatedDate}}</span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "Supplier")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Approve"><i class="fa fa-thumbs-o-up"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Reset Approval status"><i class="fa fa-thumbs-o-down"></i></a>
        </li>
    </ul>
}

@section pagejs {

    <script src="~/Angular/app/jsonService.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/supplier/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        var context = {
            id: @ViewBag.ID,
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            backURL: '@Url.Action("Index", "Supplier")',
            refreshURL: '@Url.Action("Edit", "Supplier", new { id = UrlParameter.Optional })/',
        };
    </script>
    <script src="~/Views/Supplier/service.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/Supplier/edit.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

