@{
    ViewBag.Title = "Production Statistics";
    ViewBag.Module = "Production Statistics";

    string workCenterID = "-1";
    string producedDate = "-1";
    if (Request.Params["workCenterID"] != null)
    {
        workCenterID = Request.Params["workCenterID"];
    }
    if (Request.Params["producedDate"] != null)
    {
        producedDate = Request.Params["producedDate"];
    }
}

<form class="row" name="editForm">

    <div ng-show="currentScreen==screen._MAIN">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                <header>
                    <span class="widget-icon">
                        <i class="fa fa-database"></i>
                    </span>
                    <h2>Production Statistics</h2>
                </header>
                <div>
                    <div class="widget-body">
                        <div class="smart-form">
                            <div class="row">
                                <section class="col col-lg-2">
                                    <label>WorkCenter</label>
                                    <span class="form-control">{{data.workCenterNM}}</span>
                                </section>
                                <section class="col col-2">
                                    <label>Produced Date</label>
                                    <span class="form-control">{{data.producedDate}}</span>
                                </section>
                                <section class="col col-2">
                                    <label>Created By</label>
                                    <span class="form-control">{{data.creatorName}}</span>
                                </section>
                                <section class="col col-lg-2">
                                    <label>Created Date</label>
                                    <span class="form-control">{{data.createdDate}}</span>
                                </section>
                                <section class="col col-2">
                                    <label>Updated By</label>
                                    <span class="form-control">{{data.updatorName}}</span>
                                </section>
                                <section class="col col-lg-2">
                                    <label>Updated Date</label>
                                    <span class="form-control">{{data.updatedDate}}</span>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-lg-2">
                                    <label>Worker Qnt</label>
                                    <input type="text" ng-model="data.workerQnt" class="form-control" style="text-align:right" />
                                </section>
                                <section class="col col-10">
                                    <label>Remark</label>
                                    <input type="text" ng-model="data.remark" class="form-control" />
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-lg-12">
                                    <a class="btn btn-primary btn-xs m-bottom-15" ng-click="event.addItem()">Add Item</a>
                                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-header" style="width:1800px">
                                                <div style="width:45px"></div>
                                                <div style="width:120px">WorkOrder</div>
                                                <div style="width:60px">Client</div>
                                                <div style="width:400px">Product</div>
                                                <div style="width:150px">Team</div>
                                                <div style="width:300px">Product Item</div>
                                                <div style="width:200px">Starting Time</div>
                                                <div style="width:200px">Finishing Time</div>
                                                <div style="width:80px">Produced Qnt</div>
                                                <div style="width:80px">Weight</div>
                                                <div>Remark</div>
                                            </div>
                                            <div class="tilsoft-table-body" style="margin-top:0px;width:1800px;">
                                                <table>
                                                    <tbody ng-repeat="pItem in data.productionStatisticsDetailDTOs">
                                                        <tr>
                                                            <td style="width:44px; text-align:right">
                                                                <a ng-click="event.removeItem(pItem)" class="btn btn-danger btn-xs" ng-disabled="pItem.productionStatisticsID>0">Del</a>
                                                            </td>
                                                            <td style="width:120px;">
                                                                {{pItem.rowIndex==1?pItem.workOrderUD :""}}
                                                            </td>
                                                            <td style="width:60px;">{{pItem.clientUD}}</td>
                                                            <td style="width:400px;">
                                                                {{pItem.rowIndex==1?pItem.productUD :""}}
                                                                <br />
                                                                {{pItem.rowIndex==1?pItem.productNM :""}}
                                                            </td>
                                                            <td style="width:150px;">
                                                                {{pItem.rowIndex==1?pItem.productionTeamNM :""}}
                                                            </td>

                                                            <td style="width:300px;">
                                                                {{pItem.productionItemUD}}
                                                                <br />
                                                                {{pItem.productionItemNM}}
                                                            </td>

                                                            <td style="width:200px;">
                                                                @*<label class="input-group">
                                                                    <input type="text" class="form-control" avs-calendar ng-data-source="pItem.startingTime" />
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </span>
                                                                </label>*@

                                                                 <label class='input-group'>
                                                                    <input type='text' class="form-control" avs-date-time ng-model="pItem.startingTime" />
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </span>
                                                                </label>

                                                            </td>
                                                            <td style="width:200px;">
                                                                @*<label class="input-group">
                                                                    <input type="text" class="form-control" avs-calendar ng-data-source="pItem.finishingTime" />
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </span>
                                                                </label>*@

                                                                <label class='input-group'>
                                                                    <input type='text' class="form-control" avs-date-time ng-model="pItem.finishingTime" />
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </span>
                                                                </label>

                                                            </td>
                                                            <td style="width:80px;text-align:right">
                                                                <input type="text" ng-model="pItem.producedQnt" class="form-control" style="text-align:right" />
                                                            </td>
                                                            <td style="width:80px;text-align:right">
                                                                <input type="text" ng-model="pItem.weight" class="form-control" style="text-align:right" />
                                                            </td>
                                                            <td>
                                                                <input class="form-control" ng-model="pItem.remark" />
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div ng-show="currentScreen==screen._ADD_ITEM">
        @Html.Partial("~/Views/ProductionStatisticsMng/_Add_PlanningProductionTeam.cshtml")
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmInitForm" class="modal fade" style="display: none;" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content" style="margin-top:90px !important">
                <div class="modal-header">
                    <h4 id="myModalLabel" class="modal-title">Select info to statistics</h4>
                </div>
                <div class="modal-body smart-form">
                    <div>
                        <div class="widget-body no-padding">
                            <div class="row">
                                <div class="col col-sm-7">
                                    <label>WorkCenter</label>
                                    <select class="form-control" ng-model="initForm.workCenterID" ng-options="item.workCenterID as item.workCenterNM for item in initForm.workCenters">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="col col-sm-5">
                                    <label>Produced Date</label>
                                    @*<label class="input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="initForm.producedDate" name="startDate" />
                                        </label>*@

                                    <label class="input-group">
                                        <input type="text" class="form-control" avs-calendar ng-data-source="initForm.producedDate" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" type="button" ng-click="initForm.cancel()">
                        Cancel
                    </button>
                    <button class="btn btn-primary" type="button" ng-click="initForm.ok()">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>

</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "ProductionStatisticsMng")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update()"><i class="fa fa-save"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Views/ProductionStatisticsMng/Edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/productionstatistics/',
            supportServiceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',

            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            refreshUrl: '@Url.Action("Edit", "ProductionStatisticsMng", new { id = UrlParameter.Optional })/',
            indexUrl: '@Url.Action("Index", "ProductionStatisticsMng")',

            id: @ViewBag.ID,
            workCenterID: @workCenterID,
            producedDate: @producedDate,
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
        }
    </script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/ProductionStatisticsMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
