@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];

    ViewBag.Title = (ViewBag.ID == 0) ? "Create Compliance Certificate Type" : "Edit Compliance Certificate Type";
    ViewBag.SubTitle = (ViewBag.ID == 0) ? "Create" : "Edit";
    ViewBag.Module = "ComplianceCertificateTypeMng";
}

<form name="editForm" class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>@ViewBag.SubTitle General</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="smart-form">
                        <div class="row">

                            <section class="col col-lg-3">
                                <label class="label">
                                    <strong>Compliance Certificate Type Code</strong>
                                    <em class="note note-error" ng-show="editForm.complianceCertificateTypeUD.$error.required"> (Required)</em>
                                </label>
                                <label class="input" ng-class="{'state-error': editForm.complianceCertificateTypeUD.$error.required}" ng-if="item.total==0 || item.total==null">
                                    <input type="text" class="form-control" name="complianceCertificateTypeUD" ng-model="data.complianceCertificateTypeUD">
                                </label>
                                <label class="input" ng-class="{'state-error': editForm.complianceCertificateTypeUD.$error.required}" ng-if="item.total>0">
                                    <input readonly type="text" class="form-control" name="complianceCertificateTypeUD" ng-model="data.complianceCertificateTypeUD">
                                </label>
                            </section>

                            <section class="col col-lg-4">
                                <label class="label">
                                    <strong>Compliance Certificate Type Name</strong>
                                    <em class="note note-error" ng-show="editForm.complianceCertificateTypeNM.$error.required"> (Required)</em>
                                </label>
                                <label class="input" ng-class="{'state-error': editForm.complianceCertificateTypeNM.$error.required}" ng-if="item.total==0 || item.total==null">
                                    <input type="text" class="form-control" name="complianceCertificateTypeNM" ng-model="data.complianceCertificateTypeNM">
                                </label>
                                <label class="input" ng-class="{'state-error': editForm.complianceCertificateTypeNM.$error.required}" ng-if="item.total>0">
                                    <input readonly type="text" class="form-control" name="complianceCertificateTypeNM" ng-model="data.complianceCertificateTypeNM">
                                </label>
                            </section>
                            <section class="col col-lg-2">
                                <label class="label">
                                    <strong>Check Required</strong>
                                    <em class="note note-error" ng-show="editForm.isRequired.$error.required"></em>
                                </label>
                                <input type="checkbox" name="isRequired" ng-model="data.isRequired" ng-if="item.total==0 || item.total==null">
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction{
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "ComplianceCertificateTypeMng")" class="btn btn-default" title="Back">
                <i class="fa fa-arrow-left"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default"ng-if="item.total==0 || item.total==null" title="Delete" ng-class="{'disabled': data.complianceCertificateTypeID == 0}" ng-click="event.deletedata(data.complianceCertificateType)">
                <i class="fa fa-times"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Save" ng-click="event.updatedata($event)">
                <i class="fa fa-floppy-o"></i>
            </a>
        </li>
    </ul>
}

@section pagejs{
    <script type="text/javascript">
        var context = {
            id: @ViewBag.ID,
            backUrl: '@Url.Action("Index", "ComplianceCertificateTypeMng")',
            refreshUrl: '@Url.Action("Edit", "ComplianceCertificateTypeMng", new { id = UrlParameter.Optional })/',
            serviceUrl: '@(serviceRoot)/api/complianceCertificateType/',
            token: '@token',
            msgValid: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED'
        };
    </script>
    <script type="text/javascript" src="~/Views/ComplianceCertificateTypeMng/edit.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/ComplianceCertificateTypeMng/service.js?v=@guid"></script>
}

