@{
    ViewBag.Title = "Warehouse Order Overview";
    ViewBag.Module = "WarehouseOrderOverviewRpt";
}

<form class="row" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Warehouse order overivew</h2>
            </header>
            <div class="smart-form">
                <div class="widget-body">
                    <div class="row">
                        <div class="col col-lg-2">
                            <select class="form-control" ng-model="filters.season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                <option></option>
                            </select>
                        </div>
                        <div class="col col-lg-2">
                            <a class="btn btn-sm btn-primary" ng-click="event.getWarehouseSoldItem(filters.season)">Get Report</a>
                        </div>
                    </div>                                       
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Tìm kiếm" ng-click="event.reload()"><i class="fa fa-search"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Làm mới" ng-click="event.clearFilter()"><i class="fa fa-refresh"></i></a>
    </li>
    <li class="sparks-info">
        <a href="@Url.Action("Edit", "OfferSeasonMng")/0#/init-form" target="_blank" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Tạo mới"><i class="fa fa-file-o"></i></a>
    </li>

</ul>
}
@section pagepopup2{
}

@section pagejs {
    <script src="~/Views/WarehouseOrderOverviewRpt/Index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/warehouse-order-overview/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize: @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"],
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            title: 'Warehouse order overview',
            supportServiceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/',
        }
    </script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/WarehouseOrderOverviewRpt/Service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
