@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New PLC";
    }
    else
    {
        ViewBag.Title = "Edit PLC";
    }

    int bookingId = 0;
    int factoryId = 0;
    int offerLineId = 0;
    int offerLineSparepartId = 0;
    int offerLineSampleProductId = 0;
    if (Request.Params["b"] != null)
    {
        bookingId = Convert.ToInt32(Request.Params["b"]);
    }
    if (Request.Params["f"] != null)
    {
        factoryId = Convert.ToInt32(Request.Params["f"]);
    }
    if (Request.Params["o"] != null && Request.Params["o"] != "")
    {
        offerLineId = Convert.ToInt32(Request.Params["o"]);
    }
    if (Request.Params["ofs"] != null && Request.Params["ofs"] != "")
    {
        offerLineSampleProductId = Convert.ToInt32(Request.Params["ofs"]);
    }
    if (Request.Params["os"] != null)
    {
        offerLineSparepartId = Convert.ToInt32(Request.Params["os"]);
    }

}

<form class="row" name="editForm" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>General Information</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Art.Code</label>
                                    <label class="input">
                                        <span class="form-control">{{data.articleCode}}</span>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Season</label>
                                    <label class="input">
                                        <span class="form-control">{{data.season}}</span>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Cushion batch code</label>
                                    <label class="input">
                                        <input type="text" ng-model="data.cushionBatchCode" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Status</label>
                                    <label class="input">
                                        <span ng-show="data.isConfirmed" class="form-control">CONFIRMED</span>
                                        <span ng-show="!data.isConfirmed" class="form-control">PENDING</span>
                                    </label>
                                </section>
                            </div>
                            <section>
                                <label class="label">Description</label>
                                <label class="input">
                                    <span class="form-control">{{data.description}}</span>
                                </label>
                            </section>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Client</label>
                                    <label class="input">
                                        <span class="form-control">{{data.clientUD}}</span>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Factory</label>
                                    <label class="input">
                                        <span class="form-control">{{data.factoryUD}}</span>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">PI No</label>
                                    <label class="input">
                                        <span class="form-control">{{data.proformaInvoiceNo}}</span>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Factory Order</label>
                                    <label class="input">
                                        <span class="form-control">{{data.factoryOrderUD}}</span>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Loading Plan</label>
                                    <label class="input">
                                        <span class="form-control">{{data.loadingPlanUD}}</span>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Container</label>
                                    <label class="input">
                                        <span class="form-control">{{data.containerNo}}</span>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Booking</label>
                                    <label class="input">
                                        <span class="form-control">{{data.bookingUD}}</span>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">B/L</label>
                                    <label class="input">
                                        <span class="form-control">{{data.blNo}}</span>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">
                                        PAKAGING METHOD
                                    </label>
                                    <label class="input">
                                        <span class="form-control" style="text-align:left"> {{data.packagingMethodNM}}</span>
                                    </label>
                                </section>

                                <section class="col col-1">
                                    <label class="label">
                                        CTNS
                                        @*<em class="note note-error" ng-show="data.pkgs == null || data.pkgs == ''"> (Required)</em>*@
                                    </label>
                                    <label class="input">
                                        <input avs-number ng-data-source="data.pkgs" class="form-control" min="0" style="text-align:left" @*required*@ />
                                    </label>
                                </section>

                                <section class="col col-2">

                                    <label class="label">
                                        NW
                                        @*<em class="note note-error" ng-show="data.netWeight == null || data.netWeight == ''"> (Required)</em>*@
                                    </label>
                                    <label class="input">
                                        <input avs-number ng-data-source="data.netWeight" class="form-control" min="0" ng-decimal="2" style="text-align:left" @*required*@ />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">
                                        GW
                                        @*<em class="note note-error" ng-show="data.grossWeight == null || data.grossWeight == ''"> (Required)</em>*@
                                    </label>
                                    <label class="input">
                                        <input avs-number ng-data-source="data.grossWeight" class="form-control" min="0" ng-decimal="2" style="text-align:left" @*required*@ />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">
                                        CBMS
                                        @*<em class="note note-error" ng-show="data.cbms == null || data.cbms == ''"> (Required)</em>*@
                                    </label>
                                    <label class="input">
                                        <input avs-number ng-data-source="data.cbms" class="form-control" min="0" ng-decimal="6" style="text-align:left" @*required*@ />
                                    </label>
                                </section>

                                <section class="col col-2">
                                    <label class="label">
                                        HS CODE
                                    </label>
                                    <label class="input">
                                        <input ng-model="data.hsCode" class="form-control" style="text-align:left" />
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Rating</label>
                                    <label class="input">
                                        <span class="form-control">{{data.rating}}</span>
                                    </label>
                                </section>
                                <section class="col col-10">
                                    <label class="label">Rating Comment</label>
                                    <label class="input">
                                        <span class="form-control">{{data.ratingComment}}</span>
                                    </label>
                                </section>
                            </div>
                            <section>
                                <div class="note" ng-if="data.updatorName != null || data.updatorName2 != null">
                                    <strong>Updated By</strong>:
                                    <a ng-show="data.updatedBy != null && data.updatorName2 != null" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        {{data.updatorName2}}
                                    </a>
                                    <span ng-show="data.updatedBy != null && data.updatorName2 == null && data.updatorName != null"> {{data.updatorName}}</span>
                                    on {{data.updatedDate}}
                                </div>
                                <div class="note" ng-if="data.ratorName"><strong>Rated By</strong>: {{data.ratorName}} on {{data.ratedDate}}</div>
                                <div class="note" ng-if="data.confirmerName"><strong>Confirmed By</strong>: {{data.confirmerName}} on {{data.confirmedDate}}</div>
                            </section>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-file-image-o"></i>
                </span>
                <h2>Images</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <ul class="nav nav-tabs bordered">
                        <li class="active">
                            <a href="#tabItem" data-toggle="tab">Item</a>
                        </li>
                        <li>
                            <a href="#tabPackaging" data-toggle="tab">Packaging</a>
                        </li>
                        <li>
                            <a href="#tabMaterial" data-toggle="tab">Material</a>
                        </li>
                        <li>
                            <a href="#tabLabeling" data-toggle="tab">Labeling</a>
                        </li>
                        <li>
                            <a href="#tabBackCushion" data-toggle="tab">Back Cushion</a>
                        </li>
                        <li>
                            <a href="#tabSeatCushion" data-toggle="tab">Seat Cushion</a>
                        </li>
                    </ul>
                    <div class="tab-content padding-10">
                        <div class="tab-pane active" id="tabItem">
                            <div class="smart-form">
                               
                                <fieldset>
                                    <section>
                                        <label class="label">Overral Image</label>
                                        <div style="border: solid 1px #ddd;">
                                            <div class="furnindo-gallery-item-2" ng-repeat="item in data.plcImages | filter: {imageTypeID: 15} : true">
                                                <a href="{{item.fileLocation}}" data data-featherlight="image"><img ng-src="{{item.thumbnailLocation}}" /></a>
                                                <a class="btn btn-primary btn-xs font-11 gallery-button" href="javascript:void(0)" title="Edit" style="width: 63px; text-align: left;" ng-click="event.openMoveForm(item)"><i class="fa fa-pencil"></i> Move</a>
                                                <a class="btn btn-danger btn-xs font-11 gallery-button" href="javascript:void(0)" title="Remove" style="top: 35px; width: 63px; text-align: left;" ng-click="event.removeImage(item)"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                            <div class="furnindo-gallery-item-2">
                                                <a href="#" ng-click="event.addImageOverral(15)" ng-if="event.checkOverral()==false" title="Add new image"><img src="~/img/add-img-button.jpg" /></a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </section>
                                    <section>
                                        <label class="label">Item 1</label>
                                        <div style="border: solid 1px #ddd;">
                                            <div class="furnindo-gallery-item-2" ng-repeat="item in data.plcImages | filter: {imageTypeID: 1} : true">
                                                <a href="{{item.fileLocation}}" data data-featherlight="image"><img ng-src="{{item.thumbnailLocation}}" /></a>
                                                <a class="btn btn-primary btn-xs font-11 gallery-button" href="javascript:void(0)" title="Edit" style="width: 63px; text-align: left;" ng-click="event.openMoveForm(item)"><i class="fa fa-pencil"></i> Move</a>
                                                <a class="btn btn-danger btn-xs font-11 gallery-button" href="javascript:void(0)" title="Remove" style="top: 35px; width: 63px; text-align: left;" ng-click="event.removeImage(item)"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                            <div class="furnindo-gallery-item-2">
                                                <a href="#" ng-click="event.addImage(1)" title="Add new image"><img src="~/img/add-img-button.jpg" /></a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </section>
                                    <section>
                                        <label class="label">Item 2</label>
                                        <div style="border: solid 1px #ddd;">
                                            <div class="furnindo-gallery-item-2" ng-repeat="item in data.plcImages | filter: {imageTypeID: 2} : true">
                                                <a href="{{item.fileLocation}}" data data-featherlight="image"><img ng-src="{{item.thumbnailLocation}}" /></a>
                                                <a class="btn btn-primary btn-xs font-11 gallery-button" href="javascript:void(0)" title="Edit" style="width: 63px; text-align: left;" ng-click="event.openMoveForm(item)"><i class="fa fa-pencil"></i> Move</a>
                                                <a class="btn btn-danger btn-xs font-11 gallery-button" href="javascript:void(0)" title="Remove" style="top: 35px; width: 63px; text-align: left;" ng-click="event.removeImage(item)"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                            <div class="furnindo-gallery-item-2">
                                                <a href="#" ng-click="event.addImage(2)" title="Add new image"><img src="~/img/add-img-button.jpg" /></a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </section>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabPackaging">
                            <div class="smart-form">
                                <fieldset>
                                    <section>
                                        <label class="label">Packaging 1</label>
                                        <div style="border: solid 1px #ddd;">
                                            <div class="furnindo-gallery-item-2" ng-repeat="item in data.plcImages | filter: {imageTypeID: 3} : true">
                                                <a href="{{item.fileLocation}}" data data-featherlight="image"><img ng-src="{{item.thumbnailLocation}}" /></a>
                                                <a class="btn btn-primary btn-xs font-11 gallery-button" href="javascript:void(0)" title="Edit" style="width: 63px; text-align: left;" ng-click="event.openMoveForm(item)"><i class="fa fa-pencil"></i> Move</a>
                                                <a class="btn btn-danger btn-xs font-11 gallery-button" href="javascript:void(0)" title="Remove" style="top: 35px; width: 63px; text-align: left;" ng-click="event.removeImage(item)"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                            <div class="furnindo-gallery-item-2">
                                                <a href="#" ng-click="event.addImage(3)" title="Add new image"><img src="~/img/add-img-button.jpg" /></a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </section>
                                    <section>
                                        <label class="label">Packaging 2</label>
                                        <div style="border: solid 1px #ddd;">
                                            <div class="furnindo-gallery-item-2" ng-repeat="item in data.plcImages | filter: {imageTypeID: 4} : true">
                                                <a href="{{item.fileLocation}}" data data-featherlight="image"><img ng-src="{{item.thumbnailLocation}}" /></a>
                                                <a class="btn btn-primary btn-xs font-11 gallery-button" href="javascript:void(0)" title="Edit" style="width: 63px; text-align: left;" ng-click="event.openMoveForm(item)"><i class="fa fa-pencil"></i> Move</a>
                                                <a class="btn btn-danger btn-xs font-11 gallery-button" href="javascript:void(0)" title="Remove" style="top: 35px; width: 63px; text-align: left;" ng-click="event.removeImage(item)"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                            <div class="furnindo-gallery-item-2">
                                                <a href="#" ng-click="event.addImage(4)" title="Add new image"><img src="~/img/add-img-button.jpg" /></a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </section>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabMaterial">
                            <div class="smart-form">
                                <fieldset>
                                    <section>
                                        <label class="label">Material 1</label>
                                        <div style="border: solid 1px #ddd;">
                                            <div class="furnindo-gallery-item-2" ng-repeat="item in data.plcImages | filter: {imageTypeID: 5} : true">
                                                <a href="{{item.fileLocation}}" data data-featherlight="image"><img ng-src="{{item.thumbnailLocation}}" /></a>
                                                <a class="btn btn-primary btn-xs font-11 gallery-button" href="javascript:void(0)" title="Edit" style="width: 63px; text-align: left;" ng-click="event.openMoveForm(item)"><i class="fa fa-pencil"></i> Move</a>
                                                <a class="btn btn-danger btn-xs font-11 gallery-button" href="javascript:void(0)" title="Remove" style="top: 35px; width: 63px; text-align: left;" ng-click="event.removeImage(item)"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                            <div class="furnindo-gallery-item-2">
                                                <a href="#" ng-click="event.addImage(5)" title="Add new image"><img src="~/img/add-img-button.jpg" /></a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </section>
                                    <section>
                                        <label class="label">Material 2</label>
                                        <div style="border: solid 1px #ddd;">
                                            <div class="furnindo-gallery-item-2" ng-repeat="item in data.plcImages | filter: {imageTypeID: 6} : true">
                                                <a href="{{item.fileLocation}}" data data-featherlight="image"><img ng-src="{{item.thumbnailLocation}}" /></a>
                                                <a class="btn btn-primary btn-xs font-11 gallery-button" href="javascript:void(0)" title="Edit" style="width: 63px; text-align: left;" ng-click="event.openMoveForm(item)"><i class="fa fa-pencil"></i> Move</a>
                                                <a class="btn btn-danger btn-xs font-11 gallery-button" href="javascript:void(0)" title="Remove" style="top: 35px; width: 63px; text-align: left;" ng-click="event.removeImage(item)"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                            <div class="furnindo-gallery-item-2">
                                                <a href="#" ng-click="event.addImage(6)" title="Add new image"><img src="~/img/add-img-button.jpg" /></a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </section>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabLabeling">
                            <div class="smart-form">
                                <fieldset>
                                    <section>
                                        <label class="label">Labeling 1</label>
                                        <div style="border: solid 1px #ddd;">
                                            <div class="furnindo-gallery-item-2" ng-repeat="item in data.plcImages | filter: {imageTypeID: 7} : true">
                                                <a href="{{item.fileLocation}}" data data-featherlight="image"><img ng-src="{{item.thumbnailLocation}}" /></a>
                                                <a class="btn btn-primary btn-xs font-11 gallery-button" href="javascript:void(0)" title="Edit" style="width: 63px; text-align: left;" ng-click="event.openMoveForm(item)"><i class="fa fa-pencil"></i> Move</a>
                                                <a class="btn btn-danger btn-xs font-11 gallery-button" href="javascript:void(0)" title="Remove" style="top: 35px; width: 63px; text-align: left;" ng-click="event.removeImage(item)"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                            <div class="furnindo-gallery-item-2">
                                                <a href="#" ng-click="event.addImage(7)" title="Add new image"><img src="~/img/add-img-button.jpg" /></a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </section>
                                    <section>
                                        <label class="label">Labeling 2</label>
                                        <div style="border: solid 1px #ddd;">
                                            <div class="furnindo-gallery-item-2" ng-repeat="item in data.plcImages | filter: {imageTypeID: 8} : true">
                                                <a href="{{item.fileLocation}}" data data-featherlight="image"><img ng-src="{{item.thumbnailLocation}}" /></a>
                                                <a class="btn btn-primary btn-xs font-11 gallery-button" href="javascript:void(0)" title="Edit" style="width: 63px; text-align: left;" ng-click="event.openMoveForm(item)"><i class="fa fa-pencil"></i> Move</a>
                                                <a class="btn btn-danger btn-xs font-11 gallery-button" href="javascript:void(0)" title="Remove" style="top: 35px; width: 63px; text-align: left;" ng-click="event.removeImage(item)"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                            <div class="furnindo-gallery-item-2">
                                                <a href="#" ng-click="event.addImage(8)" title="Add new image"><img src="~/img/add-img-button.jpg" /></a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </section>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabBackCushion">
                            <div class="smart-form">
                                <fieldset>
                                    <section>
                                        <label class="label">Back Cushion 1</label>
                                        <div style="border: solid 1px #ddd;">
                                            <div class="furnindo-gallery-item-2" ng-repeat="item in data.plcImages | filter: {imageTypeID: 9} : true">
                                                <a href="{{item.fileLocation}}" data data-featherlight="image"><img ng-src="{{item.thumbnailLocation}}" /></a>
                                                <a class="btn btn-primary btn-xs font-11 gallery-button" href="javascript:void(0)" title="Edit" style="width: 63px; text-align: left;" ng-click="event.openMoveForm(item)"><i class="fa fa-pencil"></i> Move</a>
                                                <a class="btn btn-danger btn-xs font-11 gallery-button" href="javascript:void(0)" title="Remove" style="top: 35px; width: 63px; text-align: left;" ng-click="event.removeImage(item)"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                            <div class="furnindo-gallery-item-2">
                                                <a href="#" ng-click="event.addImage(9)" title="Add new image"><img src="~/img/add-img-button.jpg" /></a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </section>
                                    <section>
                                        <label class="label">Back Cushion 2</label>
                                        <div style="border: solid 1px #ddd;">
                                            <div class="furnindo-gallery-item-2" ng-repeat="item in data.plcImages | filter: {imageTypeID: 10} : true">
                                                <a href="{{item.fileLocation}}" data data-featherlight="image"><img ng-src="{{item.thumbnailLocation}}" /></a>
                                                <a class="btn btn-primary btn-xs font-11 gallery-button" href="javascript:void(0)" title="Edit" style="width: 63px; text-align: left;" ng-click="event.openMoveForm(item)"><i class="fa fa-pencil"></i> Move</a>
                                                <a class="btn btn-danger btn-xs font-11 gallery-button" href="javascript:void(0)" title="Remove" style="top: 35px; width: 63px; text-align: left;" ng-click="event.removeImage(item)"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                            <div class="furnindo-gallery-item-2">
                                                <a href="#" ng-click="event.addImage(10)" title="Add new image"><img src="~/img/add-img-button.jpg" /></a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </section>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabSeatCushion">
                            <div class="smart-form">
                                <fieldset>
                                    <section>
                                        <label class="label">Seat Cushion 1</label>
                                        <div style="border: solid 1px #ddd;">
                                            <div class="furnindo-gallery-item-2" ng-repeat="item in data.plcImages | filter: {imageTypeID: 11} : true">
                                                <a href="{{item.fileLocation}}" data data-featherlight="image"><img ng-src="{{item.thumbnailLocation}}" /></a>
                                                <a class="btn btn-primary btn-xs font-11 gallery-button" href="javascript:void(0)" title="Edit" style="width: 63px; text-align: left;" ng-click="event.openMoveForm(item)"><i class="fa fa-pencil"></i> Move</a>
                                                <a class="btn btn-danger btn-xs font-11 gallery-button" href="javascript:void(0)" title="Remove" style="top: 35px; width: 63px; text-align: left;" ng-click="event.removeImage(item)"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                            <div class="furnindo-gallery-item-2">
                                                <a href="#" ng-click="event.addImage(11)" title="Add new image"><img src="~/img/add-img-button.jpg" /></a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </section>
                                    <section>
                                        <label class="label">Seat Cushion 2</label>
                                        <div style="border: solid 1px #ddd;">
                                            <div class="furnindo-gallery-item-2" ng-repeat="item in data.plcImages | filter: {imageTypeID: 12} : true">
                                                <a href="{{item.fileLocation}}" data data-featherlight="image"><img ng-src="{{item.thumbnailLocation}}" /></a>
                                                <a class="btn btn-primary btn-xs font-11 gallery-button" href="javascript:void(0)" title="Edit" style="width: 63px; text-align: left;" ng-click="event.openMoveForm(item)"><i class="fa fa-pencil"></i> Move</a>
                                                <a class="btn btn-danger btn-xs font-11 gallery-button" href="javascript:void(0)" title="Remove" style="top: 35px; width: 63px; text-align: left;" ng-click="event.removeImage(item)"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                            <div class="furnindo-gallery-item-2">
                                                <a href="#" ng-click="event.addImage(12)" title="Add new image"><img src="~/img/add-img-button.jpg" /></a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </section>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

<div id="moveForm" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Move the selected image to new group</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section class="col col-6">
                            <label class="label">Selected image</label>
                            <a href="{{currentImage.fileLocation}}" data data-featherlight="image">
                                <img ng-src="{{currentImage.thumbnailLocation}}" />
                            </a>
                        </section>
                        <section class="col col-6">
                            <label class="label">Select image group to move the image to</label>
                            <div>
                                <label class="radio" ng-repeat="item in plcImageTypes">
                                    <input name="radio-inline" type="radio" ng-value="{{item.plcImageTypeID}}" ng-model="currentImage.imageTypeID">
                                    <i></i>{{item.plcImageTypeNM}}
                                </label>
                            </div>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.moveFormOK()">
                    OK
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "FactoryPLCMng")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update()" ng-disabled="data.isConfirmed"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default {{data.loadingPlanUD ? 'disabled' : ''}} @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current))" title="Delete" ng-click="event.delete()" style="color: #ff0000;" ng-disabled="data.isConfirmed"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Print, HttpContext.Current))" title="Print" ng-click="event.print()"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Approve"><i class="fa fa-thumbs-o-up"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Reset Approval status"><i class="fa fa-thumbs-o-down"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factoryplc/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.supportServiceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        var context = {
            id: @ViewBag.ID,
            bookingId : @bookingId,
            factoryId : @factoryId,
            offerLineId : '@offerLineId',
            offerLineSparepartId: '@offerLineSparepartId',
            offerLineSampleProductId  : '@offerLineSampleProductId',
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            backUrl: '@Url.Action("Index", "FactoryPLCMng")',
            refreshUrl: '@Url.Action("Edit", "FactoryPLCMng", new { id = UrlParameter.Optional })/',
            editTitle: '@ViewBag.Title',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'
        }
    </script>
    <script src="~/Views/FactoryPLCMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/FactoryPLCMng/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

