@{
    ViewBag.Title = "Search PLC";
    ViewBag.Module = "PLC";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Season</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.Season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Factory</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.FactoryID" ng-options="factory.factoryID as factory.factoryUD for factory in factories">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Art.Code</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.ArticleCode" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Description</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.Description" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Client</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.ClientUD" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Booking</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.BookingUD" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">BLNo</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.BLNo" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">PINo</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.ProformaInvoiceNo" />
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div id="searchResult" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1050px;">
                                <div style="width: 80px;"></div>
                                <div style="width: 80px">&nbsp;</div>
                                <div style="width: 80px" class="sorting" data-colname="IsConfirmed">Con firmed</div>
                                <div style="width: 80px" class="sorting" data-colname="Rating">Rating</div>
                                <div style="width: 400px">Product</div>
                                <div>Other Info</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1050px;">
                                <table>
                                    <tr ng-repeat="model in data">
                                        <td style="width: 79px; text-align: center;">
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                            {
                                                <a style="width: 54px; margin-bottom: 5px;" class="btn btn-primary btn-xs font-11" target="_blank" href="@Url.Action("Edit", "FactoryPLCMng")/{{model.plcid}}" title="View (Read Only)"><i class="fa fa-folder-open"></i> View</a>
                                            }
                                            else
                                            {
                                                <a style="width: 54px; margin-bottom: 5px;" class="btn btn-primary btn-xs font-11" target="_blank" href="@Url.Action("Edit", "FactoryPLCMng")/{{model.plcid}}" title="Edit title=" edit"><i class="fa fa-pencil"></i> Edit</a>
                                            }

                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                            {
                                                <a style="width: 54px;" class="btn btn-danger btn-xs font-11 {{model.totalLoadingPlanDetail > 0 ? 'disabled' : ''}}" href="javascript:void(0)" ng-click="event.delete(model.plcid)" title="Delete"><i class="fa fa-times"></i> Del</a>
                                            }
                                        </td>
                                        <td style="width: 80px; text-align: center;"><input type="checkbox" ng-model="model.isSelected" /></td>
                                        <td style="width: 80px; text-align: center;"><input type="checkbox" disabled ng-model="model.isConfirmed" /></td>
                                        <td style="width: 80px; text-align: center;">{{model.rating}}</td>
                                        <td style="width: 400px;">
                                            <b>{{model.articleCode}}</b>
                                            <br />
                                            {{model.description}}
                                        </td>
                                        <td>
                                            <u>Season</u>: {{model.season}}
                                            <br />
                                            <u>Factory</u>: {{model.factoryUD}}
                                            <br />
                                            <u>PI No</u>: {{model.proformaInvoiceNo}}
                                            <br />
                                            <u>Client</u>: {{model.clientUD}}
                                            <br />
                                            <u>Booking</u>: {{model.bookingUD}}
                                            <br />
                                            <u>B/L</u>: {{model.blNo}}
                                            <br />
                                            <span ng-if="model.ratorName1 != null || model.ratorName2 != null">
                                                <u>Rated by</u>:
                                                <a ng-show="model.ratedBy != null && model.ratorName2 != null" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{model.ratedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                     {{model.ratorName2}}
                                                </a>
                                                <span ng-show="model.ratedBy != null && model.ratorName2 == null && model.ratorName1 != null"> {{model.ratorName1}}</span>
                                                on {{model.ratedDate}}<br />
                                            </span>
                                            <span ng-if="model.updatorName1 != null || model.updatorName2 != null">
                                                <u>Updated by</u>:
                                                <a ng-show="model.updatedBy != null && model.updatorName2 != null" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{model.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    {{model.updatorName2}}
                                                </a>
                                                <span ng-show="model.updatedBy != null && model.updatorName2 == null && model.updatorName1 != null"> {{model.updatorName1}}</span>
                                                on {{model.updatedDate}}<br />
                                            </span>
                                            <span ng-if="model.confirmerName1 != null || model.confirmerName2 != null">
                                                <u>Confirmed by</u>:
                                                <a ng-show="model.confirmedBy != null && model.confirmerName2 != null" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{model.confirmedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    {{model.confirmerName2}}
                                                </a>
                                                <span ng-show="model.confirmedBy != null && model.confirmerName2 == null && model.confirmerName1 != null"> {{model.confirmerName1}}</span>
                                                on {{model.confirmedDate}}
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Init", "FactoryPLCMng")" target="_blank" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Print, HttpContext.Current))" title="Print" ng-click="event.print()"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factoryplc/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];

        var context = {
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'
        }
    </script>
    <script src="~/Views/FactoryPLCMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/FactoryPLCMng/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
