@{
    ViewBag.Title = "Create new PLC";
    ViewBag.Module = "PLC";
}

<form class="row" name="editForm">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Select item to create PLC</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">Factory</label>
                                    <label class="select">
                                        <select ng-model="data.factoryID" ng-options="factory.factoryID as factory.factoryUD for factory in factories">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Booking</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-search"></i>
                                        <input placeholder="Provide at least 3 chars to search for the booking" id="booking-autocomplete" type="text">                                        
                                    </label>
                                    <div class="note">
                                        <strong>You selected</strong>:  <a style="font-size: 11px;" href="javascript:void(0)" data-toggle="modal" data-target="#bookingDetail">{{data.booking.bookingUD}}</a>
                                    </div>
                                </section>
                            </div>
                            <section>
                                <label class="label">Item</label>
                                <label class="input">
                                    <i class="icon-append fa fa-search"></i>
                                    <input placeholder="Provide at least 3 chars to search for the item (product/sample)" id="item-autocomplete" type="text">
                                </label>
                                <div class="note">
                                    <strong>You selected</strong>:  {{data.item.description}}
                                </div>
                            </section>
                        </fieldset>
                        <footer>
                            <button class="btn btn-primary" type="button" ng-click="event.goNext()">
                                Next
                            </button>
                            <button class="btn btn-default" type="button" ng-click="event.goBack()">
                                Cancel
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

<div id="bookingDetail" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Booking: {{data.booking.bookingUD}}</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <label class="label">Forwarder</label>
                            <label class="input">
                                <span class="form-control">{{data.booking.forwarderNM}}</span>
                            </label>
                        </section>
                        <div class="row">
                            <section class="col col-3">
                                <label class="label">Confirmation No</label>
                                <label class="input">
                                    <span class="form-control">{{data.booking.confirmationNo}}</span>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label class="label">B/L</label>
                                <label class="input">
                                    <span class="form-control">{{data.booking.blNo}}</span>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label class="label">Port of loading</label>
                                <label class="input">
                                    <span class="form-control">{{data.booking.poLName}}</span>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label class="label">Port of discharge</label>
                                <label class="input">
                                    <span class="form-control">{{data.booking.podName}}</span>
                                </label>
                            </section>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@section pagejs {
    <script src="~/TemplateResource/js/plugin/jquery.autocomplete.min.js"></script>
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factoryplc/';
        jsonService.supportServiceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            backURL: '@Url.Action("Index", "FactoryPLCMng")',
            nextURL: '@Url.Action("Edit", "FactoryPLCMng")/0?'
        }
    </script>
    <script src="~/Views/FactoryPLCMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/FactoryPLCMng/init.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

