@{
    ViewBag.Title = "QA/QC Management By Inspector";
    ViewBag.Module = "QA/QC Management By Inspector";
    ViewBag.Icon = "fa-database";
}

<form class="row" name="editForm">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <br />
            <a class="btn btn-default btn-sm" style="float:right; margin-right:100px;" href="@Url.Action("QAQCManagementIndex", "QAQCMng")">Back To Home</a>
            <a class="btn btn-danger btn-sm" style="float:right; margin-right:10px;" ng-disabled="data.statusID == 4 || data.statusID == 5" ng-click="event.setStatus(5, data.comment)">Reject</a>
            <a class="btn btn-success btn-sm" style="float:right; margin-right:10px;" ng-disabled="data.statusID == 4 || data.statusID == 5" ng-click="event.setStatus(4, data.comment)">Approve</a>
            <section>
                <legend style="margin-top: 0px; padding-top: 0px; margin-bottom: 15px;"><i></i> General</legend>
                <div class="smart-form">
                    <fieldset style="padding: 0px; border-top: none;">
                        <div class="row">
                            <section class="col col-sm-2">
                                <label class="label">
                                    <label>Product Code</label>
                                </label>
                                <label class="input">
                                    <input type="text" class="form-control" ng-model="data.modelUD" readonly />
                                </label>
                            </section>
                            <section class="col col-sm-6">
                                <label class="label">Name Of Product</label>
                                <input style="font-size:12px" class="form-control" ng-model="data.modelNM" readonly />
                            </section>
                            <section class="col col-sm-2">
                                <label class="label">Client</label>
                                <label class="input">
                                    <input type="text" class="form-control" ng-model="data.clientUD" readonly />
                                </label>
                            </section>
                            <section class="col col-sm-1">
                                <label class="label">Status</label>
                                <label class="input">
                                    <input type="text" class="form-control" ng-model="data.statusNM" readonly />
                                </label>
                            </section>
                            <section class="col col-sm-1">
                                <label class="label">
                                    <label>Type</label>
                                </label>
                                <label class="input">
                                    <input type="text" class="form-control" ng-model="data.typeOfInspecNM" readonly />
                                </label>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-sm-1">
                                <label class="label">Ready Qty</label>
                                <input style="text-align:right" type="text" class="form-control" ng-model="data.readyQty" readonly />
                            </section>
                            <section class="col col-sm-1">
                                <label class="label">Checked Qty</label>
                                <label class="input">
                                    <input style="text-align:right" type="text" class="form-control" ng-model="data.checkedQty" readonly />
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label class="label">Created By / Date</label>
                                <label class="input">
                                    <span class="form-control">{{data.createdNM}} - {{data.createdDate}}</span>
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label class="label">Update By / Date</label>
                                <label class="input">
                                    <span class="form-control">{{data.updatedNM}} - {{data.updatedDate}}</span>
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label class="label">Approved Or Rejected By / Date</label>
                                <label class="input">
                                    <span class="form-control">{{data.approvalNM}} - {{data.approvalDate}}</span>
                                </label>
                            </section>
                            <section class="col col-sm-1">
                                <label class="label">
                                    <label>Report Date</label>
                                </label>
                                <label class="input">
                                    <input type="text" class="form-control" ng-model="data.reportDate" readonly />
                                </label>
                            </section>
                            <section class="col col-sm-3">
                                <label class="label">Remark</label>
                                <input type="text" class="form-control" ng-model="data.remark" readonly />
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-sm-6">
                                <label class="label">Comment</label>
                                <input type="text" class="form-control" ng-model="data.comment" />
                            </section>

                            <section class="col col-sm-3">
                                <div id="map01" style="width:100%;height:200px"></div>
                            </section>

                            <section class="col col-sm-3">
                                <div id="map02" style="width:100%;height:200px"></div>
                            </section>
                        </div>
                    </fieldset>
                </div>

                <br />
                <legend style="margin-top: 0px; padding-top: 0px; margin-bottom: 15px;"><i></i> Defects</legend>
                <div class="smart-form">
                    <fieldset style="padding: 0px; border-top: none;">
                        <div class="tilsoft-table-wrapper">
                            <div class="tilsoft-table">
                                <div class="tilsoft-table-body" style="width: 1550px; overflow-y: auto; height: auto; min-height: 100px; margin-top: 0px;">
                                    <table>
                                        <tr>
                                            <th style="width: 40px;"></th>
                                            <th style="width:350px">Defect Name</th>
                                            <th style="width:150px">Type / Defect A Qty</th>
                                            <th style="width:150px">Type / Defect B Qty</th>
                                            <th style="width:150px">Type / Defect C Qty</th>
                                            <th style="width:120px">Image</th>
                                            <th style=""></th>

                                        </tr>
                                        <tr>
                                            <th style="text-align:right" colspan="2">Total:</th>
                                            <th style="width:150px;" colspan="3"> <font color="red">Critical: {{method.caculatorCritical("Critical")}} &nbsp;&nbsp;/Major: {{method.caculatorMajor("Major")}} &nbsp;&nbsp;/Minor: {{method.caculatorMinor("Minor")}}</font></th>
                                            <th style="width:120px"></th>
                                            <th style=""></th>

                                        </tr>
                                        <tr ng-repeat="item in data.reportDefects">
                                            <td style="text-align: center;width: 40px;">
                                                {{$index+1}}
                                            </td>

                                            <td style="width:350px;">{{item.defectNM}}</td>
                                            <td style="width:150px; text-align:right">{{item.defectAUD}} {{item.defectAQty}}</td>
                                            <td style="width:150px; text-align:right">{{item.defectBUD}} {{item.defectBQty}}</td>
                                            <td style="width:150px; text-align:right">{{item.defectCUD}} {{item.defectCQty}}</td>
                                            <td style="width:120px; text-align:center"><a class="btn btn-xs btn-info" ng-show="item.reportDefectsImageDTOs.length > 0" ng-click="event.viewImage(item.reportDefectsImageDTOs)">View Image</a></td>
                                            <td style=""></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <br />
                <legend style="margin-top: 0px; padding-top: 0px; margin-bottom: 15px;"><i></i> Check List</legend>
                <div class="smart-form">
                    <fieldset style="padding: 0px; border-top: none;">
                        <div class="tilsoft-table-wrapper">
                            <div class="tilsoft-table">
                                <div class="tilsoft-table-body" style="width: 1550px; overflow-y: auto; height: auto; min-height: 100px; margin-top: 0px;">
                                    <table>
                                        <tr>
                                            <th style="width: 40px;"></th>
                                            <th style="width:350px">Check List Name</th>
                                            <th style="width:100px">Status</th>
                                            <th style="width:120px">Image</th>
                                            <th style="">Remark</th>

                                        </tr>
                                        <tr ng-repeat="item in data.reportCheckLists">
                                            <td style="text-align: center;width: 40px;">
                                                {{$index+1}}
                                            </td>
                                            <td style="width:350px">{{item.checkListNM}}</td>
                                            <td style="width:100px; text-align:center">{{item.statusNM}}</td>
                                            <td style="width:120px; text-align:center"><a class="btn btn-xs btn-info" ng-show="item.reportCheckListImages.length > 0" ng-click="event.viewImage(item.reportCheckListImages)">View Image</a></td>
                                            <td style="">{{item.remark}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </section>
        </div>

        <div id="imagePoup" class="modal fade" role="dialog" aria-labelledby="myModalLable" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLable">Images</h4>
                    </div>
                    <div class="modal-body no-padding">
                        <div class="smart-form">
                            <fieldset>
                                <div class="row" style="margin-top: 15px;">
                                    <section data-featherlight-gallery data-featherlight-filter="a">
                                        <div class="float-img-list" ng-repeat="item in images">
                                            <div style="width: 203px;" class="img-item">
                                                <a href="{{item.fileLocation}}" data-featherlight="image">
                                                    <img style="width: 95%;" ng-src="{{item.thumbnailLocation}}" />
                                                </a>

                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks"></ul>
}

@section pagejs {
    <script src="~/Views/QAQCMng/QAQCManagementEdit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/qaqcmng/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            refreshUrl: '@Url.Action("QAQCManagementEdit", "QAQCMng", new { id = UrlParameter.Optional })/',
            indexUrl: '@Url.Action("QAQCManagementIndex", "QAQCMng")',
            reportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            id: @ViewBag.ID,
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
        };
    </script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/QAQCMng/service2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script>
        function initMap() {

        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaWQQfR3MXJyvMafVrPgd417nVFXrBGxo&callback=initMap"></script>
}

