
@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Supplier";
    }
    else
    {
        ViewBag.Title = "Edit Supplier";
    }

    ViewBag.Module = "AVFSupplier";
}

<form class="row" name="editForm" id="main-form">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <span> General Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabTracking"> <i class="fa fa-history"></i> <span> Tracking </span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="widget-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabGeneral">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Code</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.avfSupplierUD"/>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">Name</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.avfSupplierNM" required />
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">Tax Code</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.taxCode" />
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Telephone</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.telephone" />
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Mobile</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.mobile" />
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Email</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.email" />
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Website</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.website" />
                                            </label>
                                        </section>
                                    </div>
                                    <section>
                                        <label class="label">Address</label>
                                        <label class="textarea">
                                            <textarea rows="2" ng-model="data.address"></textarea>
                                        </label>
                                    </section>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Opening Debit Balance</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">₫</span>
                                                <input name="amount" type="text" class="form-control furnindo-currency" ng-model="data.openingDebit" furnindo-currency style="text-align:right" ng-currency fraction="0" currency-symbol="" value="0" />
                                            </div>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Opening Credit Balance</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">₫</span>
                                                <input name="amount" type="text" class="form-control furnindo-currency" ng-model="data.openingCredit" furnindo-currency style="text-align:right" ng-currency fraction="0" currency-symbol="" value="0" />
                                            </div>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Increase Debit Balance</label>
                                            <label class="input">
                                                <span class="form-control" style="text-align: right;">₫{{data.increasingDebit | currency:'':0}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Increase Credit Balance</label>
                                            <label class="input">
                                                <span class="form-control" style="text-align: right;">₫{{data.increasingCredit | currency:'':0}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Closing Debit Balance</label>
                                            <label class="input">
                                                <span class="form-control" style="text-align: right;">₫{{data.closingDebit | currency:'':0}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Closing Credit Balance</label>
                                            <label class="input">
                                                <span class="form-control" style="text-align: right;">₫{{data.closingCredit | currency:'':0}}</span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <fieldset style="padding-top: 0px;">
                                    <div class="row">
                                        <div class="tilsoft-table-wrapper" id="grdImages">
                                            <div class="tilsoft-table">
                                                <div style="width: 100%; overflow: auto; min-height: 100px; margin-top: 0px;" class="tilsoft-table-body">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th style="width: 120px; font-weight: bold;">&nbsp;</th>
                                                                <th style="width: 100px; font-weight: bold;">Invoice</th>
                                                                <th style="width: 100px; font-weight: bold;">Invoice Date</th>
                                                            </tr>
                                                            <tr ng-repeat="item in data.avfSupplierPurchasingInvoices">
                                                                <td style="text-align: center;">
                                                                    <a class="btn btn-primary btn-xs font-11" href="javascript:void(0)" title="Edit" ng-click="event.viewInvoiceDetail(item)"><i class="fa fa-folder-open"></i> View</a>
                                                                </td>
                                                                <td style="text-align: center;">{{item.invoiceNo}}</td>
                                                                <td style="text-align: center;">{{item.invoiceDate}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabTracking">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Updated By</label>
                                            <label class="input">
                                                <span class="form-control">
                                                    <a ng-show="(data.updatedBy!=null && data.updatorName2!=null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        <i class="fa fa-user"></i> {{data.updatorName2}}
                                                    </a>
                                                    <span ng-show="(data.updatedBy!=null && data.updatorName2==null && data.updatorName!=null)">{{data.updatorName}}</span>
                                                </span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Updated Date</label>
                                            <label class="input">
                                                <span class="form-control">{{data.updatedDate}}</span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>
<div name="invoiceDetail" id="invoiceDetail" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Invoice Detail</h4>
            </div>
            <div class="modal-body">
                <div class="smart-form">
                    <fieldset>
                        <div class="row">
                            <div class="tilsoft-table-wrapper" id="grdImages">
                                <div class="tilsoft-table">
                                    <div style="width: 100%; overflow: auto; min-height: 100px; margin-top: 0px;" class="tilsoft-table-body">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th style="width: 50px; font-weight: bold;">Index</th>
                                                    <th style="width: 200px; font-weight: bold;">Description</th>
                                                    <th style="width: 80px; font-weight: bold;">Debit</th>
                                                    <th style="width: 80px; font-weight: bold;">Credit</th>
                                                    <th style="width: 100px; font-weight: bold;">Amount</th>
                                                </tr>
                                                <tr>
                                                    <th style="font-weight: bold; text-align: right;" colspan="4">TOTAL</th>
                                                    <th style="font-weight: bold; text-align: right;">{{currentInvoice.totalAmount | currency:'':0}}<span>₫</span></th>
                                                </tr>
                                                <tr ng-repeat="detail in currentInvoice.avfSupplierPurchasingInvoiceDetails">
                                                    <td style="text-align: center;">{{detail.detailIndex}}</td>
                                                    <td style="text-align: center;">{{detail.description}}</td>
                                                    <td style="text-align: center;">{{detail.debitAccNo}}</td>
                                                    <td style="text-align: center;">{{detail.creditAccNo}}</td>
                                                    <td style="text-align: right;">{{detail.amount | currency:'':0}}<span>₫</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "AVFSupplier")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Approve"><i class="fa fa-thumbs-o-up"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Reset Approval status"><i class="fa fa-thumbs-o-down"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js"></script>
    <script src="~/Angular/app/avfSupplier/service.js"></script>
    <script type="text/javascript">
        var grdFactory = jQuery('#grdFactory').scrollableTable(null, null);

        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/avfsupplier/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var tilsoftApp = angular.module('tilsoftApp', []);
        tilsoftApp.controller('tilsoftController', ['$scope', function ($scope) {
            //
            // property
            //
            $scope.data = null;
            $scope.manufacturerCountries = null;
            $scope.ledgerAccounts = null;
            var totalInvoice = 0;

            //
            // event
            //
            $scope.event = {
                init:function(){
                    jsonService.load(
                        @ViewBag.ID,
                        function (data) {
                            $scope.data = data.data.data;
                            //console.log(data);
                            $scope.ledgerAccounts = data.data.ledgerAccounts;
                            $scope.manufacturerCountries = data.data.manufacturerCountries;
                            $scope.$apply();
                            jQuery('#content').show();

                            // monitor changes
                            $scope.$watch('data', function() {
                                jQuery('#changeNotification').html('<i class="fa fa-save blink_me"></i>');
                            });
                            grdFactory.updateLayout();
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);

                            $scope.data = null;
                            $scope.manufacturerCountries = null;
                            $scope.$apply();
                        }
                    );
                },
                update: function($event){
                    $event.preventDefault();

                    if($scope.editForm.$valid)
                    {
                        jsonService.update(
                            @ViewBag.ID,
                            $scope.data,
                            function (data) {
                                jsHelper.processMessage(data.message);
                                if(data.message.type == 0) {
                                    $scope.method.refresh(data.data.avfSupplierID);
                                }
                            },
                            function (error) {
                                jsHelper.showMessage('warning', error);
                            }
                        );
                    }
                    else
                    {
                        jsHelper.showMessage('warning', '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED');
                    }
                },
                delete: function($event){
                    $event.preventDefault();

                    if (confirm('Are you sure ?')) {
                        jsonService.delete(
                            @ViewBag.ID,
                            function (data) {
                                jsHelper.processMessage(data.message);
                                if(data.message.type == 0) {
                                    window.location = '@Url.Action("Index", "AVFSupplier")';
                                }
                            },
                                function (error) {
                                    jsHelper.showMessage('warning', error);
                                }
                            );
                    }
                },
                viewInvoiceDetail: function (item) {
                    $scope.currentInvoice = JSON.parse(JSON.stringify(item));
                    jQuery("#invoiceDetail").modal();
                    //console.log($scope.currentInvoice);
                }
            };

            //
            // method
            //
            $scope.method = {
                refresh: function(id){
                    jsHelper.loadingSwitch(true);
                    window.location = '@Url.Action("Edit", "AVFSupplier", new { id = UrlParameter.Optional })/'+id;
                },
                getTotal: function () {
                    var result = 0;
                    if ($scope.data != null) {
                        angular.forEach($scope.data.avfSupplierPurchasingInvoices, function (value, key) {
                            result += parseFloat(value.totalAmount);
                        }, null);
                    }
                    return result;
                }
            };

            //
            // init
            //
            $scope.event.init();
        }]);
    </script>
}

