@{
    ViewBag.Title = "Search Supplier";
    ViewBag.Module = "AVFSupplier";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Supplier Code</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.AVFSupplierUD" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Supplier Name</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.AVFSupplierNM" />
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <footer>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.closeEntry($event)" style="float: none;"><i class="fa fa-bar-chart-o"></i> Close Entry Balance</a>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.generateExcel($event)" style="float: none;"><i class="fa fa-file-excel-o"></i> Excel Generate</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div id="searchResult" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1201px;">
                                <div style="width: 121px;"></div>
                                <div style="width: 180px; text-align: center;"></div>
                                <div style="width: 300px;">Opening Balance</div>
                                <div style="width: 300px;">Increasing Balance</div>
                                <div style="width: 300px;">Closing Balance</div>
                                <div style="width: 121px;"></div>
                                <div style="width: 180px; text-align: center;" class="sorting" data-colname="AccountNo">Supplier Name</div>
                                <div style="width: 150px;" data-colname="OpeningDedit">Debit</div>
                                <div style="width: 150px;" data-colname="OpeningCredit">Credit</div>
                                <div style="width: 150px;" data-colname="IncreasingDebit">Debit</div>
                                <div style="width: 150px;" data-colname="IncreasingCredit">Credit</div>
                                <div style="width: 150px;" data-colname="ClosingDebit">Debit</div>
                                <div style="width: 150px;float:left;" data-colname="ClosingCredit">Credit</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1200px;margin-top:100px;">
                                <table>
                                    <tr ng-repeat="model in data">
                                        <td style="text-align: center; width: 120px;">
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                            {
                                                <a href="@Url.Action("Edit", "AVFSupplier")/{{model.avfSupplierID}}" title="View (Read Only)"><i class="fa fa-folder-open grid-button"></i></a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("Edit", "AVFSupplier")/{{model.avfSupplierID}}" title="Edit"><i class="fa fa-pencil-square grid-button"></i></a>
                                            }

                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                            {
                                                <a href="javascript:void(0)" ng-click="event.delete(model.avfSupplierID)" title="Delete"><i class="fa fa-times-circle grid-button"></i></a>
                                            }
                                        </td>
                                        <td style="text-align: center; width: 180px;">{{model.avfSupplierNM}}</td>
                                        <td style="text-align: center; width: 150px;">{{model.openingDebit | currency:'':0}}<span ng-if="model.openingDebit !== null">₫</span></td>
                                        <td style="text-align: center; width: 150px;">{{model.openingCredit | currency:'':0}}<span ng-if="model.openingCredit !== null">₫</span></td>
                                        <td style="text-align: center; width: 150px;">{{model.increasingDebit | currency:'':0}}<span ng-if="model.increasingDebit !== null">₫</span></td>
                                        <td style="text-align: center; width: 150px;">{{model.increasingCredit | currency:'':0}}<span ng-if="model.increasingCredit !== null">₫</span></td>
                                        <td style="text-align: center; width: 150px;">{{model.closingDebit | currency:'':0}}<span ng-if="model.closingDebit !== null">₫</span></td>
                                        <td style="text-align: center;">{{model.closingCredit | currency:'':0}}<span ng-if="model.closingCredit !== null">₫</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.search()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Edit", "AVFSupplier")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/avfsupplier/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
        var context = {
            refreshURL: '@Url.Action("Index", "AVFSupplier")',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'
        }
    </script>
    <script src="~/Angular/app/avfsupplier/service.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/avfsupplier/index.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
