@{
    ViewBag.Title = "Search PIs contain factory order";
    ViewBag.Module = "Factory Order";

    string userManualUrl = string.Empty;
    if (System.IO.File.Exists(Server.MapPath("~/UserManual/" + ViewBag.ModuleCode + ".pdf")))
    {
        userManualUrl = "/UserManual/" + ViewBag.ModuleCode + ".pdf";
    }

}

<div class="row">

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-search"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-sm-1">
                            <label>Season</label>
                            <select class="form-control search-filter" ng-model="filters.Season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <label>Pro.No</label>
                            <input class="form-control search-filter" type="text" id="ProformaInvoiceNo" ng-model="filters.ProformaInvoiceNo">
                        </div>
                        @*<div class="col-sm-2">
                            <label>Offer Code</label>
                            <input class="form-control search-filter" type="text" id="OfferUD" ng-model="filters.OfferUD">
                        </div>*@
                        <div class="col-sm-2">
                            <label>Client Code</label>
                            <input class="form-control search-filter" type="text" id="ClientUD" ng-model="filters.ClientUD">
                        </div>
                        <div class="col-sm-2">
                            <label>Client Name</label>
                            <input class="form-control search-filter" type="text" id="ClientNM" ng-model="filters.ClientNM">
                        </div>
                        @*<div class="col-sm-2">
                            <label>Account Manager</label>
                            <select class="form-control search-filter" ng-model="filters.SaleID" ng-options="item.saleID as item.saleNM for item in searchdata.salers">
                                <option value=""></option>
                            </select>
                        </div>*@
                        <div class="col-sm-1">
                            <label>Factory</label>
                            <select class="form-control search-filter" ng-model="filters.FactoryID" ng-options="item.factoryID as item.factoryUD for item in factories">
                                <option value=""></option>
                            </select>
                        </div>


                        <div class="col-sm-2">
                            <label>ArticleCode</label>
                            <input class="form-control search-filter" type="text" id="ArticleCode" ng-model="filters.ArticleCode">
                        </div>

                        <div class="col-sm-3">
                            <label>Desription</label>
                            <input class="form-control search-filter" type="text" id="Desription" ng-model="filters.Desription">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>List PIs contain factory order</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper" id="saleOrder" >
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 4500px;">
                                <div style="width: 80px;"></div>

                                <div style="width: 90px;" class="sorting_desc" data-colname="season">Season</div>
                                <div style="width: 100px;" class="sorting" data-colname="proformaInvoiceNo">Prof.No</div>
                                <div style="width: 90px;" class="sorting" data-colname="invoiceDate">Invoice Date</div>

                                <div style="width: 300px;" class="sorting" data-colname="offerUD">Offer File Name</div>
                                <div style="width: 80px;" class="sorting" data-colname="offerUD">Client Code</div>
                                <div style="width: 300px;" class="sorting" data-colname="offerUD">Client Name</div>

                                <div style="width: 50px;" class="sorting" data-colname="saleOrderVersion">Ver sion</div>
                                <div style="width: 100px;" class="sorting" data-colname="trackingStatusNM">Status</div>
                                <div style="width: 100px;" class="sorting" data-colname="ispiReceived">Signed PI Received</div>
                                <div style="width: 180px;" class="sorting" data-colname="piReceiver">Signed PI Received By</div>
                                <div style="width: 90px;" class="sorting" data-colname="piReceivedDate">Date Received</div>
                                <div style="width: 250px;" class="sorting" data-colname="piReceivedRemark">PI Received Remark</div>
                                <div style="width: 90px;" class="sorting" data-colname="lds">LDS</div>
                                <div style="width: 300px;" class="sorting" data-colname="reference">Reference</div>
                                <div style="width: 300px;" class="sorting" data-colname="conditions">Conditions</div>
                                <div style="width: 90px;" class="sorting" data-colname="deliveryDate">Delivery Date</div>
                                <div style="width: 90px;" class="sorting" data-colname="deliveryDateInternal">Delivery Date Internal</div>
                                <div style="width: 250px;" class="sorting" data-colname="paymentTermNM">Payment Term</div>
                                <div style="width: 250px;" class="sorting" data-colname="paymentTypeNM">Payment Type</div>
                                <div style="width: 250px;" class="sorting" data-colname="deliveryTermNM">Delivery Term</div>
                                <div style="width: 250px;" class="sorting" data-colname="deliveryTypeNM">Delivery Type</div>
                                <div style="width: 150px;" class="sorting" data-colname="creatorName">Created By</div>
                                <div style="width: 90px;" class="sorting" data-colname="createdDate">Created Date</div>
                                <div style="width: 150px;" class="sorting" data-colname="updatorName">Updated By</div>
                                <div style="width: 90px;" class="sorting" data-colname="updatedDate">Updated Date</div>
                                <div class="sorting" data-colname="remark">Remark</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 4500px; ">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="item in searchdata" >
                                            <td style="width: 80px; text-align: center">
                                                <a class="btn btn-primary btn-xs font-11" href="@Url.Action("FaO", "FactoryOrder")/{{item.saleOrderID}}/{{item.offerID}}" title="Open list factory order of this PI" target="_blank"><i class="fa fa-folder-open"></i>Open</a>
                                            </td>

                                            <td style="width: 90px;">{{item.season}}</td>
                                            <td style="width: 100px;">{{item.proformaInvoiceNo}}</td>
                                            <td style="width: 90px; ">{{item.invoiceDateFormated}}</td>

                                            <td style="width: 300px; ">{{item.offerUD}}</td>
                                            <td style="width: 80px; ">{{item.clientUD}}</td>
                                            <td style="width: 300px; ">{{item.clientNM}}</td>

                                            <td style="width: 50px; ">{{item.saleOrderVersion}}</td>
                                            <td style="width: 100px;">{{item.trackingStatusNM}}</td>
                                            <td style="width: 100px;" align="center"><input type="checkbox" ng-model="item.ispiReceived" /></td>
                                            <td style="width: 180px;">{{item.piReceiver}}</td>
                                            <td style="width: 90px;">{{item.piReceivedDateFormated}}</td>
                                            <td style="width: 250px;">{{item.piReceivedRemark}}</td>
                                            <td style="width: 90px;">{{item.ldsFormated}}</td>
                                            <td style="width: 300px;">{{item.reference}}</td>
                                            <td style="width: 300px;">{{item.conditions}}</td>
                                            <td style="width: 90px;">{{item.deliveryDateFormated}}</td>
                                            <td style="width: 90px;">{{item.deliveryDateInternalFormated}}</td>
                                            <td style="width: 250px;">{{item.paymentTermNM}}</td>
                                            <td style="width: 250px;">{{item.paymentTypeNM}}</td>
                                            <td style="width: 250px;">{{item.deliveryTermNM}}</td>
                                            <td style="width: 250px;">{{item.deliveryTypeNM}}</td>
                                            <td style="width: 150px;">
                                                <a ng-if="item.createdBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.createdBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i>
                                                    {{item.creatorName}}
                                                </a>
                                            </td>
                                            <td style="width: 90px;">{{item.createdDateFormated}}</td>
                                            <td style="width: 150px;">
                                                <a ng-if="item.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i>
                                                    {{item.updatorName}}
                                                </a>
                                            </td>
                                            <td style="width: 90px;">{{item.updatedDateFormated}}</td>
                                            <td>{{item.remark}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.search()"><i class="fa fa-search"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.search()"><i class="fa fa-refresh"></i></a>
    </li>

    @if (!string.IsNullOrEmpty(userManualUrl))
    {
        <li class="sparks-info">
            <a target="_blank" href="@userManualUrl" class="btn btn-default" title="Help"><i class="fa fa-info"></i></a>
        </li>
    }
</ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/factoryorder/service.js"></script>
    <script type="text/javascript">

        //var saleOrderGrid = jQuery('#saleOrder').scrollableTable(
        //    function(currentPage){
        //        var scope = angular.element(jQuery('body')).scope();
        //        scope.$apply(function(){
        //            scope.pageIndex = currentPage;
        //            factoryOrderService.searchFilter.pageIndex = scope.pageIndex;
        //            scope.search();
        //        });
        //    },
        //    function(sortedBy, sortedDirection){
        //        var scope = angular.element(jQuery('body')).scope();
        //        scope.$apply(function(){
        //            factoryOrderService.searchFilter.sortedDirection = sortedDirection;
        //            scope.pageIndex = 1;
        //            factoryOrderService.searchFilter.pageIndex = scope.pageIndex;
        //            factoryOrderService.searchFilter.sortedBy = sortedBy;
        //            scope.search();
        //        });
        //    }
        //);

        jQuery('.search-filter').keypress(function(e){
            if (e.keyCode == 13) {
                var scope = angular.element(jQuery('body')).scope();
                scope.event.search()
            }
        });

        factoryOrderService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factoryorder/';
        factoryOrderService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        factoryOrderService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];

        var cookieId = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()';

        var modelApp = angular.module('tilsoftApp', ['ngCookies', 'avs-directives']);
        modelApp.controller('tilsoftController', ['$scope', '$cookieStore', function ($scope, $cookieStore) {
            $scope.searchdata = [];
            $scope.factoryorderdata = null;
            $scope.supportdata = null,
            $scope.factories = [];
            $scope.seasons = [];

            $scope.factoryOrder = null;

            $scope.pageIndex = 1;
            $scope.totalPage = 0;
            $scope.totalRows = 0;

            $scope.filters = {
                Season : '',
                ProformaInvoiceNo : '',
                OfferUD : '',
                ClientUD : '',
                ClientNM : '',
                SaleID : 0,
                FactoryID : 0,
                ArticleCode : '',
                Description : ''
            };

            $scope.ProfNo = '';

            var cookieValue = $cookieStore.get(cookieId);
            if (cookieValue) {
                $scope.filters = cookieValue;
            }

            $scope.gridHandler = {
                loadMore: function () {
                    if ($scope.pageIndex < $scope.totalPage) {
                        $scope.pageIndex++;
                        factoryOrderService.searchFilter.pageIndex = $scope.pageIndex;
                        $scope.search(true);
                    }
                },
                sort: function (sortedBy, sortedDirection) {
                    $scope.searchdata = [];
                    factoryOrderService.searchFilter.sortedDirection = sortedDirection;
                    $scope.pageIndex = 1;
                    factoryOrderService.searchFilter.pageIndex = scope.pageIndex;
                    factoryOrderService.searchFilter.sortedBy = sortedBy;
                    $scope.search();
                },
                isTriggered: false
            };

            //
            // private function defined
            //
            $scope.search = function (isLoadMore) {
                $cookieStore.put(cookieId, $scope.filters);
                $scope.gridHandler.isTriggered = false;
                factoryOrderService.searchFilter.filters = $scope.filters;
                factoryOrderService.search(
                    function (data) {
                        //$scope.searchdata = data.data;
                        Array.prototype.push.apply($scope.searchdata, data.data.saleOrderSearchs);
                        $scope.totalPage = Math.ceil(data.totalRows / factoryOrderService.searchFilter.pageSize);
                        $scope.totalRows = data.totalRows;
                        $scope.factories = data.data.factories;
                        $scope.seasons = data.data.seasons;
                      
                        $scope.factoryOrder = data.data;
                        $scope.$apply();
                        jQuery('#content').show();
                        if (!isLoadMore) {
                            $scope.gridHandler.goTop();
                        }
                        $scope.gridHandler.isTriggered = true;
                    },
                    function (error) {
                        $scope.searchdata = null;
                        $scope.pageIndex = 1;
                        $scope.totalPage = 0;
                        $scope.totalRows = 0;
                        $scope.$apply();
                    }
                );              
            }

            $scope.searchFactoryOrder = function ($event,saleOrderID,ProfNo) {
                $event.preventDefault($event);
                $scope.ProfNo = ProfNo;
                factoryOrderService.search_factoryOrder(saleOrderID,
                    function (data) {
                        $scope.factoryorderdata = data.data;
                        $scope.$apply();
                    },
                    function (error) {
                        $scope.factoryorderdata = null;
                        $scope.$apply();
                    }
                );
            }

            $scope.event={
                search: function(){
                    $scope.searchdata = [];
                    $scope.pageIndex = 1;
                    factoryOrderService.searchFilter.pageIndex = 1;
                    factoryOrderService.searchFilter.filters = $scope.filters;
                    $scope.search(false);
                }
            }


            //
            // INIT
            //
            $scope.event.search();
        }]);
    </script>
}
