@{
    ViewBag.Title = "Create New Catalog File";
    ViewBag.Icon = "fa-pencil-square-o";
    ViewBag.Module = "Catalog File";
}

<form class="row" name="editForm" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>&nbsp;</header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">
                                        Season
                                        <em ng-show="editForm.season.$error.required" class="note note-error">(Required)</em>
                                    </label>
                                    <label class="select" ng-class="{'state-error': editForm.season.$error.required}">
                                        <select name="season" required ng-model="data.season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-5">
                                    <label class="label">
                                        Catalogue File
                                    </label>
                                    <label class="input">
                                        <span class="form-control">
                                            {{data.friendlyName}}
                                            <div style="position: absolute; right: 5px; top: 5px;">
                                                <a ng-disabled="!data.fileLocation" href="{{data.fileLocation}}" target="_blank" class="btn btn-primary btn-xs" style="font-size: 11px;">Download</a>
                                                <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="event.changeFile()">Change</a>
                                                <a ng-disabled="!data.fileLocation" href="javascript:void(0);" class="btn btn-danger btn-xs" style="font-size: 11px;" ng-click="event.removeFile()">Remove</a>
                                            </div>
                                        </span>
                                    </label>
                                </section>
                                <section class="col col-5">
                                    <label class="label">
                                        Price List File
                                    </label>
                                    <label class="input">
                                        <span class="form-control">
                                            {{data.plFriendlyName}}
                                            <div style="position: absolute; right: 5px; top: 5px;">
                                                <a ng-disabled="!data.plFileLocation" href="{{data.plFileLocation}}" target="_blank" class="btn btn-primary btn-xs" style="font-size: 11px;">Download</a>
                                                <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="event.plChangeFile()">Change</a>
                                                <a ng-disabled="!data.plFileLocation" href="javascript:void(0);" class="btn btn-danger btn-xs" style="font-size: 11px;" ng-click="event.plRemoveFile()">Remove</a>
                                            </div>
                                        </span>
                                    </label>
                                </section>
                            </div>
                            <section>
                                <label class="label">
                                    Comment
                                </label>
                                <label class="textarea">
                                    <textarea rows="10" ng-model="data.comment"></textarea>
                                </label>
                            </section>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "CatalogFileMng")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update()"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current))" title="Delete" ng-click="event.delete()" style="color: #ff0000;"><i class="fa fa-times"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            id: @ViewBag.ID,
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            backUrl: '@Url.Action("Index", "CatalogFileMng")',
            refreshUrl: '@Url.Action("Edit", "CatalogFileMng", new { id = UrlParameter.Optional })/',

            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/catalogfile/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            supportServiceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/',
        };
    </script>
    <script src="~/Views/CatalogFileMng/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/CatalogFileMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

