
@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var pageSize = System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var backendReportUrl = @System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"];


    ViewBag.Title = "Showroom Overview Report";
    ViewBag.Module = "Showroom Overview Report";
    ViewBag.Icon = "fa-search";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-table"></i>
                </span>
                <h2>Search Result</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section class="col col-sm-3" ng-repeat="item in factoryWarehouses">
                                <label class="checkbox">
                                    <input class="search-filter" type="checkbox" ng-model="item.isChecked" ng-change="event.filterShowroom()" />
                                    <i></i> {{item.factoryWarehouseNM | uppercase}}
                                </label>
                            </section>
                        </fieldset>
                    </div>
                    <div avs-scrollable-table class="tilsoft-table-wrapper" ng-load-next-page="event.loadNextPage()" ng-sort-data="event.sortData">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1588px;">
                                <div style="width: 63px;">Found<br /><b>{{totalRows | number:0}}</b></div>
                                <div style="width: 100px;">Season</div>
                                <div style="width: 80px;">Image</div>
                                <div style="width: 400px;">Item Description</div>
                                @*<div style="width: 50px;">Unit</div>*@
                                <div style="width: 70px;">Client</div>
                                <div style="width: 75px;">Factory</div>
                                <div style="width: 100px;">Warehouse</div>
                                <div style="width: 65px;">Pallet</div>
                                <div style="width: 90px;">Quantity</div>
                                @*<div style="width: 200px;">Description</div>

                                <div style="width: 90px;">Material</div>
                                <div style="width: 90px;">Material<br />2</div>
                                <div style="width: 90px;">Material<br />3</div>

                                <div style="width: 120px;">Seat Cushion</div>
                                <div style="width: 130px;">Back Cushion</div>
                                <div style="width: 75px;">Cushion Color</div>*@
                                <div style="width:200px">Receiving Note</div>
                                <div style="border-bottom: none;"></div>
                            </div>
                            <div class="tilsoft-table-filter" style="width: 1588px; margin-top: 50px;">
                                <div style="width: 63px;">
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs font-11" ng-click="event.refresh()">
                                        <i class="fa fa-filter"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs font-11" ng-click="event.clear()">
                                        <i class="fa fa-ban"></i>
                                    </a>
                                </div>
                                <div style="width: 100px;">
                                    <select class="form-control search-filter" style="width: 100%" ng-model="filter.filters.season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </div>
                                <div style="width: 80px;"></div>
                                <div style="width: 400px;">
                                    <input type="text" class="form-control search-filter" style="width: 100%;" ng-model="filter.filters.productionItemUD" />
                                </div>
                                @*<div style="width: 50px;"></div>*@
                                <div style="width: 70px;">
                                    <input type="text" class="form-control search-filter" style="width: 100%;" ng-model="filter.filters.clientUD" />
                                </div>
                                <div style="width: 75px;">
                                    <input type="text" class="form-control search-filter" style="width: 100%;" ng-model="filter.filters.factoryUD" />
                                </div>
                                <div style="width: 100px;"></div>
                                <div style="width: 65px;">
                                    <input type="text" class="form-control search-filter" style="width: 100%;" ng-model="filter.filters.factoryWarehousePalletUD" />
                                </div>
                                <div style="width: 90px;"></div>
                                @*<div style="width: 200px;"></div>
                                    <div style="width: 90px;"></div>
                                    <div style="width: 90px;"></div>
                                    <div style="width: 90px;"></div>
                                    <div style="width: 120px;"></div>
                                    <div style="width: 130px;"></div>
                                    <div style="width: 75px;"></div>*@
                                <div style="width:200px"></div>
                                <div style="border-bottom: none;"></div>
                            </div>
                            <div class="tilsoft-table-totalrow" style="width: 1655px; margin-top: 95px;">
                                <div style="width: 63px;">
                                </div>
                                <div style="width: 100px;"></div>
                                <div style="width: 80px;"></div>
                                <div style="width: 400px;">
                                </div>
                                <div style="width: 70px;">
                                </div>
                                <div style="width: 75px;">
                                </div>
                                <div style="width: 100px;"></div>
                                <div style="width: 65px;">
                                </div>
                                <div style="width: 90px;">{{totalQuantity}}</div>
                                <div style="width:200px"></div>
                                <div></div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1588px; margin-top: 125px;">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="item in data">
                                            <td style="width: 63px; text-align: center;">{{$index + 1}}</td>
                                            <td style="width: 100px;">{{item.season}}</td>
                                            <td style="width: 80px;">
                                                <a href="{{item.fileLocation}}" data-featherlight="image">
                                                    <img style="width: 95%;" ng-src="{{item.thumbnailLocation}}" />
                                                </a>
                                            </td>
                                            <td style="width: 400px;">
                                                <a href="@Url.Action("Edit", "Sample2Mng")/{{item.sampleOrderID}}" target="_blank" ng-if="(item.sampleOrderID != null)">
                                                    {{item.productionItemUD}}
                                                </a>
                                                <a href="@Url.Action("Edit", "Product")/{{item.productID}}" target="_blank" ng-if="(item.productID != null)">
                                                    {{item.productionItemUD}}
                                                </a>
                                                <a href="@Url.Action("Edit", "ProductionItem")/{{item.productionItemID}}" target="_blank" ng-if="(item.productID == null && item.sampleOrderID == null)">
                                                    {{item.productionItemUD}}
                                                </a>
                                                <br />
                                                {{item.productionItemNM}}
                                            </td>
                                            @*<td style="width: 50px; text-align: center;">
                                                {{item.unitNM}}
                                            </td>*@
                                            <td style="width: 70px; text-align: center;">
                                                {{item.clientUD}}
                                            </td>
                                            <td style="width: 75px; text-align: center;">
                                                {{item.factoryUD}}
                                            </td>
                                            <td style="width: 100px; text-align: center;">
                                                {{item.factoryWarehouseNM}}
                                            </td>
                                            <td style="width: 65px; text-align: center;">
                                                <div ng-repeat="sItem in factoryWarehousePallets | filter: { productionItemID: item.productionItemID, factoryWarehouseID: item.factoryWarehouseID } : true">
                                                    {{sItem.factoryWarehousePalletUD}}
                                                </div>
                                            </td>
                                            <td style="width: 90px; text-align: right;">
                                                {{item.warehouseQuantity}}
                                            </td>
                                            <td style="width:200px">
                                                <div ng-repeat="sItem in receivingNotes | filter: { productionItemID: item.productionItemID, toFactoryWarehouseID: item.factoryWarehouseID }">
                                                    <a href="@Url.Action("Edit", "ReceivingNoteDefaultMng")/{{sItem.receivingNoteID}}" target="_blank">{{sItem.receivingNoteUD}}</a>
                                                </div>
                                            </td>
                                            @*<td style="width: 200px;">
            <div ng-repeat="subItem in descriptions | filter : {productionItemID: item.productionItemID, factoryWarehouseID: item.factoryWarehouseID} : true">
                <label>{{subItem.description}}</label>
            </div>
        </td>
        <td style="width: 90px;">
            <label ng-if="item.materialNM != null">{{item.materialNM}} / {{item.materialTypeNM}} / {{item.materialColorNM}}</label>
        </td>
        <td style="width: 90px;">
            <label ng-if="item.material2NM != null">{{item.material2NM}} / {{item.materialType2NM}} / {{item.materialColor2NM}}</label>
        </td>
        <td style="width: 90px;">
            <label ng-if="item.material3NM != null">{{item.material3NM}} / {{item.materialType3NM}} / {{item.materialColor3NM}}</label>
        </td>
        <td style="width: 120px;">
            <label ng-if="item.seatCushionNM != null">{{item.seatCushionNM}} / {{item.seatCushionSpecification}}</label>
        </td>
        <td style="width: 130px;">
            <label ng-if="item.backCushionNM != null">{{item.backCushionNM}} / {{item.backCushionSpecification}}</label>
        </td>
        <td style="width: 75px;">
            {{item.cushionColorNM}}
        </td>*@
                                            <td style="border-bottom: none;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>


@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.refresh()"><i class="fa fa-search"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.clear()"><i class="fa fa-refresh"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Export Excel" style="color: #31B404" ng-click="event.exportExcel()"><i class="fa fa-file-excel-o"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Export Excel Without Image" style="color: #31B404" ng-click="event.exportExcelWithoutImage()"><i class="fa fa-file-excel-o"></i></a>
    </li>
</ul>
}


@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(serviceRoot)/api/showroomRpt/',
            token: '@token',
            pageSize: '@pageSize',
            cookieID: '@cookieID',
            backendReportUrl: '@backendReportUrl',
        }
    </script>
    <script type="text/javascript" src="~/Angular/app/showroomRpt/index.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/showroomRpt/service.js?v=@guid"></script>


}
