<div id="frmProduct" class="row" style="display: none;">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-product" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" role="widget">
            <header role="heading">
                <h2>Product Info: #{{currentProduct.displayIndex}} - {{currentProduct.articleDescription}} - Code: {{currentProduct.sampleProductUD}}</h2>
            </header>
            <div role="content">
                <div class="widget-body no-padding">
                    <div class="widget-body-toolbar">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="event.updateProductInfo()"><i class="fa fa-save"></i> Save</a>
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="event.closeProductInfo()"><i class="fa fa-times"></i> Close</a>
                    </div>
                    <section class="smart-form">
                        <fieldset>
                            <h2 style="margin-bottom: 15px;">Product Information</h2>
                            <section>
                                <label class="label">Reference Images</label>
                                <ul class="ulcols-4">
                                    <li ng-repeat="item in currentProduct.sampleReferenceImages" class="{{item.isDefault ? 'active' : ''}}">
                                        <div class="content">
                                            <a href="{{item.fileLocation}}" data-featherlight="image">
                                                <div class="img" style="background: url('{{item.thumbnailLocation}}') no-repeat center center; background-size: contain;"></div>
                                            </a>
                                            <p>
                                                <u>Bring In By</u>: {{item.bringInBy}}
                                                <br />
                                                <u>Bring In Date</u>: {{item.bringInDate}}
                                                <br />
                                                <u>Remark</u>: {{item.remark}}
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                        </fieldset>
                        <fieldset>
                            <h2 style="margin-bottom: 15px;">Sales NL</h2>
                            <div class="row">
                                <section class="col col-10">
                                    <label class="label">Model <span ng-if="currentProduct.modelID">(Code: {{currentProduct.modelUD}})</span></label>
                                    <label class="input">
                                        <input type="text" readonly value="{{currentProduct.articleDescription}}">
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Status</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{currentProduct.sampleProductStatusNM}}" />
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">Material <span ng-if="currentProduct.materialID">(Code: {{currentProduct.materialUD}})</span></label>
                                    <label class="input">
                                        <input type="text" readonly value="{{currentProduct.materialDescription}}" />
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Material Type <span ng-if="currentProduct.materialTypeID">(Code: {{currentProduct.materialTypeUD}})</span></label>
                                    <label class="input">
                                        <input type="text" readonly value="{{currentProduct.materialTypeDescription}}" />
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Material Color <span ng-if="currentProduct.materialColorID">(Code: {{currentProduct.materialColorUD}})</span></label>
                                    <label class="input">
                                        <input type="text" readonly value="{{currentProduct.materialColorDescription}}" />
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">Material 2 <span ng-if="currentProduct.materialID">(Code: {{currentProduct.material2UD}})</span></label>
                                    <label class="input">
                                        <input type="text" readonly value="{{currentProduct.material2Description}}" />
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Material 2 Type <span ng-if="currentProduct.material2TypeID">(Code: {{currentProduct.material2TypeUD}})</span></label>
                                    <label class="input">
                                        <input type="text" readonly value="{{currentProduct.material2TypeDescription}}" />
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Material 2 Color <span ng-if="currentProduct.material2ColorID">(Code: {{currentProduct.material2ColorUD}})</span></label>
                                    <label class="input">
                                        <input type="text" readonly value="{{currentProduct.material2ColorDescription}}" />
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">Material 3 <span ng-if="currentProduct.materialID">(Code: {{currentProduct.material3UD}})</span></label>
                                    <label class="input">
                                        <input type="text" readonly value="{{currentProduct.material3Description}}" />
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Material 3 Type <span ng-if="currentProduct.material3TypeID">(Code: {{currentProduct.material3TypeUD}})</span></label>
                                    <label class="input">
                                        <input type="text" readonly value="{{currentProduct.material3TypeDescription}}" />
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Material 3 Color <span ng-if="currentProduct.material3ColorID">(Code: {{currentProduct.material3ColorUD}})</span></label>
                                    <label class="input">
                                        <input type="text" readonly value="{{currentProduct.material3ColorDescription}}" />
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Back Cushion <span ng-if="currentProduct.backCushionID">(Code: {{currentProduct.backCushionUD}})</span></label>
                                    <label class="input">
                                        <input type="text" readonly value="{{currentProduct.backCushionDescription}}" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Seat Cushion <span ng-if="currentProduct.seatCushionID">(Code: {{currentProduct.seatCushionUD}})</span></label>
                                    <label class="input">
                                        <input type="text" readonly value="{{currentProduct.seatCushionDescription}}" />
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Cushion Color <span ng-if="currentProduct.cushionColorID">(Code: {{currentProduct.cushionColorUD}})</span></label>
                                    <label class="input">
                                        <input type="text" readonly value="{{currentProduct.cushionColorDescription}}" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Quantity</label>
                                    <label class="input">
                                        <input readonly type="text" style="text-align: right;" ng-model="currentProduct.quantity" />
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <fieldset>
                            <h2 style="margin-bottom: 15px;">Development</h2>
                            <section>
                                <label class="checkbox state-disabled">
                                    <input name="checkbox" type="checkbox" ng-model="currentProduct.isDevelopment" disabled>
                                    <i></i>Development Item ?
                                </label>
                            </section>
                        </fieldset>
                        <fieldset>
                            <h2 style="margin-bottom: 15px;">SCM NL</h2>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Factory Deadline</label>
                                    <label class="input">
                                        <input readonly type="text" ng-model="currentProduct.factoryDeadline" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Factory</label>
                                    <label class="input">
                                        <input readonly type="text" ng-model="currentProduct.vnSuggestedFactoryUD" />
                                    </label>
                                </section>
                                <section class="col col-8" ng-if="currentProduct.sampleProductSubFactories.length > 0">
                                    <label class="label">Sub Factory</label>
                                    <div class="input-group">
                                        <div class="bootstrap-tagsinput" style="box-sizing: border-box;">
                                            <span class="tag label label-info" style="margin: 2px !important; padding: 3px 28px 3px 8px;" ng-repeat="factory in currentProduct.sampleProductSubFactories">
                                                {{factory.factoryUD}}
                                            </span>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </fieldset>
                        <fieldset>
                            <h2 style="margin-bottom: 15px;">Item data</h2>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">Overall Dimension (L/W/H)</label>
                                    <label class="input">
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="Length" type="text" ng-model="currentProduct.overallDimL" />
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="Width" type="text" ng-model="currentProduct.overallDimW" />
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="Height" type="text" ng-model="currentProduct.overallDimH" />
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Load Ability (20DC/40DC/40HC)</label>
                                    <label class="input">
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="20DC" type="text" ng-model="currentProduct.loadAbility20DC" />
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="40DC" type="text" ng-model="currentProduct.loadAbility40DC" />
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="40HC" type="text" ng-model="currentProduct.loadAbility40HC" />
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Carton Box Dimension (L/W/H)</label>
                                    <label class="input">
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="Length" type="text" ng-model="currentProduct.cartonBoxDimL" />
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="Width" type="text" ng-model="currentProduct.cartonBoxDimW" />
                                        <input style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="Height" type="text" ng-model="currentProduct.cartonBoxDimH" />
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Net Weight</label>
                                    <label class="input">
                                        <input type="text" style="text-align: right;" ng-model="currentProduct.netWeight" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Gross Weight</label>
                                    <label class="input">
                                        <input type="text" style="text-align: right;" ng-model="currentProduct.grossWeight" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Item/Box</label>
                                    <label class="input">
                                        <input type="text" style="text-align: right;" ng-model="currentProduct.itemPerBox" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Box/Set</label>
                                    <label class="input">
                                        <input type="text" style="text-align: right;" ng-model="currentProduct.boxPerSet" />
                                    </label>
                                </section>                                
                            </div>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Factory Breakdown</label>
                                    <label class="input">
                                        <span class="form-control" style="text-align: right;">
                                            <a target="_blank" ng-if="!currentProduct.factoryBreakdownID" href="@Url.Action("View", "BreakDownMng")/0?modelId=0&sampleProductId={{currentProduct.sampleProductID}}&offerLineId=0&factoryId={{currentProduct.vnSuggestedFactoryID}}">{{currentProduct.factoryBreakdownPriceUSD | currency:'$':2}}</a>
                                            <a target="_blank" ng-if="currentProduct.factoryBreakdownID" href="@Url.Action("Edit", "FactoryBreakdownMng")/{{currentProduct.factoryBreakdownID}}">{{currentProduct.factoryBreakdownPriceUSD | currency:'$':2}}</a>
                                        </span>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <fieldset>
                            <h2>Item location</h2>
                            <section>
                                <ul style="list-style-position: inside;">
                                    <li ng-repeat="location in currentProduct.sampleProductLocationDTOs">
                                        <strong>{{location.sampleProductItemUD}}</strong>: {{location.currentLocation}} <span ng-if="location.locationDate">({{location.locationDate}})</span>
                                    </li>
                                </ul>
                            </section>                                                 
                        </fieldset>
                        <fieldset>
                            <section>
                                <label class="label">Update from Eurofar</label>
                                <div class="note">
                                    <strong>Updated by</strong>:
                                    <a ng-if="currentProduct.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{currentProduct.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        <small><strong>{{currentProduct.updatorName}}</strong></small>
                                    </a>
                                </div>
                                <div class="note"><strong>Updated date</strong>: {{currentProduct.updatedDate}}</div>
                            </section>
                            <section>
                                <label class="label">Update from Factory</label>
                                <div class="note">
                                    <strong>Updated by</strong>:
                                    <a ng-if="currentProduct.itemInfoUpdatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{currentProduct.itemInfoUpdatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        <small><strong>{{currentProduct.itemUpdatorName}}</strong></small>
                                    </a>
                                </div>
                                <div class="note"><strong>Updated date</strong>: {{currentProduct.itemInfoUpdatedDate}}</div>
                            </section>
                            <section>
                                <label class="label">Status Updated</label>
                                <div class="note">
                                    <strong>Updated by</strong>:
                                    <a ng-if="currentProduct.statusUpdatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{currentProduct.statusUpdatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        <small><strong>{{currentProduct.statusUpdatorName}}</strong></small>
                                    </a>
                                </div>
                                <div class="note"><strong>Updated date</strong>: {{currentProduct.statusUpdatedDate}}</div>
                            </section>
                        </fieldset>
                    </div>
                    <div class="widget-footer" style="text-align: left;">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="event.updateProductInfo()"><i class="fa fa-save"></i> Save</a>
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="event.closeProductInfo()"><i class="fa fa-times"></i> Close</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>