@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create Warehouse Commercial Invoice";
    }
    else
    {
        ViewBag.Title = "Edit Warehouse Commercial Invoice";
    }

    ViewBag.Module = "Warehouse Commercial Invoice";
}

<div class="row">

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>General</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <form name="editForm">
                        <fieldset>

                            
                            <div class="form-group">
                                <label>Invoice No</label>
                                <input class="form-control" type="text" name="invoiceNo" ng-model="mainData.warehouseCIData.invoiceNo" required>
                            </div>

                            <div class="form-group">
                                <label>Issused Date</label>
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="mainData.warehouseCIData.issuedDateFormated">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label>Client</label>
                                <select class="form-control" name="clientID" ng-model="mainData.warehouseCIData.clientID" ng-options="item.clientID as item.clientNM for item in mainData.clients">
                                    <option value=""></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Client Name</label>
                                <span class="form-control">{{mainData.warehouseCIData.clientNM}}</span>
                            </div>

                            
                            <div class="form-group">
                                <label>Order No</label>
                                <input class="form-control" type="text" name="orderNo" ng-model="mainData.warehouseCIData.orderNo">
                            </div>

                            <div class="form-group">
                                <label>Ref No</label>
                                <input class="form-control" type="text" name="refNo" ng-model="mainData.warehouseCIData.refNo" >
                            </div>

                            <div class="form-group">
                                <label>Currency</label>
                                <select class="form-control" name="currency" ng-model="mainData.warehouseCIData.currency" ng-options="item.currencyValue as item.currencyText for item in mainData.currency">
                                    <option value=""></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>ExRate</label>
                                <input class="form-control" type="text" name="exRate" ng-model="mainData.warehouseCIData.exRate">
                            </div>

                            <div class="form-group">
                                <label>Account No</label>
                                <select class="form-control" name="ledgerAccountID" ng-model="mainData.warehouseCIData.ledgerAccountID" ng-options="item.accountNo as item.accountNM for item in mainData.turnOverLedgerAccounts">
                                    <option value=""></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Warehouse</label>
                                <select class="form-control" ng-model="mainData.warehouseCIData.warehouseID" ng-options="item.wareHouseID as item.wareHouseNM for item in mainData.wareHouses">
                                    <option value=""></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>VAT Rate</label>
                                <input class="form-control" type="text" name="vatRate" ng-model="mainData.warehouseCIData.vatRate">
                            </div>

                            <div class="form-group">
                                <label>VAT Rate</label>
                                <input class="form-control" type="text" name="vatRate" ng-model="mainData.warehouseCIData.vatRate">
                            </div>


                            <div class="form-group">
                                <label>Sub Total</label>
                                <span class="form-control">{{mainData.warehouseCIData.subTotal}}</span>
                            </div>

                            <div class="form-group">
                                <label>Total</label>
                                <span class="form-control">{{mainData.warehouseCIData.totalAmount}}</span>
                            </div>

                            <div class="form-group">
                                <label>Remark</label>
                                <span class="form-control">{{mainData.warehouseCIData.remark}}</span>
                            </div>

                            <div class="form-group">
                                <label>Created By</label>
                                <span class="form-control">{{mainData.warehouseCIData.creatorName}}</span>
                            </div>

                            <div class="form-group">
                                <label>Created Date</label>
                                <span class="form-control">{{mainData.warehouseCIData.createdDateFormated}}</span>
                            </div>

                            <div class="form-group">
                                <label>Updated By</label>
                                <span class="form-control">{{mainData.warehouseCIData.updatorName}}</span>
                            </div>

                            <div class="form-group">
                                <label>Updated Date</label>
                                <span class="form-control">{{mainData.warehouseCIData.updatedDateFormated}}</span>
                            </div>

                            

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </article>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-detail-piece" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>Invoice Detail</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <div id="detailExtendTable" class="table-responsive">
                        <button ng-click="addDetailExtend($event)">Add</button>
                        <table class="table table-bordered table-hover custom-table dataTable">
                            <thead>
                                <tr>
                                    <th style="width: 20px;"></th>
                                    <th class="sorting" data-colname="articleCode" style="width: 120px;">ARTICLECODE</th>
                                    <th class="sorting" data-colname="description">DESCRIPTION</th>
                                    <th class="sorting" data-colname="unit" style="width: 40px;">QUANTITY</th>
                                    <th class="sorting" data-colname="quantityShipped" style="width: 80px;">PRICE</th>
                                    <th class="sorting" data-colname="pkGs" style="width: 80px;">AMOUNT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in mainData.packingListData.packingListDetailExtends">
                                    <td style="text-align: center;"><a href="#" title="Remove" ng-click="removeLine($event, item.warehouseCIDetailID)"><i class="fa fa-times-circle grid-button"></i></a></td>
                                    <td>{{item.articleCode}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.unitPrice}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </article>
    

</div>


@section pagepopup
{
    <div id="initForm" class="popup-container">
        <div class="content" style="padding-top: 0px;">
            <form name="search_initdata">
                <header>
                    <h2>Search invoice to create packing list</h2>
                </header>
                <label>Bill No.</label>
                <input class="form-control" type="text" id="BLNo" ng-model="initForm.inputData.BLNo">
                <br />
                <button ng-click="initForm.event.search($event)">Search</button>
                <div style="overflow-y: scroll; height: 75%;">
                    <div class="widget-body">
                        <div id="init_data_table" class="table-responsive">
                            <table class="table table-bordered table-hover custom-table dataTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20px;"></th>
                                        <th class="sorting" data-colname="invoiceNo" style="width: 80px;">Invoice No</th>
                                        <th class="sorting" data-colname="invoiceDateFormated" style="width: 80px;">Invoice Date</th>
                                        <th class="sorting" data-colname="blNo" style="width: 80px;">BL No</th>
                                        <th class="sorting" data-colname="shipedDateFormated" style="width: 80px;">Shipped Date</th>
                                        <th class="sorting" data-colname="podName" style="width: 80px;">POD</th>
                                        <th class="sorting" data-colname="polName" style="width: 80px;">POL</th>
                                        <th class="sorting" data-colname="forwarderNM">Forwarder</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="init_item in initForm.initSearchResult.master_data">
                                        <td style="text-align: center;"><button ng-click="initForm.event.select($event, init_item.purchasingInvoiceID)">Select</button></td>
                                        <td>{{init_item.invoiceNo}}</td>
                                        <td>{{init_item.invoiceDateFormated}}</td>
                                        <td>{{init_item.blNo}}</td>
                                        <td>{{init_item.shipedDateFormated}}</td>
                                        <td>{{init_item.podName}}</td>
                                        <td>{{init_item.polName}}</td>
                                        <td>{{init_item.forwarderNM}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <button ng-click="initForm.event.cancel($event)">Cancel</button>
            </form>
        </div>
    </div>
}

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Index", "WarehouseCI")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="delete($event)"><i class="fa fa-times"></i></a>
        </li>

        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Print" ng-click="print($event)"><i class="fa fa-print"></i></a>
        </li>


    </ul>
}

@section pagejs {
    <script src="~/Angular/app/warehouseCI/service.js"></script>
    <script type="text/javascript">
        warehouseCIService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/WarehouseCI/';
        warehouseCIService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var warehouseCIApp = angular.module('tilsoftApp', []);
        warehouseCIApp.controller('tilsoftController', ['$scope', function ($scope) {
        $scope.mainData = null;

        $scope.load = function()
        {
            warehouseCIService.load(
                @ViewBag.ID,
                function (data) {
                    $scope.mainData = data.data;
                    $scope.$apply();

                    jQuery('#content').show();
                    // monitor changes
                    $scope.$watch('warehouseci', function() {
                        jQuery('#changeNotification').html('<i class="fa fa-save blink_me"></i>');
                    });
                },
                function (error) {
                    jsHelper.showMessage('warning', error);

                    $scope.mainData = null;
                    $scope.$apply();
                }
            );
        }

        $scope.update = function ($event) {
            $event.preventDefault();

            if($scope.editForm.$valid)
            {
                warehouseCIService.update(@ViewBag.ID, $scope.mainData.warehouseCIData,
                function (data) {
                    jsHelper.processMessage(data.message);
                    if(data.message.type == 0) {
                        window.location = '@Url.Action("Index", "WarehouseCI")';
                    }
                },
                    function (error) {
                        jsHelper.showMessage('warning', error);
                    }
                );
            }
            else
            {
                jsHelper.showMessage('warning', '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED');
            }
        }

        $scope.delete = function ($event) {
            $event.preventDefault();

            if (confirm('Are you sure ?')) {
                warehouseCIService.delete(@ViewBag.ID,
                function (data) {
                    jsHelper.processMessage(data.message);
                    if(data.message.type == 0) {
                        window.location = '@Url.Action("Index", "WarehouseCI")';
                    }
                },
                function (error) {
                    jsHelper.showMessage('warning', error);
                }
            );
            }
        }

        $scope.addExtDetail = function($event){
            $event.preventDefault();

            var arr = $scope.mainData.warehouseCIData.warehouseCIExtDetails.filter(function(o){ return o.warehouseCIExtDetailID < 0});
            max_id = -1;
            if (arr.length > 0)
            {
                arr.sort(function(a,b){return a.warehouseCIExtDetailID - b.warehouseCIExtDetailID});
                max_id = arr[0].warehouseCIExtDetailID - 1;
            }
            $scope.mainData.warehouseCIData.warehouseCIExtDetails.push({
                warehouseCIExtDetailID : max_id
            });
            $scope.$apply();
        }

        $scope.removeExtDetail = function($event, id){
            $event.preventDefault();
            isExist = false;
            for(j=0; j< $scope.mainData.warehouseCIData.warehouseCIExtDetails.length; j++) {
                if($scope.mainData.warehouseCIData.warehouseCIExtDetails[j].warehouseCIExtDetailID == id) {
                    isExist = true;
                    break;
                }
            }
            if(isExist){
                $scope.mainData.warehouseCIData.warehouseCIExtDetails.splice(j, 1);
            }
        }


        //load form
        $scope.load();

    }]);

    </script>
}

