@{
    ViewBag.Title = "Search Warehouse Commercial Invoice";
    ViewBag.Module = "Warehouse Commercial Invoice";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <fieldset>
                        <div class="form-group">
                            <label>Invoice No</label>
                            <input class="form-control" type="text" ng-model="filters.InvoiceNo">

                            <label>Ref No</label>
                            <input class="form-control" type="text" ng-model="filters.RefNo">

                            <label>OrderNo</label>
                            <input class="form-control" type="text" ng-model="filters.OrderNo">

                            <label>Client Code</label>
                            <input class="form-control" type="text" ng-model="filters.ClientUD">

                            <label>Client Name</label>
                            <input class="form-control" type="text" ng-model="filters.ClientNM">
                        </div>
                        
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div id="searchResult" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 4700px;">
                                <div style="width: 60px;"></div>
                                <div style="width: 250px;" class="sorting" data-colname="invoiceNo">Invoice No</div>
                                <div style="width: 250px;" class="sorting_asc" data-colname="issuedDate">Issued Date</div>
                                <div style="width: 250px;" class="sorting" data-colname="clientUD">Client Code</div>
                                <div style="width: 250px;" class="sorting" data-colname="clientNM">Client Name</div>
                                <div style="width: 250px;" class="sorting" data-colname="orderNo">Order No</div>
                                <div style="width: 250px;" class="sorting" data-colname="refNo">Ref No</div>
                                <div style="width: 250px;" class="sorting" data-colname="currency">Currency</div>
                                <div style="width: 250px;" class="sorting" data-colname="exRate">ExRate</div>
                                <div style="width: 250px;" class="sorting" data-colname="accountNo">TurnOver Acc No</div>
                                <div style="width: 250px;" class="sorting" data-colname="warehouseNM">Warehouse</div>
                                <div style="width: 250px;" class="sorting" data-colname="vatRate">VAT Rate</div>
                                <div style="width: 250px;" class="sorting" data-colname="subTotal">Sub Total</div>
                                <div style="width: 250px;" class="sorting" data-colname="totalAmount">Total Amount</div>
                                <div style="width: 250px;" class="sorting" data-colname="creatorName">Created By</div>
                                <div style="width: 250px;" class="sorting" data-colname="createdDate">Created Date</div>
                                <div style="width: 250px;" class="sorting" data-colname="updatorName">Updated By</div>
                                <div style="width: 250px;" class="sorting" data-colname="updatedDate">Update dDate</div>
                                <div class="sorting" data-colname="remark">remark</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 4700px; ">
                                <table>
                                    <tr ng-repeat="item in warehouseCIData">
                                        <td style="text-align: center; width: 60px;">
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                            {
                                                <a href="@Url.Action("Edit", "WarehouseCI")/{{model.offerID}}/1" title="View (Read Only) title=" view (read only)"><i class="fa fa-folder-open grid-button"></i></a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("Edit", "WarehouseCI")/{{model.offerID}}/1" title="Edit"><i class="fa fa-pencil-square grid-button"></i></a>
                                            }

                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                            {
                                                <a href="#" ng-click="delete(model.offerID,$event)" title="Delete"><i class="fa fa-times-circle grid-button"></i></a>
                                            }
                                        </td>
                                        <td style="width: 250px;">{{item.invoiceNo}}</td>
                                        <td style="width: 250px;">{{item.issuedDateFormated}}</td>
                                        <td style="width: 250px;">{{item.clientUD}}</td>
                                        <td style="width: 250px;">{{item.clientNM}}</td>
                                        <td style="width: 250px;">{{item.orderNo}}</td>
                                        <td style="width: 250px;">{{item.refNo}}</td>
                                        <td style="width: 250px;">{{item.currency}}</td>
                                        <td style="width: 250px;">{{item.exRate}}</td>
                                        <td style="width: 250px;">{{item.accountNo}}</td>
                                        <td style="width: 250px;">{{item.warehouseNM}}</td>
                                        <td style="width: 250px;">{{item.vatRate}}</td>
                                        <td style="width: 250px;">{{item.subTotal}}</td>
                                        <td style="width: 250px;">{{item.totalAmount}}</td>
                                        <td style="width: 250px;">{{item.creatorName}}</td>
                                        <td style="width: 250px;">{{item.createdDateFormated}}</td>
                                        <td style="width: 250px;">{{item.updatorName}}</td>
                                        <td style="width: 250px;">{{item.updatedDateFormated}}</td>
                                        <td>{{item.remark}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.search()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.search()"><i class="fa fa-refresh"></i></a>
        </li>

        <li class="sparks-info">
            <a href="@Url.Action("Edit", "WarehouseCI")/0/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/warehouseCI/service.js"></script>
    <script type="text/javascript">
        var searchResultGrid = jQuery('#searchResult').scrollableTable(
            function(currentPage){
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function(){
                    scope.pageIndex = currentPage;
                    warehouseCIService.searchFilter.pageIndex = scope.pageIndex;
                    scope.search();
                });
            },
            function(sortedBy, sortedDirection){
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function(){
                    warehouseCIService.searchFilter.sortedDirection = sortedDirection;
                    scope.pageIndex = 1;
                    warehouseCIService.searchFilter.pageIndex = scope.pageIndex;
                    warehouseCIService.searchFilter.sortedBy = sortedBy;
                    scope.search();
                });
            }
        );

        warehouseCIService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/WarehouseCI/';
        warehouseCIService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        warehouseCIService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];

        var warehouseCIApp = angular.module('tilsoftApp', []);
        warehouseCIApp.controller('tilsoftController', ['$scope', function ($scope) {
            //
            // data
            //
            $scope.warehouseCIData = null;
            $scope.filters = {
                InvoiceNo: '',
                RefNo: '',
                OrderNo: '',
                ClientUD: '',
                ClientNM: '',
            };
            $scope.pageIndex = 1;
            $scope.totalPage = 0;

            //
            // event defined
            //
            $scope.event = {
                search: function(){
                    warehouseCIService.searchFilter.filters = $scope.filters;
                    $scope.search();
                }
            }

            $scope.search = function () {
                warehouseCIService.search(
                    function (data) {
                        $scope.warehouseCIData = data.data;
                        $scope.totalPage = Math.ceil(data.totalRows / warehouseCIService.searchFilter.pageSize);
                        $scope.$apply();

                        if(data.totalRows < warehouseCIService.searchFilter.pageSize) {
                            jQuery('#searchResult').find('ul').hide();
                        }
                        else {
                            jQuery('#searchResult').find('ul').show();
                        }

                        jQuery('#content').show();
                        searchResultGrid.updateLayout();
                    },
                    function (error) {
                        $scope.warehouseCIData = null;
                        $scope.pageIndex = 1;
                        $scope.totalPage = 0;
                        $scope.$apply();
                    }
                );
            }

            $scope.delete = function (id,$event) {
                $event.preventDefault();
                if (confirm('Are you sure ?')) {
                    warehouseCIService.delete(id,
                        function (data) {
                            jsHelper.processMessage(data.message);

                            if(data.message.type == 0) {
                                var j = -1;
                                for (var i = 0; i < $scope.warehouseCIData.length; i++) {
                                    if ($scope.warehouseCIData[i].warehouseCIID == data.data) {
                                        j = i;
                                        break;
                                    }
                                }

                                if (j >= 0) {
                                    $scope.models.splice(j, 1);
                                }

                                $scope.$apply();
                            }
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                        }
                    );
                }
            }

            //
            // INIT
            //
            $scope.search();
        }]);
    </script>
}