@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Booking";
    }
    else
    {
        ViewBag.Title = "Edit Booking";
    }

    ViewBag.Module = "Booking";
}

<form class="row" name="editForm">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <span class="hidden-mobile hidden-tablet"> General Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabBL"> <span class="hidden-mobile hidden-tablet"> B/L Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabContainer"> <span class="hidden-mobile hidden-tablet"> Container Detail </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabTracking"> <i class="fa fa-history"></i> <span class="hidden-mobile hidden-tablet"> Tracking </span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabGeneral">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Booking Code</label>
                                            <label class="input">
                                                <span class="form-control">{{data.bookingUD}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Booking Date</label>
                                            <label class="input">
                                                <input type="text" class="datepicker" ng-model="data.bookingDate" data-dateformat="dd/mm/yy" />
                                                <i class="icon-append fa fa-calendar"></i>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Season</label>
                                            <label class="input">
                                                <span class="form-control">{{data.season}}</span>
                                            </label>
                                        </section>                                        
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Confirmation No</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.confirmationNo" />
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">Client</label>
                                            <label class="select">
                                                <span class="form-control">{{data.clientUD}}</span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <div class="col col-6">
                                            <section>
                                                <label class="label">Supplier</label>
                                                <label class="select">
                                                    <span class="form-control">{{data.supplierNM}}</span>
                                                </label>
                                            </section>
                                            <section>
                                                <label class="label">Shipper</label>
                                                <label class="textarea textarea-resizable">
                                                    <textarea class="custom-scroll" ng-model="data.shipperInfo" rows="6"></textarea>
                                                </label>
                                            </section>
                                        </div>
                                        <div class="col col-6">
                                            <section>
                                                <label class="label">Forwarder</label>
                                                <label class="select">
                                                    <select ng-model="data.forwarderID" ng-options="forwarder.forwarderID as forwarder.forwarderNM for forwarder in forwarders">
                                                        <option value=""></option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>
                                            <section>
                                                <label class="label">Forwarder Information</label>
                                                <label class="textarea textarea-resizable">
                                                    <textarea class="custom-scroll" ng-model="data.forwarderInfo" rows="6"></textarea>
                                                </label>
                                            </section>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-6">
                                            <section>
                                                <label class="label">Notified Party 1</label>
                                                <label class="textarea textarea-resizable">
                                                    <textarea class="custom-scroll" ng-model="data.notifyParty1Info" rows="6"></textarea>
                                                </label>
                                            </section>
                                            <section>
                                                <label class="label">Notified Party 2</label>
                                                <label class="textarea textarea-resizable">
                                                    <textarea class="custom-scroll" ng-model="data.notifyParty2Info" rows="6"></textarea>
                                                </label>
                                            </section>
                                        </div>
                                        <div class="col col-6">
                                            <section>
                                                <label class="label">Consignee</label>
                                                <label class="textarea textarea-resizable">
                                                    <textarea class="custom-scroll" ng-model="data.consigneeInfo" rows="6"></textarea>
                                                </label>
                                            </section>
                                            <section>
                                                <label class="label">Remark</label>
                                                <label class="textarea textarea-resizable">
                                                    <textarea class="custom-scroll" ng-model="data.remark" rows="6"></textarea>
                                                </label>
                                            </section>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabBL">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">BLNo / @Html.Partial("~/Views/Shared/_Controls/_FileUploadBox.cshtml", new Frontend.Models.FileUploadViewModel() { ControlID = "data.bLNo", URLBinding = "data.blFileURL", FileName = "data.blFileFriendlyName", JSOnChangeHandler = "changeBLFile", JSONRemoveHandler = "removeBLFile" })</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.blNo" />
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Feeder</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.feeder" />
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Vessel</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.vessel" />
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">ETD</label>
                                            <label class="input">
                                                <input type="text" class="datepicker" data-dateformat="dd/mm/yy" ng-model="data.etd" />
                                                <i class="icon-append fa fa-calendar"></i>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Port of Loading</label>
                                            <label class="select">
                                                <select ng-model="data.polid" ng-options="pol.polid as pol.polName for pol in poLs">
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Place of Receipt</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.placeOfReceipt" />
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">
                                                ETA 
                                               {{data.isetaConfirmed ? "Confirmed by " : ""}} {{data.etaConfirmerName}} {{data.isetaConfirmed ? "at " : ""}} {{data.etaConfirmedDate}}
                                               <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 8px;" ng-click="event.confirmETA1($event)">Confirm</a>
                                            </label>
                                            <label class="input">
                                                <input type="text" class="datepicker" data-dateformat="dd/mm/yy" ng-model="data.eta" />
                                                <i class="icon-append fa fa-calendar"></i>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Port of Discharge</label>
                                            <label class="select">
                                                <select ng-model="data.podid" ng-options="pod.podid as pod.podName for pod in poDs">
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Place of Delivery</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.placeOfDelivery" />
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">
                                                ETA 2
                                                {{data.isetA2Confirmed ? "Confirmed by " : ""}} {{data.etA2ConfirmerName}} {{data.isetA2Confirmed ? "at " : ""}} {{data.etA2ConfirmedDate}}
                                                <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 8px;" ng-click="event.confirmETA2($event)">Confirm</a>
                                            </label>
                                            <label class="input">
                                                <input type="text" class="datepicker" data-dateformat="dd/mm/yy" ng-model="data.etA2" />
                                                <i class="icon-append fa fa-calendar"></i>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Moverment Term</label>
                                            <label class="select">
                                                <select ng-model="data.movementTermID" ng-options="movementTerm.movementTermID as movementTerm.movementTermNM for movementTerm in movementTerms">
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Ocean Freight</label>
                                            <label class="select">
                                                <select ng-model="data.occeanFreight" ng-options="oceanFrieght.itemValue as oceanFrieght.itemText for oceanFrieght in oceanFreights">
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">                                       
                                        <section class="col col-4">
                                            <label class="label">KGs</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.kGs" />
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">PKGs</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.pkGs" />
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">CBMs</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.cbMs" />
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">Delivery Term</label>
                                            <label class="select">
                                                <select ng-model="data.deliveryTermID" ng-options="deliveryTerm.deliveryTermID as deliveryTerm.deliveryTermNM for deliveryTerm in deliveryTerms">
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Cut off Date</label>
                                            <label class="input">
                                                <input type="text" class="datepicker" data-dateformat="dd/mm/yy" ng-model="data.cutOffDate" />
                                                <i class="icon-append fa fa-calendar"></i>
                                            </label>
                                        </section>  
                                        <section class="col col-2">
                                            <label class="label">Shipped Date</label>
                                            <label class="input">
                                                <input type="text" class="datepicker" data-dateformat="dd/mm/yy" ng-model="data.shipedDate" />
                                                <i class="icon-append fa fa-calendar"></i>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Original B/L</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.originalBL" />
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Shipping Mark</label>
                                            <label class="textarea textarea-resizable">
                                                <textarea class="custom-scroll" rows="8" ng-model="data.shippingMark"></textarea>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">Description of Goods</label>
                                            <label class="textarea textarea-resizable">
                                                <textarea class="custom-scroll" rows="8" ng-model="data.descriptionOfGoods"></textarea>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabContainer">
                            <div class="smart-form">
                                <fieldset>
                                    <section>
                                        <div class="tilsoft-table-wrapper" id="searchResult">
                                            <div class="tilsoft-table" style=" overflow: hidden;">
                                                <div style="width: 530px;" class="tilsoft-table-header">
                                                    <div style="width: 200px;">Loading Plan REF#</div>
                                                    <div style="width: 200px;">Container No</div>
                                                    <div style="width: 200px;">Seal No</div>
                                                    <div>Type</div>                                                    
                                                </div>
                                                <div style="width: 530px; height: auto !important; overflow: hidden;" class="tilsoft-table-body">
                                                    <table>
                                                        <tr ng-if="data.details.length == 0">
                                                            <td colspan="5" style="text-align: center;">(Empty)</td>
                                                        </tr>
                                                        <tr ng-repeat="item in data.details">
                                                            <td style="width: 200px">{{item.loadingPlanUD}}</td>
                                                            <td style="width: 200px">{{item.containerNo}}</td>
                                                            <td style="width: 200px">{{item.sealNo}}</td>
                                                            <td>{{item.containerTypeNM}}</td>                                                            
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabTracking">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Updated By</label>
                                            <label class="input">
                                                <span class="form-control">{{data.updatorName}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Updated Date</label>
                                            <label class="input">
                                                <span class="form-control">{{data.updatedDate}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Confirmed By</label>
                                            <label class="input">
                                                <span class="form-control">{{data.confirmerName}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Confirmed Date</label>
                                            <label class="input">
                                                <span class="form-control">{{data.confirmedDate}}</span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "Booking")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current)) {{data.isConfirmed==true?'disabled' : ''}}" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current)) {{data.isConfirmed==true?'disabled' : ''}}" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>

        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Print, HttpContext.Current))" title="Print" ng-click="event.print($event)"><i class="fa fa-print"></i></a>
        </li>
        
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Approve, HttpContext.Current)) {{data.isConfirmed==true?'disabled' : ''}}" title="Confirm" style="color: #0066ff; " ng-click="event.approve()"><i class="fa fa-check"></i></a>
        </li>

        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Approve, HttpContext.Current))" title="Un-Confirm" style="color: #ff0000;" ng-click="event.reset()"><i class="fa fa-reply"></i></a>
        </li>

    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script src="~/Angular/app/booking/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/booking/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var tilsoftApp = angular.module('tilsoftApp', ['ui.bootstrap']);
        tilsoftApp.controller('tilsoftController', ['$scope', function ($scope) {
            //
            // property
            //
            $scope.data = null;

            $scope.pols=null;
            $scope.pods=null;
            $scope.forwarders=null;
            $scope.deliveryTerms=null;
            $scope.oceanFreights=null;
            $scope.movementTerms=null;

            //
            // event
            //
            $scope.event = {
                init:function(){
                    jsonService.load(
                        @ViewBag.ID,
                        @Request.Params["cID"],
                        @Request.Params["sID"],
                        '@Request.Params["se"]',
                        function (data) {
                            $scope.data = data.data.data;
                            $scope.poLs = data.data.poLs;
                            $scope.poDs = data.data.poDs;
                            $scope.forwarders = data.data.forwarders;
                            $scope.deliveryTerms = data.data.deliveryTerms;
                            $scope.oceanFreights = data.data.oceanFreights;
                            $scope.movementTerms = data.data.movementTerms;

                            $scope.$apply();
                            jQuery('#content').show();

                            // monitor changes
                            $scope.$watch('data', function() {
                                jQuery('#changeNotification').html('<i class="fa fa-save blink_me"></i>');
                            });

                            //show message if error
                            if(data.message.type == 2) {
                                jsHelper.processMessage(data.message);
                            }
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);

                            $scope.data = null;
                            $scope.pols=null;
                            $scope.pods=null;
                            $scope.forwarders=null;
                            $scope.deliveryTerms=null;
                            $scope.oceanFreights=null;
                            $scope.movementTerms=null;
                            $scope.$apply();
                        }
                    );
                },
                update: function($event){
                    $event.preventDefault();

                    if($scope.editForm.$valid)
                    {
                        jsonService.update(
                            @ViewBag.ID,
                    $scope.data,
                    function (data) {
                        jsHelper.processMessage(data.message);
                        if(data.message.type == 0) {
                            $scope.method.refresh(data.data.bookingID);
                        }
                    },
                    function (error) {
                        jsHelper.showMessage('warning', error);
                    }
                );
                }
                else
                {
                    jsHelper.showMessage('warning', '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED');
                }
            },
            delete: function($event){
                $event.preventDefault();

                if (confirm('Are you sure ?')) {
                    jsonService.delete(
                        @ViewBag.ID,
                        function (data) {
                            jsHelper.processMessage(data.message);
                            if(data.message.type == 0) {
                                window.location = '@Url.Action("Index", "Booking")';
                            }
                        },
                            function (error) {
                                jsHelper.showMessage('warning', error);
                            }
                        );
                }
            },

            approve: function(){
                jsonService.approve(
                        @ViewBag.ID,$scope.data,
                        function (data) {
                            jsHelper.processMessage(data.message);
                            if(data.message.type == 0) {
                                $scope.method.refresh(data.data.bookingID);
                            }
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                        }
                    );
            },

            reset: function(){
                jsonService.reset(
                        @ViewBag.ID,$scope.data,
                        function (data) {
                            jsHelper.processMessage(data.message);
                            if(data.message.type == 0) {
                                $scope.method.refresh(data.data.bookingID);
                            }
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                        }
                    );
            },

            print : function($event){
                $event.preventDefault();
                jsonService.print(@ViewBag.ID,
                    function (data) {
                        window.location = '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data + '.xlsm';
                    },
                    function (error) {
                        jsHelper.showMessage('warning', error);
                    }
                );
            },

            confirmETA1 : function($event){
                $event.preventDefault();
                jsonService.confirmETA($scope.data.bookingID,$scope.data.eta,1,
                    function (data) {
                        jsHelper.processMessage(data.message);
                        if (data.message.type == 0)
                        {
                            var date = new Date();
                            pad = '00';
                            //ETA1
                            $scope.data.isetaConfirmed = true;
                            $scope.data.etaConfirmedDate = pad.substring(0,pad.length - date.getDate().toString().length) +  date.getDate().toString() + '/' + pad.substring(0,pad.length-(date.getMonth()+1).toString().length) + (date.getMonth()+1).toString() + '/' + date.getFullYear();
                            $scope.data.etaConfirmerName = '@Frontend.Helper.AuthHelper.GetCurrentUserInfo(HttpContext.Current).Data.FullName';

                            //ETA2
                            $scope.data.etA2 = $scope.data.eta;
                            $scope.data.isetA2Confirmed = true;
                            $scope.data.etA2ConfirmedDate = pad.substring(0,pad.length - date.getDate().toString().length) +  date.getDate().toString() + '/' + pad.substring(0,pad.length-(date.getMonth()+1).toString().length) + (date.getMonth()+1).toString() + '/' + date.getFullYear();
                            $scope.data.etA2ConfirmerName = '@Frontend.Helper.AuthHelper.GetCurrentUserInfo(HttpContext.Current).Data.FullName';

                            //Refresh data
                            $scope.data.concurrencyFlag_String = data.data;
                            $scope.$apply();
                        }
                    },
                    function (error) {
                        jsHelper.showMessage('warning', error);
                    }
                );
            },

            confirmETA2 : function($event){
                $event.preventDefault();
                jsonService.confirmETA($scope.data.bookingID,$scope.data.etA2,2,
                    function (data) {
                        jsHelper.processMessage(data.message);
                        if (data.message.type == 0)
                        {
                            var date = new Date();
                            pad = '00';
                            //ETA2
                            $scope.data.isetA2Confirmed = true;
                            $scope.data.etA2ConfirmedDate = pad.substring(0,pad.length - date.getDate().toString().length) +  date.getDate().toString() + '/' + pad.substring(0,pad.length-(date.getMonth()+1).toString().length) + (date.getMonth()+1).toString() + '/' + date.getFullYear();
                            $scope.data.etA2ConfirmerName = '@Frontend.Helper.AuthHelper.GetCurrentUserInfo(HttpContext.Current).Data.FullName';

                            //Refresh data
                            $scope.data.concurrencyFlag_String = data.data;
                            $scope.$apply();
                        }
                    },
                    function (error) {
                        jsHelper.showMessage('warning', error);
                    }
                );
            },

            
         };


        $scope.changeBLFile = function ($event,controlID) {
            $event.preventDefault();
            masterUploader.multiSelect = true;
            masterUploader.imageOnly = false;
            masterUploader.callback = function () {
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function () {
                    angular.forEach(masterUploader.selectedFiles, function (img) {
                        scope.data.blFileURL = img.fileURL;
                        scope.data.blFileFriendlyName = img.filename;
                        scope.data.blFileHasChange = true;
                        scope.data.newBLFile = img.filename;
                    }, null);
                });
            };
            masterUploader.open();
        };

        $scope.removeBLFile = function ($event,controlID) {
            $scope.data.blFileURL = '';
            $scope.data.blFileFriendlyName ='';
            $scope.data.blFileHasChange = true;
            $scope.data.newBLFile = '';
        };

        //
        // method
        //
        $scope.method = {
            refresh: function(id){
                jsHelper.loadingSwitch(true);
                window.location = '@Url.Action("Edit", "Booking", new { id = UrlParameter.Optional })/'+id+'?cID=0&sID=0&se=';
            }
        };

        //
        // init
        //
        $scope.event.init();
    }]);
    </script>
}

