@{
    ViewBag.Title = "Sample Order Detail";
    ViewBag.Module = "Sample Order";
    Frontend.APIDTO.APIUserInformation userInfo = (Frontend.APIDTO.APIUserInformation)Session[Frontend.Customize.Common.ProjectDefinition.USER_INFO_SESSION];


    string param = string.Empty;
    if (Request.Params["param"] != null)
    {
        param = Request.Params["param"].ToString();
    }
}

<style>
    tr.approved {
        background: #ca5100 !important;
    }
</style>

<form class="row" name="editForm" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>General Information</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Code</label>
                                    <label class="input">
                                        <span class="form-control">{{data.sampleOrderUD}}({{data.rankName}})</span>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Season</label>
                                    <label class="input">
                                        <span class="form-control">{{data.season}}</span>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Purpose</label>
                                    <label class="input">
                                        <span class="form-control">{{data.purposeNM}}</span>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Transport Type</label>
                                    <label class="input">
                                        <span class="form-control">{{data.transportTypeNM}}</span>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Deadline</label>
                                    <label class="input">
                                        <span class="form-control">{{data.deadline}}</span>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Status</label>
                                    <label class="input">
                                        <span class="form-control">{{data.sampleOrderStatusNM}}</span>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Client</label>
                                    <label class="input">
                                        <span class="form-control">{{data.clientUD}}</span>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Destination</label>
                                    <label class="input">
                                        <span class="form-control">{{data.destination}}</span>
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Remark</label>
                                    <label class="input">
                                        <input type="text" readonly ng-model="data.remark" />
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">NL Monitor</label>
                                    <div class="bootstrap-tagsinput">
                                        <span class="tag label label-info" ng-repeat="item in data.sampleMonitors | filter: {sampleMonitorGroupID: 2}">
                                            <a style="color: #fff;" ng-if="item.userID" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.userID}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                {{item.fullName}}
                                            </a>
                                            ({{item.officeNM}})
                                        </span>
                                    </div>
                                </section>
                                <section class="col col-6">
                                    <label class="label">VN Monitor</label>
                                    <div class="bootstrap-tagsinput">
                                        <span class="tag label label-info" ng-repeat="item in data.sampleMonitors | filter: {sampleMonitorGroupID: 1}">
                                            <a style="color: #fff;" ng-if="item.userID" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.userID}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                {{item.fullName}}
                                            </a>
                                            ({{item.officeNM}})
                                        </span>
                                    </div>
                                </section>
                            </div>
                            <div class="row">
                                <section class=" col col-3">
                                    <div class="note" ng-if="data.creatorName">
                                        <strong>Created by:</strong>
                                        <a ng-if="data.createdBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.createdBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                            {{data.creatorName}}
                                        </a>
                                        ({{data.createdDate}})
                                    </div>
                                </section>
                                <section class=" col col-3">
                                    <div class="note" ng-if="data.updatorName">
                                        <strong>Updated by:</strong>
                                        <a ng-if="data.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                            {{data.updatorName}}
                                        </a>
                                        ({{data.updatedDate}})
                                    </div>
                                </section>
                                <section class=" col col-3">
                                    <div class="note" ng-if="data.statusUpdatorName">
                                        <strong>Status updated by:</strong>
                                        <a ng-if="data.statusUpdatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.statusUpdatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                            {{data.statusUpdatorName}}
                                        </a>
                                        ({{data.statusUpdatedDate}})
                                    </div>
                                </section>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Product Detail</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <div class="row" style="border-bottom: solid 1px #ddd;" ng-repeat="item in data.sampleProducts | orderBy: 'displayIndex'" ng-if="item.sampleProductStatusID !== 1">
                            <section class="col col-3" id="product-{{item.sampleProductID}}">
                                <div>
                                    <a data-featherlight="image" href="{{item.fileLocation}}" style="width: 100px; height: 100px; float: left">
                                        <img style="width: 90px;" ng-src="{{item.thumbnailLocation}}">
                                    </a>
                                    <a data-featherlight="image" href="{{item.finishedImageFileLocation}}" style="width: 100px; height: 100px">
                                        <img style="width: 90px;" ng-src="{{item.finishedImageThumbnailLocation}}">
                                    </a>
                                    <a data-featherlight="image" href="{{item.progressImageFileLocation}}" style="width: 100px; height: 100px">
                                        <img style="width: 90px;height: 100px;" ng-src="{{item.progressImageThumbnailLocation}}">
                                    </a>
                                </div>
                                <div style="margin-top: 5px">
                                    <a href="javascript:void(0)" class="btn btn-primary btn-xs" ng-click="event.openProductInfo(item)" style="width: 80px">Info</a>
                                    <a href="javascript:void(0)" class="btn btn-primary btn-xs" ng-click="event.openQARemark(item)" style="width: 80px" ng-if="item.sampleQARemarks.length > 0"> QA Remark</a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" ng-click="event.openQARemark(item)" style="width: 80px" ng-if="item.sampleQARemarks.length == 0"> QA Remark</a>
                                    <a href="javascript:void(0)" class="btn btn-primary btn-xs" ng-click="event.openProgress(item)" style="width: 80px" ng-if="item.sampleProgresses.length > 0"> Progress</a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" ng-click="event.openProgress(item)" style="width: 80px" ng-if="item.sampleProgresses.length == 0"> Progress</a>
                                </div>
                                <div style="margin-top: 5px;">
                                    <a href="@Url.Action("Edit", "Sample2Mng")/@ViewBag.ID?param=pi:{{item.sampleProductID}},a:-1" target="_blank" class="btn btn-primary btn-xs" style="width: 80px"> Edit</a>
                                    <a href="javascript:void(0)" class="btn btn-primary btn-xs" ng-click="event.openRemark(item)" style="width: 80px" ng-if="item.sampleRemarks.length > 0"> In. Remark</a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" ng-click="event.openRemark(item)" style="width: 80px" ng-if="item.sampleRemarks.length == 0"> In. Remark</a>
                                    @if (Frontend.Helper.AuthHelper.GetActionButtonStatus("BreakDownMng", Frontend.Helper.ActionEnum.Update, HttpContext.Current) != "disabled")
                                    {
                                        <a target="_blank" href="@Url.Action("Edit", "BreakDownMng", new { id = UrlParameter.Optional })/0?modelId=0&sampleProductId={{item.sampleProductID}}&offerLineId=0" class="btn btn-primary btn-xs" title="Breakdown" style="width: 80px" ng-if="sampleProductBreakdownID != null"> Breakdown</a>
                                        <a target="_blank" href="@Url.Action("Edit", "BreakDownMng", new { id = UrlParameter.Optional })/0?modelId=0&sampleProductId={{item.sampleProductID}}&offerLineId=0" class="btn btn-default btn-xs" title="Breakdown" style="width: 80px" ng-if="sampleProductBreakdownID == null"> Breakdown</a>
                                    }
                                    <a ng-if="item.istdNeeded && false" href="javascript:void(0)" class="btn btn-success btn-xs" ng-click="event.openTechnicalDrawing(item)" style="width: 80px; margin-top: 5px"> Tec. Drawing</a>
                                </div>
                            </section>
                            <section class="col col-9">
                                <h3 style="display: inline-block;"># {{item.displayIndex}}: {{item.sampleProductStatusNM}} - Code: {{item.sampleProductUD}}</h3> <input type="checkbox" ng-model="item.isExport" ng-show="item.sampleProductLocationDTOs.length > 0"> <input type="text" class="form-control" style="width: 90px; display: inline-flex; margin-top: 5px; text-align: right" avs-number ng-show="item.isExport" ng-data-source="item.qntBarcode" value="1" />
                                &nbsp;&nbsp;
                                <span style="font-size:13px">
                                        Type: <span ng-if="item.developmentTypeID == 1">New Item</span><span ng-if="item.developmentTypeID == 2">Upgrade Item</span><span ng-if="item.developmentTypeID == 3">Exist Item</span>
                                    </span>
                                &nbsp;&nbsp;
                                <span style="font-size:13px">
                                    <span ng-if="item.sampleProductStatusID == 2 || item.sampleProductStatusID == 3">Status: In Progress</span><span ng-if="item.sampleProductStatusID > 3 && item.sampleProductStatusID != 5">Status: Finish</span>
                                </span>
                                &nbsp;&nbsp;
                                <span style="font-size:13px">
                                    Approve By Client: <span ng-if="item.sampleProductStatusID > 4 && item.sampleProductStatusID != 7 && item.sampleProductStatusID != 10">Yes</span><span ng-if="item.sampleProductStatusID < 5 || item.sampleProductStatusID == 7 || item.sampleProductStatusID == 10">No</span>
                                </span>
                                &nbsp;&nbsp;
                                @*<span style="font-size:13px">
                                    <label ng-if="item.isBuildFromExistModel != null">From Exists Model: <span ng-if="item.isBuildFromExistModel">Yes</span><span ng-if="!item.isBuildFromExistModel">No</span></label>
                                </span>*@
                                <table class="info" style="margin-top: 2px">
                                    <tr>
                                        <td>Quantity</td>
                                        <td>{{item.quantity}}</td>
                                        <td>Factory</td>
                                        <td><a target="_blank" href="@Url.Action("Edit","FactoryMng2")/{{item.vnSuggestedFactoryID}}">{{item.vnSuggestedFactoryUD}}</a></td>
                                        <td style="background:#f9f9f9">Deadline</td>
                                        <td>{{item.factoryDeadline}}</td>
                                        <td style="background:#f9f9f9">Packaging Method</td>
                                    </tr>
                                    <tr>
                                        <td>Sub Factory</td>
                                        <td>
                                            <font ng-repeat="factory in item.sampleProductSubFactories">{{factory.factoryUD}}; </font>
                                        </td>
                                        <td style="background:#f9f9f9">Factory Breakdown</td>
                                        <td>
                                            <a target="_blank" ng-if="!item.factoryBreakdownID" href="@Url.Action("View", "BreakDownMng")/0?modelId=0&sampleProductId={{item.sampleProductID}}&offerLineId=0&factoryId={{item.vnSuggestedFactoryID}}">{{item.factoryBreakdownPriceUSD | currency:'$':2}}</a>
                                            <a target="_blank" ng-if="item.factoryBreakdownID" href="@Url.Action("Edit", "FactoryBreakdownMng")/{{item.factoryBreakdownID}}?sampleProductId={{item.sampleProductID}}">{{item.factoryBreakdownPriceUSD | currency:'$':2}}</a>
                                        </td>
                                        <td style="background:#f9f9f9">AVT Breakdown</td>
                                        <td>{{item.avtBreakdownPriceUSD | currency:'$':2}}</td>
                                        <td>
                                            {{item.packagingMethodNM}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="background:#f9f9f9">Description</td>
                                        <td colspan="6">
                                            {{item.description}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Internal Remark</td>
                                        <td colspan="2"><a href="javascript:void(0)" ng-click="event.openSampleRemark(item.sampleRemarkID)" ng-if="item.sampleRemarkID">Last Internal Remark</a><font ng-if="!item.sampleRemarkID">Last Interal Remark</font></td>
                                        <td style="background:#f9f9f9">Client Request</td>
                                        <td colspan="3"><a href="javascript:void(0)" ng-click="event.openSampleProductMinute(item.sampleProductMinuteID)" ng-if="item.sampleProductMinuteID">Last Client Request</a><font ng-if="!item.sampleProductMinuteID">Last Client Request</font></td>
                                    </tr>
                                </table>
                                <div style="margin-top: 5px;">
                                    <div style="float: right;">
                                        <label>Change Status</label>
                                        <div class="btn-group">
                                            <button class="btn dropdown-toggle btn-xs btn-success" data-toggle="dropdown" aria-expanded="false">
                                                {{item.sampleProductStatusNM}} <i class="fa fa-caret-down"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-right" ng-if="item.sampleProductStatusID != 7 && item.sampleProductStatusID != 9">
                                                <li ng-repeat="status in sampleProductStatuses">
                                                    <a href="javascript:void(0);" ng-click="$parent.event.setProductStatus(status.sampleProductStatusID, item)">{{status.sampleProductStatusNM}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*SampleRemark*@
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmSampleRemark" class="modal fade" style="display: none;" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                            ×
                        </button>
                        <h4 id="myModalLabel" class="modal-title">View Internal Remark</h4>
                    </div>
                    <div class="modal-body smart-form">
                        <fieldset>
                            <h2 style="margin-bottom: 15px;">Internal Remark</h2>
                            <div class="smart-timeline" style="margin-bottom: 30px;">
                                <ul class="smart-timeline-list">
                                    <li>
                                        <div class="smart-timeline-icon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div class="smart-timeline-time">
                                            <small>{{sampleRemark.updatedDate}}</small>
                                        </div>
                                        <div class="smart-timeline-content">
                                            <p>
                                                <a ng-if="sampleRemark.updatedBy" href="{{context.profileUrl}}{{sampleRemark.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <strong>{{sampleRemark.updatorName}}</strong>
                                                </a>
                                            </p>
                                            <p>{{sampleRemark.remark}}</p>
                                            <br />
                                            <u>Attachment</u>
                                            <ul style="margin-left: 15px;">
                                                <li ng-repeat="image in sampleRemark.sampleRemarkImages" style="padding: 0px;">
                                                    <a href="{{image.fileLocation}}" target="_blank">{{image.friendlyName}}</a>
                                                </li>
                                            </ul>
                                            <div class="clear"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        @*SampleProductMinute*@
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmSampleProductMinute" class="modal fade" style="display: none;" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                            ×
                        </button>
                        <h4 id="myModalLabel" class="modal-title">View Client Request</h4>
                    </div>
                    <div class="modal-body smart-form">
                        <fieldset>
                            <h2 style="margin-bottom: 15px;">Client Request</h2>
                            <div class="smart-timeline" style="margin-bottom: 30px;">
                                <ul class="smart-timeline-list">
                                    <li>
                                        <div class="smart-timeline-icon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div class="smart-timeline-time">
                                            <small>{{sampleProductMinute.updatedDate}}</small>
                                        </div>
                                        <div class="smart-timeline-content">
                                            <p>
                                                <a ng-if="sampleProductMinute.updatedBy" href="{{context.profileUrl}}{{sampleProductMinute.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <strong>{{sampleProductMinute.updatorName}}</strong>
                                                </a>
                                            </p>
                                            <p>{{sampleProductMinute.meetingMinute}}</p>
                                            <br />
                                            <u>Attachment</u>
                                            <ul style="margin-left: 15px;">
                                                <li ng-repeat="image in sampleProductMinute.sampleProductMinuteImages" style="padding: 0px;">
                                                    <a href="{{image.fileLocation}}" target="_blank">{{image.friendlyName}}</a>
                                                </li>
                                            </ul>
                                            <div class="clear"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

<!-- FORM -->
@Html.Partial("~/Views/Sample2Mng/Detail/Info.cshtml")
@Html.Partial("~/Views/Sample2Mng/Detail/Progress.cshtml")
@Html.Partial("~/Views/Sample2Mng/Detail/TechnicalDrawing.cshtml")
@Html.Partial("~/Views/Sample2Mng/Detail/Remark.cshtml")
@Html.Partial("~/Views/Sample2Mng/Detail/QARemark.cshtml")


<!-- FORM POPUP -->
@Html.Partial("~/Views/Sample2Mng/Detail/EditProgress.cshtml")
@Html.Partial("~/Views/Sample2Mng/Detail/EditTechnicalDrawing.cshtml")
@Html.Partial("~/Views/Sample2Mng/Detail/EditTechnicalDrawingFile.cshtml")
@Html.Partial("~/Views/Sample2Mng/Detail/Finish.cshtml")
@Html.Partial("~/Views/Sample2Mng/Detail/EditRemark.cshtml")
@Html.Partial("~/Views/Sample2Mng/Detail/EditQARemark.cshtml")

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "Sample2Mng")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Save"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Delete" style="color: #ff0000;"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default {{@ViewBag.ID?'':'disabled'}}" title="Print" ng-click="event.print()"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default {{@ViewBag.ID?'':'disabled'}}" title="Print QR Code" ng-click="event.export()"><i class="fa fa-file-excel-o"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Approve"><i class="fa fa-thumbs-o-up"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Reset Approval status"><i class="fa fa-thumbs-o-down"></i></a>
        </li>
    </ul>
}



@section pagejs {
    <script type="text/javascript">
        //jsonService.supportServiceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        var context = {
            id: @ViewBag.ID,
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            backUrl: '@Url.Action("Index", "Sample2Mng")',
            refreshUrl: '@Url.Action("Detail", "Sample2Mng", new { id = UrlParameter.Optional })/',
            backendUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])/Media/Thumbnail/',
            backendFileUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])/Media/File/',
            editTitle: '@ViewBag.Title',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/sample2/',
            printUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/sampleorderoverviewrpt/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            supportServiceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/',
            initParam: null,
            profileUrl: '@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/',
            redirectUrl: '@Url.Action("Edit", "FactoryBreakdownMng", new { id = UrlParameter.Optional })'
        }

        @if (!string.IsNullOrEmpty(param))
        {
            @Html.Raw("context.initParam = { " + param + "};")
        }
    </script>
    <script src="~/Angular/app/sample2Mng/detail.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}



