@{
    ViewBag.Title = "Search Sample Order";
    ViewBag.Module = "Sample Order";
    ViewBag.Icon = "fa-search";
    Frontend.APIDTO.APIUserInformation userInfo = (Frontend.APIDTO.APIUserInformation)Session[Frontend.Customize.Common.ProjectDefinition.USER_INFO_SESSION];
    string userManualUrl = string.Empty;
    if (System.IO.File.Exists(Server.MapPath("~/UserManual/" + ViewBag.ModuleCode + ".pdf")))
    {
        userManualUrl = "/UserManual/" + ViewBag.ModuleCode + ".pdf";
    }
}
<style>
    .smart-form section {
        margin-bottom: 3px !important;
    }

    .smart-form .col {
        padding-right: 6px !important;
        padding-left: 6px !important;
    }
    .tilsoft-table .tilsoft-table-body table td {
        font-size: 10px
    }
</style>
<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>
            <div>
                <div>
                    <div class="smart-form">
                        <div class="row">
                            <section class="col col-1">
                                <label class="label">Code</label>
                                <label class="input">
                                    <input class="search-filter" type="text" ng-model="filters.SampleOrderUD" />
                                </label>
                            </section>
                            <section class="col col-1">
                                <label class="label">Season</label>
                                <label class="input">
                                    <select class="form-control search-filter" style="height: 30px" ng-model="filters.Season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                        <option value="">All</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-1">
                                <label class="label">Status</label>
                                <label class="input">
                                    <select class="form-control search-filter" style="height: 30px" ng-model="filters.SampleOrderStatusID" ng-options="status.sampleOrderStatusID as status.sampleOrderStatusNM for status in sampleOrderStatuses">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-1">
                                <label class="label">Client Code</label>
                                <label class="input">
                                    <input class="search-filter" type="text" ng-model="filters.ClientUD" />
                                </label>
                            </section>
                            <section class="col col-1">
                                <label class="label">Client Name</label>
                                <label class="input">
                                    <input class="search-filter" type="text" ng-model="filters.ClientNM" />
                                </label>
                            </section>
                            <section class="col col-2">
                                <label class="label">Account Manager</label>
                                <label class="input">
                                    <select ui-select2 ng-model="filters.AccountManagerID" style="width:100%" class="select2">
                                        <option value=""></option>
                                        <option ng-repeat="accountManager in accountManagers | orderBy: 'factoryNM'" value="{{accountManager.userID}}">{{accountManager.employeeNM}}</option>
                                    </select>
                                </label>
                            </section>
                            <section class="col col-2" style="display: none;">
                                <label class="label">Transport Type</label>
                                <label class="select">
                                    <select class="form-control search-filter" ng-model="filters.TransportTypeID" ng-options="transport.transportTypeID as transport.transportTypeNM for transport in sampleTransportTypes">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-1">
                                <label class="label">Purpose</label>
                                <label class="input">
                                    <select class="form-control search-filter" style="height: 30px" ng-model="filters.PurposeID" ng-options="purpose.purposeID as purpose.purposeNM for purpose in samplePurposes">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-1">
                                <label class="label">Factory</label>
                                <label class="input">
                                    <select ui-select2 ng-model="filters.FactoryID" style="width:100%" class="select2">
                                        <option value=""></option>
                                        <option ng-repeat="factory in factorys | orderBy: 'factoryNM'" value="{{factory.factoryID}}">{{factory.factoryUD}}</option>
                                    </select>
                                </label>
                            </section>
                            <section class="col col-1">
                                <label class="label">Item Code</label>
                                <label class="input">
                                    <input class="search-filter" type="text" ng-model="filters.SampleItemCode" />
                                </label>
                            </section>
                            <section class="col col-2">
                                <label class="label">Item Name</label>
                                <label class="input">
                                    <input class="search-filter" type="text" ng-model="filters.SampleItemName" />
                                </label>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div @*id="searchResult"*@ avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" @*style="width: 1345px;"*@ style="width: 1715px">
                                <div style="width: 60px; font-size: 9px">Found(s)<br /><strong style="color:maroon; font-size:11px">{{totalRows}}</strong></div>
                                <div style="width: 80px;" class="sorting" data-colname="Season">Season</div>
                                <div style="width: 80px;" class="sorting" data-colname="SampleOrderStatusNM">Status</div>
                                <div style="width: 100px" class="sorting" data-colname="SampleOrderUD">Code</div>
                                <div style="width: 250px" class="sorting" data-colname="ClientNM">Client</div>
                                <div style="width: 360px;" class="sorting" data-colname="Deadline">Info</div>
                                <div style="width: 380px" class="no-padding">
                                    <div class="no-padding" style="width: 100%; height: 25px; border-right: none; line-height: 30px;">Number of Samples</div>

                                    <div class="no-padding" style="width: 100%; height: 25px;">
                                        <div class="no-padding" style="width: 60px; text-align: center; height: 25px; line-height: 30px;">Total</div>
                                        <div class="no-padding" style="width: 60px; text-align: center; height: 25px; line-height: 30px;">New</div>
                                        <div class="no-padding" style="width: 65px; text-align: center; height: 25px; line-height: 30px;">Upgrade</div>
                                        <div class="no-padding" style="width: 60px; text-align: center; height: 25px; line-height: 30px; border-right-color: green">Exist</div>
                                        <div class="no-padding" style="width: 60px; text-align: center; height: 25px; line-height: 30px">Finish</div>
                                        <div class="no-padding" style="text-align: center; height: 25px; line-height: 30px;">Progress</div>
                                    </div>
                                </div>
                                <div class="sorting" data-colname="UpdatedDate">Updated By</div>
                            </div>
                            <div class="tilsoft-table-totalrow" style="width: 1715px;">
                                <div style="width: 930px; font-size: 10px!important">SUBTOTAL</div>

                                <div style="width: 60px; font-size: 10px!important; text-align: right">{{method.total() | number : 0}}</div>
                                <div style="width: 60px; font-size: 10px!important; text-align: right">{{sampleProductNewDevelopmentNumber | number : 0}}</div>
                                <div style="width: 65px; font-size: 10px!important; text-align: right">{{sampleProductNoNewDevelopmentNumber | number : 0}}</div>
                                <div style="width: 60px; font-size: 10px!important; text-align: right; border-right-color: green">{{sampleProductdFromExistModelNumber | number : 0}}</div>
                                <div style="width: 60px; font-size: 10px!important; text-align: right">{{sampleProductTableFinishNumber | number : 0}}</div>
                                <div style="width: 75px; font-size: 10px!important; text-align: right">{{sampleProductTableInProgressNumber | number : 0}}</div>
                                <div></div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1715px;">
                                <table>
                                    <tr ng-repeat="model in data">
                                        <td style="text-align: center; width: 59px;">
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) != "disabled")
                                            {
                                                <a class="btn btn-primary btn-xs font-11" target="_blank" href="@Url.Action("Edit", "Sample2Mng")/{{model.sampleOrderID}}" title="Edit" style="margin-bottom: 5px;"><i class="fa fa-pencil"></i></a>
                                            }
                                            <a class="btn btn-success btn-xs font-11" target="_blank" href="@Url.Action("Detail", "Sample2Mng")/{{model.sampleOrderID}}" title="Detail" style="margin-bottom: 5px;"><i class="fa fa-list-ul"></i></a>
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                            {
                                                <a class="btn btn-danger btn-xs font-11" href="#" ng-click="event.delete(model.sampleOrderID, model.sampleOrderUD)" style="width:48px" title="Delete"><i class="fa fa-times"></i>Del</a>
                                            }
                                        </td>
                                        <td style="width: 80px; text-align: center;">{{model.season}}</td>
                                        <td style="width: 80px; text-align: center;">{{model.sampleOrderStatusNM}}</td>
                                        <td style="width: 100px; text-align: center;">
                                            <strong>{{model.sampleOrderUD}}({{model.rankName}})</strong>
                                        </td>
                                        <td style="width: 250px;">
                                            <strong>{{model.clientUD}}</strong>
                                            <br />
                                            {{model.clientNM}}
                                            <br />
                                            <strong>
                                                <a ng-if="model.saleID" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{model.saleID}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i> {{model.saleNM}}
                                                </a>
                                            </strong>
                                        </td>
                                        <td style="width: 360px;text-align: left;">
                                            <span class="item left"><u>Purpose</u>: {{model.purposeNM}}</span>
                                            <span class="item right"><u>Transport</u>: {{model.transportTypeNM}}</span>

                                            <div class="clear"></div>

                                            <span class="item left"><u>Deadline</u>: {{model.deadline}}</span>
                                            <span class="item right"><u>Hard Deadline</u>: {{model.hardDeadline}}</span>

                                            <div class="clear"></div>

                                            <u>Destination</u>: {{model.destination}}
                                        </td>
                                        <td style="width: 60px; text-align: right">{{model.sampleProductTotalNumber | number : 0}}</td>
                                        <td style="width: 60px; text-align: right">{{model.sampleProductNewDevelopmentNumber | number : 0}}</td>
                                        <td style="width: 65px; text-align: right">{{model.sampleProductNoNewDevelopmentNumber | number : 0}}</td>
                                        <td style="width: 60px; text-align: right; border-right-color: green">{{model.sampleProductdFromExistModelNumber | number : 0}}</td>
                                        <td style="width: 60px; text-align: right">{{model.sampleProductTableFinishNumber | number : 0}}</td>
                                        <td style="width: 75px; text-align: right">{{model.sampleProductTableInProgressNumber | number : 0}}</td>
                                        <td>
                                            <strong>
                                                <a ng-if="model.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{model.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i> {{model.updatorName}}
                                                </a>
                                            </strong>
                                            <br />{{model.updatedDate}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
    </li>
    <li class="sparks-info">
        <a href="@Url.Action("Edit", "Sample2Mng")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Print" ng-click="event.getExcelSamplerOrder()"><i class="fa fa-print"></i></a>
    </li>
    @if (!string.IsNullOrEmpty(userManualUrl))
    {
        <li class="sparks-info">
            <a target="_blank" href="@userManualUrl" class="btn btn-default" title="Help"><i class="fa fa-info"></i></a>
        </li>
    }
</ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/sample2Mng/service.js"></script>
    <script type="text/javascript">
        var context = {
            serviceUrl : '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/sample2/',
            token : '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize: @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"],
            title: "Sample Order",
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()'
        }
    </script>
    <script src="~/Angular/app/sample2Mng/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>

}
