@using Frontend.Helper;
@{
    ViewBag.Title = "Master Grant Chart";
    ViewBag.Icon = "fa-bar-chart-o";
}

<style>
    .tilsoft-table-header, .tilsoft-table-filter, .tilsoft-table-body {
        width: {{650 + weekInfo.length*100 + 20}}px;
    }
    .tilsoft-table-header > div {
        height: 70px !important;
    }
    .tilsoft-table-body {
        margin-top: 70px !important;
    }
        .tilsoft-table-header > div:nth-child(1),
        .tilsoft-table-filter > div:nth-child(1),
        .tilsoft-table-body table > tbody > tr > td:nth-child(1) {
            width: 110px;
            text-align: left;
        }
        .tilsoft-table-header > div:nth-child(2),
        .tilsoft-table-filter > div:nth-child(2),
        .tilsoft-table-body table > tbody > tr > td:nth-child(2) {
            width: 70px;
            text-align: center;
        }
        .tilsoft-table-header > div:nth-child(3),
        .tilsoft-table-filter > div:nth-child(3),
        .tilsoft-table-body table > tbody > tr > td:nth-child(3) {
            width: 70px;
            text-align: center;
        }
        .tilsoft-table-header > div:nth-child(4),
        .tilsoft-table-filter > div:nth-child(4),
        .tilsoft-table-body table > tbody > tr > td:nth-child(4) {
            width: 50px;
            text-align: right;
        }
        .tilsoft-table-header > div:nth-child(5),
        .tilsoft-table-filter > div:nth-child(5),
        .tilsoft-table-body table > tbody > tr > td:nth-child(5) {
            width: 80px;
            text-align: center;
        }
        .tilsoft-table-header > div:nth-child(6),
        .tilsoft-table-filter > div:nth-child(6),
        .tilsoft-table-body table > tbody > tr > td:nth-child(6) {
            width: 80px;
            text-align: center;
        }
        .tilsoft-table-header > div:nth-child(7),
        .tilsoft-table-filter > div:nth-child(7),
        .tilsoft-table-body table > tbody > tr > td:nth-child(7) {
            width: 80px;
            text-align: right;
        }
        .tilsoft-table-header > div:nth-child(8),
        .tilsoft-table-filter > div:nth-child(8),
        .tilsoft-table-body table > tbody > tr > td:nth-child(8) {
            width: 120px;
            text-align: left;
        }

</style>

<div class="row" ng-show="currentScreen==screen._WORKORDER">
    <article class="col-sm-12">
        <div class="jarviswidget">
            <header>
                <span class="widget-icon"> <i class="fa fa-filter txt-color-darken"></i> </span>
                <h2>Filter</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Start Date From</label>
                                    <label class="input">
                                        <input type="text" class="datepicker search-filter" ng-model="filters.StartDateFrom" data-dateformat="dd/mm/yy" />
                                        <i class="icon-append fa fa-calendar"></i>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Start Date To</label>
                                    <label class="input">
                                        <input type="text" class="datepicker search-filter" ng-model="filters.StartDateTo" data-dateformat="dd/mm/yy" />
                                        <i class="icon-append fa fa-calendar"></i>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Finished Date From</label>
                                    <label class="input">
                                        <input type="text" class="datepicker search-filter" ng-model="filters.FinishedDateFrom" data-dateformat="dd/mm/yy" />
                                        <i class="icon-append fa fa-calendar"></i>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Finished Date To</label>
                                    <label class="input">
                                        <input type="text" class="datepicker search-filter" ng-model="filters.FinishedDateTo" data-dateformat="dd/mm/yy" />
                                        <i class="icon-append fa fa-calendar"></i>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Work Order</label>
                                    <label class="input">
                                        <input type="text" class="search-filter" ng-model="filters.WorkOrderUD" />
                                    </label>
                                </section>

                                <section class="col col-3">
                                    <label class="label">Work Center</label>
                                    <label class="select">
                                        <select class="search-filter" ng-model="filters.WorkCenterID" ng-options="center.workCenterID as center.workCenterNM for center in workCenters">
                                            <option></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Client</label>
                                    <label class="input">
                                        <input type="text" class="search-filter" ng-model="filters.ClientUD" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">P/I</label>
                                    <label class="input">
                                        <input type="text" class="search-filter" ng-model="filters.ProformaInvoiceNo" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Status</label>
                                    <label class="select">
                                        <select class="search-filter" ng-model="filters.WorkOrderStatus" ng-options="status as status for status in statuses">
                                            <option></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>    
                            
                        </fieldset>
                        <footer>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.search()" style="float: none;"><i class="fa fa-bar-chart-o"></i> Generate</a>
                            <a href="javascript:void(0)" class="btn btn-default" ng-click="event.reload()" style="float: none;"><i class="fa fa-refresh"></i> Refresh</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="col-sm-12">
        <div class="jarviswidget">
            <div class="no-padding">
                <div class="widget-body" style="padding-bottom: 0px;">
                    <div avs-scrollable-table class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header">
                                <div>Work Order</div>
                                <div>Client</div>
                                <div>P/I</div>
                                <div style="text-align:center">Dura tion</div>
                                <div>Start Date</div>
                                <div>End Date</div>
                                <div>Over Schedule<br />Duration</div>
                                <div style="text-align:center">Status</div>
                                <div style="width: 100px;" ng-repeat="wItem in weekInfo">W{{wItem.weekIndex}}<br/><span class="note">{{wItem.weekStart}}<br/>{{wItem.weekEnd}}</span></div>
                                <div>&nbsp;</div>
                            </div>
                            <div class="tilsoft-table-body">
                                <table>
                                    <tr ng-repeat="item in data">
                                        <td>
                                            <a target="_blank" href="@Url.Action("Edit", "WorkOrder", new {id= UrlParameter.Optional})/{{item.workOrderID}}" ng-if="'@(Frontend.Helper.AuthHelper.GetActionButtonStatus("WorkOrderMng", Frontend.Helper.ActionEnum.Create, HttpContext.Current))' !== 'disabled'">{{item.workOrderUD}}</a>
                                            <span ng-if="'@(Frontend.Helper.AuthHelper.GetActionButtonStatus("WorkOrderMng", Frontend.Helper.ActionEnum.Create, HttpContext.Current))' === 'disabled'">{{item.workOrderUD}}</span>
                                        </td>
                                        <td>{{item.clientUD}}</td>
                                        <td>{{item.proformaInvoiceNo}}</td>
                                        <td>{{item.duration}}</td>
                                        <td>{{item.startDate}}</td>
                                        <td>{{item.finishDate}}</td>
                                        <td>{{item.overSchedule}}</td>
                                        <td>
                                            <a href="javascript:void(0)" ng-click="workOrderDetailSreen.load(item)">{{item.workOrderStatus}}</a>
                                        </td>
                                        <td style="width: 100px; {{$parent.method.generateBackground(wItem, item)}}" ng-repeat="wItem in $parent.weekInfo"></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    
</div>

<div class="row" ng-show="currentScreen==screen._WORKORDER_DETAIL">

    <article class="col-sm-12">
        <div class="jarviswidget">
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <footer>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="workOrderDetailSreen.close()"><i class="fa fa-arrow-left"></i> Back</a>                            
                        </footer>
                        <section class="col col-lg-12">
                            <div avs-scrollable-table class="tilsoft-table-wrapper">
                                <div class="tilsoft-table">
                                    <div class="tilsoft-table-header">
                                        <div style="width:100px">WorkCenter</div>
                                        <div style="width:80px">% Complete</div>
                                        <div style="width:150px">Team</div>
                                        <div style="width:350px">Item Code</div>
                                        <div style="width:500px">Item Name</div>
                                        <div style="width:100px">Plan</div>
                                        <div style="width:100px">Received</div>
                                        <div style="width:100px">Produced</div>
                                        <div style="width:100px">Remain</div>
                                        <div>&nbsp;</div>
                                    </div>
                                    <div class="tilsoft-table-body">
                                        <table>
                                            <tr ng-repeat="item in workOrderDetailSreen.data">
                                                <td style="width:99px ;text-align:left">{{item.workCenterNM}}</td>
                                                <td style="width:80px ;text-align:right">{{item.producedQnt * 100 /item.normQnt | number : 2}} %</td>
                                                <td style="width:150px ;text-align:left">{{item.productionTeamNM}}</td>
                                                <td style="width:350px ;text-align:left">{{item.productionItemUD}}</td>
                                                <td style="width:500px ;text-align:left">{{item.productionItemNM}}</td>
                                                <td style="width:100px ;text-align:right">{{item.normQnt | number : 2}}</td>
                                                <td style="width:100px ;text-align:right">{{item.receivedQnt | number : 2}}</td>
                                                <td style="width:100px ;text-align:right">{{item.producedQnt | number : 2}}</td>
                                                <td style="width:100px ;text-align:right">{{item.remainQnt | number : 2}}</td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>                    
                    </div>
                </div>
            </div>
        </div>
    </article>
    
</div>

@section FormAction {
<ul id="sparks">
</ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/mastergrantchartrpt/',
            token : '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize: 50
        }
    </script>
    <script src="~/Views/MasterGrantChartRpt/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/MasterGrantChartRpt/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
