@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];

    ViewBag.Title = (ViewBag.ID == 0) ? "Create Production Team" : "Edit Production Team";
    ViewBag.SubTitle = (ViewBag.ID == 0) ? "Create" : "Edit";
    ViewBag.Module = "Production Team";
}

<form name="editForm" class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>@ViewBag.SubTitle General</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="smart-form">
                        <div class="row">
                            <section class="col col-lg-2">
                                <label class="label">
                                    <strong>Production Team Code</strong>
                                    <em class="note note-error" ng-show="editForm.productionTeamUD.$error.required"> (Required)</em>
                                </label>
                                <label class="input" ng-class="{'state-error': editForm.productionTeamUD.$error.required}">
                                    <input type="text" class="form-control" name="productionTeamUD" ng-model="data.productionTeamUD" required>
                                </label>
                            </section>
                            <section class="col col-lg-4">
                                <label class="label">
                                    <strong>Production Team Name</strong>
                                    <em class="note note-error" ng-show="editForm.productionTeamNM.$error.required"> (Required)</em>
                                </label>
                                <label class="input" ng-class="{'state-error': editForm.productionTeamNM.$error.required}">
                                    <input type="text" class="form-control" name="productionTeamNM" ng-model="data.productionTeamNM" required>
                                </label>
                            </section>
                            <section class="col col-lg-2">
                                <label class="label">
                                    <strong>Company</strong>
                                </label>
                                <label class="input">
                                    <span class="form-control">
                                        <i class="fa fa-building-o" ng-show="data.internalCompanyNM != null"></i> {{data.internalCompanyNM}}
                                    </span>
                                </label>
                            </section>
                            <section class="col col-lg-2">
                                <label class="label">
                                    <strong>Updated By</strong>
                                </label>
                                <label class="input">
                                    <span class="form-control">
                                        <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" ng-show="data.hasUpdateHyperlink" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                            <i class="fa fa-user"></i> {{data.updatorName}}
                                        </a>
                                        <span ng-show="data.updatedBy != null && !data.hasUpdateHyperlink">
                                            <i class="fa fa-user"></i> {{data.updatorName}}
                                        </span>
                                        @*<i class="fa fa-user" ng-show="data.profileNM != null || data.employeeNM != null"></i>
                                        <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600" ng-show="data.updatedBy != null && data.employeeNM != null">
                                             {{data.employeeNM}}
                                        </a>
                                        <label ng-show="data.updatedBy != null && data.employeeNM == null && data.profileNM != null"> {{data.profileNM}}</label>*@
                                    </span>
                                </label>
                            </section>
                            <section class="col col-lg-2">
                                <label class="label">
                                    <strong>Updated Date</strong>
                                </label>
                                <label class="input">
                                    <span class="form-control">
                                        <i class="fa fa-calendar" ng-show="data.updatedDate != null"></i> {{data.updatedDate}}
                                    </span>
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-lg-12">
                                <label class="label">
                                    <strong>Description</strong>
                                </label>
                                <label class="textarea">
                                    <textarea rows="5" ng-model="data.description"></textarea>
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-lg-2">
                                <label class="label">
                                    <strong>Operating Times(hour)</strong>
                                </label>
                                <label class="input">
                                    <input avs-number type="text" class="form-control" style="text-align: right" ng-data-source="data.operatingTime" ng-decimal="2" />
                                </label>
                            </section>
                            <section class="col col-lg-2">
                                <label class="label">
                                    <strong>Default Cost(USD)</strong>
                                </label>
                                <label class="input">
                                    <input avs-number type="text" class="form-control" style="text-align: right" ng-data-source="data.defaultCost" ng-decimal="2" />
                                </label>
                            </section>
                            <section class="col col-lg-2">
                                <label class="label">
                                    <strong>Capacity(Per day)</strong>
                                </label>
                                <label class="input">
                                    <input avs-number type="text" class="form-control" style="text-align: right" ng-data-source="data.capacity" @*ng-model="data.capacity"*@ ng-decimal="2" />
                                </label>
                            </section>
                            <section class="col col-lg-2">
                                <label class="label">
                                    <strong>Person Responsible</strong>
                                </label>
                                <label class="input">
                                    <select class="form-control" ng-model="data.responsibleBy" ng-options="employee.employeeID as employee.employeeNM for employee in employees">
                                        <option value=""></option>
                                    </select>
                                </label>
                            </section>
                            <section class="col col-lg-2">
                                <label class="label">
                                    <strong>Work Center</strong>
                                </label>
                                <label class="input">
                                    <select class="form-control" ng-model="data.workCenterID" ng-options="workCenter.workCenterID as workCenter.workCenterUD for workCenter in workCenters">
                                        <option value=""></option>
                                    </select>
                                </label>
                            </section>

                            <section class="col col-lg-2">
                                <label class="label">
                                    <strong>Distance To Factory (KM)</strong>
                                </label>
                                <label class="input">
                                    <input avs-number type="text" class="form-control" style="text-align: right" ng-data-source="data.distanceToFactory" ng-decimal="2" />
                                </label>
                            </section>


                        </div>

                        <div class="row">
                            <section class="col col-lg-2">
                                <label class="label">
                                    <strong>Set Default</strong>
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" style="left: auto!important" ng-model="data.isDefault" />
                                </label>
                            </section>

                            <section class="col col-lg-2">
                                <label class="label">
                                    <strong>Oursource</strong>
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" style="left: auto!important" ng-model="data.isOutsource" ng-click="event.checkIsOutsource()" />
                                </label>
                            </section>
                            
                            <section class="col col-2" ng-show="data.isOutsource">
                                <label class="label">
                                    <strong>Sub Supplier</strong>
                                </label>
                                <label class="input">
                                    <select ui-select2 ng-model="data.subSupplier" class="select2">
                                        <option value="">--Select Supplier--</option>
                                        <option ng-repeat="item in subSuppliers | orderBy: 'subSupplierShortNM'" value={{item.subSupplierID}}>{{item.subSupplierShortNM}}</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction{
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "ProductionTeam")" class="btn btn-default" title="Back">
                <i class="fa fa-arrow-left"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Delete" ng-class="{'disabled': data.productionTeamID == 0}" ng-click="event.deletedata(data.productionTeamID)">
                <i class="fa fa-times"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Save" ng-click="event.updatedata($event)">
                <i class="fa fa-floppy-o"></i>
            </a>
        </li>
    </ul>
}

@section pagejs{
    <script type="text/javascript">
        var context = {
            id: @ViewBag.ID,
            backUrl: '@Url.Action("Index", "ProductionTeam")',
            refreshUrl: '@Url.Action("Edit", "ProductionTeam", new { id = UrlParameter.Optional })/',
            serviceUrl: '@(serviceRoot)/api/productionteam/',
            token: '@token',
            msgValid: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED'
        };
    </script>
    <script type="text/javascript" src="~/Angular/app/productionTeam/edit.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/productionTeam/service.js?v=@guid"></script>
}
