@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var supportServiceRoot = (System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"]);
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var backendReportUrl = @System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"];

    var id = ViewBag.ID;

    ViewBag.Title = (ViewBag.ID == 0) ? "Create Master Exchange Rate" : "Edit Master Exchange Rate";
    ViewBag.Module = "Master Exchange Rate";
    ViewBag.Icon = "fa fa-database";
}

<form name="editForm" class="row">
    <article class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <div class="jarviswidget" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <div class="row">
                            <section class="col col-4">
                                <label>Valid Date</label>
                                <label class="input">
                                    <input type="text" avs-calendar ng-data-source="data.validDate" />
                                    <i class="icon-append fa fa-calendar"></i>
                                </label>
                            </section>
                            <section class="col col-4">
                                <label>Currency</label>
                                <label class="select">
                                    <select class="select form-control" ng-model="data.currency" ng-options="xxx.currency as xxx.name for xxx in currencyArr">
                                        <option value="">
                                    </select>
                                </label>
                            </section>
                            <section class="col col-4">
                                <label>Exchange Rate</label>
                                <label class="input">
                                    <input type="text" class="form-control" avs-number ng-decimal="0" ng-data-source="data.exchangeRate" />
                                </label>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>


@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "MasterExchangeRateMng")" class="btn btn-default" title="Back">
                <i class="fa fa-arrow-left"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Save" ng-click="event.update()">
                <i class="fa fa-floppy-o"></i>
            </a>
        </li>
    </ul>
}

@section pagejs{

    <script type="text/javascript">
        var context = {
            id: '@id',
            token: '@token',
            backUrl: '@Url.Action("Index", "MasterExchangeRateMng")',
            refreshUrl: '@Url.Action("Edit", "MasterExchangeRateMng", new { id = UrlParameter.Optional })/',
            serviceUrl: '@(serviceRoot)/api/MasterExchangeRateMng/',
            servicePath: '@(serviceRoot)/Reports/',
            supportServiceUrl: '@(serviceRoot)/api/support/',
            backendReportUrl: '@backendReportUrl',
        }
    </script>

    <script type="text/javascript" src="~/Views/MasterExchangeRateMng/edit.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/MasterExchangeRateMng/services.js?v=@guid"></script>

}
