@{
    ViewBag.Title = "Search Quotation";
    ViewBag.Module = "Quotation";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Quotation No</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.QuotationUD" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Factory Order</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.FactoryOrderUD" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Factory</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.FactoryUD" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Season</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.Season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">P/I</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.ProformaInvoiceNo" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Client Code</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.ClientUD" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Art.Code</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.ArticleCode" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Description</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.Description" />
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div ui-grid="grdSearchResult" class="grid" style="width: 100%; height: 500px;" ui-grid-resize-columns ui-grid-pinning ui-grid-cellnav></div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Init", "Quotation")" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/quotation/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
        var context = {
            editUrl: '@Url.Action("Edit", "Quotation")',
            viewUrl: '@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })',
        }
    </script>
    <script src="~/Angular/app/quotation/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/quotation/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
