@{
    ViewBag.Title = "Search SystemSetting";
    ViewBag.Module = "SystemSettingMng";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Code</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.SettingValue" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Name</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.SettingKey" />
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div id="searchResult" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 480px;">
                                <div style="width: 150px;"></div>
                                <div style="width: 80px; text-align: center;" class="sorting" data-colname="SettingValue">Code</div>
                                <div class="sorting_asc" data-colname="SettingKey">Name</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 480px;">
                                <table>
                                    <tr ng-repeat="model in data">
                                        <td style="text-align: center; width: 150px;">
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                            {
                                                <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "SystemSetting")/{{model.systemsettingID}}" title="View (Read Only)"><i class="fa fa-folder-open"></i> View</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "SystemSetting")/{{model.systemsettingID}}" title="Edit"><i class="fa fa-pencil"></i> Edit</a>
                                            }

                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                            {
                                                <a class="btn btn-danger btn-xs font-11" href="javascript:void(0)" ng-click="event.delete(model.systemsettingID)" title="Delete"><i class=" fa fa-times"></i> Delete</a>
                                            }
                                        </td>
                                        <td style="text-align: center; width: 80px;">{{model.settingKey}}</td>
                                        <td>{{model.settingValue}}</td>
                                        <td>{{model.description}}</td>
                                        <td>{{model.season}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Edit", "SystemSetting")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js"></script>
    <script src="~/Angular/app/systemsetting/service.js"></script>
    <script type="text/javascript">
        jQuery('.search-filter').keypress(function(e){
            if (e.keyCode == 13) {
                var scope = angular.element(jQuery('body')).scope();
                scope.event.reload();
            }
        });

        var searchResultGrid = jQuery('#searchResult').scrollableTable(
            function(currentPage){
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function(){
                    scope.pageIndex = currentPage;
                    jsonService.searchFilter.pageIndex = scope.pageIndex;
                    scope.event.search();
                });
            },
            function(sortedBy, sortedDirection){
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function(){
                    jsonService.searchFilter.sortedDirection = sortedDirection;
                    scope.pageIndex = 1;
                    jsonService.searchFilter.pageIndex = scope.pageIndex;
                    jsonService.searchFilter.sortedBy = sortedBy;
                    scope.event.search();
                });
            }
        );

        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/systemsetting/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];

        var tilsoftApp = angular.module('tilsoftApp', []);
        tilsoftApp.controller('tilsoftController', ['$scope', function ($scope) {
            //
            // property
            //
            $scope.data = null;
            $scope.filters = {
                SettingValue: '',
                SettingKey: ''
            };
            $scope.pageIndex = 1;
            $scope.totalPage = 0;

            //
            // event
            //
            $scope.event = {
                reload: function(){
                    $scope.pageIndex = 1;
                    jsonService.searchFilter.pageIndex = $scope.pageIndex;
                    $scope.event.search();
                },
                search: function(){
                    jsonService.searchFilter.filters = $scope.filters;
                    jsonService.search(
                        function (data) {
                            $scope.data = data.data.data;
                            $scope.totalPage = Math.ceil(data.totalRows / jsonService.searchFilter.pageSize);
                            $scope.$apply();

                            if(data.totalRows < jsonService.searchFilter.pageSize) {
                                jQuery('#searchResult').find('ul').hide();
                            }
                            else {
                                jQuery('#searchResult').find('ul').show();
                            }

                            jQuery('#content').show();
                            searchResultGrid.updateLayout();
                        },
                        function (error) {
                            $scope.data = null;
                            $scope.pageIndex = 1;
                            $scope.totalPage = 0;
                            $scope.$apply();
                        }
                    );
                },
                delete: function (id){
                    if (confirm('Are you sure ?')) {
                        jsonService.delete(id,
                            function (data) {
                                jsHelper.processMessage(data.message);

                                if(data.message.type == 0) {
                                    var j = -1;
                                    for (var i = 0; i < $scope.data.length; i++) {
                                        if ($scope.data[i].systemsettingID == data.data) {
                                            j = i;
                                            break;
                                        }
                                    }

                                    if (j >= 0) {
                                        $scope.data.splice(j, 1);
                                    }

                                    $scope.$apply();
                                }
                            },
                            function (error) {
                                jsHelper.showMessage('warning', error);
                            }
                        );
                    }
                },
                init : function(){
                    $scope.event.search();
                }
            }

            //
            // method
            //


            //
            // init
            //
            $scope.event.init();
        }]);
    </script>
}
