@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var supportServiceRoot = (System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"]);

    ViewBag.Title = "Product Break Down(PAL) Default Category";
    ViewBag.Module = "Product Break Down(PAL) Default Category";
    ViewBag.Icon = "fa-database";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>@((ViewBag.ID == 0) ? "Create" : "Edit") Product Break Down(PAL) Default Category</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section class="col col-sm-2">
                                <label>Name</label>
                                <label class="input">
                                    <input class="form-control" style="height: 30px; font-family: Arial" ng-model="data.productBreakDownDefaultCategoryNM" />
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label>Unit</label>
                                <label class="input">
                                    <input class="form-control" style="height: 30px; font-family: Arial" ng-model="data.unit" />
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label>Display Order</label>
                                <label class="input">
                                    <input class="form-control" style="height: 30px; text-align: right; font-family: Arial" avs-number ng-data-source="data.displayOrder" />
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label>Calculation Type</label>
                                <label class="input">
                                    <select class="form-control" style="height: 30px; font-family: Arial" ng-model="data.productBreakDownCalculationTypeID" ng-options="item.productBreakDownCalculationTypeID as item.productBreakDownCalculationTypeNM for item in support.calculationType" ng-change="event.changeCalculationType(data.productBreakDownCalculationTypeID)">
                                        <option value=""></option>
                                    </select>
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label>Option Price</label>
                                <label class="input">
                                    <select class="form-control" style="height: 30px; font-family: Arial" ng-model="data.optionToGetPriceID" ng-options="item.productBreakDownOptionPriceID as item.productBreakDownOptionPriceNM for item in support.optionPrice" ng-change="event.changeOptionPrice(data.optionToGetPriceID)" ng-disabled="(data.productBreakDownCalculationTypeID != null && data.productBreakDownCalculationTypeID == 2)">
                                        <option value=""></option>
                                    </select>
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label>Option Quantity</label>
                                <label class="input">
                                    <select class="form-control" style="height: 30px; font-family: Arial" ng-model="data.optionTotalID" ng-options="item.productBreakDownOptionQuantityID as item.productBreakDownOptionQuantityNM for item in support.optionQuantity" ng-disabled="(data.productBreakDownCalculationTypeID != null && data.productBreakDownCalculationTypeID == 2)">
                                        <option value=""></option>
                                    </select>
                                </label>
                            </section>
                            <section class="col col-sm-6">
                                <label>Remark</label>
                                <label class="input">
                                    <input class="form-control" style="height: 30px; font-family: Arial" ng-model="data.remark" />
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label>Quantity Percent</label>
                                <label class="input">
                                    <input class="form-control" style="height: 30px; text-align: right; font-family: Arial" avs-number ng-data-source="data.quantityPercent" ng-decimal="2" ng-readonly="(data.productBreakDownCalculationTypeID != null && data.productBreakDownCalculationTypeID != 2)" />
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label>Unit Price</label>
                                <label class="input">
                                    <input class="form-control" style="height: 30px; text-align: right; font-family: Arial" avs-number ng-data-source="data.unitPrice" ng-decimal="2" ng-readonly="(data.optionToGetPriceID != null && data.optionToGetPriceID == 1)" />
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label>Percent Wastage</label>
                                <label class="input">
                                    <input type="text" class="form-control" style="height: 30px; text-align: right; font-family: Arial" avs-number ng-data-source="data.percentWastage" ng-decimal="2" ng-readonly="data.productBreakDownCalculationTypeID != null && data.productBreakDownCalculationTypeID == 2" />
                                </label>
                            </section>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default btn-sm" ng-click="event.back()">
                <i class="fa fa-arrow-left"></i> Back
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default btn-sm" ng-click="event.update()">
                <i class="fa fa-floppy-o"></i> Update
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default btn-sm @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" ng-click="event.delete(data.productBreakDownDefaultCategoryID)">
                <i class="fa fa-times"></i> Delete
            </a>
        </li>
    </ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(serviceRoot)/api/productbreakdowndefaultcategory-pal/',
            token: '@token',
            id: '@ViewBag.ID',
            backUrl: '@Url.Action("Index", "ProductBreakDownDefaultCategoryPALMng")',
            refreshUrl: '@Url.Action("Edit", "ProductBreakDownDefaultCategoryPALMng", new { id = UrlParameter.Optional })/'
        }
    </script>
    <script type="text/javascript" src="~/Views/ProductBreakDownDefaultCategoryPALMng/edit.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/ProductBreakDownDefaultCategoryPALMng/service.js?=@guid"></script>
}
