@{
    ViewBag.Title = "Loadingplanning report";
}

    <div class="jarviswidget" id="wid-id-overall-dimension" data-widget-editbutton="true" data-widget-colorbutton="true" data-widget-fullscreenbutton="true" data-widget-deletebutton="true">
        <header>
            <span class="widget-icon">
                <i class="fa fa-database"></i>
            </span>
            <h2>General overview</h2>
        </header>
          <div class="form-group">
                        <label>LoadingPlan REF</label>
                        <input class="form-control" type="text" name="LoadingPlanUd" ng-model="reportObjectData.loadingPlanUd">

                        <label>Container REF</label>
                        <input class="form-control" type="text" name="containerRefNo" ng-model="reportObjectData.containerRefNo">

                        <label>Factory</label>
                        <input class="form-control" type="text" name="factoryUd" ng-model="reportObjectData.factoryUd">

                        <label>Season</label>
                        <input class="form-control" type="text" name="season" ng-model="reportObjectData.season">

                        <label>Controller</label>
                        <input class="form-control" type="text" name="controller" ng-model="reportObjectData.controllerName">

                        <label>Loading date</label>
                        <input class="form-control" type="text" name="loadingDate" ng-model="reportObjectData.loadingDate">

                        <label>ShippedDate</label>
                        <input class="form-control" type="text" name="shippedDate" ng-model="reportObjectData.shippedDate">

                        <label>ShipmentDate</label>
                        <input class="form-control" type="text" name="shipmentDate" ng-model="reportObjectData.shipmentDate">

                        <label>Description</label>
                        <input class="form-control" type="text" name="description" ng-model="reportObjectData.description">


                    </div>
    </div>

    <div class="jarviswidget" id="wid-id-arm-dimension" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
        <header>
            <span class="widget-icon">
                <i class="fa fa-database"></i>
            </span>
            <h2>Shipping information</h2>
        </header>
             <div class="form-group">
                        <label>Forwarder</label>
                        <input class="form-control" type="text" name="forwarder" ng-model="reportObjectData.forwarder">

                        <label>BlNo</label>
                        <input class="form-control" type="text" name="blNo" ng-model="reportObjectData.blNo">

                        <label>ContainerNo</label>
                        <input class="form-control" type="text" name="containerNo" ng-model="reportObjectData.containerNo">

                        <label>ContainerType</label>
                        <input class="form-control" type="text" name="containerType" ng-model="reportObjectData.containerType">

                        <label>SealNo</label>
                        <input class="form-control" type="text" name="sealNo" ng-model="reportObjectData.sealNo">

                        <label>Feeder</label>
                        <input class="form-control" type="text" name="feeder" ng-model="reportObjectData.feeder">

                        @*<label>Vessel</label>
                        <input class="form-control" type="text" name="vessel" ng-model="reportObjectData.vessel">*@

                        <label>EDT</label>
                        <input class="form-control" type="text" name="etd" ng-model="reportObjectData.etd">

                        <label>ETA</label>
                        <input class="form-control" type="text" name="eta" ng-model="reportObjectData.eta">

                        <label>CutOffDate</label>
                        <input class="form-control" type="text" name="cutOffDate" ng-model="reportObjectData.cutOffDate">
                    </div>
    </div>

    <div class="jarviswidget" id="wid-id-other-dimension" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
        <header>
            <span class="widget-icon">
                <i class="fa fa-database"></i>
            </span>
            <h2>Tracking</h2>
        </header>
        <div class="form-group">
            <label>Create by</label>
            <input class="form-control" type="text" name="creatorName" ng-model="reportObjectData.creatorName">

            <label>createdDate</label>
            <input class="form-control" type="text" name="createdDate" ng-model="reportObjectData.createdDate">

            <label>Updated by</label>
            <input class="form-control" type="text" name="updatedName" ng-model="reportObjectData.updatedName">

            <label>UpdatedDate</label>
            <input class="form-control" type="text" name="updatedDate" ng-model="reportObjectData.updatedDate">

            <label>Sale</label>
            <input class="form-control" type="text" name="sale" ng-model="reportObjectData.sale">

            <label>Sale2</label>
            <input class="form-control" type="text" name="sale2" ng-model="reportObjectData.sale2">
        </div>
    </div>

<div class="jarviswidget" id="wid-id-seat-dimension" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
    <header>
        <span class="widget-icon">
            <i class="fa fa-database"></i>
        </span>
        <h2>Loading Images</h2>
    </header>
    <div class="form-group">
        <table >
            <tr>
                <td>
                    <label>Product Image1</label>
                </td>
                <td>
                    <label>Product Image2</label>
                </td>
            </tr>
            <tr>
                <td>
                    <img ng-model="reportObjectData.productPicture1_Url"
                         ng-src="{{reportObjectData.productPicture1_Url}}"
                         style="width: 500px; height: 350px;" />
                </td>
                <td>
                    <img ng-model="reportObjectData.productPicture2_Url"
                         ng-src="{{reportObjectData.productPicture2_Url}}"
                         style="width: 500px; height: 350px;">
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>
                    <label>Contain Image1</label>
                </td>
                <td>
                    <label>Contain Image2</label>
                </td>
            </tr>
           
            <tr>
                <td>
                    <img ng-model="reportObjectData.containPicture1_Url"
                         ng-src="{{reportObjectData.containPicture1_Url}}"
                         style="width: 500px; height: 350px;">
                </td>
                <td>
                    <img ng-model="reportObjectData.containPicture2_Url"
                         ng-src="{{reportObjectData.containPicture2_Url}}"
                         style="width: 500px; height: 350px;">
                </td>
            </tr>
        </table>
    </div>

</div>



@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Index", "LoadingPlanningReport")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="delete($event)"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Approve"><i class="fa fa-thumbs-o-up"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Reset Approval status"><i class="fa fa-thumbs-o-down"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/LoadingPlanReport/service.js"></script>
    <script type="text/javascript">
        loadingplanningreportService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/LoadingPlanReport/';
        loadingplanningreportService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var reportApp = angular.module("tilsoftApp", []);
        reportApp.controller("tilsoftController", ["$scope", function ($scope) {
            $scope.reportObjectData = null;
            loadingplanningreportService.load(
                @ViewBag.ID,
                    function (data) {
                        $scope.reportObjectData = data.data;
                        $scope.$apply();
                        jQuery("#content").show();

                        // monitor changes
                        $scope.$watch("LoadingPlan", function() {
                            jQuery("#changeNotification").html('<i class="fa fa-save blink_me"></i>');
                        });
                    },
                    function (error) {
                        jsHelper.showMessage("warning", error);

                        $scope.reportObjectData = null;
                        $scope.$apply();
                    }
                );

            // function defined
            $scope.update = function ($event) {
                $event.preventDefault();

                if($scope.editForm.$valid)
                {
                    loadingplanningreportService.update(@ViewBag.ID, $scope.reportObjectData,
                    function (data) {
                        jsHelper.processMessage(data.message);
                        if(data.message.type == 0) {
                            window.location = '@Url.Action("Index", "LoadingPlanningReport")';
                        }
                    },
                        function (error) {
                            jsHelper.showMessage("warning", error);
                        }
                    );
                }
                else
                {
                    jsHelper.showMessage("warning", '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED');
                }
            }

            $scope.delete = function ($event) {
                $event.preventDefault();

                if (confirm("Are you sure ?")) {
                    loadingplanningreportService.delete(@ViewBag.ID,
                    function (data) {
                        jsHelper.processMessage(data.message);
                        if(data.message.type == 0) {
                            window.location = '@Url.Action("Index", "LoadingPlanningReport")';
                        }
                    },
                    function (error) {
                        jsHelper.showMessage("warning", error);
                    }
                );
                }
            }
        }]);
    </script>
}

