
@{
    ViewBag.Title = "Search Loadingplanning report";
    ViewBag.Module = "LoadingPlanning report";
}


<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <div class="table-responsive" id="LoadingPlanningTable">
                        <table class="table table-bordered table-hover custom-table dataTable">
                            <thead>
                                <tr>
                                    <th style="width: 60px;"></th>
                                    <th style="width: 350px;" class="sorting" data-colname="LoadingPlanUd">Loading REF</th>
                                    <th class="sorting_asc" data-colname="ContainerRefNo" style="width: 100px;">Container REF</th>
                                    <th style="width: 60px;" class="sorting_asc" data-colname="FactoryUd">Factory</th>
                                    <th style="width: 80px;" data-colname="SendingDate">SendingDate</th>
                                    <th style="width: 80px;" data-colname="ControllerName">ControllerName</th>
                                    <th style="width: 120px;" data-colname="Description">Description</th>
                                    <th style="width: 20px;" class="sorting" data-colname="IsLoaded">Loaded</th>
                                    <th style="width: 20px;" class="sorting" data-colname="IsShipped">Shipped</th>
                                    <th style="width: 20px;" class="sorting" data-colname="IsConfirmed">Comfirmed</th>
                                    <th style="width: 80px;" data-colname="Season">Season</th>
                                    <th style="width: 80px;" data-colname="Client">Client</th>
                                    <th style="width: 80px;" data-colname="SenderName">SenderName</th>
                                    <th style="width: 80px;" data-colname="LoadingDate">LoadingDate</th>
                                    <th style="width: 80px;" data-colname="ShippedDate">ShippedDate</th>
                                    <th style="width: 80px;" data-colname="Forwarder">Forwarder</th>
                                    <th style="width: 80px;" data-colname="BlNo">BlNo</th>
                                    <th style="width: 80px;" data-colname="ContainerNo">ContainerNo</th>
                                    <th style="width: 80px;" data-colname="ContainerType">ContainerType</th>
                                    <th style="width: 80px;" data-colname="SealNo">SealNo</th>
                                    <th style="width: 80px;" data-colname="Feeder">Feeder</th>
                                    <th style="width: 80px;" data-colname="Vessel">Vessel</th>
                                    <th style="width: 80px;" data-colname="Etd">ETD</th>
                                    <th style="width: 80px;" data-colname="Eta">ETA</th>
                                    <th style="width: 80px;" data-colname="CreatorName">CreatorName</th>
                                    <th style="width: 80px;" data-colname="CreatedDate">CreatedDate</th>
                                    <th style="width: 80px;" data-colname="UpdatorName">UpdatorName</th>
                                    <th style="width: 80px;" data-colname="UpdatedDate">UpdatedDate</th>
                                    <th style="width: 80px;" data-colname="Sale">Sale</th>
                                    <th style="width: 80px;" data-colname="Sale2">Sale2</th>
                                    <th style="width: 80px;" data-colname="ShipmentDate">ShipmentDate</th>
                                    <th style="width: 80px;" data-colname="CutOffDate">CutOffDate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="report in reports">
                                    <td style="text-align: center;">
                                        <a href="@Url.Action("IndexDetails", "LoadingPlanningReport")/{{report.loadingPlanId}}" title="view details"><i class="fa fa-pencil-square grid-button"></i></a>
                                    </td>

                                    <td>{{report.loadingPlanUd}}</td>
                                    <td>{{report.containerRefNo}}</td>
                                    <td>{{report.factoryUd}}</td>
                                    <td>{{report.sendingDate}}</td>
                                    <td>{{report.controllerName}}</td>
                                    <td>{{report.description}}</td>
                                    <td>{{report.isLoaded}}</td>
                                    <td>{{report.isShipped}}</td>
                                    <td>{{report.isConfirmed}}</td>
                                    <td>{{report.season}}</td>
                                    <td>{{report.client}}</td>
                                    <td>{{report.senderName}}</td>
                                    <td>{{report.loadingDate}}</td>
                                    <td>{{report.shippedDate}}</td>
                                    <td>{{report.forwarder}}</td>
                                    <td>{{report.blNo}}</td>
                                    <td>{{report.containerNo}}</td>
                                    <td>{{report.containerType}}</td>
                                    <td>{{report.sealNo}}</td>
                                    <td>{{report.feeder}}</td>
                                    <td>{{report.vessel}}</td>
                                    <td>{{report.etd}}</td>
                                    <td>{{report.eta}}</td>
                                    <td>{{report.creatorName}}</td>
                                    <td>{{report.createdDate}}</td>
                                    <td>{{report.updatedName}}</td>
                                    <td>{{report.updatedDate}}</td>
                                    <td>{{report.sale}}</td>
                                    <td>{{report.sale2}}</td>
                                    <td>{{report.shipmentDate}}</td>
                                    <td>{{report.cutOffDate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Search"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh"><i class="fa fa-refresh"></i></a>
        </li>
        @*<li class="sparks-info">
            <a href="@Url.Action("IndexDetails", "LoadingPlanningReport")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="View"><i class="fa fa-file-o"></i></a>
        </li>*@
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/LoadingPlanReport/service.js"></script>
    <script type="text/javascript">
        //// config data table
        jQuery('#LoadingPlanningTable').furnindoTable();
        //// end config data table

        loadingplanningreportService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/LoadingPlanReport/';
        loadingplanningreportService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        loadingplanningreportService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];

        var reportApp = angular.module('tilsoftApp', []);
        reportApp.controller('tilsoftController', ['$scope', function ($scope) {
            $scope.reports = null;
            $scope.pageIndex = 1;
            $scope.totalPage = 0;

            //
            // private function defined
            //
            var search = function () {
                window.loadingplanningreportService.search(
                    function (data) {
                        $scope.reports = data.data;
                        $scope.totalPage = Math.ceil(data.totalRows / window.loadingplanningreportService.searchFilter.pageSize);
                        $scope.$apply();

                        if(data.totalRows < window.loadingplanningreportService.searchFilter.pageSize) {
                            jQuery('#LoadingPlanningTable').find('ul').hide();
                        }
                        else {
                            jQuery('#LoadingPlanningTable').find('ul').show();
                        }

                        jQuery('#content').show();
                    },
                    function (error) {
                        $scope.reports = null;
                        $scope.pageIndex = 1;
                        $scope.totalPage = 0;
                        $scope.$apply();
                    }
                );
            }

            // function define
            $scope.delete = function (id) {
                if (confirm('Are you sure ?')) {
                    window.loadingplanningreportService.delete(id,
                        function (data) {
                            jsHelper.processMessage(data.message);

                            if(data.message.type == 0) {
                                var j = -1;
                                for (var i = 0; i < $scope.reports.length; i++) {
                                    if ($scope.reports[i].LoadingPlanId == data.data) {
                                        j = i;
                                        break;
                                    }
                                }

                                if (j >= 0) {
                                    $scope.reports.splice(j, 1);
                                }

                                $scope.$apply();
                            }
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                        }
                    );
                }
            }

            //
            // SORTING & PAGING
            //
            $scope.goToFirst = function ($event) {
                $event.preventDefault($event);
                $scope.pageIndex = 1;
                window.loadingplanningreportService.searchFilter.pageIndex = $scope.pageIndex;
                search();
            }

            $scope.goToPrev = function ($event) {
                $event.preventDefault();
                if ($scope.pageIndex > 1) {
                    $scope.pageIndex--;
                    window.loadingplanningreportService.searchFilter.pageIndex = $scope.pageIndex;
                    search();
                }
            }

            $scope.goToNext = function ($event) {
                $event.preventDefault();
                if ($scope.pageIndex < $scope.totalPage) {
                    $scope.pageIndex++;
                    window.loadingplanningreportService.searchFilter.pageIndex = $scope.pageIndex;
                    search();
                }
            }

            $scope.goToLast = function ($event) {
                $event.preventDefault();
                $scope.pageIndex = $scope.totalPage;
                window.loadingplanningreportService.searchFilter.pageIndex = $scope.pageIndex;
                search();
            }

            $scope.goToPage = function ($event) {
                $event.preventDefault();
                if (jQuery('#LoadingPlanningTable_pageIndex').val() > 0 && jQuery('#LoadingPlanningTable_pageIndex').val() <= $scope.totalPage) {
                    $scope.pageIndex = jQuery('#LoadingPlanningTable_pageIndex').val();
                    window.loadingplanningreportService.searchFilter.pageIndex = $scope.pageIndex;
                    search();
                }
                else {
                    alert('Invalid page index!');
                    jQuery('#LoadingPlanningTable_pageIndex').val($scope.pageIndex);
                }
            }

            $scope.sort = function ($event) {
                $event.preventDefault();

                $scope.pageIndex = 1;
                window.loadingplanningreportService.searchFilter.pageIndex = $scope.pageIndex;
                window.loadingplanningreportService.searchFilter.sortedBy = jQuery($event.target).data('colname');

                if (jQuery($event.target).hasClass('sorting_asc')) {
                    window.loadingplanningreportService.searchFilter.sortedDirection = 'asc';
                }
                else if (jQuery($event.target).hasClass('sorting_desc') || jQuery($event.target).hasClass('sorting')) {
                    window.loadingplanningreportService.searchFilter.sortedDirection = 'desc';
                }

                search();
            }

            //
            // INIT
            //
            search();
        }]);
    </script>
}




