@{
    ViewBag.Title = "Management Info: Overview";
    ViewBag.Module = "Management Info: Overview";
    string currentSeason = Library.Helper.GetCurrentSeason();
    string Season = currentSeason;
    if (DateTime.Now.Month == 8)
    {
        Season = Library.Helper.GetNextSeason(currentSeason);
    }
    else
    {
        Season = currentSeason;
    }
    string prevSeason = Library.Helper.GetPreviousSeason(Season);
    string nextSeason = Library.Helper.GetNextSeason(Season);
}
<style>
    .tilsoft-table .tilsoft-table-body {
        height: auto !important;
        max-height: none
    }
</style>
<div class="row" style="margin-top: 15px;">
    <!-- show report for management level -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <div>
                <div class="widget-body no-padding">
                    <div class="padding-10">
                        <p class="alert alert-info no-margin" style="border-bottom: none;">
                            <span style="padding: 5px; display: inline-block; margin-bottom: 5px; margin-right: 5px; background: rgba(255,255,255,0.7);"><strong>Exchange Rate</strong>: {{method.formatNumber(data.exchangeRate, 2)}}</span>
                            <span style="padding: 5px; display: inline-block; margin-bottom: 5px; margin-right: 5px; background: rgba(255,255,255,0.7);"><strong>Est. Container Value</strong>: $ {{method.formatCurrency(data.usdContainerValue)}} or &euro; {{method.formatCurrency(data.eurContainerValue)}}</span>
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <h2 style="margin-bottom:0px">DDC @Season, @nextSeason</h2>
                                <div class="tilsoft-table">
                                    <div style="width: 100%; overflow-y: hidden; height: auto; margin-top: 0px;" class="tilsoft-table-body">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th style="font-weight: bold;">DDC @Season</th>
                                                    <th style="width: 80px; font-weight: bold;">FOB</th>
                                                    <th style="width: 60px; font-weight: bold;">% FOB / TOTAL</th>
                                                    <th style="width: 80px; font-weight: bold;">FRANCO</th>
                                                    <th style="width: 80px; font-weight: bold;">% FRANCO / TOTAL</th>
                                                    <th style="width: 80px; font-weight: bold;" class="mi-background-current-season">TOTAL</th>
                                                    <th style="width: 80px; font-weight: bold;" class="mi-background-current-season">CONT</th>
                                                </tr>
                                                <tr>
                                                    <td colspan="7" style="text-align:center"><strong>DDC @Season</strong></td>
                                                </tr>
                                                <tr ng-repeat="item in data.ddCs">
                                                    <td style="text-align: left">{{item.displayText}}</td>
                                                    <td style="text-align: right;">$&nbsp;{{$parent.method.formatCurrency(item.fobAmount)}}</td>
                                                    <td style="text-align: right;">{{$parent.method.formatNumber(100 - item.francoAmount / item.totalAmount * 100, 1)}} %</td>
                                                    <td style="text-align: right;">&euro;&nbsp;{{$parent.method.formatCurrency(item.francoAmount)}}</td>
                                                    <td style="text-align: right;">{{$parent.method.formatNumber(item.francoAmount / item.totalAmount * 100, 1)}} %</td>
                                                    <td style="text-align: right;font-weight:bold" class="mi-background-current-season">&euro;&nbsp;{{$parent.method.formatCurrency(item.totalAmount)}}</td>
                                                    <td style="text-align: right;font-weight:bold" class="mi-background-current-season">{{$parent.method.formatContainerNumber(item.contAmount)}}</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="7" style="text-align:center"><strong>DDC @nextSeason</strong></td>
                                                </tr>
                                                <tr ng-repeat="item in data.ddcNextSeasons">
                                                    <td style="text-align: left">{{item.displayText}}</td>
                                                    <td style="text-align: right;">$&nbsp;{{$parent.method.formatCurrency(item.fobAmount)}}</td>
                                                    <td style="text-align: right;">{{$parent.method.formatNumber(100 - item.francoAmount / item.totalAmount * 100, 1)}} %</td>
                                                    <td style="text-align: right;">&euro;&nbsp;{{$parent.method.formatCurrency(item.francoAmount)}}</td>
                                                    <td style="text-align: right;">{{$parent.method.formatNumber(item.francoAmount / item.totalAmount * 100, 1)}} %</td>
                                                    <td style="text-align: right;font-weight:bold" class="mi-background-current-season">&euro;&nbsp;{{$parent.method.formatCurrency(item.totalAmount)}}</td>
                                                    <td style="text-align: right;font-weight:bold" class="mi-background-current-season">{{$parent.method.formatContainerNumber(item.contAmount)}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-lg-6">
                                <h2 style="margin-bottom: 0px;">PRODUCTION @Season</h2>
                                <div class="tilsoft-table">
                                    <div style="width: 100%; overflow-y: hidden; height: auto; margin-top: 0px;" class="tilsoft-table-body">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th colspan="7" style="font-weight: bold;">CONTAINER SHIPMENTS / PRODUCTTION CAPACITY @Season</th>
                                                </tr>
                                                <tr>
                                                    <th style="font-weight: bold;">COUNTRY</th>
                                                    <th style="font-weight: bold;width:60px">MATE RIAL</th>
                                                    <th style="font-weight: bold;width:80px">CONFIRMED ORDER</th>
                                                    <th style="font-weight: bold;width:80px">SHIPPED</th>
                                                    <th style="font-weight: bold;width:60px">% SHIPPED</th>
                                                    <th style="font-weight: bold;width:80px">TO BE SHIPPED</th>
                                                    <th style="font-weight: bold;width:80px">% TO BE SHIPPED</th>
                                                </tr>
                                                <tr ng-repeat="item in data.productions | orderBy : 'totalOrder' : 'reverse'">
                                                    <td style="text-align: left">{{item.manufacturerCountryNM}}</td>
                                                    <td style="text-align: center">All</td>
                                                    <td style="text-align: right;">{{$parent.method.formatContainerNumber(item.totalOrder)}}</td>
                                                    <td style="text-align: right;">{{$parent.method.formatContainerNumber(item.totalShipped)}}</td>
                                                    <td style="text-align: right;">{{$parent.method.formatCurrency(item.percentShipped)}} %</td>
                                                    <td style="text-align: right;">{{$parent.method.formatContainerNumber(item.totalToBeShipped)}}</td>
                                                    <td style="text-align: right;">{{$parent.method.formatCurrency(item.percentToBeShipped)}} %</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: left; font-weight:bold" colspan="2">Total:</td>
                                                    <td style="text-align: right; font-weight:bold">{{method.calTotalConfirmedOrder() | number : 1}}</td>
                                                    <td style="text-align: right; font-weight:bold">{{method.calTotalShipped() | number : 1}}</td>
                                                    <td style="text-align: right; font-weight:bold"></td>
                                                    <td style="text-align: right; font-weight:bold">{{method.calTotalToBeShipped() | number : 1}}</td>
                                                    <td style="text-align: right; font-weight:bold"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-lg-12">
                                <h2 style="margin-bottom: 0px;">EXPECTATION - PROFORMA INVOICE - COMMERCIAL INVOICE @prevSeason, @Season</h2>
                                <div class="tilsoft-table">
                                    <div style="width: 100%; overflow-y: hidden; height: auto; margin-top: 0px;" class="tilsoft-table-body">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th style="font-weight: bold;">EXPECTATION - PROFORMA INVOICE - COMMERCIAL INVOICE</th>
                                                    <th style="font-weight: bold;" colspan="4" class="mi-background-next-season">@nextSeason</th>
                                                    <th style="font-weight: bold;" colspan="4" class="mi-background-current-season">@Season</th>
                                                    <th style="font-weight: bold;" colspan="4" class="mi-background-last-season">@prevSeason</th>
                                                </tr>
                                                <tr>
                                                    <th style="font-weight: bold">&nbsp;</th>

                                                    <th style="width: 85px; font-weight: bold;" class="mi-background-next-season">USD</th>
                                                    <th style="width: 85px; font-weight: bold;" class="mi-background-next-season">EUR</th>
                                                    <th style="width: 85px; font-weight: bold;" class="mi-background-next-season">TOTAL EUR</th>
                                                    <th style="width: 70px; font-weight: bold;" class="mi-background-next-season">CONT</th>

                                                    <th style="width: 85px; font-weight: bold;" class="mi-background-current-season">USD</th>
                                                    <th style="width: 85px; font-weight: bold;" class="mi-background-current-season">EUR</th>
                                                    <th style="width: 85px; font-weight: bold;" class="mi-background-current-season">TOTAL EUR</th>
                                                    <th style="width: 70px; font-weight: bold;" class="mi-background-current-season">CONT</th>

                                                    <th style="width: 85px; font-weight: bold;" class="mi-background-last-season">USD</th>
                                                    <th style="width: 85px; font-weight: bold;" class="mi-background-last-season">EUR</th>
                                                    <th style="width: 85px; font-weight: bold;" class="mi-background-last-season">TOTAL EUR</th>
                                                    <th style="width: 70px; font-weight: bold;" class="mi-background-last-season">CONT</th>
                                                </tr>
                                                <tr ng-repeat="item in data.proformas">
                                                    <td style="text-align: left;">{{item.displayText}}</td>

                                                    @*ddc next season*@
                                                    <td style="text-align: right;" class="mi-background-next-season">
                                                        <span ng-show="item.displayText=='Expectation'">$&nbsp;{{$parent.method.formatCurrency(method.getExpectationNextSeason().fobAmount)}}</span>                                                        
                                                    </td>
                                                    <td style="text-align: right;" class="mi-background-next-season">
                                                        <span ng-show="item.displayText=='Expectation'">&euro;&nbsp;{{$parent.method.formatCurrency(method.getExpectationNextSeason().francoAmount)}}</span>
                                                    </td>
                                                    <td style="text-align: right;font-weight:bold" class="mi-background-next-season">
                                                        <span ng-show="item.displayText=='Expectation'">&euro;&nbsp;{{$parent.method.formatCurrency(method.getExpectationNextSeason().totalAmount)}}</span>
                                                    </td>
                                                    <td style="text-align: right;font-weight:bold" class="mi-background-next-season">
                                                        <span ng-show="item.displayText=='Expectation'">{{$parent.method.formatContainerNumber(method.getExpectationNextSeason().contAmount)}}</span>
                                                    </td>

                                                    @*current season*@
                                                    <td style="text-align: right;" class="mi-background-current-season">$&nbsp;{{$parent.method.formatCurrency(item.thisYearUSD)}}</td>
                                                    <td style="text-align: right;" class="mi-background-current-season">&euro;&nbsp;{{$parent.method.formatCurrency(item.thisYearEUR)}}</td>
                                                    <td style="text-align: right;font-weight:bold" class="mi-background-current-season">&euro;&nbsp;{{$parent.method.formatCurrency(item.thisYearTotalEUR)}}</td>
                                                    <td style="text-align: right;font-weight:bold" class="mi-background-current-season">{{$parent.method.formatContainerNumber(item.thisYearCont)}}</td>

                                                    @*previous season*@
                                                    <td style="text-align: right;" class="mi-background-last-season">$&nbsp;{{$parent.method.formatCurrency(item.lastYearUSD)}}</td>
                                                    <td style="text-align: right;" class="mi-background-last-season">&euro;&nbsp;{{$parent.method.formatCurrency(item.lastYearEUR)}}</td>
                                                    <td style="text-align: right;font-weight:bold" class="mi-background-last-season">&euro;&nbsp;{{$parent.method.formatCurrency(item.lastYearTotalEUR)}}</td>
                                                    <td style="text-align: right;font-weight:bold" class="mi-background-last-season">{{$parent.method.formatContainerNumber(item.lastYearCont)}}</td>


                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/mioverviewrpt/';
        jsonService.supportServiceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            season: '@Season'
        }
    </script>
    <script src="~/Angular/app/miOverviewRpt/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/miOverviewRpt/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}