@{
    ViewBag.Title = "OverView";

    ViewBag.Module = "Proforma Invoice";
}

<style>
    .greenCell {
        background-color: #55bd3a !important
    }

    .xamCell {
        background-color: #86969c !important
    }
</style>

<form name="editForm" id="main-form" class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet"> General Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabTermAndCurrency"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet"> Term & Currency Information <span ng-show="editForm.vatPercent.$error.required"><i class="fa fa-warning" style="color:red"></i>VAT is require</span></span> </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#tabPIPrintout"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet"> PI Printout Description</span> </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#tabWarehouseReturn"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Warehouse Return</span> </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#tabTracking"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet"> Tracking</span> </a>
                    </li>

                </ul>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <div class="tab-content">

                        <div class="tab-pane active" id="tabGeneral">
                            <div>
                                <div class="row">
                                    <div class="col col-lg-2 ">
                                        <label>Prof.No</label>
                                        <span class="form-control">{{saleorder.saleOrderData.proformaInvoiceNo}}</span>
                                    </div>

                                    @*<div class="col col-lg-1 ">
                                            <label>Order Type</label>
                                            <span class="form-control">{{saleorder.orderTypes.orderTypeText}}</span>
                                            <select name="orderType" class="form-control" ng-model="saleorder.saleOrderData.orderType" ng-options="item.orderTypeValue as item.orderTypeText for item in saleorder.orderTypes" required>
                                                <option value=""></option>
                                            </select>
                                            <span class="help-block" ng-show="editForm.orderType.$error.required"><i class="fa fa-warning"></i>Order type is required.</span>
                                        </div>*@



                                    <div class="col col-lg-2 ">
                                        <label>Season</label>
                                        <span class="form-control">{{saleorder.saleOrderData.season}}</span>
                                    </div>

                                    <div class="col col-lg-2 ">
                                        <label>PI Status</label>
                                        <span class="form-control">{{saleorder.saleOrderData.trackingStatusNM}}</span>
                                    </div>

                                    <div class="col col-lg-2 ">
                                        <label>LDS / <input type="checkbox" ng-model="saleorder.saleOrderData.isViewLDSOnPrintout">View on printout</label>
                                        <span class="form-control">{{saleorder.saleOrderData.ldsFormated}}</span>
                                    </div>
                                    <div class="col col-lg-2 ">
                                        <label>Delivery Date / <input type="checkbox" ng-model="saleorder.saleOrderData.isViewDeliveryDateOnPrintout">View on printout</label>
                                        <span class="form-control">{{saleorder.saleOrderData.deliveryDateFormated}}</span>
                                    </div>

                                    <div class="col col-lg-2 ">
                                        <label>Delivery Date Internal</label>
                                        <span class="form-control">{{saleorder.saleOrderData.deliveryDateInternalFormated}}</span>
                                    </div>



                                </div>

                                <div class="row">
                                    <div class="col col-lg-2 ">
                                        <label>Invoice Date</label>
                                        <span class="form-control">{{saleorder.saleOrderData.invoiceDateFormated}}</span>
                                    </div>

                                    <div class="col col-lg-2 ">
                                        <label>Client Reference</label>
                                        <span class="form-control">{{saleorder.saleOrderData.reference}}</span>
                                    </div>

                                    <div class="col col-lg-2 ">
                                        <label>Conditions</label>
                                        <span class="form-control">{{saleorder.saleOrderData.conditions}}</span>
                                    </div>

                                    <div class="col col-lg-2 ">
                                            <label>Payment Status</label>
                                              <span class="form-control">{{saleorder.saleOrderData.paymentStatusNM}}</span>

                                        </div>

                                    <div class="col col-lg-2 ">
                                        <label>Payment Date</label>
                                        <span class="form-control">{{saleorder.saleOrderData.paymentDateFormated}}</span>
                                    </div>

                                    <div class="col col-lg-2 ">
                                        <label>Payment Remark</label>
                                        <span class="form-control">{{saleorder.saleOrderData.paymentRemark}}</span>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col col-lg-2 m-bottom-15">
                                        <label><input type="checkbox" id="ispiReceived" ng-model="saleorder.saleOrderData.ispiReceived" ng-change="ispiReceivedChecked()"> Signed PI Received/Received Date</label>
                                        <span class="form-control">{{saleorder.saleOrderData.piReceivedDateFormated}}</span>
                                    </div>

                                    <div class="col col-lg-2 m-bottom-15">
                                        <label>Signed PI Received By</label>
                                        <span class="form-control">{{saleorder.saleOrderData.piReceivedBy}}</span>
                                    </div>

                                    <div class="col col-lg-2 m-bottom-15">
                                        <label>Signed PI Remark</label>
                                        <span class="form-control">{{saleorder.saleOrderData.piReceivedRemark}}</span>
                                    </div>

                                    @*<div class="col col-lg-2">
                                            <label><a href="@Url.Action("Edit", "ClientPayment")/{{saleorder.saleOrderData.clientPaymentID}}" target="_blank">Payment Received Detail</a></label>
                                            <ul>
                                                <li style="display:inline"><input type="checkbox"  ng-model="saleorder.saleOrderData.isdpReceived"  disabled="disabled"/>&nbsp;DP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                <li style="display:inline"><input type="checkbox" ng-model="saleorder.saleOrderData.islcReceived"  disabled="disabled"/>&nbsp;LC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                <li style="display:inline"><input type="checkbox"  ng-model="saleorder.saleOrderData.isnaReceived" disabled="disabled"/>&nbsp;N/A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                            </ul>
                                        </div>

                                        <div class="col col-lg-2">
                                            <label>Payment Received Date</label>
                                            <span class="form-control">{{saleorder.saleOrderData.paymentDateFormated}}</span>
                                        </div>*@

                                    <div class="col col-lg-2">
                                        <label>Client Order Number</label>
                                        <span class="form-control">{{saleorder.saleOrderData.clientOrderNumber}}</span>
                                    </div>

                                    <div class="col col-lg-3 m-bottom-15">
                                        <label><input type="checkbox" id="ispiReceived" ng-model="saleorder.saleOrderData.isViewQuantity20DCOnPrintout"> View on printout <b>/ 20 / 40 / 40'HC / LCL</b></label>
                                        <table>
                                            <tr>
                                                <td style="text-align:center; width:40px"><span class="form-control">{{saleorder.saleOrderData.quantity20DC}}</span></td>
                                                <td style="text-align:center; width:40px"><span class="form-control">{{saleorder.saleOrderData.quantity40DC}}</span></td>
                                                <td style="text-align:center; width:40px"><span class="form-control">{{saleorder.saleOrderData.quantity40HC}}</span></td>
                                                <td style="text-align:center; width:40px"><span class="form-control">{{saleorder.saleOrderData.lessThanContainerLoad}}</span></td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <span class="help-block" ng-show="editForm.quantity20DC.$error.required && editForm.quantity40DC.$error.required && editForm.quantity40HC.$error.required && editForm.lessThanContainerLoad.$error.required"><i class="fa fa-warning"></i>One of 4 fiels 20DC / 40DC / 40HC / LDL is require</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col col-lg-6">
                                        <label>Signed PI Attach File: {{saleorder.saleOrderData.signedPIFileFriendlyName}}</label>

                                    </div>
                                    <div class="col col-lg-6">
                                        <label>Client's PO Attach File: {{saleorder.saleOrderData.clientPOFriendlyName}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tabTermAndCurrency">
                            <div class="row">
                                <div class="col-sm-2 m-bottom-15">
                                    <label>Payment Term</label>
                                    <span class="form-control">{{saleorder.saleOrderData.paymentTermNM}}</span>

                                </div>

                                <div class="col-sm-2 m-bottom-15">
                                    <label>Delivery Term</label>
                                    <span class="form-control">{{saleorder.saleOrderData.deliveryTermNM}}</span>

                                </div>

                                <div class="col-sm-2 m-bottom-15">
                                    <label>Payment Type</label>
                                    <span class="form-control">{{saleorder.saleOrderData.paymentTypeNM}}</span>
                                </div>

                                <div class="col-sm-2 m-bottom-15">
                                    <label>Delivery Type</label>
                                    <span class="form-control">{{saleorder.saleOrderData.deliveryTypeNM}}</span>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-sm-2 m-bottom-15">
                                    <label>VAT</label>
                                    <span class="form-control">{{saleorder.saleOrderData.vatPercent}}</span>
                                </div>

                                <div class="col-sm-2 m-bottom-15">
                                    <label>Currency</label>
                                    <span class="form-control">{{saleorder.saleOrderData.currency}}</span>
                                </div>

                                <div class="col-sm-2 m-bottom-15">
                                    <label>Discount</label>
                                    <span class="form-control">{{saleorder.saleOrderData.discount}}</span>
                                </div>

                                <div class="col-sm-2 m-bottom-15">
                                    <label>Transportation</label>
                                    <span class="form-control">{{saleorder.saleOrderData.transportation}}</span>
                                </div>

                                <div class="col-sm-2 m-bottom-15">
                                    <label>Commission Percent(%)</label>
                                    <span class="form-control">{{saleorder.saleOrderData.commissionPercent}}</span>
                                </div>

                                @*<div class="col-sm-2 m-bottom-15">
                                        <label>Commission</label>
                                        <input class="form-control" type="text" id="commission" ng-model="saleorder.saleOrderData.commission" style="text-align:right">
                                    </div>*@


                            </div>
                        </div>

                        <div class="tab-pane" id="tabPIPrintout">
                            <div class="row">
                                <div class="col-sm-6 m-bottom-15">
                                    <div id="topDescription" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-body" style="width: 600px; height: auto;margin-top:0px">
                                                <table>
                                                    <tr>
                                                        <th style="width: 70px;" class="sorting" data-colname="rowIndex">INDEX</th>
                                                        <th style="width: 90px;" class="sorting" data-colname="costType">COST TYPE</th>
                                                        <th class="sorting" data-colname="description">TOP DESCRIPTION</th>
                                                        <th style="width: 100px;" class="sorting" data-colname="totalAmount">Amount</th>
                                                    </tr>
                                                    <tr ng-repeat="top_item in saleorder.saleOrderData.saleOrderExtends | filter : { position: 'TOP' } | orderBy : 'rowIndex'">
                                                        <td><span class="form-control">{{top_item.rowIndex}}</span></td>
                                                        <td>
                                                            <span class="form-control">{{top_item.costType}}</span>
                                                        </td>
                                                        <td> <span class="form-control">{{top_item.description}}</span></td>
                                                        <td>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">{{saleorder.saleOrderData.currency == 'USD' ? '$' : ''}} {{saleorder.saleOrderData.currency == 'EUR' ? '€' : ''}}</span>
                                                                <span class="form-control">{{top_item.totalAmount}}</span>
                                                                
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 m-bottom-15">
                                    <div id="bottomDescription" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-body" style="width: 600px; height:auto;margin-top:0px">
                                                <table>
                                                    <tr>
                                                        <th style="width: 70px;" class="sorting" data-colname="rowIndex">INDEX</th>
                                                        <th style="width: 90px;" class="sorting" data-colname="costType">COST TYPE</th>
                                                        <th class="sorting" data-colname="description">BOTTOM DESCRIPTION</th>
                                                        <th style="width: 100px;" class="sorting" data-colname="totalAmount">Amount</th>
                                                    </tr>
                                                    <tr ng-repeat="item in saleorder.saleOrderData.saleOrderExtends | filter : { position: 'BOTTOM' } | orderBy : 'rowIndex'">
                                                        <td>
                                                            <span class="form-control">{{item.rowIndex}}</span>
                                                        </td>
                                                        <td>
                                                            <span class="form-control">{{item.costType}}</span>
                                                        </td>
                                                        <td>
                                                            <span class="form-control">{{item.description}}</span>
                                                        <td style="text-align:right">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">{{saleorder.saleOrderData.currency == 'USD' ? '$' : ''}} {{saleorder.saleOrderData.currency == 'EUR' ? '€' : ''}}</span>
                                                                <span class="form-control">{{item.totalAmount}}</span>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="tab-pane" id="tabWarehouseReturn">
                            <div class="row">
                                <div id="warehouseImport" class="tilsoft-table-wrapper">
                                    <div class="tilsoft-table">
                                        <div class="tilsoft-table-body" style="width: 1000px; height:auto;margin-top:0px">
                                            <table>
                                                <tr>
                                                    <th data-colname="invoiceNo" style="width: 80px;"></th>
                                                    <th data-colname="invoiceNo" style="width: 300px;">Warehouse Import Receipt No</th>
                                                    <th data-colname="factoryInvoiceNo" style="width: 300px;">Import Date</th>
                                                    <th data-colname="blNo">Import Type</th>
                                                </tr>
                                                <tr ng-repeat="item in saleorder.saleOrderData.warehouseImports">
                                                    <td style="text-align:center">
                                                        <a href="@Url.Action("Return", "WarehouseImport")/{{item.warehouseImportID}}" title="Open warehouse import" class="btn btn-primary btn-xs font-11" target="_blank"><i class="fa fa-folder-open">View</i></a>
                                                    </td>
                                                    <td>
                                                        {{item.receiptNo}}
                                                    </td>
                                                    <td>
                                                        {{item.importedDate}}
                                                    </td>
                                                    <td>
                                                        {{item.importTypeNM}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="tab-pane" id="tabTracking">
                            <div class="row">
                                <div class="col-sm-2 m-bottom-15">
                                    <label>Created By</label>
                                    <span class="form-control">
                                        <a ng-show="(saleorder.saleOrderData.createdBy != null && saleorder.saleOrderData.creatorName2 != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{saleorder.saleOrderData.createdBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                            <i class="fa fa-user"></i> {{saleorder.saleOrderData.creatorName2}}
                                        </a>
                                        <span ng-show="(saleorder.saleOrderData.createdBy != null && saleorder.saleOrderData.creatorName2 == null && saleorder.saleOrderData.creatorName != null)">{{saleorder.saleOrderData.creatorName}}</span>
                                    </span>
                                </div>
                                <div class="col-sm-2 m-bottom-15">
                                    <label>Created Date</label>
                                    <span class="form-control">{{saleorder.saleOrderData.createdDateFormated}}</span>
                                </div>
                                <div class="col-sm-2 m-bottom-15">
                                    <label>Updated By</label>
                                    <span class="form-control">
                                        <a ng-show="(saleorder.saleOrderData.updatedBy != null && saleorder.saleOrderData.updatorName2 != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{saleorder.saleOrderData.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                            <i class="fa fa-user"></i> {{saleorder.saleOrderData.updatorName2}}
                                        </a>
                                        <span ng-show="(saleorder.saleOrderData.updatedBy != null && saleorder.saleOrderData.updatorName2 == null && saleorder.saleOrderData.updatorName != null)">{{saleorder.saleOrderData.updatorName}}</span>
                                    </span>
                                </div>
                                <div class="col-sm-2 m-bottom-15">
                                    <label>Updated Date</label>
                                    <span class="form-control">{{saleorder.saleOrderData.updatedDateFormated}}</span>
                                </div>
                            </div>
                            @*<div class="row">
                                    <div class="col-sm-2 m-bottom-15">
                                        <label>SaleOrderID</label>
                                        <input class="form-control" type="text" id="v4ID" ng-model="saleorder.saleOrderData.v4id">
                                    </div>
                                    <div class="col-sm-2 m-bottom-15">
                                        <label>OMSv4 ProformaInvoice No</label>
                                        <input class="form-control" type="text" id="v4ID" ng-model="saleorder.saleOrderData.v4piNo">
                                    </div>
                                </div>*@
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabProduct"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Product</span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabSparepart"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Sparepart</span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <div class="tab-content">

                        <div class="tab-pane active" id="tabProduct">
                            <div class="row">
                                <div class="col-sm-12 m-bottom-15">
                                    <div id="saleOrderDetail" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-header" style="width: {{sumA}}px">
                                                <div style="width: 100px; "></div>
                                                <div style="width: 320px;" class="sorting" data-colname="description">Desciption</div>
                                                <div style="width: 70px;" class="sorting" data-colname="orderQnt">Order Qnt</div>
                                                <div style="width: 100px; " class="sorting" data-colname="unitPrice">Unit Price</div>
                                                <div style="width: 110px; " class="sorting" data-colname="unitPrice">Amount</div>
                                                <div style="width: 180px;" class="sorting" data-colname="clientArticleCode">Client Infor</div>
                                                <div>Factory Order</div>
                                            </div>

                                            <div class="tilsoft-table-body" style="width: {{sumA}}px">
                                                <table>
                                                    <tbody ng-repeat="item in saleorder.saleOrderData.saleOrderDetails | saleOrderDetail_Filter : articleCode_filter : description_filter : quantity_filter : v4id_filter">
                                                        <tr>
                                                            <td style="width: 100px; text-align: center;">
                                                                <a href="#" class="btn btn-primary btn-xs font-11" title="Add Product Line Desription" ng-click="viewDetailExtend($event,item.saleOrderDetailID)"><i id="icon-detail-description-{{item.saleOrderDetailID}}" class="fa fa-plus-square-o"></i> Description</a>
                                                            </td>
                                                            <td style="width: 320px;text-align:left;"><span style="font-weight:bold;">{{item.articleCode}}</span><br />{{item.description}}</td>
                                                            <td style="width: 70px; text-align: right">
                                                                {{item.orderQnt}}
                                                            </td>
                                                            <td style="width: 100px; text-align: right">
                                                                {{saleorder.saleOrderData.currency == 'USD' ? '$' : ''}} {{saleorder.saleOrderData.currency == 'EUR' ? '€' : ''}} {{item.unitPrice}}
                                                            </td>
                                                            <td style="width: 110px; text-align: right">
                                                                {{saleorder.saleOrderData.currency == 'USD' ? '$' : ''}} {{saleorder.saleOrderData.currency == 'EUR' ? '€' : ''}} {{item.unitPrice * item.orderQnt | number : 2}}
                                                            </td>
                                                            <td style="width: 180px">
                                                                <b>{{item.clientArticleCode}}</b><br />
                                                                {{item.clientArticleName}}
                                                            </td>
                                                            <td ng-if="factoryOrders.length == 0"></td>
                                                            <td style="margin:0px; height: 100%" ng-repeat="sItem in factoryOrders | filter : {saleOrderDetailID : item.saleOrderDetailID}" class="{{(sItem.shippedQnt!= 0 && sItem.totalQnt != 0 && sItem.totalQnt > 0) ?'xamCell': ((sItem.shippedQnt!= 0 && sItem.totalQnt == 0) ? 'greenCell' : '' )}}">
                                                                <div ng-if="sItem.typeOfItem===1" style="width: 160px;">
                                                                    <span ng-if="sItem.factoryUD != null">Factory: <a target="_blank" href="@Url.Action("Edit", "FactoryOrder", new { id = UrlParameter.Optional })/{{sItem.factoryOrderID}}/{{sItem.saleOrderID}}">{{sItem.factoryUD}}</a></span><br />
                                                                    <span ng-if="sItem.factoryUD != null">Order / Shipped: {{sItem.orderQnt}} / {{sItem.shippedQnt}}</span><br />
                                                                    <span ng-if="sItem.factoryUD != null">LDS: {{sItem.lds}}</span><br />
                                                                    <span ng-if="sItem.factoryUD != null">Last Shipped Date: <a target="_blank" href="@Url.Action("Index", "LoadingPlan")?pi={{saleorder.saleOrderData.proformaInvoiceNo}}">{{sItem.etd}}</a></span>
                                                                </div>

                                                                <div ng-if="sItem.typeOfItem===2" style="width: 140px;">
                                                                    <ul style="padding: 1px">
                                                                        <li ng-repeat="zItem in sItem.factoryOrderDetailQCReportOverViews" style="list-style-type: none;">
                                                                            <label ng-if="zItem.type == 0">Inline: <a target="_blank" href="@Url.Action("Edit", "QCReportMng", new { id = UrlParameter.Optional })/{{zItem.qcReportID}}"> {{zItem.inspectedDate}} - {{zItem.inspectionResultNM}}</a></label>
                                                                            <label ng-if="zItem.type == 1">Final: <a target="_blank" href="@Url.Action("Edit", "QCReportMng", new { id = UrlParameter.Optional })/{{zItem.qcReportID}}"> {{zItem.inspectedDate}} - {{zItem.inspectionResultNM}}</a></label>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr style="display:none" id="{{item.saleOrderDetailID}}">
                                                            <td></td>
                                                            <td colspan="6">
                                                                <a class="btn btn-primary btn-xs font-11" href="javascript:void(0);" ng-click="detailExtendForm.event.add($event,item.saleOrderDetailID)" style="margin-bottom: 10px;"><i class="fa fa-plus"></i> Add line</a>
                                                                <div class="tilsoft-table">
                                                                    <div class="tilsoft-table-body" style="width: 1000px; height: auto; margin-top:0px">
                                                                        <table>
                                                                            <tr style="width: 1000px;">
                                                                                <th style="width: 70px;" class="sorting" data-colname="rowIndex">Index</th>
                                                                                <th class="sorting" data-colname="description">Description</th>
                                                                            </tr>
                                                                            <tr ng-repeat="item_detail_description in item.saleOrderDetailExtends | orderBy : 'rowIndex'">
                                                                                <td><span class="form-control">{{item_detail_description.rowIndex}}</span></td>
                                                                                <td><span class="form-control">{{item_detail_description.description}}</span></td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                    <tr>
                                                        <td style="width: 100px; text-align: center; ">
                                                            Total Price:
                                                        </td>
                                                        <td style="width: 320px;"></td>
                                                        <td style="width: 70px;"></td>
                                                        <td style="width: 100px;"></td>
                                                        <td style="width: 110px; text-align: right">
                                                            {{saleorder.saleOrderData.currency == 'USD' ? '$' : ''}} {{saleorder.saleOrderData.currency == 'EUR' ? '€' : ''}} {{calTotalAmount() | number : 2}}
                                                        </td>
                                                        <td style="width: 180px;"></td>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tabSparepart">
                            <div class="row">
                                <div class="col-sm-12 m-bottom-15">
                                    <div id="saleOrderDetailSparepart" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-header" style="width: 1500px;">
                                                <div style="width: 400px;" class="sorting" data-colname="description">Desciption</div>
                                                <div style="width: 150px; " class="sorting" data-colname="productStatusID">Product Status</div>
                                                <div style="width: 70px;" class="sorting" data-colname="orderQnt">Order Qnt</div>
                                                <div style="width: 110px; " class="sorting" data-colname="unitPrice">Unit Price</div>
                                                <div style="width: 110px; " class="sorting" data-colname="unitPrice">Amount</div>
                                                <div style="width: 200px; " class="sorting" data-colname="clientArticleCode">Client Art.Code</div>
                                                <div style="width: 200px; " class="sorting" data-colname="clientArticleName">Cient Art.Name</div>
                                                <div class="sorting" data-clienteancode="unitPrice">Client EAN Code</div>
                                            </div>
                                            <div class="tilsoft-table-body" style="width: 1500px;">
                                                <table>
                                                    <tr ng-repeat="item in saleorder.saleOrderData.saleOrderDetailSpareparts">
                                                        <td style="width: 400px;text-align:left;"><span style="font-weight:bold;">{{item.articleCode}}</span><br />{{item.description}}</td>
                                                        <td style="width: 150px;">
                                                            <span class="form-control">{{item.productStatusNM}}</span>
                                                        </td>
                                                        <td style="width: 70px;"><span class="form-control">{{item.orderQnt}}</span></td>
                                                        <td style="width: 110px;">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">{{saleorder.saleOrderData.currency == 'USD' ? '$' : ''}} {{saleorder.saleOrderData.currency == 'EUR' ? '€' : ''}}</span>
                                                                <span class="form-control">{{item.unitPrice}}</span>
                                                            </div>
                                                        </td>
                                                        <td style="width: 110px;">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">{{saleorder.saleOrderData.currency == 'USD' ? '$' : ''}} {{saleorder.saleOrderData.currency == 'EUR' ? '€' : ''}}</span>
                                                                <span class="form-control" style="text-align:right">
                                                                    {{item.unitPrice * item.orderQnt | number : 2}}
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td style="width:200px"> <span class="form-control">{{item.clientArticleCode}}</span></td>
                                                        <td style="width:200px"> <span class="form-control">{{item.clientArticleName}}</span></td>
                                                        <td> <span class="form-control">{{item.clientEANCode}}</span></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

<div id="reportTemplate" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Select template to print</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <div class="col-xs-9 col-lg-6">
                            <select class="form-control" id="reportName" ng-model="saleorder.saleOrderData.defaultPiReport" ng-options="reportTemplate.reportTemplateNM as reportTemplate.reportTemplateNM for reportTemplate in saleorder.reportTemplates | filter:{'reportType':'PI'}:true">
                                <option value=""></option>
                            </select>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" ng-click="printPI($event,saleorder.saleOrderData.defaultPiReport)">
                    PRINT
                </button>
            </div>
        </div>
    </div>
</div>
@section pagepopup2
{
    <div id="returnOrderFormMain" class="row" style="display:none">
        @*<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                    <header>
                        <h2>Return Product</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="smart-form">
                                <fieldset>
                                    <a class="btn btn-primary btn-xs font-11" href="javascript:void(0);" ng-click="returnOrderForm.event.openAddGoodsForm($event)" style="margin-bottom: 10px;"><i class="fa fa-plus"></i> Add goods</a>
                                    <table class="table table-bordered table-hover custom-table dataTable">
                                        <thead>
                                            <tr>
                                                <th style="width: 100px; text-align:center" data-colname="cotainerNo">CONTAINER NO</th>
                                                <th style="width: 100px; text-align: center" data-colname="blNo">BL NO</th>
                                                <th style="width: 100px; text-align: center" data-colname="loadingPlanUD">LOADING REF</th>
                                                <th style="width: 100px; text-align: center" data-colname="factoryOrderUD">FACTORY ORDER</th>
                                                <th style="width: 100px; text-align: center" data-colname="factoryUD">FACTORY</th>
                                                <th style="width: 100px; text-align: center" data-colname="articleCode">ARTICLECODE</th>
                                                <th data-colname="description" style="text-align: center">DESCRIPTION</th>
                                                <th style="width: 60px; text-align: center" data-colname="remaingReturnQnt">RETURN REMAINING QNT</th>
                                                <th style="width: 60px; text-align: center" data-colname="orderQnt">RETURN QNT</th>
                                                <th style="width: 70px; text-align: center" data-colname="cotainerNo">RETURN AT PI. NO</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in saleorder.saleOrderData.saleOrderProductReturns">
                                                <td>{{item.containerNo}}</td>
                                                <td>{{item.blNo}}</td>
                                                <td>{{item.loadingPlanUD}}</td>
                                                <td>{{item.factoryOrderUD}}</td>
                                                <td>{{item.factoryUD}}</td>
                                                <td>{{item.articleCode}}</td>
                                                <td>{{item.description}}</td>
                                                <td>{{item.remaingReturnQnt}}</td>
                                                <td>{{item.orderQnt}}</td>
                                                <td><a href="@Url.Action("Edit", "SaleOrder", new { id = UrlParameter.Optional, id2 = UrlParameter.Optional })/{{item.newSaleOrderID}}/{{item.newOfferID}}" target="_blank">{{item.newPINo}} </a></td>
                                            </tr>
                                            <tr ng-repeat="item in saleorder.saleOrderData.saleOrderSparepartReturns">
                                                <td>{{item.containerNo}}</td>
                                                <td>{{item.blNo}}</td>
                                                <td>{{item.loadingPlanUD}}</td>
                                                <td>{{item.factoryOrderUD}}</td>
                                                <td>{{item.factoryUD}}</td>
                                                <td>{{item.articleCode}}</td>
                                                <td>{{item.description}}</td>
                                                <td>{{item.remaingReturnQnt}}</td>
                                                <td>{{item.orderQnt}}</td>
                                                <td><a href="@Url.Action("Edit", "SaleOrder", new { id = UrlParameter.Optional, id2 = UrlParameter.Optional })/{{item.newSaleOrderID}}/{{item.newOfferID}}" target="_blank">{{item.newPINo}} </a></td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </fieldset>
                                <footer>
                                    <button class="btn btn-primary" type="button" ng-click="returnOrderForm.event.confirmReturnData($event)">
                                        ACCEPT RETURN GOODS
                                    </button>
                                    <button class="btn btn-default" type="button" ng-click="returnOrderForm.event.cancel($event)">
                                        CANCEL
                                    </button>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </article>*@
    </div>

    <div id="returnOrderForm" class="row" style="display:none">
        @*<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                    <header>
                        <h2>Select product to return</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="smart-form">
                                <fieldset>
                                    <table class="table table-bordered table-hover custom-table dataTable">
                                        <thead>
                                            <tr>
                                                <th style="width: 100px;" data-colname="cotainerNo">CONTAINER NO</th>
                                                <th style="width: 100px;" data-colname="blNo">BL NO</th>
                                                <th>GOODS INFO</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in returnOrderForm.loadingPlanData">
                                                <td>
                                                    {{item.containerNo}}
                                                </td>
                                                <td>
                                                    {{item.blNo}}
                                                </td>
                                                <td>
                                                    <div class="add_product">
                                                        <table class="table table-bordered table-hover custom-table dataTable">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width: 20px;"></th>
                                                                    <th style="width: 100px;" data-colname="articleCode">ARTICLECODE</th>
                                                                    <th style="width: 40px;" data-colname="quantity">ORDER QNT</th>
                                                                    <th style="width: 40px;" data-colname="quantity">SHIPPED QNT</th>
                                                                    <th style="width: 40px;" data-colname="totalReturnQnt">TOTAL RETURN QNT</th>
                                                                    <th style="width: 40px;" data-colname="remaingReturnQnt">REMAINING QNT</th>
                                                                    <th data-colname="description">DESCRIPTION</th>
                                                                    <th style="width: 40px;" data-colname="quantity">RETURN QNT</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item_detail in item.loadingPlanDetails">
                                                                    <td style="text-align:center"><input type="checkbox" ng-model="item_detail.isSelected" id="chk-{{item_detail.loadingPlanDetailID}}" /></td>
                                                                    <td>{{item_detail.articleCode}}</td>
                                                                    <td style="text-align:right">{{item_detail.saleOrderQnt}}</td>
                                                                    <td style="text-align:right">{{item_detail.shippedQnt}}</td>
                                                                    <td style="text-align:right">{{item_detail.totalReturnQnt}}</td>
                                                                    <td style="text-align:right">{{item_detail.remaingReturnQnt}}</td>
                                                                    <td>{{item_detail.description}}</td>
                                                                    <td><input type="text" ng-model="item_detail.returnQnt" class="form-control" /></td>
                                                                </tr>
                                                                <tr ng-repeat="item_detail in item.loadingPlanSparepartDetails">
                                                                    <td style="text-align:center"><input type="checkbox" ng-model="item_detail.isSelected" id="chk-{{item_detail.loadingPlanSparepartDetailID}}" /></td>
                                                                    <td>{{item_detail.articleCode}}</td>
                                                                    <td style="text-align:right">{{item_detail.saleOrderQnt}}</td>
                                                                    <td style="text-align:right">{{item_detail.shippedQnt}}</td>
                                                                    <td style="text-align:right">{{item_detail.totalReturnQnt}}</td>
                                                                    <td style="text-align:right">{{item_detail.remaingReturnQnt}}</td>
                                                                    <td>{{item_detail.description}}</td>
                                                                    <td><input type="text" ng-model="item_detail.returnQnt" class="form-control" /></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </fieldset>
                                <footer>
                                    <button class="btn btn-primary" type="button" ng-click="returnOrderForm.event.addGoods($event)">
                                        ADD
                                    </button>
                                    <button class="btn btn-default" type="button" ng-click="returnOrderForm.event.cancel($event)">
                                        CANCEL
                                    </button>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </article>*@
    </div>

    <div id="returnGoodsForm" class="row" style="display:none">
        @*<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                    <header>
                        <h2>Select product to return</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="smart-form">
                                <fieldset>
                                    <table class="table table-bordered table-hover custom-table dataTable">
                                        <thead>
                                            <tr>
                                                <th style="width: 20px;"></th>
                                                <th style="width: 100px;" data-colname="cotainerNo">CONTAINER NO</th>
                                                <th style="width: 100px;" data-colname="blNo">BL NO</th>
                                                <th>GOODS INFO</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in returnGoodsForm.loadingPlanData">
                                                <td style="text-align:center"><input type="checkbox" ng-model="item.isSelected" id="chk-{{item.loadingPlanID}}" ng-change="returnGoodsForm.event.selectedCont($event,item.isSelected,item.loadingPlanID)" /></td>
                                                <td>
                                                    {{item.containerNo}}
                                                </td>
                                                <td>
                                                    {{item.blNo}}
                                                </td>
                                                <td>
                                                    <div class="add_product">
                                                        <table class="table table-bordered table-hover custom-table dataTable">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width: 100px;" data-colname="articleCode">ARTICLECODE</th>
                                                                    <th style="width: 40px;" data-colname="quantity">ORDER QNT</th>
                                                                    <th style="width: 40px;" data-colname="quantity">SHIPPED QNT</th>
                                                                    <th style="width: 40px;" data-colname="totalReturnQnt">TOTAL RETURN QNT</th>
                                                                    <th style="width: 40px;" data-colname="remaingReturnQnt">REMAINING QNT</th>
                                                                    <th style="width: 40px;" data-colname="quantity">RETURN QNT</th>
                                                                    <th data-colname="description">DESCRIPTION</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item_detail in item.loadingPlanDetail2s">
                                                                    <td>{{item_detail.articleCode}}</td>
                                                                    <td style="text-align:right">{{item_detail.saleOrderQnt}}</td>
                                                                    <td style="text-align:right">{{item_detail.shippedQnt}}</td>
                                                                    <td style="text-align:right">{{item_detail.totalReturnQnt}}</td>
                                                                    <td style="text-align:right">{{item_detail.remaingReturnQnt}}</td>
                                                                    <td><input type="text" ng-model="item_detail.returnQnt" class="form-control" style="text-align:center" /></td>
                                                                    <td>{{item_detail.description}}</td>
                                                                </tr>
                                                                <tr ng-repeat="item_detail in item.loadingPlanSparepartDetail2s">
                                                                    <td>{{item_detail.articleCode}}</td>
                                                                    <td style="text-align:right">{{item_detail.saleOrderQnt}}</td>
                                                                    <td style="text-align:right">{{item_detail.shippedQnt}}</td>
                                                                    <td style="text-align:right">{{item_detail.totalReturnQnt}}</td>
                                                                    <td style="text-align:right">{{item_detail.remaingReturnQnt}}</td>
                                                                    <td><input type="text" ng-model="item_detail.returnQnt" class="form-control" style="text-align:center" /></td>
                                                                    <td>{{item_detail.description}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </fieldset>
                                <footer>
                                    <button class="btn btn-primary" type="button" ng-click="returnGoodsForm.event.ok($event)">
                                        Accept return goods
                                    </button>
                                    <button class="btn btn-default" type="button" ng-click="returnGoodsForm.event.cancel($event)">
                                        Cancel
                                    </button>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </article>*@
    </div>

}

@section FormAction {
    <ul id="sparks">

        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Print, HttpContext.Current))" title="Print PI" ng-click="getPrintTemplate($event)"><i class="fa fa-print"></i></a>
        </li>

        <li class="sparks-info">
            <a class="btn btn-default @(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" href="@Url.Action("Edit", "SaleOrder")/@ViewBag.ID/@ViewBag.OfferID" title="Edit"><i class="fa fa-pencil"></i></a>
        </li>



    </ul>
}

@section pagejs {
    <script src="~/Angular/app/saleorder/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">
    saleOrderService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/saleorder/';
    saleOrderService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

    var saleOrderDetailGrid = jQuery('#saleOrderDetail').scrollableTable(null,function(sortedBy, sortedDirection){
        var scope = angular.element(jQuery('body')).scope();
        datasource = scope.saleorder.saleOrderData.saleOrderDetails;

        if (sortedDirection == 'asc') {
            datasource.sort(function(a,b){
                return a[sortedBy] > b[sortedBy] ? 1: -1;
            });
        }
        else if (sortedDirection == 'desc') {
            datasource.sort(function(a,b){
                return a[sortedBy] < b[sortedBy] ? 1: -1;
            });
        }
        scope.$apply();
    });

    var saleOrderDetailSparepartGrid = jQuery('#saleOrderDetailSparepart').scrollableTable(null,function(sortedBy, sortedDirection){
        var scope = angular.element(jQuery('body')).scope();
        datasource = scope.saleorder.saleOrderData.saleOrderDetailSpareparts;
        if (sortedDirection == 'asc') {
            datasource.sort(function(a,b){
                return a[sortedBy] > b[sortedBy] ? 1: -1;
            });
        }
        else if (sortedDirection == 'desc') {
            datasource.sort(function(a,b){
                return a[sortedBy] < b[sortedBy] ? 1: -1;
            });
        }
        scope.$apply();
    });


    var saleorderApp = angular.module('tilsoftApp', ['ng-currency']);
    saleorderApp.filter('saleOrderDetail_Filter', function () {
        return function (saleOrderDetails, articleCode, description,quantity,v4id) {
            var items = {
                articleCode: articleCode,
                description: description,
                quantity : quantity,
                v4id: v4id,
                out: []
            }
            angular.forEach(saleOrderDetails, function (value, key) {
                pushed = true;

                if (this.articleCode!='')
                {
                    pushed = pushed && (value.articleCode.toUpperCase().indexOf(this.articleCode.toUpperCase()) >= 0);
                }

                if (this.description!='')
                {
                    pushed = pushed &&  (value.description.toUpperCase().indexOf(this.description.toUpperCase()) >= 0);
                }

                if (pushed) {
                    this.out.push(value);
                }
            }, items);
            return items.out;
        };
    });


    saleorderApp.controller('tilsoftController', ['$scope', function ($scope) {
        $scope.saleorder = null;
        $scope.selected_detail_extends = null; //store data when select one row on grid detail

        $scope.articleCode_filter = '';
        $scope.description_filter = '';
        $scope.quantity_filter = '';
        $scope.v4id_filter = '';
        $scope.sum = 0;
        $scope.sumA = '';

        $scope.calTotalAmount = function(){
            if ($scope.saleorder == null) return;
            var total = 0;
            angular.forEach($scope.saleorder.saleOrderData.saleOrderDetails, function(item){
                total = total + item.unitPrice * item.orderQnt;
            })
            return total;
        }

        $scope.quantityContainerRequire = function(){
            if ($scope.saleorder == null ) return;
            return  ($scope.saleorder.saleOrderData.quantity20DC == null || $scope.saleorder.saleOrderData.quantity20DC == '')
                    && ($scope.saleorder.saleOrderData.quantity40DC == null || $scope.saleorder.saleOrderData.quantity40DC == '')
                    && ($scope.saleorder.saleOrderData.quantity40HC == null || $scope.saleorder.saleOrderData.quantity40HC == '')
                    && ($scope.saleorder.saleOrderData.lessThanContainerLoad == null || $scope.saleorder.saleOrderData.lessThanContainerLoad == '');
        }

        $scope.ldS_DeliveryDate_Require = function(){
            if ($scope.saleorder == null ) return;
            return  ($scope.saleorder.saleOrderData.ldsFormated == null || $scope.saleorder.saleOrderData.ldsFormated == '')
                    && ($scope.saleorder.saleOrderData.deliveryDateFormated == null || $scope.saleorder.saleOrderData.deliveryDateFormated == '');
        }

        $scope.load = function()
        {
            saleOrderService.getOverView(@ViewBag.ID, @ViewBag.OfferID,
                function (data) {
                    $scope.saleorder = data.data;
                    //$scope.saleorder.saleOrderData.saleOrderDetails = data.data.saleOrderData.saleOrderDetails;

                    //
                    debugger;
                    if ($scope.saleorder.saleOrderData.saleOrderDetails !== null) {
                        $scope.factoryOrders = [];
                        angular.forEach($scope.saleorder.saleOrderData.saleOrderDetails, function (dItem) {
                            var fDetail = $scope.saleorder.factoryOrderDetailOverViews.filter(o => o.saleOrderDetailID === dItem.saleOrderDetailID);
                            angular.forEach(fDetail, function (fItem) {
                                var x = angular.copy(fItem)
                                x.typeOfItem = 1;
                                $scope.factoryOrders.push(x);

                                var y = angular.copy(fItem)
                                y.typeOfItem = 2;
                                $scope.factoryOrders.push(y);
                            });
                        });
                    }
                    
                    //

                    $scope.$apply();
                    console.log($scope.saleorder.saleOrderData);
                    var total = 0;
                    for(var i = 0; i < $scope.saleorder.saleOrderData.saleOrderDetails.length; i++){
                        var item = $scope.saleorder.saleOrderData.saleOrderDetails[i];
                        total += (item.unitPrice * item.orderQnt);
                    }
                    debugger;
                    $scope.sum = 860 + $scope.saleorder.saleOrderData.sumColFactoryOrder;
                    $scope.sumA = $scope.sum + '';
                    
                    $scope.total = total;
                    $scope.$apply();

                    jQuery('#content').show();
                    // monitor changes
                    $scope.$watch('saleorder', function() {
                        jQuery('#changeNotification').html('<i class="fa fa-save blink_me"></i>');
                    });

                    setTimeout(function () { runAllForms() }, 200);
                },
                function (error) {
                    jsHelper.showMessage('warning', error);
                    $scope.saleorder = null;
                    $scope.$apply();
                }
            );
        }

        $scope.getPrintTemplate = function ($event) {
            $('#reportTemplate').modal('show');
        }

        $scope.printPI = function ($event,reportName) {
            console.log(reportName);
            $event.preventDefault();
            saleOrderService.printPI(@ViewBag.ID,reportName,
                function (data) {
                    window.open('@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data);
                },
                function (error) {
                    jsHelper.showMessage('warning', error);
                }
            );
        }

        $scope.ispiReceivedChecked = function () {

            if($scope.saleorder.saleOrderData.ispiReceived == true)
            {
                var date = new Date();
                pad = '00';
                $scope.saleorder.saleOrderData.piReceivedDateFormated = pad.substring(0,pad.length - date.getDate().toString().length) +  date.getDate().toString() + '/' + pad.substring(0,pad.length-(date.getMonth()+1).toString().length) + (date.getMonth()+1).toString() + '/' + date.getFullYear();
                $scope.saleorder.saleOrderData.piReceivedBy = '@Frontend.Helper.AuthHelper.GetCurrentUserInfo(HttpContext.Current).Data.FullName';
            }
            else
            {
                $scope.saleorder.saleOrderData.piReceivedDateFormated = '';
                $scope.saleorder.saleOrderData.piReceivedBy = "";
            }
        }


        $scope.orderQntKeyUp = function($event,index){
            $event.preventDefault();
            if ($event.keyCode ==13) {
                $("#" + (index + 1)).focus();
                $("#" + (index + 1)).select();
            }
        }

        //
        // SORT GRID DETAIL AT CLIENT
        //

        $scope.sortAtClient = function ($event) {
            $event.preventDefault();
            colName = jQuery($event.target).data('colname');
            tableId = jQuery($event.target).data('tableid')

            datasource = $scope.saleorder.saleOrderData.saleOrderDetails;

            if (jQuery($event.target).hasClass('sorting_asc')) {
                datasource.sort(function(a,b){
                    return a[colName] > b[colName] ? 1: -1;
                });
            }
            else if (jQuery($event.target).hasClass('sorting_desc') || jQuery($event.target).hasClass('sorting')) {
                datasource.sort(function(a,b){
                    return a[colName] < b[colName] ? 1: -1;
                });
            }
        }

        //
        // ADD DESCRIPTION FOR EVERY PRODUCT LINE
        //
        $scope.viewDetailExtend = function ( $event, saleOrderDetailID ) {
            $event.preventDefault();
            $scope.detailExtendForm.event.load( saleOrderDetailID );
        }

        //load form
        $scope.load();

    }]);

    </script>
}

