@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Document Client";
    }
    else
    {
        ViewBag.Title = "Edit Document Client";
    }

    ViewBag.Module = "Document Client Monitoring";
}

<form class="row" name="editForm" id="main-form">
    <article class="col-sm-12 col-md-12 col-lg-12">

        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <span> General Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabTracking"> <span> Tracking </span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabGeneral">
                            <div class="smart-form">
                                <fieldset>

                                    <div class="row">
                                        <section class="col col-2">
                                            <label>Container No / <a href="javascript:void(0);" class="btn btn-xs {{documentclient.documentClientData.eCommercialInvoices.length > 0 =='' ? 'btn-danger' : 'btn-primary'}}" style="font-size: 10px; margin-bottom: 4px" ng-click="viewEurofarInvoice($event)">Commercial Invoice No</a></label>
                                            <span class="form-control">{{documentclient.documentClientData.containerNo}}</span>
                                        </section>

                                        <section class="col col-2">
                                            <label>
                                                BL No  /  <a href="javascript:void(0);" class="btn btn-xs  {{documentclient.documentClientData.blFileURL =='' ? 'btn-danger' : 'btn-primary'}}" style="font-size: 10px; margin-bottom: 4px" ng-click="viewBLScanFile($event)">BL Scan File</a>
                                            </label>
                                            <span class="form-control">{{documentclient.documentClientData.blNo}}</span>
                                        </section>

                                        <section class="col col-1">
                                            <label>ETA1</label>
                                            <span class="form-control">{{documentclient.documentClientData.etaFormated}}</span>
                                        </section>

                                        <section class="col col-1">
                                            <label>ETA2</label>
                                            <span class="form-control">{{documentclient.documentClientData.etA2Formated}}</span>
                                        </section>

                                        <section class="col col-6">
                                            <label>Forwarder</label>
                                            <span class="form-control">{{documentclient.documentClientData.forwarderNM}}</span>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-2">
                                            <label>Client Code</label>
                                            <span class="form-control">{{documentclient.documentClientData.clientUD}}</span>
                                        </section>

                                        <section class="col col-2">
                                            <label>PO</label>
                                            <span class="form-control">{{documentclient.documentClientData.proformaInvoiceNo}}</span>
                                        </section>

                                        <section class="col col-8">
                                            <label>Client Name</label>
                                            <span class="form-control">{{documentclient.documentClientData.clientNM}}</span>
                                        </section>
                                    </div>

                                    <div class="row">

                                        <section class="col col-2">
                                            <label>Date Email Invoice To Client</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="documentclient.documentClientData.dateEmailToClientFormated">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </section>

                                        <section class="col col-2">
                                            <label>Date Send Documents To Client/Bank</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="documentclient.documentClientData.dateSendToClientFormated">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </section>

                                        <section class="col col-2">
                                            <label>Date Conainer Delivery / <a href="javascript:void(0);" class="btn btn-xs {{!documentclient.documentClientData.isConfirmedDateContainerDelivery ? 'btn-danger' : 'btn-primary'}}" style="font-size: 10px; margin-bottom: 4px" ng-click="confirmDateContainerDelivery($event)">Confirm</a></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="documentclient.documentClientData.dateContainerDeliveryFormated">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </section>

                                        <section class="col col-2">
                                            <label>Time Container Delivery</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control input-small" id="timeDelivery" ng-model="documentclient.documentClientData.timeContainerDeliveryFormated" data-minute-step="15" data-show-meridian="false">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                            </div>
                                        </section>

                                        <section class="col col-2">
                                            <label>Confimed Date Container Delivery By</label>
                                            <span class="form-control">{{documentclient.documentClientData.dateContainerDeliveryConfirmerName}}</span>
                                        </section>

                                        <section class="col col-2">
                                            <label>Confimed Date Container Delivery Date</label>
                                            <span class="form-control">{{documentclient.documentClientData.confirmedDateContainerDeliveryDateFormated}}</span>
                                        </section>

                                    </div>

                                    <div class="row">

                                        <section class="col col-2">
                                            <label>DHL Tracking No Doc's To Client</label>
                                            <input class="form-control" type="text" name="dhlTrackingNo" ng-model="documentclient.documentClientData.dhlTrackingNo">
                                        </section>

                                        <section class="col col-2">
                                            <label>Type Of Delivery / <a href="javascript:void(0);" ng-click="addForeignKey($event,1,'Type Of Delivery')"><b>Add</b></a></label>
                                            <select class="form-control" name="typeOfDeliveryID" ng-model="documentclient.documentClientData.typeOfDeliveryID" ng-options="typeofdelivery.typeOfDeliveryID as typeofdelivery.typeOfDeliveryNM for typeofdelivery in documentclient.typeOfDeliverys">
                                                <option value=""></option>
                                            </select>
                                        </section>

                                        <section class="col col-2">
                                            <label>Place Of Barge / <a href="javascript:void(0);" ng-click="addForeignKey($event,2,'Place Of Barge')"><b>Add</b></a></label>
                                            <select class="form-control" name="placeOfBargeID" ng-model="documentclient.documentClientData.placeOfBargeID" ng-options="placeofbarge.placeOfBargeID as placeofbarge.placeOfBargeNM for placeofbarge in documentclient.placeOfBarges">
                                                <option value=""></option>
                                            </select>
                                        </section>


                                        <section class="col col-2">
                                            <label>Place Of Delivery / <a href="javascript:void(0);" ng-click="addForeignKey($event,3,'Place Of Delivery')"><b>Add</b></a> </label>
                                            <select class="form-control" name="placeOfDeliveryID" ng-model="documentclient.documentClientData.placeOfDeliveryID" ng-options="placeofdelivery.placeOfDeliveryID as placeofdelivery.placeOfDeliveryNM for placeofdelivery in documentclient.placeOfDeliverys">
                                                <option value=""></option>
                                            </select>
                                        </section>


                                        <section class="col col-2">
                                            <label>Delivery Status / <a href="javascript:void(0);" ng-click="addForeignKey($event,4,'Delivery Status')"><b>Add</b></a></label>
                                            <select class="form-control" name="deliveryStatusID" ng-model="documentclient.documentClientData.deliveryStatusID" ng-options="deliverystatus.deliveryStatusID as deliverystatus.deliveryStatusNM for deliverystatus in documentclient.deliveryStatuss">
                                                <option value=""></option>
                                            </select>
                                        </section>

                                        <section class="col col-2">
                                            <label>Payment Status / <a href="javascript:void(0);" ng-click="addForeignKey($event,5,'Payment Status')"><b>Add</b></a></label>
                                            <select class="form-control" name="paymentStatusID" ng-model="documentclient.documentClientData.paymentStatusID" ng-options="paymentstatus.paymentStatusID as paymentstatus.paymentStatusNM for paymentstatus in documentclient.paymentStatuss">
                                                <option value=""></option>
                                            </select>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-lg-12">
                                            <label>Remark Doc's To Client</label>
                                            <textarea class="form-control" ng-model="documentclient.documentClientData.remarkToClient" rows="5"> </textarea>
                                        </section>
                                    </div>

                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabTracking">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label>Created By</label>
                                            <span class="form-control">
                                                <a ng-show="(documentclient.documentClientData.createdBy!=null && documentclient.documentClientData.creatorName2!=null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{documentclient.documentClientData.createdBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i> {{documentclient.documentClientData.creatorName2}}
                                                </a>
                                                <span ng-show="(documentclient.documentClientData.createdBy!=null && documentclient.documentClientData.creatorName2==null && documentclient.documentClientData.creatorName!=null)">{{documentclient.documentClientData.creatorName}}</span>
                                            </span>
                                        </section>

                                        <section class="col col-2">
                                            <label>Created Date</label>
                                            <span class="form-control">{{documentclient.documentClientData.createdDateFormated}}</span>
                                        </section>

                                        <section class="col col-2">
                                            <label>Updated By</label>
                                            <span class="form-control">
                                                <a ng-show="(documentclient.documentClientData.updatedBy!=null && documentclient.documentClientData.updatorName2!=null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{documentclient.documentClientData.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i> {{documentclient.documentClientData.updatorName2}}
                                                </a>
                                                <span ng-show="(documentclient.documentClientData.updatedBy!=null && documentclient.documentClientData.updatorName2==null && documentclient.documentClientData.updatorName!=null)">{{documentclient.documentClientData.updatorName}}</span>
                                            </span>
                                        </section>

                                        <section class="col col-2">
                                            <label>Updated Date</label>
                                            <span class="form-control">{{documentclient.documentClientData.updatedDateFormated}}</span>
                                        </section>

                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmPrintOption" class="modal fade" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        ×
                    </button>
                    <h4 id="myModalLabel" class="modal-title">Select season to print</h4>
                </div>
                <div class="modal-body smart-form">
                    <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label class="label">Season</label>
                                <select class="form-control" name="season" ng-model="printFilter.season" ng-options="item.seasonValue as item.seasonText for item in documentclient.seasons">
                                    <option value=""></option>
                                </select>
                            </section>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">
                        CANCEL
                    </button>
                    <button class="btn btn-primary" type="button" ng-click="printReport($event)">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmECommercialInvoice" class="modal fade" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        ×
                    </button>
                    <h4 id="myModalLabel" class="modal-title">Print invoice and packing list</h4>
                </div>
                <div class="modal-body smart-form">
                    <fieldset>
                        <div class="row">
                            <section class="col col-12">
                                <ul ng-repeat="item in documentclient.documentClientData.eCommercialInvoices">
                                    <li>
                                        Invoice No: {{item.eurofarInvoiceNo}}
                                        <select id="reportName" ng-model="item.ciReportTemplateNM" ng-options="reportTemplate.reportTemplateNM as reportTemplate.reportTemplateNM for reportTemplate in documentclient.reportTemplates | filter:{'reportType':'CI'}:true">
                                            <option value=""></option>
                                        </select>
                                        <a href="javascript:void(0);" class="btn btn-xs btn-primary" style="font-size: 10px; margin-bottom: 4px" ng-click="printInvoice($event,item.eCommercialInvoiceID,item.ciReportTemplateNM)">Print Invoice</a>
                                        <a href="javascript:void(0);" class="btn btn-xs btn-primary" style="font-size: 10px; margin-bottom: 4px" ng-click="printPackingList($event,item.eCommercialInvoiceID)">Print packing list</a>
                                    </li>
                                </ul>
                            </section>
                        </div>
                    </fieldset>
                </div>

            </div>
        </div>
    </div>
</form>


@section pagepopup2
{
    <div id="addForeignData" class="row" style="display: none; margin-top: 10px;">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                <header>
                    <h2>Add <label><span data-ng-bind="popupForm.data.foreign_title"></span></label></h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div class="smart-form">
                            <fieldset>
                                <div class="form-group">
                                    <label><span data-ng-bind="popupForm.data.foreign_title"></span></label>
                                    <input class="form-control" type="text" name="textadding" ng-model="popupForm.data.foreign_nm">
                                </div>
                            </fieldset>
                            <footer>
                                <button class="btn btn-primary" type="button" ng-click="popupForm.event.ok($event)">
                                    OK
                                </button>
                                <button class="btn btn-default" type="button" ng-click="popupForm.event.cancel($event)">
                                    CANCEL
                                </button>

                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>

}
@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Index", "DocumentClient")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="delete($event)"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Print, HttpContext.Current))" title="Print Document Client Monitoring" ng-click="print($event)"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/documentclient/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script src="~/Views/ECommercialInvoice/Service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">

    $('#timeDelivery').timepicker();

    documentClientService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/documentclient/';
    documentClientService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

    eCommercialInvoiceService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/ecommercialinvoice/';
    eCommercialInvoiceService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

    var documentclientApp = angular.module('tilsoftApp', []);
        documentclientApp.controller('tilsoftController', ['$scope', function ($scope) {

            $scope.documentclient = null;
            $scope.printFilter = {
                season: '@Frontend.Helper.Common.GetCurrentSeason()'
            }

            documentClientService.load(
                '@ViewBag.ID',
                function (data) {
                    $scope.documentclient = data.data;
                    $scope.$apply();
                    jQuery('#content').show();
                    $scope.$watch('documentclient', function () {
                        jQuery('#changeNotification').html('<i class="fa fa-save blink_me"></i>');
                    });
                },
                function (error) {
                    jsHelper.showMessage('warning', error);
                    $scope.documentclient = null;
                    $scope.$apply();
                }
            );

            // function defined
            $scope.update = function ($event) {
                $event.preventDefault();

                if ($scope.editForm.$valid) {
                    documentClientService.update(
                    @ViewBag.ID,
                        $scope.documentclient.documentClientData,
                        function (data) {
                            jsHelper.processMessage(data.message);
                            if (data.message.type == 0) {
                                window.location = '@Url.Action("Edit", "DocumentClient", new { id = UrlParameter.Optional })/' + data.data.documentClientID;
                            }
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                        }
                );
            }
            else
            {
                jsHelper.showMessage('warning', '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED');
            }
        };

        $scope.delete = function ($event) {
            $event.preventDefault();

            if (confirm('Are you sure ?')) {
                documentClientService.delete(@ViewBag.ID,
                function (data) {
                    jsHelper.processMessage(data.message);
                    if(data.message.type == 0) {
                        window.location = '@Url.Action("Index", "DocumentClient")';
                    }
                },
                function (error) {
                    jsHelper.showMessage('warning', error);
                }
            );
            }
        };

        $scope.print = function ($event) {
            $event.preventDefault();
            $('#frmPrintOption').modal('show');
        };

        $scope.printReport = function ($event) {
            $event.preventDefault();
            documentClientService.printReport($scope.printFilter.season,
                function (data) {
                    window.open('@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data + ".xlsm");
                },
                function (error) {
                    jsHelper.showMessage('warning', error);
                }
            );
        };

        $scope.addForeignKey = function($event,type,title){
            $event.preventDefault();
            //set input data
            $scope.popupForm.data.foreign_type = type;
            $scope.popupForm.data.foreign_title = title;

            //show popup form
            jsHelper.showPopup('addForeignData',function(){});
        };

        $scope.viewBLScanFile = function($event){
            $event.preventDefault();

            if ($scope.documentclient.documentClientData.blFileURL == '')
            {
                jsHelper.showMessage('info', 'Bill was not uploaded scan file !!!');
                return;
            }
            window.open($scope.documentclient.documentClientData.blFileURL);
        };

        $scope.viewEurofarInvoice = function($event){
            $event.preventDefault();

            if ($scope.documentclient.documentClientData.eCommercialInvoices.length == 0)
            {
                jsHelper.showMessage('info', 'There are no inovice in this container !!!');
                return;
            }

            $('#frmECommercialInvoice').modal('show');
        }

        $scope.printInvoice = function ($event, eCommercialInvoiceID, ciReportTemplateNM) {
            $event.preventDefault();
            eCommercialInvoiceService.printInvoice(eCommercialInvoiceID,'PDF',ciReportTemplateNM, 0,
                function (data) {
                    if (data.message.type == 2)
                    {
                        jsHelper.processMessage(data.message);
                        return;
                    }
                    window.open('@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data ,'');
                },
                function (error) {
                    jsHelper.showMessage('warning', error);
                }
            );
        }

        $scope.printPackingList = function ($event, eCommercialInvoiceID) {
          
            $event.preventDefault();
            eCommercialInvoiceService.printPackingList(eCommercialInvoiceID,'PDF', "PackingListPrint",
                function (data) {
                    if (data.message.type == 2) {
                        jsHelper.processMessage(data.message);
                        return;
                    }
                      window.open('@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data ,'');

                    },
                    function (error) {
                        jsHelper.showMessage('warning', error);
                    }
                );
            }

        $scope.confirmDateContainerDelivery = function ($event) {
                $event.preventDefault();

                if (confirm('Are you sure confirm date container delivery?')) {
                    documentClientService.confirmDateContainerDelivery($scope.documentclient.documentClientData.documentClientID,$scope.documentclient.documentClientData.dateContainerDeliveryFormated,
                        function (data) {
                            jsHelper.processMessage(data.message);
                            window.location = '@Url.Action("Edit", "DocumentClient", new { id = UrlParameter.Optional })/' + $scope.documentclient.documentClientData.documentClientID;
                },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                        }
                );
            }
        }


        //
        // popup form
        //
        $scope.popupForm = {
            data: {
                foreign_type : 0 ,
                foreign_title : '',
                foreign_id : 0,
                foreign_ud :'',
                foreign_nm :'',
            },
            event: {
                ok: function($event){
                    $event.preventDefault();
                    $scope.popupForm.method.addSelectorFreignKey($event,$scope.popupForm.data)
                },
                cancel: function($event){
                    $event.preventDefault();
                    jsHelper.hidePopup('addForeignData',function(){});
                }
            },

            method: {
                addSelectorFreignKey: function($event, inputdata){
                    $event.preventDefault();
                    documentClientService.addSelectorFreignKey(inputdata,
                        function (data) {
                            if (data.data.foreign_Type == 1)
                            {
                                $scope.documentclient.typeOfDeliverys.push({
                                    typeOfDeliveryID: data.data.foreign_ID,
                                    typeOfDeliveryUD: null,
                                    typeOfDeliveryNM: data.data.foreign_NM
                                });

                                $scope.documentclient.documentClientData.typeOfDeliveryID = data.data.foreign_ID;
                            }
                            else if (data.data.foreign_Type == 2)
                            {
                                $scope.documentclient.placeOfBarges.push({
                                    placeOfBargeID: data.data.foreign_ID,
                                    placeOfBargeUD: null,
                                    placeOfBargeNM: data.data.foreign_NM
                                });

                                $scope.documentclient.documentClientData.placeOfBargeID = data.data.foreign_ID;
                            }
                            else if (data.data.foreign_Type == 3)
                            {
                                $scope.documentclient.placeOfDeliverys.push({
                                    placeOfDeliveryID: data.data.foreign_ID,
                                    placeOfDeliveryUD: null,
                                    placeOfDeliveryNM: data.data.foreign_NM
                                });

                                $scope.documentclient.documentClientData.placeOfDeliveryID = data.data.foreign_ID;
                            }
                            else if (data.data.foreign_Type == 4)
                            {
                                $scope.documentclient.deliveryStatuss.push({
                                    deliveryStatusID: data.data.foreign_ID,
                                    deliveryStatusUD: null,
                                    deliveryStatusNM: data.data.foreign_NM
                                });

                                $scope.documentclient.documentClientData.deliveryStatusID = data.data.foreign_ID;
                            }
                            else if (data.data.foreign_Type == 5)
                            {
                                $scope.documentclient.paymentStatuss.push({
                                    paymentStatusID: data.data.foreign_ID,
                                    paymentStatusUD: null,
                                    paymentStatusNM: data.data.foreign_NM
                                });

                                $scope.documentclient.documentClientData.paymentStatusID = data.data.foreign_ID;
                            }

                            $scope.$apply();
                            jsHelper.hidePopup('addForeignData',function(){});
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                            $scope.$apply();
                        }
                    );
                }
            }

        };



    }]);

    </script>
}

