
@{
    ViewBag.Title = "Search Document Client";
    ViewBag.Module = "Document Client Monitoring";
}
<!-- Body -->
<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result(s)</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div style="width:2594px" class="tilsoft-table-header">
                                <div style="width:80px">Found(s)<br><strong style="color:maroon">{{totalRows}}</strong></div>
                                <div style="width:150px;" class="sorting" data-colname="InvoiceNo">Eurofar<br>Invoice No</div>
                                <div style="width:90px" class="sorting_asc" data-colname="Season">Season</div>
                                <div style="width:120px" class="sorting" data-colname="ContainerNo">Container<br>No</div>
                                <div style="width:80px" class="sorting" data-colname="ETA">ETA</div>
                                <div style="width:80px" class="sorting" data-colname="ETA2">ETA<br>2</div>
                                <div style="width:120px" class="sorting" data-colname="BLNo">BL<br>No</div>
                                <div style="width:90px" class="sorting" data-colname="ClientUD">Client<br>Code</div>
                                <div style="width:180px" class="sorting" data-colname="ClientNM">Client<br>Name</div>
                                <div style="width:130px" class="sorting" data-colname="DateEmailToClient">Date Email<br>To Client</div>
                                <div style="width:130px" class="sorting" data-colname="DateSendToClient">Date Send<br>To Client</div>
                                <div style="width:136px;" class="sorting" data-colname="DateContainerDelivery">Date Container<br>Delivery</div>
                                <div style="width:133px;" class="sorting" data-colname="TimeContainerDelivery">Time Container<br>Delivery</div>
                                <div style="width:115px;" class="sorting" data-colname="DHLTrackingNo">DHL<br>Tracking No</div>
                                <div style="width:150px;" class="sorting" data-colname="RemarkToClient">Remark<br>To Client</div>
                                <div style="width:150px;" class="sorting" data-colname="TypeOfDeliveryNM">Type Of<br>Delivery</div>
                                <div style="width:150px;" class="sorting" data-colname="PlaceOfBargeNM">Place Of<br>Barge</div>
                                <div style="width:150px;" class="sorting" data-colname="PlaceOfDeliveryNM">Place Of<br>Delivery</div>
                                <div style="width:150px;" class="sorting" data-colname="ProformaInvoiceNo">PI<br>No</div>

                                <div style="width:100px;" class="sorting" data-colname="DeliveryStatusNM">Delivery<br>Status</div>
                                <div class="sorting" data-colname="PaymentStatusNM">Payment<br>Status</div>
                            </div>
                            <div style="width:2594px; top:50px" class="tilsoft-table-filter">
                                <div style="width:80px">
                                    <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter ? 'default' : 'primary'}} btn-xs" ng-click="reload()"> <i class="fa fa-filter"></i> </a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" ng-click="clear()"> <i class="fa fa-ban"></i> </a>
                                </div>
                                <div style="width:150px">
                                    <input type="text" style="width:100%" class="form-control search-filter" ng-model="filters.InvoiceNo">
                                </div>
                                <div style="width:90px">
                                    <select style="width:100%" class="form-control search-filter" ng-model="filters.Season" ng-options="item.seasonValue as item.seasonText for item in documentclients.seasons">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </div>
                                <div style="width:120px">
                                    <input type="text" style="width:100%" class="form-control search-filter" ng-model="filters.ContainerNo">
                                </div>
                                <div style="width:80px">
                                    <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="filters.ETA">
                                </div>
                                <div style="width:80px">
                                    <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="filters.ETA2">
                                </div>
                                <div style="width:120px">
                                    <input type="text" style="width:100%" class="form-control search-filter" ng-model="filters.BLNo">
                                </div>
                                <div style="width:90px">
                                    <input type="text" style="width:100%" class="form-control search-filter" ng-model="filters.ClientUD">
                                </div>
                                <div style="width:180px">
                                    <input type="text" style="width:100%" class="form-control search-filter" ng-model="filters.ClientNM">
                                </div>
                                <div style="width:130px"></div>
                                <div style="width:130px"></div>
                                <div style="width:136px"></div>
                                <div style="width:133px"></div>
                                <div style="width:115px"></div>
                                <div style="width:150px"></div>
                                <div style="width:150px"></div>
                                <div style="width:150px"></div>
                                <div style="width:150px"></div>
                                <div style="width:150px">
                                    <input type="text" style="width:100%" class="form-control search-filter" ng-model="filters.ProformaInvoiceNo">
                                </div>

                                <div style="width:100px">
                                    <select style="width:100%" class="form-control search-filter" ng-model="filters.DeliveryStatusID" ng-options="item.deliveryStatusID as item.deliveryStatusNM for item in documentclients.deliveryStatuss">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </div>
                                <div></div>
                            </div>
                            <div style="width:2594px; margin-top:95px" class="tilsoft-table-body">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="documentclient in data">
                                            <td style="width:79px; text-align:center">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "DocumentClient")/{{documentclient.documentClientID}}" title="View (Read Only)" target="_blank"><i class="fa fa-folder-open"></i> View</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "DocumentClient")/{{documentclient.documentClientID}}" title="Edit" target="_blank"><i class="fa fa-pencil"></i> Edit</a>
                                                }
                                            </td>
                                            <td style="width:150px">{{documentclient.invoiceNo}}</td>
                                            <td style="width:90px; text-align:center">{{documentclient.season}}</td>
                                            <td style="width:120px; text-align:center">{{documentclient.containerNo}}</td>
                                            <td style="width:80px; text-align:center">{{documentclient.eta}}</td>
                                            <td style="width:80px; text-align:center">{{documentclient.etA2}}</td>
                                            <td style="width:120px">{{documentclient.blNo}}</td>
                                            <td style="width:90px; text-align:center">{{documentclient.clientUD}}</td>
                                            <td style="width:180px">{{documentclient.clientNM}}</td>
                                            <td style="width:130px; text-align:center">
                                                <div class="input-group">
                                                    <input avs-calendar type="text" ng-on-change="editStatus(documentclient)" class="form-control" ng-model="documentclient.dateEmailToClientFormated" ng-data-source="documentclient.dateEmailToClientFormated">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </td>
                                            <td style="width:130px; text-align:center">
                                                <div class="input-group">
                                                    <input avs-calendar type="text" ng-on-change="editStatus(documentclient)" class="form-control" ng-model="documentclient.dateSendToClientFormated" ng-data-source="documentclient.dateSendToClientFormated">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </td>
                                            <td style="width:136px; text-align:center">
                                                <div class="input-group">
                                                    <input avs-calendar type="text" ng-on-change="editStatus(documentclient)" class="form-control" ng-model="documentclient.dateContainerDeliveryFormated" ng-data-source="documentclient.dateContainerDeliveryFormated">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </td>
                                            <td style="width:133px; text-align:center">{{documentclient.timeContainerDeliveryFormated}}</td>
                                            <td style="width:115px">
                                                <input type="text" ng-change="editStatus(documentclient)" class="form-control" ng-model="documentclient.dhlTrackingNo" />
                                            </td>
                                            <td style="width:150px">{{documentclient.remarkToClient}}</td>
                                            <td style="width:150px">{{documentclient.typeOfDeliveryNM}}</td>
                                            <td style="width:150px">{{documentclient.placeOfBargeNM}}</td>
                                            <td style="width:150px">{{documentclient.placeOfDeliveryNM}}</td>
                                            <td style="width:150px">{{documentclient.proformaInvoiceNo}}</td>

                                            <td style="width:100px">{{documentclient.deliveryStatusNM}}</td>
                                            <td>{{documentclient.paymentStatusNM}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Pop-up -->
                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmPrintOption" class="modal fade" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                                        ×
                                    </button>
                                    <h4 id="myModalLabel" class="modal-title">Select season to print</h4>
                                </div>
                                <div class="modal-body smart-form">
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-6">
                                                <label>Season</label>
                                                <select class="form-control search-filter" name="season_search" ng-model="printFilter.season" ng-options="item.seasonValue as item.seasonText for item in documentclients.seasons">
                                                    <option value=""></option>
                                                </select>
                                            </section>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="modal-footer">
                                    <button data-dismiss="modal" class="btn btn-default" type="button">
                                        CANCEL
                                    </button>
                                    <button class="btn btn-primary" type="button" ng-click="printReport($event)">
                                        OK
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default default" title="Search" ng-click="reload()"><i class="fa fa-search"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="reload()"><i class="fa fa-refresh"></i></a>
    </li>
    <li class="sparks-info">
        <a href="@Url.Action("Edit", "DocumentClient")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New" target="_blank"><i class="fa fa-file-o"></i></a>
    </li>
    <li class="sparks-info">
        <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Print, HttpContext.Current))" title="Print Document Client Monitoring" ng-click="print($event)"><i class="fa fa-print"></i></a>
    </li>
    <li class="sparks-info">
        <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="quickupdate($event)"><i class="fa fa-save"></i></a>
    </li>
</ul>
}

@section pagejs {
    <script src="~/Angular/app/documentclient/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jQuery('.search-filter').keypress(function(e){
            if (e.keyCode == 13) {
                var scope = angular.element(jQuery('body')).scope();
                scope.reload();
            }
        });

        documentClientService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/documentclient/';
        documentClientService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        documentClientService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];

        var documentClientApp = angular.module('tilsoftApp', ['ngCookies', 'avs-directives']);
        documentClientApp.controller('tilsoftController', ['$scope', '$cookieStore', function ($scope, $cookieStore) {
            $scope.documentclients = [];
            $scope.data = [];
            $scope.pageIndex = 1;
            $scope.totalPage = 0;
            $scope.totalRows = 0;

            $scope.filters = {
                ContainerNo : '',
                BLNo : '',
                DeliveryStatusID : 0,
                ClientUD : '',
                ClientNM : '',
                ProformaInvoiceNo : '',
                InvoiceNo : '',
                Season : '@Frontend.Helper.Common.GetCurrentSeason()',
                ETA : '',
                ETA2 : '',
            };

            $scope.defaultFilter = angular.copy($scope.filters);
            $scope.isDefaultFilter = true;

            var cookieId = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()';
            var cookieValue = $cookieStore.get(cookieId);
            if (cookieValue) {
                $scope.filters = cookieValue;
            }

            $scope.gridHandler = {
                loadMore: function () {
                    if ($scope.pageIndex < $scope.totalPage) {
                        $scope.pageIndex++;
                        documentClientService.searchFilter.pageIndex = $scope.pageIndex;
                        $scope.search(true);
                    }
                },
                sort: function (sortedBy, sortedDirection) {
                    $scope.data = [];
                    documentClientService.searchFilter.sortedDirection = sortedDirection;
                    documentClientService.searchFilter.pageIndex = $scope.pageIndex = 1;
                    documentClientService.searchFilter.sortedBy = sortedBy;
                    $scope.search();
                },
                isTriggered: false
            };

            $scope.search = function (isLoadMore) {
                $cookieStore.put(cookieId, $scope.filters);
                $scope.isDefaultFilter = angular.equals($scope.filters, $scope.defaultFilter);
                $scope.gridHandler.isTriggered = false;

                documentClientService.searchFilter.filters = $scope.filters;
                documentClientService.search(
                    function (data) {
                        $scope.documentclients = data.data;
                        Array.prototype.push.apply($scope.data, data.data.documentClientSearchResults);
                        $scope.totalPage = Math.ceil(data.totalRows / documentClientService.searchFilter.pageSize);
                        $scope.totalRows = data.totalRows;

                        $scope.$apply();
                        $('#content').show();

                        if (!isLoadMore) {
                            $scope.gridHandler.goTop();
                        }
                        $scope.gridHandler.isTriggered = true;
                    },
                    function (error) {
                        jsHelper.showMessage('warning', error);
                    });
            };

            $scope.reload = function() {
                $scope.data = [];
                $scope.pageIndex = 1;

                documentClientService.searchFilter.pageIndex = 1;
                documentClientService.searchFilter.sortedBy = 'Season';
                documentClientService.searchFilter.sortedDirection = 'ASC';

                $scope.search();
            };

            $scope.quickupdate = function ($event) {
                //$scope.documentclients.documentClientSearchResults.forEach(function (item) {
                //    item.dateEmailToClient = item.dateEmailToClientFormated;
                //    item.dateSendToClient = item.dateSendToClientFormated;
                //    item.dateContainerDelivery = item.dateContainerDeliveryFormated;
                //});
                $event.preventDefault();
                //if ($scope.editForm.$valid) {
                    documentClientService.quickupdate(
                        $scope.documentclients.documentClientSearchResults,
                        function (data) {
                            jsHelper.processMessage(data.message);
                            if (data.message.type == 0) {
                                
                            }
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                        }
                    );
                //}
                @*else {
                    jsHelper.showMessage('warning', '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED');
                }*@
            };

            $scope.editStatus = function (item) {
                item.isEdit = 1;
            };

            $scope.clear = function () {
                $scope.filters = {
                    ContainerNo : '',
                    BLNo : '',
                    DeliveryStatusID : 0,
                    ClientUD : '',
                    ClientNM : '',
                    ProformaInvoiceNo : '',
                    InvoiceNo : '',
                    Season : '@Frontend.Helper.Common.GetCurrentSeason()',
                    ETA : '',
                    ETA2 : '',
                };

                $scope.reload();
            };

            $scope.delete = function (id) {
                if (confirm('Are you sure ?')) {
                    documentClientService.delete(id,
                        function (data) {
                            jsHelper.processMessage(data.message);

                            if(data.message.type == 0) {
                                var j = -1;
                                for (var i = 0; i < $scope.documentclients.length; i++) {
                                    if ($scope.documentclients[i].documentClientID == data.data) {
                                        j = i;
                                        break;
                                    }
                                }

                                if (j >= 0) {
                                    $scope.documentclients.splice(j, 1);
                                }

                                $scope.$apply();
                            }
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                        }
                    );
                }
            };

            $scope.printReport = function ($event) {
                $event.preventDefault();
                documentClientService.printReport($scope.printFilter.season,
                    function (data) {
                        jsHelper.processMessage(data.message);
                        if (data.message.type !=2)
                        {
                            window.open('@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data + ".xlsm");
                        }
                    },
                    function (error) {
                        jsHelper.showMessage('warning', error);
                    }
                );
            };

            $scope.print = function ($event) {
                $event.preventDefault();
                $('#frmPrintOption').modal('show');
            };

            $scope.search();
        }]);
    </script>
}
