@{
    ViewBag.Title = "Search Loading Plan";
    ViewBag.Module = "Loading Plan";
    ViewBag.Icon = "fa-search";

    string userManualUrl = string.Empty;
    if (System.IO.File.Exists(Server.MapPath("~/UserManual/" + ViewBag.ModuleCode + ".pdf")))
    {
        userManualUrl = "/UserManual/" + ViewBag.ModuleCode + ".pdf";
    }

    string pi = string.Empty;
    if (Request.Params["pi"] != null)
    {
        pi = Request.Params["pi"].ToString();
    }

}
@Styles.Render("~/Views/LoadingPlan/css/daterangepicker.css")

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 3100px;">
                                <div style="width: 100px; ">
                                    <b>TOTAL:</b>
                                    <b style="color:#a90329;">{{totalRows}}</b>
                                </div>
                                <div style="width: 60px;" class="sorting" data-colname="IsLoaded">Load ed</div>
                                <div style="width: 60px;" class="sorting" data-colname="IsShipped">Ship ped</div>
                                <div style="width: 60px;" class="sorting" data-colname="IsConfirmed">Confir med</div>
                                <div style="width: 100px;" class="sorting" data-colname="IsUploadingImageFinish">Product Img Finish</div>
                                <div style="width: 150px;" class="sorting" data-colname="BLNo">B/L</div>
                                <div style="width: 150px;" class="sorting" data-colname="LoadingPlanUD">Loading Ref#</div>
                                <div style="width: 70px;" class="sorting" data-colname="ClientUD">Client</div>
                                <div style="width: 150px;">P/I</div>
                                <div style="width: 150px;" class="sorting" data-colname="BookingUD">Booking Ref#</div>
                                <div style="width: 150px;" class="sorting" data-colname="ContainerNo">Container</div>

                                <div style="width: 80px;" class="sorting" data-colname="LoadQnt">Load QNT</div>
                                <div style="width: 80px;" class="sorting" data-colname="CTNS">CTNS</div>
                                <div style="width: 80px;" class="sorting" data-colname="NW">NW</div>
                                <div style="width: 80px;" class="sorting" data-colname="GW">GW</div>
                                <div style="width: 80px;" class="sorting" data-colname="CBMS">CBMS</div>

                                <div style="width: 80px; " class="sorting" data-colname="ShipmentDate">ETD</div>
                                <div style="width: 130px;" class="sorting" data-colname="LoadingDate">Container Loading Date</div>
                                <div style="width: 100px;" class="sorting" data-colname="FactoryUD">Factory</div>
                                <div style="width: 100px;" class="sorting" data-colname="TotalOrderQnt40HC">Order In Cont</div>
                                <div style="width: 60px;" class="sorting" data-colname="ContainerTypeNM">Type</div>
                                <div style="width: 150px;" class="sorting" data-colname="ContainerRefNo">Container Ref#</div>
                                <div style="width: 150px;" class="sorting" data-colname="ControllerName">Controller</div>

                                @*<div style="width: 80px; " class="sorting" data-colname="ShippedDate">Shipped Date</div>*@


                                <div style="width: 150px;" class="sorting" data-colname="SenderName">Sender</div>
                                <div style="width: 80px; " class="sorting" data-colname="SentDate">Send date</div>

                                <div style="width: 150px;" class="sorting" data-colname="ConfirmerName">Confirmed By</div>
                                <div style="width: 80px;" class="sorting" data-colname="ConfirmedDate">Confirmed Date</div>

                                <div style="width: 150px;" class="sorting" data-colname="UpdatorName">Updated By</div>
                                @*<div class="sorting_desc" data-colname="UpdatedDate">Updated Date</div>*@
                                <div style="width: 60px;" class="sorting" data-colname="IsSent">Sent</div>
                                <div></div>
                            </div>
                            <div class="tilsoft-table-subtotalrow" style="width: 3100px">
                                @*<div style="width: 100px"></div>
                                    <div style="width: 60px"></div>
                                    <div style="width: 60px"></div>
                                    <div style="width: 60px"></div>
                                    <div style="width: 100px"></div>
                                    <div style="width: 150px"></div>
                                    <div style="width: 150px"></div>
                                    <div style="width: 70px"></div>
                                    <div style="width: 150px"></div>
                                    <div style="width: 150px"></div>
                                    <div style="width: 150px"></div>*@
                                <div style="width: 1200px; text-align:right"> Sub-Total</div>

                                <div style="width: 80px">{{data | sumFunc:'loadQnt' | number: 0}}</div>
                                <div style="width: 80px">{{data | sumFunc:'ctns' | number: 0}}</div>
                                <div style="width: 80px">{{data | sumFunc:'nw' | number: 2}}</div>
                                <div style="width: 80px">{{data | sumFunc:'gw' | number: 2}}</div>
                                <div style="width: 80px">{{data | sumFunc:'cbms' | number: 2}}</div>

                                <div style="width: 80px"></div>
                                <div style="width: 130px"></div>
                                <div style="width: 100px"></div>
                                <div style="width: 100px"></div>
                                <div style="width: 60px"></div>
                                <div style="width: 150px"></div>
                                <div style="width: 150px"></div>
                                <div style="width: 150px"></div>
                                <div style="width: 80px"></div>
                                <div style="width: 150px"></div>
                                <div style="width: 80px"></div>
                                <div style="width: 150px"></div>
                                <div style="width: 60px"></div>
                                <div></div>
                            </div>
                            <div class="tilsoft-table-filter" style="width: 3100px;">
                                <div style="width: 100px; ">
                                    <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.reload()"><i class="fa fa-filter"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilter()"><i class="fa fa-ban"></i></a>
                                </div>
                                <div style="width: 60px;"></div>
                                <div style="width: 60px;"></div>
                                <div style="width: 60px;"></div>
                                <div style="width: 100px;">
                                    <select ng-model="filters.IsUploadingImageFinish" ng-options="item.id as item.name for item in supportData.ImageFinishStatuses">
                                        <option></option>
                                    </select>
                                </div>
                                <div style="width: 150px;">
                                    <input class="search-filter" type="text" ng-model="filters.BLNo" />
                                </div>
                                <div style="width: 150px;">
                                    <input class="search-filter" type="text" ng-model="filters.LoadingPlanUD" />
                                </div>
                                <div style="width: 70px;">
                                    <input class="search-filter" type="text" ng-model="filters.ClientUD" />
                                </div>
                                <div style="width: 150px;">
                                    <input class="search-filter" type="text" ng-model="filters.ProformaInvoiceNo" />
                                </div>
                                <div style="width: 150px;">
                                    <input class="search-filter" type="text" ng-model="filters.BookingUD" />
                                </div>
                                <div style="width: 150px;">
                                    <input class="search-filter" type="text" ng-model="filters.ContainerNo" />
                                </div>

                                <div style="width: 80px;"></div>
                                <div style="width: 80px;"></div>
                                <div style="width: 80px;"></div>
                                <div style="width: 80px;"></div>
                                <div style="width: 80px;"></div>

                                <div style="width: 80px; "></div>
                                <div style="width: 130px;" class="demo">
                                    <input type="text" name="datefilter" value="" class="search-filter"/>
                                </div>
                                <div style="width: 100px;">
                                    <input class="search-filter" type="text" ng-model="filters.FactoryUD" />
                                </div>
                                <div style="width: 100px;"></div>
                                <div style="width: 60px;"></div>
                                <div style="width: 150px;"></div>
                                <div style="width: 150px;"></div>

                                @*<div style="width: 80px; "></div>*@

                                <div style="width: 150px;"></div>
                                <div style="width: 80px; "></div>

                                <div style="width: 150px;"></div>
                                <div style="width: 80px;"></div>

                                <div style="width: 150px;"></div>
                                <div style="width: 60px;"></div>
                                <div></div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 3100px; ">
                                <table>
                                    <tr ng-repeat="model in data">
                                        <td style="text-align: left; width: 100px;">
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                            {
                                                <a href="@Url.Action("Edit", "LoadingPlan")/{{model.loadingPlanID}}" title="View (Read Only)" class="btn btn-primary btn-xs font-11" target="_blank"><i class="fa fa-folder-open"></i> View</a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("Edit", "LoadingPlan")/{{model.loadingPlanID}}" title="Edit" class="btn btn-primary btn-xs font-11" target="_blank"><i class="fa fa-pencil"></i> Edit</a>
                                            }

                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                            {
                                                <a href="javascript:void(0)" ng-click="event.delete(model.loadingPlanID)" title="Delete" class="btn btn-danger btn-xs font-11" target="_blank"><i class=" fa fa-times"></i>Del</a>
                                            }
                                            <br />
                                            <a class="btn btn-default btn-xs font-11" target="_blank" href="@Url.Action("Overview", "LoadingPlan")/{{model.loadingPlanID}}" title="Overview" style="width: 84px; margin-top:3px"><i class="fa fa-eye"></i>&nbsp;Overview</a><br />

                                        </td>
                                        <td style="width: 60px; text-align: center"><i ng-if="model.isLoaded" class="fa fa-check-square-o"></i></td>
                                        <td style="width: 60px; text-align: center"><i ng-if="model.isShipped" class="fa fa-check-square-o"></i></td>
                                        <td style="width: 60px; text-align: center"><i ng-if="model.isConfirmed" class="fa fa-check-square-o"></i></td>
                                        <td style="width: 100px; text-align: center"><i ng-if="model.isUploadingImageFinish" class="fa fa-check-square-o"></i></td>
                                        <td style="width: 150px;">{{model.blNo}}</td>
                                        <td style="width: 150px;">{{model.loadingPlanUD}}</td>
                                        <td style="width: 70px;">{{model.clientUD}}</td>
                                        <td style="width: 150px;">{{model.piNo}}</td>
                                        <td style="width: 150px;">
                                            <a href="@Url.Action("Edit", "Booking2Mng")/{{model.bookingID}}?s=0&c=0&se=">{{model.bookingUD}}</a>
                                        </td>
                                        <td style="width: 150px;">{{model.containerNo}}</td>

                                        <td style="width: 80px; text-align: right">{{model.loadQnt | number: 0}}</td>
                                        <td style="width: 80px; text-align: right">{{model.ctns | number: 0}}</td>
                                        <td style="width: 80px; text-align: right">{{model.nw | number: 2}}</td>
                                        <td style="width: 80px; text-align: right">{{model.gw | number: 2}}</td>
                                        <td style="width: 80px; text-align: right">{{model.cbms | number: 2}}</td>

                                        <td style="width: 80px; ">{{model.shipmentDate}}</td>
                                        <td style="width: 130px; ">{{model.loadingDate}}</td>
                                        <td style="width: 100px;">{{model.factoryUD}}</td>
                                        <td style="width: 100px; text-align: right;">{{model.totalOrderQnt40HC | number : 2}}</td>
                                        <td style="width: 60px;">{{model.containerTypeNM}}</td>
                                        <td style="width: 150px;">{{model.containerRefNo}}</td>
                                        <td style="width: 150px;">
                                            <avs-show-dialog-link is-show="model.controllerID"
                                                                  navigate-url="'@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/' + model.controllerID"
                                                                  display-text="model.controllerName"></avs-show-dialog-link>
                                            <span ng-if="!model.controllerID">{{model.controllerName}}</span>
                                        </td>
                                        @*<td style="width: 80px; ">{{model.shippedDate}}</td>*@
                                        <td style="width: 150px;">{{model.senderName}}</td>
                                        <td style="width: 80px; ">{{model.sentDate}}</td>
                                        <td style="width: 150px;">
                                            <avs-show-dialog-link is-show="model.showConfirmerLink"
                                                                  navigate-url="'@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/' + model.confirmerID"
                                                                  display-text="model.confirmerName"></avs-show-dialog-link>
                                        </td>
                                        <td style="width: 80px;">{{model.confirmedDate}}</td>
                                        <td style="width: 150px;">
                                            <avs-show-dialog-link is-show="model.showUpdatorLink"
                                                                  navigate-url="'@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/' + model.updatorID"
                                                                  display-text="model.updatorName"></avs-show-dialog-link>
                                        </td>
                                        <td style="width: 60px; text-align: center"><i ng-if="model.isSent" class="fa fa-check-square-o"></i></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.search()"><i class="fa fa-search"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.search()"><i class="fa fa-refresh"></i></a>
    </li>
    <li class="sparks-info">
        <a href="@Url.Action("Init", "LoadingPlan")" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New" target="_blank"><i class="fa fa-file-o"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
    </li>
    @if (!string.IsNullOrEmpty(userManualUrl))
    {
        <li class="sparks-info">
            <a target="_blank" href="@userManualUrl" class="btn btn-default" title="Help"><i class="fa fa-info"></i></a>
        </li>
    }
</ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js" type="text/javascript"></script>
    <script src="~/Views/LoadingPlan/js/daterangepicker.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")" type="text/javascript"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/loadingplan/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];

        var context = {
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
            piParam: '@pi'
        }
    </script>
    <script src="~/Angular/app/loadingPlan/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")" type="text/javascript"></script>
}
