@{ 
    Layout = "~/Views/Shared/_Print.cshtml";
    Frontend.Models.ReportDTO.LoadingPlanReportDTO data = (Frontend.Models.ReportDTO.LoadingPlanReportDTO)ViewBag.Data;
    int? totalQnt = 0;
    decimal? totalQnt40 = 0;
}
    
<script type="text/javascript">
    function printMyPage() {
        //Get the print button
        var printButton = document.getElementById("myPrntbtn");
        //Hide the print button
        printButton.style.visibility = 'hidden';
        //Print the page content
        window.print()
        //Show back the print button on web page
        printButton.style.visibility = 'visible';
    }
</script>
<button onclick="printMyPage()" id="myPrntbtn" style="float:none; vertical-align:top">Print this page</button>
    <body style="font-family:'Times New Roman'; font-size:13px ">
        <table style="width:100%; max-width:1000px;" border="0" align="center">
            <tr>
                <td><img height="30" src="~/img/ReportLogo/logo-Eurofar.png" style="margin-left:0px" /></td>
                <td style="vertical-align:central;" width="38%">
                    <label style="font-size:24px; color:darkgray">Loading Container Report</label>
                </td>
                <td style="vertical-align:bottom;">
                    <label>Report No.</label>
                </td>
                <td style="vertical-align:bottom;">
                    <label>@data.ContainerRefNo</label>
                </td>
            </tr>
        </table>
        <hr style="width:100%; max-width:1000px" />
        <table style="width:100%; max-width:1000px; padding:5px 0px 5px 0px" border="0" align="center">
            <tr>
                <td>CONTAINER NUMBER: &nbsp;<span style="background-color:lavender; width:200px">@data.ContainerNo</span></td>
                <td>PORT OF LOADING: &nbsp;<span style="background-color:lavender; width:200px">@data.POLName</span></td>
                <td>LOADING DATE: &nbsp;<span style="background-color:lavender; width:200px">@data.LoadingDate</span></td>
            </tr>

            <tr>
                <td>SEAL NUMBER: &nbsp;<span style="background-color:lavender;">@data.SealNo</span></td>
                <td>PORT OF DISCHARGE: &nbsp;<span style="background-color:lavender; ">@data.PODName</span></td>
                <td>ETD: &nbsp;<span style="background-color:lavender;">@data.ETD</span></td>
            </tr>

            <tr>
                <td>FACTORY: &nbsp;<span style="background-color:lavender;">@data.FactoryUD</span></td>
                <td>LOADING PLAN NUMBER:&nbsp;<span style="background-color:lavender;">@data.LoadingPlanUD</span></td>
                <td>ETA: &nbsp;<span style="background-color:lavender;">@data.ETA</span></td>
            </tr>
        </table>
        <hr style="width:100%; max-width:1000px" />
        <table style="width:100%; max-width:1000px; padding:5px 0px 5px 0px" border="0" align="center">
            <tr>
                <td style="height:150px; width:30%; border:1px solid; text-align:center">
                    <img style="font-display:block;" height="150" width="150" src="@data.ProductPicture1" align="middle" />
                    <br />
                    <span style="font-size:8px; vertical-align:bottom; text-align:left">PRODUCT PHOTOS 1</span>
                </td>
                <td style="height:150px; width:30%; border:1px solid; text-align:center">
                    <img style="font-display:block;" height="150" width="150" src="@data.ProductPicture2" align="middle" />
                    <br />
                    <span style="font-size:8px; vertical-align:bottom; text-align:left">PRODUCT PHOTOS 2</span>
                </td>
                <td style="height:150px; width:30%; text-align:center; vertical-align:top">
                    <span style="padding-bottom:10px">CONTAINER TYPE:</span>
                    <br />
                    <br />
                    <input type="checkbox" id="myCheckA"/> &nbsp;20DC
                    <br />
                    <br />
                    <input type="checkbox" id="myCheckB"/> &nbsp;40DC
                    <br />
                    <br />
                    <input type="checkbox" id="myCheckC"/> &nbsp;40HC
                    <br />
                    <br />
                    <input type="checkbox" id="" /> &nbsp;45HC
                </td>
            </tr>
        </table>
        <hr style="width:100%; max-width:1000px" />
        <table style="width:100%; max-width:1000px; padding:5px 0px 5px 0px" border="0" align="center">
            <tr>
                <td style="color:#a9a9a9">CHECKING CONTAINER CONDITION</td>
            </tr>
        </table>
        <table style="width:100%; max-width:1000px; padding:5px 0px 5px 0px" border="0" align="center">
            <tr>
                <td style="height:150px; width:30%; border:1px solid; text-align:center">
                    <img style="font-display:block;" height="150" width="150" src="@data.ContainerPicture1" align="middle" />
                    <br />
                    <span style="font-size:8px; vertical-align:bottom; text-align:left">Moisture content of wood floor</span>
                </td>
                <td style="height:150px; width:30%; border:1px solid; text-align:center">
                    <img style="font-display:block;" height="150" width="150" src="@data.ContainerPicture2" align="middle" />
                    <br />
                    <span style="font-size:8px; vertical-align:bottom; text-align:left">Checking Container for Leakage-Left side</span>
                </td>
                <td style="height:150px; width:30%; border:1px solid; text-align:center">
                    <img style="font-display:block;" height="150" width="150" src="@data.ContainerPicture3" align="middle" />
                    <br />
                    <span style="font-size:8px; vertical-align:bottom; text-align:left">Checking Container for Leakage-Right side</span>
                </td>
            </tr>
        </table>
        <table style="width:100%; max-width:1000px; padding:5px 0px 5px 0px" border="0" align="center">
            <tr>
                <td style="color:#a9a9a9">CHECKING CONTAINER CONDITION</td>
            </tr>
        </table>
        <table style="width:100%; max-width:1000px; padding:5px 0px 5px 0px" border="0" align="center">
            <tr>
                <td style="height:150px; width:30%; border:1px solid; text-align:center">
                    <img style="font-display:block;" height="150" width="150" src="@data.ContainerPicture4" align="middle" />
                    <br />
                    <span style="font-size:8px; vertical-align:bottom; text-align:left">Checking Container for Leakage-Ceiling</span>
                </td>
                <td style="height:150px; width:30%; border:1px solid; text-align:center">
                    <img style="font-display:block;" height="150" width="150" src="@data.ContainerPicture5" align="middle" />
                    <br />
                    <span style="font-size:8px; vertical-align:bottom; text-align:left">Checking Container for Leakage-Inside door</span>
                </td>
                <td style="height:150px; width:30%; border:1px solid; text-align:center">
                    <img style="font-display:block;" height="150" width="150" src="@data.ContainerPicture6" align="middle" />
                    <br />
                    <span style="font-size:8px; vertical-align:bottom; text-align:left">Checking Container for Leakage-Corner</span>
                </td>
            </tr>
        </table>
        <table style="width:100%; max-width:1000px; padding:5px 0px 5px 0px" border="0" align="center">
            <tr>
                <td style="color:#a9a9a9">CONTAINER LOADING RECORD</td>
            </tr>
        </table>
        <table style="width:100%; max-width:1000px; padding:5px 0px 5px 0px" border="0" align="center">
            <tr>
                <td style="height:150px; width:30%; border:1px solid; text-align:center">
                    <img style="font-display:block;" height="150" width="150" src="@data.MerchandisesInside1Per3ContImage" align="middle" />
                    <br />
                    <span style="font-size:8px; vertical-align:bottom; text-align:left">Merchandises inside container (1/3 filled)</span>
                </td>
                <td style="height:150px; width:30%; border:1px solid; text-align:center">
                    <img style="font-display:block;" height="150" width="150" src="@data.MerchandisesInside1Per2ContImage" align="middle" />
                    <br />
                    <span style="font-size:8px; vertical-align:bottom; text-align:left">Merchandises inside container (1/2 filled)</span>
                </td>
                <td style="height:150px; width:30%; border:1px solid; text-align:center">
                    <img style="font-display:block;" height="150" width="150" src="@data.MerchandisesInsideFullContImage" align="middle" />
                    <br />
                    <span style="font-size:8px; vertical-align:bottom; text-align:left">Merchandises inside container (Fully Filled)</span>
                </td>
            </tr>
        </table>
        <table style="width:100%; max-width:1000px; padding:5px 0px 5px 0px" border="0" align="center">
            <tr>
                <td style="color:#a9a9a9">CONTAINER LOADING RECORD</td>
            </tr>
        </table>
        <table style="width:100%; max-width:1000px; padding:5px 0px 5px 0px" border="0" align="center">
            <tr>
                <td style="height:150px; width:30%; border:1px solid; text-align:center">
                    <img style="font-display:block;" height="150" width="150" src="@data.ContainerDoorAndLockImage" align="middle" />
                    <br />
                    <span style="font-size:8px; vertical-align:bottom; text-align:left">Container doors and lock</span>
                </td>
                <td style="height:150px; width:30%; border:1px solid; text-align:center">
                    <img style="font-display:block;" height="150" width="150" src="@data.ContainerSealImage" align="middle" />
                    <br />
                    <span style="font-size:8px; vertical-align:bottom; text-align:left">Container seal</span>
                </td>
                <td style="height:150px; width:30%; border:1px solid; text-align:center">
                    <img style="font-display:block;" height="150" width="150" src="@data.DryPackImage" align="middle" />
                    <br />
                    <span style="font-size:8px; vertical-align:bottom; text-align:left">Snapshot on dry-packs</span>
                </td>
            </tr>
        </table>
        <table style="width:100%; max-width:1000px; padding:5px 0px 5px 0px" border="0" align="center">
            <tr>
                <td style="color:#a9a9a9">APPROVED LOADING PLAN</td>
            </tr>
        </table>
        <table style="width:100%; max-width:1000px; padding:5px 0px 5px 0px" border="0" align="center">
            <tr>
                <td style="height:150px; border:1px solid; text-align:center">
                    <img style="font-display:block;" height="150" width="150" src="@data.ApprovedImage" align="middle" />
                </td>
            </tr>
        </table>
        <table style="width:100%; max-width:1000px; padding:5px 0px 5px 0px" border="0" align="center">
            <tr>
                <td style="color:#a9a9a9">PACKING LIST</td>
            </tr>
        </table>
        <table style="width:100%; max-width:1000px; padding:5px 0px 5px 0px; border:1px solid; border-collapse: collapse;" align="center">
            <tr style="border: 1px solid">
                <th style="border: 1px solid">Order number</th>
                <th style="border: 1px solid">Name client</th>
                <th style="border: 1px solid">Factory</th>
                <th style="border: 1px solid">Article code</th>
                <th style="border: 1px solid">Description of goods</th>
                <th style="border: 1px solid">Quantity</th>
                <th style="border: 1px solid">QNT/40HC</th>
            </tr>
            @foreach (Frontend.Models.ReportDTO.LoadingPlanDetailReportDTO dtoDetail in data.loadingPlanDetailReportDTOs)
            {
                totalQnt += dtoDetail.Quantity != null? dtoDetail.Quantity: 0;
                totalQnt40 += dtoDetail.QntIn40HC != null? dtoDetail.QntIn40HC: 0 ;
                <tr style="border: 1px solid">
                    <td style="border: 1px solid">@dtoDetail.ProformaInvoiceNo</td>
                    <td style="border: 1px solid">@dtoDetail.ClientUD</td>
                    <td style="border: 1px solid">@dtoDetail.FactoryUD</td>
                    <td style="border: 1px solid">@dtoDetail.ArticleCode</td>
                    <td style="border: 1px solid">@dtoDetail.Description</td>
                    <td style="border: 1px solid">@dtoDetail.Quantity</td>
                    <td style="border: 1px solid">@dtoDetail.QntIn40HC</td>
                </tr>
            }
            <tr style="border: 1px solid">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="border: 1px solid; text-align:center; font-weight:bold">Total</td>
                <td style="border: 1px solid; font-weight:bold">@totalQnt</td>
                <td style="border: 1px solid; font-weight:bold">@totalQnt40</td>
            </tr>
        </table>
    </body>

    <script type="text/javascript">
    (function check() {
        if (@data.Cont20DC == 1) {
            document.getElementById("myCheckA").checked = true;
        }
        if (@data.Cont40DC == 1) {
            document.getElementById("myCheckB").checked = true;
        }
        if (@data.Cont40HC == 1) {
            document.getElementById("myCheckC").checked = true;
        }
    }());
    </script>