@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Cushion Color";
    }
    else
    {
        ViewBag.Title = "Edit Cushion Color";
    }

    ViewBag.Module = "Cushion Color";
}

<form class="row" name="editForm" id="main-form">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <span> Cushion Color Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabTestReport"> <span> Test Report </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabPrice"> <span> Price </span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="widget-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabGeneral">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">Code</label>
                                            <label class="input" @*ng-class="{'state-error': editForm.cushionColorUD.$error.required}"*@>
                                                @*<input type="text" name="cushionColorUD" ng-model="data.cushionColorUD" required />*@
                                                <span class="form-control">{{data.cushionColorUD}}</span>
                                            </label>
                                            @*<div ng-show="editForm.cushionColorUD.$error.required" class="note note-error">This is a required field.</div>*@
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">
                                                Name<em class="note note-error" ng-show="editForm.cushionColorNM.$error.required"> (Required)</em>
                                            </label>
                                            <label class="input" ng-class="{'state-error': editForm.cushionColorNM.$error.required}">
                                                <input type="text" name="cushionColorNM" ng-if="data.total==0 || data.total==null" ng-model="data.cushionColorNM" required />
                                                <input type="text" name="cushionColorNM" ng-if="data.total>0" ng-model="data.cushionColorNM" readonly />
                                            </label>
                                            @*<div ng-show="editForm.cushionColorNM.$error.required" class="note note-error">This is a required field.</div>*@
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Season</label>
                                            <label class="select">
                                                <select class="form-control" ng-if="data.total==0 || data.total==null" ng-model="data.season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                                    <option value=""></option>
                                                </select>
                                                <select class="form-control" disabled ng-if="data.total>0" ng-model="data.season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Display Index</label>
                                            <label class="input">
                                                <input type="text" ng-if="data.total==0 || data.total==null" ng-model="data.displayIndex" />
                                                <input type="text" ng-if="data.total>0" ng-model="data.displayIndex" readonly/>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <div class="col col-6">
                                            <section>
                                                <label class="label">Image</label>
                                                <div class="input-group" style="width: 100%;">
                                                    @Html.Partial("~/Views/Shared/_Controls/_ImageBox.cshtml", new Frontend.Models.ImageBoxViewModel() { URLBinding = "data.imageFile_DisplayUrl", JSOnChangeHandler = "event.changeImage", JSONRemoveHandler = "event.removeImage" })
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col col-6">
                                            <section>
                                                <label class="label">
                                                    Type<em class="note note-error" ng-show="editForm.cushionTypeID.$error.required || data.cushionTypeID == 0"> (Required)</em>
                                                </label>
                                                <label class="select" ng-class="{'state-error': editForm.cushionTypeID.$error.required || data.cushionTypeID == 0}">
                                                    <select class="form-control" disabled ng-if="data.total>0" name="cushionTypeID" ng-model="data.cushionTypeID" ng-options="cushionType.cushionTypeID as cushionType.cushionTypeNM for cushionType in cushionTypes" required>
                                                        <option value=""></option>
                                                    </select>
                                                    <select class="form-control" ng-if="data.total==0 || data.total==null" name="cushionTypeID" ng-model="data.cushionTypeID" ng-options="cushionType.cushionTypeID as cushionType.cushionTypeNM for cushionType in cushionTypes" required>
                                                        <option value=""></option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                                @*<div ng-show="editForm.cushionTypeID.$error.required" class="note note-error">This is a required field.</div>*@
                                            </section>
                                            <section >
                                                <label class="checkbox">
                                                    <input type="checkbox" ng-model="data.isStandard">
                                                    <i></i>Standard
                                                </label>
                                            </section>
                                            <section >
                                                <label class="checkbox">
                                                    <input type="checkbox" ng-model="data.isEnabled">
                                                    <i></i>Enabled
                                                </label>
                                            </section>
                                            <section style="padding: 10px; border: solid 1px #e7e7e7">
                                                <label class="label">Make this cushion color available for the below product group</label>
                                                <div class="row">
                                                    <div class="col col-8">
                                                        <section>
                                                            <label class="checkbox" ng-repeat="group in data.cushionColorProductGroups | orderBy:'+productGroupNM'">
                                                                <input type="checkbox" ng-model="group.isEnabled">
                                                                <i></i>{{group.productGroupNM}}
                                                            </label>
                                                        </section>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="tab-pane" id="tabTestReport">
                            <div>
                                <div class="widget-body no-padding">

                                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div style="width:1000px" class="tilsoft-table-header">
                                                <div style="width:85px"></div>
                                                <div style="width:120px">Test Code</div>
                                                <div style="width:100px">Client</div>
                                                <div style="width:250px">File Name</div>
                                                <div style="width:250px">Test Standard</div>
                                                <div>Test Date</div>
                                            </div>
                                            <div style="width:1000px" class="tilsoft-table-body">
                                                <table>
                                                    <tbody>
                                                        <tr ng-repeat="item in data.cushionTestingDTOs">
                                                            <td style="width:85px; text-align:center">
                                                                <a class="btn btn-default btn-xs font-11" href="@Url.Action("OverView", "CushionTestingMng")/{{item.cushionTestReportID}}" style="width:69px; margin-top:3px" title="OverView" target="_blank"><i class="fa fa-eye"></i>OverView</a>
                                                            </td>
                                                            <td style="width:120px; text-align:center">{{item.cushionTestReportUD}}</td>
                                                            <td style="width:100px; text-align: center">{{item.clientUD}}</td>
                                                            <td style="width:250px">
                                                                <div ng-repeat="item2 in item.cushionTestingFileDTOs">
                                                                    <a href="{{item2.fileLocation}}" target="_blank">{{item2.friendlyName}}</a>
                                                                </div>
                                                            </td>
                                                            <td style="width:250px">
                                                                <div ng-repeat="item3 in item.cushionTestingStandardDTOs">
                                                                    <label>{{item3.testStandardNM}}</label>
                                                                </div>
                                                            </td>
                                                            <td>{{item.testDate}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane active" id="tabPrice">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-2" ng-if="data.total>0">
                                            <label class="label">Price config</label>
                                            <label class="input">
                                                <input type="text" class="form-control" style="text-align: right" avs-number-2 ng-decimal="2" ng-model="data.price" disabled/>
                                            </label>
                                        </section>
                                        <section class="col col-2" ng-if="data.total==0 || data.total==null">
                                            <label class="label">Price config</label>
                                            <label class="input">
                                                <input type="text" class="form-control" style="text-align: right" avs-number-2 ng-decimal="2" ng-model="data.price" />
                                            </label>
                                        </section>
                                    </div>                                    
                                </fieldset>
                            </div>
                        </div>

                        <div class="note">
                            <div ng-if="data.createdBy">
                                <strong>Created By</strong>
                                <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.createdBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                    <i class="fa fa-user"></i> {{data.creatorName}}
                                </a>
                                on {{data.createdDate}}
                            </div>
                            <br />
                            <div ng-if="data.updatedBy">
                                <strong>Updated By</strong>
                                <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                    <i class="fa fa-user"></i> {{data.updatorName}}
                                </a>
                                on {{data.updatedDate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "CushionColor")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))"  title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Approve"><i class="fa fa-thumbs-o-up"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Reset Approval status"><i class="fa fa-thumbs-o-down"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/cushioncolor/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        var context = {
            id: @ViewBag.ID,
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            backURL: '@Url.Action("Index", "CushionColor")',
            refreshURL: '@Url.Action("Edit", "CushionColor", new { id = UrlParameter.Optional })/'
        };
    </script>
    <script src="~/Angular/app/cushionColor/service.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/cushionColor/edit.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

