@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Packing List";
    }
    else
    {
        ViewBag.Title = "Edit Packing List";
    }

    ViewBag.Module = "PackingList";
    string pID = "0";
    if (Request.Params["pID"] != null)
    {
        pID = Request.Params["pID"];
    }
}

<form class="row" name="editForm" id="main-form">

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#hb1"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet"> General Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#hb2"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Tracking</span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="tab-content">

                        <div class="tab-pane active" id="hb1">

                            <div class="row">

                                <div class="col-sm-2">
                                    <label>PackingList Date</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="mainData.packingListData.packingListDateFormated">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label>PackingList Code</label>
                                    <span class="form-control">{{mainData.packingListData.packingListUD}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Invoice No</label>
                                    <span class="form-control">{{mainData.packingListData.invoiceNo}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Bill No</label>
                                    <span class="form-control">{{mainData.packingListData.blNo}}</span>
                                </div>
                                <div class="col-sm-2">
                                    <label>POD</label>
                                    <span class="form-control">{{mainData.packingListData.podName}}</span>
                                </div>
                                <div class="col-sm-2">
                                    <label>POL</label>
                                    <span class="form-control">{{mainData.packingListData.polName}}</span>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Supplier</label>
                                    <span class="form-control">{{mainData.packingListData.supplierNM}}</span>
                                </div>
                                <div class="col-sm-2">
                                    <label>Desription of goods</label>
                                    <input class="form-control" type="text" name="descriptionOfGoods" ng-model="mainData.packingListData.descriptionOfGoods">
                                </div>

                                <div class="col-sm-4">
                                    <label>Container remark</label>
                                    <input class="form-control" type="text" name="containerRemark" ng-model="mainData.packingListData.containerRemark">
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="hb2">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Created By</label>
                                    <span class="form-control">{{mainData.packingListData.creatorName}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Created Date</label>
                                    <span class="form-control">{{mainData.packingListData.createdDateFormated}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Updated By</label>
                                    <span class="form-control">{{mainData.packingListData.updatorName}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Updated Date</label>
                                    <span class="form-control">{{mainData.packingListData.updatedDateFormated}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </article>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#hb6"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Product</span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#hb7"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Sparepart</span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#hb8"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Other goods</span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <div class="tab-content">

                        <div class="tab-pane active" id="hb6">
                            <div class="row">
                                <div class="col-sm-12 m-bottom-15">

                                    <div id="detailTable" class="tilsoft-table-wrapper">

                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-header" style="width: 1800px;">
                                                <div class="sorting" data-colname="invoiceNo" style="width: 80px;">EURORFAR INV.NO</div>
                                                <div class="sorting" data-colname="orderNo" style="width: 80px;">ORDER NO</div>
                                                <div class="sorting" data-colname="clientUD" style="width: 60px;">CLIENT</div>
                                                <div class="sorting" data-colname="containerNo" style="width: 120px;">CONTAINER.NO</div>
                                                <div class="sorting" data-colname="sealNo" style="width: 100px;">SEAL.NO</div>
                                                <div class="sorting" data-colname="containerType" style="width: 50px;">CONT TYPE</div>
                                                <div class="sorting" data-colname="articleCode" style="width: 110px;">ARTICLECODE</div>
                                                <div class="sorting" data-colname="description" style="width: 400px;">DESCRIPTION</div>
                                                <div class="sorting" data-colname="unit" style="width: 60px;">UNIT</div>
                                                <div class="sorting" data-colname="quantityShipped" style="width: 110px;">SHIPPED</div>
                                                <div class="sorting" data-colname="pkGs" style="width: 110px;">PKGs</div>
                                                <div class="sorting" data-colname="nettWeight" style="width: 110px;">NET WEIGHT</div>
                                                <div class="sorting" data-colname="kGs" style="width: 110px;">KGs</div>
                                                <div class="sorting" data-colname="cbMs" style="width: 110px;">CBMs</div>
                                                <div class="sorting" data-colname="remark">REMARK</div>
                                            </div>
                                            <div class="tilsoft-table-body" style="width: 1800px; ">
                                                <table>
                                                    <tr ng-repeat="item in mainData.packingListData.packingListDetails">
                                                        <td style="width: 80px;">{{item.invoiceNo}}</td>
                                                        <td style="width: 80px;">{{item.orderNo}}</td>
                                                        <td style="width: 60px;">{{item.clientUD}}</td>
                                                        <td style="width: 120px; ">{{item.containerNo}}</td>
                                                        <td style="width: 100px;">{{item.sealNo}}</td>
                                                        <td style="width: 50px;">{{item.containerType}}</td>
                                                        <td style="width: 110px;">{{item.articleCode}}</td>
                                                        <td style="width: 400px;">{{item.description}}</td>
                                                        <td style="width: 60px;"><input class="form-control" type="text" name="unit" ng-model="item.unit"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="quantityShipped" ng-model="item.quantityShipped" style="text-align:right"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="pkGs" ng-model="item.pkGs" style="text-align:right"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="nettWeight" ng-model="item.nettWeight" style="text-align:right"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="kGs" ng-model="item.kGs" style="text-align:right"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="cbMs" ng-model="item.cbMs" style="text-align:right"></td>
                                                        <td><input class="form-control" type="text" name="remark" ng-model="item.remark"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 80px;">Total():</td>
                                                        <td style="width: 80px;"></td>
                                                        <td style="width: 60px;"></td>
                                                        <td style="width: 120px; "></td>
                                                        <td style="width: 100px;"></td>
                                                        <td style="width: 50px;"></td>
                                                        <td style="width: 110px;"></td>
                                                        <td style="width: 400px;"></td>
                                                        <td style="width: 60px;"></td>
                                                        <td style="width: 110px; text-align:right"><span class="form-control">{{calTotalQuantity() | number : 0}}</span></td>
                                                        <td style="width: 110px; text-align:right" "><span class="form-control">{{calTotalPKGs() | number : 0}}</span></td>
                                                        <td style="width: 110px; text-align:right" "><span class="form-control">{{calTotalNettWeight() | number : 2}}</span> </td>
                                                        <td style="width: 110px; text-align:right" "><span class="form-control">{{calTotalKGs() | number : 2}}</span> </td>
                                                        <td style="width: 110px; text-align:right" "><span class="form-control">{{calTotalCBMs() | number : 3}}</span> </td>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="hb7">
                            <div class="row">
                                <div class="col-sm-12 m-bottom-15">

                                    <div id="detailSparepartTable" class="table-responsive">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-header" style="width: 1800px;">
                                                <div class="sorting" data-colname="invoiceNo" style="width: 80px;">EURORFAR INV.NO</div>
                                                <div class="sorting" data-colname="orderNo" style="width: 80px;">ORDER NO</div>
                                                <div class="sorting" data-colname="clientUD" style="width: 60px;">CLIENT</div>
                                                <div class="sorting_asc" data-colname="containerNo" style="width: 120px;">CONTAINER.NO</div>
                                                <div class="sorting" data-colname="sealNo" style="width: 120px;">SEAL.NO</div>
                                                <div class="sorting" data-colname="containerType" style="width: 50px;">CONT TYPE</div>
                                                <div class="sorting" data-colname="articleCode" style="width: 90px;">ARTICLECODE</div>
                                                <div class="sorting" data-colname="description" style="width: 300px;">DESCRIPTION</div>
                                                <div class="sorting" data-colname="unit" style="width: 60px;">UNIT</div>
                                                <div class="sorting" data-colname="quantityShipped" style="width: 110px;">SHIPPED</div>
                                                <div class="sorting" data-colname="pkGs" style="width: 110px;">PKGs</div>
                                                <div class="sorting" data-colname="nettWeight" style="width: 110px;">NET WEIGHT</div>
                                                <div class="sorting" data-colname="kGs" style="width: 110px;">KGs</div>
                                                <div class="sorting" data-colname="cbMs" style="width: 110px;">CBMs</div>
                                                <div class="sorting" data-colname="remark">REMARK</div>
                                            </div>
                                            <div class="tilsoft-table-body" style="width: 1800px; ">
                                                <table>
                                                    <tr ng-repeat="item in mainData.packingListData.packingListSparepartDetails">
                                                        <td style="width: 80px;">{{item.invoiceNo}}</td>
                                                        <td style="width: 80px;">{{item.orderNo}}</td>
                                                        <td style="width: 60px;">{{item.clientUD}}</td>
                                                        <td style="width: 120px; ">{{item.containerNo}}</td>
                                                        <td style="width: 120px;">{{item.sealNo}}</td>
                                                        <td style="width: 50px;">{{item.containerType}}</td>
                                                        <td style="width: 90px;">{{item.articleCode}}</td>
                                                        <td style="width: 300px;">{{item.description}}</td>
                                                        <td style="width: 60px;"><input class="form-control" type="text" name="unit" ng-model="item.unit"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="quantityShipped" ng-model="item.quantityShipped" style="text-align:right"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="pkGs" ng-model="item.pkGs" style="text-align:right"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="nettWeight" ng-model="item.nettWeight" style="text-align:right"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="kGs" ng-model="item.kGs" style="text-align:right"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="cbMs" ng-model="item.cbMs" style="text-align:right"></td>
                                                        <td><input class="form-control" type="text" name="remark" ng-model="item.remark"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 80px;">Total():</td>
                                                        <td style="width: 80px;"></td>
                                                        <td style="width: 60px;"></td>
                                                        <td style="width: 120px; "></td>
                                                        <td style="width: 120px;"></td>
                                                        <td style="width: 50px;"></td>
                                                        <td style="width: 90px;"></td>
                                                        <td style="width: 300px;"></td>
                                                        <td style="width: 60px;"></td>
                                                        <td style="width: 110px; text-align:right"><span class="form-control">{{calTotalQuantitySparepart() | number : 0}}</span></td>
                                                        <td style="width: 110px; text-align:right"><span class="form-control">{{calTotalPKGsSparepart() | number : 0}}</span></td>
                                                        <td style="width: 110px; text-align:right"><span class="form-control">{{calTotalNettWeightSparepart() | number : 2}}</span> </td>
                                                        <td style="width: 110px; text-align:right"><span class="form-control">{{calTotalKGsSparepart() | number : 2}}</span> </td>
                                                        <td style="width: 110px; text-align:right"><span class="form-control">{{calTotalCBMsSparepart() | number : 3}}</span> </td>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="hb8">
                            <div class="row">
                                <div class="col-sm-12 m-bottom-15">
                                    <div>
                                        <a class="btn btn-primary btn-xs font-11" href="javascript:void(0);" ng-click="addDetailExtend($event)" style="margin-bottom: 10px;"><i class="fa fa-plus"></i>Add other goods</a>
                                    </div>

                                    <div id="detailExtendTable" class="table-responsive">
                                        <table class="table table-bordered table-hover custom-table dataTable">
                                            <thead>
                                                <tr>
                                                    <th style="width: 20px;"></th>
                                                    <th class="sorting" data-colname="eCommercialInvoiceID" style="width: 60px;">EUROFAR INV.NO</th>
                                                    <th class="sorting_asc" data-colname="containerNo" style="width: 80px;">CONT.NO</th>
                                                    <th class="sorting" data-colname="sealNo" style="width: 80px;">SEAL.NO</th>
                                                    <th class="sorting" data-colname="containerType" style="width: 50px;">CONT.TYPE</th>
                                                    <th class="sorting" data-colname="articleCode" style="width: 100px;">ARTICLECODE</th>
                                                    <th class="sorting" data-colname="description">DESCRIPTION</th>
                                                    <th class="sorting" data-colname="unit" style="width: 40px;">UNIT</th>
                                                    <th class="sorting" data-colname="quantityShipped" style="width: 40px;">SHIPPED</th>
                                                    <th class="sorting" data-colname="pkGs" style="width: 80px;">PKGs</th>
                                                    <th class="sorting" data-colname="nettWeight" style="width: 80px;">NET WEIGHT</th>
                                                    <th class="sorting" data-colname="kGs" style="width: 80px;">KGs</th>
                                                    <th class="sorting" data-colname="cbMs" style="width: 80px;">CBMs</th>
                                                    <th class="sorting" data-colname="remark" style="width: 80px;">REMARK</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in mainData.packingListData.packingListDetailExtends">
                                                    <td style="text-align: center;">
                                                        <a class="btn btn-danger btn-xs font-11" href="#" ng-click="removeDetailExtend($event, item.packingListDetailExtendID)" title="Delete"><i class="fa fa-times"></i>Del</a>
                                                    </td>
                                                    <td>
                                                        <select class="form-control" name="eCommercialInvoiceID" ng-model="item.eCommercialInvoiceID" ng-options="invoice.eCommercialInvoiceID as invoice.invoiceNo for invoice in mainData.packingListData.eCommercialInvoices">
                                                            <option value=""></option>
                                                        </select>
                                                    </td>
                                                    <td><input class="form-control" type="text" name="unit" ng-model="item.containerNo"></td>
                                                    <td><input class="form-control" type="text" name="unit" ng-model="item.sealNo"></td>
                                                    <td><input class="form-control" type="text" name="unit" ng-model="item.containerType"></td>
                                                    <td><input class="form-control" type="text" name="unit" ng-model="item.articleCode"></td>
                                                    <td><input class="form-control" type="text" name="unit" ng-model="item.description"></td>

                                                    <td><input class="form-control" type="text" name="unit" ng-model="item.unit"></td>
                                                    <td><input class="form-control" type="text" name="quantityShipped" ng-model="item.quantityShipped" style="text-align:right"></td>
                                                    <td><input class="form-control" type="text" name="pkGs" ng-model="item.pkGs" style="text-align:right"></td>
                                                    <td><input class="form-control" type="text" name="nettWeight" ng-model="item.nettWeight" style="text-align:right"></td>
                                                    <td><input class="form-control" type="text" name="kGs" ng-model="item.kGs" style="text-align:right"></td>
                                                    <td><input class="form-control" type="text" name="cbMs" ng-model="item.cbMs" style="text-align:right"></td>
                                                    <td><input class="form-control" type="text" name="remark" ng-model="item.remark"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmPrintOption" class="modal fade" style="display:none" data-backdrop="none">
        <div class="modal-dialog">
            <div class="modal-content" style="margin-top:90px !important">
                <div class="modal-header">
                    <h4 id="myModalLabel" class="modal-title">Print Template Option</h4>
                </div>
                <div class="modal-body smart-form">
                    <div>
                        <div class="widget-body no-padding">
                            <div class="row">
                                <div class="col col-lg-12">
                                    <ul style="padding: 0px;">
                                        <li style="display:block" ng-repeat="item in printOptions">
                                            <input type="radio" name="radio-print" id="print-option-{{item.printOptionValue}}" ng-value="item.printOptionValue" ng-model="$parent.printOptionValue" /><i> {{item.printOptionText}}</i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="printSelectedTemplate()">
                        Print
                    </button>
                </div>
            </div>
        </div>
    </div>

</form>


@section pagepopup2
{

@*<div id="initForm" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-search"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <label>BL No</label>
                            <input class="form-control search-filter" type="text" id="BLNo" ng-model="initForm.inputData.BLNo">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Select invoice to create packing list</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <table class="table table-bordered table-hover custom-table dataTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20px;"></th>
                                        <th class="sorting" data-colname="invoiceNo" style="width: 80px;">Invoice No</th>
                                        <th class="sorting" data-colname="invoiceDateFormated" style="width: 80px;">Invoice Date</th>
                                        <th class="sorting" data-colname="blNo" style="width: 80px;">BL No</th>
                                        <th class="sorting" data-colname="shipedDateFormated" style="width: 80px;">Shipped Date</th>
                                        <th class="sorting" data-colname="podName" style="width: 80px;">POD</th>
                                        <th class="sorting" data-colname="polName" style="width: 80px;">POL</th>
                                        <th class="sorting" data-colname="forwarderNM">Forwarder</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="init_item in initForm.initSearchResult.master_data">
                                        <td style="text-align: center;">
                                            <button ng-click="initForm.event.select($event, init_item.purchasingInvoiceID)">Select</button>
                                        </td>
                                        <td>{{init_item.invoiceNo}}</td>
                                        <td>{{init_item.invoiceDateFormated}}</td>
                                        <td>{{init_item.blNo}}</td>
                                        <td>{{init_item.shipedDateFormated}}</td>
                                        <td>{{init_item.podName}}</td>
                                        <td>{{init_item.polName}}</td>
                                        <td>{{init_item.forwarderNM}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <footer>
                            <button class="btn btn-default" type="button" ng-click="initForm.event.cancel($event)">
                                CANCEL
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>*@

}

@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="update($event)"><i class="fa fa-save"></i></a>
    </li>
    <li class="sparks-info">
        <a href="@Url.Action("Index", "PackingList")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="delete($event)"><i class="fa fa-times"></i></a>
    </li>

    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Print, HttpContext.Current))" title="Print PackingList In Excel" ng-click="showPrintOptionForm(1)"><i class="fa fa-print"></i></a>
    </li>

    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Print, HttpContext.Current))" title="Print PackingList For Every Eurofar Invoice" ng-click="showPrintOptionForm(2)"><i class="fa fa-print"></i></a>
    </li>

    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Print, HttpContext.Current))" title="Print PackingList In Excel By Container" ng-click="showPrintOptionForm(3)"><i class="fa fa-print"></i></a>
    </li>
</ul>
}

@section pagejs {
    <script src="~/Angular/app/packinglist/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/ECommercialInvoice/Service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        packingListService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/packinglist/';
        packingListService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        eCommercialInvoiceService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/ecommercialinvoice/';
        eCommercialInvoiceService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var packinglistApp = angular.module('tilsoftApp', []);
        packinglistApp.controller('tilsoftController', ['$scope', function ($scope) {
            $scope.mainData = null;

            $scope.printOptionValue = 1;

        $scope.calTotalQuantity = function(){
            if ($scope.mainData == null) return;
            var total = 0;
            angular.forEach($scope.mainData.packingListData.packingListDetails, function(item){
                if(item.quantityShipped != null && !isNaN(parseInt(item.quantityShipped))){
                    total = total + parseInt(item.quantityShipped);
                }                
            })
            return total;
        }

        $scope.calTotalQuantitySparepart = function(){
            if ($scope.mainData == null) return;
            var total = 0;
            angular.forEach($scope.mainData.packingListData.packingListSparepartDetails, function(item){
                if(item.quantityShipped != null && !isNaN(parseInt(item.quantityShipped))){
                    total = total + parseInt(item.quantityShipped);
                }                
            })
            return total;
        }

        $scope.calTotalPKGs = function(){
            if ($scope.mainData == null) return;
            var total = 0;
            angular.forEach($scope.mainData.packingListData.packingListDetails, function(item){
                if(item.pkGs != null && !isNaN(parseInt(item.pkGs))){
                    total = total + parseInt(item.pkGs);
                }
            })
            return total;
        }

        $scope.calTotalPKGsSparepart = function(){
            if ($scope.mainData == null) return;
            var total = 0;
            angular.forEach($scope.mainData.packingListData.packingListSparepartDetails, function(item){
                if(item.pkGs != null && !isNaN(parseInt(item.pkGs))){
                    total = total + parseInt(item.pkGs);
                }                
            })
            return total;
        }

        $scope.calTotalNettWeight = function(){
            if ($scope.mainData == null) return;
            var total = 0;
            angular.forEach($scope.mainData.packingListData.packingListDetails, function(item){
                if(item.nettWeight != null && !isNaN(parseFloat(item.nettWeight))){
                    total = total + parseFloat(item.nettWeight);
                }
            })
            return total;
        }

        $scope.calTotalNettWeightSparepart = function(){
            if ($scope.mainData == null) return;
            var total = 0;
            angular.forEach($scope.mainData.packingListData.packingListSparepartDetails, function(item){
                if(item.nettWeight != null && !isNaN(parseFloat(item.nettWeight))){
                    total = total + parseFloat(item.nettWeight);
                }
            })
            return total;
        }


        $scope.calTotalKGs = function(){
            if ($scope.mainData == null) return;
            var total = 0;
            angular.forEach($scope.mainData.packingListData.packingListDetails, function(item){
                if(item.kGs != null && !isNaN(parseFloat(item.kGs))){
                    total = total + parseFloat(item.kGs);
                }
            })
            return total;
        }

        $scope.calTotalKGsSparepart = function(){
            if ($scope.mainData == null) return;
            var total = 0;
            angular.forEach($scope.mainData.packingListData.packingListSparepartDetails, function(item){
                if(item.kGs != null && !isNaN(parseFloat(item.kGs))){
                    total = total + parseFloat(item.kGs);
                }
            })
            return total;
        }

        $scope.calTotalCBMs = function(){
            if ($scope.mainData == null) return;
            var total = 0;
            angular.forEach($scope.mainData.packingListData.packingListDetails, function(item){
                if(item.cbMs != null && !isNaN(parseFloat(item.cbMs))){
                    total = total + parseFloat(item.cbMs);
                }
            })
            return total;
        }

        $scope.calTotalCBMsSparepart = function(){
            if ($scope.mainData == null) return;
            var total = 0;
            angular.forEach($scope.mainData.packingListData.packingListSparepartDetails, function(item){
                if(item.cbMs != null && !isNaN(parseFloat(item.cbMs))){
                    total = total + parseFloat(item.cbMs);
                }
            })
            return total;
        }

        $scope.load = function()
        {
            packingListService.load('@ViewBag.ID','@pID',
                function (data) {
                    $scope.mainData = data.data;
                    $scope.$apply();

                    jQuery('#content').show();
                    $scope.$watch('packinglist', function() {
                        jQuery('#changeNotification').html('<i class="fa fa-save blink_me"></i>');
                    });
                    if (data.message.type == 2)
                    {
                        jsHelper.processMessage(data.message);
                    }
                },
                function (error) {
                    jsHelper.showMessage('warning', error);
                    $scope.mainData = null;
                    $scope.$apply();
                }
            );
        }

        $scope.update = function ($event) {
            $event.preventDefault();

            if($scope.editForm.$valid)
            {
                packingListService.update(@ViewBag.ID, $scope.mainData.packingListData,
                function (data) {
                    jsHelper.processMessage(data.message);
                    if(data.message.type == 0) {
                        window.location = '@Url.Action("Edit", "PackingList", new { id = UrlParameter.Optional })/' + data.data.packingListID ;
                    }
                },
                    function (error) {
                        jsHelper.showMessage('warning', error);
                    }
                );
            }
            else
            {
                jsHelper.showMessage('warning', '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED');
            }
        }

        $scope.delete = function ($event) {
            $event.preventDefault();

            if (confirm('Are you sure ?')) {
                packingListService.delete(@ViewBag.ID,
                function (data) {
                    jsHelper.processMessage(data.message);
                    if(data.message.type == 0) {
                        window.location = '@Url.Action("Index", "PackingList")';
                    }
                },
                function (error) {
                    jsHelper.showMessage('warning', error);
                }
            );
            }
        }

        //Show print popup
        $scope.showPrintOptionForm = function (type) {
            $scope.printOptions = [];
            $scope.printOptions.push({
                printOptionValue: 1,
                printOptionText: "Print with EuroFar template",
                printOptionType: type
            });
            $scope.printOptions.push({
                printOptionValue: 2,
                printOptionText: "Print with Orangpine template",
                printOptionType: type
            });
            $('#frmPrintOption').modal('show');
        }

        $scope.printSelectedTemplate = function () {
            var x = $scope.printOptionValue;
            switch (x) {
                case 1:
                    y = $scope.printOptions[0].printOptionType;
                    $scope.PrintEurofarTemplate(y);
                    break;
                case 2:
                    y = $scope.printOptions[1].printOptionType;
                    $scope.PrintOrangpineTemplate(y);
                    break;
            }
        }

        $scope.PrintOrangpineTemplate = function (type) {
            switch (type) {
                case 1:
                    packingListService.getReport(@ViewBag.ID, 1,
                        function (data) {
                            //jsHelper.processMessage(data.message);
                            window.location = '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data;
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                        }
                    );
                    break;
                case 2:
                    for(i = 0; i < $scope.mainData.packingListData.eCommercialInvoices.length; i++)
                    {
                        packingListService.printPackinglistPDF(@ViewBag.ID, 1,
                            function (data) {
                                if (data.message.type == 2)
                                {
                                    jsHelper.processMessage(data.message);
                                    return;
                                }
                                window.open('@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data ,'');
                            },
                            function (error) {
                                jsHelper.showMessage('warning', error);
                            }
                        );
                    }
                    break;
                case 3:
                    packingListService.getReportByContainer(@ViewBag.ID, 1,
                        function (data) {
                            //jsHelper.processMessage(data.message);
                            window.location = '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data;
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                        }
                    );
                    break;
            }

        }

        $scope.PrintEurofarTemplate = function (type) {
            switch (type) {
                case 1:
                    packingListService.getReport(@ViewBag.ID, 2,
                        function (data) {
                            //jsHelper.processMessage(data.message);
                            window.location = '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data;
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                        }
                    );
                    break;
                case 2:
                    for(i = 0; i < $scope.mainData.packingListData.eCommercialInvoices.length; i++)
                    {
                        eCommercialInvoiceService.printPackinglistExtend($scope.mainData.packingListData.eCommercialInvoices[i].eCommercialInvoiceID, 2,
                            function (data) {
                                if (data.message.type == 2)
                                {
                                    jsHelper.processMessage(data.message);
                                    return;
                                }
                                window.open('@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data ,'');
                            },
                            function (error) {
                                jsHelper.showMessage('warning', error);
                            }
                        );
                    }
                    break;
                case 3:
                    packingListService.getReportByContainer(@ViewBag.ID, 2,
                        function (data) {
                            //jsHelper.processMessage(data.message);
                            window.location = '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data;
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                        }
                    );
                    break;
            }
        }

        @*$scope.printPackingList = function ($event) {
            $event.preventDefault();
            for(i = 0; i < $scope.mainData.packingListData.eCommercialInvoices.length; i++)
            {
                eCommercialInvoiceService.printPackingList($scope.mainData.packingListData.eCommercialInvoices[i].eCommercialInvoiceID,
                    function (data) {
                        if (data.message.type == 2)
                        {
                            jsHelper.processMessage(data.message);
                            return;
                        }
                        window.open('@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data ,'');
                    },
                    function (error) {
                        jsHelper.showMessage('warning', error);
                    }
                );
            }
        }*@

        @*$scope.printExcelPackingList = function ($event, packingListID) {
            $event.preventDefault();
            packingListService.getReport(packingListID,
                function (data) {
                    //jsHelper.processMessage(data.message);
                    window.location = '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data;
                },
                function (error) {
                    jsHelper.showMessage('warning', error);
                }
            );
        }*@

            @*$scope.printPackingListByContainer = function($event,packingListID){
                $event.preventDefault();
                packingListService.getReportByContainer(packingListID,
                    function (data) {
                        //jsHelper.processMessage(data.message);
                        window.location = '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data;
                    },
                    function (error) {
                        jsHelper.showMessage('warning', error);
                    }
                );
            }*@

        $scope.addDetailExtend = function($event){
            $event.preventDefault();

            var arr = $scope.mainData.packingListData.packingListDetailExtends.filter(function(o){ return o.packingListDetailExtendID < 0});
            max_id = -1;
            if (arr.length > 0)
            {
                arr.sort(function(a,b){return a.packingListDetailExtendID - b.packingListDetailExtendID});
                max_id = arr[0].packingListDetailExtendID - 1;
            }
            $scope.mainData.packingListData.packingListDetailExtends.push({
                packingListDetailExtendID : max_id
            });
            $scope.$apply();
        }

        $scope.removeDetailExtend = function($event, id){
            $event.preventDefault();
            isExist = false;
            for(j=0; j< $scope.mainData.packingListData.packingListDetailExtends.length; j++) {
                if($scope.mainData.packingListData.packingListDetailExtends[j].packingListDetailExtendID == id) {
                    isExist = true;
                    break;
                }
            }
            if(isExist){
                $scope.mainData.packingListData.packingListDetailExtends.splice(j, 1);
            }
        }
        //init form
        $scope.initForm = {

            inputData : {
                BLNo : ''
            },
            initSearchResult : {
                master_data : null,
                detail_data : null
            },
            event :{
                load : function(){
                    $scope.initForm.method.searchInitInfo();
                },
                search : function(){
                    $scope.initForm.method.searchInitInfo();
                },
               
                cancel : function($event)
                {
                    $event.preventDefault();
                    jsHelper.hidePopup('initForm',function(){});
                },
                select : function($event,purchasingInvoiceID)
                {
                    $event.preventDefault();
                    jsHelper.hidePopup('initForm',function(){
                        $scope.load('@ViewBag.ID',purchasingInvoiceID);
                    });
                }
            },
            method:{
                searchInitInfo : function(){
                    packingListService.searchFilter.filters  = $scope.initForm.inputData;
                    packingListService.search_initInfo(
                         function (data) {
                             $scope.initForm.initSearchResult.master_data = data.data;
                             $scope.$apply();
                             alert('ok');
                             jsHelper.showPopup('initForm',function(){});
                         },
                         function (error) {
                             jsHelper.showMessage('warning', error);
                             $scope.$apply();

                         }
                    );
                },
            }
        }

        $scope.load();

    }]);

    </script>
}

