@{
    ViewBag.Title = "Search Packing List";
    ViewBag.Module = "Packing List";
}

<div class="row">

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-search"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="row">
                        
                        <div class="col-sm-2">
                            <label>Packing List No.</label>
                            <input class="form-control search-filter" type="text" id="packingListUD" ng-model="filters.PackingListUD">
                        </div>


                        <div class="col-sm-2">
                            <label>Invoice No</label>
                            <input class="form-control search-filter" type="text" id="invoiceNo" ng-model="filters.InvoiceNo">
                        </div>

                        <div class="col-sm-2">
                            <label>BL No</label>
                            <input class="form-control search-filter" type="text" id="blNo" ng-model="filters.BLNo">
                        </div>

                        <div class="col-sm-2">
                            <label>Client Code</label>
                            <input class="form-control search-filter" type="text" id="txtclientcode" ng-model="filters.ClientUD">
                        </div>

                        <div class="col-sm-2">
                            <label>ContainerNo</label>
                            <input class="form-control search-filter" type="text" id="txtContainerNo" ng-model="filters.ContainerNo">
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search result</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div id="searchTableContent" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1900px;">
                                <div style="width: 100px;"></div>
                                <div style="width: 100px;" class="sorting" data-colname="packingListUD">PACKINGLIST NO</div>
                                <div style="width: 100px;" class="sorting" data-colname="packingListDate">PACKINGLIST DATE</div>
                                <div style="width: 100px;" class="sorting" data-colname="invoiceNo">INVOICE NO</div>
                                <div style="width: 200px;" class="sorting" data-colname="blNo">BLNO</div>
                                <div style="width: 200px;" class="sorting" data-colname="podName">POD</div>
                                <div style="width: 200px;" data-colname="containerNo">CONTAINER NO</div>
                                <div style="width: 100px;" class="sorting" data-colname="polName">POL</div>
                                <div style="width: 300px;" class="sorting" data-colname="descriptionOfGoods">Supplier</div>
                                <div style="width: 100px;" class="sorting" data-colname="containerRemark">CONT REMARK</div>
                                <div style="width: 100px;" class="sorting" data-colname="creatorName">CREATED BY</div>
                                <div style="width: 100px;" class="sorting" data-colname="createdDate">CREATED DATE</div>
                                <div style="width: 100px;" class="sorting" data-colname="updatorName">UPDATED BY</div>
                                <div class="sorting" data-colname="updatedDate">UPDATED DATE</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1900px; ">
                                <table>
                                    <tbody ng-repeat="item in packingList">
                                        <tr>
                                            <td style="text-align: center;width:100px">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "PackingList")/{{item.packingListID}}" title="View (Read Only) title=" view (read only)" target="_blank"><i class="fa fa-folder-open"></i>View</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "PackingList")/{{item.packingListID}}" title="Edit" target="_blank"><i class="fa fa-pencil"></i>Edit</a>
                                                }

                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                                {
                                                    <a class="btn btn-danger btn-xs font-11" href="#" ng-click="delete(item.packingListID,$event)" title="Delete"><i class="fa fa-times"></i>Del</a>
                                                }
                                            </td>
                                            <td style="width: 100px;">{{item.packingListUD}}</td>
                                            <td style="width: 100px;">{{item.packingListDateFormated}}</td>
                                            <td style="width: 100px;">{{item.invoiceNo}}</td>
                                            <td style="width: 200px;">{{item.blNo}}</td>
                                            <td style="width: 200px;">{{item.podName}}</td>
                                            <td style="width: 200px">
                                                <div ng-repeat="item2 in item.packingListSearchContainerNos">
                                                    <label>{{item2.containerNo}}</label>
                                                </div>
                                            </td>
                                            <td style="width: 100px;">{{item.polName}}</td>
                                            <td style="width: 300px;">{{item.supplierNM}}</td>
                                            <td style="width: 100px;">{{item.containerRemark}}</td>
                                            <td style="width: 100px;">
                                                <avs-show-dialog-link is-show="item.showUpdatorLink"
                                                                      navigate-url="'@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/' + item.creatorID"
                                                                      display-text="item.creatorName"></avs-show-dialog-link>
                                            </td>
                                            <td style="width: 100px;">{{item.createdDateFormated}}</td>
                                            <td style="width: 100px;">
                                                <avs-show-dialog-link is-show="item.showCreatorLink"
                                                                      navigate-url="'@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/' + item.updatorID"
                                                                      display-text="item.updatorName"></avs-show-dialog-link>
                                            </td>
                                            <td>{{item.updatedDateFormated}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="search()"><i class=" fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="search()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Init", "PackingList")" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New" target="_blank"><i class="fa fa-file-o"></i></a>
        </li>
        
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/packinglist/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        packingListService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/packinglist/';
        packingListService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        packingListService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    </script>
    <script src="~/Angular/app/packinglist/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")" type="text/javascript"></script>
}
