@{
    ViewBag.Title = "Showroom overview";
    ViewBag.Module = "Showroom overview";
}
<form class="row" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <label>ArticleCode</label>
                            <input class="form-control search-filter" type="text" ng-model="filters.articleCode">
                        </div>
                        <div class="col-sm-4">
                            <label>Description</label>
                            <input class="form-control search-filter" type="text" ng-model="filters.description">
                        </div>
                        <div class="col-sm-2">
                            <label>Area</label>
                            <select ng-model="filters.showroomAreaID" ng-options="item.showroomAreaID as item.showroomAreaUD for item in showroomAreas" class="form-control"><option value=""></option></select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <div class="table-responsive">
                        <div id="grdSearchResult" class="tilsoft-table-wrapper">
                            <div class="tilsoft-table">
                                <div class="tilsoft-table-body" style="width: 1000px;height:auto ">
                                    <table>
                                        <tbody ng-repeat="item in data">
                                            <tr>
                                                <th style="width: 47px;">#</th>
                                                <th style="width: 98px;" data-colname="ShowroomAreaUD">Area</th>
                                                <th data-colname="ShowroomAreaNM">Area Name</th>
                                                <th style="width: 200px;" data-colname="">TOP LEFT</th>
                                                <th style="width: 200px;" data-colname="">TOP RIGHT</th>
                                                <th style="width: 200px;" data-colname="">BOTTOM LEFT</th>
                                                <th style="width: 200px;" data-colname="">BOTTOM RIGHT</th>
                                                <th style="width: 200px;" data-colname="">MAP</th>                                                
                                            </tr>
                                            <tr>
                                                <td style="text-align:center;vertical-align:middle">{{$index+1}}</td>

                                                <td style="text-align: center; vertical-align: middle">{{item.showroomAreaUD}}</td>
                                                <td style="text-align: center; vertical-align: middle">{{item.showroomAreaNM}}</td>

                                                <td ng-repeat="areaImageItem in item.showroomAreaImages | filter : { areaImageUD: 'TL' }" style="text-align: center; vertical-align: middle">
                                                    <a href="{{areaImageItem.showroomAreaFullImage}}" data-featherlight="image">
                                                        <img src="{{areaImageItem.showroomAreaThumbnailImage}}" width="150" height="150" />
                                                    </a>
                                                </td>
                                                <td ng-repeat="areaImageItem in item.showroomAreaImages | filter : { areaImageUD: 'TR' }" style="text-align: center; vertical-align: middle">
                                                    <a href="{{areaImageItem.showroomAreaFullImage}}" data-featherlight="image">
                                                        <img src="{{areaImageItem.showroomAreaThumbnailImage}}" width="150" height="150" />
                                                    </a>
                                                </td>

                                                <td ng-repeat="areaImageItem in item.showroomAreaImages | filter : { areaImageUD: 'BL' }" style="text-align: center; vertical-align: middle">
                                                    <a href="{{areaImageItem.showroomAreaFullImage}}" data-featherlight="image">
                                                        <img src="{{areaImageItem.showroomAreaThumbnailImage}}" width="150" height="150" />
                                                    </a>
                                                </td>

                                                <td ng-repeat="areaImageItem in item.showroomAreaImages | filter : { areaImageUD: 'BR' }" style="text-align: center; vertical-align: middle">
                                                    <a href="{{areaImageItem.showroomAreaFullImage}}" data-featherlight="image">
                                                        <img src="{{areaImageItem.showroomAreaThumbnailImage}}" width="150" height="150" />
                                                    </a>
                                                </td>

                                                <td ng-repeat="areaImageItem in item.showroomAreaImages | filter : { areaImageUD: 'MA' }" style="text-align: center; vertical-align: middle">
                                                    <a href="{{areaImageItem.showroomAreaFullImage}}" data-featherlight="image">
                                                        <img src="{{areaImageItem.showroomAreaThumbnailImage}}" width="150" height="150" />
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="8">
                                                    <div class="tilsoft-table" style="width:auto">
                                                        <table id="{{item.showroomAreaID}}">
                                                            <tbody class="t_sortable">
                                                                <tr>
                                                                    <th style="width: 40px;" class="sorting" data-colname="Index">#</th>
                                                                    <th style="width: 100px;" class="sorting" data-colname="ImageFile"></th>
                                                                    <th style="width: 130px;" class="sorting" data-colname="ArticleCode">Article Code</th>
                                                                    <th class="sorting" data-colname="Description">Description</th>
                                                                    <th style="width: 100px;" class="sorting" data-colname="Quantity">Quantity</th>
                                                                </tr>
                                                                <tr ng-repeat="overviewItem in item.showroomOverviews" style="cursor:move">
                                                                    <td style="text-align:center;width:40px;display:none">{{overviewItem.showroomItemID}}</td>
                                                                    <td style="text-align:center;width:40px;">{{$index+1}} <input type="checkbox" ng-model="overviewItem.isSelected" /></td>
                                                                    <td style="text-align: center; vertical-align: middle; width:100px">
                                                                        <a href="{{overviewItem.showroomItemFullImage}}" data-featherlight="image">
                                                                            <img style="width: 95%;" ng-src="{{overviewItem.showroomItemThumbnailImage}}" />
                                                                        </a>
                                                                    </td>
                                                                    <td style="text-align: center; vertical-align: middle; width: 130px"><a href="@Url.Action("Edit", "ShowroomItem")/{{overviewItem.showroomItemID}}" target="_blank">{{overviewItem.articleCode}}</a></td>
                                                                    <td style="text-align: left; vertical-align: middle">{{overviewItem.description}}</td>
                                                                    <td style="text-align: center; vertical-align: middle; width: 100px">{{overviewItem.quantity}}</td>
                                                                </tr>
                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.search()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.search()"><i class="fa fa-refresh"></i></a>
        </li>
        @*<li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Show selected print" ng-click="exportExcelForm.event.load($event)" style="color: #31B404"><i class="fa fa-file-excel-o"></i></a>
        </li>*@

        <li class="sparks-info">
            <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Transfer" ng-click="event.transferMultiItem($event)"><i class="fa fa-save"></i></a>
        </li>

        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Print hang tag" ng-click="event.printHangTag()" style="color: #31B404"><i class="fa fa-file-excel-o"></i></a>
        </li>

        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Print overview" ng-click="event.printShowroomOverview()" style="color: #31B404"><i class="fa fa-file-excel-o"></i></a>
        </li>

    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>

    <script type="text/javascript">
    var context = {
            reportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            mainServiceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/reportshowroomoverview/',
            transferShowroomAreaServiceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/transfershowroomarea/',
        }
        jsonService.serviceUrl = context.mainServiceUrl;
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        supportService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        supportService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
    </script>
    <script src="~/Angular/app/reportShowroomOverview/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/reportShowroomOverview/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/transferShowroomArea/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
