@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Factory";
    }
    else
    {
        ViewBag.Title = "Edit Factory";
    }

    ViewBag.Module = "Factory";
}

<form class="row" name="editForm" id="main-form">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <span> General Information </span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="widget-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabGeneral">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">

                                        <section class="col col-2">
                                            <label class="label">Receipt No</label>
                                            <label class="input">
                                                <input type="text" ng-model="data.factoryPayment.paymentReceiptNo" required name="paymentReceiptNo" />
                                            </label>
                                            <span class="help-block" ng-show="editForm.paymentReceiptNo.$error.required"><i class="fa fa-warning"></i>Receipt No is required.</span>
                                        </section>

                                        <section class="col col-2">
                                            <label class="label">Payment Date</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="data.factoryPayment.paymentDate">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </section>  


                                        <section class="col col-2">
                                            <label class="label">Season</label>
                                            <select name="season" class="form-control" ng-model="data.factoryPayment.season" ng-options="item.seasonValue as item.seasonText for item in data.seasons" required>
                                                <option value=""></option>
                                            </select>
                                            <span class="help-block" ng-show="editForm.season.$error.required"><i class="fa fa-warning"></i>Season is required.</span>
                                        </section>  

                                        <div class="col col-2">
                                            <label>Factory</label>
                                            <select name="factoryID" class="form-control" ng-model="data.factoryPayment.factoryID" ng-options="item.factoryID as item.factoryUD for item in data.factories | orderBy : 'factoryUD'" required>
                                                <option value=""></option>
                                            </select>
                                            <span class="help-block" ng-show="editForm.factoryID.$error.required"><i class="fa fa-warning"></i>Factory is required.</span>
                                        </div>

                                        <div class="col col-2">
                                            <label>Amount</label>
                                            @*<input class="form-control" type="text" style="text-align:right" name="amount" ng-model="data.factoryPayment.usdAmount" />*@
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>
                                                <input type="text" class="form-control furnindo-currency" ng-model="data.factoryPayment.usdAmount" style="text-align:right" ng-currency fraction="2" currency-symbol=""  required/>
                                            </div>
                                            <span class="help-block" ng-show="editForm.amount.$error.required"><i class="fa fa-warning"></i>Amount is required.</span>

                                        </div>
                                                                             
                                    </div>      
                                    
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">Created By</label>
                                            <label class="input">
                                                <span class="form-control">
                                                    <a ng-show="(data.factoryPayment.createdBy!=null && data.factoryPayment.creatorName2!=null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.factoryPayment.createdBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        <i class="fa fa-user"></i> {{data.factoryPayment.creatorName2}}
                                                    </a>
                                                    <span ng-show="(data.factoryPayment.createdBy!=null && data.factoryPayment.creatorName2==null && data.factoryPayment.creatorName!=null)">{{data.factoryPayment.creatorName}}</span>
                                                </span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Created Date</label>
                                            <label class="input">
                                                <span class="form-control">{{data.factoryPayment.createdDate}}</span>
                                            </label>
                                        </section>

                                        <section class="col col-2">
                                            <label class="label">Updated By</label>
                                            <label class="input">
                                                <span class="form-control">
                                                    <a ng-show="(data.factoryPayment.updatedBy!=null && data.factoryPayment.updatorName2!=null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.factoryPayment.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        <i class="fa fa-user"></i> {{data.factoryPayment.updatorName2}}
                                                    </a>
                                                    <span ng-show="(data.factoryPayment.updatedBy!=null && data.factoryPayment.updatorName2==null && data.factoryPayment.updatorName!=null)">{{data.factoryPayment.updatorName}}</span>
                                                </span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Updated Date</label>
                                            <label class="input">
                                                <span class="form-control">{{data.factoryPayment.updatedDate}}</span>
                                            </label>
                                        </section>
                                    </div>  
                                   
                                </fieldset>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmPrintOption" class="modal fade" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        ×
                    </button>
                    <h4 id="myModalLabel" class="modal-title">Print Option</h4>
                </div>
                <div class="modal-body smart-form">
                    <fieldset>
                        <div class="row">
                            <section class="col col-12">
                                <label class="label">Season</label>
                                <select class="form-control" ng-model="printFilter.season" ng-options="item.seasonValue as item.seasonText for item in data.seasons">
                                    <option value=""></option>
                                </select>
                            </section>

                            <section class="col col-12">
                                <label class="label">Supplier</label>
                                <select  class="form-control" ng-model="printFilter.supplierID" ng-options="item.supplierID as item.supplierUD + ' / ' + item.supplierNM for item in data.suppliers">
                                    <option value=""></option>
                                </select>
                            </section>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">
                        CANCEL
                    </button>
                    <button class="btn btn-primary" type="button" ng-click="event.print($event)">
                        PRINT
                    </button>
                </div>
            </div>
        </div>
    </div>

</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "FactoryPayment")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Print" ng-click="event.showPrintOption($event)"><i class="fa fa-print"></i></a>
        </li>
       
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/factoryPayment/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factoryPayment/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var tilsoftApp = angular.module('tilsoftApp', ['ng-currency']);
        tilsoftApp.controller('tilsoftController', ['$scope', function ($scope) {
            //
            // property
            //
            $scope.data = null;

            $scope.printFilter = {
                season : '@Frontend.Helper.Common.GetCurrentSeason()',
                supplierID : null,
            };
            //
            // event
            //
            $scope.event = {
                init:function(){
                    jsonService.load(
                        @ViewBag.ID,
                        function (data) {
                            $scope.data = data.data;
                            $scope.$apply();
                            jQuery('#content').show();

                            // monitor changes
                            $scope.$watch('data', function() {
                                jQuery('#changeNotification').html('<i class="fa fa-save blink_me"></i>');
                            });
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                            $scope.data = null;
                            $scope.$apply();
                        }
                    );
                },
                update: function($event){
                    $event.preventDefault();

                    if($scope.editForm.$valid)
                    {
                        jsonService.update(
                            @ViewBag.ID,
                            $scope.data.factoryPayment,
                            function (data) {
                                jsHelper.processMessage(data.message);
                                if(data.message.type == 0) {
                                   $scope.method.refresh(data.data.factoryPaymentID);
                                }
                            },
                            function (error) {
                                jsHelper.showMessage('warning', error);
                            }
                        );
                    }
                    else
                    {
                        jsHelper.showMessage('warning', '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED');
                    }
                },
                delete: function($event){
                    $event.preventDefault();

                    if (confirm('Are you sure ?')) {
                        jsonService.delete(
                            @ViewBag.ID,
                            function (data) {
                                jsHelper.processMessage(data.message);
                                if(data.message.type == 0) {
                                    window.location = '@Url.Action("Index", "Factory")';
                                }
                            },
                                function (error) {
                                    jsHelper.showMessage('warning', error);
                                }
                            );
                    }
                },

                showPrintOption : function ($event) {
                    $event.preventDefault();
                    $('#frmPrintOption').modal('show');
                },

                print: function($event){
                    $event.preventDefault();
                    season = $scope.printFilter.season;
                    supplierID = $scope.printFilter.supplierID;

                    jsonService.getReport(
                        season,
                        supplierID,
                        function (data) {
                            window.location = '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data + '.xlsm';
                            $('#frmPrintOption').modal('hide');
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                        }
                    );
                }
            };

            //
            // method
            //
            $scope.method = {
                refresh: function(id){
                    jsHelper.loadingSwitch(true);
                    window.location = '@Url.Action("Edit", "FactoryPayment", new { id = UrlParameter.Optional })/'+id;
                }
            };

            //
            // init
            //
            $scope.event.init();
        }]);
    </script>
}

