
@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Company";
    }
    else
    {
        ViewBag.Title = "Edit Company";
    }

    ViewBag.Module = "Company Information";
}

<form class="row" name="editForm" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <i class="fa fa-list"></i> <span> Company </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabBranch"> <i class="fa fa-list"></i> <span> Branch </span> </a>
                    </li>
                </ul>
            </header>
            <div class="tab-content">
                <div class="col-col-12 tab-pane active" id="tabGeneral">
                    <div class="well-sm" style="background: #fff;">
                        <div class="smart-form">
                            <h1>Company Information</h1>
                            <hr>
                            <fieldset>
                                <div class="row">
                                    <div class="col col-2" style="position:relative;">
                                        <div>
                                            <label class="label">Logo</label>
                                            <div class="input-group css-inline" style="width: 100%;">
                                                @Html.Partial("~/Views/Shared/_Controls/_ImageBox.cshtml", new Frontend.Models.ImageBoxViewModel() { URLBinding = "data.thumbnailLocation", JSOnChangeHandler = "event.changeLogo", JSONRemoveHandler = "event.removeLogo" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-sm-10">
                                        <div class="row">
                                            <div class="col col-sm-2">
                                                <label class="label">
                                                    <span>Company Code</span>
                                                    <em ng-show="editForm.companyUD.$error.required" class="note note-error">(Required)</em>
                                                </label>
                                                <label class="input" ng-class="{'state-error': editForm.companyUD.$error.required}">
                                                    <input name="companyUD" type="text" ng-model="data.companyUD" required />
                                                </label>
                                            </div>
                                            <div class="col col-sm-10">
                                                <label class="label">
                                                    <span>Company Name</span>
                                                    <em ng-show="editForm.companyNM.$error.required" class="note note-error">(Required)</em>
                                                </label>
                                                <label class="input" ng-class="{'state-error': editForm.companyNM.$error.required}">
                                                    <input name="companyNM" type="text" ng-model="data.companyNM" required />
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:10px">
                                            <div class="col col-sm-2">
                                                <label class="label">
                                                    <span>Short Name</span>
                                                    <em ng-show="editForm.shortName.$error.required" class="note note-error">(Required)</em>
                                                </label>
                                                <label class="input" ng-class="{'state-error': editForm.shortName.$error.required}">
                                                    <input name="shortName" type="text" ng-model="data.shortName" required />
                                                </label>
                                            </div>
                                            <div class="col col-sm-8">
                                                <label class="label">
                                                    <span>Official Name</span>
                                                    <em ng-show="editForm.officialName.$error.required" class="note note-error">(Required)</em>
                                                </label>
                                                <label class="input" ng-class="{'state-error': editForm.officialName.$error.required}">
                                                    <input name="officialName" type="text" ng-model="data.officialName" required />
                                                </label>
                                            </div>
                                            <div class="col col-sm-2">
                                                <label class="label">Phone</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-phone"></i>
                                                    <input type="text" id="employeeNM" ng-model="data.phone" />
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:10px">
                                            <div class="col col-sm-2">
                                                <label class="label">Morning From</label>
                                                <label class="select">
                                                    <select class="form-control" ng-model="data.morningShiftFrom" ng-options="time as time for time in timeRanges" required style="font-family: Arial">
                                                        <option value=""></option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </div>
                                            <div class="col col-sm-2">
                                                <label class="label">Morning To</label>
                                                <label class="select">
                                                    <select class="form-control" ng-model="data.morningShiftTo" ng-options="time as time for time in timeRanges" required style="font-family: Arial">
                                                        <option value=""></option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </div>
                                            <div class="col col-sm-2">
                                                <label class="label">Afternoon From</label>
                                                <label class="select">
                                                    <select class="form-control" ng-model="data.afternoonShiftFrom" ng-options="time as time for time in timeRanges" required style="font-family: Arial">
                                                        <option value=""></option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </div>
                                            <div class="col col-sm-2">
                                                <label class="label">Afternoon To</label>
                                                <label class="select">
                                                    <select class="form-control" ng-model="data.afternoonShiftTo" ng-options="time as time for time in timeRanges" required style="font-family: Arial">
                                                        <option value=""></option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:10px">
                                            <div class="col col-sm-12">
                                                <label class="label">Official Address</label>
                                                <label class="input">
                                                    <input type="text" ng-model="data.officialAddress" maxlength="500" />
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:10px">
                                            <div class="col col-sm-12">
                                                <label class="label">Street Address</label>
                                                <label class="input">
                                                    <input type="text" ng-model="data.streetAddress" maxlength="500" />
                                                </label>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top:10px">
                                            <div class="col col-sm-4">
                                                <label class="label">Location</label>
                                                <label class="select">
                                                    <select ng-model="data.locationID" ng-options="location.locationID as location.locationNM for location in locations">
                                                        <option value=""></option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </div>
                                            <div class="col col-sm-4">
                                                <label class="label">Fax</label>
                                                <label class="input">
                                                    <input type="text" id="fax" ng-model="data.fax" />
                                                </label>
                                            </div>
                                            <div class="col col-sm-4">
                                                <label class="label">E-mail</label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-envelope-o"></i>
                                                    <input type="text" id="email" ng-model="data.email" />
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:10px">
                                            <div class="col col-sm-10">
                                                <label class="label">Website</label>
                                                <label class="input">
                                                    <input type="text" ng-model="data.website" />
                                                </label>
                                            </div>
                                            <div class="col col-sm-2" ng-if="data.website">
                                                <label class="label">&nbsp;</label>
                                                <a class="btn btn-primary" href="{{data.website}}" style="padding: 6px 12px;" target="_blank">Open website</a>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:10px">
                                            <div class="col col-sm-12">
                                                <label class="label">Remark</label>
                                                <label class="input">
                                                    <textarea ng-model="data.remark" class="form-control" rows="3">
                                                    </textarea>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px">
                                    <div ng-show="data.updatedBy">
                                        <strong>Updated By</strong>
                                        <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                            <i class="fa fa-user"></i> {{data.updatorName}}
                                        </a>
                                        on {{data.updatedDate}}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-col-12 tab-pane" id="tabBranch">
                    <div class="well-sm" style="background: #fff;">
                        <div class="smart-form">
                            <h1>Branch Information</h1>
                            <hr>
                            <fieldset>
                                <div class="jarviswidget-editbox"></div>
                                <div class="widget-body">
                                    <div class="tilsoft-table-wrapper">
                                        <a class="btn btn-default btn-primary btn-xs" ng-click="event.addFactory()" style="margin-bottom:5px">
                                            <i class="fa fa-plus"></i> Add Item
                                        </a>

                                        <div class="tilsoft-table">
                                            <div style="width:1405px" class="tilsoft-table-header">
                                                <div style="width:55px"></div>
                                                <div style="width:70px">Default</div>
                                                <div style="width:120px">Code</div>
                                                <div style="width:250px">Name</div>
                                                <div style="width:300px">Address</div>
                                                <div style="width:100px">Phone</div>
                                                <div style="width:100px">Fax</div>
                                                <div style="width:150px">Email</div>
                                                <div style="width:150px">Factory</div>
                                                <div>Remark</div>
                                            </div>
                                            <div style="width:1405px" class="tilsoft-table-body">
                                                <table>
                                                    <tbody ng-repeat="item in data.branches">
                                                        <tr>
                                                            <td style="width:55px; text-align:center">
                                                                <a class="btn btn-danger btn-xs font-11" href="#" title="Delete" ng-click="event.remove($event, item)" style="width:40px; margin-top: 5px" ng-show="!data.isApproved"><i class="fa fa-times"></i> Del</a>
                                                            </td>
                                                            <td style="width:70px; padding-top:12px; text-align: center">
                                                                <input type="checkbox" ng-model="item.isDefault" ng-click="event.checkDefault(item)" />
                                                            </td>
                                                            <td style="width:120px; padding-top:12px">
                                                                <input type="text" class="form-control" ng-model="item.branchUD" />
                                                            </td>
                                                            <td style="width: 250px; padding-top:12px">
                                                                <input type="text" class="form-control" ng-model="item.branchNM" />
                                                            </td>
                                                            <td style="width:300px; padding-top:12px">
                                                                <input type="text" class="form-control" ng-model="item.streetAddress" />
                                                            </td>
                                                            <td style="width:100px; padding-top:12px">
                                                                <input type="text" class="form-control" ng-model="item.phone" />
                                                            </td>
                                                            <td style="width:100px; padding-top:12px">
                                                                <input type="text" class="form-control" ng-model="item.fax" />
                                                            </td>
                                                            <td style="width:150px; padding-top:12px">
                                                                <input type="text" class="form-control" ng-model="item.email" />
                                                            </td>
                                                            <td style="width:150px; padding-top:12px">
                                                                <a href="@Url.Action("Edit", "FactoryMng2")/{{item.factoryID}}" target="_blank">
                                                                    <span class="form-control"><u><b>{{item.factoryUD}}</b></u></span>
                                                                </a>
                                                            </td>
                                                            <td style="padding-top:12px">
                                                                <input type="text" class="form-control" ng-model="item.remark" />
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </article>
</form>
@*Add factory*@
<div id="factoryForm" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 10003">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 id="myModalLabel" class="modal-title">View Add Factory for Branch</h4>
            </div>
            <div class="modal-body">
                <div class="row" hidden>
                    <div class="smart-form">
                        <section class="col col-sm-6">
                            <label class="label">
                                <input type="radio" ng-model="option" value="true" /> Create new Branch
                            </label>
                        </section>
                        <section class="col col-sm-6">
                            <label class="label">
                                <input type="radio" ng-model="option" value="false" /> Create new Branch (ready Factory)
                            </label>
                        </section>
                    </div>
                </div>
                <div class="row" ng-if="option == 'true'">
                    <div class="smart-form">
                        <section class="col col-sm-3">
                            <label>Branch Code</label>
                            <label class="input">
                                <input type="text" class="form-control" ng-model="autoBranch.initBranch" avs-remote-auto-complete ng-request-param="autoBranch.keyAPI" ng-init-param="autoBranch.initBranch" ng-item-value="autoBranch.selectedBranch" ng-item-selected="event.getBranchQuichSearch(autoBranch.selectedBranch, data.companyID)" data-method="POST" data-format-function="formatData" />
                            </label>
                        </section>
                        <section class="col col-sm-9">
                            <label>Branch Name</label>
                            <label class="input">
                                <input type="text" class="form-control" ng-model="newBranch.branchNM" />
                            </label>
                        </section>
                        <section class="col col-sm-12">
                            <label>Branch Address</label>
                            <label class="input">
                                <input type="text" class="form-control" ng-model="newBranch.streetAddress" />
                            </label>
                        </section>
                        <section class="col col-sm-3">
                            <label>Branch Phone</label>
                            <label class="input">
                                <input type="text" class="form-control" ng-model="newBranch.phone" />
                            </label>
                        </section>
                        <section class="col col-sm-3">
                            <label>Branch Fax</label>
                            <label class="input">
                                <input type="text" class="form-control" ng-model="newBranch.fax" />
                            </label>
                        </section>
                        <section class="col col-sm-4">
                            <label>Branch Email</label>
                            <label class="input">
                                <input type="text" class="form-control" ng-model="newBranch.email" />
                            </label>
                        </section>
                        <section class="col col-sm-12">
                            <label>Branch Remark</label>
                            <label class="input">
                                <input type="text" class="form-control" ng-model="newBranch.remark" />
                            </label>
                        </section>
                    </div>
                </div>
                <div class="row" ng-if="option == 'false'">
                    <div class="widget-body">
                        <div avs-scrollable-table class="tilsoft-table-wrapper">
                            <div class="tilsoft-table">
                                <div class="tilsoft-table-header" style="width: 910px">
                                    <div style="width: 50px"></div>
                                    <div style="width: 150px">Code</div>
                                    <div style="width: 250px">Name</div>
                                    <div style="width: 150px">Location</div>
                                    <div style="width: 300px">Description</div>
                                    <div></div>
                                </div>
                                <div class="tilsoft-table-body" style="width: 910px">
                                    <table>
                                        <tbody>
                                            <tr ng-repeat="item in factories">
                                                <td style="text-align:center; width: 50px"><input type="checkbox" ng-model="item.checkVal" /> </td>
                                                <td style="width: 150px; text-align: center">{{item.factoryUD}}</td>
                                                <td style="width: 250px">{{item.factoryName}}</td>
                                                <td style="text-align:center; width: 150px">{{item.locationNM}}</td>
                                                <td style="width: 300px">{{item.description}}</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default btn-primary btn-sm" data-dismiss="modal" ng-click="event.pushBranches(newBranch, data)">
                    <i class="fa fa-download"></i> Push branch
                </a>
                <a href="#" class="btn btn-default btn-danger btn-sm" data-dismiss="modal">
                    <i class="fa fa-times"></i> Close branch
                </a>
                @*<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="event.selectItemFactory()">
                    Ok
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>*@
            </div>
        </div>
    </div>
</div>

@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="@Url.Action("Index", "CompanyBranchMng")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update()"><i class="fa fa-save"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current))" title="Delete" ng-click="event.del(data.companyID)">
            <i class="fa fa-times"></i>
        </a>
    </li>
</ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            id: @ViewBag.ID,
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/company-branch/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            backUrl: '@Url.Action("Index", "CompanyBranchMng")',
            refreshUrl: '@Url.Action("Edit", "CompanyBranchMng", new { id = UrlParameter.Optional })/'
        }
    </script>
    <script src="~/Views/CompanyBranchMng/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/CompanyBranchMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}