@{
    ViewBag.Title = "Work Order";
    ViewBag.Module = "Work Order";
}

<style>
    .finished {
        background-color: #abea91
    }

    .has-transaction {
        background-color: #cbd6f7
    }
</style>

<form class="row" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>
            <div class="smart-form">
                <div class="widget-body no-padding">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1930px;">
                                <div style="width: 80px;"></div>
                                <div style="width: 40px;"></div>
                                <div style="width: 80px;" class="sorting" data-colname="workOrderUD">Work Order</div>
                                <div style="width: 80px;" class="sorting" data-colname="workOrderPreOrderUD">Pre Order</div>
                                <div style="width: 80px;" class="sorting" data-colname="productArticleCode">Art Code</div>
                                <div style="width: 440px;" class="sorting" data-colname="productDescription">Description</div>
                                <div style="width: 80px;" class="sorting" data-colname="quantity">Qnt</div>
                                <div style="width: 70px;" class="sorting" data-colname="clientUD">Client</div>
                                <div style="width: 70px;" class="sorting" data-colname="ProformaInvoiceNo">Order No</div>
                                <div style="width: 80px;" class="sorting" data-colname="CreatedDate">Created Date</div>
                                <div style="width: 60px;" class="sorting" data-colname="IsCreatedBOM">Has BOM</div>
                                <div style="width: 90px;" class="sorting" data-colname="CreatedDateBOM">Created BOMDate</div>
                                <div style="width: 60px;" class="sorting" data-colname="IsConfirmed">Con firm</div>
                                <div style="width: 80px;" class="sorting" data-colname="WorkOrderStatusID">Status</div>
                                <div style="width: 100px;" class="sorting" data-colname="WeavingStatusID">Weaving Status</div>
                                <div style="width: 80px;" class="sorting" data-colname="StartDate">Start Date</div>
                                <div style="width: 80px;" class="sorting" data-colname="FinishDate">Finished Date</div>
                                <div style="width: 80px;" data-colname="ProductionItemGroupID">Material <br> Group</div>
                                <div style="width:80px" class="sorting" data-colname="UpdatedDate">Updated Date</div>
                                <div class="sorting" data-colname="UpdatorName">Updated By</div>
                            </div>

                            <div class="tilsoft-table-filter" style="width: 1930px;">
                                <div style="text-align: center; width: 80px; vertical-align:middle">
                                    <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.reload()"><i class="fa fa-filter"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilter()"><i class="fa fa-ban"></i></a>
                                </div>
                                <div style="width: 40px">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-model="filters.checkallStatus" ng-click="event.checkAll(filters.checkallStatus)">
                                        <i></i>
                                    </label>
                                </div>
                                <div style="width: 80px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.workOrderUD" class="search-filter" /></div>
                                <div style="width: 80px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.workOrderPreOrderUD" class="search-filter" /></div>
                                <div style="width: 80px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.productArticleCode" class="search-filter" /></div>
                                <div style="width: 440px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.productDescription" class="search-filter" /></div>
                                <div style="width: 80px; text-align: right; vertical-align: middle">{{totalWorkOrderQnt|number:0}}</div>
                                <div style="width: 70px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.clientUD" class="search-filter" /></div>
                                <div style="width: 70px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.proformaInvoiceNo" class="search-filter" /></div>
                                <div style="width: 80px">
                                    <input type="text" ng-model="filters.createdDate" class="search-filter" />
                                </div>
                                <div style="width: 60px">
                                    <select class="search-filter" ng-model="filters.isCreatedBOM">
                                        <option value="any"></option>
                                        <option value="true">YES</option>
                                        <option value="false">NO</option>
                                    </select>
                                </div>
                                <div style="width: 90px">
                                    <input type="text" ng-model="filters.createdDateBOM" class="search-filter" />
                                </div>
                                <div style="width: 60px">
                                    <select class="search-filter" ng-model="filters.isConfirmed">
                                        <option value="any"></option>
                                        <option value="true">YES</option>
                                        <option value="false">NO</option>
                                    </select>
                                </div>
                                <div style="width: 80px">
                                    <select name="workOrderStatusID" ng-model="filters.workOrderStatusID" ng-options="item.workOrderStatusID as item.workOrderStatusNM for item in workOrderStatuses | orderBy: 'displayOrder'">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div style="width: 100px">
                                    <select class="search-filter" ng-model="filter.weavingStatus">
                                        <option value=""></option>
                                        <option value="Finish">Finish</option>
                                        <option value="In Production">In Production</option>
                                        <option value="Not Issue">Not Issue</option>
                                    </select>
                                </div>
                                <div style="width: 80px">
                                    <input type="text" ng-model="filters.startDate" class="search-filter" />
                                </div>
                                <div style="width: 80px">
                                    <input type="text" ng-model="filters.finishDate" class="search-filter" />
                                </div>
                                <div style="width: 80px">
                                    <select name="productionItemGroupID" ng-model="filters.productionItemGroupID" ng-options="item.productionItemGroupID as item.productionItemGroupNM for item in materialGroup | orderBy: 'productionItemGroupNM'">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div style="width:80px">
                                    <input type="text" ng-model="filters.updatedDate" class="search-filter" />
                                </div>
                                <div>
                                </div>
                            </div>

                            <div class="tilsoft-table-body" style="width: 1930px; margin-top: 95px;">
                                <table>
                                    <tbody ng-repeat="item in data">
                                        <tr class="{{method.getCSSByWorkOrderStatus(item)}}">
                                            <td style="width:79px;text-align:center">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "WorkOrder")/{{item.workOrderID}}" style="width:60px;" title="View (Read Only)" target="_blank"><i class="fa fa-folder-open"></i>View</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "WorkOrder")/{{item.workOrderID}}" title="Edit" style="width:60px;" target="_blank"><i class="fa fa-pencil"></i>Edit</a>
                                                }
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                                {
                                                    <a class="btn btn-danger btn-xs font-11" href="#" ng-click="event.delete(item.workOrderID,$index,$event)" style="width:60px; margin-top:3px;" title="Delete"><i class="fa fa-times"></i>Del</a>
                                                }
                                            </td>
                                            <td style="text-align: center; width: 40px; vertical-align:top;">
                                                <label class="checkbox">
                                                    <input type="checkbox" ng-model="item.isSelected">
                                                    <i></i>
                                                </label>
                                            </td>
                                            <td style="text-align: left; width: 80px; vertical-align:middle">{{item.workOrderUD}}</td>
                                            <td style="text-align: left; width: 80px; vertical-align:middle">{{item.workOrderPreOrderUD}}</td>
                                            <td style="text-align: left; width: 80px; vertical-align:middle">{{item.productArticleCode}}</td>
                                            <td style="text-align: left; width: 440px; vertical-align:middle" ng-if="item.workOrderTypeID == 2 || item. workOrderTypeID == 4">{{item.preOrderDescription}}</td>
                                            <td style="text-align: left; width: 440px; vertical-align:middle" ng-if="item.workOrderTypeID != 2 && item. workOrderTypeID != 4">{{item.productDescription}}</td>

                                            <td style="text-align: right; width: 80px; vertical-align:middle">{{item.quantity}}</td>

                                            <td style="text-align: center; width: 70px; vertical-align:middle">{{item.clientUD}}</td>
                                            <td style="text-align: center; width: 70px; vertical-align:middle">{{item.proformaInvoiceNo}}</td>
                                            <td style="text-align: center; width: 80px; vertical-align:middle">{{item.createdDate}}</td>
                                            <td style="text-align: center; width: 60px; vertical-align:middle"><input type="checkbox" ng-model="item.isCreatedBOM" ng-disabled="true" /></td>
                                            <td style="text-align: center; width: 90px; vertical-align:middle">{{item.createdDateBOM}}</td>
                                            <td style="text-align: center; width: 60px; vertical-align:middle"><input type="checkbox" ng-model="item.isConfirmed" ng-disabled="true" /></td>
                                            <td style="text-align: left; width: 80px; vertical-align:middle">{{item.workOrderStatusNM}}</td>
                                            <td style="text-align: left; width: 100px; vertical-align:middle">{{item.weavingstatus_col}}</td>
                                            <td style="text-align: center; width: 80px; vertical-align:middle">{{item.startDate}}</td>
                                            <td style="text-align: center; width: 80px; vertical-align:middle">{{item.finishDate}}</td>
                                            <td style="text-align: center; width: 80px; vertical-align:middle"><input type="checkbox" ng-model="item.isCreatePRGroup" ng-disabled="true" /></td>
                                            <td style="text-align: center; width:80px; vertical-align:middle">{{item.updatedDate}}</td>
                                            <td style="text-align: left; vertical-align:middle">{{item.updatorName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <span>Found: {{totalRows}} record(s)</span>
                </div>
            </div>
        </div>
    </article>

    @*Export bom of work order to excel*@
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmExportExcelBom" class="modal fade" style="z-index:101" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="margin-top: 85px">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        ×
                    </button>
                    <h4 id="myModalLabel" class="modal-title">Export Bom Of WorkOrder To Excel</h4>
                </div>
                <div class="no-padding" style="margin:10px">
                    <div class="smart-form">
                        <label class="label">
                            Please select WorkCenter
                        </label>
                    </div>
                </div>
                <div class="no-padding" style="border:solid 1px; margin:10px">
                    <div class="smart-form" style="margin:5px">
                        <div class="row">
                            <div class="col col-2" ng-repeat="item in workCenters">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="item.isSelected">
                                    <i></i>{{item.workCenterNM}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="event.exportBOMToExcel()">
                        Excel Version
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()">Search</a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Edit", "WorkOrder")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Create WorkOrder" target="_blank">New</a>
        </li>

        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="receiving from team to warehouse" ng-click="event.receivingNoteFromTeamToWarehouse()">Receiving</a>
        </li>

        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="delivery from warehouse to team" ng-click="event.deliveryNoteFromWarehouseToTeam()">Delivery</a>
        </li>

        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="purchase request" ng-click="event.purchaseRequest()">Purchase Request</a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="export to excel Bom" ng-click="event.exportWorkOrder()">Export Bom</a>
        </li>
    </ul>
}
@section pagepopup2{
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
    jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/workOrder/';
    jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
    //jsonService.searchFilter.pageSize = 2;
    var context = {
        reportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
        cookieID: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
        deliveryNoteUrl: '@Url.Action("Warehouse2Team", "DeliveryNote2", new { id = UrlParameter.Optional })/',
        receivingNoteUrl: '@Url.Action("Team2Warehouse", "ReceivingNote", new { id = UrlParameter.Optional })/',
        purchaseRequestUrl: '@Url.Action("Edit", "PurchaseRequestMng", new { id = UrlParameter.Optional })/',
    }
    </script>
    <script src="~/Views/WorkOrder/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/WorkOrder/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
