@{
    ViewBag.Icon = "fa-search";
    ViewBag.Title = "Search Factory Proforma Invoice";
    ViewBag.Module = "Factory Proforma Invoice";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">P/I No</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.ProformaInvoiceNo" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Season</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.Season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Factory</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.FactoryID" ng-options="factory.factoryID as factory.factoryUD for factory in factories">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Client</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.ClientUD" />
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div id="searchResult" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 950px;">
                                <div style="width: 70px;"></div>
                                <div style="width: 100px" class="sorting" data-colname="IsFurnindoConfirmed">Furnindo Confirmed</div>
                                <div style="width: 100px" class="sorting" data-colname="IsFactoryConfirmed">Factory Confirmed</div>
                                <div style="width: 150px" class="sorting" data-colname="ProformaInvoiceNo">Proforma Invoice</div>
                                <div style="width: 100px" class="sorting" data-colname="IsFactoryConfirmed">Factory</div>
                                <div style="width: 100px" class="sorting" data-colname="IsFactoryConfirmed">Client</div>
                                <div style="width: 100px">Amount</div>
                                <div>Other Info</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 950px;height:700px;">
                                <table>
                                    <tr style="font-weight: bold;">
                                        <td style="width: 70px;"></td>
                                        <td style="width: 100px;"></td>
                                        <td style="width: 100px;"></td>
                                        <td style="width: 150px;"></td>
                                        <td style="width: 100px;"></td>
                                        <td style="width: 100px;">TOTAL</td>
                                        <td style="width: 100px; text-align: right;">{{summary.sumTotalAmount | currency:'$':2}}</td>
                                        <td style=""></td>
                                    </tr>
                                    <tr ng-repeat="item in data">
                                        <td style="width: 69px; text-align: center;">
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                            {
                                                <a style="width: 53px; margin-bottom: 5px;" class="btn btn-primary btn-xs font-11" target="_blank" href="@Url.Action("Edit", "FactoryProformaInvoice2Mng")/{{item.factoryProformaInvoiceID}}" title="View (Read Only)"><i class="fa fa-folder-open"></i> View</a>
                                            }
                                            else
                                            {
                                                <a style="width: 53px; margin-bottom: 5px;" class="btn btn-primary btn-xs font-11" target="_blank" href="@Url.Action("Edit", "FactoryProformaInvoice2Mng")/{{item.factoryProformaInvoiceID}}" title="Edit"><i class="fa fa-pencil"></i> Edit</a>
                                            }

                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                            {
                                                <a style="width: 53px;" class="btn btn-danger btn-xs font-11" href="javascript:void(0)" ng-click="event.delete(item.factoryProformaInvoiceID)" title="Delete"><i class="fa fa-times"></i> Del</a>
                                            }
                                        </td>
                                        <td style="width: 100px; text-align: center;"><input type="checkbox" disabled ng-model="item.isFurnindoConfirmed" /></td>
                                        <td style="width: 100px; text-align: center;"><input type="checkbox" disabled ng-model="item.isFactoryConfirmed" /></td>
                                        <td style="width: 150px; text-align: center;">
                                            {{item.proformaInvoiceNo}}
                                            <br/>
                                            ({{item.invoiceDate}})
                                        </td>
                                        <td style="width: 100px;">{{item.factoryUD}}</td>
                                        <td style="width: 100px;">{{item.clientUD}}</td>
                                        <td style="width: 100px; text-align: right;">{{item.totalAmount | currency:'$':2}}</td>
                                        <td>
                                            <u>Season</u>: {{item.season}}
                                            <br />
                                            <u>Attachment</u>: <a target="_blank" href="{{item.FileLocation}}">{{item.friendlyName}}</a>
                                            <br/>
                                            <p ng-if="item.furnindoConfirmerName">
                                                <u>Furnindo confirmed by</u>: 
                                                <a ng-if="item.furnindoConfirmedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.furnindoConfirmedBy}}" dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i> {{item.furnindoConfirmerName}}
                                                </a> on {{item.furnindoConfirmedDate}}<br />
                                                {{item.furnindoConfirmedRemark}}
                                            </p>
                                            <p ng-if="item.factoryConfirmerName">
                                                <u>Factory confirmed by</u>: 
                                                <a ng-if="item.factoryConfirmedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.factoryConfirmedBy}}" dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i> {{item.factoryConfirmerName}}
                                                </a> on {{item.factoryConfirmedDate}}<br />
                                                {{item.factoryConfirmedRemark}}
                                            </p>
                                            <span ng-if="item.updatorName">
                                                <u>Updated by</u>:
                                                <a ng-if="item.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i> {{item.updatorName}}
                                                </a> on {{item.updatedDate}}<br />
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Init", "FactoryProformaInvoice2Mng")" target="_blank" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factoryproformainvoice2/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    </script>
    <script src="~/Angular/app/factoryProformaInvoice2Mng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/factoryProformaInvoice2Mng/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
