@{
    ViewBag.Icon = "fa-pencil-square-o";
    ViewBag.Title = "Create new factory proforma invoice";
    ViewBag.Module = "Factory proforma invoice";
}

<form class="row" name="editForm">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Please provide more information to create factory proforma invoice</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">Season</label>
                                    <label class="select">
                                        <select ng-model="data.season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Factory</label>
                                    <label class="select">
                                        <select ng-model="data.factoryID" ng-options="factory.factoryID as factory.factoryUD for factory in factories">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Client</label>                                   
                                    <label class="input">
                                        <input id="supportClientID" style="font-family: Arial" class="form-control" avs-remote-auto-complete ng-request-param="autocompleteClient.api" ng-init-param="data.client.clientUD" ng-model="data.client.clientUD" ng-item-value="autocompleteClient.client" ng-item-selected="event.selectClient(autocompleteClient.client)" ng-change="event.changeClient(autocompleteClient.client)" data-method="POST" data-format-function="formatClient" placeholder="Provide at least 3 chars to search for the client"  />
                                    </label>
                                    <div class="note">
                                        <strong>You selected</strong>:  {{data.client.clientUD}}
                                    </div>
                                </section>
                            </div>
                        </fieldset>
                        <footer>
                            <button class="btn btn-primary" type="button" ng-click="event.goNext()">
                                Next
                            </button>
                            <button class="btn btn-default" type="button" ng-click="event.goBack()">
                                Cancel
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section pagejs {
    @*<script src="~/TemplateResource/js/plugin/jquery.autocomplete.min.js"></script>*@
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factoryproformainvoice2/';
        jsonService.supportServiceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            backURL: '@Url.Action("Index", "FactoryProformaInvoice2Mng")',
            nextURL: '@Url.Action("Edit", "FactoryProformaInvoice2Mng")/0?'
        }
    </script>
    <script src="~/Angular/app/factoryProformaInvoice2Mng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/factoryProformaInvoice2Mng/init.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

