@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var supportServiceRoot = (System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"]);
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    ViewBag.Icon = "fa-bar-chart-o";
    ViewBag.Title = "Summary Sales";
    ViewBag.Module = "Summary Sales";
}
<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Filters</h2>
            </header>

            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section class="col col-sm-3">
                                <label class="label">Customer</label>
                                <select class="select2" id="subSupplier" ng-model="filter.factoryRawMaterialID" ng-options="item.factoryRawMaterialID as item.factoryRawMaterialShortNM for item in customer" ng-change="event.changeSubSupplier(filter.factoryRawMaterialID)">
                                    <option value=""></option>
                                </select>
                            </section>
                            <section class="col col-sm-2">
                                <label class="label">Sales Order No</label>
                                <label class="input">
                                    <input type="text" class="form-control" ng-model="filter.salesOrderNo" />
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label class="label">
                                    From Date <em class="note note-error" ng-show="(filter.startDate == null || filter.startDate == '')">(Required)</em>
                                </label>
                                <label class="input-group">
                                    <input id="startDate" type="text" class="form-control" avs-calendar ng-data-source="filter.startDate" required />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label class="label">
                                    To Date <em class="note note-error" ng-show="(filter.endDate == null || filter.endDate == '')">(Required)</em>
                                </label>
                                <label class="input-group">
                                    <input id="endDate" type="text" class="form-control" avs-calendar ng-data-source="filter.endDate" required />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <a href="javascript:void(0)" class="btn btn-primary" style="float: none;" ng-click="event.search()"><i class="fa fa-code"></i> HTML Version</a>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.generateExcel()" style="float: none;"><i class="fa fa-file-excel-o"></i> Excel Version</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 5px;">
        <div class="jarviswidget jarviswidget-color-darken" id="." data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Results HTML</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body no-padding">
                    <div class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-body" style="width: 100%; overflow-y: hidden; margin-top: 0px; max-height:none">
                                <table>
                                    <thead>
                                        <tr>
                                            <th rowspan="2" style="width:90px; background-color: #adc7e7; border: 1px solid black"><strong>Date</strong></th>
                                            <th rowspan="2" style="width:150px; background-color: #adc7e7; border: 1px solid black"><strong>Sales order</strong></th>
                                            <th rowspan="2" style="width:200px; background-color: #adc7e7; border: 1px solid black"><strong>Customer name</strong></th>
                                            <th rowspan="2" style="width:50px; background-color: #adc7e7; border: 1px solid black"><strong>Unit</strong></th>
                                            <th colspan="3" style="width:210px; background-color: #adc7e7; border: 1px solid black"><strong>QNT</strong></th>
                                            <th rowspan="2"style="width:80px; background-color: #adc7e7; border: 1px solid black"><strong>Unit price</strong></th>
                                            <th rowspan="2"style="width:100px; background-color: #adc7e7; border: 1px solid black"><strong>Sales value</strong></th>
                                            <th rowspan="2" style="width:70px; background-color: #adc7e7; border: 1px solid black"><strong>VAT (%)</strong></th>
                                            <th rowspan="2" style="width:100px; background-color: #adc7e7; border: 1px solid black"><strong>VAT Value</strong></th>
                                            <th rowspan="2" style="width:70px; background-color: #adc7e7; border: 1px solid black"><strong>Discount (%)</strong></th>
                                            <th rowspan="2" style="width:100px; background-color: #adc7e7; border: 1px solid black"><strong>Discount value</strong></th>
                                            <th colspan="3" style="width:300px; background-color: #adc7e7; border: 1px solid black"><strong>Total Amount</strong></th>
                                            <th rowspan="2" style="background-color: #adc7e7; border: 1px solid black"><strong>Remark</strong></th>
                                        </tr>
                                        <tr>
                                            <th style="width:70px; background-color: #adc7e7; border: 1px solid black"><strong>Sales</strong></th>
                                            <th style="width:70px; background-color: #adc7e7; border: 1px solid black"><strong>Delivery</strong></th>
                                            <th style="width:70px; background-color: #adc7e7; border: 1px solid black"><strong>Remain</strong></th>
                                            <th style="width:100px; background-color: #adc7e7; border: 1px solid black"><strong>Sales</strong></th>
                                            <th style="width:100px; background-color: #adc7e7; border: 1px solid black"><strong>Delivery</strong></th>
                                            <th style="width:100px; background-color: #adc7e7; border: 1px solid black"><strong>Remain</strong></th>
                                        </tr>
                                        <tr>
                                            <td colspan="8" style="text-align: right; width: 950px; background-color: #adc7e7; border: 1px solid black"><strong>Total</strong></td>
                                            <td style="text-align: right; width: 100px; background-color: #ffc000; border: 1px solid black"><strong>{{method.getTotalSaleValue()|number : 0}}</strong></td>
                                            <td style="text-align: right; width: 70px; background-color: #ffc000; border: 1px solid black"><strong></strong></td>
                                            <td style="text-align: right; width: 100px; background-color: #ffc000; border: 1px solid black"><strong>{{method.getTotalVATValue()|number : 0}}</strong></td>
                                            <td style="text-align: right; width: 70px; background-color: #ffc000; border: 1px solid black"><strong></strong></td>
                                            <td style="text-align: right; width: 100px; background-color: #ffc000; border: 1px solid black"><strong>{{method.getTotalDiscountValue()|number : 0}}</strong></td>
                                            <td style="width: 100px; text-align:right; background-color: #ffc000; border: 1px solid black"><strong>{{method.getTotalSaleAmountValue()|number : 0}}</strong></td>
                                            <td style="width: 100px; text-align:right; background-color: #ffc000; border: 1px solid black"><strong>{{method.getTotalDeliveryNoteAmountValue()|number : 0}}</strong></td>
                                            <td style="width: 100px; text-align:right; background-color: #ffc000; border: 1px solid black"><strong>{{method.getTotalSaleAmountValue() - method.getTotalDeliveryNoteAmountValue()|number : 0}}</strong></td>
                                            <td style="text-align: right; background-color: #adc7e7; border: 1px solid black"></td>
                                        </tr>
                                    </thead> 
                                </table>
                                <table ng-repeat="item in data">
                                    <tr>
                                        <td style="text-align: center; width: 90px; border: 1px solid black; background-color: greenyellow"><strong>{{item.documentDate}}</strong></td>
                                        <td style="width: 150px; border: 1px solid black; background-color: greenyellow"><strong>{{item.factorySaleOrderUD}}</strong></td>
                                        <td style="width: 200px; border: 1px solid black; background-color: greenyellow"><strong>{{item.factoryRawMaterialOfficialNM}}</strong></td>
                                        <td style="width: 50px; border: 1px solid black ; border: 1px solid black; background-color: greenyellow"></td>
                                        <td style="text-align: center; width: 65px; border: 1px solid black; background-color: greenyellow"></td>
                                        <td style="text-align: center; width: 80px; border: 1px solid black; background-color: greenyellow"></td>
                                        <td style="text-align: center; width: 65px; border: 1px solid black; background-color: greenyellow"></td>
                                        <td style="text-align: right; width: 82px; border: 1px solid black; background-color: greenyellow"></td>
                                        <td style="text-align: right; width: 100px; border: 1px solid black; background-color: greenyellow"><strong>{{method.getSaleValueWithFactorySaleOrderID(item.factorySaleOrderID)|number : 0}}</strong></td>
                                        <td style="text-align: right; width: 70px; border: 1px solid black; background-color: greenyellow"></td>
                                        <td style="text-align: right; width: 100px; border: 1px solid black; background-color: greenyellow"><strong>{{method.getVATValueWithFactorySaleOrderID(item.factorySaleOrderID)|number : 0}}</strong></td>
                                        <td style="text-align: right; width: 70px; border: 1px solid black; background-color: greenyellow"></td>
                                        <td style="text-align: right; width: 100px; border: 1px solid black; background-color: greenyellow"><strong>{{method.getDiscountValueWithFactorySaleOrderID(item.factorySaleOrderID)|number : 0}}</strong></td>
                                        <td style="text-align: right; width: 100px; border: 1px solid black; background-color: greenyellow"><strong>{{method.getSaleAmountValueWithFactorySaleOrderID(item.factorySaleOrderID)|number : 0}}</strong></td>
                                        <td style="text-align: right; width: 100px; border: 1px solid black; background-color: greenyellow"><strong>{{method.getDeliveryNoteAmountValueWithFactorySaleOrderID(item.factorySaleOrderID)|number : 0}}</strong></td>
                                        <td style="text-align: right; width: 100px; border: 1px solid black; background-color: greenyellow"><strong>{{method.getSaleAmountValueWithFactorySaleOrderID(item.factorySaleOrderID) - method.getDeliveryNoteAmountValueWithFactorySaleOrderID(item.factorySaleOrderID)|number : 0}}</strong></td>
                                        <td style="text-align: right; border: 1px solid black; background-color: greenyellow"></td>
                                    </tr>
                                    <tbody ng-repeat="itemdetail in datadetail | filter: {factorySaleOrderID : item.factorySaleOrderID}:true">
                                        <tr>
                                            <td style="width: 90px; border: 1px solid black"></td>
                                            <td style="width: 150px; border: 1px solid black">{{itemdetail.productionItemUD}}</td>
                                            <td style="width: 200px; border: 1px solid black">{{itemdetail.productionItemNM}}</td>
                                            <td style="width: 50px; border: 1px solid black">{{itemdetail.unitNM}}</td>
                                            <td style="text-align: right; width: 65px; border: 1px solid black; background-color: #ecf3f8">{{itemdetail.quantity | number: 2}}</td>
                                            <td style="text-align: right; width: 80px; border: 1px solid black; background-color: #ecf3f8">{{itemdetail.totalQtyDeliveryNote | number: 2}}</td>
                                            <td style="text-align: right; width: 65px; border: 1px solid black; background-color: #ecf3f8">{{itemdetail.quantity - itemdetail.totalQtyDeliveryNote | number: 2}}</td>
                                            <td style="text-align: right; width: 82px; border: 1px solid black">{{itemdetail.unitPrice|number : 0}}</td>
                                            <td style="text-align: right; width: 100px; border: 1px solid black">{{method.getSaleValue(itemdetail.quantity, itemdetail.unitPrice) | number:0}}</td>
                                            <td style="text-align: right; width: 70px; border: 1px solid black">{{itemdetail.vatPercent}}</td>
                                            <td style="text-align: right; width: 100px; border: 1px solid black">{{method.getVATValue(itemdetail.vatPercent, itemdetail.discountPercent, itemdetail.quantity, itemdetail.unitPrice) | number:0}}</td>
                                            <td style="text-align: right; width: 73px; border: 1px solid black">{{itemdetail.discountPercent}}</td>
                                            <td style="text-align: right; width: 100px; border: 1px solid black">{{method.getDiscountValue(itemdetail.discountPercent ,itemdetail.quantity, itemdetail.unitPrice) | number:0}}</td>
                                            <td style="text-align: right; width: 100px; border: 1px solid black; background-color: #ecf3f8">{{method.getSaleAmountValue(itemdetail.vatPercent, itemdetail.discountPercent, itemdetail.quantity, itemdetail.unitPrice)| number:0}}</td>
                                            <td style="width: 100px; text-align: right; border: 1px solid black; background-color: #ecf3f8">{{method.getTotalItemDeliveryNote(itemdetail.quantity, itemdetail.totalQtyDeliveryNote, method.getSaleAmountValue(itemdetail.vatPercent, itemdetail.discountPercent, itemdetail.quantity, itemdetail.unitPrice))| number:0}}</td>
                                            <td style="width: 100px; text-align: right; border: 1px solid black; background-color: #ecf3f8">{{method.getSaleAmountValue(itemdetail.vatPercent, itemdetail.discountPercent, itemdetail.quantity, itemdetail.unitPrice) - method.getTotalItemDeliveryNote(itemdetail.quantity, itemdetail.totalQtyDeliveryNote, method.getSaleAmountValue(itemdetail.vatPercent, itemdetail.discountPercent, itemdetail.quantity, itemdetail.unitPrice))| number:0}}</td>
                                            <td style="text-align: left; border: 1px solid black">{{itemdetail.remark}}</td>
                                        </tr>
                                        <tr ng-repeat="sItem in method.getDeliveryNote(item.factorySaleOrderID, itemdetail.productionItemID)">
                                            <td style="width: 90px; border: 1px solid black"></td>
                                            <td style="width: 150px; border: 1px solid black; text-align: right"><a target="_blank" href="@Url.Action("SaleOrderWithoutWorkOrder", "DeliveryNote2", new { id = UrlParameter.Optional })/{{sItem.deliveryNoteID}}">{{sItem.deliveryNoteUD}}</a></td>
                                            <td style="width: 200px; border: 1px solid black; text-align: right">{{sItem.deliveryNoteDate}}</td>
                                            <td style="width: 50px; border: 1px solid black"></td>
                                            <td style="text-align: center; width: 65px; border: 1px solid black"></td>
                                            <td style="text-align: right; width: 80px; border: 1px solid black">{{sItem.qty | number: 2}}</td>
                                            <td style="text-align: center; width: 65px; border: 1px solid black"></td>
                                            <td colspan="10" style="border: 1px solid black">{{sItem.description}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section pagejs {
    <script type="text/javascript">
        var context = {
            token: '@token',
            serviceUrl: '@(serviceRoot)/api/summarysalesrpt/',
            supportServiceUrl: '@(supportServiceRoot)/api/support/',
            reportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            cookieID: '@cookieID'
        }
    </script>
    <script type="text/javascript" src="~/Views/SummarySalesRpt/index.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/SummarySalesRpt/service.js?v=@guid"></script>
}
