@using Frontend.Helper;
@{
    ViewBag.Title = "AVT Purchasing Price Management";
    ViewBag.Icon = "fa-search";
}

<style>
    select.business-data-options option[value='number:1'] {
        background-color: #ececec;
    }

    select.business-data-options option[value='number:2'] {
        background-color: #ffffab;
    }

    select.business-data-options option[value='number:3'] {
        background-color: #cab1ff;
    }

    select.business-data-options option[value='number:4'] {
        background-color: #bfe7ff;
    }

    /*.tilsoft-table-wrapper,
    .tilsoft-table .tilsoft-table-header div,
    .tilsoft-table .tilsoft-table-filter div,
    .tilsoft-table .tilsoft-table-totalrow div,
    .tilsoft-table .tilsoft-table-subtotalrow div,
    .tilsoft-table .tilsoft-table-body table td,
    .tilsoft-table-wrapper a.btn,
    .tilsoft-table-body table tr td, .tilsoft-table-header > div {
        font-size: 10px;
    }

        .tilsoft-table-wrapper input[type=text] {
            font-size: 10px;
            height: auto;
        }*/

        .tilsoft-table .tilsoft-table-filter div select, .tilsoft-table .tilsoft-table-filter div input[type="text"], .tilsoft-table .tilsoft-table-filter div label {
            width: 100%;
        }

        .tilsoft-table-body table tr td label, .tilsoft-table-header > div > label {
            width: 100%;
            cursor: pointer;
        }

    .tilsoft-table-header, .tilsoft-table-filter, .tilsoft-table-body {
        width: 1930px;
    }

        .tilsoft-table-header > div {
            height: 75px !important;
            text-align: center !important;
        }

    .tilsoft-table-filter {
        margin-top: 75px !important;
    }

    .tilsoft-table .tilsoft-table-filter div {
        height: 40px;
    }

    .tilsoft-table-body {
        margin-top: 75px !important;
    }

        .tilsoft-table-header > div:nth-child(1),
        .tilsoft-table-filter > div:nth-child(1),
        .tilsoft-table-body table > tbody > tr > td:nth-child(1) {
            width: 65px;
            text-align: center;
        }

        .tilsoft-table-header > div:nth-child(2),
        .tilsoft-table-filter > div:nth-child(2),
        .tilsoft-table-body table > tbody > tr > td:nth-child(2) {
            width: 25px;
            text-align: center;
        }

        .tilsoft-table-header > div:nth-child(3),
        .tilsoft-table-filter > div:nth-child(3),
        .tilsoft-table-body table > tbody > tr > td:nth-child(3) {
            width: 80px;
            text-align: center;
        }

        .tilsoft-table-header > div:nth-child(4),
        .tilsoft-table-filter > div:nth-child(4),
        .tilsoft-table-body table > tbody > tr > td:nth-child(4) {
            width: 35px;
            text-align: center;
        }

        .tilsoft-table-header > div:nth-child(5),
        .tilsoft-table-filter > div:nth-child(5),
        .tilsoft-table-body table > tbody > tr > td:nth-child(5) {
            width: 60px;
            text-align: center;
        }

        .tilsoft-table-header > div:nth-child(6),
        .tilsoft-table-filter > div:nth-child(6),
        .tilsoft-table-body table > tbody > tr > td:nth-child(6) {
            width: 40px;
            text-align: center;
        }

        .tilsoft-table-header > div:nth-child(7),
        .tilsoft-table-filter > div:nth-child(7),
        .tilsoft-table-body table > tbody > tr > td:nth-child(7) {
            width: 60px;
            text-align: center;
        }

        .tilsoft-table-header > div:nth-child(8),
        .tilsoft-table-filter > div:nth-child(8),
        .tilsoft-table-body table > tbody > tr > td:nth-child(8) {
            width: 300px;
            text-align: left;
        }

        .tilsoft-table-header > div:nth-child(9),
        .tilsoft-table-filter > div:nth-child(9),
        .tilsoft-table-body table > tbody > tr > td:nth-child(9) {
            width: 40px;
            text-align: right;
        }

        .tilsoft-table-header > div:nth-child(10),
        .tilsoft-table-filter > div:nth-child(10),
        .tilsoft-table-body table > tbody > tr > td:nth-child(10) {
            width: 50px;
            text-align: right;
        }

        .tilsoft-table-header > div:nth-child(11),
        .tilsoft-table-filter > div:nth-child(11),
        .tilsoft-table-body table > tbody > tr > td:nth-child(11) {
            width: 40px;
            text-align: right;
        }

        .tilsoft-table-header > div:nth-child(12),
        .tilsoft-table-filter > div:nth-child(12),
        .tilsoft-table-body table > tbody > tr > td:nth-child(12) {
            width: 50px;
            text-align: center;
        }

        .tilsoft-table-header > div:nth-child(13),
        .tilsoft-table-filter > div:nth-child(13),
        .tilsoft-table-body table > tbody > tr > td:nth-child(13) {
            width: 50px;
            text-align: center;
        }

        .tilsoft-table-header > div:nth-child(14),
        .tilsoft-table-filter > div:nth-child(14),
        .tilsoft-table-body table > tbody > tr > td:nth-child(14) {
            width: 65px;
            text-align: right;
        }

        .tilsoft-table-header > div:nth-child(15),
        .tilsoft-table-filter > div:nth-child(15),
        .tilsoft-table-body table > tbody > tr > td:nth-child(15) {
            width: 65px;
            text-align: right;
        }

        .tilsoft-table-header > div:nth-child(16),
        .tilsoft-table-filter > div:nth-child(16),
        .tilsoft-table-body table > tbody > tr > td:nth-child(16) {
            width: 80px;
            text-align: right;
        }
        .tilsoft-table-header > div:nth-child(17),
        .tilsoft-table-filter > div:nth-child(17),
        .tilsoft-table-body table > tbody > tr > td:nth-child(17) {
            width: 80px;
            text-align: right;
        }
        
        .tilsoft-table-header > div:nth-child(18),
        .tilsoft-table-filter > div:nth-child(18),
        .tilsoft-table-body table > tbody > tr > td:nth-child(18) {
            width: 65px;
            text-align: right;
        }

        .tilsoft-table-header > div:nth-child(19),
        .tilsoft-table-filter > div:nth-child(19),
        .tilsoft-table-body table > tbody > tr > td:nth-child(19) {
            width: 70px;
        }

        .tilsoft-table-header > div:nth-child(20),
        .tilsoft-table-filter > div:nth-child(20),
        .tilsoft-table-body table > tbody > tr > td:nth-child(20) {
            width: 70px;
        }

        .tilsoft-table-header > div:nth-child(21),
        .tilsoft-table-filter > div:nth-child(21),
        .tilsoft-table-body table > tbody > tr > td:nth-child(21) {
            width: 70px;
            text-align: center;
        }

        .tilsoft-table-header > div:nth-child(22),
        .tilsoft-table-filter > div:nth-child(22),
        .tilsoft-table-body table > tbody > tr > td:nth-child(22) {
            width: 45px;
            text-align: center;
        }

        .tilsoft-table-header > div:nth-child(23),
        .tilsoft-table-filter > div:nth-child(23),
        .tilsoft-table-body table > tbody > tr > td:nth-child(23) {
            width: 65px;
            text-align: right;
        }

        .tilsoft-table-header > div:nth-child(24),
        .tilsoft-table-filter > div:nth-child(24),
        .tilsoft-table-body table > tbody > tr > td:nth-child(24) {
            width: 65px;
            text-align: right;
        }


        .tilsoft-table-header > div:nth-child(25),
        .tilsoft-table-filter > div:nth-child(25),
        .tilsoft-table-body table > tbody > tr > td:nth-child(25) {
            width: 50px;
            text-align: left;
        }

        .tilsoft-table-header > div:nth-child(26),
        .tilsoft-table-filter > div:nth-child(26),
        .tilsoft-table-body table > tbody > tr > td:nth-child(26) {
            width: 60px;
            text-align: left;
        }

        .tilsoft-table-header > div:nth-child(27),
        .tilsoft-table-filter > div:nth-child(27),
        .tilsoft-table-body table > tbody > tr > td:nth-child(27) {
            width: 75px;
            text-align: center;
        }

        .tilsoft-table-header > div:nth-child(28),
        .tilsoft-table-filter > div:nth-child(28),
        .tilsoft-table-body table > tbody > tr > td:nth-child(28) {
            width: 75px;
            text-align: center;
        }
</style>

<div class="row">
    <article class="col-sm-12">
        <div class="jarviswidget" id="pnlSearchResult" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-search txt-color-darken"></i> </span>
                <h2>Search Result</h2>
            </header>
            <div class="no-padding">
                <div class="widget-body" style="padding-bottom: 0px;">
                    <div class="form-inline dt-bootstrap no-footer tilsoft-table-wrapper">
                        <div class="dt-toolbar" style="padding: 10px; border: solid 1px #ddd; border-bottom: none; box-sizing: border-box; z-index: 101; font-size: 12px;">                            
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <a href="javascript:void(0)" class="btn btn-success" ng-click="event.updateTarget()"><i class="fa fa-save"></i> Update Target Price</a>
                                    <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.confirmPrice()"><i class="fa fa-thumbs-o-up"></i> Confirm Price</a>
                                    <a href="javascript:void(0)" class="btn btn-warning" ng-click="event.unConfirmPrice()"><i class="fa fa-thumbs-o-down"></i> Reset Confirm Status</a>
                                    <a href="javascript:void(0)" class="btn btn-success" ng-click="controls.grdSearchResult.event.exportExcel()"><i class="fa fa-file-excel-o"></i> Export To Excel</a>
                                </div>
                                <div class="col-xs-12 col-sm-6" style="text-align: right;">
                                    <strong>Items</strong>&nbsp;
                                    <span class="label label-default">Total: {{data.status.total | number}}</span>
                                    <span class="label label-success">Confirmed: {{data.status.confirmed | number}}</span>
                                    <span class="label label-warning">Pending: {{data.status.pending | number}}</span>
                                    (
                                    <span class="label label-default" style="background: #afdc7e; color: #000;">Eurofar: {{data.status.waitEurofar | number}}</span>
                                    <span class="label label-default" style="background: #ffe699; color: #000;">Factory: {{data.status.waitFactory | number}}</span>
                                    )
                                </div>
                                <div class="col-xs-12 col-sm-6" style="text-align: right;">
                                    <strong>Containers</strong>&nbsp;
                                    <span class="label label-default">Total: {{data.status.totalContainer | number:1}}</span>
                                    <span class="label label-success">Confirmed: {{data.status.totalConfirmedContainer | number:1}}</span>
                                    <span class="label label-warning">Pending: {{data.status.totalPendingContainer | number:1}}</span>
                                    (
                                    <span class="label label-default" style="background: #afdc7e; color: #000;">Eurofar: {{data.status.totalContainerWaitForEurofar | number:1}}</span>
                                    <span class="label label-default" style="background: #ffe699; color: #000;">Factory: {{data.status.totalContainerWaitForFactory | number:1}}</span>
                                    )
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    Season
                                    <select class="search-filter" ng-model="controls.grdSearchResult.filters.Season" ng-options="item.seasonValue as item.seasonText for item in data.seasons"></select>
                                    &nbsp;

                                    P/I
                                    <input class="search-filter" type="text" ng-model="controls.grdSearchResult.filters.ProformaInvoiceNo" />
                                    &nbsp;

                                    Client
                                    <input class="search-filter" type="text" ng-model="controls.grdSearchResult.filters.ClientNM" />
                                    &nbsp;

                                    Type
                                    <select class="search-filter" ng-model="controls.grdSearchResult.filters.ItemTypeID" ng-options="item.id as item.name for item in data.itemTypes">
                                        <option></option>
                                    </select>
                                    &nbsp;

                                    Description
                                    <input class="search-filter" type="text" ng-model="controls.grdSearchResult.filters.Description" />
                                    &nbsp;

                                    Factory
                                    <input class="search-filter" type="text" ng-model="controls.grdSearchResult.filters.FactoryUD" />
                                    &nbsp;

                                    Status
                                    <select class="search-filter" ng-model="controls.grdSearchResult.filters.StatusID" ng-options="item.quotationStatusID as item.quotationStatusNM for item in data.quotationStatuses">
                                        <option></option>
                                    </select>

                                    <br style="margin-bottom: 5px;" />

                                    Wait Status
                                    <select class="search-filter" ng-model="controls.grdSearchResult.filters.QuotationOfferDirectionID" ng-options="item.id as item.name for item in data.waitStatuses">
                                        <option></option>
                                    </select>
                                    &nbsp;

                                    Business data status
                                    <select class="search-filter business-data-options" ng-model="controls.grdSearchResult.filters.BusinessDataStatusID" ng-options="item.id as item.name for item in data.businessDataStatuses">
                                        <option></option>
                                    </select>
                                    &nbsp;

                                    Shipped status
                                    <select class="search-filter" ng-model="controls.grdSearchResult.filters.ShippedStatus" ng-options="item.id as item.name for item in data.shippedStatuses">
                                        <option></option>
                                    </select>
                                    &nbsp;

                                    <br style="margin-bottom: 5px;" />

                                    LDS from
                                    <input class="search-filter datepicker" type="text" data-dateformat="dd/mm/yy" ng-model="controls.grdSearchResult.filters.LDSFrom" />
                                    &nbsp;

                                    LDS to
                                    <input class="search-filter datepicker" type="text" data-dateformat="dd/mm/yy" ng-model="controls.grdSearchResult.filters.LDSTo" />
                                    &nbsp;

                                    <a href="javascript:void(0)" class="btn btn-primary btn-xs" title="Apply Filter" ng-click="controls.grdSearchResult.event.reload()"><i class="fa fa-filter"></i> Apply Filter</a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="controls.grdSearchResult.event.clearFilter()"><i class="fa fa-ban"></i> Clear Filter</a>
                                </div>
                            </div>
                        </div>
                        <div avs-scrollable-table class="tilsoft-table-wrapper" ng-load-next-page="controls.grdSearchResult.event.loadMore()" ng-sort-data="controls.grdSearchResult.event.sort">
                            <div class="tilsoft-table">
                                <div class="tilsoft-table-header">
                                    <div><strong>Found</strong>: {{controls.grdSearchResult.status.totalRows}}</div>
                                    <div style="padding: 8px 0px;"><label><input type="checkbox" ng-model="data.isSelectAll" ng-change="event.toggleSelectAll()" /></label></div>
                                    <div class="sorting" data-colname="Season">Sea son</div>
                                    <div class="sorting" data-colname="ProformaInvoiceNo">P/I</div>
                                    <div class="sorting" data-colname="ClientNM">Client</div>
                                    <div class="sorting" data-colname="ItemTypeID">Ty pe</div>
                                    <div class="" data-colname="">Image</div>
                                    <div class="sorting" data-colname="Description">Description</div>
                                    <div class="sorting" data-colname="OrderQnt">Qnt</div>
                                    <div class="sorting" data-colname="TotalShippedQnt">Shipp ed</div>
                                    <div class="sorting" data-colname="Qnt40HC">Qnt / 40HC</div>
                                    <div class="sorting" data-colname="OrderQnt40HC">40HC Qnt</div>
                                    <div class="sorting" data-colname="FactoryUD">Fac tory</div>
                                    <div class="sorting" data-colname="LDS">LDS</div>
                                    <div class="sorting" data-colname="PurchasingPrice">Fac tory Price</div>
                                    <div class="sorting" data-colname="PriceIncludeDiff">AVT Price</div>
                                    <div>AVT Break down</div>
                                    <div>AVF Break down</div>
                                    <div class="sorting" data-colname="TargetPrice">Tar get Price</div>
                                    <div>New Target</div>
                                    <div>New Comment</div>
                                    <div class="sorting" data-colname="QuotationStatusNM">Sta tus</div>
                                    <div class="sorting" data-colname="QuotationOfferDirectionID">Wait Sta tus</div>
                                    <div class="sorting" data-colname="PurchasingPricePreviousSeason">Price {{method.getPrevSeason()}}</div>
                                    <div class="sorting" data-colname="PurchasingPrice2ndPreviousSeason">Price {{method.get2ndPrevSeason()}}</div>
                                    <!--<div class="sorting" data-colname="PurchasingPrice3rdPreviousSeason">Price {{method.get3rdPrevSeason()}}</div>-->
                                    <div class="sorting" data-colname="Remark">Re mark</div>
                                    <div class="sorting" data-colname="PackagingMethodNM">Pac kaging</div>
                                    <div class="sorting" data-colname="PriceUpdatedDate">Last Updated  </div>
                                    <div>  &nbsp;  </div>
                                </div>
                                <div class="tilsoft-table-body">
                                    <table>
                                        <tr ng-repeat="item in controls.grdSearchResult.data" style="background-color: {{controls.grdSearchResult.method.getRowBackgroundColor(item)}};">
                                            <td>
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus("ProductOverviewRpt", Frontend.Helper.ActionEnum.Read, HttpContext.Current) != "disabled")
                                                {
                                                    <a style="width: 30px;" ng-if="item.factoryOrderDetailID" href="@Url.Action("PriceCompare", "ProductOverviewRpt", new { id = UrlParameter.Optional })/{{item.factoryOrderDetailID}}" target="_blank" class="btn btn-default btn-xs" title="Compare"><i class="fa fa-exchange"></i></a>
                                                    <br />
                                                }

                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus("BreakDownMng", Frontend.Helper.ActionEnum.Update, HttpContext.Current) != "disabled")
                                                {
                                                    <a target="_blank" style="margin-top: 5px;" ng-if="item.offerLineID" href="@Url.Action("Edit", "BreakDownMng", new { id = UrlParameter.Optional })/0?modelId=0&sampleProductId=0&offerLineId={{item.offerLineID}}&factoryId={{item.factoryID}}" class="btn btn-primary btn-xs" title="Breakdown"><i class="fa fa-cubes"></i></a>
                                                }

                                                <a target="_blank" style="margin-top: 5px; width: 28px;" ng-if="item.offerLineID" href="@Url.Action("View", "BreakDownMng", new { id = UrlParameter.Optional })/0?modelId=0&sampleProductId=0&offerLineId={{item.offerLineID}}&factoryId={{item.factoryID}}" class="btn btn-success btn-xs" title="Breakdown View"><i class="fa fa-eye"></i></a>
                                            </td>
                                            <td><label><input type="checkbox" ng-model="item.isSelected" /></label></td>
                                            <td>{{item.season}}</td>
                                            <td>{{item.proformaInvoiceNo}}</td>
                                            <td>
                                                <strong>{{item.clientUD}}</strong>
                                                <br />
                                                {{item.clientNM}}
                                            </td>
                                            <td>
                                                {{item.itemTypeID === 1 ? 'PRODUCT' : ''}}
                                                {{item.itemTypeID === 0 ? 'SPAREPART' : ''}}
                                                {{item.itemTypeID === 2 ? 'SAMPLE' : ''}}
                                                {{item.itemTypeID === 3 ? 'MODEL' : ''}}
                                            </td>
                                            <td>
                                                <a href="{{item.fileLocation}}" data-featherlight="image">
                                                    <img style="width: 95%;" ng-src="{{item.thumbnailLocation}}" />
                                                </a>
                                            </td>
                                            <td>
                                                <strong>{{item.articleCode}}</strong>
                                                <br />
                                                {{item.description}}
                                            </td>
                                            <td>{{item.orderQnt | number}}</td>
                                            <td>{{item.totalShippedQnt | number}}</td>
                                            <td>{{item.qnt40HC | number}}</td>
                                            <td>{{item.orderQnt40HC | number:1}}</td>
                                            <td>{{item.factoryUD}}</td>
                                            <td>{{item.lds}}</td>
                                            <td><a href="javascript:void(0)" ng-click="event.openHistory(item)" style="font-weight: bold;">{{item.purchasingPrice | currency:'$':2}}</a></td>
                                            <td><a href="javascript:void(0)" ng-click="event.openHistory(item)" style="font-weight: bold;">{{item.priceIncludeDiff | currency:'$':2}}</a></td>
                                            <td>
                                                <a target="_blank" href="@Url.Action("Edit", "BreakDownMng", new { id = UrlParameter.Optional })/0?modelId=0&sampleProductId=0&offerLineId={{item.offerLineID}}&factoryId={{item.factoryID}}" ng-if="item.avtBreakdownAmount">{{((item.avtBreakdownAmount && item.avtBreakdownLoadability && item.exportCost40HC) ? item.avtBreakdownAmount + item.exportCost40HC / item.avtBreakdownLoadability : item.avtBreakdownAmount) / $parent.data.exchange | currency:'$':2}}</a><label ng-if="item.packagingType == null && item.avtBreakdownAmount">(Missing Packaging Method)</label>
                                                <span ng-if="!item.isAdditionalDataLoaded" ng-class="{'data-loading' : item.isAdditionalDataLoaded === false}">loading...</span>
                                            </td>
                                            <td>
                                                <a target="_blank" href="@Url.Action("Edit", "BreakDownMng", new { id = UrlParameter.Optional })/0?modelId=0&sampleProductId=0&offerLineId={{item.offerLineID}}&factoryId={{item.factoryID}}" ng-if="item.avfBreakdownAmount">{{((item.avfBreakdownAmount && item.avfBreakdownLoadability && item.exportCost40HC) ? item.avfBreakdownAmount + item.exportCost40HC / item.avfBreakdownLoadability : item.avfBreakdownAmount) / $parent.data.exchange | currency:'$':2}}</a><label ng-if="item.packagingType == null && item.avfBreakdownAmount">(Missing Packaging Method)</label>
                                                <span ng-if="!item.isAdditionalDataLoaded" ng-class="{'data-loading' : item.isAdditionalDataLoaded === false}">loading...</span>
                                            </td>
                                            <td><a href="javascript:void(0)" ng-click="event.openHistory(item)">{{item.targetPrice | currency:'$':2}}</a></td>
                                            <td><input type="text" avs-currency-2 ng-model="item.newTargetPrice" style="text-align: right;" /></td>
                                            <td><input type="text" ng-model="item.newTargetComment" /></td>
                                            <td>
                                                <strong>{{item.quotationStatusNM}}</strong>
                                                <br />
                                                <a ng-if="item.statusUpdatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.statusUpdatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    {{item.statusUpdatorNM}}
                                                </a>
                                            </td>
                                            <td style="background-color: {{item.quotationOfferDirectionID === 1 ? '#afdc7e' : (item.quotationOfferDirectionID === 2 ? '#ffe699' : '')}};">
                                                {{item.quotationOfferDirectionID === 1 ? 'WAIT FOR EUROFAR' : (item.quotationOfferDirectionID === 2 ? 'WAIT FOR FACTORY' : '')}}
                                            </td>
                                            <td><a href="javascript:void(0)" ng-click="event.openPurchaseHistory(item)">{{item.purchasingPricePreviousSeason | currency:'$':2}}</a></td>
                                            <td><a href="javascript:void(0)" ng-click="event.openPurchaseHistory(item)">{{item.purchasingPrice2ndPreviousSeason | currency:'$':2}}</a></td>
                                            <!--<td><a href="javascript:void(0)" ng-click="event.openPurchaseHistory(item)">{{item.purchasingPrice3rdPreviousSeason | currency:'$':2}}</a></td>-->
                                            <td>{{item.remark}}</td>
                                            <td>{{item.packagingMethodNM}}</td>
                                            <td>{{item.priceUpdatedDate}}</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmHistory" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="margin-top:90px !important">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 class="modal-title">Offer History</h4>
            </div>
            <div class="modal-body smart-form" style="padding: 0px;">
                <div>
                    <div class="widget-body">
                        <table class="table table-bordered table-striped" style="box-sizing: border-box;">
                            <thead>
                                <tr>
                                    <th>Offer Direction</th>
                                    <th>Price</th>
                                    <th>Remark</th>
                                    <th>Updated By</th>
                                    <th>Updated Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in data.historyData">
                                    <td>{{item.quotationOfferDirectionNM}}</td>
                                    <td style="text-align: right;">{{item.price | currency:'$':2}}</td>
                                    <td>{{item.remark}}</td>
                                    <td>
                                        <a ng-if="item.userID" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.userID}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                            {{item.updatorNM}}
                                        </a>
                                    </td>
                                    <td>{{item.updatedDate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmPurchaseHistory" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="margin-top:90px !important">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 class="modal-title">Purchasing Price History</h4>
            </div>
            <div class="modal-body smart-form" style="padding: 0px;">
                <div>
                    <div class="widget-body">
                        <table class="table table-bordered table-striped" style="box-sizing: border-box;">
                            <thead>
                                <tr>
                                    <th>Season</th>
                                    <th>P/I</th>
                                    <th>Client</th>
                                    <th>Description</th>
                                    <th>Factory</th>
                                    <th>Purchasing Price</th>
                                    <th>Order Qnt</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in data.purchaseHistoryData">
                                    <td>{{item.season}}</td>
                                    <td>{{item.proformaInvoiceNo}}</td>
                                    <td>
                                        <strong>{{item.clientUD}}</strong>
                                        <br />
                                        {{item.clientNM}}
                                    </td>
                                    <td>
                                        <strong>{{item.articleCode}}</strong>
                                        <br />
                                        {{item.description}}
                                    </td>
                                    <td>{{item.factoryUD}}</td>
                                    <td style="text-align: right;">{{item.purchasingPrice | currency:'$':2}}</td>
                                    <td style="text-align: right;">{{item.orderQnt | number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmGeneralBreakDown" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="margin-top:90px !important">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 class="modal-title">General BreakDown</h4>
            </div>
            <div class="modal-body smart-form" style="padding: 0px;">
                <div>
                    <div class="widget-body">
                        <table class="table table-bordered table-striped" style="box-sizing: border-box;">
                            <thead>
                                <tr>
                                    <th>Model</th>
                                    <th>Size</th>
                                    <th>Frame</th>
                                    <th>Cushion</th>
                                    <th>Carton</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in data.generalBreakDownData">
                                    <td>
                                        @if (Frontend.Helper.AuthHelper.GetActionButtonStatus("ProductBreakDownMng", Frontend.Helper.ActionEnum.Read, HttpContext.Current) != "disabled")
                                        {
                                            <a href="@Url.Action("Edit", "ProductBreakDownMng", new { id = UrlParameter.Optional })/{{item.productBreakDownID}}" target="_blank">
                                                <strong>{{item.modelUD}}</strong>
                                                <br />
                                                {{item.modelNM}}
                                            </a>
                                        }
                                        else
                                        {
                                            <text>
                                                <strong>{{item.modelUD}}</strong>
                                                <br />
                                                {{item.modelNM}}
                                            </text>
                                        }
                                    </td>
                                    <td>{{item.itemSize}}</td>
                                    <td>{{item.frameDescription}}</td>
                                    <td>{{item.cushionDescription}}</td>
                                    <td>{{item.cartonSize}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmPALBreakDown" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="margin-top:90px !important">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 class="modal-title">PAL BreakDown</h4>
            </div>
            <div class="modal-body smart-form" style="padding: 0px;">
                <div>
                    <div class="widget-body">
                        <table class="table table-bordered table-striped" style="box-sizing: border-box;">
                            <thead>
                                <tr>
                                    <th>Model</th>
                                    <th>Size</th>
                                    <th>Frame</th>
                                    <th>Cushion</th>
                                    <th>Carton</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in data.palBreakDownData">
                                    <td>
                                        @if (Frontend.Helper.AuthHelper.GetActionButtonStatus("ProductBreakDownPALMng", Frontend.Helper.ActionEnum.Read, HttpContext.Current) != "disabled")
                                        {
                                            <a href="@Url.Action("Edit", "ProductBreakDownPALMng", new { id = UrlParameter.Optional })/{{item.productBreakDownID}}" target="_blank">
                                                <strong>{{item.modelUD}}</strong>
                                                <br />
                                                {{item.modelNM}}
                                            </a>
                                        }
                                        else
                                        {
                                            <text>
                                                <strong>{{item.modelUD}}</strong>
                                                <br />
                                                {{item.modelNM}}
                                            </text>
                                        }
                                    </td>
                                    <td>{{item.itemSize}}</td>
                                    <td>{{item.frameDescription}}</td>
                                    <td>{{item.cushionDescription}}</td>
                                    <td>{{item.cartonSize}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

@section FormAction {
    <ul id="sparks">
        <li>
            <a href="javascript:void(0)" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li>
            <a href="javascript:void(0)" class="btn btn-default disabled" title="Export excel"><i class="fa fa-file-excel-o"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/avt-purchasing-price-mng/',
            token : '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize: 20,
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'
        }
    </script>
    <script src="~/Views/AVTPurchasingPriceMng/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/AVTPurchasingPriceMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
