@{
    ViewBag.Title = "Search ";
    ViewBag.Module = "Transport showroom area";
}
<form class="row" name="searchForm">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Transfer</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="row" style="background-color: #F6CECE">
                        <section class="col col-lg-4">
                            <label style="font-weight:bold">Transfer type</label>
                            <ul>
                                <li style="display:inline"><input type="radio" name="transferType" ng-model="transferType" value="1" />Transfer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                <li style="display:inline"><input type="radio" name="transferType" ng-model="transferType" value="2" />Multi transfer</li>
                            </ul>
                        </section>
                        <section class="col col-lg-4">
                            <label style="font-weight:bold">Search by</label>
                            <ul>
                                <li style="display:inline"><input type="radio" name="searchType" ng-model="searchBy" value="1" />Normal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                <li style="display:inline"><input type="radio" name="searchType" ng-model="searchBy" value="2" />BarCode</li>
                            </ul>
                        </section>
                    </div>
                    <div class="row">
                        
                        <section class="col-lg-6">
                            <label>Showroom Item</label>
                            <div class="input-group">
                                <input id="quickSearchBox-showroomItem" placeholder="press enter to search all showroom item or type at least 3 chars to search showroom item" class="form-control" type="text" ng-keyup="quicksearchShowroomItem.event.searchBoxKeyUp($event)">
                                <span class="input-group-addon" ng-click="quicksearchShowroomItem.event.searchClick()"><i class="fa fa-search"></i></span>
                                
                                <div id="popup-showroomItem" class="popup-container-2" style="display: none; left: 0px; top: 32px;z-index: 999;">
                                    <div style="float: right; margin-bottom: 8px;">
                                        <a href="javascript:void(0);" ng-click="quicksearchShowroomItem.event.close($event)" class="btn btn-danger btn-xs">Close</a>
                                    </div>
                                    <div class="clear"></div>
                                    <div id="quickSearchResultGrid-showroomItem" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-header" style="width: 700px;">
                                                <div style="width: 60px; text-align:center"></div>
                                                <div style="width: 100px;"></div>
                                                <div style="width: 150px" class="sorting">Showroom Item Code</div>
                                                <div class="sorting"> Description</div>
                                            </div>

                                            <div class="tilsoft-table-body">
                                                <table>
                                                    <tr ng-repeat="product in quicksearchShowroomItem.data">
                                                        <td style="width: 59px; text-align: center;"><a ng-click="quicksearchShowroomItem.event.itemSelected($event,product)" class="btn btn-primary btn-xs" href="javascript:void(0);">Select</a></td>
                                                        <td style="width: 100px; text-align: center; vertical-align: middle;">
                                                            <a href="{{product.showroomFullImage}}" data-featherlight="image">
                                                                <img style="width: 95%;" ng-src="{{product.showroomThumbnailImage}}" />
                                                            </a>
                                                        </td>
                                                        <td style="width: 150px;">{{product.articleCode}}</td>
                                                        <td>{{product.description}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </section>
                        
                        <section class="col-lg-2" ng-if="transferType==1">
                            <label>From Area</label>
                            <input id="quickSearchBox-showroomAreaFrom" placeholder="typing here to search area" class="form-control" type="text" ng-keyup="quicksearchShowroomAreaFrom.event.searchBoxKeyUp($event)">
                            <div id="popup-showroomAreaFrom" class="popup-container-2" style="height:auto;width:250px">
                                <div style="float: right; margin-bottom: 8px;">
                                    <a ng-click="quicksearchShowroomAreaFrom.event.close($event)" class="btn btn-danger btn-xs font-8" href="javascript:void(0);">Close</a>
                                </div>
                                <div class="clear"></div>
                                <div id="quickSearchResultGrid-showroomAreaFrom" class="tilsoft-table-wrapper">
                                    <div class="tilsoft-table">
                                        <div class="tilsoft-table-body" style="height:auto">
                                            <table>
                                                <tr ng-repeat="item in quicksearchShowroomAreaFrom.data">
                                                    <td style="width: 70px; text-align: left;"><a ng-click="quicksearchShowroomAreaFrom.event.itemSelected($event,item)" class="btn btn-primary btn-xs" href="javascript:void(0);">Select</a></td>
                                                    <td style="text-align:left">{{item.showroomAreaUD}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="col-lg-2">
                            <label>To Area</label>
                            <input id="quickSearchBox-showroomAreaTo" placeholder="typing here to search area" class="form-control" type="text" ng-keyup="quicksearchShowroomAreaTo.event.searchBoxKeyUp($event)">
                            <div id="popup-showroomAreaTo" class="popup-container-2" style="height:auto;width:250px">
                                <div style="float: right; margin-bottom: 8px;">
                                    <a ng-click="quicksearchShowroomAreaTo.event.close($event)" class="btn btn-danger btn-xs font-8" href="javascript:void(0);">Close</a>
                                </div>
                                <div class="clear"></div>
                                <div id="quickSearchResultGrid-showroomAreaTo" class="tilsoft-table-wrapper">
                                    <div class="tilsoft-table">
                                        <div class="tilsoft-table-body" style="height:auto">
                                            <table>
                                                <tr ng-repeat="item in quicksearchShowroomAreaTo.data">
                                                    <td style="width: 70px; text-align: left;"><a ng-click="quicksearchShowroomAreaTo.event.itemSelected($event,item)" class="btn btn-primary btn-xs" href="javascript:void(0);">Select</a></td>
                                                    <td style="text-align:left">{{item.showroomAreaUD}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        
                    </div>

                    <div class="row" ng-if="transferType==1">

                        <section class="col-lg-2">
                            <label>Showroom Item Code</label>
                            <span class="form-control">{{transferData.articleCode}}</span>
                            <input type="hidden" name="showroomItemID" ng-model="transferData.showroomItemID" required />
                            <span class="help-block" ng-show="searchForm.showroomItemID.$error.required"><i class="fa fa-warning"></i>Showroom Item Code is require</span>
                        </section>

                        <section class="col-lg-3">
                            <label>Description</label>
                            <span class="form-control">{{transferData.description}}</span>
                            <input type="hidden" name="showroomItemID" ng-model="transferData.showroomItemID" required />
                            <span class="help-block" ng-show="searchForm.showroomItemID.$error.required"><i class="fa fa-warning"></i>Description is require</span>
                        </section>

                        <section class="col-lg-2">
                            <label>From Area</label>
                            <span class="form-control">{{transferData.fromAreaUD}}</span>
                            <input type="hidden" name="fromShowroomAreaID" ng-model="transferData.fromShowroomAreaID" required />
                            <span class="help-block" ng-show="searchForm.fromShowroomAreaID.$error.required"><i class="fa fa-warning"></i>From area is require</span>
                        </section>

                        <section class="col-lg-2">
                            <label>To Area</label>
                            <span class="form-control">{{transferData.toAreaUD}}</span>
                            <input type="hidden" name="toShowroomAreaID" ng-model="transferData.toShowroomAreaID" required />
                            <span class="help-block" ng-show="searchForm.toShowroomAreaID.$error.required"><i class="fa fa-warning"></i>To area is require</span>
                        </section>

                        <section class="col-lg-2">
                            <label>Quantity</label>
                            <input class="form-control" ng-model="transferData.quantity" />
                            <input type="hidden" name="quantity" ng-model="transferData.quantity" required />
                            <span class="help-block" ng-show="searchForm.quantity.$error.required"><i class="fa fa-warning"></i>Quantity is require</span>
                        </section>

                        <section class="col-sm-1">
                            <a class="btn btn-primary" style="margin-top:23px" ng-click="method.transfer($event)">Transfer</a>
                        </section>
                    </div>

                    <div class="row" ng-if="transferType==2">
                        <section class="col-lg-10">
                            <div class="tilsoft-table" style="margin-top: 15px">
                                <div class="tilsoft-table-body" style="width: 1100px;height:auto">
                                    <table>
                                        <tr>
                                            <th style="width: 60px; text-align:center"></th>
                                            <th style="width: 130px;" class="sorting" data-colname="ArticleCode">Showroom Item Code</th>
                                            <th class="sorting" data-colname="Description">Description</th>
                                            <th style="width: 150px;" class="sorting" data-colname="FromAreaUD">From Area</th>
                                            <th style="width: 150px;" class="sorting" data-colname="ToAreaUD">To Area</th>
                                            <th style="width: 80px;" class="sorting" data-colname="Quantity">Quantity</th>
                                        </tr>
                                        <tr ng-repeat="item in listTransferData">
                                           <td style="text-align:center">
                                               <a href="#" title="Delete" ng-click="event.removeTranferItem($event,$index)" class="btn btn-danger btn-xs font-11"><i class="fa fa-times"></i>Del</a>
                                           </td>
                                            <td>{{item.articleCode}}</td>
                                            <td>{{item.description}}</td>
                                            <td>{{item.fromAreaUD}}</td>
                                            <td>{{item.toAreaUD}}</td>
                                            <td>{{item.quantity}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </section>
                        <section class="col-sm-2">
                            <a class="btn btn-primary" style="margin-top:15px" ng-click="method.transferMultiItem($event)">Multi transfer</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-sm-2 m-bottom-15">
                            <label>ArticleCode</label>
                            <input class="form-control search-filter" type="text" ng-model="filters.ArticleCode">
                        </div>
                        <div class="col-sm-2 m-bottom-15">
                            <label>Description</label>
                            <input class="form-control search-filter" type="text" ng-model="filters.Description">
                        </div>
                    </div>

                </div>
            </div>
        </div>*@

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="table-responsive" id="wareHouseImportTable">
                        <div id="grdSearchResult" class="tilsoft-table-wrapper">
                            <div class="tilsoft-table">
                                <div class="tilsoft-table-header" style="width: 1500px;">
                                    <div style="width: 150px;" class="sorting" data-colname="ArticleCode">Showroom Item Code</div>
                                    <div style="width: 400px;" class="sorting" data-colname="Description">Description</div>
                                    <div style="width: 150px;" class="sorting" data-colname="FromAreaUD">From Area</div>
                                    <div style="width: 150px;" class="sorting" data-colname="ToAreaUD">To Area</div>
                                    <div style="width: 80px;" class="sorting" data-colname="Quantity">Quantity</div>
                                    <div style="width: 100px;" class="sorting" data-colname="TransferDate">Transfer Date</div>
                                    <div style="width: 150px;" class="sorting" data-colname="TransferName">Transfer By</div>
                                    <div class="sorting" data-colname="Remark">Remark</div>
                                </div>
                                <div class="tilsoft-table-body" style="width: 1500px;">
                                    <table>
                                        <tr ng-repeat="item in data | orderBy: 'transferDate' : 'reverse'">
                                            <td style="width: 149px;">{{item.articleCode}}</td>
                                            <td style="width: 400px;">{{item.description}}</td>
                                            <td style="width: 150px;">{{item.fromAreaUD}}</td>
                                            <td style="width: 150px;">{{item.toAreaUD}}</td>
                                            <td style="width: 80px;">{{item.quantity}}</td>
                                            <td style="width: 100px;">{{item.transferDateString}}</td>
                                            <td style="width: 150px;">
                                                <avs-show-dialog-link is-show="item.showTransferLink"
                                                                      navigate-url="'@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/' + item.transferID"
                                                                      display-text="item.transferName"></avs-show-dialog-link>
                                          
                                            </td>
                                            <td>{{item.remark}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.search()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.search()"><i class="fa fa-refresh"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/transfershowroomarea/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        supportService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        supportService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        jsonService.searchFilter.pageSize = '@System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"]';
        var context = {
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
        }
    </script>
    <script src="~/Angular/app/transferShowroomArea/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/transferShowroomArea/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}