
@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var pageSize = System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();

    ViewBag.Title = "Search Module Status";
    ViewBag.Module = "Module Status";
}

<form class="row" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>
            <div>
                <div class="widget-body no-padding">

                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div style="width:1000px" class="tilsoft-table-header">
                                <div style="width:70px">Found(s)<br /><strong style="color:maroon">{{totalRows}}</strong></div>
                                <div class="sorting" style="width: 90px" data-colname="isActived">Active</div>
                                <div style="width:200px">Module</div>
                                <div style="width:150px">Module Status NO</div>
                                <div style="width:250px">Module Status Name</div>
                                <div></div>

                            </div>
                            <div style="width:100px" class="tilsoft-table-filter">
                                <div style="width:70px; text-align:center">
                                    <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.refresh()">
                                        <i class="fa fa-filter"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clear()">
                                        <i class="fa fa-ban"></i>
                                    </a>
                                </div>
                                <div style="width: 90px">
                                    <label class="select">
                                        <select class="form-control search-filter" style="height: 29px" ng-model="filters.isActived">
                                            <option value=""></option>
                                            <option value="true">YES</option>
                                            <option value="false">NO</option>
                                        </select>
                                    </label>
                                </div>
                                <div style="width: 200px; padding: 0px">
                                    <select class="select2" ng-model="filters.moduleID"
                                            ng-options="moduleItem.moduleID as moduleItem.displayText for moduleItem in modules">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </div>
                                <div style="width:150px">
                                    <input type="text" class="form-control search-filter" style="width:100%; height: 29px" ng-model="filters.statusUD" />
                                </div>
                                <div style="width:250px">
                                    <input type="text" class="form-control search-filter" style="width:100%; height: 29px" ng-model="filters.statusNM" />
                                </div>
                                <div></div>
                            </div>
                            <div style="width:100px" class="tilsoft-table-body">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="item in data">
                                            <td style="width:70px; text-align:center">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "ModuleStatusMng")/{{item.moduleStatusID}}" title="View (Read Only)" target="_blank"><i class="fa fa-folder-open"></i>View</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "ModuleStatusMng")/{{item.moduleStatusID}}" title="Edit" target="_blank"><i class="fa fa-pencil-square-o"></i>Edit</a>
                                                }

                                                @*if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                                    {
                                                        <a class="btn btn-danger btn-xs font-11" href="#" title="Delete" ng-click="event.remove(item, $index)"><i class="fa fa-times"></i>Del</a>
                                                    }*@
                                            </td>
                                            <td style="text-align: center; width: 90px; vertical-align: middle"><label ng-class="item.isActived == true ? 'fa fa-check' : 'label'"></label></td>
                                            <td style="text-align: left; width: 200px">{{item.displayText}}</td>
                                            <td style="width:150px">{{item.statusUD}}</td>
                                            <td style="width:250px">{{item.statusNM}}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </article>
</form>
@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.refresh()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Clear" ng-click="event.clear()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Edit", "ModuleStatusMng", new { id = UrlParameter.Optional })/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Create new Purchase Order" target="_blank"><i class="fa fa-file-o"></i></a>
        </li>
    </ul>
}


@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(serviceRoot)/api/module-status/',
            token: '@token',
            pageSize: '@pageSize',
            cookieID: '@cookieID'
        }
    </script>
    <script type="text/javascript" src="~/Views/ModuleStatusMng/index.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/ModuleStatusMng/service.js?v=@guid"></script>
}
