@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var pageSize = System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();

    ViewBag.Title = "Search Purchase Quotation";
    ViewBag.Module = "Purchase Quotation";

    string userManualUrl = string.Empty;
    if (System.IO.File.Exists(Server.MapPath("~/UserManual/" + ViewBag.ModuleCode + ".pdf")))
    {
        userManualUrl = "/UserManual/" + ViewBag.ModuleCode + ".pdf";
    }
}


<form class="row" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div style="width:1500px" class="tilsoft-table-header">
                                <div style="width:80px">Found(s)<br /><strong style="color:maroon">{{totalRows}}</strong></div>
                                <div style="width:180px">Code</div>
                                <div style="width:180px">Factory</div>
                                <div style="width:100px">Valid From</div>
                                <div style="width:100px">Valid To</div>
                                <div style="width:130px">Delivery Term</div>
                                <div style="width:180px">Payment Term</div>
                                <div style="width:82px;">Currency</div>
                                <div style="width:180px">Document</div>
                                <div>Remark</div>
                            </div>
                            <div style="width:1500px" class="tilsoft-table-filter">
                                <div style="width:80px; text-align:center">
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Apply Filter" ng-click="event.refresh()">
                                        <i class="fa fa-filter"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clear()">
                                        <i class="fa fa-ban"></i>
                                    </a>
                                </div>
                                <div style="width:180px">
                                    <input type="text" class="form-control" style="width:100%" ng-model="filters.purchaseQuotationUD" />
                                </div>
                                <div style="width:180px; padding: 0px">
                                    <select class="select2" id="subSupplier" style="width: 100%" ng-model="filters.factoryRawMaterialID" ng-options="spFactoryRaw.factoryRawMaterialID as spFactoryRaw.factoryRawMaterialUD for spFactoryRaw in supportFactoryRawMaterials">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </div>
                                <div style="width:100px">
                                    <input type="text" class="form-control search-filter" style="width:100%" avs-calendar ng-data-source="filters.validFrom" />
                                </div>
                                <div style="width:100px">
                                    <input type="text" class="form-control search-filter" style="width:100%" avs-calendar ng-data-source="filters.validTo" />
                                </div>
                                <div style="width:130px">
                                    <select class="form-control search-filter" style="width: 100%" ng-model="filters.purchaseDeliveryID" ng-options="purchaseDelivery.purchaseDeliveryID as purchaseDelivery.purchaseDeliveryNM for purchaseDelivery in supportDeliveryTerms">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </div>
                                <div style="width:180px">
                                    <select class="form-control search-filter" style="width: 100%" ng-model="filters.purchasePaymentTermID" ng-options="purchasePaymentTerm.purchasePaymentTermID as purchasePaymentTerm.purchasePaymentTermNM for purchasePaymentTerm in supportPaymentTerms">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </div>
                                <div style="width:82px">
                                    <select class="form-control search-filter" style="width: 100%" ng-model="filters.currency" ng-options="currencys.sname as currencys.name for currencys in supportCurrency">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div style="width:180px"></div>
                                <div></div>
                            </div>
                            <div style="width:1500px" class="tilsoft-table-body">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="item in data">
                                            <td style="width:79px; text-align:center">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {
                                                    <a class="btn btn-default btn-xs font-11" href="@Url.Action("Edit", "PurchaseQuotationMng")/{{item.purchaseQuotationID}}" title="View (Read Only)" style="width: 60px" target="_blank"><i class="fa fa-folder-open"></i> View</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-default btn-xs font-11" href="@Url.Action("Edit", "PurchaseQuotationMng")/{{item.purchaseQuotationID}}" title="View (Read Only)" target="_blank" style="width: 60px" ng-show="item.isApproved && (item.isCancelled == null || item.isCancelled == false)"><i class="fa fa-folder-open"></i> View</a>
                                                    <a class="btn btn-default btn-xs font-11" href="@Url.Action("Edit", "PurchaseQuotationMng")/{{item.purchaseQuotationID}}" title="Cancel (Read Only)" target="_blank" style="width: 60px; color: red" ng-show="item.isApproved == true && item.isCancelled == true"><i class="fa fa-close"></i> Cancel</a>
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "PurchaseQuotationMng")/{{item.purchaseQuotationID}}" title="Edit" target="_blank" style="width: 60px" ng-show="!item.isApproved"><i class="fa fa-pencil-square-o"></i> Edit</a>
                                                }
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                                {
                                                    <a class="btn btn-danger btn-xs font-11" href="#" title="Delete" style="width: 60px; margin-top: 3px" ng-click="event.remove(item)" ng-show="!item.isApproved"><i class="fa fa-times"></i> Delete</a>
                                                }
                                            </td>
                                            <td style="width:180px; text-align: center">{{item.purchaseQuotationUD}}</td>
                                            <td style="width:180px;text-align:left">{{item.factoryRawMaterialShortNM}}</td>
                                            <td style="width:100px;text-align:center">{{item.validFrom}}</td>
                                            <td style="width:100px;text-align:center">{{item.validTo}}</td>
                                            <td style="width:130px;text-align:center">{{item.purchaseDeliveryNM}}</td>
                                            <td style="width:180px;text-align:center">{{item.purchasePaymentTermNM}}</td>
                                            <td style="width:82px;text-align:center">{{item.currency}}</td>
                                            <td style="width:180px;text-align:left">
                                                <a href="javascript:void(0);" ng-click="event.download(item.fileLocation)">{{item.friendlyName}}</a>
                                            </td>
                                            <td>{{item.remark}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" ng-click="event.refresh()" title="Search"><i class="fa fa-search"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" ng-click="event.clear()" title="Refresh Page"><i class="fa fa-refresh"></i></a>
    </li>
    <li class="sparks-info">
        <a href="@Url.Action("Edit", "PurchaseQuotationMng", new { id = UrlParameter.Optional })/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Create new " target="_blank"><i class="fa fa-file-o"></i></a>
    </li>
    <li class="sparks-info">
        <a href="@Url.Action("DefaultPrice", "PurchaseQuotationMng")" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Reset, HttpContext.Current))" title="Set default price" target="_blank"><i class="fa fa-check-circle"></i></a>
    </li>

    @if (!string.IsNullOrEmpty(userManualUrl))
    {
        <li class="sparks-info">
            <a target="_blank" href="@userManualUrl" class="btn btn-default" title="Help"><i class="fa fa-info"></i></a>
        </li>
    }
</ul>
}


@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(serviceRoot)/api/PurchaseQuotationMng/',
            token: '@token',
            pageSize: '@pageSize',
            cookieID: '@cookieID'
        }
    </script>
    <script type="text/javascript" src="~/Angular/app/purchaseQuotationMng/index.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/purchaseQuotationMng/service.js?v=@guid"></script>
}