@{
    ViewBag.Title = "Search Purchasing Price Overview";
    ViewBag.Module = "Purchasing Price Overview Rpt";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Factory</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.FactoryID" ng-options="factory.factoryID as factory.factoryUD for factory in factories">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Model Code</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.ModelUD" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Model Name</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.ModelNM" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Client</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.ClientUD" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Season</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.Season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div id="searchResult" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 2500px;">
                                <div style="width: 100px;" class="sorting">Factory</div>
                                <div style="width: 120px;" class="sorting">Status</div>
                                <div style="width: 150px;" class="sorting">Model Code</div>
                                <div style="width: 250px;" class="sorting">Model Name</div>
                                <div style="width: 200px;" class="sorting">Art.Code</div>
                                <div style="width: 230px;" class="sorting">Description</div>
                                <div style="width: 100px;" class="sorting">Order</div>
                                <div style="width: 100px;">Lds</div>
                                <div style="width: 100px;" class="sorting">Client</div>
                                <div style="width: 100px;">Qnt</div>
                                <div style="width: 100px;">Diff.Code</div>
                                <div style="width: 100px;">Old Price</div>
                                <div style="width: 100px;">Purchasing</div>
                                <div style="width: 100px;">Sale</div>
                                <div style="width: 100px;">Target</div>
                                <div style="width: 250px;">Remark</div>
                                <div style="width: 150px;">Status Updated By</div>
                                <div>Status Updated Date</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 2500px;height:100%;">
                                <table>
                                    <tr ng-repeat="item in data">
                                        <td style=" width: 100px;">{{item.factoryUD}}</td>
                                        <td style=" width: 120px;">{{item.quotationStatusNM}}</td>
                                        <td style=" width: 150px;">{{item.modelUD}}</td>
                                        <td style=" width: 250px;">{{item.modelNM}}</td>
                                        <td style=" width: 200px;">{{item.articleCode}}</td>
                                        <td style=" width: 230px;">{{item.description}}</td>
                                        <td style=" width: 100px;">{{item.factoryOrderUD}}</td>
                                        <td style=" width: 100px;">{{item.lds}}</td>
                                        <td style=" width: 100px;">{{item.clientUD}}</td>
                                        <td style=" width: 100px;">{{item.orderQnt}}</td>
                                        <td style=" width: 100px;">{{item.priceDifferenceCode}}</td>
                                        <td style=" width: 100px;">{{item.oldPrice}}</td>
                                        <td style=" width: 100px;">{{item.purchasingPrice}}</td>
                                        <td style=" width: 100px;">{{item.salePrice}}</td>
                                        <td style=" width: 100px;">{{item.targetPrice}}</td>
                                        <td style=" width: 250px;">{{item.remark}}</td>
                                        <td style="width: 150px;">
                                            <avs-show-dialog-link is-show="item.showUpdatorLink"
                                                                  navigate-url="'@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/' + item.updatorID"
                                                                  display-text="item.updatorName"></avs-show-dialog-link>
                                        </td>
                                        <td>{{item.statusUpdatedDate}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Print"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Export Excel" style="color: #31B404" ng-click="event.generateExcel($event)"><i class="fa fa-file-excel-o"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/purchasingpriceoverviewrpt/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
        var context = {
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'
        }
    </script>
    <script src="~/Angular/app/purchasingPriceOverviewRpt/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/purchasingPriceOverviewRpt/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
