@{
    ViewBag.Title = "Edit Sample Product";
    ViewBag.Module = "SampleItemMng";
    ViewBag.Icon = "fa-pencil-square-o";
    ViewBag.CurrentSeason = Frontend.Helper.Common.GetCurrentSeason();
    var backendReportUrl = @System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"];
}

<style>
    .tilsoft-table .tilsoft-table-body {
        height: auto !important;
        max-height: none
    }

    /*.smart-form .tilsoft-table .checkbox i {
        position: relative !important;
        top: 1px !important;
    }*/

</style>

<form class="row" name="editForm" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabInfomation"> <span>Infomation</span> </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#tabQARemark"> <span>QA Remark</span> </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#tabProgress"> <span>Progress</span> </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#tabBreakdown"> <span>Breakdown</span> </a>
                    </li>

                </ul>
            </header>
            <div>
                <div class="widget-body product-form">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabInfomation">
                            <div class="smart-form">
                                <fieldset>
                                    <fieldset>
                                        <section>
                                            <ul class="ulcols-4">
                                                <li>
                                                    <div class="content" style="width:300px">
                                                        <a href="{{data.finishedImageFileLocation}}" data-featherlight="image">
                                                            <div class="img" style="background: url('{{data.finishedImageThumbnailLocation}}') no-repeat center center; background-size: contain;"></div>
                                                        </a>
                                                    </div>

                                                </li>
                                                <li style="padding-left: 600px">
                                                    <div class="content" style="width:300px">
                                                        <a href="{{data.fileLocation}}" data-featherlight="image">
                                                            <div class="img" style="background: url('{{data.thumbnailLocation}}') no-repeat center center; background-size: contain;"></div>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </section>                                   
                                    </fieldset>
                                    <fieldset>                                        
                                        <div style="float: right;">
                                            <label>Change Status</label>
                                            <div class="btn-group">
                                                <button class="btn dropdown-toggle btn-sm btn-success" data-toggle="dropdown" aria-expanded="false">
                                                    {{data.sampleProductStatusNM}} <i class="fa fa-caret-down"></i>
                                                </button>
                                                <ul class="dropdown-menu pull-right" ng-if="data.sampleProductStatusID != 7 && data.sampleProductStatusID != 9">
                                                    <li ng-repeat="status in sampleProductStatuses">
                                                        <a href="javascript:void(0);" ng-click="event.setProductStatus(status.sampleProductStatusID, data)">{{status.sampleProductStatusNM}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </fieldset>                                 
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-8">
                                                <label class="label">Model <span ng-if="data.modelID">(Code: {{data.modelUD}})</span></label>
                                                <label class="input">
                                                    <input type="text" readonly value="{{data.articleDescription}}">
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Status</label>
                                                <label class="input">
                                                    <input type="text" readonly value="{{data.sampleProductStatusNM}}" />
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="label">Material <span ng-if="data.materialID">(Code: {{data.materialUD}})</span></label>
                                                <label class="input">
                                                    <input type="text" readonly value="{{data.materialDescription}}" />
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Material Type <span ng-if="data.materialTypeID">(Code: {{data.materialTypeUD}})</span></label>
                                                <label class="input">
                                                    <input type="text" readonly value="{{data.materialTypeDescription}}" />
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Material Color <span ng-if="data.materialColorID">(Code: {{data.materialColorUD}})</span></label>
                                                <label class="input">
                                                    <input type="text" readonly value="{{data.materialColorDescription}}" />
                                                </label>
                                            </section>
                                        </div>

                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="label">Material 2 <span ng-if="data.materialID">(Code: {{data.material2UD}})</span></label>
                                                <label class="input">
                                                    <input type="text" readonly value="{{data.material2Description}}" />
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Material 2 Type <span ng-if="data.material2TypeID">(Code: {{data.material2TypeUD}})</span></label>
                                                <label class="input">
                                                    <input type="text" readonly value="{{data.material2TypeDescription}}" />
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Material 2 Color <span ng-if="data.material2ColorID">(Code: {{data.material2ColorUD}})</span></label>
                                                <label class="input">
                                                    <input type="text" readonly value="{{data.material2ColorDescription}}" />
                                                </label>
                                            </section>
                                        </div>

                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="label">Material 3 <span ng-if="data.materialID">(Code: {{data.material3UD}})</span></label>
                                                <label class="input">
                                                    <input type="text" readonly value="{{data.material3Description}}" />
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Material 3 Type <span ng-if="data.material3TypeID">(Code: {{data.material3TypeUD}})</span></label>
                                                <label class="input">
                                                    <input type="text" readonly value="{{data.material3TypeDescription}}" />
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Material 3 Color <span ng-if="data.material3ColorID">(Code: {{data.material3ColorUD}})</span></label>
                                                <label class="input">
                                                    <input type="text" readonly value="{{data.material3ColorDescription}}" />
                                                </label>
                                            </section>
                                        </div>

                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="label">Back Cushion <span ng-if="data.backCushionID">(Code: {{data.backCushionUD}})</span></label>
                                                <label class="input">
                                                    <input type="text" readonly value="{{data.backCushionDescription}}" />
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">Seat Cushion <span ng-if="data.seatCushionID">(Code: {{data.seatCushionUD}})</span></label>
                                                <label class="input">
                                                    <input type="text" readonly value="{{data.seatCushionDescription}}" />
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Cushion Color <span ng-if="data.cushionColorID">(Code: {{data.cushionColorUD}})</span></label>
                                                <label class="input">
                                                    <input type="text" readonly value="{{data.cushionColorDescription}}" />
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="label">Quantity</label>
                                                <label class="input">
                                                    <input readonly type="text" style="text-align: right;" ng-model="data.quantity" />
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>
                                    <hr />
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="label" style="white-space:pre-wrap">Overall Dimension (L/W/H)</label>
                                                <label class="input">
                                                    <input avs-number ng-decimal="1" style="width: 30%; margin-right: 3%; float: left; text-align: right;" type="text" ng-model="data.overallDimL" />
                                                    <input avs-number ng-decimal="1" style="width: 30%; margin-right: 3%; float: left; text-align: right;" type="text" ng-model="data.overallDimW" />
                                                    <input avs-number ng-decimal="1" style="width: 30%; margin-right: 3%; float: left; text-align: right;" type="text" ng-model="data.overallDimH" />
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Load Ability (20DC/40DC/40HC)</label>
                                                <label class="input">
                                                    <input avs-number ng-decimal="1" style="width: 30%; margin-right: 3%; float: left; text-align: right;" type="text" ng-model="data.loadAbility20DC" />
                                                    <input avs-number ng-decimal="1" style="width: 30%; margin-right: 3%; float: left; text-align: right;" type="text" ng-model="data.loadAbility40DC" />
                                                    <input avs-number ng-decimal="1" style="width: 30%; margin-right: 3%; float: left; text-align: right;" type="text" ng-model="data.loadAbility40HC" />
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Carton Box Dimension (L/W/H)</label>
                                                <label class="input">
                                                    <input avs-number ng-decimal="1" style="width: 30%; margin-right: 3%; float: left; text-align: right;" type="text" ng-model="data.cartonBoxDimL" />
                                                    <input avs-number ng-decimal="1" style="width: 30%; margin-right: 3%; float: left; text-align: right;" type="text" ng-model="data.cartonBoxDimW" />
                                                    <input avs-number ng-decimal="1" style="width: 30%; margin-right: 3%; float: left; text-align: right;" type="text" ng-model="data.cartonBoxDimH" />
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="label">Net Weight</label>
                                                <label class="input">
                                                    <input avs-number ng-decimal="2" type="text" style="text-align: right;" ng-model="data.netWeight" />
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">Gross Weight</label>
                                                <label class="input">
                                                    <input avs-number ng-decimal="2" type="text" style="text-align: right;" ng-model="data.grossWeight" />
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">Item/Box</label>
                                                <label class="input">
                                                    <input avs-number type="text" style="text-align: right;" ng-model="data.itemPerBox" />
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">Box/Set</label>
                                                <label class="input">
                                                    <input avs-number type="text" style="text-align: right;" ng-model="data.boxPerSet" />
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>
                                </fieldset>
                            </div>
                        </div>

                        <div class="tab-pane" id="tabQARemark">
                            <div class="smart-form">
                                <fieldset style="padding: 0px; border-top: none;">
                                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="jarviswidget" id="wid-id-remark" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" role="widget">
                                            <h2>QA Remark: #{{data.displayIndex}} - {{data.articleDescription}}</h2>
                                            <div role="content">
                                                <div class="widget-body no-padding">
                                                    <div class="widget-body-toolbar">
                                                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="event.addQARemark()"><i class="fa fa-plus"></i> Add</a>
                                                    </div>
                                                    <div class="smart-form">
                                                        <fieldset>
                                                            <div class="smart-timeline">
                                                                <ul class="smart-timeline-list">
                                                                    <li ng-repeat="item in data.sampleQARemarkDTOs | orderBy: '-updatedDate'">
                                                                        <div class="smart-timeline-icon">
                                                                            <i class="fa fa-user"></i>
                                                                        </div>
                                                                        <div class="smart-timeline-time">
                                                                            <a ng-if="item.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                                                <small><strong>{{item.updatorName}}</strong></small>
                                                                            </a>
                                                                            <br />
                                                                            <small>{{item.updatedDate}}</small>
                                                                        </div>
                                                                        <div class="smart-timeline-content">
                                                                            <p ng-bind-html="method.formatRemark(item.remark)"></p>                                                                           
                                                                            <br />
                                                                            <section>
                                                                                <label class="label">Attachment</label>
                                                                                <ul style="margin-left: 15px;">
                                                                                    <li ng-repeat="image in item.sampleQARemarkImageDTOs" style="padding: 0px;">
                                                                                        <a href="{{image.fileLocation}}" target="_blank">{{image.friendlyName}}</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </section>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <div class="widget-footer" style="text-align: left;">
                                                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="event.addQARemark()"><i class="fa fa-plus"></i> Add</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>

                                </fieldset>
                            </div>
                        </div>

                        <div class="tab-pane" id="tabProgress">
                            <div class="smart-form">

                                <fieldset style="padding: 0px; border-top: none;">
                                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="jarviswidget" id="wid-id-product" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" role="widget">
                                            <h2>Progress: #{{data.displayIndex}} - {{data.articleDescription}}</h2>
                                            <div role="content">
                                                <div class="widget-body no-padding">
                                                    <div class="widget-body-toolbar">
                                                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="event.addProgress()" ng-if="data.sampleProductStatusID != 7 && data.sampleProductStatusID != 9"><i class="fa fa-plus"></i> Add New Progress</a>
                                                    </div>
                                                    <div class="smart-form">
                                                        <fieldset>
                                                            <div class="smart-timeline">
                                                                <ul class="smart-timeline-list">
                                                                    <li ng-repeat="item in data.sampleProgressDTOs | orderBy: '-version'">
                                                                        <div class="smart-timeline-icon" id="progress-{{item.sampleProgressID}}">
                                                                            <i class="fa fa-user"></i>
                                                                        </div>
                                                                        <div class="smart-timeline-time">
                                                                            <a ng-if="item.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                                                <small><strong>{{item.updatorName}}</strong></small>
                                                                            </a>
                                                                            <br />
                                                                            <small>{{item.updatedDate}}</small>
                                                                            <br />
                                                                            <a href="javascript:void(0)" class="btn btn-success btn-xs" style="width: 70px; margin-bottom: 5px;" ng-click="event.editProgress(item)"><i class="fa fa-pencil"></i> Edit</a>
                                                                            <br />
                                                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus("Sample2Mng", Frontend.Helper.ActionEnum.Reset, HttpContext.Current) != "disabled")
                                                                            {
                                                                                <a href="javascript:void(0)" class="btn btn-danger btn-xs" style="width: 70px; margin-bottom: 5px;" ng-click="event.removeProgress(item)"><i class="fa fa-times"></i> Remove</a>
                                                                            }
                                                                        </div>
                                                                        <div class="smart-timeline-content">
                                                                            <p>
                                                                                <a href="javascript:void(0);"><strong>#{{item.version}}</strong></a>
                                                                            </p>
                                                                            <p ng-bind-html="method.formatRemark(item.remark)"></p>
                                                                            <ul class="ulcols-4">
                                                                                <li ng-repeat="image in item.sampleProgressImageDTOs">
                                                                                    <div class="content">
                                                                                        <a class="thumbnail gallery" href="{{image.fileLocation}}" data-featherlight-gallery>
                                                                                            <div class="img" style="background: url('{{image.thumbnailLocation}}') no-repeat center center; background-size: contain;"></div>
                                                                                        </a>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                            <div class="clear"></div>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <div class="widget-footer" style="text-align: left;">
                                                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="event.addProgress()" ng-if="data.sampleProductStatusID != 7 && data.sampleProductStatusID != 9"><i class="fa fa-plus"></i> Add New Progress</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </fieldset>
                            </div>
                        </div>

                        <div class="tab-pane" id="tabBreakdown">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="smart-form" style="padding:0px">
                                        <div class="row" ng-show="data.factoryBreakdownDTO.sampleProductID!=null">
                                            <section class="col col-sm-3">
                                                <label class="label">
                                                    Factory Price ($)
                                                </label>
                                                <label class="input">
                                                    <input avs-currency ng-data-source="data.factoryBreakdownDTO.indicatedPrice" ng-decimal="2" style="text-align:right" />
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Packing Dimension (L/W/H)</label>
                                                <label class="input">
                                                    <input avs-number ng-decimal="1" style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="Length" type="text" ng-model="data.factoryBreakdownDTO.packingDimensionL" />
                                                    <input avs-number ng-decimal="1" style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="Width" type="text" ng-model="data.factoryBreakdownDTO.packingDimensionW" />
                                                    <input avs-number ng-decimal="1" style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="Height" type="text" ng-model="data.factoryBreakdownDTO.packingDimensionH" />
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Cushion Dimension (L/W/H)</label>
                                                <label class="input">
                                                    <input avs-number ng-decimal="1" style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="Length" type="text" ng-model="data.factoryBreakdownDTO.cushionDimensionL" />
                                                    <input avs-number ng-decimal="1" style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="Width" type="text" ng-model="data.factoryBreakdownDTO.cushionDimensionW" />
                                                    <input avs-number ng-decimal="1" style="width: 30%; margin-right: 3%; float: left; text-align: right;" placeholder="Height" type="text" ng-model="data.factoryBreakdownDTO.cushionDimensionH" />
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-sm-12">
                                                <div class="widget-body">
                                                    <div class="tilsoft-table-wrapper">
                                                        <div class="tilsoft-table">
                                                            <div class="tilsoft-table-body" style="width:100%; max-width:600px; overflow-y:auto; height:auto; min-height:100px; margin-top:0px">
                                                                <table>
                                                                    <tbody>
                                                                        <tr>
                                                                            <th style="width: 30px"></th>
                                                                            <th style="width:300px">Name</th>
                                                                            <th style="width:100px">Unit</th>
                                                                            <th style="width:100px">Quantity</th>
                                                                            <th>Remark</th>
                                                                        </tr>
                                                                        <tr ng-repeat="item in data.factoryBreakdownDTO.factoryBreakdownDetailDTOs">
                                                                            <td style="width: 30px; text-align: center">{{$index + 1}}</td>
                                                                            <td style="width:300px">
                                                                                {{item.breakdownCategoryNM}}
                                                                            </td>
                                                                            <td style="width:100px">
                                                                                <input class="form-control" style="text-align:center" type="text" ng-model="item.unitNM" ng-show="!data.factoryBreakdownDTO.isConfirmed" />
                                                                                <span ng-show="data.factoryBreakdownDTO.isConfirmed" style="text-align:center">{{item.unitNM}}</span>
                                                                            </td>
                                                                            <td style="width:100px; text-align: right;">
                                                                                <input maxlength="12" avs-number ng-data-source="item.quantity" class="form-control" ng-decimal="4" min="1" ng-show="!data.factoryBreakdownDTO.isConfirmed" style="text-align:right" />
                                                                                <span ng-show="data.factoryBreakdownDTO.isConfirmed">{{item.quantity | number: 4}}</span>
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" type="text" ng-model="item.remark" ng-show="!data.factoryBreakdownDTO.isConfirmed" />
                                                                                <span ng-show="data.factoryBreakdownDTO.isConfirmed">{{item.remark}}</span>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@Html.Partial("~/Views/SampleItemMng/EditProgress.cshtml")
@Html.Partial("~/Views/SampleItemMng/EditQARemark.cshtml")
@Html.Partial("~/Views/SampleItemMng/Finish.cshtml")

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "SampleItemMng")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)" ng-disabled="data.isConfirmed"><i class="fa fa-save"></i></a>
        </li>
        @*<li class="sparks-info">
                <a href="javascript:void(0)" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)" ng-disabled="data.isConfirmed"><i class="fa fa-times"></i></a>
            </li>
            <li class="sparks-info">
                <a href="javascript:void(0)" class="btn btn-default" title="Print"><i class="fa fa-print"></i></a>
            </li>
            <li class="sparks-info">
                <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Approve, HttpContext.Current))" title="Approve" ng-click="event.approve($event)" ng-disabled="data.isConfirmed"><i class="fa fa-thumbs-o-up"></i></a>
            </li>
            <li class="sparks-info">
                <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Reset, HttpContext.Current))" title="Reset Approval status" ng-click="event.reset($event)" ng-disabled="!data.isConfirmed"><i class="fa fa-thumbs-o-down"></i></a>
            </li>*@
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/sampleitemmng/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize: @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"],
            cookieID: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
            urlService: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/sampleitemmng/',
            backendReportUrl: '@backendReportUrl',
            id: @ViewBag.ID
        }
    </script>
    <script src="~/Views/SampleItemMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/SampleItemMng/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

