@{
    ViewBag.Title = "Initialize to create new purchasing invoice";
    ViewBag.Module = "Purchasing Invoice";
}

<div class="row">

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-search"></i> </span>
                <h2>Select invoice type to create invoice</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <form class="smart-form">
                        <fieldset>
                            <section>
                                <div class="inline-group">
                                    <label class="radio" ng-repeat="item in invoiceTypes">
                                        <input type="radio" name="radio-inline-invoicetype" ng-model="$parent.invoiceTypeSelectedValue" ng-value="item.invoiceTypeValue" ng-change="selectedInvoiceType(invoiceTypeSelectedValue)">
                                        <i></i>{{item.invoiceTypeText}}
                                    </label>
                                </div>
                            </section>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" ng-show="invoiceTypeSelectedValue==2">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Select supplier invoice</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">

                    <input class="form-control m-bottom-15" type="text" id="supplierValueSearch" ng-model="supplierFilterValue" placeholder="enter supplier name or code to search">

                    <div id="supplierTable" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1100px;">
                                <div style="width: 60px;"></div>
                                <div style="width: 80px;" class="sorting" data-colname="supplierUD">Supplier Code</div>
                                <div style="width: 500px;" class="sorting" data-colname="supplierNM">Supplier Name</div>
                                <div class="sorting" data-colname="address">Supplier Address</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1100px; ">
                                <table>
                                    <tr ng-repeat="item in suppliers | supplier_Filter : supplierFilterValue | orderBy: 'supplierUD'">
                                        <td style="text-align: center; width: 60px;">
                                            <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "PurchasingInvoice")/0?invoiceType={{invoiceTypeSelectedValue}}&supplierID={{item.supplierID}}" title="Edit" target="_blank">Select</a>
                                        </td>
                                        <td style="width: 80px;">{{item.supplierUD}}</td>
                                        <td style="width: 500px;">{{item.supplierNM}}</td>
                                        <td>{{item.address}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" ng-show="invoiceTypeSelectedValue==1">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Select booking to create invoice</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">

                    <input class="form-control search-filter m-bottom-15" type="text" id="BLNo" ng-model="filters.BLNo" placeholder="enter the blNo and press enter to search booking">

                    <div id="searchTableContent" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1500px;">
                                <div style="width: 60px;"></div>
                                <div style="width: 150px;" class="sorting" data-colname="orderAmount">BL No</div>
                                <div style="width: 80px;" class="sorting" data-colname="ShipedDate">Shiped Date</div>
                                <div style="width: 500px;" class="sorting" data-colname="SupplierNM">Supplier</div>
                                <div style="width: 150px;" class="sorting" data-colname="POLName">POL</div>
                                <div style="width: 150px;" class="sorting" data-colname="PODName">POD</div>
                                <div style="width: 200px;" class="sorting" data-colname="Feeder">Feeder</div>
                                <div class="sorting_" data-colname="ForwarderNM">Forwarder</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1500px; ">
                                <table>
                                    <tr ng-repeat="item in data">
                                        <td style="text-align: center; width: 60px;">
                                            <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "PurchasingInvoice")/0?invoiceType={{invoiceTypeSelectedValue}}&bookingID={{item.bookingID}}" title="Edit" target="_blank">Select</a>
                                        </td>
                                        <td style="width: 150px;">{{item.blNo}}</td>
                                        <td style="width: 80px;">{{item.shipedDate}}</td>
                                        <td style="width: 500px;">{{item.supplierNM}}</td>
                                        <td style="width: 150px;">{{item.polName}}</td>
                                        <td style="width: 150px;">{{item.podName}}</td>
                                        <td style="width: 200px;">{{item.feeder}}</td>
                                        <td>{{item.forwarderNM}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </article>
</div>


@section pagepopup
{
}


@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.searchBooking()"><i class=" fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.searchBooking()"><i class="fa fa-refresh"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/purchasingInvoice/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">

        jQuery('.search-filter').keypress(function(e){
            if (e.keyCode == 13) {
                var scope = angular.element(jQuery('body')).scope();
                scope.event.searchBooking();
            }
        });

        var searchGrid = jQuery('#searchTableContent').scrollableTable(
            function(currentPage){
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function(){
                    scope.pageIndex = currentPage;
                    purchasingInvoiceService.searchFilter.pageIndex = scope.pageIndex;
                    scope.getBooking();
                });
            },
            function(sortedBy, sortedDirection){
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function(){
                    purchasingInvoiceService.searchFilter.sortedDirection = sortedDirection;
                    scope.pageIndex = 1;
                    purchasingInvoiceService.searchFilter.pageIndex = scope.pageIndex;
                    purchasingInvoiceService.searchFilter.sortedBy = sortedBy;
                    scope.getBooking();
                });
            }
        );

        purchasingInvoiceService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/PurchasingInvoice/';
        purchasingInvoiceService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        purchasingInvoiceService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];

        var modelApp = angular.module('tilsoftApp', []);

        modelApp.filter('supplier_Filter', function () {
            return function (suppliers, supplierValue) {
                var items = {
                    supplierUD: supplierValue,
                    supplierNM: supplierValue,
                    out: []
                }
                if (supplierValue ==''){
                    return suppliers ;
                }
                angular.forEach(suppliers, function (value, key) {
                    pushed = false;
                    if (this.supplierUD!='')
                    {
                        pushed = pushed || (value.supplierUD.toUpperCase().indexOf(this.supplierUD.toUpperCase()) >= 0);
                    }
                    if (this.supplierNM!='')
                    {
                        pushed = pushed ||  (value.supplierNM.toUpperCase().indexOf(this.supplierNM.toUpperCase()) >= 0);
                    }
                    if (pushed) {
                        this.out.push(value);
                    }
                }, items);
                return items.out;
            };
        });


        modelApp.controller('tilsoftController', ['$scope', function ($scope) {
            $scope.data = null;
            $scope.supportData = null;
            $scope.invoiceTypes = null;
            $scope.suppliers = null;
            
            $scope.supplierFilterValue = '';
            $scope.invoiceTypeSelectedValue = 1;

            $scope.pageIndex = 1;
            $scope.totalPage = 0;
            $scope.filters = {
               BLNo : ''
            };

            $scope.event = {
                searchBooking: function(){
                    purchasingInvoiceService.searchFilter.filters = $scope.filters;
                    purchasingInvoiceService.searchFilter.sortedBy = 'BLNo';
                    $scope.getBooking();
                },
                load: function(){
                    $scope.getInitData();
                    $scope.event.searchBooking();
                },
            },

            $scope.getInitData = function () {
                purchasingInvoiceService.getInitData(
                    function (data) {
                        $scope.invoiceTypes = data.data.invoiceTypes;
                        $scope.suppliers = data.data.suppliers;
                        $scope.$apply();

                        jQuery('#content').show();
                    },
                    function (error) {
                    }
                );
            },

            $scope.getBooking = function () {
                purchasingInvoiceService.getBookings(
                    function (data) {
                        $scope.data = data.data;
                        $scope.totalPage = Math.ceil(data.totalRows / purchasingInvoiceService.searchFilter.pageSize);
                        $scope.$apply();

                        if(data.totalRows < purchasingInvoiceService.searchFilter.pageSize) {
                            jQuery('#searchTableContent').find('ul').hide();
                        }
                        else {
                            jQuery('#searchTableContent').find('ul').show();
                        }

                        jQuery('#content').show();
                        searchGrid.updateLayout();
                    },
                    function (error) {
                        $scope.data = null;
                        $scope.pageIndex = 1;
                        $scope.totalPage = 0;
                        $scope.$apply();
                    }
                );
            },

            $scope.selectedInvoiceType = function(x){
                
            }

            $scope.event.load();
        }]);
    </script>
}
