<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
        <header>
            <span class="widget-icon">
                <i class="fa fa-database"></i>
            </span>
            <h2>Select type of offer</h2>
        </header>
        <div>
            <div class="widget-body">
                <div class="smart-form">
                    <section>
                        <div class="inline-group">
                            <label class="radio" ng-repeat="item in offerSeasonTypeDTOs | orderBy : 'displayOrder'">
                                <input type="radio" name="radio-inline" ng-model="param.selectedOfferSeasonTypeID" ng-value="item.offerSeasonTypeID">
                                <i></i>{{item.offerSeasonTypeNM}}
                            </label>
                        </div>
                    </section>
                </div>
                <div>
                    <a class="btn btn-warning btn-sm" href="@Url.Action("Index", "OfferSeasonMng")"><i class="fa fa-times"></i> Cancel</a>
                    <a href="@Url.Action("Edit", "OfferSeasonMng")/0?typeID=1#/edit-warehouse-form" ng-if="param.selectedOfferSeasonTypeID==1" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Next</a>
                    <a href="@Url.Action("Edit", "OfferSeasonMng")/0?typeID=2#/edit-fob-product-form" ng-if="param.selectedOfferSeasonTypeID==2" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Next</a>
                    <a href="@Url.Action("Edit", "OfferSeasonMng")/0?typeID=3#/edit-fob-product-form" ng-if="param.selectedOfferSeasonTypeID==3" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Next</a>
                    <a href="@Url.Action("Edit", "OfferSeasonMng")/0?typeID=4#/edit-fob-sparepart-form" ng-if="param.selectedOfferSeasonTypeID==4" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Next</a>
                    <a href="@Url.Action("Edit", "OfferSeasonMng")/0?typeID=5#/edit-fob-sparepart-form" ng-if="param.selectedOfferSeasonTypeID==5" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Next</a>                    
                </div>
            </div>
        </div>
    </div>
</article>
