@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var pageSize = System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();

    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New PI";
    }
    else
    {
        ViewBag.Title = "Edit PI";
    }
    ViewBag.Module = "Proforma Invoice";

    string orderType = string.Empty;
    if (Request.Params.AllKeys.Contains("t"))
    {
        orderType = Request.Params["t"].ToString();
    }

}
<form name="editForm" id="main-form" class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet"> General Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabTermAndCurrency"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet"> Term & Currency Information <span ng-show="editForm.vatPercent.$error.required"><i class="fa fa-warning" style="color:red"></i>VAT is require</span></span> </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#tabPIPrintout"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet"> PI Printout Description</span> </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#tabWarehouseReturn"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Warehouse Return</span> </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#tabTracking"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet"> Tracking</span> </a>
                    </li>

                </ul>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <div class="tab-content">

                        <div class="tab-pane active" id="tabGeneral">
                            <div>
                                <div class="row">
                                    <div class="col col-lg-2 ">
                                        <label>Prof.No / <a href="#" class="btn btn-primary btn-xs" style="font-size: 9px;" ng-click="returnGoodsForm.event.load($event)">Return goods</a></label>
                                        <span class="form-control">{{saleorder.saleOrderData.proformaInvoiceNo}}</span>
                                    </div>

                                    <div class="col col-lg-1 ">
                                        <label>Order Type</label>
                                        <select ng-change="event.clearDetail(saleorder.saleOrderData.orderType)" ng-if="saleorder.saleOrderData.saleOrderID == 0 || saleorder.saleOrderData.saleOrderID == null" name="orderTypes" class="form-control" ng-model="saleorder.saleOrderData.orderType" ng-options="item.id as item.name for item in support.orderTypes" required>
                                            <option value=""></option>
                                        </select>
                                        <span ng-if="saleorder.saleOrderData.saleOrderID != 0 && saleorder.saleOrderData.saleOrderID != null" class="form-control">{{saleorder.saleOrderData.orderType}}</span>
                                        <span class="help-block" ng-show="editForm.orderTypes.$error.required"><i class="fa fa-warning"></i>Order type is required.</span>
                                    </div>

                                    <div class="col col-lg-1 ">
                                        <label>Season</label>
                                        <select name="season" class="form-control" ng-model="saleorder.saleOrderData.season" ng-options="season.seasonValue as season.seasonText for season in saleorder.seasons" required>
                                            <option value=""></option>
                                        </select>
                                        <span class="help-block" ng-show="editForm.season.$error.required"><i class="fa fa-warning"></i>Season is required.</span>
                                    </div>

                                    <div class="col col-lg-2 ">
                                        <label>PI Status</label>
                                        <span class="form-control">{{saleorder.saleOrderData.trackingStatusNM}}</span>
                                    </div>

                                    <div class="col col-lg-2 ">
                                        <label>LDS / <input type="checkbox" ng-model="saleorder.saleOrderData.isViewLDSOnPrintout">View on printout</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="saleorder.saleOrderData.ldsFormated" name="ldsFormated" ng-required="event.ldS_DeliveryDate_Require()" autocomplete="off">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <span class="help-block" ng-show="editForm.ldsFormated.$error.required && editForm.deliveryDateFormated.$error.required"><i class="fa fa-warning"></i>LDS required.</span>
                                    </div>

                                    <div class="col col-lg-2 ">
                                        <label>Delivery Date / <input type="checkbox" ng-model="saleorder.saleOrderData.isViewDeliveryDateOnPrintout">View on printout</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="saleorder.saleOrderData.deliveryDateFormated" name="deliveryDateFormated" ng-required="event.ldS_DeliveryDate_Require()" autocomplete="off">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <span class="help-block" ng-show="editForm.ldsFormated.$error.required && editForm.deliveryDateFormated.$error.required"><i class="fa fa-warning"></i>Delivery date is required.</span>
                                    </div>

                                    <div class="col col-lg-2 ">
                                        <label>Delivery Date Internal</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="saleorder.saleOrderData.deliveryDateInternalFormated" autocomplete="off">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>



                                </div>

                                <div class="row">
                                    <div class="col col-lg-2 ">
                                        <label>Invoice Date</label>
                                        <div class="input-group">
                                            <input name="invoiceDateFormated" type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="saleorder.saleOrderData.invoiceDateFormated" required autocomplete="off">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <span class="help-block" ng-show="editForm.invoiceDateFormated.$error.required"><i class="fa fa-warning"></i>Invoice date is required.</span>
                                    </div>


                                    <div class="col col-lg-2 ">
                                        <label>Client Reference</label>
                                        <input class="form-control" type="text" id="reference" ng-model="saleorder.saleOrderData.reference">
                                    </div>

                                    <div class="col col-lg-2 ">
                                        <label>Conditions</label>
                                        <input class="form-control" type="text" id="conditions" ng-model="saleorder.saleOrderData.conditions">
                                    </div>

                                    <div class="col col-lg-2 ">
                                        <label>
                                            Payment Status
                                        </label>

                                        <select name="paymentStatus" class="form-control" ng-model="saleorder.saleOrderData.paymentStatusID" ng-options="item.paymentStatusID as item.paymentStatusNM for item in saleorder.paymentStatuses">
                                            <option value=""></option>
                                        </select>
                                    </div>

                                    <div class="col col-lg-2 ">
                                        <label>Payment Date</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="saleorder.saleOrderData.paymentDateFormated" ng-required="saleorder.saleOrderData.paymentStatusID==1 || saleorder.saleOrderData.paymentStatusID==2" name="paymentDateFormated" autocomplete="off">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <span class="help-block" ng-show="editForm.paymentDateFormated.$error.required"><i class="fa fa-warning"></i>Payment Date is required in case pament status is LC DONE or DP DONE</span>
                                    </div>

                                    <div class="col col-lg-2 ">
                                        <label>Payment Remark</label>
                                        <input class="form-control" type="text" id="paymentRemark" ng-model="saleorder.saleOrderData.paymentRemark" name="paymentRemark" ng-required="saleorder.saleOrderData.paymentStatusID==3">
                                        <span class="help-block" ng-show="editForm.paymentRemark.$error.required"><i class="fa fa-warning"></i>Payment Remark is required in case put in production without LC/DP</span>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col col-lg-2 m-bottom-15">
                                        <label><input type="checkbox" id="ispiReceived" ng-model="saleorder.saleOrderData.ispiReceived" ng-change="event.ispiReceivedChecked()"> Signed PI Received/Received Date</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="saleorder.saleOrderData.piReceivedDateFormated">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>

                                    <div class="col col-lg-2 m-bottom-15">
                                        <label>Signed PI Received By</label>
                                        <input class="form-control" type="text" id="piReceivedBy" ng-model="saleorder.saleOrderData.piReceivedBy">
                                    </div>

                                    <div class="col col-lg-2 m-bottom-15">
                                        <label>Signed PI Remark</label>
                                        <input class="form-control" type="text" id="piReceivedRemark" ng-model="saleorder.saleOrderData.piReceivedRemark">
                                    </div>

                                    @*<div class="col col-lg-2">
                                            <label><a href="@Url.Action("Edit", "ClientPayment")/{{saleorder.saleOrderData.clientPaymentID}}" target="_blank">Payment Received Detail</a></label>
                                            <ul>
                                                <li style="display:inline"><input type="checkbox"  ng-model="saleorder.saleOrderData.isdpReceived"  disabled="disabled"/>&nbsp;DP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                <li style="display:inline"><input type="checkbox" ng-model="saleorder.saleOrderData.islcReceived"  disabled="disabled"/>&nbsp;LC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                <li style="display:inline"><input type="checkbox"  ng-model="saleorder.saleOrderData.isnaReceived" disabled="disabled"/>&nbsp;N/A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                            </ul>
                                        </div>

                                        <div class="col col-lg-2">
                                            <label>Payment Received Date</label>
                                            <span class="form-control">{{saleorder.saleOrderData.paymentDateFormated}}</span>
                                        </div>*@

                                    <div class="col col-lg-2">
                                        <label>Client Order Number</label>
                                        <input class="form-control" type="text" id="clientOrderNumber" ng-model="saleorder.saleOrderData.clientOrderNumber">
                                    </div>

                                    <div class="col col-lg-3 m-bottom-15">
                                        <label><input type="checkbox" id="ispiReceived" ng-model="saleorder.saleOrderData.isViewQuantity20DCOnPrintout"> View on printout <b>/ 20 / 40 / 40'HC / LCL</b></label>
                                        <table>
                                            <tr>
                                                <td style="text-align:center"><input class="form-control" ng-model="saleorder.saleOrderData.quantity20DC" placeholder="20DC" name="quantity20DC" ng-required="event.quantityContainerRequire()" /></td>
                                                <td style="text-align:center"><input class="form-control" ng-model="saleorder.saleOrderData.quantity40DC" placeholder="40DC" name="quantity40DC" ng-required="event.quantityContainerRequire()" /></td>
                                                <td style="text-align:center"><input class="form-control" ng-model="saleorder.saleOrderData.quantity40HC" placeholder="40'HC" name="quantity40HC" ng-required="event.quantityContainerRequire()" /></td>
                                                <td style="text-align:center"><input class="form-control" ng-model="saleorder.saleOrderData.lessThanContainerLoad" placeholder="LCL" name="lessThanContainerLoad" ng-required="event.quantityContainerRequire()" /></td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <span class="help-block" ng-show="editForm.quantity20DC.$error.required && editForm.quantity40DC.$error.required && editForm.quantity40HC.$error.required && editForm.lessThanContainerLoad.$error.required"><i class="fa fa-warning"></i>One of 4 fiels 20DC / 40DC / 40HC / LDL is require</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col col-lg-3">
                                        <br />
                                        <label>Signed PI Attach File: @Html.Partial("~/Views/Shared/_Controls/_FileUploadBox.cshtml", new Frontend.Models.FileUploadViewModel() { ControlID = "1", URLBinding = "saleorder.saleOrderData.signedPIFileURL", FileName = "saleorder.saleOrderData.signedPIFileFriendlyName", JSOnChangeHandler = "changeSignedPIFile", JSONRemoveHandler = "removeSignedPIFile" }) </label>

                                    </div>
                                    <div class="col col-lg-3">
                                        <br />
                                        <label>Client's PO Attach File: @Html.Partial("~/Views/Shared/_Controls/_FileUploadBox.cshtml", new Frontend.Models.FileUploadViewModel() { ControlID = "2", URLBinding = "saleorder.saleOrderData.clientPOFileURL", FileName = "saleorder.saleOrderData.clientPOFriendlyName", JSOnChangeHandler = "changeClientPOFile", JSONRemoveHandler = "removeClientPOFile" }) </label>
                                    </div>
                                    <div class="col col-lg-2">
                                        <label>Total amount</label>
                                        <span class="form-control">{{(method.calTotalAmountPI() | number : 2)}}</span>
                                    </div>
                                    <div class="col col-lg-2">
                                        <label>Client code</label>
                                        <span class="form-control">{{saleorder.saleOrderData.clientUD}}</span>
                                    </div>
                                    <div class="col col-lg-2">
                                        <label>Client name</label>
                                        <span class="form-control">{{saleorder.saleOrderData.clientNM}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tabTermAndCurrency">
                            <div class="row">
                                <div class="col-sm-2 m-bottom-15">
                                    <label>Payment Term</label>
                                    <select class="form-control" ng-model="saleorder.saleOrderData.paymentTermID" ng-options="item.paymentTermID as item.paymentTermNM for item in saleorder.paymentTerms" ng-click="event.selectedPaymentTerm(saleorder.saleOrderData.paymentTermID)">
                                        <option value=""></option>
                                    </select>
                                </div>

                                <div class="col-sm-2 m-bottom-15">
                                    <label>Delivery Term</label>
                                    <select class="form-control" ng-model="saleorder.saleOrderData.deliveryTermID" ng-options="item.deliveryTermID as item.deliveryTermNM for item in saleorder.deliveryTerms" ng-click="event.selectedDelivery(saleorder.saleOrderData.deliveryTermID)">
                                        <option value=""></option>
                                    </select>
                                </div>

                                <div class="col-sm-2 m-bottom-15">
                                    <label>Payment Type</label>
                                    <span class="form-control">{{saleorder.saleOrderData.paymentTypeNM}}</span>
                                </div>

                                <div class="col-sm-2 m-bottom-15">
                                    <label>Delivery Type</label>
                                    <span class="form-control">{{saleorder.saleOrderData.deliveryTypeNM}}</span>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-sm-2 m-bottom-15">
                                    <label>VAT</label>
                                    <select class="form-control" name="vatPercent" ng-model="saleorder.saleOrderData.vatPercent" ng-options="item.vatPercentValue as item.vatPercentText for item in saleorder.vatPercents" required>
                                        <option value=""></option>
                                    </select>
                                    <span class="help-block" ng-show="editForm.vatPercent.$error.required"><i class="fa fa-warning"></i>VAT is required.</span>
                                </div>

                                <div class="col-sm-2 m-bottom-15">
                                    <label>Currency</label>
                                    <span class="form-control">{{saleorder.saleOrderData.currency}}</span>
                                </div>

                                <div class="col-sm-2 m-bottom-15">
                                    <label>Discount</label>
                                    <input class="form-control" type="text" id="discount" ng-model="saleorder.saleOrderData.discount" style="text-align:right">
                                </div>

                                <div class="col-sm-2 m-bottom-15">
                                    <label>Transportation</label>
                                    <input class="form-control" type="text" id="transportation" ng-model="saleorder.saleOrderData.transportation" style="text-align:right">
                                </div>

                                <div class="col-sm-2 m-bottom-15">
                                    <label>Commission Percent(%)</label>
                                    <input class="form-control" type="text" id="commissionPercent" ng-model="saleorder.saleOrderData.commissionPercent" style="text-align:right">
                                </div>

                                @*<div class="col-sm-2 m-bottom-15">
                                        <label>Commission</label>
                                        <input class="form-control" type="text" id="commission" ng-model="saleorder.saleOrderData.commission" style="text-align:right">
                                    </div>*@


                            </div>
                        </div>

                        <div class="tab-pane" id="tabPIPrintout">
                            <div class="row">
                                <div class="col-sm-6 m-bottom-15">
                                    <div>
                                        <a class="btn btn-primary btn-xs font-11" href="javascript:void(0);" ng-click="event.addDescription($event,'TOP')" style="margin-bottom: 10px;"><i class="fa fa-plus"></i> Add line</a>
                                    </div>
                                    <div id="topDescription" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-body" style="width: 600px; height: auto;margin-top:0px">
                                                <table>
                                                    <tr>
                                                        <th style="width: 120px;"></th>
                                                        <th style="width: 70px;" class="sorting" data-colname="rowIndex">INDEX</th>
                                                        <th style="width: 90px;" class="sorting" data-colname="costType">COST TYPE</th>
                                                        <th class="sorting" data-colname="description">TOP DESCRIPTION</th>
                                                        <th style="width: 100px;" class="sorting" data-colname="totalAmount">Amount</th>
                                                    </tr>
                                                    <tr ng-repeat="top_item in saleorder.saleOrderData.saleOrderExtends | filter : { position: 'TOP' } | orderBy : 'rowIndex'">
                                                        <td style="text-align: center; ">
                                                            <a href="#" class="btn btn-primary btn-xs font-11" title="Insert" ng-click="event.insertDescription($event, 'TOP',top_item.rowIndex)"><i class="fa fa-level-down"></i> Insert</a>
                                                            <a href="#" class="btn btn-danger btn-xs font-11" title="Delete" ng-click="event.removeDescription($event, top_item.saleOrderExtendID)"><i class="fa fa-times"></i>Del</a>
                                                        </td>
                                                        <td><input class="form-control" type="text" name="rowIndex" ng-model="top_item.rowIndex"></td>
                                                        <td>
                                                            <select class="form-control" name="costType" ng-model="top_item.costType" ng-options="sItem.costTypeValue as sItem.costTypeText for sItem in saleorder.costTypes">
                                                                <option value=""></option>
                                                            </select>
                                                        </td>
                                                        <td><input class="form-control" type="text" name="description" ng-model="top_item.description"></td>
                                                        <td>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">{{saleorder.saleOrderData.currency == 'USD' ? '$' : ''}} {{saleorder.saleOrderData.currency == 'EUR' ? '€' : ''}}</span>
                                                                <input type="text" class="form-control" ng-model="top_item.totalAmount" style="text-align:right" ng-currency fraction="2" currency-symbol="" />
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 m-bottom-15">
                                    <div>
                                        <a class="btn btn-primary btn-xs font-11" href="javascript:void(0);" ng-click="event.addDescription($event,'BOTTOM')" style="margin-bottom: 10px;"><i class="fa fa-plus"></i> Add line</a>
                                    </div>

                                    <div id="bottomDescription" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-body" style="width: 600px; height:auto;margin-top:0px">
                                                <table>
                                                    <tr>
                                                        <th style="width: 120px;"></th>
                                                        <th style="width: 70px;" class="sorting" data-colname="rowIndex">INDEX</th>
                                                        <th style="width: 90px;" class="sorting" data-colname="costType">COST TYPE</th>
                                                        <th class="sorting" data-colname="description">BOTTOM DESCRIPTION</th>
                                                        <th style="width: 100px;" class="sorting" data-colname="totalAmount">Amount</th>
                                                    </tr>
                                                    <tr ng-repeat="item in saleorder.saleOrderData.saleOrderExtends | filter : { position: 'BOTTOM' } | orderBy : 'rowIndex'">
                                                        <td style="text-align: center; ">
                                                            <a href="#" class="btn btn-primary btn-xs font-11" title="Insert" ng-click="event.insertDescription($event, 'BOTTOM',item.rowIndex)"><i class="fa fa-level-down"></i> Insert</a>
                                                            <a href="#" class="btn btn-danger btn-xs font-11" title="Delete" ng-click="event.removeDescription($event, item.saleOrderExtendID)"><i class="fa fa-times"></i>Del</a>
                                                        </td>
                                                        <td><input class="form-control" type="text" name="rowIndex" ng-model="item.rowIndex"></td>
                                                        <td>
                                                            <select class="form-control" name="costType" ng-model="item.costType" ng-options="sItem.costTypeValue as sItem.costTypeText for sItem in saleorder.costTypes">
                                                                <option value=""></option>
                                                            </select>
                                                        </td>
                                                        <td><input class="form-control" type="text" name="description" ng-model="item.description"></td>
                                                        <td style="text-align:right">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">{{saleorder.saleOrderData.currency == 'USD' ? '$' : ''}} {{saleorder.saleOrderData.currency == 'EUR' ? '€' : ''}}</span>
                                                                <input type="text" class="form-control" ng-model="item.totalAmount" style="text-align:right" ng-currency fraction="2" currency-symbol="" />
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="tab-pane" id="tabWarehouseReturn">
                            <div class="row">
                                <div id="warehouseImport" class="tilsoft-table-wrapper">
                                    <div class="tilsoft-table">
                                        <div class="tilsoft-table-body" style="width: 1000px; height:auto;margin-top:0px">
                                            <table>
                                                <tr>
                                                    <th data-colname="invoiceNo" style="width: 80px;"></th>
                                                    <th data-colname="invoiceNo" style="width: 300px;">Warehouse Import Receipt No</th>
                                                    <th data-colname="factoryInvoiceNo" style="width: 300px;">Import Date</th>
                                                    <th data-colname="blNo">Import Type</th>
                                                </tr>
                                                <tr ng-repeat="item in saleorder.saleOrderData.warehouseImports">
                                                    <td style="text-align:center">
                                                        <a href="@Url.Action("Return", "WarehouseImport")/{{item.warehouseImportID}}" title="Open warehouse import" class="btn btn-primary btn-xs font-11" target="_blank"><i class="fa fa-folder-open">View</i></a>
                                                    </td>
                                                    <td>
                                                        {{item.receiptNo}}
                                                    </td>
                                                    <td>
                                                        {{item.importedDate}}
                                                    </td>
                                                    <td>
                                                        {{item.importTypeNM}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="tab-pane" id="tabTracking">
                            <div class="row">
                                <div class="col-sm-2 m-bottom-15">
                                    <label>Created By</label>
                                    <span class="form-control">
                                        <a ng-show="(saleorder.saleOrderData.createdBy != null && saleorder.saleOrderData.creatorName2 != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{saleorder.saleOrderData.createdBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                            <i class="fa fa-user"></i> {{saleorder.saleOrderData.creatorName2}}
                                        </a>
                                        <span ng-show="(saleorder.saleOrderData.createdBy != null && saleorder.saleOrderData.creatorName2 == null && saleorder.saleOrderData.creatorName != null)">{{saleorder.saleOrderData.creatorName}}</span>
                                    </span>
                                </div>
                                <div class="col-sm-2 m-bottom-15">
                                    <label>Created Date</label>
                                    <span class="form-control">{{saleorder.saleOrderData.createdDateFormated}}</span>
                                </div>
                                <div class="col-sm-2 m-bottom-15">
                                    <label>Updated By</label>
                                    <span class="form-control">
                                        <a ng-show="(saleorder.saleOrderData.updatedBy != null && saleorder.saleOrderData.updatorName2 != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{saleorder.saleOrderData.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                            <i class="fa fa-user"></i> {{saleorder.saleOrderData.updatorName2}}
                                        </a>
                                        <span ng-show="(saleorder.saleOrderData.updatedBy != null && saleorder.saleOrderData.updatorName2 == null && saleorder.saleOrderData.updatorName != null)">{{saleorder.saleOrderData.updatorName}}</span>
                                    </span>
                                </div>
                                <div class="col-sm-2 m-bottom-15">
                                    <label>Updated Date</label>
                                    <span class="form-control">{{saleorder.saleOrderData.updatedDateFormated}}</span>
                                </div>
                            </div>
                            @*<div class="row">
                                    <div class="col-sm-2 m-bottom-15">
                                        <label>SaleOrderID</label>
                                        <input class="form-control" type="text" id="v4ID" ng-model="saleorder.saleOrderData.v4id">
                                    </div>
                                    <div class="col-sm-2 m-bottom-15">
                                        <label>OMSv4 ProformaInvoice No</label>
                                        <input class="form-control" type="text" id="v4ID" ng-model="saleorder.saleOrderData.v4piNo">
                                    </div>
                                </div>*@
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabProduct"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Product</span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabSparepart"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Sparepart</span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <div class="tab-content">

                        <div class="tab-pane active" id="tabProduct">
                            <div class="row">
                                <div class="col-sm-12 m-bottom-15">
                                    <a href="javascript:void(0)" ng-disabled ="editForm.orderTypes.$error.required" class="btn btn-primary btn-xs" style="margin-bottom: 10px;" ng-click="event.frmAddProduct_onOpen()">Add Product</a>
                                    <a href="javascript:void(0)" ng-disabled="editForm.orderTypes.$error.required" class="btn btn-danger btn-xs" style="margin-bottom: 10px;" ng-click="event.removeAllProduct()">Remove All Product</a>
                                    <div id="saleOrderDetail" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-header" style="width: {{saleorder.saleOrderData.orderType=='WAREHOUSE' ? '1750' : '1300'}}px">
                                                <div style="width: 100px; "></div>
                                                <div style="width: 300px;" class="sorting" data-colname="description">Desciption</div>
                                                <div style="width: 70px; " class="sorting" data-colname="quantity">Offer Qnt</div>
                                                <div style="width: 70px; " class="sorting" data-colname="physicalQnt" ng-if="saleorder.saleOrderData.orderType=='WAREHOUSE'">Physi cal</div>
                                                <div style="width: 70px; " class="sorting" data-colname="onSeaQnt" ng-if="saleorder.saleOrderData.orderType=='WAREHOUSE'">on Sea</div>
                                                <div style="width: 70px; " class="sorting" data-colname="tobeShippedQnt" ng-if="saleorder.saleOrderData.orderType=='WAREHOUSE'">tobe Shipped</div>
                                                <div style="width: 70px; " class="sorting" data-colname="reservationQnt" ng-if="saleorder.saleOrderData.orderType=='WAREHOUSE'">reser vation</div>
                                                <div style="width: 70px; " class="sorting" data-colname="ftsQnt" ng-if="saleorder.saleOrderData.orderType=='WAREHOUSE'">FTS</div>
                                                <div style="width: 90px; " class="sorting" data-colname="productStatusID" ng-if="saleorder.saleOrderData.orderType=='WAREHOUSE'">Product Status</div>
                                                <div style="width: 70px;" class="sorting" data-colname="orderQnt">Order Qnt</div>
                                                <div style="width: 110px; " class="sorting" data-colname="unitPrice">Unit Price</div>
                                                <div style="width: 130px; " class="sorting" data-colname="unitPrice">Amount</div>
                                                <div style="width: 100px;" class="sorting" data-colname="clientArticleCode">Client Art Code</div>
                                                <div style="width: 150px; " class="sorting" data-colname="clientArticleName">Client Art Name</div>
                                                <div style="width: 150px;" class="sorting" data-colname="clientEANCode">Client EAN Code</div>
                                                <div class="sorting" data-colname="reference">Reference</div>
                                            </div>

                                            <div class="tilsoft-table-body" style="width: {{saleorder.saleOrderData.orderType=='WAREHOUSE' ? '1750' : '1300'}}px">
                                                <table>
                                                    <tbody ng-repeat="item in saleorder.saleOrderData.saleOrderDetails | saleOrderDetail_Filter : articleCode_filter : description_filter : quantity_filter : v4id_filter">
                                                        <tr>
                                                            <td style="width: 100px; text-align: center; ">
                                                                <a href="javascript:void(0)" style="width: 85px; margin-bottom: 5px;" class="btn btn-primary btn-xs" title="Add Product Line Desription" ng-click="event.viewDetailExtend($event,item.saleOrderDetailID)"><i id="icon-detail-description-{{item.saleOrderDetailID}}" class="fa fa-plus-square-o"></i> Description</a>
                                                                <a href="javascript:void(0)" style="width: 85px; margin-bottom: 5px;" class="btn btn-danger btn-xs" title="Remove" ng-click="event.removeProduct(item)" ng-if="!item.isFactoryOrderCreated">Remove</a>
                                                            </td>
                                                            <td style="width: 300px;text-align:left;">
                                                                <strong>{{item.articleCode}}</strong>
                                                                <br />
                                                                {{item.description}}
                                                                <span ng-if="item.offerItemTypeID === 1 && item.approverName" style="color: #0000ff;">
                                                                    <br />
                                                                    APPROVED ({{item.approverName}} on {{item.approvedDate}})
                                                                </span>
                                                                <span ng-if="item.offerItemTypeID === 1 && !item.approverName" style="color: #a76318;">
                                                                    <br />
                                                                    PENDING
                                                                </span>
                                                            </td>
                                                            <td style="width: 70px; text-align: right; vertical-align:central"><span class="form-control">{{item.quantity | number}}</span></td>
                                                            <td style="width: 70px; text-align: right; vertical-align:central" ng-if="saleorder.saleOrderData.orderType=='WAREHOUSE'"><span class="form-control">{{item.physicalQnt | number}}</span></td>
                                                            <td style="width: 70px; text-align: right; vertical-align:central" ng-if="saleorder.saleOrderData.orderType=='WAREHOUSE'"><span class="form-control">{{item.onSeaQnt | number}}</span></td>
                                                            <td style="width: 70px; text-align: right; vertical-align:central" ng-if="saleorder.saleOrderData.orderType=='WAREHOUSE'"><span class="form-control">{{item.tobeShippedQnt | number}}</span></td>
                                                            <td style="width: 70px; text-align: right; vertical-align:central" ng-if="saleorder.saleOrderData.orderType=='WAREHOUSE'"><span class="form-control">{{item.reservationQnt | number}}</span></td>
                                                            <td style="width: 70px; text-align: right; vertical-align:central" ng-if="saleorder.saleOrderData.orderType=='WAREHOUSE'"><span class="form-control">{{item.ftsQnt | number}}</span></td>
                                                            <td style="width: 90px;" ng-if="saleorder.saleOrderData.orderType=='WAREHOUSE'">
                                                                <select class="form-control" name="productStatusID" ng-model="item.productStatusID" ng-options="sItem.productStatusID as sItem.productStatusNM for sItem in saleorder.productStatuses">
                                                                    <option value=""></option>
                                                                </select>
                                                            </td>
                                                            <td style="width: 70px; "><input class="form-control" type="text" name="orderQnt" ng-model="item.orderQnt" style="text-align:right" ng-keyup="event.orderQntKeyUp($event,$index)" id="{{$index}}"></td>
                                                            <td style="width: 110px; text-align: right;">
                                                                {{item.unitPrice| currency : (saleorder.saleOrderData.currency == 'USD' ? '$' : '€') : 2}}
                                                                <div class="input-group" style="display: none;">
                                                                    <span class="input-group-addon">{{saleorder.saleOrderData.currency == 'USD' ? '$' : ''}} {{saleorder.saleOrderData.currency == 'EUR' ? '€' : ''}}</span>
                                                                    <input type="text" class="form-control furnindo-currency" ng-model="item.unitPrice" style="text-align:right" ng-currency fraction="2" currency-symbol="" />
                                                                </div>
                                                            </td>
                                                            <td style="width: 130px; text-align: right">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">{{saleorder.saleOrderData.currency == 'USD' ? '$' : ''}} {{saleorder.saleOrderData.currency == 'EUR' ? '€' : ''}}</span>
                                                                    <span class="form-control" style="text-align:right">
                                                                        {{item.unitPrice * item.orderQnt | number : 2}}
                                                                    </span>
                                                                </div>
                                                            </td>
                                                            <td style="width: 100px;"><input class="form-control" type="text" name="clientArticleCode" ng-model="item.clientArticleCode"></td>
                                                            <td style="width: 150px;"><input class="form-control" type="text" name="clientArticleName" ng-model="item.clientArticleName"></td>
                                                            <td style="width: 150px;"><input class="form-control" type="text" name="clientEANCode" ng-model="item.clientEANCode"></td>
                                                            <td><input class="form-control" type="text" name="reference" ng-model="item.reference"></td>
                                                        </tr>

                                                        <tr style="display:none" id="{{item.saleOrderDetailID}}">
                                                            <td></td>
                                                            <td colspan="12">
                                                                <a class="btn btn-primary btn-xs font-11" href="javascript:void(0);" ng-click="detailExtendForm.event.add($event,item.saleOrderDetailID)" style="margin-bottom: 10px;"><i class="fa fa-plus"></i> Add line</a>
                                                                <div class="tilsoft-table">
                                                                    <div class="tilsoft-table-body" style="width: 1000px; height: auto; margin-top:0px">
                                                                        <table>
                                                                            <tr style="width: 1000px;">
                                                                                <th style="width: 120px;"></th>
                                                                                <th style="width: 70px;" class="sorting" data-colname="rowIndex">Index</th>
                                                                                <th class="sorting" data-colname="description">Description</th>
                                                                            </tr>
                                                                            <tr ng-repeat="item_detail_description in item.saleOrderDetailExtends | orderBy : 'rowIndex'">
                                                                                <td text-align center;">
                                                                                    <a href="#" class="btn btn-primary btn-xs font-11" title="Insert" ng-click="detailExtendForm.event.insert($event,item.saleOrderDetailID,item_detail_description.rowIndex)"><i class="fa fa-level-down"></i> Insert</a>
                                                                                    <a href="#" class="btn btn-danger btn-xs font-11" title="Delete" ng-click="detailExtendForm.event.remove($event,item.saleOrderDetailID,item_detail_description.saleOrderDetailExtendID)"><i class="fa fa-times"></i>Del</a>
                                                                                </td>
                                                                                <td><input class="form-control" type="text" name="rowIndex" ng-model="item_detail_description.rowIndex"></td>
                                                                                <td><input class="form-control" type="text" name="description" ng-model="item_detail_description.description"></td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                    <tr>
                                                        <td style="width: 100px; text-align: center; ">
                                                            Total Price:
                                                        </td>
                                                        <td style="width: 300px;"></td>
                                                        <td style="width: 60px; text-align: right; "></td>
                                                        <td style="width: 70px; text-align: right; " ng-if="saleorder.saleOrderData.orderType=='WAREHOUSE'"></td>
                                                        <td style="width: 70px; text-align: right; " ng-if="saleorder.saleOrderData.orderType=='WAREHOUSE'"></td>
                                                        <td style="width: 70px; text-align: right; " ng-if="saleorder.saleOrderData.orderType=='WAREHOUSE'"></td>
                                                        <td style="width: 70px; text-align: right; " ng-if="saleorder.saleOrderData.orderType=='WAREHOUSE'"></td>
                                                        <td style="width: 70px; text-align: right; " ng-if="saleorder.saleOrderData.orderType=='WAREHOUSE'"></td>
                                                        <td style="width: 90px;" ng-if="saleorder.saleOrderData.orderType=='WAREHOUSE'"></td>
                                                        <td style="width: 70px;"></td>
                                                        <td style="width: 110px;"></td>
                                                        <td style="width: 130px; text-align: right">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">{{saleorder.saleOrderData.currency == 'USD' ? '$' : ''}} {{saleorder.saleOrderData.currency == 'EUR' ? '€' : ''}}</span>
                                                                <span class="form-control" style="text-align:right">
                                                                    {{method.calTotalAmount() | number : 2}}
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td style="width: 100px;"></td>
                                                        <td style="width: 150px;"></td>
                                                        <td style="width: 150px;"></td>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tabSparepart">
                            <div class="row">
                                <div class="col-sm-12 m-bottom-15">
                                    <a href="javascript:void(0)" ng-disabled="editForm.orderTypes.$error.required" class="btn btn-primary btn-xs" style="margin-bottom: 10px;" ng-click="event.frmAddSparepart_onOpen()">Add Sparepart</a>
                                    <a href="javascript:void(0)" ng-disabled="editForm.orderTypes.$error.required" class="btn btn-danger btn-xs" style="margin-bottom: 10px;" ng-click="event.removeAllSparepart()">Remove All Sparepart</a>
                                    <div id="saleOrderDetailSparepart" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-header" style="width: 1500px;">
                                                <div style="width: 80px;"></div>
                                                <div style="width: 320px;" class="sorting" data-colname="description">Desciption</div>
                                                <div style="width: 150px; " class="sorting" data-colname="productStatusID">Product Status</div>
                                                <div style="width: 70px;" class="sorting" data-colname="orderQnt">Order Qnt</div>
                                                <div style="width: 110px; " class="sorting" data-colname="unitPrice">Unit Price</div>
                                                <div style="width: 110px; " class="sorting" data-colname="unitPrice">Amount</div>
                                                <div style="width: 200px; " class="sorting" data-colname="clientArticleCode">Client Art.Code</div>
                                                <div style="width: 200px; " class="sorting" data-colname="clientArticleName">Cient Art.Name</div>
                                                <div class="sorting" data-clienteancode="unitPrice">Client EAN Code</div>
                                            </div>
                                            <div class="tilsoft-table-body" style="width: 1500px;">
                                                <table>
                                                    <tr ng-repeat="item in saleorder.saleOrderData.saleOrderDetailSpareparts">
                                                        <td style="width: 80px;">
                                                            <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-if="!item.isFactoryOrderCreated" ng-click="event.removeSparepart(item)">Remove</a>
                                                        </td>
                                                        <td style="width: 320px; text-align:left;"><span style="font-weight:bold;">{{item.articleCode}}</span><br />{{item.description}}</td>
                                                        <td style="width: 150px;">
                                                            <select class="form-control" name="productStatusID" ng-model="item.productStatusID" ng-options="sItem.productStatusID as sItem.productStatusNM for sItem in saleorder.productStatuses">
                                                                <option value=""></option>
                                                            </select>
                                                        </td>
                                                        <td style="width: 70px;"><input class="form-control" type="text" name="orderQnt" ng-model="item.orderQnt" style="text-align:right"></td>
                                                        <td style="width: 110px;">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">{{saleorder.saleOrderData.currency == 'USD' ? '$' : ''}} {{saleorder.saleOrderData.currency == 'EUR' ? '€' : ''}}</span>
                                                                <input type="text" class="form-control furnindo-currency" ng-model="item.unitPrice" style="text-align:right" ng-currency fraction="2" currency-symbol="" />
                                                            </div>
                                                        </td>
                                                        <td style="width: 110px;">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">{{saleorder.saleOrderData.currency == 'USD' ? '$' : ''}} {{saleorder.saleOrderData.currency == 'EUR' ? '€' : ''}}</span>
                                                                <span class="form-control" style="text-align:right">
                                                                    {{item.unitPrice * item.orderQnt | number : 2}}
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td style="width:200px"><input class="form-control" ng-model="item.clientArticleCode" /></td>
                                                        <td style="width:200px"><input class="form-control" ng-model="item.clientArticleName" /></td>
                                                        <td><input class="form-control" ng-model="item.clientEANCode" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

<div id="reportTemplate" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Select template to print</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <div class="col-xs-9 col-lg-6">
                            <select class="form-control" id="reportName" ng-model="saleorder.saleOrderData.defaultPiReport" ng-options="reportTemplate.reportTemplateNM as reportTemplate.reportTemplateNM for reportTemplate in saleorder.reportTemplates | filter:{'reportType':'PI'}:true">
                                <option value=""></option>
                            </select>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" ng-click="event.printPI($event,saleorder.saleOrderData.defaultPiReport)">
                    PRINT
                </button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmAddProduct" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="margin-top:90px !important">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 class="modal-title">Add Product</h4>
            </div>
            <div class="modal-body smart-form" style="padding: 0px;">
                <div>
                    <div class="widget-body">
                        <table class="table table-bordered table-striped" style="box-sizing: border-box;">
                            <thead>
                                <tr>
                                    <th style="width: 70px;">
                                        <a href="javascript:void(0)" ng-click="event.frmAddProduct_selectAll()">Select All</a>
                                        <a href="javascript:void(0)" ng-click="event.frmAddProduct_unSelectAll()">Un-Select All</a>
                                    </th>
                                    <th>Description</th>
                                    <th>Sale Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in offerLine" ng-if="!event.checkHasAddedProduct(item.offerLineID)">
                                    <td><input type="checkbox" ng-model="item.isSelected" @*ng-if="item.offerItemTypeID !== 1 || item.approverName"*@ /></td>
                                    <td>
                                        <strong>{{item.articleCode}}</strong>
                                        <br />
                                        {{item.description}}
                                    </td>
                                    <td style="text-align: right;">
                                        {{item.offerSalePrice | currency : (saleorde.saleOrderData.currency == 'USD' ? '$' : '€') : 2}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="event.frmAddProduct_onOK()">
                    Add
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmAddSparepart" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="margin-top:90px !important">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 class="modal-title">Add Sparepart</h4>
            </div>
            <div class="modal-body smart-form" style="padding: 0px;">
                <div>
                    <div class="widget-body">
                        <table class="table table-bordered table-striped" style="box-sizing: border-box;">
                            <thead>
                                <tr>
                                    <th style="width: 70px;">
                                        <a href="javascript:void(0)" ng-click="event.frmAddSparepart_selectAll()">Select All</a>
                                        <a href="javascript:void(0)" ng-click="event.frmAddSparepart_unSelectAll()">Un-Select All</a>
                                    </th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in offerLineSparepart" ng-if="!event.checkHasAddedSparepart(item.offerLineSparepartID)">
                                    <td><input type="checkbox" ng-model="item.isSelected" /></td>
                                    <td>
                                        <strong>{{item.articleCode}}</strong>
                                        <br />
                                        {{item.description}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="event.frmAddSparepart_onOK()">
                    Add
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@section pagepopup2
{
    <div id="returnOrderFormMain" class="row" style="display:none">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                <header>
                    <h2>Return Product</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div class="smart-form">
                            <fieldset>
                                <a class="btn btn-primary btn-xs font-11" href="javascript:void(0);" ng-click="returnOrderForm.event.openAddGoodsForm($event)" style="margin-bottom: 10px;"><i class="fa fa-plus"></i> Add goods</a>
                                <table class="table table-bordered table-hover custom-table dataTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 100px; text-align:center" data-colname="cotainerNo">CONTAINER NO</th>
                                            <th style="width: 100px; text-align: center" data-colname="blNo">BL NO</th>
                                            <th style="width: 100px; text-align: center" data-colname="loadingPlanUD">LOADING REF</th>
                                            <th style="width: 100px; text-align: center" data-colname="factoryOrderUD">FACTORY ORDER</th>
                                            <th style="width: 100px; text-align: center" data-colname="factoryUD">FACTORY</th>
                                            <th style="width: 100px; text-align: center" data-colname="articleCode">ARTICLECODE</th>
                                            <th data-colname="description" style="text-align: center">DESCRIPTION</th>
                                            <th style="width: 60px; text-align: center" data-colname="remaingReturnQnt">RETURN REMAINING QNT</th>
                                            <th style="width: 60px; text-align: center" data-colname="orderQnt">RETURN QNT</th>
                                            <th style="width: 70px; text-align: center" data-colname="cotainerNo">RETURN AT PI. NO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in saleorder.saleOrderData.saleOrderProductReturns">
                                            <td>{{item.containerNo}}</td>
                                            <td>{{item.blNo}}</td>
                                            <td>{{item.loadingPlanUD}}</td>
                                            <td>{{item.factoryOrderUD}}</td>
                                            <td>{{item.factoryUD}}</td>
                                            <td>{{item.articleCode}}</td>
                                            <td>{{item.description}}</td>
                                            <td>{{item.remaingReturnQnt}}</td>
                                            <td>{{item.orderQnt}}</td>
                                            <td><a href="@Url.Action("Edit", "SaleOrder", new { id = UrlParameter.Optional, id2 = UrlParameter.Optional })/{{item.newSaleOrderID}}/{{item.newOfferID}}" target="_blank">{{item.newPINo}} </a></td>
                                        </tr>
                                        <tr ng-repeat="item in saleorder.saleOrderData.saleOrderSparepartReturns">
                                            <td>{{item.containerNo}}</td>
                                            <td>{{item.blNo}}</td>
                                            <td>{{item.loadingPlanUD}}</td>
                                            <td>{{item.factoryOrderUD}}</td>
                                            <td>{{item.factoryUD}}</td>
                                            <td>{{item.articleCode}}</td>
                                            <td>{{item.description}}</td>
                                            <td>{{item.remaingReturnQnt}}</td>
                                            <td>{{item.orderQnt}}</td>
                                            <td><a href="@Url.Action("Edit", "SaleOrder", new { id = UrlParameter.Optional, id2 = UrlParameter.Optional })/{{item.newSaleOrderID}}/{{item.newOfferID}}" target="_blank">{{item.newPINo}} </a></td>
                                        </tr>

                                    </tbody>
                                </table>

                            </fieldset>
                            <footer>
                                <button class="btn btn-primary" type="button" ng-click="returnOrderForm.event.confirmReturnData($event)">
                                    ACCEPT RETURN GOODS
                                </button>
                                <button class="btn btn-default" type="button" ng-click="returnOrderForm.event.cancel($event)">
                                    CANCEL
                                </button>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div id="returnOrderForm" class="row" style="display:none">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                <header>
                    <h2>Select product to return</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div class="smart-form">
                            <fieldset>
                                <table class="table table-bordered table-hover custom-table dataTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 100px;" data-colname="cotainerNo">CONTAINER NO</th>
                                            <th style="width: 100px;" data-colname="blNo">BL NO</th>
                                            <th>GOODS INFO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in returnOrderForm.loadingPlanData">
                                            <td>
                                                {{item.containerNo}}
                                            </td>
                                            <td>
                                                {{item.blNo}}
                                            </td>
                                            <td>
                                                <div class="add_product">
                                                    <table class="table table-bordered table-hover custom-table dataTable">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 20px;"></th>
                                                                <th style="width: 100px;" data-colname="articleCode">ARTICLECODE</th>
                                                                <th style="width: 40px;" data-colname="quantity">ORDER QNT</th>
                                                                <th style="width: 40px;" data-colname="quantity">SHIPPED QNT</th>
                                                                <th style="width: 40px;" data-colname="totalReturnQnt">TOTAL RETURN QNT</th>
                                                                <th style="width: 40px;" data-colname="remaingReturnQnt">REMAINING QNT</th>
                                                                <th data-colname="description">DESCRIPTION</th>
                                                                <th style="width: 40px;" data-colname="quantity">RETURN QNT</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item_detail in item.loadingPlanDetails">
                                                                <td style="text-align:center"><input type="checkbox" ng-model="item_detail.isSelected" id="chk-{{item_detail.loadingPlanDetailID}}" /></td>
                                                                <td>{{item_detail.articleCode}}</td>
                                                                <td style="text-align:right">{{item_detail.saleOrderQnt}}</td>
                                                                <td style="text-align:right">{{item_detail.shippedQnt}}</td>
                                                                <td style="text-align:right">{{item_detail.totalReturnQnt}}</td>
                                                                <td style="text-align:right">{{item_detail.remaingReturnQnt}}</td>
                                                                <td>{{item_detail.description}}</td>
                                                                <td><input type="text" ng-model="item_detail.returnQnt" class="form-control" /></td>
                                                            </tr>
                                                            <tr ng-repeat="item_detail in item.loadingPlanSparepartDetails">
                                                                <td style="text-align:center"><input type="checkbox" ng-model="item_detail.isSelected" id="chk-{{item_detail.loadingPlanSparepartDetailID}}" /></td>
                                                                <td>{{item_detail.articleCode}}</td>
                                                                <td style="text-align:right">{{item_detail.saleOrderQnt}}</td>
                                                                <td style="text-align:right">{{item_detail.shippedQnt}}</td>
                                                                <td style="text-align:right">{{item_detail.totalReturnQnt}}</td>
                                                                <td style="text-align:right">{{item_detail.remaingReturnQnt}}</td>
                                                                <td>{{item_detail.description}}</td>
                                                                <td><input type="text" ng-model="item_detail.returnQnt" class="form-control" /></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                            <footer>
                                <button class="btn btn-primary" type="button" ng-click="returnOrderForm.event.addGoods($event)">
                                    ADD
                                </button>
                                <button class="btn btn-default" type="button" ng-click="returnOrderForm.event.cancel($event)">
                                    CANCEL
                                </button>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div id="returnGoodsForm" class="row" style="display:none">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                <header>
                    <h2>Select product to return</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div class="smart-form">
                            <fieldset>
                                <table class="table table-bordered table-hover custom-table dataTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 20px;"></th>
                                            <th style="width: 100px;" data-colname="cotainerNo">CONTAINER NO</th>
                                            <th style="width: 100px;" data-colname="blNo">BL NO</th>
                                            <th>GOODS INFO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in returnGoodsForm.loadingPlanData">
                                            <td style="text-align:center"><input type="checkbox" ng-model="item.isSelected" id="chk-{{item.loadingPlanID}}" ng-change="returnGoodsForm.event.selectedCont($event,item.isSelected,item.loadingPlanID)" /></td>
                                            <td>
                                                {{item.containerNo}}
                                            </td>
                                            <td>
                                                {{item.blNo}}
                                            </td>
                                            <td>
                                                <div class="add_product">
                                                    <table class="table table-bordered table-hover custom-table dataTable">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 100px;" data-colname="articleCode">ARTICLECODE</th>
                                                                <th style="width: 40px;" data-colname="quantity">ORDER QNT</th>
                                                                <th style="width: 40px;" data-colname="quantity">SHIPPED QNT</th>
                                                                <th style="width: 40px;" data-colname="totalReturnQnt">TOTAL RETURN QNT</th>
                                                                <th style="width: 40px;" data-colname="remaingReturnQnt">REMAINING QNT</th>
                                                                <th style="width: 40px;" data-colname="quantity">RETURN QNT</th>
                                                                <th data-colname="description">DESCRIPTION</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item_detail in item.loadingPlanDetail2s">
                                                                <td>{{item_detail.articleCode}}</td>
                                                                <td style="text-align:right">{{item_detail.saleOrderQnt}}</td>
                                                                <td style="text-align:right">{{item_detail.shippedQnt}}</td>
                                                                <td style="text-align:right">{{item_detail.totalReturnQnt}}</td>
                                                                <td style="text-align:right">{{item_detail.remaingReturnQnt}}</td>
                                                                <td><input type="text" ng-model="item_detail.returnQnt" class="form-control" style="text-align:center" /></td>
                                                                <td>{{item_detail.description}}</td>
                                                            </tr>
                                                            <tr ng-repeat="item_detail in item.loadingPlanSparepartDetail2s">
                                                                <td>{{item_detail.articleCode}}</td>
                                                                <td style="text-align:right">{{item_detail.saleOrderQnt}}</td>
                                                                <td style="text-align:right">{{item_detail.shippedQnt}}</td>
                                                                <td style="text-align:right">{{item_detail.totalReturnQnt}}</td>
                                                                <td style="text-align:right">{{item_detail.remaingReturnQnt}}</td>
                                                                <td><input type="text" ng-model="item_detail.returnQnt" class="form-control" style="text-align:center" /></td>
                                                                <td>{{item_detail.description}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                            <footer>
                                <button class="btn btn-primary" type="button" ng-click="returnGoodsForm.event.ok($event)">
                                    Accept return goods
                                </button>
                                <button class="btn btn-default" type="button" ng-click="returnGoodsForm.event.cancel($event)">
                                    Cancel
                                </button>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>

}

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="#" ng-if="saleorder.saleOrderData.trackingStatusID!=3 && saleorder.saleOrderData.trackingStatusID!=5" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>

        <li class="sparks-info">
            <a href="@Url.Action("Index", "SaleOrderMng")/{{saleorder.saleOrderData.offerID}}" class="btn btn-default" title="Back to Sale Order"><i class="fa fa-arrow-left"></i></a>
        </li>


        <li class="sparks-info">
            <a href="javascript:void(0);" ng-if="saleorder.saleOrderData.trackingStatusID!=3 && saleorder.saleOrderData.trackingStatusID!=5" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Approve, HttpContext.Current))" title="Confirm" style="color: #0066ff; " ng-click="event.confirmdata($event,@ViewBag.ID,false)"><i class="fa fa-check"></i></a>
        </li>

        <li class="sparks-info">
            <a href="javascript:void(0);" ng-if="saleorder.saleOrderData.trackingStatusID!=3 && saleorder.saleOrderData.trackingStatusID!=5" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Approve, HttpContext.Current))" title="Confirm without signed" style="color: #0066ff; " ng-click="event.confirmdata($event,@ViewBag.ID,true)"><i class="fa fa-check-square-o"></i></a>
        </li>

        <li class="sparks-info">
            <a href="javascript:void(0);" ng-if="saleorder.saleOrderData.trackingStatusID ==3 || saleorder.saleOrderData.trackingStatusID==5" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Approve, HttpContext.Current))" title="Revise" style="color: #ff0000;" ng-click="event.revise($event,@ViewBag.ID)"><i class="fa fa-reply"></i></a>
        </li>

        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Print, HttpContext.Current))" title="Print PI" ng-click="event.getPrintTemplate($event)"><i class="fa fa-print"></i></a>
        </li>

        <li class="sparks-info">
            <a href="javascript:void(0);" ng-if="saleorder.saleOrderData.trackingStatusID!=3 && saleorder.saleOrderData.trackingStatusID!=5 && !item.isFactoryOrderCreated" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.deletedata($event)"><i class="fa fa-times"></i></a>
        </li>

        <li class="sparks-info">
            <a href="@Url.Action("Edit", "OfferToClientMng")/{{saleorder.saleOrderData.offerID}}?ClientID={{saleorder.saleOrderData.clientID}}&season={{saleorder.saleOrderData.season}}&currency={{saleorder.saleOrderData.currency}}#/" class="btn btn-default" title="Go to Offer To Client" style="color: #0066ff;" target="_blank"><i class="fa fa-arrow-left"></i></a>
        </li>

        <li class="sparks-info">
            <a href="@Url.Action("FaO", "FactoryOrder")/@ViewBag.ID/{{saleorder.saleOrderData.offerID}}" class="btn btn-default" title="Go to factory order" style="color: #0066ff;" target="_blank"><i class="fa fa-arrow-right"></i></a>
        </li>



    </ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            id: '@ViewBag.ID',
            offerID : '@ViewBag.OfferID',
            token: '@token',
            backUrl: '@Url.Action("Index", "saleordermng")',
            refreshUrl: '@Url.Action("Edit", "SaleOrderMng", new { id = UrlParameter.Optional, id2 = UrlParameter.Optional })/',
            serviceUrl: '@(serviceRoot)/api/saleordermng/',
            orderType: '@orderType',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            currentUser: '@Frontend.Helper.AuthHelper.GetCurrentUserInfo(HttpContext.Current).Data.FullName',
        }
    </script>
    <script type="text/javascript" src="~/Views/SaleOrderMng/edit.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/SaleOrderMng/service.js?v=@guid"></script>
}

