@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var pageSize = System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    ViewBag.Title = "Search Sale Order";
    ViewBag.Module = "Sale Order";
    ViewBag.Icon = "fa-bar-chart-o";
}

<form class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Search Results</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header">
                                <div style="width:120px;vertical-align:middle;text-align:center">
                                    Found(s)<br />
                                    <strong style="color:maroon">
                                        {{totalRows}} <font style="color:maroon; text-transform:none">row(s)</font>
                                    </strong>
                                </div>
                                <div class="sorting" style="width:140px;vertical-align:middle;text-align:center" data-colname="Season">Season</div>
                                <div class="sorting" style="width:130px;vertical-align:middle;text-align:center" data-colname="CLientUD">Client Code</div>
                                <div class="sorting" style="width:180px;vertical-align:middle;text-align:center" data-colname="ClientNM">Client Name</div>
                                <div class="sorting" style="width:110px;vertical-align:middle;text-align:center" data-colname="ProformaInvoiceNo">P/I No</div>
                                <div style="vertical-align:middle;text-align:center;width:150px">Updated By</div>
                                <div style="vertical-align:middle;text-align:center;width:110px">Updated Date</div>
                                <div style="vertical-align:middle;text-align:center">Remark</div>
                            </div>
                            <div class="tilsoft-table-filter" style="top: 50px">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                <div style="width:120px;text-align:center;vertical-align:middle;border-right:solid 1px #ddd">
                                                    <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.refresh()"><i class="fa fa-filter"></i></a>
                                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clear()"><i class="fa fa-ban"></i></a>
                                                </div>
                                            </th>
                                            <th>
                                                <div style="width:140px;text-align:center;vertical-align:middle;border-right:solid 1px #ddd">
                                                    <select class="form-control search-filter" ng-model="filters.Season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                            </th>
                                            <th>
                                                <div style="width:130px;text-align:center;vertical-align:middle;border-right:solid 1px #ddd">
                                                    <input class="search-filter form-control" style="text-align:left;font-weight:normal" type="text" maxlength="255" ng-model="filters.ClientUD" />
                                                </div>
                                            </th>
                                            <th>
                                                <div style="width:180px;text-align:center;vertical-align:middle;border-right:solid 1px #ddd">
                                                    <input class="search-filter form-control" style="text-align:left;font-weight:normal" type="text" maxlength="255" ng-model="filters.ClientNM" />
                                                </div>
                                            </th>
                                            <th>
                                                <div style="width:110px;text-align:center;vertical-align:middle;border-right:solid 1px #ddd">
                                                    <input class="search-filter form-control" style="text-align:left;font-weight:normal" type="text" maxlength="255" ng-model="filters.PINo" />
                                                </div>
                                            </th>
                                            <th style="width:150px;border-right:solid 1px #ddd">

                                            </th>
                                            <th style="width:110px;border-right:solid 1px #ddd"></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tilsoft-table-body" style="margin-top: 95px">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="item in data">
                                            <td style="width:120px;text-align:center;vertical-align:middle">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {
                                                    <a class="btn btn-default btn-xs font-11" href="@Url.Action("Overview", "SaleOrderMng")/{{item.saleOrderID}}/{{item.offerID}}" title="Edit" target="_blank" style="margin-top:3px"><i class="fa fa-eye"></i>OverView</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "SaleOrderMng" )/{{item.saleOrderID}}/{{item.offerID}}" title="Edit" target="_blank"><i class="fa fa-pencil"></i> Edit</a>
                                                }
                                            </td>
                                            <td style="width:140px;text-align:center;vertical-align:middle">{{item.season}}</td>
                                            <td style="width:130px;text-align:center;vertical-align:middle">{{item.clientUD}}</td>
                                            <td style="width:180px;text-align:left;vertical-align:middle">{{item.clientNM}}</td>
                                            <td style="width:110px;text-align:center;vertical-align:middle">{{item.proformaInvoiceNo}}</td>
                                            <td style="width: 150px;text-align:left;vertical-align:middle">
                                                <a ng-show="(item.updatedBy != null && item.updatorNM != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i> {{item.updatorNM}}
                                                </a>
                                            </td>
                                            <td style="text-align:left;text-align:center;vertical-align:middle;width: 110px">{{item.updatedDate}}</td>
                                            <td style="text-align:left;vertical-align:middle">{{item.remark}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <span>Found: <b>{{totalRows}}</b> record(s).</span>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.refresh()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.refresh()"><i class="fa fa-refresh"></i></a>
        </li>
        @*<li class="sparks-info">
                <a target="_blank" href="@Url.Action("Edit", "SaleOrderMng" )/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
            </li>*@
    </ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(serviceRoot)/api/saleordermng/',
            token: '@token',
            pageSize: '@pageSize',
            cookieID: '@cookieID'
        }
    </script>
    <script type="text/javascript" src="~/Views/SaleOrderMng/index.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/SaleOrderMng/service.js?=@guid"></script>
}
