@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var pageSize = System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var supportServiceRoot = (System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"]);

    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Draft Packing List";
    }
    else
    {
        ViewBag.Title = "Edit Draft Packing List";
    }

    ViewBag.Module = "DraftPackingListMng";
    string pID = "0";
    if (Request.Params["pID"] != null)
    {
        pID = Request.Params["pID"];
    }
}

<form class="row" name="editForm" id="main-form">

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#hb1"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet"> General Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#hb2"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Tracking</span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="tab-content">

                        <div class="tab-pane active" id="hb1">

                            <div class="row">

                                <div class="col-sm-2">
                                    <label>Draft PackingList Date</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="data.draftPackingListData.packingListDate">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label>Draft PackingList Code</label>
                                    <span class="form-control">{{data.draftPackingListData.draftPackingListUD}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Invoice No</label>
                                    <span class="form-control">{{data.draftPackingListData.invoiceNo}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Client Code</label>
                                    <span class="form-control">{{data.draftPackingListData.clientUD}}</span>
                                </div>
                                <div class="col-sm-2">
                                    <label>Client Invoice No</label>
                                    <span class="form-control">{{data.draftPackingListData.clientInvoiceNo}}</span>
                                </div>
                                <div class="col-sm-2">
                                    <label>Account No</label>
                                    <span class="form-control">{{data.draftPackingListData.accountNo}}</span>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Ref No</label>
                                    <span class="form-control">{{data.draftPackingListData.refNo}}</span>
                                </div>
                                <div class="col-sm-2">
                                    <label>LC Ref No</label>
                                    <span class="form-control">{{data.draftPackingListData.lcRefNo}}</span>
                                </div>
                                <div class="col-sm-2">
                                    <label>Conditions</label>
                                    <span class="form-control">{{data.draftPackingListData.conditions}}</span>
                                </div>

                                <div class="col-sm-6">
                                    <label>Remark</label>
                                    <span class="form-control">{{data.draftPackingListData.remark}}</span>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="hb2">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Created By</label>
                                    <span class="form-control">{{data.draftPackingListData.creatorName}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Created Date</label>
                                    <span class="form-control">{{data.draftPackingListData.createdDate}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Updated By</label>
                                    <span class="form-control">{{data.draftPackingListData.updatorName}}</span>
                                </div>

                                <div class="col-sm-2">
                                    <label>Updated Date</label>
                                    <span class="form-control">{{data.draftPackingListData.updatedDate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#hb6"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Product</span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#hb7"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Sparepart</span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <div class="tab-content">

                        <div class="tab-pane active" id="hb6">
                            <div class="row">
                                <div class="col-sm-12 m-bottom-15">

                                    <div id="detailTable" class="tilsoft-table-wrapper">

                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-header" style="width: 1600px;">
                                                <div class="sorting" data-colname="orderNo" style="width: 120px;">PROFORMA INVOICE NO</div>
                                                <div class="sorting" data-colname="articleCode" style="width: 110px;">ARTICLECODE</div>
                                                <div class="sorting" data-colname="description" style="width: 400px;">DESCRIPTION</div>
                                                <div class="sorting" data-colname="unit" style="width: 60px;">UNIT</div>
                                                <div class="sorting" data-colname="quantityShipped" style="width: 110px;">SHIPPED</div>
                                                <div class="sorting" data-colname="pkGs" style="width: 110px;">PKGs</div>
                                                <div class="sorting" data-colname="nettWeight" style="width: 110px;">NET WEIGHT</div>
                                                <div class="sorting" data-colname="kGs" style="width: 110px;">KGs</div>
                                                <div class="sorting" data-colname="cbMs" style="width: 110px;">CBMs</div>
                                                <div class="sorting" data-colname="remark">REMARK</div>
                                            </div>
                                            <div class="tilsoft-table-body" style="width: 1600px; ">
                                                <table>
                                                    <tr ng-repeat="item in data.draftPackingListData.draftPackingListDetail">
                                                        <td style="width: 120px;">{{item.invoiceNo}}</td>
                                                        <td style="width: 110px;">{{item.articleCode}}</td>
                                                        <td style="width: 400px;">{{item.description}}</td>
                                                        <td style="width: 60px;"><input class="form-control" type="text" name="unit" ng-model="item.unit"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="quantityShipped" ng-model="item.quantity" style="text-align:right"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="pkGs" ng-model="item.pkGs" style="text-align:right"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="nettWeight" ng-model="item.nettWeight" style="text-align:right"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="kGs" ng-model="item.kGs" style="text-align:right"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="cbMs" ng-model="item.cbMs" style="text-align:right"></td>
                                                        <td><input class="form-control" type="text" name="remark" ng-model="item.remark"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 120px; ">Total:</td>
                                                        <td style="width: 110px; "></td>
                                                        <td style="width: 400px; "></td>
                                                        <td style="width: 60px; "></td>
                                                        <td style="width: 110px; text-align:right"><span class="form-control">{{method.calTotalQuantity() | number : 0}}</span></td>
                                                        <td style="width: 110px; text-align:right"><span class="form-control">{{method.calTotalPKGs() | number : 0}}</span></td>
                                                        <td style="width: 110px; text-align:right"><span class="form-control">{{method.calTotalNettWeight() | number : 2}}</span> </td>
                                                        <td style="width: 110px; text-align:right"><span class="form-control">{{method.calTotalKGs() | number : 2}}</span> </td>
                                                        <td style="width: 110px; text-align:right"><span class="form-control">{{method.calTotalCBMs() | number : 3}}</span> </td>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="hb7">
                            <div class="row">
                                <div class="col-sm-12 m-bottom-15">

                                    <div id="detailSparepartTable" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-header" style="width: 1600px;">
                                                <div data-colname="orderNo" style="width: 120px;">PROFORMA INVOICE NO</div>
                                                <div data-colname="articleCode" style="width: 110px;">ARTICLECODE</div>
                                                <div data-colname="description" style="width: 400px;">DESCRIPTION</div>
                                                <div data-colname="unit" style="width: 60px;">UNIT</div>
                                                <div data-colname="quantityShipped" style="width: 110px;">SHIPPED</div>
                                                <div data-colname="pkGs" style="width: 110px;">PKGs</div>
                                                <div data-colname="nettWeight" style="width: 110px;">NET WEIGHT</div>
                                                <div data-colname="kGs" style="width: 110px;">KGs</div>
                                                <div data-colname="cbMs" style="width: 110px;">CBMs</div>
                                                <div data-colname="remark">REMARK</div>
                                            </div>
                                            <div class="tilsoft-table-body" style="width: 1600px; ">
                                                <table>
                                                    <tr ng-repeat="item in data.draftPackingListData.draftPackingListSparepartDetail">
                                                        <td style="width: 120px;">{{item.invoiceNo}}</td>
                                                        <td style="width: 110px;">{{item.articleCode}}</td>
                                                        <td style="width: 400px;">{{item.description}}</td>
                                                        <td style="width: 60px;"><input class="form-control" type="text" name="unit" ng-model="item.unit"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="quantityShipped" ng-model="item.quantity" style="text-align:right"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="pkGs" ng-model="item.pkGs" style="text-align:right"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="nettWeight" ng-model="item.nettWeight" style="text-align:right"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="kGs" ng-model="item.kGs" style="text-align:right"></td>
                                                        <td style="width: 110px;"><input class="form-control" type="text" name="cbMs" ng-model="item.cbMs" style="text-align:right"></td>
                                                        <td><input class="form-control" type="text" name="remark" ng-model="item.remark"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 120px; ">Total:</td>
                                                        <td style="width: 110px; "></td>
                                                        <td style="width: 400px; "></td>
                                                        <td style="width: 60px; "></td>
                                                        <td style="width: 110px; text-align:right"><span class="form-control">{{method.calTotalQuantitySparepart() | number : 0}}</span></td>
                                                        <td style="width: 110px; text-align:right"><span class="form-control">{{method.calTotalPKGsSparepart() | number : 0}}</span></td>
                                                        <td style="width: 110px; text-align:right"><span class="form-control">{{method.calTotalNettWeightSparepart() | number : 2}}</span> </td>
                                                        <td style="width: 110px; text-align:right"><span class="form-control">{{method.calTotalKGsSparepart() | number : 2}}</span> </td>
                                                        <td style="width: 110px; text-align:right"><span class="form-control">{{method.calTotalCBMsSparepart() | number : 3}}</span> </td>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Index", "DraftPackingListMng")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default @(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.remove(data.draftPackingListData.draftPackingListID)"><i class="fa fa-times"></i></a>
        </li>

        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default @(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Print, HttpContext.Current))" title="Print Draft Packing List" ng-click="event.getDraftPackingListPrintOut(data.draftPackingListData.draftPackingListID)"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            saleOrderDetailID: '@ViewBag.SaleOrderDetailID',
            factoryID: '@ViewBag.FactoryID',
            id: @ViewBag.ID,
            backUrl: '@Url.Action("Index", "DraftPackingListMng")',
            serviceUrl: '@(serviceRoot)/api/draftpackinglistmng/',
            refreshUrl: '@Url.Action("Edit", "DraftPackingListMng", new { id = UrlParameter.Optional })/',
            token: '@token',
            supportServiceUrl: '@(supportServiceRoot)/api/support/',
            msgValid: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            pID: @pID,
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'
        }
    </script>
    <script type="text/javascript" src="~/Views/DraftPackingListMng/edit.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/DraftPackingListMng/service.js?v=@guid"></script>
}