@{
    ViewBag.Title = "Search Draft Packing List";
    ViewBag.Module = "DraftPackingListMng";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-search"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="row">

                        <div class="col-sm-2">
                            <label>Draft Packing List No.</label>
                            <input class="form-control search-filter" type="text" id="draftPackingListUD" ng-model="filters.DraftPackingListUD">
                        </div>


                        <div class="col-sm-2">
                            <label>Invoice No</label>
                            <input class="form-control search-filter" type="text" id="invoiceNo" ng-model="filters.InvoiceNo">
                        </div>

                        <div class="col-sm-2">
                            <label>Client Code</label>
                            <input class="form-control search-filter" type="text" id="txtclientcode" ng-model="filters.ClientUD">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search result</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1250px;">
                                <div style="width: 100px;">
                                    <b>TOTAL:</b>
                                    <b style="color:#a90329;">{{totalRows}}</b>
                                </div>
                                <div style="width: 200px;" class="sorting" data-colname="DraftPackingListUD">DARFT PACKINGLIST NO</div>
                                <div style="width: 150px;" class="sorting" data-colname="packingListDate">PACKINGLIST DATE</div>
                                <div style="width: 200px;" class="sorting" data-colname="invoiceNo">INVOICE NO</div>
                                <div style="width: 150px;" class="sorting" data-colname="creatorName">CLIENT CODE</div>
                                <div style="width: 150px;" class="sorting" data-colname="creatorName">CREATED BY</div>
                                <div style="width: 150px;" class="sorting" data-colname="createdDate">CREATED DATE</div>
                                <div style="width: 150px;" class="sorting" data-colname="updatorName">UPDATED BY</div>
                                <div style="width: 150px;" class="sorting" data-colname="updatedDate">UPDATED DATE</div>
                                <div></div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1250px; ">
                                <table>
                                    <tbody ng-repeat="item in data">
                                        <tr>
                                            <td style="text-align: center;width:100px">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "DraftPackingListMng")/{{item.draftPackingListID}}" title="View (Read Only) title=" view (read only)" target="_blank"><i class="fa fa-folder-open"></i>View</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "DraftPackingListMng")/{{item.draftPackingListID}}" title="Edit" target="_blank"><i class="fa fa-pencil"></i>Edit</a>
                                                }

                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                                {
                                                    <a class="btn btn-danger btn-xs font-11" href="#" ng-click="event.remove(item)" title="Delete"><i class="fa fa-times"></i>Del</a>
                                                }
                                            </td>
                                            <td style="width: 200px;">{{item.draftPackingListUD}}</td>
                                            <td style="width: 150px;">{{item.packingListDate}}</td>
                                            <td style="width: 200px;">{{item.invoiceNo}}</td>
                                            <td style="width: 150px;">{{item.clientUD}}</td>
                                            <td style="width: 150px;">
                                                <div ng-show="item.creatorName != null">
                                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.creatorID}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        <i class="fa fa-user"></i> {{item.creatorName}}
                                                    </a>
                                                </div>
                                            </td>
                                            <td style="width: 150px;">{{item.createdDate}}</td>
                                            <td style="width: 150px;">
                                                <div ng-show="item.updatorName != null">
                                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatorID}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        <i class="fa fa-user"></i> {{item.updatorName}}
                                                    </a>
                                                </div>
                                            </td>
                                            <td style="width: 150px;">{{item.updatedDate}}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.refresh()"><i class=" fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.clear()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Init", "DraftPackingListMng")" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New" target="_blank"><i class="fa fa-file-o"></i></a>
        </li>

    </ul>
}

@section pagejs {

    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/draftpackinglistmng/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize: @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"],
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
        }
    </script>

    <script src="~/Views/DraftPackingListMng/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/DraftPackingListMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}