@{
    ViewBag.Title = "Select invoice to create draft packing list";
    ViewBag.Module = "DraftPackingListMng";
}

<div class="row">

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-search"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <label>Invoice No</label>
                            <input class="form-control search-filter" type="text" id="BLNo" ng-model="filters.invoiceNo">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Invoices search result</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div id="searchTableContent" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1200px;">
                                <div style="width: 60px;"></div>
                                <div data-colname="season" style="width: 100px;">Season</div>
                                <div data-colname="clientUD" style="width: 120px;">Client</div>
                                <div data-colname="invoiceNo" style="width: 160px;">Invoice No</div>
                                <div data-colname="shipedDateFormated" style="width: 120px;">Invoice Date</div>
                                <div data-colname="AccountNo" style="width: 120px;">Account No</div>
                                <div data-colname="RefNo" style="width: 120px;">Ref No</div>
                                <div data-colname="LCRefNo" style="width: 120px;">LC Ref No</div>
                                <div data-colname="Conditions" style="width: 200px;">Conditions</div>
                                <div>Remark</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1200px; ">
                                <table>
                                    <tr ng-repeat="init_item in data">
                                        <td style="text-align: center; width: 60px;">
                                            <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "DraftPackingListMng")/0?pID={{init_item.draftCommercialInvoiceID}}">Select</a>
                                        </td>
                                        <td style="width: 100px; ">{{init_item.season}}</td>
                                        <td style="width: 120px; ">{{init_item.clientUD}}</td>
                                        <td style="width: 160px; ">{{init_item.invoiceNo}}</td>
                                        <td style="width: 120px;">{{init_item.invoiceDate}}</td>
                                        <td style="width: 120px; ">{{init_item.accountNo}}</td>
                                        <td style="width: 120px; ">{{init_item.refNo}}</td>
                                        <td style="width: 120px; ">{{init_item.lcRefNo}}</td>
                                        <td style="width: 200px;">{{init_item.conditions}}</td>
                                        <td>{{init_item.remark}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </article>
</div>


@section pagepopup
{
}


@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.search()"><i class=" fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.search()"><i class="fa fa-refresh"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/draftpackinglistmng/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize: @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"],
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
        }
    </script>

    <script src="~/Views/DraftPackingListMng/init.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/DraftPackingListMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
