@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];

    ViewBag.Title = (ViewBag.ID == 0) ? "Create Cost Invoice 2 Type" : "Edit Cost Invoice 2 Type";
    ViewBag.SubTitle = (ViewBag.ID == 0) ? "Create" : "Edit";
    ViewBag.Module = "Cost Invoice 2 Type";
}

<form name="editForm" class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>@ViewBag.SubTitle General</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="smart-form">
                        <div class="row">
                            <section class="col col-lg-4">
                                <label class="label">
                                    <strong>Cost Invoice Type Name</strong>
                                    <em class="note note-error" ng-show="editForm.costInvoice2TypeNM.$error.required"> (Required)</em>
                                </label>
                                <label class="input" ng-class="{'state-error': editForm.costInvoice2TypeNM.$error.required}">
                                    <input type="text" maxlength="255" class="form-control" name="costInvoice2TypeNM" ng-model="data.costInvoice2TypeNM" required>
                                </label>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>


@section FormAction{
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "CostInvoice2TypeMng")" class="btn btn-default" title="Back">
                <i class="fa fa-arrow-left"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Delete" ng-class="{'state-error': editForm.costInvoice2TypeID.$error.required}" ng-click="event.deletedata(data.costInvoice2TypeID)">
                <i class="fa fa-times"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Save" ng-click="event.updatedata($event)">
                <i class="fa fa-floppy-o"></i>
            </a>
        </li>
    </ul>
}



@section pagejs{
    <script type="text/javascript">
        var context = {
            id: @ViewBag.ID,
            backUrl: '@Url.Action("Index", "CostInvoice2TypeMng")',
            refreshUrl: '@Url.Action("Edit", "CostInvoice2TypeMng", new { id = UrlParameter.Optional })/',
            serviceUrl: '@(serviceRoot)/api/costinvoice2typemng/',
            token: '@token',
            msgValid: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED'
        };
    </script>
    <script type="text/javascript" src="~/Angular/app/costInvoice2TypeMng/edit.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
<script type="text/javascript" src="~/Angular/app/costInvoice2TypeMng/service.js?v=@guid"></script>
    
}
