@{
    ViewBag.Title = "Search Cushion";
    ViewBag.Module = "Cushion";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Code</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.CushionUD" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Name</label>
                                    <label class="input">
                                        <input class="search-filter" type="text" ng-model="filters.CushionNM" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Season</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.Season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Standard</label>
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.IsStandard" ng-options="standard.yesNoValue as standard.yesNoText for standard in standardValues">
                                            <option value="">Any</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div avs-scroll grid-handler="gridHandler" id="searchResult" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1400px;">
                                <div style="width: 120px;"></div>
                                <div style="width: 100px;" class="sorting" data-colname="IsStandard">Standard</div>
                                <div style="width: 230px;">Image</div>
                                <div style="width: 80px;" class="sorting">Index</div>
                                <div style="width: 100px; text-align: center;" class="sorting" data-colname="Season">Season</div>
                                <div style="width: 100px; text-align: center;" class="sorting" data-colname="CushionUD">Code</div>
                                <div style="width: 300px;" class="sorting" data-colname="CushionNM">Name</div>
                                <div style="width: 180px; text-align: center;" class="sorting" data-colname="UpdatorName">Updated By</div>
                                <div style="text-align: center;" class="sorting_desc" data-colname="UpdatedDate">Updated Date</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1400px;">
                                <table>
                                    <tr ng-repeat="model in data">
                                        <td style="text-align: center; width: 119px;">
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                            {
                                                <a href="@Url.Action("Edit", "Cushion")/{{model.cushionID}}" class="btn btn-primary btn-xs font-11" title="View (Read Only)"><i class="fa fa-folder-open"></i> View</a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("Edit", "Cushion")/{{model.cushionID}}" class="btn btn-primary btn-xs font-11" title="Edit"><i class="fa fa-pencil"></i> Edit</a>
                                            }

                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                            {
                                                <a href="javascript:void(0)" ng-click="event.delete(model.cushionID)" class="btn btn-danger btn-xs font-11" title="Delete"><i class="fa fa-times"></i> Delete</a>
                                            }
                                        </td>
                                        <td style="text-align: center; width: 100px;"><input type="checkbox" ng-model="model.isStandard" disabled /></td>
                                        <td style="width: 230px; text-align: center; vertical-align: middle;">
                                            <a href="{{model.imageFile_FullSizeUrl}}" data-featherlight="image">
                                                <img style="width: 95%;" ng-src="{{model.imageFile_DisplayUrl}}" />
                                            </a>
                                        </td>
                                        <td style="text-align: center; width: 80px;">{{model.displayIndex}}</td>
                                        <td style="text-align: center; width: 100px;">{{model.season}}</td>
                                        <td style="text-align: center; width: 100px;">{{model.cushionUD}}</td>
                                        <td style="width: 300px;">{{model.cushionNM}}</td>
                                        <td style="width: 180px;">
                                            <a ng-if="model.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{model.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                <i class="fa fa-user" ng-show="model.updatorName != null"></i> {{model.updatorName}}
                                            </a>
                                        </td>
                                        <td style="text-align: center;">{{model.updatedDate}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Edit", "Cushion")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/cushion/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
        var context = {
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()'
        }
    </script>
    <script src="~/Angular/app/cushion/service.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/cushion/index.js?cache=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
