
@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var pageSize = System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();

    ViewBag.Title = "Search Client Relationship Type";
    ViewBag.Module = "Client Relationship Type";
}


<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-filter"></i>
                </span>
                <h2>Search Filter</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <div class="row">
                            @*<section class="col col-lg-2">
                                <label class="label">
                                    <strong>Code</strong>
                                </label>
                                <label class="input">
                                    <input type="text" class="form-control search-filter" maxlength="255" ng-model="filters.ClientRelationshipTypeUD">
                                </label>
                            </section>*@
                            <section class="col col-lg-2">
                                <label class="label">
                                    <strong>Name</strong>
                                </label>
                                <label class="input">
                                    <input type="text" class="form-control search-filter" maxlength="255" ng-model="filters.ClientRelationshipTypeNM">
                                </label>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-table"></i>
                </span>
                <h2>Search Result</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="tilsoft-table-wrapper" avs-scroll grid-handler="gridHandler">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 500px">
                                <div style="width: 100px"></div>
                                <div style="width: 200px">Code</div>
                                <div style="width: 150px">Display Order</div>
                                <div>Name</div>

                            </div>
                            <div class="tilsoft-table-body" style="width: 500px">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="item in data">
                                            <td style="width: 100px">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "ClientRelationshipTypeMng")/{{item.clientRelationshipTypeID}}" title="View (Read Only)" target="_blank"><i class="fa fa-folder-open"></i> View</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "ClientRelationshipTypeMng")/{{item.clientRelationshipTypeID}}" title="Edit" target="_blank"><i class="fa fa-pencil"></i> Edit</a>
                                                }

                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                                {
                                                    <a class="btn btn-danger btn-xs font-11" href="#" title="Delete" ng-click="event.deleterow(item.clientRelationshipTypeID, $index)"><i class="fa fa-times"></i> Del</a>
                                                }
                                            </td>
                                            <td style="width: 200px">
                                                {{item.clientRelationshipTypeUD}}
                                            </td>
                                            <td style="width: 150px">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) != "disabled")
                                                {
                                                    <input ng-change="event.changeorder(item)" style="text-align: right" avs-number2 type="text" class="form-control" name="displayOrder" ng-model="item.displayOrder">
                                                }
                                                else
                                                {
                                                    <span>{{ item.displayOrder}}</span>
                                                }
                                            </td>
                                            <td>
                                                {{item.clientRelationshipTypeNM}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <span>Found: <b>{{totalRows}}</b> record(s).</span>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction{
<ul id="sparks">
    <li class="sparks-info">
        <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.updateorder($event)">
            <i class="fa fa-floppy-o"></i>
        </a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0)" class="btn btn-default" title="Search" ng-click="event.reloadpage()">
            <i class="fa fa-search"></i>
        </a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0)" class="btn btn-default" title="Refresh" ng-click="event.reloadpage()">
            <i class="fa fa-refresh"></i>
        </a>
    </li>
    <li class="sparks-info">
        <a href="@Url.Action("Edit","ClientRelationshipTypeMng")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New">
            <i class="fa fa-file-o"></i>
        </a>
    </li>
</ul>
}

@section pagejs{
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(serviceRoot)/api/clientrelationshiptypemng/',
            token: '@token',
            pageSize: '@pageSize',
            refreshUrl: '@Url.Action("Index", "ClientRelationshipTypeMng")',
            cookieID: '@cookieID'
        }
    </script>
    <script type="text/javascript" src="~/Angular/app/clientRelationshipTypeMng/index.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/clientRelationshipTypeMng/service.js?v=@guid"></script>
}
