@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Export Receipt";
    }
    else
    {
        ViewBag.Title = "Edit Export Receipt";
    }

    ViewBag.Module = "Export Receipt";
}

<form class="row" name="editForm">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>General</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-sm-3 m-bottom-15">
                            <label>Receipt No</label>
                            <span class="form-control">{{data.receiptNo}}</span>
                        </div>
                        <div class="col-sm-3 m-bottom-15">
                            <label>Updated Date</label>
                            <span class="form-control">{{data.updatedDate}}</span>
                        </div>
                        <div class="col-sm-3 m-bottom-15">
                            <label>Confirmed By</label>
                            <span class="form-control">{{data.confirmerName}}</span>
                        </div>
                        <div class="col-sm-3 m-bottom-15">
                            <label>Confirmed Date</label>
                            <span class="form-control">{{data.confirmedDate}}</span>
                        </div>
                    </div>


                    <fieldset>

                        <div class="form-group">
                            <label>Exported Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="model.exportData.exportedDate">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Warehouse</label>
                            <span class="form-control">{{model.exportData.wareHouseNM}}</span>
                        </div>

                        <div class="form-group">
                            <label>Commercial Invoice</label>
                            <span class="form-control">{{model.exportData.commercialInvoiceID}}</span>
                        </div>

                        <div class="form-group">
                            <label>Other Ref No</label>
                            <input class="form-control" type="text" ng-model="model.exportData.otherRefNo">
                        </div>

                        <div class="form-group">
                            <label>Status</label>
                            <span class="form-control">{{model.exportData.status}}</span>
                        </div>

                        <div class="form-group">
                            <label>Remark</label>
                            <textarea rows="4" class="form-control" ng-model="model.exportData.remark"></textarea>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="jarviswidget" id="wid-id-product-detail" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>Products</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <div id="modelTable" class="table-responsive">
                        <button ng-click="event.addProduct($event)">Add</button>
                        <table class="table table-bordered table-hover custom-table dataTable">
                            <thead>
                                <tr>
                                    <th style="width: 60px;"></th>
                                    <th style="width: 90px;">Art.Code</th>
                                    <th>Description</th>
                                    <th style="width: 100px;">Product Status</th>
                                    <th style="width: 100px;">Area</th>
                                    <th>U.Price</th>
                                    <th>Quantity</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in model.exportData.products">
                                    <td style="text-align: center;">
                                        <a href="#" title="Delete" ng-click="event.removeProduct($event, product.wareHouseExportProductDetailID)"><i class="fa fa-times-circle grid-button"></i></a>
                                    </td>
                                    <td>{{product.articleCode}}</td>
                                    <td>{{product.description}}</td>
                                    <td>{{product.productStatusNM}}</td>
                                    <td>{{product.areaCode}}</td>
                                    <td>{{product.unitPrice}}</td>
                                    <td><input type="text" ng-model="product.quantity" style="width: 100%;" /></td>                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget" id="wid-id-tracking" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>Tracking</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <fieldset>
                        <div class="form-group">
                            <label>Updated By</label>
                            <span class="form-control">{{model.exportData.updatorName}}</span>
                        </div>

                        <div class="form-group">
                            <label>Updated Date</label>
                            <span class="form-control">{{model.exportData.updatedDate}}</span>
                        </div>

                        <div class="form-group">
                            <label>Status Updated By</label>
                            <span class="form-control">{{model.exportData.statusUpdatorName}}</span>
                        </div>

                        <div class="form-group">
                            <label>Status Updated Date</label>
                            <span class="form-control">{{model.exportData.statusUpdatedDate}}</span>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="#" ng-disabled="model.exportData.status == 'CONFIRMED'" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Index", "WareHouseExport")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#" ng-disabled="model.exportData.status == 'CONFIRMED'" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>

        <li class="sparks-info">
            <a href="#" ng-disabled="model.exportData.status == 'PENDING'" class="btn btn-default @(ViewBag.ID==0?"disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Approve, HttpContext.Current))" title="Mark as Pending" ng-click="event.changestatus($event, 'PENDING')">Mark as Pending</a>
        </li>
        <li class="sparks-info">
            <a href="#" ng-disabled="model.exportData.status == 'CONFIRMED'" class="btn btn-default @(ViewBag.ID==0?"disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Approve, HttpContext.Current))" title="Mark as Confirmed" ng-click="event.changestatus($event, 'CONFIRMED')">Mark as Confirmed</a>
        </li>        
        <li class="sparks-info">
            <a href="#" ng-disabled="model.exportData.status == 'CANCELED'" class="btn btn-default @(ViewBag.ID==0?"disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Approve, HttpContext.Current))" title="Mark as Canceled" ng-click="event.changestatus($event, 'CANCELED')">Mark as Canceled</a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/warehouseExport/service.js"></script>
    <script type="text/javascript">
        var productGrid = jQuery('#productGrid').scrollableTable(null, null);

        warehouseExportService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/warehouseexport/';
        warehouseExportService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var warehouseExportApp = angular.module('tilsoftApp', []);
        warehouseExportApp.controller('tilsoftController', ['$scope', function ($scope) {
            //
            // scope data
            //
            $scope.data = null;

            //
            // scope event
            //
            $scope.event = {
                changestatus: function($event, status){
                    $event.preventDefault();

                    if (confirm('Change status of this receipt to: ' + status + ' ?')) {
                        warehouseExportService.changeStatus(
                            @ViewBag.ID,
                            status,
                            $scope.model.exportData,
                            function (data) {
                                jsHelper.processMessage(data.message);
                                if(data.message.type == 0) {
                                    window.location = '@Url.Action("Index", "WareHouseExport")';
                                }
                            },
                            function (error) {
                                jsHelper.showMessage('warning', error);
                            }
                        );
                    }
                }
            };

            //
            // scope function
            //
            $scope.method = {
                load: function(){
                    warehouseExportService.load(
                        @ViewBag.ID,
                        0,
                        function (data) {
                            $scope.method.bindData(data.data);
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);

                            $scope.model = null;
                            $scope.$apply();
                        }
                    );
                }
            };

            //
            // init
            //
            $scope.method.load();
        }]);
    </script>
}

