@{
    ViewBag.Title = "Search Export Receipt";
    ViewBag.Module = "Export Receipt";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-sm-3 m-bottom-15">
                            <label>Receipt No</label>
                            <input class="form-control" type="text" ng-model="filters.ReceiptNo">
                        </div>
                        <div class="col-sm-3 m-bottom-15">
                            <label>P/I</label>
                            <input class="form-control" type="text" ng-model="filters.ProformaInvoiceNo">
                        </div>
                        <div class="col-sm-3 m-bottom-15">
                            <label>CRM No</label>
                            <input class="form-control" type="text" ng-model="filters.CRMNo">
                        </div>
                        <div class="col-sm-3 m-bottom-15">
                            <label>Client Code</label>
                            <input class="form-control" type="text" ng-model="filters.ClientUD">
                        </div>
                        <div class="col-sm-3 m-bottom-15">
                            <label>Client Name</label>
                            <input class="form-control" type="text" ng-model="filters.ClientNM">
                        </div>
                        <div class="col-sm-3 m-bottom-15">
                            <label>Art.Code</label>
                            <input class="form-control" type="text" ng-model="filters.ArticleCode">
                        </div>
                        <div class="col-sm-3 m-bottom-15">
                            <label>Description</label>
                            <input class="form-control" type="text" ng-model="filters.Description">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div id="searchResult" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 2000px;">
                                <div style="width: 80px;"></div>
                                <div style="width: 150px" data-colname="ProcessingStatusNM">Status</div>
                                <div style="width: 150px;" class="sorting" data-colname="ReceiptNo">Receipt No</div>
                                <div style="width: 150px;" class="sorting" data-colname="CMRNo">CMR No</div>
                                <div style="width: 150px;" class="sorting" data-colname="WarehousePickingListNo">Picking No</div>
                                <div style="width: 150px;" class="sorting" data-colname="ClientUD">Client Code</div>
                                <div style="width: 250px;" class="sorting" data-colname="ClientNM">Client Name</div>
                                <div style="width: 150px;" class="sorting" data-colname="ExportedDate">Exported Date</div>
                                <div style="width: 150px;" class="sorting" data-colname="UpdatorName">Updated By</div>
                                <div style="width: 150px;" class="sorting" data-colname="UpdatedDate">Updated Date</div>
                                <div style="width: 150px;" class="sorting" data-colname="StatusUpdatorName">Status Updated By</div>
                                <div class="sorting" data-colname="StatusUpdatedDate">Status Updated Date</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 2000px;">
                                <table>
                                    <tr ng-repeat="model in data">
                                        <td style="text-align: center; width: 80px;">
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) != "disabled")
                                            {
                                                <a href="@Url.Action("Edit", "WarehouseExport")/{{model.warehouseExportID}}" title="Edit"><i class="fa fa-pencil-square grid-button"></i></a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("Edit", "WarehouseExport")/{{model.warehouseExportID}}" title="View (Read Only)"><i class="fa fa-folder-open grid-button"></i></a>
                                            }
                                        </td>
                                        <td style="width: 150px; text-align: center;">{{model.processingStatusNM}}</td>
                                        <td style="width: 150px;">{{model.receiptNo}}</td>
                                        <td style="width: 150px;">{{model.cMRNo}}</td>
                                        <td style="width: 150px;">{{model.warehousePickingListNo}}</td>
                                        <td style="width: 150px;">{{model.clientUD}}</td>
                                        <td style="width: 250px;">{{model.clientNM}}</td>
                                        <td style="width: 150px;">{{model.exportedDate}}</td>
                                        <td style="width: 150px;">{{model.updatorName}}</td>
                                        <td style="width: 150px;">{{model.updatedDate}}</td>
                                        <td style="width: 150px;">{{model.statusUpdatorName}}</td>
                                        <td>{{model.statusUpdatedDate}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.search()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.search()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="New"><i class="fa fa-file-o"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/warehouseExport/service.js"></script>
    <script type="text/javascript">
        var searchResultGrid = jQuery('#searchResult').scrollableTable(
            function(currentPage){
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function(){
                    scope.pageIndex = currentPage;
                    warehouseImportService.searchFilter.pageIndex = scope.pageIndex;
                    scope.search();
                });
            },
            function(sortedBy, sortedDirection){
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function(){
                    warehouseImportService.searchFilter.sortedDirection = sortedDirection;
                    scope.pageIndex = 1;
                    warehouseImportService.searchFilter.pageIndex = scope.pageIndex;
                    warehouseImportService.searchFilter.sortedBy = sortedBy;
                    scope.search();
                });
            }
        );

        warehouseExportService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/warehouseExport/';
        warehouseExportService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        warehouseExportService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];

        var warehouseExportApp = angular.module('tilsoftApp', []);
        warehouseExportApp.controller('tilsoftController', ['$scope', function ($scope) {
            $scope.models = null;
            $scope.supportModel = null;
            $scope.filters = {
                ReceiptNo: '',
                CRMNo: '',
                ClientUD: '',
                ClientNM: '',
                ArticleCode: '',
                Description: '',
                ProformaInvoiceNo: ''
            };
            $scope.pageIndex = 1;
            $scope.totalPage = 0;

            //
            // event defined
            //
            $scope.event = {
                search: function(){
                    warehouseExportService.searchFilter.filters = $scope.filters;
                    $scope.search();
                }
            }

            //
            // private function defined
            //
            $scope.search = function () {
                warehouseExportService.search(
                    function (data) {
                        $scope.data = data.data.data;
                        $scope.totalPage = Math.ceil(data.totalRows / warehouseExportService.searchFilter.pageSize);
                        $scope.$apply();

                        if(data.totalRows < warehouseExportService.searchFilter.pageSize) {
                            jQuery('#searchResultGrid').find('ul').hide();
                        }
                        else {
                            jQuery('#searchResultGrid').find('ul').show();
                        }

                        jQuery('#content').show();
                        searchResultGrid.updateLayout();
                    },
                    function (error) {
                        $scope.data = null;
                        $scope.pageIndex = 1;
                        $scope.totalPage = 0;
                        $scope.$apply();
                    }
                );
            }

            //
            // INIT
            //
            $scope.search();
        }]);
    </script>
}