@{
    ViewBag.Title = "Production Schedule";
    ViewBag.Module = "Production Schedule";
}
<form class="row" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" ng-show="currentForm=='workOrder'">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Production Schedule</h2>
            </header>
            <div class="row">
                <div class="col-lg-2 m-bottom-15">
                    <label>Work Order</label>
                    <input type="text" class="form-control search-filter" ng-model="filters.workOrderUD"/>
                </div>
                <div class="col-lg-2">
                    <label>Work Center</label>
                    <select name="factoryWarehouse" ng-model="filters.workCenterID" ng-options="item.workCenterID as item.workCenterNM for item in data.workCenters" class="form-control">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <label>Production Team</label>
                    <select name="factoryWarehouse" ng-model="filters.productionTeamID" ng-options="item.productionTeamID as item.productionTeamNM for item in data.productionTeams" class="form-control">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div>
                    <div class="widget-body no-padding">
                        <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                            <div class="tilsoft-table">
                                <div class="tilsoft-table-header" style="width: 1100px;">
                                    <div style="width: 60px;"></div>
                                    <div style="width: 80px;" class="" data-colname="WorkOrderUD">Work Order</div>
                                    <div style="width: 110px;" class="" data-colname="ArticleCode">Article Code</div>
                                    <div style="width: 90px;" class="" data-colname="WorkOrderQnt">W Order Qnt</div>
                                    <div style="width: 80px;" class="" data-colname="StartDate">Start Date</div>
                                    <div style="width: 80px;" class="" data-colname="FinishDate">Finish Date</div>
                                    <div style="width: 70px;" class="" data-colname="WorkCenterNM">Work Center</div>
                                    <div style="width: 60px;" class="" data-colname="ProductionItemUD">Team</div>
                                    <div style="width: 250px;" class="" data-colname="ProductionItemNM">Component</div>
                                    <div style="width: 60px;" class="" data-colname="ProductionQnt">Produc tion</div>
                                    <div style="width: 70px;" class="" data-colname="ProducedQnt">Produ ced</div>
                                    <div style="width: 70px;" class="" data-colname="RemainQnt">Remaint Qnt</div>
                                    <div style="" class="" data-colname="Remark"></div>
                                </div>
                                <div class="tilsoft-table-body" style="width: 1100px;">
                                    <table>
                                        <tbody ng-repeat="item in workOrders" >
                                            <tr>
                                                <td style="text-align:center;width:59px;vertical-align:middle">
                                                    <a href="javascript:void(0)" class="btn btn-primary btn-xs" ng-click="event.finished(item)">Finish</a>
                                                </td>
                                                <td style="text-align: left; width: 80px; vertical-align:middle">{{item.workOrderUD}}</td>
                                                <td style="text-align: left; width: 110px; vertical-align:middle">{{item.articleCode}}</td>
                                                <td style="text-align: right; width: 90px; vertical-align:middle">{{item.workOrderQnt}}</td>
                                                <td style="text-align: center; width: 80px; vertical-align:middle">{{item.startDate}}</td>
                                                <td style="text-align: center; width: 80px; vertical-align:middle">{{item.finishDate}}</td>
                                                <td style="text-align: left; width: 70px; vertical-align:middle">{{item.workCenterNM}}</td>
                                                <td style="text-align: left; width: 60px; vertical-align:middle">{{item.productionTeamNM}}</td>

                                                <td colspan="5"></td>
                                            </tr>
                                            <tr ng-repeat="cItem in item.components">
                                                <td style="text-align:center;" colspan="8"></td>
                                                
                                                <td style="text-align: left; width: 250px; vertical-align:middle"><b>{{cItem.productionItemUD}}</b><br />{{cItem.productionItemNM}}</td>
                                                <td style="text-align: right; width: 60px; vertical-align:middle">{{cItem.productionQnt}}</td>
                                                <td style="text-align: right; width: 70px; vertical-align:middle">{{cItem.producedQnt}}</td>
                                                <td style="text-align: right; width: 70px; vertical-align:middle">{{cItem.remainQnt}}</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <span>Found: {{workOrders.length}} record(s)</span>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" ng-show="currentForm=='component'">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>General</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <div class="row">
                            <section class="col col-lg-3">
                                <label>Work Order</label>
                                <span class="form-control">{{selectedWorkOrder.workOrderUD}}</span>
                            </section>

                            <section class="col col-lg-3">
                                <label>ArticleCode</label>
                                <span class="form-control">{{selectedWorkOrder.articleCode}}</span>
                            </section>
                            <section class="col col-lg-2">
                                <label>Production Qnt</label>
                                <span class="form-control">{{selectedWorkOrder.workOrderQnt}}</span>
                            </section>
                            <section class="col col-lg-2">
                                <label>Start Date</label>
                                <span class="form-control">{{selectedWorkOrder.startDate}}</span>
                            </section>
                            <section class="col col-lg-2">
                                <label>Finish Date</label>
                                <span class="form-control">{{selectedWorkOrder.finishDate}}</span>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-lg-3">
                                <label>Work Center</label>
                                <span class="form-control">{{selectedWorkOrder.workCenterNM}}</span>
                            </section>
                            <section class="col col-lg-3">
                                <label>Team</label>
                                <span class="form-control">{{selectedWorkOrder.productionTeamNM}}</span>
                            </section>
                            <section class="col col-lg-2">
                                @*<div class="inline-group">
                                    <label class="radio" ng-repeat="model in receiptDept">
                                        <input type="radio" name="radio-inline" ng-model="$parent.receiptDeptID" ng-value="model.id" ng-change="event.changeDept(model.id)">
                                        <i></i>{{model.name}}
                                    </label>
                                </div>*@

                                <label class="radio" ng-repeat="model in receiptDept">
                                    <input type="radio" name="radio-inline" ng-model="$parent.receiptDeptID" ng-value="model.id" ng-change="event.changeDept(model.id)">
                                    <i></i>{{model.name}}
                                </label>
                                
                            </section>
                            <section class="col col-lg-2">
                                <div ng-if="receiptDeptID==1">
                                    <label>Team</label>
                                    <select name="team" ng-model="$parent.productionTeamSelectedID" ng-options="item.productionTeamID as item.productionTeamNM for item in data.productionTeams | filter : {workCenterID : selectedWorkOrder.nextWorkCenterID}" class="form-control">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div ng-if="receiptDeptID==2">
                                    <label>Warehouse</label>
                                    <select name="factoryWarehouse" ng-model="$parent.warehouseSelectedID" ng-options="item.factoryWarehouseID as item.factoryWarehouseNM for item in data.factoryWarehouseDtos" class="form-control">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-lg-12">
                                <div class="widget-body">
                                    <div class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-header" style="width: 1100px;">
                                                <div style="width: 180px;" class="" data-colname="ProductionItemUD">Component Code</div>
                                                <div style="width: 500px;" class="" data-colname="ProductionItemNM">Component Name</div>
                                                <div style="width: 60px;" class="" data-colname="ProductionQnt">Produc tion Qnt</div>
                                                <div style="width: 70px;" class="" data-colname="ProducedQnt">Produ ced Qnt</div>
                                                <div style="width: 70px;" class="" data-colname="RemainQnt">Remaint Qnt</div>
                                                <div style="width: 70px;" class="" data-colname="PutInProductQnt">Produce Qnt</div>
                                                <div style="" class="" data-colname=""></div>
                                            </div>
                                            <div class="tilsoft-table-body" style="width: 1100px;">
                                                <table>
                                                    <tbody ng-repeat="item in selectedWorkOrder.components">
                                                        <tr>
                                                            <td style="text-align: left; width: 179px; vertical-align:middle">{{item.productionItemUD}}</td>
                                                            <td style="text-align: left; width: 500px; vertical-align:middle">{{item.productionItemNM}}</td>
                                                            <td style="text-align: right; width: 60px; vertical-align:middle">{{item.productionQnt}}</td>
                                                            <td style="text-align: right; width: 70px; vertical-align:middle">{{item.producedQnt}}</td>
                                                            <td style="text-align: right; width: 70px; vertical-align:middle">{{item.remainQnt}}</td>
                                                            <td style="text-align: right; width: 70px; vertical-align:middle"><input type="text" ng-model="item.putInProductQnt"/></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                    <span>Found: {{selectedWorkOrder.components.length}} record(s)</span>
                                </div>
                            </section>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info" ng-if="currentForm=='workOrder'">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i> Search</a>
        </li>
        <li class="sparks-info" ng-if="currentForm=='component'">
            <a href="javascript:void(0);" class="btn btn-default" title="Finish Component" ng-click="event.finishComponent()"><i class="fa fa-save"></i> Finish Component</a>
        </li>
        <li class="sparks-info" ng-if="currentForm=='component'">
            <a href="javascript:void(0);" class="btn btn-default" title="Back to search" ng-click="event.back()"><i class="fa fa-arrow-left"></i> Back</a>
        </li>
    </ul>
}
@section pagepopup2{
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/ProductionScheduleRpt/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        var context = {
            reportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            receivingNoteUrl: '@Url.Action("Team2Warehouse", "ReceivingNote", new { id = UrlParameter.Optional})/',
            deliveryNoteUrl: '@Url.Action("Team2Team", "DeliveryNote2", new { id = UrlParameter.Optional})/',
        }
    </script>
    <script src="~/Angular/app/productionScheduleRpt/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/productionScheduleRpt/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
