@{
    ViewBag.Title = "Outsourcing Standard Cost Fee";
    ViewBag.Module = "Outsourcing Standard Cost Fee";
    ViewBag.Icon = "fa-database";
}


<form class="row" name="editForm">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">

            <section>
                <legend style="margin-top: 0px; padding-top: 0px; margin-bottom: 15px;">Outsourcing For Model</legend>
                <div class="smart-form">
                    <fieldset style="padding: 0px; border-top: none;">
                        <div id="grdPiece" class="tilsoft-table-wrapper">
                            <div class="tilsoft-table">
                                <div class="tilsoft-table-body" style="width: 1550px; overflow-y: auto; height: auto; min-height: 100px; margin-top: 0px;">
                                    <table>
                                        <tr>
                                            <th style="width: 20px;"></th>
                                            <th style="width:80px">Model Code</th>
                                            <th style="width:250px">Model Name</th>
                                            <th style="width:120px">Outsourcing Cost</th>
                                            <th style="width:120px">Outsourcing Cost Type</th>
                                            <th style="width:100px">Price</th>
                                            <th style="width:90px">Valid From</th>
                                            <th style="width:110px">Updated By</th>
                                            <th style="width:80px">Updated Date</th>
                                            <th style="width:110px">Confirmed By</th>
                                            <th style="width:80px">Confirmed Date</th>
                                            <th style="width:180px">Remark</th>
                                            <th style=""></th>

                                        </tr>
                                        <tr ng-repeat="item in data">
                                            <td style="text-align: center;width: 20px; vertical-align:middle">
                                                {{$index+1}}
                                            </td>

                                            <td style="width:80px; text-align:center; vertical-align:middle">{{item.modelUD}}</td>
                                            <td style="width:250px; vertical-align:middle">{{item.modelNM}}</td>
                                            <td style="width:120px; vertical-align:middle">{{item.outsourcingCostNMEN}}</td>
                                            <td style="width:120px; vertical-align:middle">{{item.outsourcingCostTypeNMEN}}</td>
                                            <td style="width:100px"><input style="text-align:right" type="text" avs-number ng-decimal="2" ng-data-source="item.standardPrice" ng-readonly="item.isConfirmed" /></td>
                                            <td style="width:90px"><input type="text" avs-calendar ng-data-source="item.validFrom" ng-readonly="item.isConfirmed" /></td>
                                            <td style="width:110px; vertical-align:middle">{{item.updaterNM}}</td>
                                            <td style="width:80px; vertical-align:middle">{{item.updatedDate}}</td>
                                            <td style="width:110px; vertical-align:middle">{{item.confirmerNM}}</td>
                                            <td style="width:80px; vertical-align:middle">{{item.confirmedDate}}</td>
                                            <td style="width:180px"><input type="text" ng-model="item.remark" ng-readonly="item.isConfirmed" /></td>
                                            <td style="vertical-align:middle">

                                                <a href="#" class="btn btn-primary btn-xs font-11" ng-click="update(item)" ng-disabled="item.isConfirmed">
                                                    <i class="fa fa-upload"></i> Update
                                                </a>

                                                <a href="#" class="btn btn-warning btn-xs font-11" ng-click="confirm(item)" ng-disabled="item.isConfirmed">
                                                    <i class="fa fa-check"></i> Confirm
                                                </a>

                                                <a href="#" class="btn btn-danger btn-xs font-11" ng-click="reset(item)" ng-disabled="!item.isConfirmed">
                                                    <i class="fa fa-refresh"></i> Reset
                                                </a>

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </section>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "OutsourcingStandardCostFeeMng")" class="btn btn-default" title="Trở Lại"><i class="fa fa-arrow-left"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Views/OutsourcingStandardCostFeeMng/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/outsourcing-standard-cost-fee/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            refreshUrl: '@Url.Action("Edit", "OutsourcingStandardCostFeeMng", new { id = UrlParameter.Optional })/',
            indexUrl: '@Url.Action("Index", "OutsourcingStandardCostFeeMng")',
            reportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            id: @ViewBag.ID,
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
        };
    </script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/OutsourcingStandardCostFeeMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
