@{
    ViewBag.Title = "Outsourcing Standard Cost Fee";
    ViewBag.Module = "Outsourcing Standard Cost Fee";
    ViewBag.Icon = "fa-search";
}

<form class="row" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Result</h2>
            </header>
            <div class="smart-form">
                <div class="widget-body no-padding">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: {{1000 + (100*(support.outSourcingCostTypeSPs.length))}}px; ">
                                <div style="width: 80px; font-size:9px; ">Total:  {{totalRows}} rows</div>
                                <div style="width: 70px; ">Status</div>
                                <div style="width: 80px; ">Model Code</div>
                                <div style="width: 400px; ">Model Name</div>
                                <div style="width: 100px; ">Giá Căn Sườn</div>
                                <div style="padding:unset;  width:{{100*(support.outSourcingCostTypeSPs.length)}}px">
                                    <div style="width:{{100*(support.outSourcingCostTypeSPs.length)}}px; height:25px; padding:unset; border-bottom:solid 0.5px;border-right:none">TP</div>
                                    <div style="width:{{$last ? '100%': '100px'}};height:25px; padding:unset;" ng-repeat="item in support.outSourcingCostTypeSPs">
                                        {{item.outsourcingCostTypeNMEN}}
                                    </div>
                                </div>
                                <div style=""></div>
                            </div>
                            <div class="tilsoft-table-filter" style="width: {{1000 + (100*(support.outSourcingCostTypeSPs.length))}}px;">
                                <div style="text-align: center; width: 80px; vertical-align:middle">
                                    <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.reload()"><i class="fa fa-filter"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilter()"><i class="fa fa-ban"></i></a>
                                </div>
                                <div style="width: 70px; text-align: center; vertical-align: middle"></div>
                                <div style="width: 80px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.modelUD" class="search-filter" /></div>
                                <div style="width: 400px; text-align: center; vertical-align: middle"></div>
                                <div style="width: 100px; text-align: center; vertical-align: middle"></div>
                                <div style="width: 100px; text-align: center; vertical-align: middle" ng-repeat="item in support.outSourcingCostTypeSPs"></div>
                                <div></div>
                            </div>
                            <div class="tilsoft-table-body" style="width: {{1000 + (100*(support.outSourcingCostTypeSPs.length))}}px; margin-top: 95px;">
                                <table>
                                    <tbody ng-repeat="item in dataModel">
                                        <tr>
                                            <td style="width:79px;text-align:center">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {

                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "OutsourcingStandardCostFeeMng")/{{item.modelID}}" title="view (read only)" target="_blank" ng-show="item.productTypeID != 5"><i class="fa fa-folder-open"></i> View</a>
                                                    <a class="btn btn-link btn-xs fa fa-ellipsis-h" href="javascript:void(0);" title="more" ng-click="event.getDetailModelItem(item)" ng-show="item.productTypeID == 5" style="padding-top:10px"></a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "OutsourcingStandardCostFeeMng")/{{item.modelID}}" title="Edit" target="_blank" ng-show="item.productTypeID != 5"><i class="fa fa-pencil"></i> Edit</a>
                                                    <a class="btn btn-link btn-xs fa fa-ellipsis-h" href="javascript:void(0);" title="more" ng-click="event.getDetailModelItem(item)" ng-show="item.productTypeID == 5" style="padding-top:10px"></a>
                                                }
                                            </td>

                                            <td style="text-align: left; width: 70px; vertical-align:middle">{{item.statusNM}}</td>
                                            <td style="text-align: left; width: 80px; vertical-align:middle">{{item.modelUD}}</td>
                                            <td style="text-align: left; width: 400px; vertical-align:middle">{{item.modelNM}}</td>
                                            <td style="text-align: left; width: 100px; text-align:right" ng-repeat="xxItem in item.outSourcingModelDetailSearches">
                                                {{xxItem.standardPrice | number:2}}
                                            </td>
                                            <td style="text-align: left; width: 100px;"></td>
                                            <td></td>
                                        </tr>

                                        <tr ng-repeat="xxxItem in item.outsourcingModelPieces" style="background-color:burlywood" ng-show="xxxItem.isShow">
                                            <td style="width:80px;text-align:center">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {

                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "OutsourcingStandardCostFeeMng")/{{xxxItem.modelID}}" title="view (read only)" target="_blank"><i class="fa fa-folder-open"></i>View</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "OutsourcingStandardCostFeeMng")/{{xxxItem.modelID}}" title="Edit" target="_blank"><i class="fa fa-pencil"></i>Edit</a>
                                                }
                                            </td>

                                            <td style="text-align: left; width: 70px; vertical-align:middle">{{xxxItem.statusNM}}</td>
                                            <td style="text-align: left; width: 80px; vertical-align:middle">{{xxxItem.modelUD}}</td>
                                            <td style="text-align: left; width: 400px; vertical-align:middle">{{xxxItem.modelNM}}</td>
                                            <td style="text-align: left; width: 100px; text-align:right" ng-repeat="xxItemx in xxxItem.outSourcingModelDetailSearches">
                                                {{xxItemx.standardPrice | number:2}}
                                            </td>
                                            <td style="text-align: left; width: 100px;"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <span>Total: {{totalRows}} rows</span>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-info" title="Search" ng-click="event.updateDataFromMaterial()"><i class="fa fa-download"></i> Update Data</a>
    </li>

    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.clearFilter()"><i class="fa fa-refresh"></i></a>
    </li>
</ul>
}
@section pagepopup2{
}

@section pagejs {
    <script src="~/Views/OutsourcingStandardCostFeeMng/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/outsourcing-standard-cost-fee/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize: @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"],
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
        }
    </script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/OutsourcingStandardCostFeeMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
