@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var supportServiceRoot = (System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"]);

    ViewBag.Title = (ViewBag.ID == 0) ? "Create Test Standard" : "Edit Test Standard";
    ViewBag.SubTitle = (ViewBag.ID == 0) ? "Create" : "Edit";
    ViewBag.Module = "Test Standard";
}

<form name="editForm" class="row">
    <article class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <div class="jarviswidget" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>@ViewBag.Title</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="tab-content">
                        <div class="smart-form">
                            <fieldset>
                                <div class="row">
                                    <section class="col col-2">
                                        <label class="label">
                                            <label>Code</label>
                                            <em class="note note-error" ng-show="editForm.testStandardUD.$error.required"> (Required)</em>
                                        </label>
                                        <label class="input">
                                            <input type="text" class="form-control" ng-model="data.testStandardUD" maxlength="20" name="testStandardUD" required />
                                        </label>
                                    </section>
                                    <section class="col col-4">
                                        <label class="label">
                                            <label>Name</label>
                                            <em class="note note-error" ng-show="editForm.testStandardNM.$error.required"> (Required)</em>
                                        </label>
                                        <label class="input">
                                            <input type="text" class="form-control" ng-model="data.testStandardNM" name="testStandardNM" required />
                                        </label>
                                    </section>
                                    <section class="col col-6">
                                        <label class="label">Description</label>
                                        <label class="input">
                                            <input type="text" class="form-control" ng-model="data.description" />
                                        </label>
                                    </section>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>


@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "TestStandardMng")" class="btn btn-default" title="Back">
                <i class="fa fa-arrow-left"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Delete" ng-class="{'disabled': data.testStandardID == 0}" ng-click="event.remove(data.testStandardID)">
                <i class="fa fa-times"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Save" ng-click="event.update()">
                <i class="fa fa-floppy-o"></i>
            </a>
        </li>
    </ul>
}

@section pagejs{
    <script type="text/javascript">

        var context = {
            id: @ViewBag.ID,
            backUrl: '@Url.Action("Index", "TestStandardMng")',
            refreshUrl: '@Url.Action("Edit", "TestStandardMng", new { id = UrlParameter.Optional })/',
            serviceUrl: '@(serviceRoot)/api/teststandardmng/',
            token: '@token',
            msgValid: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED' ,
        }
    </script>
    <script type="text/javascript" src="~/Views/TestStandardMng/edit.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/TestStandardMng/service.js?v=@guid"></script>

}
