@{
    ViewBag.Title = "Search ";
    ViewBag.Module = "Factory Material Norm";
}
<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-sm-2 m-bottom-15">
                            <label>Model Code</label>
                            <input class="form-control search-filter" type="text" ng-model="filters.modelUD">
                        </div>
                        <div class="col-sm-2 m-bottom-15">
                            <label>Model Name</label>
                            <input class="form-control search-filter" type="text" ng-model="filters.modelNM">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>

            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <div class="table-responsive" id="wareHouseImportTable">
                        <div id="grdSearchResult" class="tilsoft-table-wrapper">
                            <div class="tilsoft-table">
                                <div class="tilsoft-table-header" style="width: 1300px;">
                                    <div style="width: 110px;"></div>
                                    <div style="width: 150px;" class="sorting" data-colname="ModelUD">Model Code</div>
                                    <div class="sorting" data-colname="ModelNM">Model Name</div>
                                </div>
                                <div class="tilsoft-table-body" style="width: 1300px;">
                                    <table>
                                        <tr ng-repeat="item in data">
                                            <td style="text-align: center; width: 110px;">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "FactoryMaterialNorm")/{{item.factoryMaterialNormID}}" title="View (Read Only) title=" view (read only)" target="_blank"><i class="fa fa-folder-open"></i>View</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "FactoryMaterialNorm")/{{item.factoryMaterialNormID}}" title="Edit" target="_blank"><i class="fa fa-pencil"></i>Edit</a>
                                                }

                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                                {
                                                    <a class="btn btn-danger btn-xs font-11" href="#" ng-click="event.delete(item.factoryMaterialNormID,$event)" title="Delete"><i class="fa fa-times"></i>Del</a>
                                                }
                                            </td>
                                            <td style="width: 150px;">{{item.modelUD}}</td>
                                            <td>{{item.modelNM}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Edit", "FactoryMaterialNorm")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New" target="_blank"><i class="fa fa-file-o"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factoryMaterialNorm/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        supportService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        supportService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        jsonService.searchFilter.pageSize = '@System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"]';
    var context = {
        editUrl: '@Url.Action("Edit", "FactoryMaterialNorm")',
        reportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'
    }
    </script>
    <script src="~/Angular/app/factoryMaterialNorm/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/factoryMaterialNorm/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}