@{
    ViewBag.Title = "Create new Factory Payment";
    ViewBag.Module = "Factory Payment";
}

<form class="row" name="editForm">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Select item to create factory payment</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-8">
                                    <label class="label">Supplier</label>
                                    <label class="select">
                                        <select ng-model="data.supplierID" ng-options="supplier.supplierID as supplier.supplierNM for supplier in suppliers">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Season</label>
                                    <label class="select">
                                        <select ng-model="data.season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <footer>
                            <button class="btn btn-primary" type="button" ng-click="event.goNext()">
                                Next
                            </button>
                            <button class="btn btn-default" type="button" ng-click="event.goBack()">
                                Cancel
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factorypayment2/';
        jsonService.supportServiceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            backURL: '@Url.Action("Index", "FactoryPayment2Mng")',
            nextURL: '@Url.Action("Edit", "FactoryPayment2Mng")/0?'
        }
    </script>
    <script src="~/Angular/app/factoryPayment2Mng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/factoryPayment2Mng/init.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

