@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create purchasing credit note";
    }
    else
    {
        ViewBag.Title = "Purchasing credit note";
    }

    ViewBag.Module = "Purchasing Credit Note";

}
<form class="row" name="editForm" id="main-form">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                <header>
                    <ul class="nav nav-tabs pull-left in">
                        <li class="active">
                            <a data-toggle="tab" href="#hb1"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">General</span> </a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#hb7"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Tracking</span> </a>
                        </li>

                    </ul>
                </header>
                <div>
                    <div class="jarviswidget-editbox"></div>

                    <div class="widget-body">
                        <div class="tab-content">

                            <div class="tab-pane active" id="hb1">
                                <div class="row">

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Credit Note No</label>
                                        <input type="text" class="form-control" ng-model="editData.creditNoteNo" />
                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Credit Note Date</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="editData.creditNoteDate">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>

                                    <div class="col-sm-1 m-bottom-15">
                                        <label>Season</label>
                                        <select name="season" class="form-control" ng-model="editData.season" ng-options="season.seasonValue as season.seasonText for season in editData.seasons">
                                            <option value=""></option>
                                        </select>
                                    </div>

                                    <div class="col-sm-1 m-bottom-15">
                                        <label>Factory</label>
                                        <span class="form-control">{{editData.factoryUD}}</span>

                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Remark</label>
                                        <input type="text" class="form-control" ng-model="editData.remark" />
                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Invoice Status</label>
                                        <span class="form-control">{{editData.invoiceStatusText}}</span>
                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>BL No</label>
                                        <span class="form-control">{{editData.blNo}}</span>

                                    </div>

                                </div>


                                <div class="row">

                                    @*<div class="col-sm-2 m-bottom-15">
                                        <label>Shipped Date</label>
                                        <span class="form-control">{{editData.shipedDate}}</span>
                                    </div>*@
                                    
                                    <div class="col-sm-4 m-bottom-15">
                                        <label>Supplier</label>
                                        <span class="form-control">{{editData.supplierNM}}</span>
                                    </div>

                                    <div class="col-sm-4 m-bottom-15">
                                        <label>Forwarder</label>
                                        <span class="form-control">{{editData.forwarderNM}}</span>
                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Feeder</label>
                                        <span class="form-control">{{editData.feeder}}</span>

                                    </div>

                                    <div class="col-sm-1 m-bottom-15">
                                        <label>POL</label>
                                        <span class="form-control">{{editData.polName}}</span>
                                    </div>

                                    <div class="col-sm-1 m-bottom-15">
                                        <label>POD</label>
                                        <span class="form-control">{{editData.podName}}</span>
                                    </div>


                                </div>

                            </div>

                            <div class="tab-pane" id="hb7">
                                <div class="row">
                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Created By</label>
                                        <span class="form-control">
                                            <a ng-show="(editData.createdBy!=null && editData.creatorName2!=null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{editData.createdBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                <i class="fa fa-user"></i> {{editData.creatorName2}}
                                            </a>
                                            <span ng-show="(editData.createdBy!=null && editData.creatorName2==null && editData.creatorName!=null)">{{editData.creatorName}}</span>
                                        </span>
                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Created Date</label>
                                        <span class="form-control">{{editData.createdDate}}</span>
                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Updated By</label>
                                        <span class="form-control">
                                            <a ng-show="(editData.updatedBy!=null && editData.updatorName2!=null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{editData.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                <i class="fa fa-user"></i> {{editData.updatorName2}}
                                            </a>
                                            <span ng-show="(editData.updatedBy!=null && editData.updatorName2==null && editData.updatorName!=null)">{{editData.updatorName}}</span>
                                        </span>
                                    </div>
                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Updated Date</label>
                                        <span class="form-control">{{editData.updatedDate}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                <header>
                    <ul class="nav nav-tabs pull-left in">

                        <li class="active">
                            <a data-toggle="tab" href="#tabCreditNoteExtend"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Other</span> </a>
                        </li>
                        <li ng-show="editData.creditNoteType != 2">
                            <a data-toggle="tab" href="#hb3"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Product</span> </a>
                        </li>
                        <li ng-show="editData.creditNoteType != 2">
                            <a data-toggle="tab" href="#hb4"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Sparepart</span> </a>
                        </li>
                       
                    </ul>
                </header>
                <div>
                    <div class="jarviswidget-editbox"></div>

                    <div class="widget-body">
                        <div class="tab-content">

                            <div class="tab-pane active" id="tabCreditNoteExtend">
                                <div class="row">
                                    <div class="col-sm-12 m-bottom-15">
                                        <a class="btn btn-primary btn-xs font-11" href="javascript:void(0);" ng-click="event.addCreditNoteExtend($event)" style="margin-bottom: 10px;"><i class="fa fa-plus"></i>Add credit amount</a>
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-body" style="width: 1000px;margin-top:0px">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <th style="width: 60px"></th>
                                                            <th data-colname="Description">Description</th>
                                                            <th style="width: 70px" data-colname="Amount">Amount</th>
                                                        </tr>
                                                        <tr ng-repeat="item in editData.purchasingCreditNoteExtendDetails">
                                                            <td style="width: 60px; text-align: center;">
                                                                <a href="#" class="btn btn-danger btn-xs font-11" title="remove sparepart" ng-click="event.removeCreditNoteExtend($event, $index)"><i class="fa fa-times"></i>Del</a>
                                                            </td>
                                                            <td><input ng-model="item.description" class="form-control" /></td>
                                                            <td style="width: 150px;">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">$</span>
                                                                    <input type="text" class="form-control furnindo-currency" ng-model="item.amount" style="text-align:right" ng-currency fraction="2" currency-symbol="" />
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="hb3">
                                <div class="row">
                                    <div class="col-sm-12 m-bottom-15">
                                        <a class="btn btn-primary btn-xs font-11" href="javascript:void(0);" ng-click="addPurchasingInvoiceForm.event.load($event)" style="margin-bottom: 10px;"><i class="fa fa-plus"></i>Add goods</a>
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-body" style="width: 1600px;margin-top:0px ">
                                                <table>
                                                    <tr>
                                                        <th style="width: 60px"></th>
                                                        <th style="width: 60px" data-colname="ClientUD">Client</th>
                                                        <th style="width: 70px" data-colname="ProformaInvoiceNo">Order No</th>
                                                        <th style="width: 140px" data-colname="LoadingPlanUD">Loading Ref</th>
                                                        <th style="width: 120px" data-colname="ContainerNo">Container No</th>
                                                        <th style="width: 110px" data-colname="SealNo">Seal No</th>
                                                        <th style="width: 60px" data-colname="ContainerTypeNM">Cont Type</th>
                                                        <th style="width: 110px" data-colname="ArticleCode">ArticleCode</th>
                                                        <th data-colname="Description">Description</th>
                                                        <th style="width: 130px" data-colname="Quantity">Factory Price</th>
                                                        <th style="width: 70px" data-colname="Quantity">Quan tity</th>
                                                        <th style="width: 110px" data-colname="UnitPrice">Credit Price</th>
                                                        <th style="width: 140px" data-colname="Amount">Amount</th>
                                                    </tr>
                                                    <tr ng-repeat="item in editData.purchasingCreditNoteDetails">
                                                        <td style="text-align: center;">
                                                            <a href="#" class="btn btn-danger btn-xs font-11" title="Delete" ng-click="event.removeProduct($event, $index)"><i class="fa fa-times"></i>Del</a>
                                                        </td>
                                                        <td>{{item.clientUD}}</td>
                                                        <td>{{item.proformaInvoiceNo}}</td>
                                                        <td>{{item.loadingPlanUD}}</td>
                                                        <td>{{item.containerNo}}</td>
                                                        <td>{{item.sealNo}}</td>
                                                        <td>{{item.containerTypeNM}}</td>
                                                        <td>{{item.articleCode}}</td>
                                                        <td>{{item.description}}</td>

                                                        <td style="text-align: right">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">$</span>
                                                                <span class="form-control" style="text-align:right">
                                                                    {{item.factoryPrice | number : 2}}
                                                                </span>
                                                            </div>
                                                        </td>

                                                        <td style="text-align: right"><input type="text" ng-model="item.quantity" style="text-align:right" /></td>
                                                        <td style="text-align:right">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">$</span>
                                                                <input type="text" class="form-control furnindo-currency" ng-model="item.unitPrice" style="text-align:right" ng-currency fraction="2" currency-symbol="" />
                                                            </div>
                                                        </td>
                                                        <td style="text-align: right">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">$</span>
                                                                <span class="form-control" style="text-align:right">
                                                                    {{item.unitPrice * item.quantity | number : 2}}
                                                                </span>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td colspan="10">Total():</td>
                                                        <td style="text-align: right"><span class="form-control">{{calTotalQuantity() | number : 0}}</span></td>
                                                        <td></td>
                                                        <td style="text-align: right">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">$</span>
                                                                <span class="form-control" style="text-align:right">
                                                                    {{calTotalAmount() | number : 2}}
                                                                </span>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="hb4">
                                <div class="row">
                                    <div class="col-sm-12 m-bottom-15">
                                        <a class="btn btn-primary btn-xs font-11" href="javascript:void(0);" ng-click="addPurchasingInvoiceForm.event.load($event)" style="margin-bottom: 10px;"><i class="fa fa-plus"></i>Add goods</a>
                                        <div id="sparepart" class="tilsoft-table-wrapper">
                                            <div class="tilsoft-table">
                                                <div class="tilsoft-table-body" style="width: 1600px; margin-top:0px">
                                                    <table>
                                                        <tr>
                                                            <th style="width: 60px"></th>
                                                            <th style="width: 60px" data-colname="ClientUD">Client</th>
                                                            <th style="width: 70px" data-colname="ProformaInvoiceNo">Order No</th>
                                                            <th style="width: 140px" data-colname="LoadingPlanUD">Loading Ref</th>
                                                            <th style="width: 120px" data-colname="ContainerNo">Container No</th>
                                                            <th style="width: 110px" data-colname="SealNo">Seal No</th>
                                                            <th style="width: 60px" data-colname="ContainerTypeNM">Cont Type</th>
                                                            <th style="width: 110px" data-colname="ArticleCode">ArticleCode</th>
                                                            <th data-colname="Description">Description</th>
                                                            <th style="width: 130px" data-colname="Quantity">Factory Price</th>
                                                            <th style="width: 70px" data-colname="Quantity">Quan tity</th>
                                                            <th style="width: 110px" data-colname="UnitPrice">Credit Price</th>
                                                            <th style="width: 140px" data-colname="Amount">Amount</th>
                                                        </tr>
                                                        <tr ng-repeat="item in editData.purchasingCreditNoteSparepartDetails">
                                                            <td style="width: 60px; text-align: center;">
                                                                <a href="#" class="btn btn-danger btn-xs font-11" title="remove sparepart" ng-click="event.removeSparepart($event, $index)"><i class="fa fa-times"></i>Del</a>
                                                            </td>
                                                            <td>{{item.clientUD}}</td>
                                                            <td>{{item.proformaInvoiceNo}}</td>
                                                            <td>{{item.loadingPlanUD}}</td>
                                                            <td>{{item.containerNo}}</td>
                                                            <td>{{item.sealNo}}</td>
                                                            <td>{{item.containerTypeNM}}</td>
                                                            <td>{{item.articleCode}}</td>
                                                            <td>{{item.description}}</td>

                                                            <td style="text-align: right">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">$</span>
                                                                    <span class="form-control" style="text-align:right">
                                                                        {{item.factoryPrice | number : 2}}
                                                                    </span>
                                                                </div>
                                                            </td>

                                                            <td style="text-align: right"><input type="text" ng-model="item.quantity"  style="text-align:right"/></td>
                                                            <td style="text-align:right">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">$</span>
                                                                    <input type="text" class="form-control furnindo-currency" ng-model="item.unitPrice" style="text-align:right" ng-currency fraction="2" currency-symbol="" />
                                                                </div>
                                                            </td>
                                                            <td style="text-align: right">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">$</span>
                                                                    <span class="form-control" style="text-align:right">
                                                                        {{item.unitPrice * item.quantity | number : 2}}
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="10">Total():</td>
                                                            <td style="text-align: right"><span class="form-control">{{calTotalQuantitySparepart() | number : 0}}</span></td>
                                                            <td></td>
                                                            <td style="text-align: right">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">$</span>
                                                                    <span class="form-control" style="text-align:right">
                                                                        {{calTotalAmountSparepart() | number : 2}}
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            

                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</form>


@section pagepopup2
{
<div id="addPurchasingInvoiceForm" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Select product to create credit note</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-12">
                                    <div class="tilsoft-table">
                                        <div style="width: 100%; height: auto;margin-top:0px" class="tilsoft-table-body">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <th style="width: 50px" data-colname=""></th>
                                                        <th style="width: 60px" data-colname="ClientUD">Client</th>
                                                        <th style="width: 70px" data-colname="ProformaInvoiceNo">Order No</th>
                                                        <th style="width: 140px" data-colname="LoadingPlanUD">Loading Ref</th>
                                                        <th style="width: 120px" data-colname="ContainerNo">Container No</th>
                                                        <th style="width: 200px" data-colname="ArticleCode">ArticleCode</th>
                                                        <th data-colname="Description">Description</th>
                                                        <th style="width: 60px" data-colname="Quantity">Qnt</th>
                                                        <th style="width: 120px" data-colname="UnitPrice">Unit Price</th>
                                                        <th style="width: 150px" data-colname="Amount">Amount</th>
                                                    </tr>
                                                    <tr ng-repeat="item in addPurchasingInvoiceForm.invoiceData.purchasingInvoiceDetails">
                                                        <td style="text-align:center"><input type="checkbox" ng-model="item.isSelected" /></td>
                                                        <td>{{item.clientUD}}</td>
                                                        <td>{{item.proformaInvoiceNo}}</td>
                                                        <td>{{item.loadingPlanUD}}</td>
                                                        <td>{{item.containerNo}}</td>
                                                        <td>{{item.articleCode}}</td>
                                                        <td>{{item.description}}</td>
                                                        <td style="text-align: right"><span class="form-control">{{item.quantity}}</span></td>
                                                        
                                                        <td style="text-align: right">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">$</span>
                                                                <span class="form-control" style="text-align:right">
                                                                    {{item.factoryPrice | number : 2}}
                                                                </span>
                                                            </div>
                                                        </td>

                                                        <td style="text-align: right">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">$</span>
                                                                <span class="form-control" style="text-align:right">
                                                                    {{item.factoryPrice * item.quantity | number : 2}}
                                                                </span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr ng-repeat="item in addPurchasingInvoiceForm.invoiceData.purchasingInvoiceSparepartDetails">
                                                        <td style="text-align:center"><input type="checkbox" ng-model="item.isSelected" /></td>
                                                        <td>{{item.clientUD}}</td>
                                                        <td>{{item.proformaInvoiceNo}}</td>
                                                        <td>{{item.loadingPlanUD}}</td>
                                                        <td>{{item.containerNo}}</td>
                                                        <td>{{item.articleCode}}</td>
                                                        <td>{{item.description}}</td>
                                                        <td style="text-align: right"><span class="form-control">{{item.quantity}}</span></td>
                                                        
                                                        <td style="text-align: right">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">$</span>
                                                                <span class="form-control" style="text-align:right">
                                                                    {{item.factoryPrice | number : 2}}
                                                                </span>
                                                            </div>
                                                        </td>

                                                        <td style="text-align: right">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">$</span>
                                                                <span class="form-control" style="text-align:right">
                                                                    {{item.factoryPrice * item.quantity | number : 2}}
                                                                </span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                    </div>
                                </section>
                            </div>
                        </fieldset>
                        <footer>
                            <button class="btn btn-primary" type="button" ng-click="addPurchasingInvoiceForm.event.addGoods($event)">
                                Add
                            </button>
                            <button class="btn btn-default" type="button" ng-click="addPurchasingInvoiceForm.event.cancel($event)">
                                Cancel
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
}

@section FormAction {
<ul id="sparks">

    <li class="sparks-info">
        <a href="@Url.Action("Index", "PurchasingCreditNote")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
    </li>

    <li class="sparks-info">
        <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current)) {{editData.isConfirmed==true?'disabled' : ''}}" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
    </li>

    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Approve, HttpContext.Current)) {{editData.isConfirmed==true?'disabled' : ''}}" title="Confirm" style="color: #0066ff; " ng-click="event.setStatus($event,@ViewBag.ID,true)"><i class="fa fa-check"></i></a>
    </li>

    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Reset, HttpContext.Current)) {{(editData.isConfirmed==false || editData.isConfirmed==null)?'disabled' : ''}}" title="Un-confirmed" style="color: #ff0000; " ng-click="event.setStatus($event,@ViewBag.ID,false)"><i class="fa fa-undo"></i></a>
    </li>

    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"")" title="Print" ng-click="event.print($event)"><i class="fa fa-print"></i></a>
    </li>



</ul>
}

@section pagejs {
<script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
<script type="text/javascript">
    jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/purchasingCreditNote/';
    jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

    var context = {
        id: '@ViewBag.ID',
        creditNoteType: '@ViewBag.creditNoteType',
        purchasingInvoiceID: '@ViewBag.PurchasingInvoiceID',
        supplierID: '@ViewBag.SupplierID',
        backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
        backUrl: '@Url.Action("Index", "PurchasingCreditNote")',
        refreshUrl: '@Url.Action("Edit", "PurchasingCreditNote", new { id = UrlParameter.Optional })/',
        errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
    }
</script>
<script src="~/Angular/app/purchasingCreditNote/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
<script src="~/Angular/app/purchasingCreditNote/editPurchasingCreditNote.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}



