@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create Factory Specification";
    }
    else
    {
        ViewBag.Title = "Edit Factory Specification";
    }

    ViewBag.Module = "FactorySpecificationMng";

    Frontend.APIDTO.APIUserInformation userInfo = (Frontend.APIDTO.APIUserInformation)Session[Frontend.Customize.Common.ProjectDefinition.USER_INFO_SESSION];
}
<form class="row" name="editForm" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-sortable" id="w01" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header role="heading">
                <h2>Client Specification</h2>
                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">Art.Code</label>
                                    <label class="input">
                                        <input type="text" readonly="" value="{{data.articleCode}}">
                                    </label>
                                </section>
                                <section class="col col-8">
                                    <label class="label">Description</label>
                                    <label class="input">
                                        <input type="text" readonly="" value="{{data.description}}">
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">Type</label>
                                    <label class="input">
                                        <input type="text" readonly="" value="{{data.clientSpecificationTypeNM}}">
                                    </label>
                                </section>
                                <section class="col col-8">
                                    <label class="label">Specification File</label>
                                    <label class="input">
                                        <span class="form-control ng-binding">
                                            {{data.clientFileFriendlyName}}
                                            <div ng-if="data.clientFileFriendlyName" style="position: absolute; right: 5px; top: 5px;">
                                                <a href="{{data.clientFileLocation}}" target="_blank" class="btn btn-primary btn-xs" style="font-size: 11px;">Download</a>
                                            </div>
                                        </span>
                                    </label>
                                </section>
                            </div>
                            <section>
                                <label class="label">Remark</label>
                                <label class="textarea">
                                    <textarea rows="6" readonly="">{{data.clientSpecificationRemark}}</textarea>
                                </label>
                            </section>
                            <section>
                                <div class="note">
                                    Updated by <a ng-if="data.clientSpecificationUpdatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.clientSpecificationUpdatedBy}}" dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">{{data.clientUpdatorNM}}</a> on {{data.clientSpecificationUpdatedDate}}
                                </div>
                            </section>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-sortable" id="w02" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" role="widget">
            <header role="heading">
                <div class="jarviswidget-ctrls" role="menu">   <a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse"><i class="fa fa-minus "></i></a>  </div>
                <h2>Factory Specification</h2>
                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Factory</label>
                                    <label class="input">
                                        <input type="text" value="{{data.factoryUD}}" readonly="">
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Type</label>
                                    <label class="select">
                                        <select id="factorySpecificationTypeID" ng-model="data.factorySpecificationTypeID" ng-options="factorySpecificationType.typeID as factorySpecificationType.typeNM for factorySpecificationType in factorySpecificationTypes">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">
                                        Factory Specification File
                                        <em class="note note-error" ng-show="(data.factorySpecificationTypeID == 2 && (data.factoryFileFriendlyName == null || data.factoryFileFriendlyName == ''))"> (Required)</em>
                                    </label>
                                    <label class="input">
                                        <span class="form-control">
                                            {{data.factoryFileFriendlyName}}
                                            <div style="position: absolute; right: 5px; top: 5px;">
                                                <a ng-disabled="(data.factoryFileFriendlyName == null || data.factoryFileFriendlyName == '')" href="{{data.factoryFileLocation}}" target="_blank" class="btn btn-primary btn-xs" style="font-size: 11px;">Download</a>
                                                <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="event.changeFactoryFile()">Change</a>
                                                <a ng-disabled="(data.factoryFileFriendlyName == null || data.factoryFileFriendlyName == '')" href="javascript:void(0);" class="btn btn-danger btn-xs" style="font-size: 11px;" ng-click="event.removeFactoryFile()">Remove</a>
                                            </div>
                                        </span>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">Order</label>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Order</th>
                                                <th>Quantity</th>
                                                <th>LDS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in factoryOrderDetails">
                                                <td>
                                                    <a href="@Url.Action("Edit", "factoryOrder")/{{item.factoryOrderID}}/{{item.saleOrderID}}" target="_blank">
                                                        {{item.factoryOrderUD}}
                                                    </a>
                                                </td>
                                                <td>{{item.orderQnt}}</td>
                                                <td>{{item.lds}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Remark</label>
                                    <label class="textarea">
                                        <textarea rows="7" ng-model="data.factorySpecificationRemark"></textarea>
                                    </label>
                                </section>
                            </div>
                            <section>
                                <div class="note">
                                    Updated by <a ng-if="data.factorySpecificationUpdatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.factorySpecificationUpdatedBy}}" dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">{{data.factoryUpdatorNM}}</a> on {{data.factorySpecificationUpdatedDate}}
                                </div>
                            </section>
                            <section>
                                <label class="label">Comments</label>
                                <div class="well">
                                    <table class="table table-striped table-forum">
                                        <tbody>
                                            <tr>
                                                <td class="text-center" style="width: 150px;">Yourself</td>
                                                <td>just now</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">
                                                    <img src="@userInfo.Data.PersonalPhoto_DisplayUrl" style="width: 50px; height: 50px;" class="online" />
                                                </td>
                                                <td>
                                                    <label class="textarea">
                                                        <textarea rows="6" ng-model="newCommnet.comment"></textarea>
                                                    </label>
                                                    <br>
                                                    <a href="javascript:void(0)" ng-click="event.addComment($event)" class="btn btn-primary btn-xs">Post Comment</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody ng-repeat="item in data.factorySpecificationComments">
                                            <tr>
                                                <td class="text-center" style="width: 150px;"><a ng-if="item.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">{{item.updatorNM}}</a></td>
                                                <td>on {{item.updatedDate}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">
                                                    <img src="{{item.fileLocation}}" style="width: 50px; height: 50px;" class="online" />
                                                </td>
                                                <td>
                                                    <p>
                                                        {{item.comment}}
                                                    </p>
                                                    <br>
                                                    <a ng-if="item.canDelete" href="javascript:void(0)" ng-click="event.deleteComment($event,$index, item)" class="btn btn-danger btn-xs">Delete Comment</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

    @section FormAction {
        <ul id="sparks">
            <li class="sparks-info">
                <a href="@Url.Action("Index", "FactorySpecificationMng")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
            </li>
            <li class="sparks-info">
                <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
            </li>
            <!--
            <li class="sparks-info">
                <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current))" title="Delete" ng-click="event.deleteItem()" style="color: #ff0000;"><i class="fa fa-times"></i></a>
            </li>
            -->
        </ul>
    }

    @section pagejs {
        <script type="text/javascript">
            var context = {
                id: @ViewBag.ID,
                serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factorySpecificationMng/',
                token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
                backUrl: '@Url.Action("Index", "FactorySpecificationMng")',
                refreshUrl: '@Url.Action("Edit", "FactorySpecificationMng", new { id = UrlParameter.Optional })/'
            }
        </script>
        <script src="~/Angular/app/factorySpecificationMng/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
        <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
        <script src="~/Angular/app/factorySpecificationMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
        <script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    }
