@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create Au Viet Furniture Purchasing Invoice";
    }
    else
    {
        ViewBag.Title = "Edit Au Viet Furniture Purchasing Invoice";
    }

    ViewBag.Module = "Au Viet Furniture Purchasing Invoice";

}

<form class="row" name="editForm" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <span> Invoice Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabTracking"> <i class="fa fa-history"></i> <span> Tracking </span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="widget-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabGeneral">
                            <div class="row">
                                <div class="col-sm-6 m-bottom-15">
                                    <label>Supplier Name</label>
                                    <div class="smart-form">
                                        <label class="input">
                                            <input type="text" ng-model="dataContainer.avfSupplierNM" autocomplete="off" ng-keyup="quickSearchAVFSupplier.event.searchBoxKeyUp()" id="txtSupplier" />
                                            <input type="hidden" ng-model="dataContainer.avfSupplierID" name="avfSupplierUD" required />
                                            <i class="icon-append fa fa-search"></i>
                                        </label>
                                        <div id="supplier-popup" class="popup-container-2">
                                            <div style="float: right; margin-bottom: 8px;">
                                                <a ng-click="quickSearchAVFSupplier.event.close($event, true)" class="btn btn-primary btn-xs" href="javascript:void(0);"><i class="fa fa-remove"></i> Close</a>
                                            </div>
                                            <div class="clear"></div>
                                            <div id="quickSearchAVFSupplierTable" class="tilsoft-table-wrapper">
                                                <div class="tilsoft-table">
                                                    <div class="tilsoft-table-header" style="width: 360px;">
                                                        <div style="width: 70px;"></div>
                                                        <div style="width: 100px;">Supplier</div>
                                                        <div>BL No</div>
                                                    </div>
                                                    <div class="tilsoft-table-body" style="width: 360px;">
                                                        <table>
                                                            <tr ng-repeat="item in quickSearchAVFSupplier.data">
                                                                <td style="width: 70px; text-align: center;"><a ng-click="quickSearchAVFSupplier.event.ok($event, item.avfSupplierID)" class="btn btn-primary btn-xs" href="javascript:void(0);"><i class="fa fa-check"></i> Select</a></td>
                                                                <td style="width: 100px;">{{item.avfSupplierUD}}</td>
                                                                <td>{{item.avfSupplierNM}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="help-block" ng-show="editForm.avfSupplierID.$error.required"><i class="fa fa-warning"></i>Supplier is required.</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 m-bottom-15">
                                    <label>Supplier Code</label>
                                    <span class="form-control">{{dataContainer.avfSupplierUD}}</span>
                                </div>
                            </div>
                            <div class="smart-form">
                                <fieldset style="padding: 0px;">
                                    <div class="row">
                                        <div class="col col-3 m-bottom-15">
                                            <label class="label">Document No</label>
                                            <label class="input">
                                                <input type="text" id="documentNo" ng-model="dataContainer.documentNo" />
                                            </label>
                                        </div>
                                        <div class="col col-3 m-bottom-15">
                                            <label class="label">Container Transportation</label>
                                            <label class="input">
                                                <input type="text" id="containerTransportation" ng-model="dataContainer.containerTransportation" />
                                            </label>
                                        </div>
                                        <div class="col col-3 m-bottom-15">
                                            <label class="label">Document Date</label>
                                            <label class="input">
                                                <input type="text" class="datepicker" ng-model="dataContainer.documentDate" data-dateformat="dd/mm/yy" />
                                                <i class="icon-append fa fa-calendar"></i>
                                            </label>
                                        </div>
                                        <div class="col col-3 m-bottom-15">
                                            <label class="label">Invoice No</label>
                                            <label class="input">
                                                <input type="text" id="invoiceNo" ng-model="dataContainer.invoiceNo" />
                                            </label>
                                        </div>
                                     </div>
                                    <div class="row">
                                        <div class="col col-3 m-bottom-15">
                                            <label class="label">Invoice Date</label>
                                            <label class="input">
                                                <input type="text" class="datepicker" ng-model="dataContainer.invoiceDate" data-dateformat="dd/mm/yy" />
                                                <i class="icon-append fa fa-calendar"></i>
                                            </label>
                                        </div>
                                        <div class="col col-3 m-bottom-15">
                                            <label class="label">Season</label>
                                            <label class="select">
                                                <select ng-model="dataContainer.season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </div>
                                        <div class="col col-3 m-bottom-15">
                                            <label class="label">Tax Rate (%)</label>
                                            <label class="input">
                                                <input type="text" id="taxRate" ng-model="dataContainer.taxRate" />
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">
                                                PFD File Scan
                                            </label>
                                            <label class="input">
                                                <span class="form-control">
                                                    {{dataContainer.friendlyName}}
                                                    <div style="position: absolute; right: 5px; top: 5px;">
                                                        <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="event.downloadFile()">Download</a>
                                                        <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="event.changeFile()">Change</a>
                                                        <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="event.removeFile()">Remove</a>
                                                    </div>
                                                </span>
                                            </label>
                                        </section>
                                    </div>
                                    <section>
                                        <label class="label">Remark</label>
                                        <label class="textarea">
                                            <textarea rows="5" ng-model="dataContainer.remark"></textarea>
                                        </label>
                                    </section>
                                </fieldset>
                            </div>
                            <div class="row">
                                <section class="col col-lg-12">
                                    <div id="grdMaterial" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-body" style="width: 950px; margin-top:0px">
                                                <table>
                                                    <tr>
                                                        <th style="width:40px"></th>
                                                        <th style="width:60px">INDEX</th>
                                                        <th style="width:300PX">DESCRIPTION</th>
                                                        <th style="width:100px">DEBIT</th>
                                                        <th style="width:100px">CREDIT</th>
                                                        <th style="width:100px;">USD</th>
                                                        <th style="width:100px;">Exchange</th>
                                                        <th style="width:150px;">AMOUNT</th>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="8">
                                                            <a class="btn btn-primary btn-xs" ng-click="event.addDetail($event)"><i class=" fa fa-plus"></i> Add detail</a>
                                                        </td>
                                                    </tr>
                                                    <tr ng-repeat="item in dataContainer.avfPurchasingInvoiceDetails">
                                                        <td style="text-align:center; vertical-align:middle">
                                                            <a ng-click="event.removeDetail($event,$index)" class="btn btn-danger btn-xs font-11" href="javascript:void(0);"><i class=" fa fa-times"></i>Del</a>
                                                        </td>
                                                        <td style="vertical-align:middle"><input class="form-control" ng-model="item.detailIndex" style="text-align:center" /></td>
                                                        <td>
                                                            <input class="form-control" type="text" name="description" ng-model="item.description">
                                                        </td>
                                                        <td style="vertical-align:middle">
                                                            <select class="form-control" ng-model="item.debitAccountID" ng-options="account.ledgerAccountID as account.accountNo for account in ledgerAccounts">
                                                                <option value=""></option>
                                                            </select>
                                                        </td>
                                                        <td style="vertical-align:middle">
                                                            <select class="form-control" ng-model="item.creditAccountID" ng-options="account.ledgerAccountID as account.accountNo for account in ledgerAccounts">
                                                                <option value=""></option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">$</span>
                                                                <input name="amount" type="text" class="form-control furnindo-currency" ng-model="item.usd" furnindo-currency style="text-align:right" ng-currency fraction="0" currency-symbol="" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">₫</span>
                                                                <input name="amount" type="text" class="form-control furnindo-currency" ng-model="item.exchangeRate" furnindo-currency style="text-align:right" ng-currency fraction="0" currency-symbol="" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">₫</span>
                                                                <input type="text" ng-model="item.amount" furnindo-currency style="text-align:right"/>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3"><b>Total Rows() : {{dataContainer.avfPurchasingInvoiceDetails.length}}</b></th>
                                                        <th style="font-weight: bold; text-align: right;" colspan="4">TOTAL</th>
                                                        <th style="font-weight: bold; text-align: right;"><span>₫</span>{{method.getTotal() | currency:'':0}}</th>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabTracking">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Updated By</label>
                                            <label class="input">
                                                <span class="form-control">
                                                    <a ng-show="(dataContainer.updatedBy!=null && dataContainer.updatorName2!=null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{dataContainer.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        <i class="fa fa-user"></i> {{dataContainer.updatorName2}}
                                                    </a>
                                                    <span ng-show="(dataContainer.updatedBy!=null && dataContainer.updatorName2==null && dataContainer.updatorName!=null)">{{dataContainer.updatorName}}</span>
                                                </span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Updated Date</label>
                                            <label class="input">
                                                <span class="form-control">{{dataContainer.updatedDate}}</span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jarviswidget" id="wid-id-product-detail" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false"></div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "avfpurchasinginvoice")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" disabled class="btn btn-default" title="Print"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Reset, HttpContext.Current))" title="Reset Approval status" disabled><i class="fa fa-thumbs-o-down"></i></a>
        </li>
    </ul>
}
@section pagejs {
    <script src="~/Angular/app/avfPurchasingInvoice/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">
        avfPurchasingInvoiceService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/avfpurchasinginvoice/';
        avfPurchasingInvoiceService.supportServiceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        avfPurchasingInvoiceService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

    supportService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
    supportService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

    var context = {
            id: @ViewBag.ID,
            backUrl: '@Url.Action("Index", "avfpurchasinginvoice")',
            refreshUrl: '@Url.Action("Edit", "avfpurchasinginvoice", new { id = UrlParameter.Optional })/',
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED'
        }
    </script>
    <script src="~/Angular/app/avfPurchasingInvoice/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
