@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create step norm";
    }
    else
    {
        ViewBag.Title = "Edit step norm";
    }

    ViewBag.Module = "Factory step Norm";
}

<form class="row" name="editForm">

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       
         <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>General</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        
                        <div class="row">
                            <section class="col col-lg-12">
                                <label>Eurofar product</label>
                                <div class="input">
                                    <input ng-model="data.description" id="quickSearchBox-product" placeholder="press enter to search all product or type at least 3 chars to search product" class="form-control" type="text" ng-keyup="quickSearchProduct.event.searchBoxKeyUp($event)" autocomplete="off">
                                    <a ng-click="quickSearchProduct.event.searchClick()" href="javascript:void(0);"><i class="icon-append fa fa-search"></i></a>
                                    <div id="popup-product" class="popup-container-2" style="display: none; left: 0px; top: 32px;z-index: 50;">
                                        <div style="float: right; margin-bottom: 8px;">
                                            <a href="javascript:void(0);" ng-click="quickSearchProduct.event.itemSelected($event)" class="btn btn-primary btn-xs">OK</a>
                                            <a href="javascript:void(0);" ng-click="quickSearchProduct.event.close($event)" class="btn btn-danger btn-xs">Close</a>
                                        </div>
                                        <div class="clear"></div>
                                        <div id="quickSearchResultGrid-product" class="tilsoft-table-wrapper">
                                            <div class="tilsoft-table">
                                                <div class="tilsoft-table-header" style="width: 700px;">
                                                    <div style="width: 80px; text-align: center"></div>
                                                    <div style="width: 100px;">Image</div>
                                                    <div style="width: 210px" class="sorting">ArticleCode</div>
                                                    <div class="sorting"> Description</div>
                                                </div>

                                                <div class="tilsoft-table-body" style="width: 700px;">
                                                    <table>
                                                        <tr ng-repeat="product in quickSearchProduct.data">
                                                            <td style="width: 80px; text-align: center; vertical-align:middle"><a ng-click="quickSearchProduct.event.itemSelected($event, product.productID)" class="btn btn-primary btn-xs" href="javascript:void(0);">Select</a></td>
                                                            <td style="width: 100px; text-align: center; vertical-align: middle;">
                                                                <a href="{{product.imageFileFullSize}}" data-featherlight="image">
                                                                    <img style="width: 95%;" ng-src="{{product.imageFile}}" />
                                                                </a>
                                                            </td>
                                                            <td style="width: 210px; vertical-align:middle">{{product.articleCode}}</td>
                                                            <td style="vertical-align:middle">{{product.description}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="col col-3">
                                <label>ArticleCode</label>
                                <span class="form-control">{{data.articleCode}}</span>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-lg-12">
                                <div id="grdMaterial" class="tilsoft-table-wrapper">
                                    <div class="tilsoft-table">
                                        <div class="tilsoft-table-body" style="width: 1500px; margin-top:0px">
                                            <table>
                                                <tr>
                                                    <th style="width:40px"></th>
                                                    <th style="width:60px">Index</th>
                                                    <th>Step</th>
                                                    <th style="width:100px">Unit</th>
                                                    <th style="width:100px">Norm</th>
                                                </tr>

                                                <tr>
                                                    <td colspan="5">
                                                        <a class="btn btn-primary btn-xs" ng-click="event.addStep($event)"><i class=" fa fa-plus"></i> Add Step</a>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="item in data.factoryStepNormDetails">
                                                    <td style="text-align:center; vertical-align:middle">
                                                        <a ng-click="event.removeStep($event,$index)" class="btn btn-danger btn-xs font-11" href="javascript:void(0);"><i class=" fa fa-times"></i>Del</a>
                                                    </td>
                                                    <td style="vertical-align:middle"><input class="form-control" ng-model="item.stepIndex" style="text-align:center"/></td>
                                                    <td style="vertical-align:middle">
                                                        <select class="form-control" ng-model="item.factoryStepID" ng-options="step.factoryStepID as step.factoryStepNM for step in factorySteps">
                                                            <option value=""></option>
                                                        </select>
                                                    </td>
                                                    
                                                    <td style="vertical-align:middle">
                                                        <select class="form-control" ng-model="item.unitID" ng-options="unit.unitID as unit.unitNM for unit in units | orderBy : 'unitNM'">
                                                            <option value=""></option>
                                                        </select>
                                                    </td>
                                                    <td style="vertical-align:middle"><input type="text" ng-model="item.timeNorm" style="width: 100%;text-align:right" /></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="12"><b>Total Rows() : {{data.factoryStepNormDetails.length}}</b></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>

</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "FactoryStepNorm")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#"  class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#"  class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factoryStepNorm/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        supportService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        supportService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            id: '@ViewBag.ID',
            backUrl: '@Url.Action("Index", "FactoryStepNorm")',
            refreshUrl: '@Url.Action("Edit", "FactoryStepNorm", new { id = UrlParameter.Optional })/',
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
        }
    </script>
    <script src="~/Angular/app/factoryStepNorm/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/factoryStepNorm/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

