@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Production Item Group";
    }
    else
    {
        ViewBag.Title = "Edit Production Item Group";
    }

    ViewBag.Module = "ProductionItemGroup";
}
<style>
    .css-inline a {
        display: inline;
    }

    .smart-form .inline-group .checkbox {
        width: 30% !important;
    }

    .smart-form .input-group input {
        padding: 0px 7px !important;
    }

    .inline-cus {
        display: inline-block !important;
    }

    .format-row-hearder {
        background-color: rgba(69,69,69,.6) !important;
        color: white !important
    }
</style>
<form class="row" name="editForm" id="main-form">
    <article>
        <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <i class="fa fa-list"></i> <span> Main Information</span> </a>
                    </li>
                </ul>
            </header>
            <div class="tab-content">
                <div class="col-col-12 tab-pane active" id="tabGeneral">
                    <div id="general-section" class="well-sm" style="background: #fff;">
                        <div class="smart-form m-bottom-15">
                            <h1>General Information</h1>
                            <br />
                            <hr>
                            <fieldset>
                                <div class="row">
                                    <!-- Disable form -->
                                    <div class="col col-2 m-bottom-15" ng-if="data.productionItemGroupID != null">
                                        <label class="label">
                                            <span>Code</span>
                                        </label>
                                        <label class="input">
                                            <input type="text" id="productionItemGroupUD" ng-model="data.productionItemGroupUD" required autocomplete="off" readonly />
                                        </label>
                                    </div>
                                    <!-- Enable form -->
                                    <div class="col col-2 m-bottom-15" ng-if="data.productionItemGroupID == null">
                                        <label class="label">
                                            <span>Code</span>
                                            <em ng-show="editForm.productionItemGroupUD.$error.required" class="note note-error">(Required)</em>
                                        </label>
                                        <label class="input" ng-class="{'state-error': editForm.productionItemGroupUD.$error.required}">
                                            <input name="productionItemGroupUD" type="text" id="productionItemGroupUD" ng-model="data.productionItemGroupUD" autocomplete="off" title="Code format in 2 characters" required />
                                        </label>
                                    </div>

                                    <div class="col col-8 m-bottom-15">
                                        <label class="label">
                                            <span>Name</span>
                                            <em ng-show="editForm.productionItemGroupNM.$error.required" class="note note-error">(Required)</em>
                                        </label>
                                        <label class="input" ng-class="{'state-error': editForm.productionItemGroupNM.$error.required}">
                                            <input name="productionItemGroupNM" type="text" id="productionItemGroupNM" ng-model="data.productionItemGroupNM" required autocomplete="off" />
                                        </label>
                                    </div>
                                    <div class="col col-2 m-bottom-15">
                                        <label class="label">
                                            <span>Wastage Percent (%)</span>
                                        </label>
                                        <label class="input">
                                            @*<input name="WastagePercent" type="number" id="WastagePercent" ng-model="data.WastagePercent" autocomplete="off" />*@
                                            <input class="form-control" style="text-align:right" type="text" name="WastagePercent" ng-model="data.wastagePercent">
                                        </label>
                                    </div>
                                </div>
                                <!------->

                                <div class="row">
                                    <section class="col col-lg-4">
                                        <span>
                                            <strong>
                                                Select user for receiving notification of purchasing
                                            </strong>
                                        </span>
                                        <label class="input-group">
                                            <select avs-select class="form-control" placeholder="Please choose User" ng-model="filterOptions.useritem" ng-options="item.employeeNM for item in listUser track by item.userID">
                                                <option value=""></option>
                                            </select>
                                            <span class="input-group-btn">
                                                <a class="btn btn-default btn-primary btn-xs" style="margin-left: 2px;width: 35px;height: 34px" title="Add user" ng-click="event.add(filterOptions.useritem)"><i class="fa fa-plus"></i></a>
                                            </span>
                                        </label>
                                    </section>

                                </div>
                                <div class="row">
                                    <div class="widget-body" style="margin: 5px; margin-top: -5px;">
                                        <div class="padding-10">
                                            <div class="tilsoft-table-wrapper">
                                                <div class="tilsoft-table">
                                                    <div class="tilsoft-table-body" style="width:600px; margin-top:0px; height:auto">
                                                        <table>
                                                            <tr>
                                                                <th class="format-row-hearder" style="width:110px"></th>
                                                                <th class="format-row-hearder" style="width:280px">User Name</th>
                                                                <th class="format-row-hearder">Remark</th>
                                                            </tr>
                                                            <tr ng-repeat="item in listProductionItemGroupNotification">
                                                                <td style="text-align: center; vertical-align: middle;">
                                                                    <a href="javascript:void(0)" class="btn btn-default btn-danger btn-xs font-11" ng-click="event.remove(item)"><i class="fa fa-times-circle-o"></i> Remove</a>
                                                                </td>
                                                                <td style="vertical-align: middle;">{{item.employeeNM}}</td>
                                                                <td>
                                                                    <input type="text" class="form-control" ng-model="item.remark" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-------->

                                <div class="row">
                                    <section class="col col-lg-4">
                                        <span>
                                            <strong>
                                                Select user for receivng notification of stock QNT
                                            </strong>
                                        </span>
                                        <label class="input-group">
                                            <select avs-select class="form-control" placeholder="Please choose User" ng-model="filterOptions.useritem" ng-options="item.employeeNM for item in listUser track by item.userID">
                                                <option value=""></option>
                                            </select>
                                            <span class="input-group-btn">
                                                <a class="btn btn-default btn-primary btn-xs" style="margin-left: 2px;width: 35px;height: 34px" title="Add user" ng-click="event.addStock(filterOptions.useritem)"><i class="fa fa-plus"></i></a>
                                            </span>
                                        </label>
                                    </section>

                                </div>
                                <div class="row">
                                    <div class="widget-body" style="margin: 5px; margin-top: -5px;">
                                        <div class="padding-10">
                                            <div class="tilsoft-table-wrapper">
                                                <div class="tilsoft-table">
                                                    <div class="tilsoft-table-body" style="width:600px; margin-top:0px; height:auto">
                                                        <table>
                                                            <tr>
                                                                <th class="format-row-hearder" style="width:110px"></th>
                                                                <th class="format-row-hearder" style="width:280px">User Name</th>
                                                                <th class="format-row-hearder">Remark</th>
                                                            </tr>
                                                            <tr ng-repeat="item in listProductionItemGroupStockNotification">
                                                                <td style="text-align: center; vertical-align: middle;">
                                                                    <a href="javascript:void(0)" class="btn btn-default btn-danger btn-xs font-11" ng-click="event.removeStock(item)"><i class="fa fa-times-circle-o"></i> Remove</a>
                                                                </td>
                                                                <td style="vertical-align: middle;">{{item.employeeNM}}</td>
                                                                <td>
                                                                    <input type="text" class="form-control" ng-model="item.remark" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-------->
                                <div class="note">
                                    <strong>Last updated By</strong>
                                    <i class="fa fa-user" ng-show="data.updatedBy != null"> </i>
                                    <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600" ng-show="data.updatedBy != null && data.updatorNM != null">
                                        {{data.updatorNM}}
                                    </a>
                                    on
                                    {{data.updatedDate}}
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

<div ng-if="!exist">

</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "ProductionItemGroup")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script type="text/javascript">
    var context = {
            id: @ViewBag.ID,
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/productionItemGroup/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            backUrl: '@Url.Action("Index", "ProductionItemGroup")',
            refreshUrl: '@Url.Action("Edit", "ProductionItemGroup", new { id = UrlParameter.Optional })/'
        }
    </script>
    <script src="~/Angular/app/productionItemGroup/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/productionItemGroup/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
}
