
@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Price List File";
    }
    else
    {
        ViewBag.Title = "Edit file";
    }

    ViewBag.Module = "Price List File";

}
<style>
    .css-inline a {
        display: inline;
    }

    .smart-form .state-error .select2-container a {
        background: #fff0f0;
        border-color: #A90329;
    }
</style>
<form class="row" name="editForm" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <span> General Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabTracking"> <i class="fa fa-history"></i> <span> Tracking </span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="widget-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabGeneral">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">
                                                Season
                                                <em ng-show="editForm.season.$error.required" class="note note-error">(Required)</em>
                                            </label>
                                            <label class="select" ng-class="{'state-error': editForm.season.$error.required}">
                                                <select name="season" required ng-model="data.season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                                    <option value=""></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-5">
                                            <label class="label">
                                                PDF File
                                            </label>
                                            <label class="input">
                                                <span class="form-control">
                                                    {{data.pdfFriendlyName}}
                                                    <div style="position: absolute; right: 5px; top: 5px;">
                                                        <a ng-disabled="!data.pdfFileLocation" href="{{data.pdfFileLocation}}" target="_blank" class="btn btn-primary btn-xs" style="font-size: 11px;">Download</a>
                                                        <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="event.changePDFFile()">Change</a>
                                                        <a ng-disabled="!data.pdfFileLocation" href="javascript:void(0);" class="btn btn-danger btn-xs" style="font-size: 11px;" ng-click="event.removePDFFile()">Remove</a>
                                                    </div>
                                                </span>
                                            </label>
                                        </section>
                                        <section class="col col-5">
                                            <label class="label">
                                                Excel File
                                            </label>
                                            <label class="input">
                                                <span class="form-control">
                                                    {{data.excelFriendlyName}}
                                                    <div style="position: absolute; right: 5px; top: 5px;">
                                                        <a ng-disabled="!data.excelFileLocation" href="{{data.excelFileLocation}}" target="_blank" class="btn btn-primary btn-xs" style="font-size: 11px;">Download</a>
                                                        <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="event.changeExcelFile()">Change</a>
                                                        <a ng-disabled="!data.excelFileLocation" href="javascript:void(0);" class="btn btn-danger btn-xs" style="font-size: 11px;" ng-click="event.removeExcelFile()">Remove</a>
                                                    </div>
                                                </span>
                                            </label>
                                        </section>
                                    </div>
                                    <section>
                                        <label class="label">
                                            Comment
                                        </label>
                                        <label class="textarea">
                                            <textarea rows="10" ng-model="data.comment"></textarea>
                                        </label>
                                    </section>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabTracking">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Updated By</label>
                                            <label class="input">
                                                <span class="form-control">
                                                    <a ng-if="data.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{data.updatedBy}}" dat data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        {{data.updatorNM}}
                                                    </a>
                                                </span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Updated Date</label>
                                            <label class="input">
                                                <span class="form-control">{{data.updatedDate}}</span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jarviswidget" id="wid-id-product-detail" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false"></div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "PriceListFile")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.update($event)"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="Delete" style="color: #ff0000;" ng-click="event.delete($event)"><i class="fa fa-times"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script type="text/javascript">
    var context = {
            id: @ViewBag.ID,
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/pricelistfile/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            backUrl: '@Url.Action("Index", "PriceListFile")',
            refreshUrl: '@Url.Action("Edit", "PriceListFile", new { id = UrlParameter.Optional })/'
        }
    </script>
    <script src="~/Angular/app/priceListFile/edit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/priceListFile/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
}
