@{
    ViewBag.Title = "RAP VN Report";
    ViewBag.Module = "RAP VN Report";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Filters</h2>
            </header>

            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <fieldset>
                        <div class="form-group">
                            <label>Season</label>
                            <select class="form-control" ng-model="model.season" ng-options="item.seasonValue as item.seasonText for item in seasons"></select>
                        </div>

                        <div class="form-group">
                            <label>Factory</label>
                            <select class="form-control" ng-model="model.factoryID" ng-options="item.factoryID as item.factoryUD for item in factories | orderBy : factoryUD"></select>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" type="button" ng-click="event.ok($event)">
                                PRINT
                            </button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
}

@section pagejs {
    <script src="~/Angular/app/reportRAPVN/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/support/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">
        reportRAPVNService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/report_rapvn/';
        reportRAPVNService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        supportService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        supportService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var reportRAPVNApp = angular.module('tilsoftApp', []);
        reportRAPVNApp.controller('tilsoftController', ['$scope', function ($scope) {

        $scope.seasons = null;
        $scope.factories = null;

        $scope.model = {
            season: '@Frontend.Helper.Common.GetCurrentSeason()',
        factoryID: 0
        };

        //
        // event defined
        //
        $scope.event = {
            ok: function ($event) {
                $event.preventDefault();

                season = $scope.model.season;
                factoryID = $scope.model.factoryID;

                reportRAPVNService.getReport(
                    season,
                    factoryID,
                    function (data) {
                        if (data.message.type == 2) {
                            jsHelper.processMessage(data.message);
                            return;
                        }
                        window.location = '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data;
                    },
                    function (error) {
                        jsHelper.showMessage('warning', error);
                    }
                );
            }
        }

        //
        // private function defined
        //
        $scope.prepareForm = function () {

            //get season
            supportService.getSeasons(
                function (data) {
                    $scope.seasons = data.data;
                    $scope.$apply();
                    jQuery('#content').show();
                },
                function (error) {
                    $scope.seasons = null;
                    $scope.$apply();
                }
            );

            //get factory
            supportService.getFactoryByUser(
                function (data) {
                    $scope.factories = data.data;
                    $scope.$apply();
                    jQuery('#content').show();
                },
                function (error) {
                    $scope.factories = null;
                    $scope.$apply();
                }
            );
        }

        //
        // INIT
        //
        $scope.prepareForm();
    }]);
    </script>
}
