@{
    ViewBag.Title = "Purchasing Calenda";
    ViewBag.Module = "Purchasing Calendar";
    ViewBag.Icon = "fa-calendar";

    Frontend.APIDTO.APIUserInformation userInfo = (Frontend.APIDTO.APIUserInformation)Session[Frontend.Customize.Common.ProjectDefinition.USER_INFO_SESSION];
    string clientViewUrl = Url.Action("Overview", "FactoryRawMaterialMng", new { id = UrlParameter.Optional });
    if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current) == "disabled")
    {
        clientViewUrl = string.Empty;
    }
}

<div class="row" ng-view></div>

@section FormAction {
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/PurchasingCalendarMng/',
            token : '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
            userName: '@userInfo.Data.FullName',
            userID: @userInfo.Data.UserId,
            profileViewUrl: '@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/',  
            clientViewUrl: '@clientViewUrl',
        }
    </script>
    <script src="~/Views/PurchasingCalendarMng/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/PurchasingCalendarMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/PurchasingCalendarMng/view/calendar.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/PurchasingCalendarMng/view/eventEdit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/PurchasingCalendarMng/view/eventView.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/PurchasingCalendarMng/view/eventVisit.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
