@{
    ViewBag.Title = "Purchase Invoice";
    ViewBag.Module = "PurchaseInvoiceMng";

    string userManualUrl = string.Empty;
    if (System.IO.File.Exists(Server.MapPath("~/UserManual/" + ViewBag.ModuleCode + ".pdf")))
    {
        userManualUrl = "/UserManual/" + ViewBag.ModuleCode + ".pdf";
    }
}
<form class="row" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>
            <div class="smart-form">
                <div class="widget-body no-padding">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 2310px;">
                                <div style="width: 70px;"></div>
                                <div style="width: 130px;" class="sorting" data-colname="PurchaseInvoiceStatusID">Status</div>
                                <div style="width: 100px;" class="sorting" data-colname="PurchaseInvoiceUD">Doc Code</div>
                                <div style="width: 100px;" class="sorting" data-colname="InvoiceNo">Invoice No</div>
                                <div style="width: 120px;" class="sorting" data-colname="PurchaseInvoiceDate">Invoice Date</div>
                                <div style="width: 120px">Posting Date</div>
                                <div style="width: 130px;" class="sorting" data-colname="PurchaseInvoiceTypeID">Type</div>
                                <div style="width: 250px;" class="sorting" data-colname="FactoryRawMaterialID">Supplier</div>
                                <div style="width:85px">Currency</div>
                                <div style="width: 100px">VAT Amount</div>
                                <div style="width: 100px">Amount</div>
                                <div style="width: 100px">Amount USD</div>
                                <div style="width: 150px">Total Amount</div>
                                <div style="width: 250px;" data-colname="Remark">Remark</div>
                                <div style="width: 200px;" class="sorting" data-colname="CreatorName">Created By</div>
                                <div style="width: 200px;" class="sorting" data-colname="UpdatorName">Updated By</div>
                                <div></div>
                            </div>

                            <div class="tilsoft-table-filter" style="width: 2310px;">

                                <div style="text-align: center; width: 70px">
                                    <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.reload()"><i class="fa fa-filter"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilter()"><i class="fa fa-ban"></i></a>
                                </div>

                                <div style="width: 130px; text-align: center">
                                    <select class="form-control" ng-model="filters.purchaseInvoiceStatusID" style="height:25px"
                                            ng-options="gItem.purchaseInvoiceStatusID as gItem.purchaseInvoiceStatusNM for gItem in purchaseInvoiceStatusDTOs">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div style="width: 100px; text-align: center">
                                    <input type="text" ng-model="filters.purchaseInvoiceUD" class="form-control search-filter" />
                                </div>
                                <div style="width: 100px; text-align: center">
                                    <input type="text" ng-model="filters.invoiceNo" class="form-control search-filter" />
                                </div>
                                <div style="width: 120px; padding:0px">
                                    <div class="input-group" style="border:none">
                                        <input type="text" class="form-control search-filter" style="width:100%" avs-calendar ng-data-source="filters.purchaseInvoiceDate" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 120px; padding:0px">
                                    <div class="input-group" style="border:none">
                                        <input type="text" class="form-control search-filter" style="width:100%" avs-calendar ng-data-source="filters.postingDate" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 130px; text-align: center">
                                    <select class="form-control" ng-model="filters.purchaseInvoiceTypeID" style="height:25px"
                                            ng-options="gItem.purchaseInvoiceTypeID as gItem.purchaseInvoiceTypeNM for gItem in purchaseInvoiceTypeDTOs">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div style="width:250px; padding: 0px">
                                    <select class="select2" id="subSupplier" style="width: 100%" ng-model="filters.factoryRawMaterialID" ng-options="spFactoryRaw.factoryRawMaterialID as spFactoryRaw.factoryRawMaterialOfficialNM for spFactoryRaw in factoryRawMaterialDTOs">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </div>
                                <div style="width:85px"></div>
                                <div style="width: 100px"></div>
                                <div style="width: 100px"></div>
                                <div style="width: 100px"></div>
                                <div style="width: 150px"></div>
                                <div style="width: 250px"></div>
                                <div style="width: 200px"></div>
                                <div style="width: 200px"></div>
                                <div></div>
                            </div>
                            <div class="tilsoft-table-totalrow" style="width: 2310px">
                                <div style="width:1105px; text-align:right"><b>Total</b></div>
                                <div style="width: 100px;">{{totalAmountDTO.totalVATAmount | number: 0}}</div>
                                <div style="width: 100px;">{{totalAmountDTO.totalAmountVND | number: 0}}</div>
                                <div style="width: 100px">{{totalAmountDTO.totalAMountUSD | number: 0}}</div>
                                <div style="width: 150px">{{totalAmountDTO.totalAllAmountVND | number: 0}}</div>
                                <div style="width: 250px;"></div>
                                <div style="width: 200px;"></div>
                                <div style="width: 200px;"></div>
                                <div></div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 2310px; margin-top: 95px;">
                                <table>
                                    <tbody ng-repeat="item in data">
                                        <tr>

                                            <td style="width:69px;text-align:center">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "PurchaseInvoiceMng")/{{item.purchaseInvoiceID}}#/" title="view (read only)" target="_blank"><i class="fa fa-folder-open"></i>View</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "PurchaseInvoiceMng")/{{item.purchaseInvoiceID}}#/" title="Edit" target="_blank"><i class="fa fa-pencil"></i>Edit</a>
                                                }
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                                {
                                                    <a class="btn btn-danger btn-xs font-11" href="#" ng-click="event.delete(item)" title="Delete" ng-show="item.purchaseInvoiceStatusID == 1" style="margin-top: 3px; width: 43px"><i class="fa fa-times"></i>Del</a>
                                                }
                                            </td>

                                            <td style="text-align: center; width: 130px">{{item.purchaseInvoiceStatusNM}}</td>
                                            <td style="text-align: center; width: 100px">{{item.purchaseInvoiceUD}}</td>
                                            <td style="text-align: center; width: 100px">{{item.invoiceNo}}</td>
                                            <td style="text-align: center; width: 120px">{{item.purchaseInvoiceDate}}</td>
                                            <td style="text-align: center; width: 120px">{{item.postingDate}}</td>
                                            <td style="text-align: left; width: 130px">{{item.purchaseInvoiceTypeNM}}</td>
                                            <td style="text-align: left; width: 250px">{{item.factoryRawMaterialOfficialNM}}</td>
                                            <td style="text-align: center; width: 85px">{{item.currency}}</td>
                                            <td style="text-align: right; width: 100px">{{item.vatAmount | number:0}}</td>
                                            <td style="text-align: right; width: 100px" ng-if="item.currency == 'VND'">{{item.amount | number:0}}</td>
                                            <td style="text-align: right; width: 100px" ng-if="item.currency != 'VND'"></td>
                                            <td style="text-align: right; width: 100px" ng-if="item.currency == 'USD'">{{item.amount | number:0}}</td>
                                            <td style="text-align: right; width: 100px" ng-if="item.currency != 'USD'"></td>
                                            <td style="text-align: right; width: 150px" ng-if="item.currency == 'VND'">{{item.vatAmount + item.amount | number: 0}}</td>
                                            <td style="text-align: right; width: 150px" ng-if="item.currency == 'USD'">{{item.vatAmount + item.amount * item.exchangeRate | number: 0}}</td>
                                            <td style="text-align: left; width: 250px">
                                                <textarea style="background:none" ng-model="item.remark" rows="4" disabled></textarea>
                                            </td>
                                            <td style="text-align: left; width: 200px">
                                                <label>
                                                    Create By: <a ng-show="(item.createdBy != null && item.creatorName != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.createdBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        <i class="fa fa-user"></i> {{item.creatorName}}
                                                    </a>
                                                </label>
                                                <label>
                                                    Create Date: {{item.createdDate}}
                                                </label>
                                            </td>
                                            <td style="text-align: left; width: 200px">
                                                <label>
                                                    Update By: <a ng-show="(item.updatedBy != null && item.updatorName != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                        <i class="fa fa-user"></i> {{item.updatorName}}
                                                    </a>

                                                </label>
                                                <label>
                                                    Update Date: {{item.updatedDate}}
                                                </label>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <span>Found: {{totalRows}} record(s)</span>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        @*<li class="sparks-info">
                <a href="@Url.Action("Edit", "Delivery")/0" target="_blank" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New"><i class="fa fa-file-o"></i></a>
            </li>*@

        <li class="sparks-info">
            <a href="@Url.Action("Edit", "PurchaseInvoiceMng")/0#/" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New" target="_blank"><i class="fa fa-file-o"></i></a>
        </li>
        @if (!string.IsNullOrEmpty(userManualUrl))
        {
            <li class="sparks-info">
                <a target="_blank" href="@userManualUrl" class="btn btn-default" title="Help"><i class="fa fa-info"></i></a>
            </li>
        }
    </ul>
}
@section pagepopup2{
}

@section pagejs {
    <script src="~/Views/PurchaseInvoiceMng/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/purchase-invoice/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize: @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"],
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            title:'WorkOrder'
        }
    </script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/PurchaseInvoiceMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
