@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create Back Order";
    }
    else
    {
        ViewBag.Title = "Edit Back Order";
    }

    ViewBag.Module = "Back Order";

}
<form class="row" name="editForm" id="main-form">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>Back Order</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Client</label>
                            <div class="smart-form">
                                <label class="input">
                                    <input type="text" ng-model="editData.data.clientNM" autocomplete="off" ng-keyup="quicksearchClient.event.searchBoxKeyUp($event)" id="txtClient" />
                                    <input type="hidden" ng-model="editData.data.clientID" name="clientID" required />
                                    <i class="icon-append fa fa-search" ng-click="quicksearchClient.event.searchClick()"></i>
                                </label>
                                <div id="client-popup" class="popup-container-2">
                                    <div style="float: right; margin-bottom: 8px;">
                                        <a ng-click="quicksearchClient.event.close($event, true)" class="btn btn-primary btn-xs" href="javascript:void(0);"><i class="fa fa-remove"></i> Close</a>
                                    </div>
                                    <div class="clear"></div>
                                    <div id="quickSearchClientTable" class="tilsoft-table-wrapper">
                                        <div class="tilsoft-table">
                                            <div class="tilsoft-table-header" style="width: 360px;">
                                                <div style="width: 70px;"></div>
                                                <div style="width: 100px;">CLIENT CODE</div>
                                                <div>CLIENT NAME</div>
                                            </div>
                                            <div class="tilsoft-table-body" style="width: 360px;">
                                                <table>
                                                    <tr ng-repeat="item in quicksearchClient.data">
                                                        <td style="width: 70px; text-align: center;"><a ng-click="quicksearchClient.event.ok($event, item.clientID)" class="btn btn-primary btn-xs" href="javascript:void(0);"><i class="fa fa-check"></i> Select</a></td>
                                                        <td style="width: 100px;">{{item.clientUD}}</td>
                                                        <td>{{item.clientNM}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="help-block" ng-show="editForm.clientID.$error.required"><i class="fa fa-warning"></i>Client is required.</span>

                        </div>
                        <div class="col-sm-2">
                            <label>Client Code</label>
                            <span class="form-control">{{editData.data.clientUD}}</span>
                        </div>
                        <div class="col-sm-2">
                            <label>Acc Manager</label>
                            <select class="form-control" ng-model="editData.data.saleID" ng-options="item.saleID as item.saleNM for item in editData.salers" name="saleID" required>
                                <option value=""></option>
                            </select>
                            <span class="help-block" ng-show="editForm.saleID.$error.required"><i class="fa fa-warning"></i>Acc Manager is required.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label>Season</label>
                            <select class="form-control" ng-model="editData.data.season" ng-options="season.seasonValue as season.seasonText for season in editData.seasons" name="season" required>
                                <option value=""></option>
                            </select>
                            <span class="help-block" ng-show="editForm.season.$error.required"><i class="fa fa-warning"></i>Season is required.</span>
                        </div>
                        <div class="col-sm-2">
                            <label>Payment Term</label>
                            <select class="form-control" ng-model="editData.data.paymentTermID" ng-options="item.paymentTermID as item.paymentTermNM for item in editData.paymentTerms" name="paymentTermID" required>
                                <option value=""></option>
                            </select>
                            <span class="help-block" ng-show="editForm.paymentTermID.$error.required"><i class="fa fa-warning"></i>Payment term is required.</span>
                        </div>
                        <div class="col-sm-2">
                            <label>Delivery Term</label>
                            <select class="form-control" ng-model="editData.data.deliveryTermID" ng-options="item.deliveryTermID as item.deliveryTermNM for item in editData.deliveryTerms" name="deliveryTermID" required>
                                <option value=""></option>
                            </select>
                            <span class="help-block" ng-show="editForm.deliveryTermID.$error.required"><i class="fa fa-warning"></i>Delivery term is required.</span>
                        </div>
                        <div class="col-sm-2">
                            <label>VAT Percent</label>
                            <select class="form-control" ng-model="editData.data.vatPercent" ng-options="item.vatPercentValue as item.vatPercentText for item in editData.vatPercent" name="vatPercent" required>
                                <option value=""></option>
                            </select>
                            <span class="help-block" ng-show="editForm.vatPercent.$error.required"><i class="fa fa-warning"></i>VAT is required.</span>
                        </div>
                        <div class="col-sm-2">
                            <label>Currency</label>
                            <select class="form-control" ng-model="editData.data.currency" ng-options="item.currencyValue as item.currencyText for item in editData.currency" name="currency" required>
                                <option value=""></option>
                            </select>
                            <span class="help-block" ng-show="editForm.currency.$error.required"><i class="fa fa-warning"></i>Currency is required.</span>
                        </div>
                        <div class="col-sm-2">
                            <label>Order Type</label>
                            <select class="form-control" ng-model="editData.data.orderType" ng-options="item.orderTypeValue as item.orderTypeText for item in editData.saleOrderTypes" name="orderType" required>
                                <option value=""></option>
                            </select>
                            <span class="help-block" ng-show="editForm.orderType.$error.required"><i class="fa fa-warning"></i>Order type is required.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>Filter to select goods</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-sm-1">
                            <label>PI No</label>
                            <input class="form-control" type="text" id="clientUD" ng-model="filters.ProformaInvoiceNo">
                        </div>
                        <div class="col-sm-1">
                            <label>Client</label>
                            <input class="form-control" type="text" id="clientUD" ng-model="filters.ClientUD">
                        </div>
                        <div class="col-sm-1">
                            <label>Acc Manager</label>
                            <select class="form-control" ng-model="filters.SaleID" ng-options="item.saleID as item.saleNM for item in editData.salers">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <label>ArticleCode</label>
                            <input class="form-control" type="text" id="ArticleCode" ng-model="filters.ArticleCode">
                        </div>
                        <div class="col-sm-8">
                            <label>Description</label>
                            <input class="form-control" type="text" id="Description" ng-model="filters.Description">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1" style="margin-top:10px">
                            <a class="btn btn-primary btn-xs" href="javascript:void(0);" ng-click="searchGoods()" style="margin-bottom: 10px;"><i class="fa fa-search"></i>Search PI</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div id="searchResultGoodsGrid" class="tilsoft-table-wrapper">
                                <div class="tilsoft-table">
                                    <div class="tilsoft-table-header" style="width: 1000px;">
                                        <div style="width: 50px;"></div>
                                        <div style="width: 70px;" class="sorting" data-colname="proformaInvoiceNo">Prof.No</div>
                                        <div style="width: 60px;" class="sorting" data-colname="clientUD">Client</div>
                                        <div style="width: 100px;" class="sorting" data-colname="saleNM">Sale</div>
                                        <div style="width: 210px;" class="sorting" data-colname="articleCode">ArticleCode</div>
                                        <div style="width: 50px;" class="sorting" data-colname="OrderQnt">Order Qnt</div>
                                        <div style="width: 50px;" class="sorting" data-colname="TolalLoadingPlanQnt">Loaded Qnt</div>
                                        <div style="width: 50px;" class="sorting" data-colname="RemainQnt">Remain Qnt</div>
                                        <div class="sorting" data-colname="description">Description</div>
                                    </div>
                                    <div class="tilsoft-table-body" style="width: 1000px;">
                                        <table>
                                            <tbody ng-repeat="item in searchResultGoods">
                                                <tr>
                                                    <td style="width:50px;text-align:center" ><a class="btn btn-primary btn-xs" href="javascript:void(0);" ng-click="AddGoods($event,item)">Add</a></td>
                                                    <td style="width: 70px;">{{item.proformaInvoiceNo}}</td>
                                                    <td style="width: 60px; ">{{item.clientUD}}</td>
                                                    <td style="width: 100px;">{{item.saleNM}}</td>
                                                    <td style="width: 210px;">{{item.articleCode}}</td>
                                                    <td style="width: 50px; text-align: center; ">{{item.orderQnt}}</td>
                                                    <td style="width: 50px; text-align: center; ">{{item.tolalLoadingPlanQnt}}</td>
                                                    <td style="width: 50px; text-align: center; ">{{item.remainQnt}}</td>
                                                    <td>{{item.description}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div id="selectedGoodsGrid" class="tilsoft-table-wrapper">
                                <div class="tilsoft-table">
                                    <div class="tilsoft-table-header" style="width: 1000px;">
                                        <div style="width: 50px;"></div>
                                        <div style="width: 70px;" class="sorting" data-colname="proformaInvoiceNo">Prof.No</div>
                                        <div style="width: 60px;" class="sorting" data-colname="clientUD">Client</div>
                                        <div style="width: 100px;" class="sorting" data-colname="saleNM">Sale</div>
                                        <div style="width: 210px;" class="sorting" data-colname="articleCode">ArticleCode</div>
                                        <div style="width: 50px;" class="sorting" data-colname="OrderQnt">Order Qnt</div>
                                        <div style="width: 50px;" class="sorting" data-colname="TolalLoadingPlanQnt">Loaded Qnt</div>
                                        <div style="width: 50px;" class="sorting" data-colname="RemainQnt">Remain Qnt</div>
                                        <div style="width: 60px;" class="sorting" data-colname="BackQnt">Back Qnt</div>
                                        <div class="sorting" data-colname="description">Description</div>
                                    </div>
                                    <div class="tilsoft-table-body" style="width: 1000px;">
                                        <table>
                                            <tbody ng-repeat="item in editData.data.backOrderDetails">
                                                <tr>
                                                    <td style="width:50px;text-align:center"><a class="btn btn-primary btn-xs {{item.backOrderDetailID > 0 ? 'disabled':''}}" href="javascript:void(0);" ng-click="RemoveSelectedGoods($event,item)">Del</a></td>
                                                    <td style="width: 70px;">{{item.proformaInvoiceNo}}</td>
                                                    <td style="width: 60px; ">{{item.clientUD}}</td>
                                                    <td style="width: 100px;">{{item.saleNM}}</td>
                                                    <td style="width: 210px;">{{item.articleCode}}</td>
                                                    <td style="width: 50px; text-align: center; ">{{item.orderQnt}}</td>
                                                    <td style="width: 50px; text-align: center; ">{{item.tolalLoadingPlanQnt}}</td>
                                                    <td style="width: 50px; text-align: center; ">{{item.remainQnt}}</td>
                                                    <td style="width: 60px; text-align: center; "><input type="text" class="form-control" ng-model="item.backQnt"/></td>
                                                    <td>{{item.description}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    


                </div>
            </div>
        </div>

    </article>
</form>

@section pagepopup
{
}

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="update($event)"><i class="fa fa-save"></i></a>
        </li>

        <li class="sparks-info">
            <a href="@Url.Action("Index", "BackSaleOrder")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>

    </ul>
}

@section pagejs {
    <script src="~/Angular/app/backSaleOrder/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">

        var searchResultGoodsGrid = jQuery('#searchResultGoodsGrid').scrollableTable(
            function (currentPage) {
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function () {
                    scope.pageIndex = currentPage;
                    backSaleOrderService.searchFilter.pageIndex = scope.pageIndex;
                    scope.searchGoods();
                });
            },
            function (sortedBy, sortedDirection) {
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function () {
                    backSaleOrderService.searchFilter.sortedDirection = sortedDirection;
                    scope.pageIndex = 1;
                    backSaleOrderService.searchFilter.pageIndex = scope.pageIndex;
                    backSaleOrderService.searchFilter.sortedBy = sortedBy;
                    scope.searchGoods();
                });
            }
        );

        var quickSearchClientGrid = jQuery('#quickSearchClientTable').scrollableTable2(
             'quicksearchClient.filters.pageIndex',
             'quicksearchClient.totalPage',
            function (currentPage) {
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function () {
                    scope.quicksearchClient.filters.pageIndex = currentPage;
                    scope.quicksearchClient.method.searchClient();
                });
            },
            function (sortedBy, sortedDirection) {
                //do nothing
            }
        );


        backSaleOrderService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/backsaleorder/';
        backSaleOrderService.supportServiceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        backSaleOrderService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        var clientApp = angular.module('tilsoftApp', []);
        clientApp.controller('tilsoftController', ['$scope', function ($scope) {

        $scope.editData = null;
        $scope.searchResultGoods = null;
        $scope.newID = 0;

        $scope.pageIndex = 1;
        $scope.totalPage = 0;
        $scope.filters = {
            ProformaInvoiceNo: '',
            ClientUD: '',
            SaleID: 0,
            ArticleCode: '',
            Description: '',
        };

        $scope.load = function()
        {
            backSaleOrderService.load('@ViewBag.ID',
                function (data) {
                    $scope.editData = data.data;
                    $scope.$apply();

                    jQuery('#content').show();
                    $scope.$watch('client', function() {
                        jQuery('#changeNotification').html('<i class="fa fa-save blink_me"></i>');
                    });
                },
                function (error) {
                    jsHelper.showMessage('warning', error);
                    $scope.editData = null;
                    $scope.$apply();
                }
            );
        }
        $scope.update = function ($event) {
            $event.preventDefault();
            if($scope.editForm.$valid)
            {
                backSaleOrderService.update('@ViewBag.ID',$scope.editData.data,
                function (data) {
                    jsHelper.processMessage(data.message);
                    if(data.message.type == 0) {                        
                        window.location = '@Url.Action("Edit", "BackSaleOrder", new { id = UrlParameter.Optional})/' + data.data.backOrderID;
                        window.open('@Url.Action("Edit", "SaleOrder", new { id = UrlParameter.Optional, id2 = UrlParameter.Optional })/' + data.data.saleOrderID + "/" + data.data.offerID, "");
                    }
                },
                function (error) {
                    jsHelper.showMessage('warning', error);
                }
                );
            }
            else
            {
                jsHelper.showMessage('warning', '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED');
            }
        }

        $scope.getNewID = function(){
            $scope.newID--;
            return $scope.newID;
        }

        $scope.searchGoods = function () {
            backSaleOrderService.searchFilter.filters = $scope.filters;
            backSaleOrderService.getGoodsRemaining(
                function (data) {
                    $scope.searchResultGoods = data.data;
                    $scope.totalPage = Math.ceil(data.totalRows / backSaleOrderService.searchFilter.pageSize);
                    $scope.$apply();

                    if (data.totalRows < backSaleOrderService.searchFilter.pageSize) {
                        jQuery('#searchResultGoodsGrid').find('ul').hide();
                    }
                    else {
                        jQuery('#searchResultGoodsGrid').find('ul').show();
                    }
                    searchResultGoodsGrid.updateLayout();
                },
                function (error) {
                    $scope.searchResultGoods = null;
                    $scope.pageIndex = 1;
                    $scope.totalPage = 0;
                    $scope.$apply();
                }
            );
        }

        $scope.AddGoods = function ($event, item) {
            $event.preventDefault();
            if ($scope.editData.data.backOrderDetails == null) $scope.editData.data.backOrderDetails = [];

            if (item.goodsType == 'PRODUCT'){
                item.originSaleOrderDetailID = item.detailID;
            }
            else if (item.goodsType == 'SPAREPART') {
                item.originSaleOrderDetailSparepartID = item.detailID;
            }
            item.backOrderDetailID = $scope.getNewID();
            $scope.editData.data.backOrderDetails.push(item);
            console.log($scope.editData.data.backOrderDetails);
        }

        $scope.RemoveSelectedGoods = function ($event, item) {
            $event.preventDefault();
            var j = -1;
            for (var i = 0; i < $scope.editData.data.backOrderDetails.length; i++) {
                if ($scope.editData.data.backOrderDetails[i].backOrderDetailID == item.backOrderDetailID) {
                    j = i;
                    break;
                }
            }
            if (j >= 0) {
                $scope.editData.data.backOrderDetails.splice(j, 1);
            }
        }


            //quick seach client form
        searchClientTimer = null;
        $scope.quicksearchClient = {
            data: null,
            filters: {
                filters: {
                    searchQuery: ''
                },
                sortedBy: 'ClientNM',
                sortedDirection: 'ASC',
                pageSize: 10,
                pageIndex: 1
            },
            totalPage: 0,

            method: {
                searchClient: function () {
                    backSaleOrderService.quicksearchClient(
                        $scope.quicksearchClient.filters,
                        function (data) {
                            if (data.message.type == 0) {
                                $scope.quicksearchClient.data = data.data;
                                $scope.quicksearchClient.totalPage = Math.ceil(data.totalRows / $scope.quicksearchClient.filters.pageSize);
                                quickSearchClientGrid.updateLayout();
                                $scope.$apply();
                                jQuery('#client-popup').show();
                            }
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                        }
                    );
                }
            },

            event: {
                searchBoxKeyUp: function ($event) {
                    if ($event.keyCode == 13) {
                        $scope.quicksearchClient.event.searchClick();
                    }
                    else if (jQuery('#txtClient').val().length >= 3) {
                            clearTimeout(searchClientTimer);
                            searchClientTimer = setTimeout(
                                function () {
                                    $scope.quicksearchClient.event.searchClick();
                                },
                                500);
                    }
                },

                searchClick: function () {
                    $scope.quicksearchClient.filters.filters.searchQuery = jQuery('#txtClient').val();
                    $scope.quicksearchClient.filters.pageIndex = 1;
                    $scope.quicksearchClient.method.searchClient();
                },

                close: function ($event, clearSearchBox) {
                    jQuery('#client-popup').hide();
                    if (clearSearchBox) {
                        $scope.editData.data.clientID = this.clientID;
                        $scope.editData.data.clientUD = this.clientUD;
                        $scope.editData.data.clientNM = this.clientNM;
                        $scope.editData.data.saleID = this.saleID;
                    }
                    $scope.quicksearchClient.data = null;
                    $event.preventDefault();
                },
                ok: function ($event, id) {
                    $scope.editData.data.clientID = id;
                    jQuery.each($scope.quicksearchClient.data, function () {
                        if (this.clientID == id) {
                            $scope.editData.data.clientUD = this.clientUD;
                            $scope.editData.data.clientNM = this.clientNM;
                            $scope.editData.data.saleID = this.saleID;
                        }
                    });
                    $scope.quicksearchClient.event.close($event, false);
                }
            }
        }

        //init form
        $scope.load();

    }]);

    </script>
}



