@{
    ViewBag.Title = "Search Back SaleOrder";
    ViewBag.Module = "Back SaleOrder";
}

<div class="row">

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-search"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <label>Proforma Invoice No</label>
                            <input class="form-control search-filter" type="text" id="ProformaInvoiceNo" ng-model="filters.ProformaInvoiceNo">
                        </div>
                        <div class="col-sm-2">
                            <label>Client Code</label>
                            <input class="form-control search-filter" type="text" id="ClientUD" ng-model="filters.ClientUD">
                        </div>
                        <div class="col-sm-2">
                            <label>Client Name</label>
                            <input class="form-control search-filter" type="text" id="ClientNM" ng-model="filters.ClientNM">
                        </div>
                        <div class="col-sm-2">
                            <label>Season</label>
                            <select class="form-control search-filter" ng-model="filters.Season" ng-options="season.seasonValue as season.seasonText for season in searchFilterData.seasons">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label>Account Manager</label>
                            <select class="form-control search-filter" ng-model="filters.SaleID" ng-options="item.saleID as item.saleNM for item in searchFilterData.salers">
                                <option value=""></option>
                            </select>
                        </div>
                        @*<div class="col-sm-2">
                                <label>Order Type</label>
                                <select class="form-control search-filter" ng-model="filters.OrderType" ng-options="item.orderTypeValue as item.orderTypeText for item in searchFilterData.orderTypes">
                                    <option value=""></option>
                                </select>
                            </div>*@
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <label>ArticleCode</label>
                            <input class="form-control search-filter" type="text" id="ArticleCode" ng-model="filters.ArticleCode">
                        </div>
                        <div class="col-sm-2">
                            <label>Description</label>
                            <input class="form-control search-filter" type="text" id="Description" ng-model="filters.Description">
                        </div>
                        <div class="col-sm-2">
                            <label>Client ArticleCode</label>
                            <input class="form-control search-filter" type="text" id="ClientArticleCode" ng-model="filters.ClientArticleCode">
                        </div>
                        <div class="col-sm-2">
                            <label>Client ArticleName</label>
                            <input class="form-control search-filter" type="text" id="ClientArticleName" ng-model="filters.ClientArticleName">
                        </div>
                        <div class="col-sm-2">
                            <label>Client OrderNumber</label>
                            <input class="form-control search-filter" type="text" id="ClientOrderNumber" ng-model="filters.ClientOrderNumber">
                        </div>
                        <div class="col-sm-2">
                            <label>Client EANCode</label>
                            <input class="form-control search-filter" type="text" id="ClientEANCode" ng-model="filters.ClientEANCode">
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Sale order search result</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div id="saleOrderGrid" class="tilsoft-table-wrapper">

                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 4200px;">
                                <div style="width: 180px;"></div>
                                <div style="width: 50px;"></div>
                                <div style="width: 130px;" class="sorting" data-colname="orderType">Order Type</div>
                                <div style="width: 90px;" class="sorting" data-colname="season">Season</div>
                                <div style="width: 80px;" class="sorting" data-colname="proformaInvoiceNo">Prof.No TILSOFT</div>
                                <div style="width: 90px;" class="sorting" data-colname="invoiceDateFormated">Invoice Date</div>
                                <div style="width: 100px;" class="sorting" data-colname="trackingStatusNM">Status</div>
                                <div style="width: 100px;" class="sorting" data-colname="ispiReceived">Signed PI Received</div>
                                <div style="width: 180px;" class="sorting" data-colname="piReceiver">Signed PI Received By</div>
                                <div style="width: 90px;" class="sorting" data-colname="piReceivedDateFormated">Date Received</div>
                                <div style="width: 250px;" class="sorting" data-colname="piReceivedRemark">PI Received Remark</div>
                                <div style="width: 90px;" class="sorting" data-colname="ldsFormated">LDS</div>
                                <div style="width: 300px;" class="sorting" data-colname="reference">Reference</div>
                                <div style="width: 300px;" class="sorting" data-colname="conditions">Conditions</div>
                                <div style="width: 90px;" class="sorting" data-colname="deliveryDateFormated">Delivery Date</div>
                                <div style="width: 90px;" class="sorting" data-colname="deliveryDateInternalFormated">Delivery Date Internal</div>
                                <div style="width: 250px;" class="sorting" data-colname="paymentTermNM">Payment Term</div>
                                <div style="width: 250px;" class="sorting" data-colname="paymentTypeNM">Payment Type</div>
                                <div style="width: 250px;" class="sorting" data-colname="deliveryTermNM">Delivery Term</div>
                                <div style="width: 250px;" class="sorting" data-colname="deliveryTypeNM">Delivery Type</div>
                                <div style="width: 150px;" class="sorting" data-colname="creatorName">Created By</div>
                                <div style="width: 90px;" class="sorting" data-colname="createdDateFormated">Created Date</div>
                                <div style="width: 150px;" class="sorting" data-colname="updatorName">Updated By</div>
                                <div style="width: 90px;" class="sorting" data-colname="updatedDateFormated">Updated Date</div>
                                <div class="sorting" data-colname="remark">Remark</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 4200px;">
                                <table>
                                    <tbody ng-repeat="item in data">
                                        <tr>
                                            <td style="width: 180px; text-align: center; ">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "SaleOrder")/{{item.saleOrderID}}/{{item.offerID}}" title="View (Read Only)" target="_blank"><i class="fa fa-folder-open"></i>View</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "SaleOrder")/{{item.saleOrderID}}/{{item.offerID}}" title="Edit" target="_blank"><i class="fa fa-pencil"></i>Edit</a>
                                                }

                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                                {
                                                    <a class="btn btn-danger btn-xs font-11" href="#" ng-click="delete(item.saleOrderID,$event)" title="Delete"><i class="fa fa-times"></i>Del</a>
                                                }
                                                <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "BackSaleOrder")/{{item.backOrderID}}" title="Edit" target="_blank"><i class="fa fa-open"></i>Back Order</a>
                                            </td>
                                            <td style="width: 50px; text-align: center"><input type="checkbox" ng-model="item.isSelected" value="false" /></td>
                                            <td style="width: 130px; ">{{item.orderType}}</td>
                                            <td style="width: 90px;">{{item.season}}</td>
                                            <td style="width: 80px;">{{item.proformaInvoiceNo}}</td>
                                            <td style="width: 90px; ">{{item.invoiceDate}}</td>
                                            <td style="width: 100px;">{{item.trackingStatusNM}}</td>
                                            <td style="width: 100px;" align="center"><input type="checkbox" ng-model="item.ispiReceived" /></td>
                                            <td style="width: 180px;">{{item.piReceiver}}</td>
                                            <td style="width: 90px;">{{item.piReceivedDate}}</td>
                                            <td style="width: 250px;">{{item.piReceivedRemark}}</td>
                                            <td style="width: 90px;">{{item.lds}}</td>
                                            <td style="width: 300px;">{{item.reference}}</td>
                                            <td style="width: 300px;">{{item.conditions}}</td>
                                            <td style="width: 90px;">{{item.deliveryDate}}</td>
                                            <td style="width: 90px;">{{item.deliveryDateInternal}}</td>
                                            <td style="width: 250px;">{{item.paymentTermNM}}</td>
                                            <td style="width: 250px;">{{item.paymentTypeNM}}</td>
                                            <td style="width: 250px;">{{item.deliveryTermNM}}</td>
                                            <td style="width: 250px;">{{item.deliveryTypeNM}}</td>
                                            <td style="width: 150px;">
                                                <a ng-show="(item.createdBy != null && item.creatorName != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.createdBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i> {{item.creatorName}}
                                                </a>
                                                <span ng-show="(item.createdBy != null && item.creatorName == null && item.createUPFullNm != null)">{{item.createUPFullNm}}</span>
                                            </td>
                                            <td style="width: 90px;">{{item.createdDate}}</td>
                                            <td style="width: 150px;">
                                                <a ng-show="(item.updatedBy != null && item.updatorName != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i> {{item.updatorName}}
                                                </a>
                                                <span ng-show="(item.updatedBy != null && item.updatorName == null && item.updateUPFullNm != null)">{{item.updateUPFullNm}}</span>
                                            </td>
                                            <td style="width: 90px;">{{item.updatedDate}}</td>
                                            <td>{{item.remark}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </article>
</div>


@section pagepopup
{
}


@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.search()"><i class=" fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.search()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="@Url.Action("Edit", "BackSaleOrder")/0" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" title="New" target="_blank"><i class="fa fa-file-o"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/backSaleOrder/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script src="~/Angular/app/saleOrder/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">

        jQuery('.search-filter').keypress(function(e){
            if (e.keyCode == 13) {
                var scope = angular.element(jQuery('body')).scope();
                scope.event.search();
            }
        });

        var saleOrderGrid = jQuery('#saleOrderGrid').scrollableTable(
            function(currentPage){
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function(){
                    scope.pageIndex = currentPage;
                    backSaleOrderService.searchFilter.pageIndex = scope.pageIndex;
                    scope.search();
                });
            },
            function(sortedBy, sortedDirection){
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function(){
                    backSaleOrderService.searchFilter.sortedDirection = sortedDirection;
                    scope.pageIndex = 1;
                    backSaleOrderService.searchFilter.pageIndex = scope.pageIndex;
                    backSaleOrderService.searchFilter.sortedBy = sortedBy;
                    scope.search();
                });
            }
        );

        backSaleOrderService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/backsaleorder/';
        backSaleOrderService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        backSaleOrderService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];

        saleOrderService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/saleorder/';
        saleOrderService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var modelApp = angular.module('tilsoftApp', []);
        modelApp.controller('tilsoftController', ['$scope', function ($scope) {
            $scope.data = null;
            $scope.searchFilterData = null;

            $scope.pageIndex = 1;
            $scope.totalPage = 0;

            $scope.filters = {
                Season : '@Frontend.Helper.Common.GetCurrentSeason()',
                ClientUD : '',
                ClientNM : '',
                SaleID : 0,
                ProformaInvoiceNo : '',
                OrderType : '',
                ArticleCode : '',
                Description : '',
                ClientArticleCode : '',
                ClientArticleName : '',
                ClientOrderNumber : '',
                ClientEANCode : '',
            };

            $scope.event = {
                search: function(){
                    backSaleOrderService.searchFilter.filters = $scope.filters;
                    $scope.search();
                }
            }

            $scope.search = function () {
                backSaleOrderService.search(
                    function (data) {
                        $scope.data = data.data;
                        $scope.totalPage = Math.ceil(data.totalRows / backSaleOrderService.searchFilter.pageSize);
                        $scope.$apply();

                        if(data.totalRows < backSaleOrderService.searchFilter.pageSize) {
                            jQuery('#saleOrderGrid').find('ul').hide();
                        }
                        else {
                            jQuery('#saleOrderGrid').find('ul').show();
                        }
                        jQuery('#content').show();
                        saleOrderGrid.updateLayout();
                    },
                    function (error) {
                        $scope.data = null;
                        $scope.pageIndex = 1;
                        $scope.totalPage = 0;
                        $scope.$apply();
                    }
                );
            }

            $scope.getSearchFilter = function () {
                backSaleOrderService.getSearchFilter(
                    function (data) {
                        $scope.searchFilterData = data.data;
                    },
                    function (error) {
                        $scope.searchFilterData = null;
                    }
                );
            }

            $scope.delete = function (id,$event) {
                $event.preventDefault();
                if (confirm('Are you sure ?')) {
                    saleOrderService.delete(id,
                        function (data) {
                            jsHelper.processMessage(data.message);
                            if(data.message.type == 0) {
                                var j = -1;
                                for (var i = 0; i < $scope.data.length; i++) {
                                    if ($scope.data[i].saleOrderID == data.data) {
                                        j = i;
                                        break;
                                    }
                                }
                                if (j >= 0) {
                                    $scope.data.splice(j, 1);
                                }
                                $scope.$apply();
                            }
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                        }
                    );
                }
            }

            $scope.getSearchFilter();
            $scope.search();
        }]);
    </script>
}
