@{

    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var supportServiceRoot = (System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"]);
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create New Material Color";
    }
    else
    {
        ViewBag.Title = "Edit Material Color";
    }

    ViewBag.Module = "Material Color";
}

<form class="row" name="editForm" id="main-form">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-database"></i>
                </span>
                <h2>Material Color Information</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset>
                            <section class="col col-3">
                                <label class="label">Material color code</label>
                                <label class="input">
                                    @*<input type="text" maxlength="3" ng-model="data.materialColorUD" required />*@
                                    <span class="form-control">{{data.materialColorUD}}</span>
                                </label>
                            </section>
                            <section class="col col-9" ng-if="data.total==0 || data.total==null">
                                <label class="label">Material color name</label>
                                <label class="input">
                                    <input type="text" maxlength="255" ng-model="data.materialColorNM" required />
                                </label>
                            </section>
                            <section class="col col-9" ng-if="data.total>0">
                                <label class="label">Material color name</label>
                                <label class="input">
                                    <input type="text" maxlength="255" ng-model="data.materialColorNM" readonly />
                                </label>
                            </section>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="@Url.Action("Index", "MaterialColor")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li class="sparks-info">
            <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" ng-if="data.total==0 || data.total==null" title="Save" ng-click="event.update()"><i class="fa fa-save"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default@(ViewBag.ID==0?" disabled":"") @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" ng-if="data.total==0 || data.total==null" title="Delete" style="color: #ff0000;" ng-click="event.remove(data.materialColorID)"><i class="fa fa-times"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Print"><i class="fa fa-print"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Approve"><i class="fa fa-thumbs-o-up"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default disabled" title="Reset Approval status"><i class="fa fa-thumbs-o-down"></i></a>
        </li>
    </ul>
}

@section pagejs{
    <script type="text/javascript">

        var context = {
            id: @ViewBag.ID,
            backUrl: '@Url.Action("Index", "MaterialColor")',
            refreshUrl: '@Url.Action("Edit", "MaterialColor", new { id = UrlParameter.Optional })/',
            serviceUrl: '@(serviceRoot)/api/materialcolor/',
            token: '@token',
            msgValid: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED' ,
        }
    </script>
    <script type="text/javascript" src="~/Views/MaterialColor/edit.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/MaterialColor/service.js?v=@guid"></script>

}

