@{
    if (ViewBag.ID == 0)
    {
        ViewBag.Title = "Create Document Monitoring";
    }
    else
    {
        ViewBag.Title = "Edit Document Monitoring";
    }

    ViewBag.Module = "Document Monitoring";

}
<form name="editForm">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                <header>
                    <ul class="nav nav-tabs pull-left in">
                        <li class="active">
                            <a data-toggle="tab" href="#hb1"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">General</span> </a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#hb7"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Tracking</span> </a>
                        </li>

                    </ul>
                </header>
                <div>
                    <div class="jarviswidget-editbox"></div>

                    <div class="widget-body">
                        <div class="tab-content">

                            <div class="tab-pane active" id="hb1">

                                <div class="row">
                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Invoice No</label>
                                        <span class="form-control">{{editData.invoiceNo}}</span>
                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>BL No</label>
                                        <span class="form-control">{{editData.blNo}}</span>
                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>ETA 1</label>
                                        <span class="form-control">{{editData.eta}}</span>
                                    </div>
                                    <div class="col-sm-2 m-bottom-15">
                                        <label>ETA 2</label>
                                        <span class="form-control">{{editData.etA2}}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    
                                    <div class="col-sm-2 m-bottom-15">
                                        <label>VN Received Date</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="editData.vnReceivedDate">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>VN Received By</label>
                                        <select class="form-control" ng-model="editData.vnReceivedBy" ng-options="item.userID as item.fullName for item in supportData.users">
                                            <option value=""></option>
                                        </select>
                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Send To Eurofar Date</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="editData.sendToEUDate">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Send To Eurofar By</label>
                                        <select class="form-control" ng-model="editData.sendToEUBy" ng-options="item.userID as item.fullName for item in supportData.users">
                                            <option value=""></option>
                                        </select>
                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Reference</label>
                                        <input type="text" ng-model="editData.reference"  class="form-control"/>
                                    </div>
                                    
                                   
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12 m-bottom-15">
                                        <label>Default Remark</label>
                                        <select class="form-control" ng-model="editData.defaultRemarkID" ng-options="item.defaultRemarkID as item.defaultRemarkNM for item in supportData.defaultRemarks">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 m-bottom-15">
                                        <label>Custom Remark</label>
                                        <input type="text" ng-model="editData.remark" class="form-control" />
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane" id="hb7">
                                <div class="row">
                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Created By</label>
                                        <span class="form-control">
                                            <a ng-if="editData.createdBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{editData.createdBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                <i class="fa fa-user"></i> {{editData.creatorName}}
                                            </a>
                                        </span>
                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Created Date</label>
                                        <span class="form-control">{{editData.createdDate}}</span>
                                    </div>

                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Updated By</label>
                                        <span class="form-control">
                                            <a ng-if="editData.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{editData.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                <i class="fa fa-user"></i> {{editData.updatorName}}
                                            </a>
                                        </span>
                                    </div>
                                    <div class="col-sm-2 m-bottom-15">
                                        <label>Updated Date</label>
                                        <span class="form-control">{{editData.updatedDate}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            
        </article>
    </div>
</form>


@section pagepopup
{
}

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="update($event)"><i class="fa fa-save"></i></a>
        </li>

        <li class="sparks-info">
            <a href="@Url.Action("Index", "DocumentMonitoring")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
        </li>

    </ul>
}

@section pagejs {
    <script src="~/Angular/app/documentMonitoring/service.js?c=@System.Guid.NewGuid().ToString().Replace("-","")"></script>
    <script type="text/javascript">

    documentMonitoringService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/documentmonitoring/';
    documentMonitoringService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
    var clientApp = angular.module('tilsoftApp', []);
    clientApp.controller('tilsoftController', ['$scope', function ($scope) {
        $scope.editData = null;
        $scope.supportData = null;

        $scope.load = function()
        {
            documentMonitoringService.load(@ViewBag.ID,
                function (data) {
                    $scope.editData = data.data;
                    $scope.$apply();

                    jQuery('#content').show();
                    // monitor changes
                    $scope.$watch('documentMonitoring', function() {
                        jQuery('#changeNotification').html('<i class="fa fa-save blink_me"></i>');
                    });
                    //jsHelper.processMessage(data.message);
                },
                function (error) {
                    jsHelper.showMessage('warning', error);

                    $scope.editData = null;
                    $scope.$apply();
                }
            );
        }


        $scope.update = function ($event) {
            $event.preventDefault();

            if($scope.editForm.$valid)
            {
                documentMonitoringService.update(@ViewBag.ID, $scope.editData,
                function (data) {
                    jsHelper.processMessage(data.message);
                    if(data.message.type == 0) {
                        window.location = '@Url.Action("Edit", "DocumentMonitoring", new { id = UrlParameter.Optional })/'+ data.data.documentMonitoringID;
                    }
                },
                    function (error) {
                        jsHelper.showMessage('warning', error);
                    }
                );
            }
            else
            {
                jsHelper.showMessage('warning', '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED');
            }
        }

        $scope.getEditSupport = function () {
            documentMonitoringService.getEditSupport(
                function (data) {
                    $scope.supportData = data.data;
                    $scope.$apply();
                },
                function (error) {
                    $scope.supportData = null;
                    $scope.$apply();
                }
            );
        }

        $scope.getEditSupport();
        //load form
        $scope.load();

    }]);

    </script>
}



