@{
    ViewBag.Title = "Search document monitoring";
    ViewBag.Module = "Document Monitoring";
}

<div class="row">

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-search"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="row">

                        <div class="col-sm-2">
                            <label>BL No</label>
                            <input class="form-control search-filter" type="text" id="BLNo" ng-model="filters.BLNo">
                        </div>

                        <div class="col-sm-2">
                            <label>Invoice No</label>
                            <input class="form-control search-filter" type="text" id="InvoiceNo" ng-model="filters.InvoiceNo">
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search result</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div id="searchTableContent" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 3000px">
                                <div style="width: 60px;"></div>
                                <div style="width: 150px;" class="sorting" data-colname="invoiceNo">INVOICE NO</div>
                                <div style="width: 200px;" class="sorting" data-colname="factoryInvoiceNo">Factory <br /> Invoice No</div>
                                <div style="width: 150px;" class="sorting" data-colname="blNo">BL No</div>
                                <div style="width: 150px;" class="sorting" data-colname="eta">ETA 1</div>
                                <div style="width: 150px;" class="sorting" data-colname="etA2">ETA 2</div>
                                <div style="width: 150px;" class="sorting" data-colname="etaConfirmerName">ETA1 <br /> Confirmed By</div>
                                <div style="width: 150px;" class="sorting" data-colname="eTA2ConfirmerName">ETA2 <br /> Confirmed By</div>
                                <div style="width: 100px;" class="sorting" data-colname="blFileStatus">Uploaded BL</div>
                                <div style="width: 150px;" class="sorting" data-colname="vnReceiverName">VN <br /> Received By</div>
                                <div style="width: 150px;" class="sorting" data-colname="vnReceivedDate">VN <br /> Received Date</div>
                                <div style="width: 150px;" class="sorting" data-colname="senderToEUName">Send To EU By</div>
                                <div style="width: 150px;" class="sorting" data-colname="sendToEUDate">Send To EU Date</div>
                                <div style="width: 150px;" class="sorting" data-colname="reference">Reference</div>
                                <div style="width: 300px;" class="sorting" data-colname="remark">Remark</div>
                                <div style="width: 150px;" class="sorting" data-colname="creatorName">Created By</div>
                                <div style="width: 150px;" class="sorting" data-colname="createdDate">Created Date</div>
                                <div style="width: 150px;" class="sorting" data-colname="updatorName">Updated By</div>
                                <div class="sorting" data-colname="updatedDate">Updated Date</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 3000px">
                                <table>
                                    <tr ng-repeat="item in data">
                                        <td style="text-align: center; width: 59px;">
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                            {
                                                <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "DocumentMonitoring")/{{item.documentMonitoringID}}" title="View (Read Only) title=" view (read only)"><i class="fa fa-folder-open"></i>View</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "DocumentMonitoring")/{{item.documentMonitoringID}}" title="Edit"><i class="fa fa-pencil"></i>Edit</a>
                                            }
                                        </td>
                                        <td style="width: 150px;">{{item.invoiceNo}}</td>
                                        <td style="width: 200px;">{{item.factoryInvoiceNo}}</td>
                                        <td style="width: 150px;">{{item.blNo}}</td>
                                        <td style="width: 150px; text-align: center">{{item.eta}}</td>
                                        <td style="width: 150px; text-align: center">{{item.etA2}}</td>
                                        <td style="width: 150px;">
                                            <a ng-if="(item.etaConfirmedBy != null && item.etaConfirmerName != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.etaConfirmedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                <i class="fa fa-user"></i> {{item.etaConfirmerName}}
                                            </a>
                                            <span ng-if="(item.etaConfirmedBy != null && item.etaConfirmerName == null && item.etaConfirmerName2 != null)"><i class="fa fa-user"></i> {{item.etaConfirmerName2}}</span>
                                        </td>
                                        <td style="width: 150px;">
                                            <a ng-if="(item.etA2ConfirmedBy != null && item.etA2ConfirmerName != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.etA2ConfirmedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                <i class="fa fa-user"></i> {{item.etA2ConfirmerName}}
                                            </a>
                                            <span ng-if="(item.etA2ConfirmedBy != null && item.etA2ConfirmerName == null && item.etA2ConfirmerName2 != null)"><i class="fa fa-user"></i> {{item.etA2ConfirmerName2}}</span>
                                        </td>
                                        <td style="width: 100px;">{{item.blFileStatus}}</td>
                                        <td style="width: 150px;">
                                            <a ng-if="(item.vnReceivedBy != null && item.vnReceiverName != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.vnReceivedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                <i class="fa fa-user"></i> {{item.vnReceiverName}}
                                            </a>
                                            <span ng-if="(item.vnReceivedBy != null && item.vnReceiverName == null && item.vnReceiverName2 != null)"><i class="fa fa-user"></i> {{item.vnReceiverName2}}</span>
                                        </td>
                                        <td style="width: 150px; text-align: center">{{item.vnReceivedDate}}</td>
                                        <td style="width: 150px;">
                                            <a ng-if="(item.sendToEUBy != null && item.senderToEUName != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.sendToEUBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                <i class="fa fa-user"></i> {{item.senderToEUName}}
                                            </a>
                                            <span ng-if="(item.sendToEUBy != null && item.senderToEUName == null && item.senderToEUName2 != null)"><i class="fa fa-user"></i> {{item.senderToEUName2}}</span>
                                        </td>
                                        <td style="width: 150px; text-align: center">
                                            <div class="input-group">
                                                <input avs-calendar type="text" ng-on-change="event.editStatus(item)" class="form-control" ng-model="item.sendToEUDate" ng-data-source="item.sendToEUDate">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </td>
                                        <td style="width: 150px;">
                                            <input type="text" ng-change="event.editStatus(item)" class="form-control" ng-model="item.reference" />
                                        </td>
                                        <td style="width: 300px;">{{item.remark}}</td>
                                        <td style="width: 150px;">
                                            <a ng-if="(item.createdBy != null && item.creatorName != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.createdBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                <i class="fa fa-user"></i> {{item.creatorName}}
                                            </a>
                                            <span ng-if="(item.createdBy != null && item.creatorName == null && item.creatorName2 != null)"><i class="fa fa-user"></i> {{item.creatorName2}}</span>
                                        </td>
                                        <td style="width: 150px; text-align: center">{{item.createdDate}}</td>
                                        <td style="width: 150px;">
                                            <a ng-if="(item.updatedBy != null && item.updatorName != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                <i class="fa fa-user"></i> {{item.updatorName}}
                                            </a>
                                            <span ng-if="(item.updatedBy != null && item.updatorName == null && item.updatorName2 != null)"><i class="fa fa-user"></i> {{item.updatorName2}}</span>
                                        </td>
                                        <td style="text-align: center">{{item.updatedDate}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </article>
</div>


@section pagepopup
{
}


@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
    </li>
    <li class="sparks-info">
        <a href="#" class="btn btn-default @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current))" title="Save" ng-click="event.quickUpdate($event)"><i class="fa fa-save"></i></a>
    </li>
</ul>
}

@section pagejs {
    <script src="~/Angular/app/documentMonitoring/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jQuery('.search-filter').keypress(function (e) {
            if (e.keyCode == 13) {
                var scope = angular.element(jQuery('body')).scope();
                scope.event.reload();
            }
        });

        var searchResultGrid = jQuery('#searchTableContent').scrollableTable(
            function (currentPage) {
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function () {
                    scope.pageIndex = currentPage;
                    documentMonitoringService.searchFilter.pageIndex = currentPage;
                    scope.event.search();
                });
            },
            function (sortedBy, sortedDirection) {
                var scope = angular.element(jQuery('body')).scope();
                scope.$apply(function () {
                    scope.pageIndex = 1;
                    documentMonitoringService.searchFilter.pageIndex = 1;
                    documentMonitoringService.searchFilter.sortedBy = sortedBy;
                    documentMonitoringService.searchFilter.sortedDirection = sortedDirection;
                    scope.event.search();
                });
            });

        documentMonitoringService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/documentmonitoring/';
        documentMonitoringService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        documentMonitoringService.searchFilter.pageSize = @System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];

        angular.module('tilsoftApp', ['avs-directives'])
            .controller('tilsoftController', ['$scope', function ($scope) {
                // properties
                $scope.data = [];
                $scope.supportData = [];
                $scope.pageIndex = 1;
                $scope.totalPage = 0;
                $scope.filters = {
                    BLNo: '',
                    InvoiceNo: ''
                };

                // events
                $scope.event = {
                    reload: function () {
                        $scope.pageIndex = 1;
                        // clear all value documentMonitoringService
                        documentMonitoringService.searchFilter.pageIndex = 1;
                        documentMonitoringService.searchFilter.sortedBy = 'BLNo';
                        documentMonitoringService.searchFilter.sortedDirection = 'ASC';
                        // call event search
                        $scope.event.search();
                    },
                    search: function () {
                        // set value filters for service
                        documentMonitoringService.searchFilter.filters = $scope.filters;
                        // call method search of service
                        documentMonitoringService.search(
                            function (data) {
                                $scope.data = data.data;
                                $scope.totalPage = Math.ceil(data.totalRows / documentMonitoringService.searchFilter.pageSize);
                                $scope.$apply(); // clear and load data full screen

                                // display paging
                                if (data.totalRows < documentMonitoringService.searchFilter.pageSize) {
                                    jQuery('#searchTableContent').find('ul').hide();
                                } else {
                                    jQuery('#searchTableContent').find('ul').show();
                                }

                                jQuery('#content').show();

                                searchResultGrid.updateLayout();
                            },
                            function (error) {
                                $scope.data = [];
                                $scope.totalPage = 0;
                                $scope.pageIndex = 1;
                                $scope.$apply();
                            })
                    },

                    quickUpdate: function ($event) {
                        debugger;
                        $event.preventDefault();
                        documentMonitoringService.quickupdate(
                            $scope.data,
                            function (data) {
                                jsHelper.processMessage(data.message);
                                if (data.message.type == 0) {

                                }
                            },
                            function (error) {
                                jsHelper.showMessage('warning', error);
                            }
                        );
                    },

                    editStatus: function (item) {
                        item.isEdit = 1;
                    }
                }

                $scope.event.reload();
            }]);
    </script>
}
