@{
    ViewBag.Icon = "fa-pencil-square-o";
    ViewBag.Title = "View booking";

    string userManualUrl = string.Empty;
    if (System.IO.File.Exists(Server.MapPath("~/UserManual/" + ViewBag.ModuleCode + ".pdf")))
    {
        userManualUrl = "/UserManual/" + ViewBag.ModuleCode + ".pdf";
    }
}

<style>
    .custom-pagination {
        display: none;
    }
</style>

<form class="row" name="editForm" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGeneral"> <span class="hidden-mobile hidden-tablet"> General Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabBL"> <span class="hidden-mobile hidden-tablet"> B/L Information </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabContainer"> <span class="hidden-mobile hidden-tablet"> Container Detail </span> </a>
                    </li>
                </ul>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabGeneral">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Booking Code</label>
                                            <label class="input">
                                                <span class="form-control">{{data.bookingUD}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Confirmation No</label>
                                            <label class="input">
                                                <span class="form-control">{{data.confirmationNo}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Booking Date</label>
                                            <label class="input">
                                                <span class="form-control">{{data.bookingDate}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Season</label>
                                            <label class="input">
                                                <span class="form-control">{{data.season}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Client</label>
                                            <label class="input">
                                                <span class="form-control">{{data.clientUD}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <section>
                                                <label class="label">Supplier</label>
                                                <label class="input">
                                                    <span class="form-control">{{data.supplierNM}}</span>
                                                </label>
                                            </section>
                                            <section>
                                                <label class="label">Shipper</label>
                                                <label class="input">
                                                    <span class="form-control" ng-bind-html="method.formatRemark(data.shipperInfo)"></span>
                                                </label>
                                            </section>
                                            <section>
                                                <label class="label">Notified Party 1</label>
                                                <label class="input">
                                                    <span class="form-control" ng-bind-html="method.formatRemark(data.notifyParty1Info)"></span>
                                                </label>
                                            </section>
                                            <section>
                                                <label class="label">Notified Party 2</label>
                                                <label class="input">
                                                    <span class="form-control" ng-bind-html="method.formatRemark(data.notifyParty2Info)"></span>
                                                </label>
                                            </section>
                                        </section>
                                        <section class="col col-6">
                                            <section>
                                                <label class="label">Forwarder</label>
                                                <label class="input">
                                                    <span class="form-control">{{data.forwarderNM}}</span>
                                                </label>
                                            </section>
                                            <section>
                                                <label class="label">Forwarder Info</label>
                                                <label class="input">
                                                    <span class="form-control" ng-bind-html="method.formatRemark(data.forwarderInfo)"></span>
                                                </label>
                                            </section>
                                            <section>
                                                <label class="label">Consignee</label>
                                                <label class="input">
                                                    <span class="form-control" ng-bind-html="method.formatRemark(data.consigneeInfo)"></span>
                                                </label>
                                            </section>
                                            <section>
                                                <label class="label">&nbsp;</label>
                                                <div class="note" ng-if="data.updatorName"><strong>Updated By</strong>: {{data.updatorName}} on {{data.updatedDate}}</div>
                                                <div class="note" ng-if="data.confirmerName"><strong>Confirmed By</strong>: {{data.confirmerName}} on {{data.confirmedDate}}</div>
                                            </section>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabBL">
                            <div class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">B/L</label>
                                            <label class="input">
                                                <span class="form-control">{{data.blNo}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-9">
                                            <label class="label">
                                                BL File
                                            </label>
                                            <label class="input">
                                                <span class="form-control">
                                                    {{data.friendlyName}}
                                                    <div style="position: absolute; right: 5px; top: 5px;">
                                                        <a ng-disabled="!data.fileLocation" href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="event.downloadFile()">Download</a>
                                                    </div>
                                                </span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Feeder</label>
                                            <label class="input">
                                                <span class="form-control">{{data.feeder}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Vessel</label>
                                            <label class="input">
                                                <span class="form-control">{{data.vessel}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Cut off Date</label>
                                            <label class="input">
                                                <span class="form-control">{{data.cutOffDate}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Shipped Date</label>
                                            <label class="input">
                                                <span class="form-control">{{data.shipedDate}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">ETD</label>
                                            <label class="input">
                                                <span class="form-control">{{data.etd}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Port of Loading</label>
                                            <label class="input">
                                                <span class="form-control">{{data.poLname}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">Place of Receipt</label>
                                            <label class="input">
                                                <span class="form-control">{{data.placeOfReceipt}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">ETA</label>
                                            <label class="input">
                                                <span class="form-control">{{data.eta}}</span>
                                            </label>
                                            <div class="note" ng-if="data.etaConfirmerName">Confirmed by {{data.etaConfirmerName}} on {{data.etaConfirmedDate}}</div>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Port of Discharge</label>
                                            <label class="input">
                                                <span class="form-control">{{data.podName}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">Place of Delivery</label>
                                            <label class="input">
                                                <span class="form-control">{{data.placeOfDelivery}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">ETA 2</label>
                                            <label class="input">
                                                <span class="form-control">{{data.etA2}}</span>
                                            </label>
                                            <div class="note" ng-if="data.etA2ConfirmerName">Confirmed by {{data.etA2ConfirmerName}} on {{data.etA2ConfirmedDate}}</div>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Movement Term</label>
                                            <label class="input">
                                                <span class="form-control">{{data.movementTermNM}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Ocean Freight</label>
                                            <label class="input">
                                                <span class="form-control">{{data.oceanFreightNM}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Delivery Term</label>
                                            <label class="input">
                                                <span class="form-control">{{data.deliveryTermNM}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">KGs</label>
                                            <label class="input">
                                                <span class="form-control">{{data.kGs}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">PKGs</label>
                                            <label class="input">
                                                <span class="form-control">{{data.pkGs}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">CBMs</label>
                                            <label class="input">
                                                <span class="form-control">{{data.cbMs}}</span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Original B/L</label>
                                            <label class="input">
                                                <span class="form-control">{{data.originalBL}}</span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Shipping Mark</label>
                                            <label class="input">
                                                <span class="form-control" ng-bind-html="method.formatRemark(data.shippingMark)"></span>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">Description of Goods</label>
                                            <label class="input">
                                                <span class="form-control" ng-bind-html="method.formatRemark(data.descriptionOfGoods)"></span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabContainer">
                            <div id="grdLoadingPlan" class="tilsoft-table-wrapper">
                                <div class="tilsoft-table">
                                    <div class="tilsoft-table-header" style="width: 600px;">
                                        <div style="width: 150px">Loading Ref#</div>
                                        <div style="width: 150px">Container No</div>
                                        <div style="width: 150px">Seal No</div>
                                        <div style="width: 150px">Type</div>
                                        <div></div>
                                    </div>
                                    <div class="tilsoft-table-body" style="width: 600px;">
                                        <table>
                                            <tr ng-repeat="item in data.loadingPlans">
                                                <td style="width: 150px; text-align: center;">{{item.loadingPlanUD}}</td>
                                                <td style="width: 150px; text-align: center;">{{item.containerNo}}</td>
                                                <td style="width: 120px; text-align: center;">{{item.sealNo}}</td>
                                                <td style="text-align: center;">{{item.containerTypeNM}}</td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="@Url.Action("Index", "Booking2Mng")" class="btn btn-default" title="Go Back"><i class="fa fa-arrow-left"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0)" class="btn btn-default" title="Print" ng-click="event.print()"><i class="fa fa-print"></i></a>
    </li>

    @if (!string.IsNullOrEmpty(userManualUrl))
    {
        <li class="sparks-info">
            <a target="_blank" href="@userManualUrl" class="btn btn-default" title="Help"><i class="fa fa-info"></i></a>
        </li>
    }
</ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/booking2/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        jsonService.supportServiceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        var context = {
            id: @ViewBag.ID,
            backUrl: '@Url.Action("Index", "Booking2Mng")',
            editTitle: '@ViewBag.Title',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'
        }
    </script>
    <script src="~/Angular/app/booking2Mng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/booking2Mng/view.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

